[2016-03-30 00:34] karlcz commented on #268
It turns out I need to get some new client-side settings from Kyle for this.

[2016-03-30 04:59] RFSH commented on #237
You can check out what I created so far in here: [http://analytics.arefsh.me/](http://analytics.arefsh.me/)
[RFSH/google-analytics](https://github.com/RFSH/google-analytics) is its respective repository.

I wrote a php function to authenticate users using a key that I got from google API. It is connected to my own google analytics account.

Sometime it doesn't load the charts properly, which curre

[2016-03-30 19:21] mikedarcy opened #269 "Provide a mechanism to override the navbar-brand text in ermheader.html"
Similar to the **headTitle** parameter in chaise-config.js, it would be great to have a parameter to control the text that appears in the bootstrap navbar.  It is currently hardcoded to Chaise in ermheader.html.

There is already code to override the navbar link, so adding some to override the text shouldn't be too tough and will be very useful for further customization of deployments.

[2016-03-30 19:51] crisaless commented on #226
new article by NNG Group specifically about writing interface style guides - will study this:
https://www.nngroup.com/articles/front-end-style-guides/

[2016-03-30 20:41] robes commented on #226
maybe we should approach the style guide a little more tactical. for instance, we have decided to use bootstrap so that encodes much of these style decision. what we need to know now is, which bootstrap container should we use -- i.e., use container vs container-fluid. should tables use the default (bootstrap) table style or should they use table-striped or table-bordered etc? and for fonts etc, i

[2016-03-30 21:26] svoinea commented on #269
I think this is currently done through the 'customCSS' parameter. For example, in RBK, we have:

    customCSS: '/assets/css/chaise.css',

and in the /var/www/html/assets/css directory, the content of the chaise.css file is:

/* Customization styles for Chaise/Image Annotation ap */

.navbar-brand span {
  display: none;
}

.navbar-brand:after {
  content: 'RBK';
}

.navbar-inverse {
  background-

[2016-03-30 21:31] mikedarcy commented on #269
OK, I will try this out and if it works I'll close the issue.  Having this example in the configuration section of the docs would be helpful.

[2016-03-30 22:26] crisaless commented on #269
This does work - but @hongsudt  and I were recently discussing that it would be more straightforward and consistent if you could use a config variable like "headTitle" instead of the css workaround. So it's not urgent, but something we should do at some point.

[2016-03-30 22:38] robes commented on #269
Right. I would agree with that. Changing the CSS is still an overwrite rather than a configuration change.

[2016-03-30 22:53] robes commented on #269
Sorry, my last comment wasn't correct. I didn't notice that this was a `customCSS` field, so its not overwriting any standard file.

[2016-03-30 23:43] karlcz commented on #229
I think work on this issue can start with some caveats.  The `client` field of the `/ermrest/authn/session` resource is now an object and the previous string value is in the `id` field of that object.  This is the value that needs to be stored to implement real ownership decisions on a table row.

With a future change to the server, the `display_name` field will be important to display in the UI a

[2016-03-31 00:05] ljpearlman commented on #229
The client field has `id` (always) and `display_name` (generally the username the user typed to log in), `full_name`, and `email` where available, so you can start using them. These are all typically set, but it's always going to be possible that we'll be missing display_name, full_name, or email for a user. So you should test for each one and have some plan for dealing with its absence (which cou

[2016-03-31 00:10] svoinea commented on #269
Added the navbarBrandText parameter in chaise_config.js. It replaces the hard coded "Chaise" that appears in the bootstrap navbar.

[2016-03-31 00:29] karlcz commented on #229
@ljpearlman @robes @howdyjessie I guess if all these values may be sparsely populated, we should  change the author column in RBK tables to store a JSON blob containing the whole session.client field including whatever sparse values are available? I'd actually use the `jsonb` type in Postgres if we go this way...

[2016-03-31 00:50] robes commented on #229
makes sense to me.

[2016-03-31 00:57] ljpearlman commented on #229
The user table in the webauthn schema (in the branch) has columns for all these values. I'd be happier if we could use those instead of duplicating the information everywhere. I know it's different databases, but maybe we could use postgres's foreign db functionality and set up views that way.

I don't feel *that* strongly about it; I just hate having multiple copies of the same data.

[2016-04-01 00:05] hongsudt commented on #269
@mikedarcy Can you review this issue, and if it is sufficient, please close it.

[2016-04-01 01:18] hongsudt commented on #255
Since we already have a globus logout page, I don't see any value in adding our own chaise logout page with the same content. It adds one more click and more confusion. So I am proposing get rid of the chaise logout page. Then on the globus logout, change the last sentence to
[code]
Here should point to the project data browser landing page. According to @ljpearlman this page has to be a static pa

[2016-04-01 15:57] svoinea commented on #255
This is already done on dev.isrd.isi.edu.

The Globus logout shows now:

Continue to Chaise

And if you click on Chaise, it goes to the /chaise/search page. Therefore, the Chaise logout page is bypassed.

What you need to do, is to specify these things in the ermrest_config.json file.

For example, in dev.isrd.isi.edu, we have:

      "globus_auth_logout_redirect_path": "/chaise/search",
      "gl

[2016-04-01 18:18] jrchudy commented on #49
I modified the script to take in 6 arguments per @robes's suggestion. When running the script, the user needs to specify the file to output stdout to. The readme has been updated to reflect this as well.

[2016-04-01 18:44] karlcz commented on #208
One thing I'm afraid we might have lost in all this... what is going to happen on idle session timeout?  It seems pretty absurd if it bounces through login and restarts a webauthn session based on existing globus session.  But is there anything else we can do...? @ljpearlman

[2016-04-01 23:24] mikedarcy commented on #269
This doesn't seem to work on Chrome (does work on FF).  Also, it shows the default hard-coded value of "Chaise" before the swapping code modifies the DOM.  This has the effect of being just a flash on systems where the page load is quick (because the facet list is short), but when the facet list is long the default string is clearly visible while the page renders.

[2016-04-01 23:29] mikedarcy commented on #269
We also really need a way to add an image to the navbarBrand, e.g.:

`              <a class="navbar-brand" href="#">
                <img src="../images/bdds_logo_final.png">
                <span>BDDS Data Explorer</span>
              </a>
`
If both this and the text swap can be done via chaise-config.js, great.  If it has to be done via CSS that is acceptable.  I can file a separate issue for

[2016-04-02 00:24] hongsudt commented on #255
Can you update the ermrest_config.json for the following projects?
* gpcr
[code]
* rbk
[code]
* facebase
[code]

[2016-04-02 01:06] karlcz commented on #268
At this rate I'm not sure we're going to get any access prior to the new whitelist rolling out next week.

[2016-04-02 01:09] karlcz commented on #208
We observed a failure mode where the webauthn DELETE returns 404 and the chaise logout fails. We probably need to include post-logout advice with the 404 as well and still send the user to the Globus logout even if we don't have a current session for the user in webauthn.  Is this going to be possible @ljpearlman ?

[2016-04-02 01:28] mikedarcy commented on #269
Serban fixed this so it works on Chrome and most likely other browsers too.

I added a way to override the navbar image using the same mechanism.  Set "navbarBrandImage" in chaise-config.js to a webroot relative path (similar to "customCSS") and it works fine.  You will likely need to use "customCSS" as well, in order to size the image properly if it needs to be scaled.

Here's what I did,YMMV:

`

[2016-04-02 01:28] #269 closed

[2016-04-04 17:12] hongsudt commented on #246
@robes I assume these tests are unit testing..

[2016-04-04 22:37] robes commented on #49
i made one minor fix, to include the trailing `/` here `...record/#...`

[2016-04-04 22:37] #49 closed

[2016-04-04 22:52] shinyichen commented on #218
Is this already fixed? I got directed to the login page. @bugacov @hongsudt

[2016-04-04 23:48] karlcz commented on #208
I think we decided to close this and address further improvements to logout flow in new issues

[2016-04-04 23:48] #208 closed

[2016-04-04 23:50] hongsudt opened #270 "change the wording for the sorted dropdown suggested text"
instead of "select a filter", change it to "select an attribute".
![screenshot from 2016-04-04 16-50-32](https://cloud.githubusercontent.com/assets/414732/14267435/44044c54-fa85-11e5-8fc2-4fdc8c53df97.png)

[2016-04-05 00:29] howdyjessie commented on #243
Oh my bad, I did this already and forgot to close it. The rewritten filters are now located in chaise/common

[2016-04-05 00:30] #243 closed

[2016-04-06 00:21] karlcz commented on #229
@ljpearlman I don't think we want to add the complexity of FDWs right now. Also, I think this author column is more like provenance and so it is OK to denormalize the author info at time of row insertion. At least that's how I will sleep at night after we do this... :-)

[2016-04-06 00:43] robes commented on #229
+1  That’s how I was thinking of it too — as provenance related data.

On 4/5/16, 5:21 PM, "Karl Czajkowski" <notifications@github.com<mailto:notifications@github.com>> wrote:

Also, I think this author column is more like provenance and so it is OK to denormalize the author info at time of row insertion.

[2016-04-06 19:16] crisaless commented on #262
lines 22 through 261 should do it (from `` to the last closing `<div> `tag)

[2016-04-06 21:44] svoinea commented on #255
Currently, this works as expected on rbk-dev and facebase-dev which are doing hourly updates.

However, gpcr-dev is not doing hourly updates for chaise:

Date: Wed,  6 Apr 2016 14:01:08 -0700 (PDT)

/etc/cron.hourly/update-webstack.sh:

U	record/assets/stylesheets/app.css
Pull is not possible because you have unmerged files.
Please, fix them up in the work tree, and then use 'git add/rm <file>'
as

[2016-04-06 22:22] #264 closed

[2016-04-06 22:22] crisaless commented on #262
I've updated the facebase-www version so we'll see how it looks on dev after the next update

[2016-04-06 22:52] shinyichen commented on #225
This issue was used as a personal reminder, it's no longer used.

[2016-04-06 22:52] #225 closed

[2016-04-07 00:22] hongsudt opened #271 "Add paging feature to the recordset app"

[2016-04-07 00:24] hongsudt opened #272 "Customizable Page Size for Recordset App"

[2016-04-07 00:26] hongsudt opened #273 "Add permalink feature to recordset app"

[2016-04-07 00:27] hongsudt opened #274 "Add recordset summary to recordset app"

[2016-04-07 01:27] hongsudt opened #275 "handle the error case when the status is 0 and there is no response text"
Jill reported this problem when she tried to change the search criteria. See her description and screen capture in the document below.

[RBX error message 031716.pdf](https://github.com/informatics-isi-edu/chaise/files/207581/RBX.error.message.031716.pdf)

@svoinea suspected that this was due to the slow network.

[2016-04-07 01:29] crisaless commented on #275
note this error was originally reported on March 17th (notification was lost in my Microsoft Clutter folder) so it may no longer be an issue

[2016-04-07 01:38] hongsudt commented on #275
It is an error handling issue.. Until we handle it properly, there will be chances of recurrence.

[2016-04-07 01:58] robes commented on #275
So there are two aspects to this issue:
1- the error
2- how we handle the error

For 1, does this really look like a slow network problem? I'm curious to understand more of such an error if that is really the case. I.e., what part of the stack generates such an error - the browser, angular, etc? Just to rule this out, could this have been due to the slash encoding configuration that was fixed?

Fo

[2016-04-07 02:27] karlcz commented on #275
If I'm not confused, status 0 in ajax usually means a communication
error, i.e. TCP connection error or timeout.

Communication errors are *always* a possibility and we need to deal
with it by retrying requests (and thereby connections) and degrading
gracefully and functioning without the resource(s) we have yet to
retrieve.

[2016-04-07 15:51] robes commented on #275
Right. Need error handling for this in chaise. (And even if we do add retry logic built into ermrestjs, this is still an error that chaise apps will see eventually even after retries.)

[2016-04-07 16:58] karlcz commented on #275
Also, our apps need to understand it is async and there is a period of time where you don't know if it is slow, failing, or lost. On communicatin errors, you don't even know whether the request got processed on the server or not. (It might have gone either way and the response got lost on the network. This matters most for PUT/POST/DELETE where an attempt to "retry" is going to have to understand

[2016-04-07 18:18] jrchudy opened #276 "Chaise search redirects to a page that shows a Login Object"
When navigating to `https://dev.rebuildingakidney.org/chaise/search`, if the user is logged in the user is redirected to a page that shows a JSON object of the user's session.

`{"attributes": [], "seconds_remaining": 1541, "since": "2016-04-06 17:07:50.130619-07:00", "expires": "2016-04-06 17:37:50.130619-07:00", "client": {"display_name": "jchudy", "id": "jchudy", "full_name": "Joshua Chudy", "e

[2016-04-07 22:27] robes opened #277 "Error: link is null"
The record page is throwing an error "link is null".

Error can be reproduced here:
https://dev.facebase.org/data/record/#1/legacy:dataset/id=2765

It is line 601 of the app.js (that was deployed there).

[code]

The offending line is `link = link.replace(...` it appears that `uriPattern` must be null from what I gather. There are a couple things that could be happening:

1- the use of the annotat

[2016-04-08 04:58] ljpearlman commented on #276
The commit I pushed tonight may help with this. Please let me know if you see this behavior again.

[2016-04-08 15:47] shinyichen commented on #277
This is because my code assumes the payload for `tag:misd.isi.edu,2015:url` is an array in order to support multiple presentations for a table (embed and download). However the documentation does say the payload could be null, empty object, object or array.
https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2015-url

[2016-04-08 15:50] shinyichen commented on #273
Note: Need to support @sort(column) in the url.

[2016-04-08 15:51] shinyichen commented on #274
This is tied to the paging feature #271, should be implemented when we have paging.

[2016-04-08 16:01] shinyichen opened #278 "Recordset app to use column header link for sorting"
Previous implementation for sort by column was using a drop down filter. We want to improve the usability by making column header clickable for sorting.

[2016-04-08 17:37] hongsudt opened #279 "A common error handling mechaism across Chaise apps"
Common errors:
* invalid users (e.g. failed authentication).
* session expires. In this case, direct the user to the login page.
* network error
* status 0 and no response text (#275). In this case, attempt a few retry and report an error if the failure is persistent.

From@robes
We should look at how to address this at a couple levels or more.
* common error handling at the api level (ermrestjs)

[2016-04-08 17:40] robes commented on #279
We should look at how to address this at a couple levels or more.

1. common error handling at the api level (ermrestjs)
2. common error handling at the app level (common chaise functions)
3. common error presentation, logging, etc. at the app level

[2016-04-08 21:32] jrchudy opened #280 "403 error popup should be handled more gracefully"
When the user logs in and has invalid permissions, a 403 error is displayed in a dialog box when the user navigates to `https://dev.rebuildingakidney.org/chaise/search/`. After closing the dialog box, the search page continues to spin the loading wheel as if something is going on in the background.

![image](https://cloud.githubusercontent.com/assets/2932600/14398109/7aef4e6c-fd96-11e5-820a-11c89c

[2016-04-08 23:18] shinyichen commented on #279
I think this needs to be moved to ermrestjs, for my part.

[2016-04-09 00:35] karlcz commented on #163
Setting this to current milestone since it seems to be an ongoing investigation.

[2016-04-11 17:00] crisaless opened #282 "user can't download data even if logged in"
This is a bug that pops up every now and then for Facebase: https://github.com/informatics-isi-edu/facebase-project/issues/104

We haven't figured out how to reproduce it and sometimes it resolves on its own.

* User is logged in
* User tries to download data file
* User gets Authentication error saying they need to be logged in to download data.

[2016-04-11 17:36] karlcz commented on #268
This is done and you login via the new globus_auth method now.  I think this exposes a viewer app problem now, where its ACLs need to be checked against the new session attributes content.

[2016-04-11 20:56] bugacov commented on #218
i think this has been fixed long ago.

[2016-04-11 20:56] #218 closed

[2016-04-11 21:03] #240 closed

[2016-04-11 21:42] shinyichen commented on #277
@bugacov also you need to update the schema where 'pattern' is used in tag:misd.isi.edu,2015:url payload. It needs to be changed to 'url'.

[2016-04-11 22:27] karlcz commented on #268
Reassigning to @hongsudt for review of RBK functions.  You might also want @ljpearlman to review the specifics of the webauthn config on the backend and in the provisioning recipe.

[2016-04-12 16:58] jrchudy commented on #229
Looking at the session response object, the client object does indeed have a display_name, a full_name, and an email. The display_name is the globus username, *@globus.org (at least for my user), and full name looks like it's the full name set in globus.

Do we want to prioritize showing the full_name field before display_name or stay with the priority of display_name, full_name, then email?

[2016-04-12 17:05] karlcz commented on #229
Yes I think display_name comes first.  It shows *how* you logged in (via which provider) in a way that may be significant with all the weird account-linking variations we've seen.

I even wonder if email should be preferred over full name, but I guess either of them can be poorly correlated with the login identity provider that was chosen.  @ljpearlman ?

[2016-04-13 19:31] #236 closed

[2016-04-13 19:31] #277 closed

[2016-04-13 19:42] hongsudt commented on #276
@jrchudy please check whether the problem persists..

[2016-04-13 21:14] svoinea commented on #270
The issue is already fixed and might be viewed on rbk-dev.

[2016-04-13 22:05] robes commented on #278
is this change in a branch? i deployed master but don't see the change you describe.

[2016-04-13 22:33] svoinea commented on #282
Based on my tests, the error occurs when the hostname from the URL is just **facebase.org**.

It works as expected when the hostname is specified as www.facebase.org.

[2016-04-13 22:36] crisaless commented on #282
This is being fixed in https://github.com/informatics-isi-edu/facebase-project/issues/105 via new .htaccess rules

[2016-04-14 01:14] jrchudy opened #286 "Creating an annotation adds comments to it in viewer"
When you go to an image in the viewer app that already has an annotation with comments on it and create a new annotation, the comments from that other annotation show up as comments for the new annotation too.

When the user refreshes the page, the comments show up only under the appropriate annotation.

Note: This was found while I was a `kidney-annotator`.

[2016-04-14 01:35] jrchudy commented on #276
This issue is no longer happening. Upon logging in to the application with my globus account it stays on the search page. I created another globus account for testing today and only had the `kidney-user` group associated with it, and did not see the issue either.

[2016-04-14 01:35] #276 closed

[2016-04-14 22:13] ljpearlman commented on #255
I just logged into/out of gpcr-dev, and it looks like the logout is working there.

[2016-04-14 22:42] robes commented on #278
Overall its working well. A few minor comments about it:
- would be nice when the cursor hovers over the column header, that it would change to a cursor icon that indicates it is clickable
- would be good if there could be some padding in the column header so that the sort asc/desc icon would not wrap or cause a resize; i think i've seen some suggestions for using a blank icon as a placeholder to

[2016-04-14 22:42] robes commented on #273
tried it and worked for me

[2016-04-14 22:42] #273 closed

[2016-04-14 22:50] ljpearlman commented on #229
`display_name` doesn't always show how the user logged in; it shows the username provided by the provider. The globus_auth provider always returns information (which gets saved by webauthn as `id`, `display_name`, `email`, and `full_name`) associated with the user's _primary_ globus_auth username, regardless of how they authenticated.

If the issue is what to show as provenance information, where

[2016-04-14 22:50] jrchudy commented on #229
I have completed the development for this issue. Assigning to @svoinea for review.

I did some preliminary testing on rbk dev with my globus account as a curator and used a globus testing account as a user and annotator. I verified everything that @carlkesselman laid out in issue [#69](https://github.com/informatics-isi-edu/rbk-project/issues/69).

[2016-04-15 01:33] svoinea commented on #250
Updated the code such that the errors from the search page are displayed inside the page instead of a separated alert window.

Therefore, the spinner is not any more present while an error is detected.

[2016-04-15 17:38] #259 closed

[2016-04-16 01:39] hongsudt commented on #271
Where can we review this feature?  and please assign the reviewer that can review and close this issue.

[2016-04-16 01:43] hongsudt commented on #147
@crisaless do we still have this problem, if not, can we close it?

[2016-04-16 01:45] hongsudt commented on #262
@crisaless can you please assign this to someone that can review the issue?

[2016-04-16 01:46] hongsudt commented on #268
@ljpearlman can you please review the webauthn config and provisioning recipe?

[2016-04-16 01:52] #270 closed

[2016-04-16 01:53] hongsudt commented on #270
this change is now on facebase-dev.

[2016-04-18 17:40] karlcz commented on #144
I updated the issue description because it is about showing unfiltered results.  But, it will still have paging/limited number so it isn't showing "all" results...
@bugacov @hongsudt just a reminder we already have this issue in here from long ago (it came up in a standup again last week)

[2016-04-18 17:43] karlcz commented on #255
This feature doesn't work right when the webauthn session has timed out before the user clicks logout.  It displays the 404 session not found status inside the page rather than accepting 404 as a reasonable status and processing the logout URL embedded in the 404 response's JSON content.

[2016-04-18 19:32] jrchudy opened #287 "Comments applied to wrong annotation"
When the user creates comments on a newly created annotation, the comments are applied to the wrong annotation.

This might be linked to issue #286.

[2016-04-18 20:38] crisaless commented on #147
It's fixed in dev but hasn't been released to staging/production yet.

[2016-04-18 21:51] shinyichen commented on #278
Is the permalink link still necessary if we keep the location bar up-to-date? @robes

[2016-04-18 22:01] robes commented on #278
Yes. We still use the permalink because the browser location bar can’t be trusted to copy from because browsers may encode/decode characters.

[2016-04-18 23:29] svoinea commented on #255
The "session has timed out before the user clicks logout" has been fixed in the commit 985ef66d22aae02835b7f5353fe0e3f31a7fcfab. The user is redirected now to the URL embedded in the ResponseText.

It can be currently tested on rbk-dev.

[2016-04-19 01:12] jrchudy commented on #286
This issue is related to issue #287 and is caused by the same piece of code.

This issue is fixed with the changes that were made to fix issue #287.

[2016-04-19 01:15] jrchudy commented on #287
This issue is fixed with the latest commit made by me. There was a value in the controller that we were using to set the annotation id on comments and that value was not kept up to date.

Assigning to @howdyjessie for review along with issue #286.

[2016-04-19 17:36] hongsudt commented on #213
I think we should allow user to manually edit the date.. For example, the default on rbk is in 2014. If I want to set it to the current year, I would need to do too many clicks.

[2016-04-19 18:22] #286 closed

[2016-04-19 18:23] #287 closed

[2016-04-19 18:30] howdyjessie opened #288 "Allow search based on annotation type"
For example, when annotation type (e.g. "rectangle", "arrow","section of interest") is entered, only annotations associated with that type are displayed in the list

[2016-04-19 20:21] svoinea commented on #250
This is currently fixed on rbk-dev.

[2016-04-19 21:11] svoinea commented on #280
I'm closing it as this is a duplicate of #250

[2016-04-19 21:11] #280 closed

[2016-04-19 22:08] howdyjessie opened #289 "Store section annotations in annotation table"
Instead of the section_annotation table

[2016-04-19 22:16] robes commented on #262
i checked dev.facebase.org. details pages look fine.

[2016-04-19 22:16] #262 closed

[2016-04-19 22:35] hongsudt commented on #106
@robes is this needed for facebase?

[2016-04-19 22:49] hongsudt commented on #237
Will close this for now as we can utilize the default google analytic pages for data analysis.

[2016-04-19 22:49] #237 closed

[2016-04-19 22:57] robes commented on #106
yes

[2016-04-19 23:05] robes opened #290 "Demystify onhashchange function"
We are using some variation of the following callback function for the onhashchange event throughout various apps.

https://github.com/informatics-isi-edu/chaise/blob/b8e1e35a1a55e58f4cc9ca72a0c496c98f5698eb/record/assets/javascripts/app.js#L6-L23

We do not fully understand it:
- like why the `goBack` function expression
- in this particular case, why is it wrapped in a timeout
- i personally, do

[2016-04-19 23:13] hongsudt commented on #288
Issue moved to [informatics-isi-edu/rbk-project #139](https://github.com/informatics-isi-edu/rbk-project/issues/139) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-19 23:13] #288 closed

[2016-04-19 23:13] hongsudt commented on #289
Issue moved to [informatics-isi-edu/rbk-project #140](https://github.com/informatics-isi-edu/rbk-project/issues/140) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-19 23:13] #289 closed

[2016-04-20 01:55] hongsudt opened #291 "Support timestamp data type"
Rbk is forced to use date instead of timestamp since the date widget can't handle the timestamp string format. Maybe we can write a function to convert the timestamp into date format for the widget?

[2016-04-20 17:39] shinyichen commented on #278
Please see latest recordset branch @robes

[2016-04-20 17:42] shinyichen commented on #274
Show total number of records

[2016-04-20 19:10] shinyichen opened #292 "Improve recordset column sort header"
It's not obvious that the column headers are used for sorting. Make it obvious columns can be clicked to sort.

[2016-04-20 19:12] shinyichen opened #293 "Recordset link to records"
Link recordset rows to records in the record app.

[2016-04-20 19:20] shinyichen opened #294 "Recordset app login and logout"
This depends on ermrestjs login/logout
https://github.com/informatics-isi-edu/ermrestjs/issues/28

[2016-04-20 19:26] shinyichen opened #295 "Recordset address bar and history stack"
Update the address bar with user interaction but not keeping the history stack (no back button)

[2016-04-20 21:03] hongsudt opened #296 "Recordset App Tasks"

[2016-04-20 21:10] hongsudt commented on #253
@robes This is no longer the case on rbk-dev. All null values have been converted to 0. Will close the issue.

[2016-04-20 21:10] #253 closed

[2016-04-20 21:12] hongsudt commented on #252
@robes This problem has been solved on rbk-dev. @svoinea is your solution only applied to rbk specific column, or can it be generalize to support other use cases?

[2016-04-20 21:18] hongsudt commented on #142
@robes who should work on this?

[2016-04-20 21:19] karlcz commented on #255
OK I manually tested by logging in, removing my session from the DB to emulate an exipration, then clicking logout.  The server responded 404 and the GUI sent us to the /chaise/logout page.

[2016-04-20 21:19] #255 closed

[2016-04-20 21:21] hongsudt commented on #140
@robes do we still need to work on this?

[2016-04-20 21:23] hongsudt commented on #68
@crisaless is this done? Can we close this?

[2016-04-20 21:24] hongsudt commented on #46
Maybe we can address this in recordset app.

[2016-04-20 21:25] hongsudt commented on #45
this should eventually be included in the recordset app.

[2016-04-20 21:25] svoinea commented on #252
The solution is applicable to any cases. You need an additional column with the ranked values, and through an annotation you specify the column to be sorted by it.

[2016-04-20 21:26] crisaless commented on #68
We now have a video for FaceBase that has a strong focus on Chaise - although it is not referred to as such. @carlkesselman  - does this suffice for now or do you really want a chaise branded video?

[2016-04-20 21:27] crisaless commented on #68
Here's the latest version of the facebase video - there will be one more iteration and then it will go public (it's set to unlisted for now)

https://www.youtube.com/watch?v=5NUQyV3FSfM

[2016-04-20 22:10] robes commented on #142
anyone could. i don't think it requires deep knowledge of record page so any front end dev could handle it.

[2016-04-20 22:13] robes commented on #140
i don't think so. i'll close it.

[2016-04-20 22:13] #140 closed

[2016-04-20 22:17] karlcz commented on #293
I think we should be careful to consider how we want cross-record navigation to work and design a consistent UX for this in all apps.

I don't think it should default to the whole row being a link to that record, because rows can have foreign keys in them and these ought to allow navigation to the referenced entity rather than the referencing entity...

[2016-04-20 22:27] karlcz commented on #294
Hopefully this work will yield a reusable page or nav-bar component we can reuse consistently in record, viewer, and other future apps...?  Also, I think this will overlap with the site-customization issues we've been trying to sort out in other existing apps.  We need a way for a deployed server to have Chaise and static site (i.e. Jekyll) configured with integrated branding.

[2016-04-20 22:45] karlcz commented on #290
By the way is this code the reason we see double-reloads on some apps?  It seems to me we would need to manage more state if we want to catch unexpected changes to the fragment ID (such as link navigation, history stack, etc.) but not also reload every time we intentionally change the fragment ID to reflect a new bookmarkable state...

It seems like we should store the last-rendered fragment ID so

[2016-04-20 22:53] robes commented on #290
I could be the source of that double load. And, yes, I was thinking that too, that we should keep some state.

Also, based on this morning’s conversation, we should really revisit the location and history changes we are making in the apps. If we really just ‘replace’ the history (I think that’s the name of the call) instead of ‘assign’ (add to the history stack), then a lot this tracking should be

[2016-04-20 22:57] robes commented on #294
@karlcz: right, in fact, I was thinking we should factor out all of the `index.html.in` templates into a single template (see #266) and then we include common parts like login/logout so that they are always consistent across apps.

[2016-04-20 23:01] hongsudt opened #297 "record app: support navigatable foreign key natively"
When a column of currently displayed table is a key to another table, the record app should automatically create a url that is linked to another record page of the referenced table.

The table annotation of the referenced table can be used to specify the title column to be used as a reference text in the display.

See the diagram below:
While displaying content of a construct, under the "target" c

[2016-04-21 00:45] hongsudt commented on #252
@svoinea  What's the annotation syntax for this? Can you give the rbk example?
@bugacov we can apply this to facebase.

[2016-04-21 00:56] robes commented on #278
This is still putting the sort order into the history. I thought from this morning we wanted to just replace the history so that we don't grow the history stack? I'll wait to close this and reassign.

[2016-04-21 00:57] robes commented on #271
This seems to be working well, but did we want to update the permalink and the window location (replacing not adding to the window history) before considering this done? That was my impression from this morning's meeting.

[2016-04-21 00:58] robes commented on #271
Oh, also I can imaging we will want some tweaks to the UX, but I suggest that once the above is resolved  we mark it done and then have a broader review of UX as a group. That's kind of a general comment that applies to other chaise components not just this one.

[2016-04-21 01:06] robes commented on #297
@hongsudt: What behavior should we have when that foreign key is to a vocabulary or domain table? Do we want to drill down to see a record page for a vocabulary term. So far we have this behavior from the record page (take facebase for instance) from links to vocabulary. No one seems to get it when they go to those terms. It just confuses them. In those cases, we think that it makes more sense to

[2016-04-21 01:19] hongsudt commented on #297
That's really a good question. In the case of vocabulary, I think it should just display the title value as static text.  @robes I am not sure what you meant by the domain table, but supporting the case that provide a url to the search page using the title as a keyword search also makes sense.

Is there a way to annotate the foreign key column to indicate which of the three options to use?

[2016-04-21 01:20] svoinea commented on #252
The ```annotation_uri``` is ```description``` with the key ```rank```.

Example of usage:

 table_name | schema_name |   column_name    | annotation_uri |             annotation_value
------------+-------------+------------------+----------------+-------------------------------------------
  age_stage  | rbk         | term             | description    | {"rank": "weeks"}

In my case, the ```age_st

[2016-04-21 01:53] karlcz commented on #297
I think we'll need a second level of heuristics (for default) and
annotations (for override) to recognize and navigate vocabularies and
association tables differently from plain referenced entities.  Let's
think about this holistically...

A problem with vocabularies is that you can think of terms as hubs in
a hub-and-spoke reference pattern. Without domain knowledge, I'm not
sure we'd know which

[2016-04-21 15:04] carlkesselman commented on #297
I agree that we need to treat vocabulaires specially.  It is essential that users interactions with terms/vocabuaries be as streamlined as possible.

I have no idea what you are trying to say in the second paragraph.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sci

[2016-04-21 16:14] carlkesselman commented on #297
Let me add (perhaps we are in agreement), that I have long felt that we should be prescriptive about the structure of a vocabulary.  We should have standard (extensible) table structure, and we should be ok with having our tooling know about that structure.  For example, we are going to have to build UI elements for vocabulary selection that know about the structure of a term.

Carl

-------------

[2016-04-21 16:58] robes commented on #297
No disagreement with your comments. But they’re slightly tangential to this particular issue which is about how to navigate from recordset to XYZ other entity. Maybe we should start a wiki page in division to capture these cross cutting thoughts on vocabulary, as they cut across ermrest, chaise, general ux, and general data modeling.

[2016-04-21 17:58] karlcz opened #298 "Change over to standalone authn API outside ERMrest"
The `/ermrest/authn/` API will change to `/authn/` after other work in this epic is completed.
If the authn API path is made configurable in chaise_config.js, this work could be done in advance and we simply change the deployed config when ready...

[2016-04-22 00:44] hongsudt opened #299 "search app: permalink url doesn't display the right number of rows"
I created a permalink after expanding the result list to include 50 search result, with Jill as a submitted by person.
https://dev.rebuildingakidney.org/chaise/search/#1/rbk:v_image?facets=%28v_image:submitter::eq::Jill%20McMahon%29&layout=table&page=2

When I paste the permalink, this is what got shown instead.
https://dev.rebuildingakidney.org/chaise/search/#1/rbk:v_image?facets=%28v_image:submi

[2016-04-22 01:09] hongsudt opened #300 "search app: search attribute shows attributes that do not have such keyword in them"
on rbk-dev, search "image". 2 options are shown---Image identifier and Annotation Description.

[2016-04-22 01:12] hongsudt opened #301 "search app: need a way to distinguish between same column names from multiple tables"
on rbk-dev, Last Modified are listed twice. This is ambiguous. Can we prefix it with a table name to distinguish between the two attributes?

[2016-04-22 01:15] hongsudt opened #302 "search app: all attribute shows inconsistent number"
on rbk-dev, search attribute using last. It said 3 attribute(s) found. View all attributes lists 23, but when click on it, only 3 are shown.  I don't know the expected behavior of the number under view all, but is should either be 3 if 3 items are listed under it, or if 23 is correct, there should be 23 items under it.

[2016-04-22 01:24] hongsudt opened #303 "search app: clicking an x on a number search range will not delete the search criteria"
on rbk-dev, select number of comments, set the serach range to 2-7. THis will reflect correctly on the search summary on top of the result list. Clicking x on that criteria only reset the range, but did not remove it from being displayed in the search list.

[2016-04-22 01:41] hongsudt opened #304 "search app: the sorting stops working sometimes"
I played around with different filtering criteria.. and some how the sortby function stops working.. After refresh, the feature works.

[2016-04-22 15:54] robes opened #305 "Refused to set unsafe header "User-agent""
Chaise/Search generates a bunch of these errors, probably on every http call to ermrest. I assume this is a one line change somewhere. Let's prioritize fixing this.

[2016-04-22 17:25] hongsudt commented on #252
@bugacov Can we make use of this in facebase?  If not, please close the issue.

[2016-04-22 17:34] karlcz opened #306 "Update login/logout to remove stale 'goauth' behaviors"
In preparation for the merge of the globus_auth PR into webauthn master, the Chaise code should stop having special cases for goauth and just follow the login/logout protocol defined in the doc/rest_api.md as it applies consistently to all three available providers (database, goauth, and globus_auth) in the new codebase. Check with @ljpearlman if clarification is needed.

[2016-04-22 17:40] robes commented on #252
i don't understand the solution. maybe @svoinea can review it with me.

[2016-04-22 17:41] karlcz commented on #306
BTW, as I understand from @ljpearlman this change is needed to avoid breaking existing deployments that use goauth provider but get the new code update once we do the webauthn PR merge. There may be another workaround to adjust the configs on those deployments to avoid triggering these legacy code paths in Chaise, but extra effort and testing would be needed to get that right.

Beyond that regress

[2016-04-22 18:27] svoinea commented on #305
Fixed through commit 797413d6cfdc3a5c8ffbf8faae73b7748a0367ca.

[2016-04-22 22:00] svoinea commented on #305
This can be tested on rbk-dev.

[2016-04-22 23:34] shinyichen commented on #278
It's updated now. @robes

[2016-04-22 23:54] robes commented on #278
works well

[2016-04-22 23:54] #278 closed

[2016-04-23 00:05] robes commented on #305
thanks

[2016-04-23 00:05] #305 closed

[2016-04-23 00:11] robes commented on #252
We actually want this implemented a different way. The sorting issue generally applies to vocabulary. We have an annotation describing vocabulary in the ermrest repo. We need to extend that specification with a sortby field which should reference a column. The column may or may not be a column used in the presentation of the vocabulary. That is, it may not be the code or label of a vocabulary enti

[2016-04-23 00:37] hongsudt commented on #303
This problem seems to disappear on rbk-dev. @jrchudy did you fix this somehow?

[2016-04-23 00:43] hongsudt commented on #300
According to @karlcz We can't support attribute search for project with row-level security requirements.

Then we should make a configurable parameter to turn the search on and off depending on the project.

[2016-04-23 01:27] howdyjessie opened #307 "Do not sort annotations when in edit mode"
When editing an annotation, changing its values should not trigger Angular's orderBy function. This prevents the annotation from moving around the screen before a user has submitted her changes.

[2016-04-25 16:28] svoinea commented on #301
Done on rbk-dev.

[2016-04-25 17:36] robes commented on #300
argh, this is a severe limitation then. we should discuss at some point.

[2016-04-25 18:43] robes commented on #297
@shinyichen : i think this covers one of the issues we discussed. I would suggest breaking it up as follows:

1. create a link to a record simply based on the foreign key field and value
2. then add support for using the name or "title" as the text in the anchor tag (as described above)

[2016-04-25 18:51] robes opened #308 "recordset: tighten up layout and reduce whitespace"
The controls at the top of the recordset page are leave a lot of whitespace around the layout. Can we try to tighten up the layout and reduce the whitespace?

[2016-04-25 20:21] shinyichen commented on #274
Use number of records format: 'aaa-bbb of nnn items'

[2016-04-25 21:07] robes commented on #293
For starters, the two trivial cases to support are:
1. if a column is a PK (i.e., unique), then turn it into a link to the record page, for the same table, filtered by that PK
2. if a column is a FK reference, then turn it into a link to the record page, for the related table, filtered by that FK

[2016-04-25 22:55] hongsudt opened #309 "update dev.isrd to support various test cases"
@robes please add the detail related to this issue..

[2016-04-25 23:19] robes commented on #271
the paging is working. just for anyone else reviewing this issue, we decided not to put the paging key into the bookmark because we don't have a (good) way of getting the count of the lower bound when dropped back into a recordset from such a bookmark.

[2016-04-25 23:19] #271 closed

[2016-04-25 23:20] #292 closed

[2016-04-25 23:22] #272 closed

[2016-04-25 23:22] hongsudt commented on #301
There are now "Image Last Modified" and "Annotation Last Modified" on rbk-dev.

[2016-04-25 23:22] #301 closed

[2016-04-25 23:23] #274 closed

[2016-04-25 23:40] robes opened #310 "Display the table name for the recordsets"
Currently we just display a generic "Records" as the heading on the page. Let's replace that with the name of the table (by default).

[2016-04-26 17:09] meihuisu commented on #106
@howdyjessie, how do I get to that link you point to from facebase? what is the iframe that enclosing it
looks like.

[2016-04-26 18:27] svoinea commented on #303
As rbk-dev is doing hourly updates, strange behaviour can happen when a test is performed concomitant with the update process.

[2016-04-26 19:31] meihuisu commented on #106
This has nothing to do with the viewer-slicedrop if the image do shows up. It should be the
iframe and safari problem or safari with $.holdReady()

[2016-04-26 20:21] robes commented on #295
The update to the permalink and history stack are being done correctly, but you'll still need to implement the callback for the onhashchange and force a reload when the hash change was caused by something outside of your page. Example:

1. go to https://dev.isrd.isi.edu/~schuler/chaise/recordset/#1/legacy:dataset
2. now change it to https://dev.isrd.isi.edu/~schuler/chaise/recordset/#1/legacy:file

[2016-04-26 21:19] howdyjessie commented on #106
@meihuisu This is the FaceBase link that shows the embedded iframe: https://facebase.org/data/record/#1/legacy:dataset/id=4696

<img width="1440" alt="screen shot 2016-04-26 at 2 17 51 pm" src="https://cloud.githubusercontent.com/assets/4585431/14834518/b69feefe-0bb9-11e6-8a3e-d72cab8e649a.png">

[2016-04-26 23:00] svoinea commented on #229
Reviewed and works as expected.

[2016-04-26 23:00] #229 closed

[2016-04-27 00:10] meihuisu commented on #106
if you hover on the invisible button(until you see a hand) and click right mouse
button (without actually selecting it), the load button actually appears, it is
iframe/safari UI problem. you need to check the iframe tag, and button tag and maybe $.holdReady()
for safari, and on stackoverflow, people mentioned things about width of iframe-target, transparency of iframe-tag.

![screen shot 2016-04-2

[2016-04-27 00:34] #295 closed

[2016-04-27 00:38] robes opened #311 "Use defaults (catalog, schema, table) when not specified in URL"
- [ ] catalog default should come from the chaise-config.js
- [ ] schema should come from the annotations
- [ ] table should come from the annotations

[2016-04-27 00:43] robes opened #312 "Support hidden annotation"
Hide columns based on the hidden annotation.

[2016-04-27 00:44] robes opened #313 "Support display names"
Support the display name annotation on schema, table and column names.

[2016-04-27 15:45] robes commented on #293
I realized that my trivial cases were not generalizable, so I'm deleting my earlier comment. I think the only trivial case is to make the entire row a link to the record page for that row. This might seem to contradict karl's earlier comment, but if there are foreign keys those can be turned into links to the record page for the related entity linked by the foreign key, and they can override the b

[2016-04-27 16:28] svoinea commented on #302
Done. Can be tested on rbk-dev.

[2016-04-27 16:32] svoinea commented on #300
Implemented the additional **hideSearchTextFacet** configurable parameter. If present and **true**, the search box will be hidden.

[2016-04-27 16:38] svoinea commented on #300
Can be tested on rbk-dev.

[2016-04-27 17:36] shinyichen opened #315 "Front end testing of the search app"
Manual front test of the search app using the defined test cases. Use https://dev.rebuildingakidney.org/chaise/search/ for testing.

[2016-04-27 18:31] robes opened #316 "Support usage analytics"
We should integrate usage analytics (e.g., google analytics) into the recordset app.

[2016-04-27 18:32] robes opened #317 "Automated test coverage"
We need to have automated test coverage.

However, this task is dependent on getting a test pattern established.

[2016-04-27 18:33] robes opened #318 "Automated test coverage"
We need to have automated test coverage.

However, this task is dependent on getting a test pattern established.

[2016-04-27 19:45] #308 closed

[2016-04-27 19:46] #310 closed

[2016-04-28 00:56] svoinea opened #319 "Image Metadata Update displays wrong value"
In the Accession Number, I entered the value 23. After Save, it shows HuKidH+E11.6_19, i.e. the description value. When I click again Edit, it shows 23.

[2016-04-28 01:00] svoinea opened #320 "A Cancel button/icon should also be present when you edit metadata."

[2016-04-28 01:02] svoinea opened #321 "The Age Stage drop down list should be ranked sorted"

[2016-04-28 19:05] hongsudt commented on #300
I asked @svoinea to take this out on rbk since we want to test the search index, etc.. We will need to test this on gpcr dev when the dev is setup.

[2016-04-28 19:05] hongsudt commented on #300
@svoinea the other option is for me to test it on dev.isrd.. Does this make sense?

[2016-04-28 19:06] hongsudt commented on #302
@shinyichen since you have or will be testing this feature in the regression testing, can you review and close this issue?

[2016-04-28 19:22] hongsudt commented on #250
Will close this for now since I can't replicate the problem.

[2016-04-28 19:22] #250 closed

[2016-04-28 19:25] hongsudt commented on #147
@crisaless What dev? Is this a common across all projects?

[2016-04-28 19:35] hongsudt commented on #303
@shinyichen can you please review this issue and close it if this problem disappears in regression testing?

[2016-04-28 19:42] hongsudt commented on #106
@howdyjessie I assume this is for you to fix now?

[2016-04-28 19:44] crisaless commented on #147
Right, at the time this was opened, it was just facebase - I've looked at other apps and it's working as expected.

[2016-04-28 19:44] #147 closed

[2016-04-28 19:44] howdyjessie commented on #106
@hongsudt Looks like it is :)

[2016-04-28 19:45] hongsudt commented on #275
@svoinea what's the progress on this?

[2016-04-28 20:40] svoinea opened #322 "Allow search based on annotation color"

[2016-04-28 20:48] svoinea opened #323 "Display last modified date of an annotation"
Currently it displays the create date, but not the last modified date.

[2016-04-28 20:50] svoinea opened #324 "Update annotation last_modified date when a comment is updated."
When a comment is modified, the corresponding annotation should be updated accordingly including the last_modified date.

[2016-04-28 22:34] svoinea commented on #307
Tested and works as expected.

[2016-04-28 22:34] #307 closed

[2016-04-28 22:54] jrchudy commented on #319
This issue occurred because if a value was set for accession number, we showed the description value instead of the accession number. A simple change to the html fixed this issue. Reassigning to @svoinea to verify it is working properly.

[2016-04-29 00:42] howdyjessie opened #325 "Referenced tables shows "No rows found""
The test case says: "Showing all referenced tables unless table has 0 rows," but sometimes I'll expand a table and it'll say "No rows found."

For example, when looking at [this record page](https://staging.gpcrconsortium.org/chaise/record/#1/gpcr_browser:construct_gui/title=HUMM-1049) on GPCR staging, I expanded the Protein table and saw "No rows found."

[2016-04-29 00:44] #302 closed

[2016-04-29 00:47] shinyichen commented on #303
This is the same thing I documented in the test cases. I still see the problem there.

[2016-04-29 16:37] shinyichen commented on #325
Please see pull request #326

[2016-04-29 17:40] ljpearlman commented on #268
The webauthn config looks okay if the intention was to send people to /chaise/logout (instead of the main RBK page) post-logout. If not, the `default_logout_path` should be changed to whatever you want it to be.

[2016-04-29 18:55] svoinea commented on #303
The hourly update on rbk-dev is broken, so the fix will be visible once the update process will be restored.

[2016-04-29 19:04] robes commented on #260
I think I fixed this

[2016-04-29 19:06] howdyjessie commented on #322
This is a duplicate of informatics-isi-edu/rbk-project#146

[2016-04-29 19:06] #322 closed

[2016-04-29 19:14] howdyjessie commented on #323
Closing this because it's a duplicate of informatics-isi-edu/rbk-project#144

[2016-04-29 19:14] #323 closed

[2016-04-29 19:22] svoinea commented on #303
Available now for test also on rbk-dev.

[2016-04-29 19:26] svoinea commented on #319
Works as expected.

[2016-04-29 19:26] #319 closed

[2016-04-29 19:34] howdyjessie commented on #324
This issue is no longer valid/required.

[2016-04-29 19:34] #324 closed

[2016-04-29 21:40] howdyjessie commented on #325
Tested out #326 and it worked. The PR has been merged.

[2016-04-29 21:40] #325 closed

[2016-04-29 23:05] #293 closed

[2016-04-29 23:48] robes commented on #279
Added a wiki page with some thoughts on common error handling.
https://github.com/informatics-isi-edu/chaise/wiki/Towards-common-error-handling

[2016-04-30 00:24] #303 closed

[2016-05-02 21:50] karlcz commented on #282
I think this issue was fixed and tested on facebase production now, so this issue can be closed?

[2016-05-02 21:59] crisaless commented on #282
this bug is fixed. however, I just noticed a new bug. when you are not logged in and try to download, instead of getting the "Authentication Required" page, you get a generic Internal Server error:

Internal Server Error

The server encountered an internal error or misconfiguration and was unable to complete your request.

Please contact the server administrator at root@localhost to inform them of

[2016-05-02 21:59] #282 closed

[2016-05-02 22:05] karlcz commented on #282
On which server are you seeing this internal server error?

[2016-05-02 22:08] crisaless commented on #282
production

[2016-05-03 17:50] hongsudt commented on #315
This is done!

[2016-05-03 17:50] #315 closed

[2016-05-03 18:12] hongsudt commented on #268
@ljpearlman on rbk-staging, upon logout, the globus page is shown, not the chaise logout.

[2016-05-03 18:54] svoinea commented on #268
This is already done on both rbk-dev and rbk-staging, as well as in their recipes.

[2016-05-03 19:06] hongsudt commented on #268
@svoinea the link is still wrong. I don't want it to go back to the search app which requires a login page. It should go to project static link. For rbk, it is https://staging.rebuildingakidney.org/image-annotation/,

[2016-05-03 21:01] hongsudt commented on #268
The link is now implemented correctly on rbk.

[2016-05-03 21:01] #268 closed

[2016-05-03 21:14] hongsudt commented on #299
@shinyichen is this still a bug or has @svoinea fixed this issue?

[2016-05-03 22:04] howdyjessie commented on #260
I switched the data entry app to use `$(ERMREST_DEPS)` in its asset block. @jrchudy has done the same for the viewer app on his branch. When he pushes his refactor branch, we can review + close this issue.

[2016-05-03 23:08] jrchudy commented on #263
I created a pull request and assigned it to @howdyjessie for review. This is the corresponding issue.

[2016-05-03 23:11] jrchudy commented on #246
The basic structure of the unit tests are done in pull request #329 and assigned to @howdyjessie for review. Doing the same with this issue as it pertains to the code in that request.

I mistakenly shoved the test case changes onto my refactor branch so I am including a basic set of tests that cover pretty core functionality of the viewer app. I will expand on them in the future.

[2016-05-03 23:12] jrchudy commented on #260
This is changed in pull request #329 with the refactor code. @howdyjessie's changes for Data Entry are the same that I made for viewer. Closing this issue.

[2016-05-03 23:12] #260 closed

[2016-05-04 17:27] hongsudt opened #330 "GUI support for required field (e.g. NOT NULL)"
When the column's `nullok` status is true, the value is optional.  When the column's `nullok` status is false, a value is mandatory.

[2016-05-04 17:28] hongsudt opened #331 "Data Entry App"
An app that provides data entry form based on the table definition. See more detail from informatics-isi-edu/division#35

[2016-05-04 17:31] hongsudt opened #332 "Support vertical layout"

[2016-05-04 18:34] karlcz commented on #330
This will depend on informatics-isi-edu/ermrest#70 exposing the constraint from the DB and also on ermrestjs exposing the information from ermrest...

[2016-05-04 20:07] howdyjessie opened #333 "Set max # of copies"
Set a limit on how many rows the user can duplicate and append to the form to avoid the browser choking up in the case when a user selects a large number. This may require both a deployment-independent hard limit and a deployment-specific soft limit(?)

[2016-05-04 21:25] svoinea commented on #300
I have added the option in chaise-config.js on isrd-dev. Once the test is done, I think we should remove it.

[2016-05-04 21:26] karlcz commented on #330
This will depend on informatics-isi-edu/ermrestjs#29

[2016-05-05 20:48] hongsudt commented on #300
The search box is not present on dev.isrd. I am closing this issue.
@svoinea you can turn it back on now.. Thanks.

[2016-05-05 20:48] #300 closed

[2016-05-06 00:46] robes opened #334 "Minimal data entry form"
The minimal data entry form should support:

- [x] vertical layout
- [x] type specific data entry for text, integer, date, boolean
- [x] client-side data validation
- [x] serial columns should not allow input
- [x] submit or save should take user to record or recordset page
- [x] error handling (there are many error cases that should be considered)

We should convert this list into tasks within th

[2016-05-06 18:05] robes commented on #334
I would expect this to take about 5 days roughly...

[2016-05-06 21:05] robes commented on #294
The recordset app should also have the same header (and footer?) as the rest of the chaise apps.

[2016-05-07 00:30] karlcz commented on #333
I think we should just drop the notion of having a "number of duplicates" control and have a 1-click per duplicate control labeled "Add record".

[2016-05-09 17:15] hongsudt commented on #129
We plan to deprecated this app with recordset app. So I am putting this in the wishlist and close the issue fo rnow.

[2016-05-09 17:15] #129 closed

[2016-05-09 17:19] hongsudt commented on #214
It seems like we won't be fixing this issue. Will close this for now and put it in wishlist.

[2016-05-09 17:20] carlkesselman commented on #129
We should discuss branding.  Are we actually deprecating the name Chase in favor of the other names?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of

[2016-05-09 19:13] jrchudy opened #335 "Type specific data entry"
Input fields need to be specific for the types of data entered into them. The supported types are:
- [x] text
  ~ Types: text (varchar() and char() are changed to text in backend)
- [x] integer
  ~ Types: int2, int4, int8
- [x] float
  ~ Types: numeric
- [x] date
  ~ Types: date
- [x] boolean
  ~ Types: boolean

[2016-05-09 19:15] jrchudy opened #336 "Client-side data validation"
Input data needs to be validated on the form before a request is made to ermrestJS.

[2016-05-09 21:09] robes commented on #129
On 5/9/16, 10:20 AM, "Carl Kesselman" <notifications@github.com<mailto:notifications@github.com>> wrote:

We should discuss branding. Are we actually deprecating the name Chase in favor of the other names?

Chaise should still refer to the overall suite of UI components. Something like “search” is just one of its component.

[2016-05-09 21:14] jrchudy opened #337 "Serial columns should not allow user input"
The user should not be able to set or modify the values of the columns that are defined by the server or the database. Depending on the column this may or may not be shown to the user. Possibly create an annotation for which fields should be hidden to the user as well as one for whether modification is allowed.

[2016-05-09 21:37] jrchudy opened #338 "After submission, user should be redirected to record or recordset"
After the user submits the data and it is properly updated in the database, the user should be redirected to the record app if one entry was submitted or recordset if multiple entries were submitted.

[2016-05-09 21:39] carlkesselman commented on #129
That is what I was thinking.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina del Rey, CA

[2016-05-09 21:40] jrchudy opened #339 "Error Handling"
Make sure there is an error handling structure in place. Think about modularizing it as well as discuss with other developers to decide how to continue with error handling. @shinyichen has started to think about error handling for the recordset app. Consider discussing this with her to keep our practices consistent and potentially modularized.

[2016-05-09 21:44] howdyjessie commented on #263
The PR has been reviewed and merged.

[2016-05-09 21:45] #263 closed

[2016-05-09 21:50] robes commented on #337
Let’s aim for good functionality based purely on sensible heuristics, first. Then, introduce annotations only to override the heuristics.

There’s room for debate here, but I would argue that a column that is “unique” (i.e., a key) and serial can be interpreted as a surrogate key, and a surrogate key is by definition not based on application data, and therefore we could assume it does not need to

[2016-05-09 22:00] howdyjessie commented on #337
@robes Right now the app has the heuristic part (if column type begins with "serial", hide it). Would you say using an annotation to override heuristics is part of this "minimal epic" or will it be addressed in a later iteration?

[2016-05-09 22:09] robes commented on #337
First, I would argue that the heuristic should be:
 - “serial” & “unique” = “surrogate key”
 - surrogate keys should be hidden

A “serial” type alone does not imply unique (primary key). And so if a column is serial (but not unique) it should be visible, in my opinion. Apparently when serial was first introduced it was implied to be a unique but that has not been the case for several versions of p

[2016-05-09 22:43] karlcz commented on #337
I think we're mixing topics here...

In the data-entry app, we want to disable data-entry for serial
columns because the "serial" type implies a sequence providing default
values.  It is not so significant whether it is a key or not.  We
don't usually want user input colliding with the generated sequence.

In other apps like record-set or search, we might want other
heuristics to hide "surrogate k

[2016-05-09 22:57] robes commented on #337
What is the simple statement we can make right now?

- “serial” (which is just postgresql’s syntactic sugar meaning “default from XYZ sequence”) = show but do not allow user input, by default

If the “serial” is also “unique” we may want to hide it, but let’s decide later. For now, just don’t allow input on serials.

Is that a good enough start here?

[2016-05-09 23:02] karlcz commented on #337
I think we're going to need an annotation for synapse because columns other than serial need to be blocked for data entry.  I wonder if we can just extend the "hide" annotation to have context and a boolean for that context.  Possible UX context might be:
  - create
  - edit
  - filter
  - display
And I think the boolean could be tri-state for always hide, never hide, or continue to use default he

[2016-05-09 23:47] robes commented on #337
Right, those make sense. I can see them being used by use cases like CIRM too.

[2016-05-10 02:13] howdyjessie commented on #332
I've transposed the form so that the table's columns are now arranged vertically: https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#1/legacy:dataset

@robes In the context of #334, does this issue also require adding in the logic for transposing between vertical and horizontal views?

[2016-05-10 17:36] robes commented on #332
On 5/9/16, 7:13 PM, "Jessie Wong" <notifications@github.com<mailto:notifications@github.com>> wrote:

@robes<https://github.com/robes> In the context of #334<https://github.com/informatics-isi-edu/chaise/issues/334>, does this issue also require adding in the logic for transposing between vertical and horizontal views?

No. Not in the context of #334.

[2016-05-10 21:22] howdyjessie commented on #332
Okay I assigned to @robes for review but if I could assign multiple people I'd also add @hongsudt and @jrchudy.

https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#1/legacy:dataset

[2016-05-10 21:27] robes commented on #332
I would suggest a couple aesthetic changes:
- not using a visible table style
- reduce the spacing between the left column of labels and the right columns of data entry controls
- and/or consider right alignment of the left column of labels

+1 or -1 by @jrchudy and @hongsudt ?

[2016-05-10 21:38] jrchudy commented on #332
I think the spacing in the left column should be reduced. But I'm thinking that's being done automatically to spread the table across the width of the display. Other than that, it looks good. I'm not sure how right alignment for the labels would look.

[2016-05-10 21:50] hongsudt commented on #332
Yeah.. I tried changing the browser size and the spacing is adjusted automatically.  Left-justified is ok and is consistent with the record app.
* I assume the sharp sign (#) is the catalog. Can we not show that?
* There should a table name (e.g. entity name) displayed e.g. Protein (new entry)
* The header row should be attributes and values
* I don't like displaying the raw type either.. Maybe we

[2016-05-10 22:10] howdyjessie commented on #332
Okay what I'm hearing is:
- Keep the visible tables but restrict the width of the table and table's column widths so that it looks more like Record app.
- Remove the # sign. (It was to indicate that that row is a row of numbers, but I can see how that's ambiguous.)

@hongsudt:
- The table name is currently displayed as "New [table name]" in the upper left corner.
- What do you mean by "The header

[2016-05-10 22:17] jrchudy commented on #332
I believe @hongsudt is suggesting that `#` and the subsequent column numbers for each row entry (`1, 2, 3, ....`) should be `Attributes` and `Values`.

[2016-05-10 22:17] robes commented on #332
Actually, shouldn't the data entry vertical form look almost exactly like the record app? I think it should. That would mean, use the same table style, same page alignment, use the same fonts, font colors, etc. These should be as uniform as possible.

[2016-05-10 22:19] robes commented on #332
I would just get rid of that first row with the `#` and `1` in it. I understand its for the multi-row editing but it might even be unnecessary in that context. Its enough to just see the multiple rows (or columns in the vertical layout).

[2016-05-10 23:43] howdyjessie commented on #332
Okay here's a little more Record-like form: https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#1/legacy:dataset

Any other improvements/feedback?

[2016-05-10 23:52] carlkesselman commented on #332
What should the sizing be of the first column.  When you add the rows (which are actually columns), they are a different width from the original.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Me

[2016-05-11 00:12] robes commented on #332
@howdyjessie : this works for me. but can you remove the "Add a Record" button as that does not belong in the minimal data entry form. we should address carl's comment in the next round when we deal with the multi-record entry.

[2016-05-11 00:23] robes commented on #335
We should add `float` and `timestamp` to the list of basic types to be supported. Is that going to be a problem?

[2016-05-11 00:26] howdyjessie commented on #332
@robes Sure thing, the Add a Record button has been removed.
@carlkesselman I'll make a note to add same-width columns for later!

https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#1/legacy:dataset

[2016-05-11 00:27] carlkesselman commented on #335
does timestamp include dates?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina del Rey, CA

[2016-05-11 00:33] robes commented on #335
There are different types for `date` and `timestamptz` and I think the presentation would be a little different for each. Doesn’t have to be that way but that’s what I’m thinking.

[2016-05-11 00:34] #332 closed

[2016-05-11 00:42] hongsudt commented on #332
@robes, @howdyjessie I found alternating the row background between different rows useful though and would suggest that as a improvement.. But we can fine tune this later.

[2016-05-11 01:02] jrchudy commented on #335
I don't think that will be an issue @robes.

[2016-05-11 01:12] carlkesselman commented on #335
In that case, I would suggest we do both.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina

[2016-05-11 01:32] karlcz commented on #335
But to answer your question, a timestamptz is a point in absolute
time.  You typically display it as a date plus a time on that date, or
you could convert it to unix epoch seconds or similar.  It can include
fractional seconds too, i.e. floating point seconds value.

The "tz" means "with timezone", which just means we can unambigously
resolve it against UTC.  The other variant "without timezone" i

[2016-05-11 01:39] hongsudt commented on #335
I rather prioritize adding more data type support (e.g. timestamp) after we
address other urgent issues such as required vs not-required, error
handling (what happens when there is a conflict), annotation, etc. We
decided that those are not needed for synapse use case.

On Tue, May 10, 2016 at 6:32 PM, Karl Czajkowski <notifications@github.com>
wrote:

[2016-05-11 03:01] hongsudt commented on #335
@jrchudy I added float in the list above.

[2016-05-12 01:13] karlcz opened #340 "recordset gets stuck if fragment ID isn't complete"
The record app needs better error handling for incomplete fragment IDs:
- If you try to visit a URL like  `/chaise/recordset#N/tablename` the app gets stuck with spinner rather than looking to see if the tablename can be found in the schema unambiguously (which is what ERMrest does natively if you send it table names not qualified by a schema name).
- If you specify a non-existent schema and table

[2016-05-12 01:23] robes opened #341 "Tooltips should not be altered for display"
That is, we should not title case or remove underscores etc. They should be presented as found in the schema.

[2016-05-12 04:48] robes commented on #341
fixed and should be deployed on CI servers during the next update

[2016-05-12 17:24] karlcz commented on #341
verified on synapse-dev

[2016-05-12 17:24] #341 closed

[2016-05-12 17:39] karlcz opened #342 "Record app double-encodes column names in filters"
@karlcz commented on [Thu May 12 2016](https://github.com/informatics-isi-edu/division/issues/72)

If I try to visit `https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/Issuer=Dsy&Sub-Sequence=A&Birth%20Date=2015-12-31` the record app fails.
1. The actual server log shows a request to ERMrest as `/ermrest/catalog/1/entity/Zebrafish:Subject/Issuer=Dsy&Sub-Sequence=A&Birth%2520Date=

[2016-05-12 17:43] karlcz opened #343 "Recordset should choose simplest key when forming links to records"
In synapse-dev the table `Zebrafish:Subject` has two unique keys.  One is a single-column key on the `Term` column while the other is a composite key on three columns `Issuer`, `Birth Date`, and `Sub-Sequence`.  Clicking on a row forms a record app link that uses the composite key rather than the single-column key, while I think it should prefer the key with the fewest elements.

[2016-05-12 17:54] karlcz opened #344 "Record app shouldn't change case on table names when already mixed case"
I have a model where I already set mixed (title) case in my table names in the schema.  The record app is displaying the table names to all UPPER CASE which I think is wrong.  If we're going to have a heuristic for automatic reformatting, I think it needs to be more conservative in deciding when the names need case changes.

[2016-05-12 18:05] karlcz opened #345 "Record2 app should hide related entity fields that are constrained by related entity query"
When display related entities, the record2 app should hide the column or columns that are constrained by the related entity query to always be equal to values from the parent record on the page.

As an example, `https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/Term=ZfDsy20151231A` has multiple related tables and they all have a `Subject` column that is a foreign key to the `Term

[2016-05-12 18:16] robes commented on #345
I think this risks over simplification. Those columns that form the "parent" FK from other related tables could include columns (subsets of the parent FK columns even) that form FKs to other tables.

[2016-05-12 18:25] karlcz commented on #345
OK, let's phrase it another way. If the columns are being filtered by
the related-entities query to always refer to the parent table, then
they are redundant for display.  This filtering is a result of the
foreign key relationship but you can ignore that and just consider the
results... we know what filters we applied, and should not display
those filtered columns.

[2016-05-12 21:05] robes commented on #343
I believe I fixed this ... and it doesn't seem to have broken paging or sorting.

https://synapse-dev.isrd.isi.edu/~schuler/chaise/recordset/#1/Zebrafish:Subject

[2016-05-12 22:05] karlcz opened #347 "Recordset doesn't handle url-encoded table names in fragment ID"
I try to visit `https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Brain%20Anatomy` and get stuck with a spinner and a javascript error like `Error: table is undefined`

[2016-05-12 22:15] karlcz opened #348 "Search app generates invalid page key query to ERMrest"
Just visiting `https://synapse-dev.isrd.isi.edu/chaise/search#1/Zebrafish:Subject`  leads to this broken ERMrest request on the server: `GET /ermrest/catalog/1/entity/A:=Zebrafish:Subject/$A/Sub-Sequence=A&Issuer::geq::Dsy&Birth%20Date::geq::undefined;Sub-Sequence::gt::A/$A@sort(Sub-Sequence,Issuer,Birth%20Date)?limit=25`

It shouldn't be setting a filter for the first page.

[2016-05-12 22:18] karlcz commented on #343
confirmed that it now chooses the shorter key

[2016-05-12 22:18] #343 closed

[2016-05-12 22:22] robes commented on #348
So there are probably 2 bugs with this I would guess:
1. that it sets a sort filter for the first page (unnecessary), and
2. that the filter's right-operand for the date is `undefined`.

Is it also using the longer 3-part key rather than picking the `Term` as a simpler key column? Seems to be.

[2016-05-12 22:38] robes commented on #347
So what's happening is that when we get the `window.location.hash` it has encoded the space ` ` as `%20`, so the app looks for a table named `Brain%20Anatomy`.

[2016-05-12 23:23] howdyjessie commented on #337
Key columns with a type of `serial*` are now displayed but do not allow input. Static text is displayed instead.

https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#1/public:form_test

[2016-05-13 00:06] robes commented on #347
fix is committed to master. can be viewed here now:
`https://synapse-dev.isrd.isi.edu/~schuler/chaise/recordset/#1/Zebrafish:Brain%20Anatomy`

However,... the record app has the same bug. :-(

[2016-05-13 00:07] robes opened #349 "Record/recordset doesn't handle url-encoded names in fragment ID"
Similar to #347

For example:
`https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Brain%20Anatomy/ID=lCere`

[2016-05-13 00:30] robes commented on #337
Functionally, good, but I have some comments on the code.

[2016-05-13 00:41] karlcz commented on #347
confirmed `https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Brain%20Anatomy` now works

[2016-05-13 00:41] #347 closed

[2016-05-13 01:01] jrchudy commented on #336
Validations test for basic validations like fields being required and whether an input value is an integer and that it is within the min and max value size. Assigned to @howdyjessie for review. This can be reviewed here at my directory or by pulling the code down from master. Mentioning @hongsuda and @robes so that they can look at it too.

[2016-05-13 01:06] jrchudy commented on #335
Input type fields are implemented for the above types except timestamp. Boolean is not filled in with values yet.

I'm curious if this reliant on domain values that are passed from ermrest or that these values should be added in the UI. @karlcz might know.

Assigned to @howdyjessie for review. This can be reviewed [here](https://dev.isrd.isi.edu/~jchudy/chaise/data-entry/#1/public:form_test) at my

[2016-05-13 01:10] karlcz commented on #335
If you're asking whether boolean columns will have a foreign key
reference constraint to a boolean domain table, no they won't.  Just
add UI awareness of boolean type and use the same drop-down style...

[2016-05-13 01:19] robes commented on #336
The int sizes appear to get validated.
- But it didn't indicate an error when I put "abc" in the int, small int, big int fields. I do get an error on submit but it doesn't tell me which field is wrong, if I fill in all the other fields correctly.
- Same for the float field if I put in "abc"
- Boolean drop down is just empty. What should be in that?
- Should 'Char' be limited to single character? T

[2016-05-13 01:23] karlcz commented on #336
I think the up/down is silly and bad UX for any kind of numeric input
in our kind of research datasets.  Just validating text-entry would be
much better.

[2016-05-13 01:32] robes commented on #336
+1

[2016-05-13 15:11] karlcz opened #350 "Record2 app related entities tables"
This is something @robes and I have been discussing a bit and I'd like to see discussed more in the team. I think the current nested tables UX in the record app is pretty bad.  Between the flawed table headings (e.g. #149) and nested scrolling behaviors, it is very frustrating and ugly for records that have multiple nested result tables.

I think we should re-think this:
1. Have a configuration se

[2016-05-13 15:18] carlkesselman commented on #350
First, I agree.  I find nested tables to be pretty bad.

Is this also the time we should be discussing having the nested tables being represented as a link back to a search page that that just has that nested table?  I think this has proven to be very useful in GPCR, and the users seem to like it (at least Mike does).

Carl

----------------------------------------------------------
Dr. Carl Kesse

[2016-05-13 15:19] carlkesselman commented on #350
So a question, not knowing the implementation details.  Could the entity set app be used for displaying nested tables in the record page?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
K

[2016-05-13 15:24] karlcz commented on #350
I think we still want in-line display of simpler results, but I do agree that a deployment (or specific record source table) might want to set the maximum displayed rows to 0 and just end up with a link to see the related entities (if any exist).

As I understand it, we're not really at a point where we could factor out the recordset app and embed instances of it in the record page. But even if we

[2016-05-13 15:29] carlkesselman commented on #350
Its not clear to me you don’t want the controls.  If you are not displaying all of the elements of a nested table, then it seems to me you are going to either the table is small, and you can see everything you want, or you are going to want to look through the available rows, which implies either a link to the search page, or sort/search in the nested table.  I’m actually ok with just doing the li

[2016-05-13 15:36] karlcz commented on #350
The final step of my first description on this issue is including a
link when there are more than the N rows available!

It sounds like we're all on the same page that this is necessary when
nested results are more than trivial, and that with this link we don't
need to clutter the in-line display for trivial results.

[2016-05-13 15:38] robes commented on #350
The simpler option would be to display the first N rows of the nested table in a simplified table presentation (think of it as a tabular preview) without the controls that may clutter the page, as Karl has said. And then yes, there would be a link back to the recordset page for that nested table to search over the complete results set.

[2016-05-13 15:50] karlcz commented on #350
I think my proposed configurable row count limit can already address
the case of just having a link w/o in-line tables (via a 0 count
limit).

So, I guess one variant to decide is whether the link is optional or
required:
1. "More results..." and only present when the set has been truncated;
2. Some other link name that would always be present, even if the entire, trivial result set was already di

[2016-05-13 16:10] carlkesselman commented on #350
For consistency purposes, I would propose we make it required.  Then the user never needs to guess.

I would not call it more results, as you are actually going to a page with different/more functionality.  I would expect “more” to imply paging.  Perhaps “Explore Table” or “Search Table"

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein

[2016-05-13 21:09] karlcz opened #351 "Tooltip in data-entry app"
The data-entry app should display the same tool-tips for input columns based on the column comment in the model as in the record app.

[2016-05-13 22:28] karlcz opened #352 "Hide columns in data-entry app"
The data-entry app should honor the `tag:misd.isi.edu,2015:hidden` annotation on columns as well as the draft `tag:isrd.isi.edu,2016:ignore` annotation which we are designing with the next MVP in mind...

1. The basic hidden one should apply to both the data-entry form and any resulting record display.
2. The new ignore annotation should allow us more precision to omit the field from the data-entr

[2016-05-13 22:32] karlcz commented on #351
Actually, I wonder if we should consider displaying the column comment alongside the column name or entry field all the time, rather than just with an on-hover tool tip...

[2016-05-13 22:46] robes commented on #351
Personally I think it will clutter unless we make the font unreadably small. My $0.02…

From: Karl Czajkowski <notifications@github.com<mailto:notifications@github.com>>
Reply-To: informatics-isi-edu/chaise <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, May 13, 2016 at 3:32 PM
To: informatics-isi-edu/chaise <chaise@noreply.github.com<mailto:chaise@noreply.github.com>>
Subjec

[2016-05-13 23:26] akumar03 opened #353 "When user doesn't have access to site Error 403 is returned"
Here is screenshot when I logged in to gpcr-dev using my usc id.   The error page should be more informative

[2016-05-14 00:20] howdyjessie commented on #337
@robes I simplified some of the code per your feedback email. Here's the relevant diff: https://github.com/informatics-isi-edu/chaise/commit/5c7dd60c2afe6d5cb998e05f9393f4267d38bfb2

And the link to look at the app: https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#1/public:form_test

[2016-05-14 00:34] howdyjessie commented on #335
I'm assigning back to @jrchudy for a little more development.

[2016-05-14 00:34] howdyjessie commented on #336
I'm assigning back to @jrchudy for a little more development on getting those mins and maxes displayed in error messages.

[2016-05-14 00:41] howdyjessie commented on #246
The tests look good and have been merged into master; I'm closing this issue.

[2016-05-14 00:41] #246 closed

[2016-05-14 01:28] robes opened #354 "Data entry form, Round Two"

[2016-05-14 01:32] robes commented on #339
Per our conversation this morning, let's constrain the scope of this task to data entry specific error handling. Maybe just the basic obvious stuff?

[2016-05-14 01:42] robes opened #355 "Simple foreign key support"
A _simple_ key is a key composed of a single column. For data entry purpose if we encounter a column that is a member of a _simple_ foreign key then we will support data entry by allowing the user to select a value from its "domain" where the domain is the set of values in the referenced _simple_ key (i.e., the distinct values for that key column in the referenced table).

In this case, the data e

[2016-05-14 01:48] robes opened #356 "Type support for shorttext and longtext"
We floated the idea of adding two aliases in ERMrest for the `text` type, as `shorttext` and `longtext` or to introduce annotations. I kind of like the type aliases. This would depend on a new ERMrest feature TBD by @karlcz.

In the data entry form, the `shorttext` entry should be supported by a typical text input form field. A `longtext` should be supported by a resizable text box form field and

[2016-05-14 01:56] robes opened #357 "Vocabulary support, basic"
Following on from issue #355, the data entry app should support the (basic) display and selection of vocabulary terms. In this basic support, the multi-select control should have the user select from the referenced vocabulary table's `term` column per its annotation.

The data entry app should look at the vocabulary annotation to determine which column represents the term. The annotation is define

[2016-05-14 01:58] robes commented on #355
Note that #357 extends this issue with support for vocabulary tables. I've left that task out of the "Round Two" epic but if we make great progress we should consider pulling it in here.

[2016-05-14 02:03] robes opened #358 "Foreign key support, with preferred field for display"
Another follow on to #355. We need to have a way of identifying or generating a _display name_ for a row. This is kind of similar to the concept we had of a row having a _title_ which we used to define by annotation in the older annotations. It should use the same general _pattern_ approach we have used in other annotations -- or a revised, improved form of that pattern.

~~Maybe @karlcz can help

[2016-05-14 02:05] robes commented on #355
Another extension of this issue is #358, which adds support for a preferred display name. Again, would be great to get to this in the round two epic but I haven't put i in there.

[2016-05-15 23:43] hongsudt commented on #339
Error handling cases should cover:
- [ ] 409 conflict
  - [ ] violation of foreign key constraints including invalid vocabulary reference,
  - [ ] unique key violation (e.g. the rows with same unique keys already exist)
  - [ ] data type violation (e.g. wrong type, out of range numbers, etc. )
  - [ ] unknown column names in defaults query parameter
  - [ ] unknown schema name or table name

[2016-05-16 00:29] hongsudt commented on #354
@howdyjessie @jrchudy Referred to you both, so you can see this epic.

[2016-05-16 17:56] crisaless opened #359 "post-Annual Meeting tasks"
After the meeting there are some website and communication tasks:

- [x] Write up recap of meeting notes for SC and distribute
- [ ] Go over notes with Hub to make future tasks and github issues/roadmap
- [x] Edit videos from Day One and post unlisted
- [ ] Add all original presentations and videos to FB wiki
- [x] Get permissions from PIs that presentations and videos are ok to post (issues inclu

[2016-05-16 20:46] #299 closed

[2016-05-16 21:13] karlcz opened #360 "Support composite sort keys in recordset bookmark"
If it is not too difficult, I think it would be useful to support composite sort keys in bookmarks. I.e.
1. On page init, if `@sort(...)` from bookmark has multiple columns, preserve them in data data retrieve
2. While paging through results, retain current sort even if multi-column.
3. If user clicks sort controls on table, it is OK to revert to single column sort. There doesn't need to be a way

[2016-05-16 21:36] karlcz opened #361 "Enhance filter in recordset bookmarks"
- [ ] Support `::null::` operator
- [ ] Support `!` negation prefix

Each predicate has _column_, _operator_, and _value_ which may be empty as well as optional negation prefix `!`:
- `column::eq::value` or `!column::eq::value`
- `column::null::` or `!column::null::`
- `column::regexp::pattern` or `!column::regexp::pattern`

The full ERMrest filter language has two more features which might be mor

[2016-05-16 21:55] robes commented on #361
It does this. However it may not be complete. Like I do t think we supported OR, NULL, and maybe not regexp.

Rob Schuler

On May 16, 2016, at 2:37 PM, Karl Czajkowski <notifications@github.com<mailto:notifications@github.com>> wrote:

It would be very useful if the recordset app could parse filter predicates from the fragment ID of the URL and apply those filters to the data retrieval requests. T

[2016-05-16 21:57] karlcz opened #362 "Record app doesn't handle unauthorized response consistently"
1. Visit a record page where login is automatically started due to ermrest 401 unauthorized response
2. Use logout link at top
3. Use extra logout links from Globus page to logout of everything
4. Close extra Globus tab that has opened
5. Navigate "back" in your browser to the record page

The page displays  `Not Found. We're sorry, we ran into an internal server error when querying for entity ref

[2016-05-16 22:05] karlcz commented on #361
Hah, OK. Funny that I remembered `::eq::` when I wrote the issue but not when I tested manually and kept typing `=` instead...

Confirmed that it works with `::eq::` and `::regexp::` already

[2016-05-16 22:08] karlcz commented on #361
However you are write, it doesn't seem to support ::null:: yet.

[2016-05-16 22:27] karlcz commented on #356
It looks like we would need to use `CREATE DOMAIN ...` SQL construct. However, our current ERMrest introspection ignores the domain and returns the underlying type...

[2016-05-16 23:06] jrchudy commented on #336
Data validation shows messages that have more meaningful information for numeric input types.

[2016-05-16 23:18] hongsudt opened #363 "401: unauthorized users including expired session"

[2016-05-17 00:04] karlcz opened #364 "Navigable links w/ complex content"
Rather than file a bunch of bugs, I want to give this overall task to be reviewed and fixed until it works...

Starting at the [synapse-dev landing page](https://synapse-dev.isrd.isi.edu/), you should be able to visit each link and further navigate the intra-chaise links presented by the app pages without encountering errors and broken/frozen apps.

- [x] Open any recordset page in the **Data-rela

[2016-05-17 00:33] robes commented on #361
Yeah, not surprised. I wrote this and just threw in what I remembered off the top of my head.

[2016-05-17 00:36] robes commented on #356
I don’t have any opinion about whether it should be a pair of new types or just annotations.

[2016-05-17 00:37] robes commented on #336
Can you assign to someone else for validation? I won’t be in a position to do it this week.

[2016-05-17 00:50] jrchudy commented on #335
Boolean dropdown is populated with proper values (`true`, `false`, and empty string `''`).

[2016-05-17 00:54] jrchudy commented on #336
Will do.

[2016-05-17 01:15] howdyjessie commented on #338
The data entry app now redirects to the record app when the user successfully submits data. The redirect url is built by selecting the key with the smallest number of columns and appending that key's columns and their values to a base url.

I haven't fully implemented the redirect to recordset yet because we don't support multi-row insertion yet.

I have 2 questions for @karlcz and @robes:
- @karl

[2016-05-17 01:26] karlcz commented on #338
If there really aren't any keys that are completely nullok=false, that means there is no "primary key" and it's a pretty bizarre table.  All bets are off at this point, and I'd just take the shortest unique key as a fallback.

[2016-05-17 16:37] svoinea commented on #348
The bug was due to two distinct errors:
- getting values from column names having special characters (in this case spaces) of numeric and date type;
- building a predicate from a unique keys group where the keys might have also NULL values.

The errors were fixed through the commits b4b8c2102c785791504f62bd98dfb71a804d5fc1 and f2b132d09d610d1b340255f09c64bab57d0f0174.

[2016-05-17 16:45] robes commented on #338
In that ermrestjs pull request I recently created, I added that “simple” flag which can tell you if a key is made of a single column. But you can also look at the recordset app which picks the shortest key from the set of keys to link to the record app. This is something we should probably think about a good ermrestjs api…

[2016-05-17 17:35] karlcz commented on #348
verified on synapse-dev

[2016-05-17 17:35] #348 closed

[2016-05-17 17:40] karlcz opened #365 "Search app generates invalid result record links"
Visit the page https://synapse-dev.isrd.isi.edu/chaise/search/#1/Zebrafish:Subject?facets=(Subject:Issuer::eq::Dsy)&layout=table&page=1  and inspect the link URL in the data rows on the `Birth Date` column. The link shows `https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/Birth%2520Date=undefined&Issuer=Dsy&Sub-Sequence=A` which is incorrect for two reasons:
1. The column name sh

[2016-05-17 17:46] karlcz opened #366 "Data-entry app repeats table name"
Going to https://synapse-dev.isrd.isi.edu/chaise/data-entry/#1/Zebrafish:Subject shows two header fields, both generated from the table name:

[2016-05-17 17:57] karlcz opened #367 "Record app URL presentation ignored in main entity columns"
Visiting https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Movie/Subject=ZfDsy20151231A  shows the text caption `m4v` in the `Download` column as per the `url` annotation but does not present a link.  When showing the same data in the `Movie` related-entity section of https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/Term=ZfDsy20151231A the caption and link are presente

[2016-05-17 18:11] karlcz commented on #252
I think this sortby annotation should apply more generally than to just vocabularies.  We should be able to define the natural sort for any table, and have it apply by default in search, recordset, and related-entity presentations of entity sets.

[2016-05-17 18:32] karlcz opened #368 "Handling NULLs in composite keys"
By most relational die-hards, including the designers of PostgreSQL, a composite key like (`a`, `b`, NULL) is considered an incomplete key as they interpret NULL as "unknown" rather than as its own value.  They would expect you to use a different, non-NULL value to represent "none", e.g. (`a`, `b`, `none`).

When a composite key has any NULLs in it:
1. A uniqueness constraint is not enforced on th

[2016-05-17 18:33] howdyjessie commented on #338
@robes Thanks for the heads up; the recordset app's way of finding the shortest key is a lot cleaner to read than my original for loop.

It would be nice to have some sort of "primary key"-esque flag in ermrestjs so that we don't duplicate the code to find this shortest key in multiple Chaise apps. Maybe it could be something along the lines of `table.[uniqueId | uniqueKey].get()`. If not, we coul

[2016-05-17 19:16] jrchudy commented on #338
I tested this on @howdyjessie's dev environment on dev isrd and found a small bug that was fixed. Tested again after and it's working properly. I reviewed the code as well.

It currently only redirects to record app as the form does not yet allow multiple rows to be submitted at once.

[2016-05-17 19:16] #338 closed

[2016-05-17 19:28] jrchudy commented on #339
Wiki page with Monday morning meeting info:
https://github.com/informatics-isi-edu/chaise/wiki/Towards-common-error-handling

[2016-05-17 20:59] karlcz opened #369 "Support url annotation in recordset app"
The url annotation should be supported in recordset rows to support download and link presentation.
- [ ] Apply a column-level url annotation to change the way the column data is presented
- [ ] Apply a table-level url annotation to introduce a "virtual" column to the table presentation?

I think the first item is a higher priority than the second.

[2016-05-17 21:37] karlcz opened #370 "Record app omits column with NULL value"
In https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Behavior/ID=1 there should be a column "Learned?" displaying with `N/A` for a NULL boolean value.  This will be necessary for future hooks to edit metadata, where a record will start with a NULL and a user will update to set true or false.

When the same table is displayed as a related-entity, the NULL is displayed properly: https://sy

[2016-05-17 22:09] howdyjessie commented on #335
The boolean dropdowns now show true, false, and empty string. Selecting empty string puts in a `null` in the database.

[2016-05-17 22:09] #335 closed

[2016-05-17 22:38] howdyjessie commented on #336
The form validates correctly now:
- All int fields validate with the correct number ranges and display the type-specific number range in error messages. The ints only accept numbers and "e". The numeric inputs no longer have the up and down steps to increment the inputs' values.
- A field's error message goes away if the user enters a valid value.
- Boolean dropdowns now display true, false, and e

[2016-05-17 23:54] howdyjessie commented on #330
Columns with a `nullok` of `false` now have (1) the `required` attribute on its input control; and (2) a red asterisk at the column name. Here's [a link](https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#1/legacy:dataset) to test.

[2016-05-18 00:08] karlcz opened #371 "Record app related entities query fails with ambiguous links"
On my test catalog https://synapse-dev.isrd.isi.edu/chaise/record/#2/Synapse:Protocol_Step/ID=PrcDsy20160101A-behave fails to load due to an ambiguous link between this table and Zebrafish:Behavior

The underlying ERMrest query which fails is https://synapse-dev.isrd.isi.edu/ermrest/catalog/2/aggregate/Synapse:Protocol_Step/ID=PrcDsy20160101A-behave/Zebrafish:Behavior/row_count:=cnt(*) because the

[2016-05-18 00:29] karlcz opened #372 "Use compliant URL escaping function"
When we URL escape any model element names or data values, we must use a safe URL encoding function that handles arbitrary UTF-8 data as per RFC 3986:

1. Pass non-reserved characters verbatim: `A`-`Z` `a`-`z` `0`-`9` `-` `_` `.` `~`
2. Encode reserved characters: `!` `*` `'` `(` `)` `;` `:` `@` `&` `=` `+` `$` `,` `/` `?` `%` `[` `]`

Our data should already be encoded in UTF-8 and the UTF-8 stri

[2016-05-18 01:13] svoinea commented on #372
The `fixedEncodeURIComponent` function from ermrest.js is a candidate for it:
[code]
At least, it passed the requirements 1 and 2.

`encodeURIComponent` is already a JavaScript function which encodes everything, but the characters from the regular expression mentioned in the `replace` argument.

[2016-05-18 02:06] hongsudt opened #373 "unit test for URL escaping function"
to make sure that all cases mentioned in #372 are covered.

[2016-05-18 17:07] svoinea commented on #353
Fixed in the commit e244a3cb362955cad2f209bfbc1d37db537e1fee.

A pop up window will now show up with the following message:
[code]
After clicking `OK`, the user will be redirected to the page mentioned by the `dataBrowser` parameter in the `chaise-config.js` file. If that parameter does not exist, the redirect will be to the `https://<host:port>` page.

[2016-05-18 17:41] crisaless commented on #359
in wrong repo - moving to facebase-project

[2016-05-18 17:41] #359 closed

[2016-05-18 19:19] howdyjessie commented on #372
As discussed in this morning's standup, whatever function we end up using for this, it should be wrapped in an Angular filter inside `common/filters.js`.

[2016-05-18 22:01] jrchudy commented on #336
Some validations are run before the form is submitted, notably checking for integer, float, and a range of values for integers. Required validations are checked after the form is submitted.

Reassigning to @howdyjessie for final testing/review [here](https://dev.isrd.isi.edu/~jchudy/chaise/data-entry/#1/public:form_test).

[2016-05-18 22:06] howdyjessie commented on #336
Works for me. The "non-required" error messages appear as soon as I enter an invalid value in the fields instead of waiting for submit.

[2016-05-18 22:06] #336 closed

[2016-05-18 22:16] jrchudy commented on #330
The changes for this show up properly in the UI. Only the fields with `nullok` of `false` have the asterisk and fail the required validation.

[2016-05-18 22:16] #330 closed

[2016-05-18 23:56] howdyjessie commented on #351
Columns that have a non-null comment now have on-hover tooltips on its column heading and is indicated by the dotted black underline. It can be viewed [here](https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#1/legacy:dataset) when hovering over the "Owner" heading. The code is pushed to the [`de-column-tooltips#351`](https://github.com/informatics-isi-edu/chaise/tree/de-column-tooltips%23351) br

[2016-05-19 00:22] karlcz commented on #351
I just updated synapse-dev to de-column-tooltips#351 and also ermrestjs to the latest head that includes the commit you mentioned.  I still don't see the tooltips on the data-entry, though I do see them on a record page for the same table.

[2016-05-19 06:14] howdyjessie commented on #351
@karlcz Could you pull down the latest from ermrestjs (master branch) and the latest from this feature branch ( [`de-column-tooltips#351`](https://github.com/informatics-isi-edu/chaise/tree/de-column-tooltips%23351)) again into synapse-dev? It should work now.

It turns out the main problem was that I misspelled "commment" in ermrestjs (it had an extra `m`) while spelling "comment" correctly in Ch

[2016-05-19 20:43] karlcz commented on #351
@howdyjessie I think I updated both chaise and ermrest as you said and still don't see data-entry tooltips.

[2016-05-19 23:35] howdyjessie commented on #351
Okay @karlcz has tested this feature; I'm assigning this to @jrchudy for code review. The latest code is pushed to the [`de-column-tooltips#351`](https://github.com/informatics-isi-edu/chaise/tree/de-column-tooltips%23351) branch. There was also an [update to ermrestjs](https://github.com/informatics-isi-edu/ermrestjs/commit/7821717a93648e3404787a977baac0a12cccb8ea) on the master branch.

[2016-05-19 23:37] jrchudy commented on #339
Code for this issue is in pull request #374. How to test this is explained in the pull request.

[2016-05-20 00:34] jrchudy commented on #351
I pulled this code and tested it in my own user directory on dev isrd. The changes look non intrusive and I verified that the tooltip shows up and the dotting line shows up to note there is a tooltip there.

[2016-05-20 00:34] #351 closed

[2016-05-20 19:13] howdyjessie commented on #339
The PR #374 has been merged into `master`. This issue is now closed.

[2016-05-20 19:13] #339 closed

[2016-05-21 00:56] karlcz commented on #356
I'm adding a tweak to the introspection logic to support this use of domains.  See informatics-isi-edu/ermrest#75 which adds experimental support for arbitrary SQL domains and user-defined types to have their names exposed in the ERMrest schema introspection.

[2016-05-21 01:38] howdyjessie commented on #366
With the completion of #330, the second header has been replaced with a notice about asterisks indicating required fields.

[2016-05-21 01:38] #366 closed

[2016-05-21 02:02] hongsudt commented on #373
@svoinea can you please review @chiragsanghvi 's tests and close the issues?

[2016-05-21 02:10] hongsudt opened #376 "403: forbidden (i.e. user doesn't have permission)"
@hongsudt commented on [Fri May 20 2016](https://github.com/informatics-isi-edu/ermrest/issues/76)

display an error box, and upon clicking ok, direct them to the project landing page.

Refer to https://github.com/informatics-isi-edu/chaise/wiki/Towards-common-error-handling.

[2016-05-21 02:39] hongsudt opened #377 "Preferred display name (row-name) for linked entities"
Use common annotation and logic shared with #358 to determine a preferred way of referring to entities in a foreign domain table. Replace foreign key values with this preferred entity name when displaying the link.

Karl suggests extending the `display` annotation at table level with another field like `row_name` that uses a template to form a row name from row values.  The `name` field is already

[2016-05-21 06:17] howdyjessie commented on #352
I've created PR #378 for this issue. Description of changes and test info is on the PR.

[2016-05-23 18:28] hongsudt opened #379 "Configure record/detail app link in listings on a per table basis"
Currently, the search app navigation to record app or view app is in a chaise config. We need to change this to accommodate the navigation at the table level, or schema level.

The configuration hierarchy should be as follows (lower items override more general items above):
1. Default behavior of codebase is `record` app
2. Chaise config can override in a particular web server
3. Schema-level anno

[2016-05-23 18:59] karlcz opened #380 "Option (or default) to show column comments on data-entry form"
I think having the column comment displayed for all input fields would be much better than having them hidden as a tool-tip.  I think this would be fine as a default or only behavior, but will accept an annotation to control it if others disagree with always showing comments.

I imagine a layout something like this for short fields:

[code]

Where the comment text would be in a smaller/lighter sty

[2016-05-23 19:08] karlcz commented on #379
BTW we need this to be consistent for search and recordset apps.  Should we file two issues?

[2016-05-23 20:41] robes commented on #379
@hongsudt I would suggest dropping sub-item 5 from the list.
@karlcz yes, i think we will need 2 issues. i mainly think so because the code bases are so different in this case and need to be assigned to 2 different developers. My opinion...
@svoinea My opinion is that the right way to do this is to define the annotation that you think can address this need. Review it with @karlcz  and @robes. Then

[2016-05-23 21:01] robes commented on #337
looks good. thanks

[2016-05-23 21:01] #337 closed

[2016-05-23 21:07] robes commented on #372
@karlcz Do you agree with @svoinea comment above? In particular, to your initial comment are you suggesting that the standard function `encodeURIComponent` which is supported by all browsers (which could have variable quality of implementations) is unusable?

MDN reference is here:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent

[2016-05-23 21:08] svoinea commented on #306
For the search page, that was was done through the commit 460935e449c7af1fc0e497619aaf62ebca28f7a0.

The user sends now the GET '/ermrest/authn/preauth' request. The result will contain one of the following (as described at https://github.com/informatics-isi-edu/webauthn/blob/master/doc/rest_api.md):

- redirect_url. The user should be redirected to its value.
- login_form. An HTML form should be

[2016-05-23 21:09] robes commented on #372
@howdyjessie regarding your comment to use an angular filter. I am not sure that will work... doesn't the encoding have to process the URL component-by-component. e.g., if you had to encode the url `http://example.org/A/B/name=cde/fgh/C` where `name=cde/fgh` is a single component not to be split at the intermediate `/` but rather needs to be encoded. Doesn't a filter just take the whole string and

[2016-05-23 21:14] howdyjessie commented on #352
The PR has been reviewed and merged into `master`.

[2016-05-23 21:14] #352 closed

[2016-05-23 21:29] karlcz opened #381 "Support record-level app link configuration"
For recordset app, implement consistent record-level app link behavior as describe in #379 for search app. This solution should reuse as much common code as is reasonable...

The configuration hierarchy should be as follows (lower items override more general items above):
1. Default behavior of codebase is record app
2. Chaise config can override in a particular Chaise install
3. Schema-level anno

[2016-05-23 21:30] karlcz commented on #379
OK, I drafted an annotation (linked above) and also created #381 for the recordset app version of this task.

[2016-05-23 21:40] karlcz commented on #372
Our long-term experience has been that the "standard" functions in browsers are buggy and do not follow the *standard* for URL escaping. Historic bugs seem to be enshrined as the expected results of these JS routines.

If we now have a rigorous test case, perhaps it would be entertaining to run a bake-off of different browser functions to show which characters fail to encode properly...

[2016-05-23 21:42] karlcz commented on #372
@robes Right, and similarly the URL needs to be parsed into components
before the components get decoded, when interpreting the href, e.g. during
bootstrapping of a page from a bookmark.

[2016-05-24 00:45] svoinea commented on #373
Reviewed and tested together with @chiragsanghvi

[2016-05-24 00:45] #373 closed

[2016-05-24 01:06] howdyjessie commented on #372
@robes @karlcz Yeah Angular filters isn't the right approach here. A plain JavaScript function in `common` will suffice.

[2016-05-24 01:26] #334 closed

[2016-05-24 04:42] robes opened #383 "Data entry form, round three"

[2016-05-24 04:55] robes opened #384 "Record edit"
Extend the data entry form to edit an existing record. The mode "new entry" vs "edit" can be inferred by the URL. If the fragment has a key filter then the data entry app should edit the identified record, if not, then it should be a new entry. The URL format should be the same as that used by the record app.

[code]

We should also look into making the URL parsing a reusable function of chaise or

[2016-05-24 04:59] #354 closed

[2016-05-24 05:03] robes opened #385 "Markdown text entry and display"
We need to explore options for markup text entry and display. The text entry will apply to any data editing forms such as the `data-entry` app while the display will apply to just about any app. We need to evaluate markup formats, parsers, and finally editors, preferably WYSIWYG, and/or editors with preview. We also need to enumeration the requirements for formatting. I suggest that anyone, @hongs

[2016-05-24 05:04] robes commented on #385
For one use case we need enough formatting to support display of Gene names. These require at least:
- superscript
- subscript
- italics

[2016-05-24 05:06] robes opened #386 "Multi-row data entry"
Extend our data entry form with multi-row entry. The basic functionality should include:
- a `+` or `add another` button
- on clicking that, the display should add a column, and all data entry columns should be of the same width,
- it should also copy over all of the non-auto generate columns

[2016-05-24 05:07] robes commented on #386
@karlcz anything else?

[2016-05-24 18:55] shinyichen commented on #349
Is this the same issue as in #364 ?

[2016-05-24 19:17] karlcz commented on #349
Yes I think I filed several specific bugs before I decided to write #364 to roll up all the test scenarios...

[2016-05-24 19:19] karlcz commented on #349
It's actually a bunch of closely related bugs on both sides of the apps:  bad decoding of the fragment ID when loading the page with a pre-filled link, and bad encoding of page links in other apps.  Then this encoding and decoding fails in different ways on schema names, table names, column names, and column values...

[2016-05-24 20:38] mikedarcy opened #387 "Search page does nothing without at least one "top" annotation present on default table."
I loaded up a new catalog instance into ERMrest and configured Chaise to point at it.  After logging in, the default search page just sat there with the spinner spinning forever, appearing to "hang".  In reality, the app just got as far as schema introspection for the default table and then just stopped executing the rest of the page flow.

As soon as I put at least one "top" annotation on a colum

[2016-05-24 20:51] mikedarcy commented on #387
This seems to actually be a general problem with the search page display of any entity where no "top" columns exist.  The application should not be relying on the presence of the "top" annotation in order to  trigger the execution of a query and the subsequent display of the results, but that looks like what is happening.

[2016-05-24 20:57] jrchudy commented on #355
The implementation for this works properly for simple foreign keys. It also appears to work for vocabulary tables as well. You can see it working for vocabularies in the [rbk image](https://dev.isrd.isi.edu/~jchudy/chaise/data-entry/#4/rbk:image/) table. And for both Owner names and Project IDs in the [legacy dataset](https://dev.isrd.isi.edu/~jchudy/chaise/data-entry/#1/legacy:dataset/) table.

[2016-05-24 21:02] jrchudy commented on #355
It looks like this issue resolves #357 as well.

[2016-05-24 21:16] robes commented on #355
Doesn't resolve #357.

But it works for me for what this initial FK support should do.

[2016-05-24 21:16] #355 closed

[2016-05-24 21:41] karlcz opened #388 "Record page login broken on globus_auth server"
Very recently (probably with https://github.com/informatics-isi-edu/chaise/commit/460935e449c7af1fc0e497619aaf62ebca28f7a0) login has stopped working on the record app.  It still works on search app.

It seems to be misdetecting the login mode as form based when there is really a redirect_url in the preauth response.

[2016-05-24 21:42] karlcz commented on #388
Assigning to @shinyichen since I know she's looking at refactoring login stuff.  But also pinging @svoinea since I think his commit yesterday is probably what broke it...

[2016-05-24 23:50] svoinea commented on #388
The /chaise/record/assets/javascripts/app.js should call a function equivalent to the current "function login(referrer)" from /chaise/scripts/ermrest.js.

The login form (../login?referrer=...) should be rendered only if the GET '/ermrest/authn/preauth' request returns an output having the 'login_form' field.

[2016-05-25 01:09] mikedarcy opened #391 "Inconsistent "display" column annotation behavior between Search and Record pages."
The search page honors one type of "display" column annotation and the record page another.

The search page uses the older style `description` tag with a JSON value of `{"display": "The display value"}`.

The record page uses the newer style `tag:misd.isi.edu,2015:display` tag with a JSON value of `{"name": "The display value"}`.

This requires the annotator to duplicate every column display anno

[2016-05-25 01:17] robes commented on #391
you really won't like this... but i'd like to stop supporting both of these model renaming annotations. Neither have been implemented in the recordset app, and I'd like to keep it that way. I know this may not be agreeable wth you but I think this whole idea of renaming model elements was a bad idea from the start (might have been my idea). I would argue that all models should be updated in a way

[2016-05-25 01:38] mikedarcy commented on #391
No, I don't like it. It makes it pretty onerous to support data models that have been defined elsewhere without altering them at the most fundamental level thereby ensuring that all subsequent data ingest will have to be ETL'ed.  I think it imposes a somewhat artificial limitation on what can be done with ERMrest and basically kicks a whole set of use cases to the curb.

I don't think the draconia

[2016-05-25 06:42] robes commented on #391
The search app should be updated to support the [newer form of the annotation](https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2015-display) to resolve this inconsistency.

For the latest applications, i.e., recordset, data-entry, they should use the new `displayname` attribute that has been added to the ermrestjs api via https://github.com/informatics-isi-edu/erm

[2016-05-25 06:44] robes opened #392 "Support displayname"
Support displayname where we display schemas, tables, and columns.

See https://github.com/informatics-isi-edu/ermrestjs/issues/36

[2016-05-25 06:45] robes opened #393 "Support displayname"
Support displayname where we display schemas, tables, and columns.

See https://github.com/informatics-isi-edu/ermrestjs/issues/36

[2016-05-25 16:47] svoinea commented on #291
Fixed in commit aa3adabee6b19057f9a9e90923c854bd35e0644b.

The timestamp values returned by ermrest are converted now to a date format before passing them to the widget.

[2016-05-25 23:20] howdyjessie commented on #356
Columns with type `shorttext` now display the usual one-line, unresizeable text input. Columns with type `longtext` now use a resizable `textarea` with a default "height" of 5 rows.

This feature can be seen [here](https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#4/rbk:testtoo), where the "testtoo" table features the following relevant column types: "Name" is `shorttext`; "Comment" is `longttex

[2016-05-26 00:26] karlcz opened #396 "Need fail-safe navigation link from table rows to record pages"
I feel that there needs to be a navigation link/handle for the row as a whole to always allow navigation to the related entity even if its key material is not displayed.

The key material may be hidden or replaced due to annotations, e.g. hiding serial keys or replacing a key with a download URL.  Or, if the row has a composite key formed from several columns that are also foreign keys to domain t

[2016-05-26 01:15] svoinea commented on #387
Fixed in commit 5f83c208275a42eabd54748bc6cfef7af0151f1f.

While the documentation https://github.com/informatics-isi-edu/chaise/blob/master/doc/configuration.md was already specifying for `facetPolicy: on_demand`:
[code]
the ever spinner when no top facet was defined, was a bug.

[2016-05-26 02:46] robes commented on #356
The presentation looks right. The default row height should be configurable.

Also, when testing the form I did get an error (could be unrelated):

 409 Conflict The request conflicts with the state of the server. PUT not supported on entities without key constraints.

On 5/25/16, 4:20 PM, "Jessie Wong" <notifications@github.com<mailto:notifications@github.com>> wrote:

Columns with type shorttext

[2016-05-26 04:03] howdyjessie commented on #356
@robes The error should be unrelated to this issue. I get the same error on the [server-wide version](https://dev.isrd.isi.edu/chaise/data-entry/#4/rbk:testtoo) of this table but not in other schemas/tables. And the data entry app doesn't `PUT` anything yet so I'm not sure how that error came to be... 😕

[2016-05-26 16:27] svoinea commented on #379
Fixed in the commit 0efddae728cc942208bcee41848b78944d9dc255.

The 'recordResource' parameter from chaiseConfig was removed.

The 'tag:isrd.isi.edu,2016:recordlink' annotation is used now at the schema or table level.

The default is "record/". The schema annotation overwrites the default, while the table annotation overwrites the default and/or the schema one.

Available for review on rbk-dev.

[2016-05-26 23:59] howdyjessie commented on #384
Please see PR #397 for review.

[2016-05-27 00:17] robes commented on #384
Worked for me

[2016-05-27 00:17] #384 closed

[2016-05-27 18:33] bugacov opened #398 "Search app stays on previous facet when changing to a new table"
This bug is mostly observed on GPCR that has several tables.
To reproduce:

1) go to Targets search page
2) facet on an attribute, e.g. Class=B
3) Go to the top left and change to the construct table
4) facets stays on Class attribute that has no meaning in Constructs table

[2016-05-27 20:42] karlcz opened #400 "Data-entry input consistent width styling"
Apply a consistent width styling to all input controls so they are the same column width.
- [x] Foreign-key drop down controls should not change widths when operated
- [x] Long text should only allow dragging of height and follow same width as other controls
- [x] If/when we have multiple record entry, behavior of columns and sizing should be sane

[2016-05-27 20:48] karlcz opened #401 "Data-edit show system-generated IDs"
For the fields that are replaced with "System generated value" in data-entry, show the actual existing value when in record editing mode. Keep it as an immutable field.

In the future, we need to invent a more subtle control for different contexts:

1. System generated may include things other than `serial` types due to triggers.  Need annotation to guide in general case?
2. Immutability may inclu

[2016-05-27 20:49] karlcz opened #402 "Add edit link from record pages"
Add a sensible edit button/link from record page to the new record-editing mode of the data-entry app.

[2016-05-27 21:46] howdyjessie commented on #392
@robes The data entry app now uses `displayname` when showing schema, table, or column names to the user. For non-presentation purposes, however, we keep using the `name` property.

Since this was a relatively small update, I pushed directly to `master`. You can see the fix now in [my user dir](https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#1/legacy:dataset) or you'll see it [on dev.isrd](htt

[2016-05-28 01:58] #349 closed

[2016-05-31 01:32] hongsudt opened #404 "record app: Incorrect link to the related table"
On rbk-dev, catalog#2, schema: Resource. The Figure table has a unique constraint based on 2 columns---Protocol_title, and label. Protocol_title is a fk to the protocol table.

https://dev.rebuildingakidney.org/chaise/record/#2/Resource:Protocol/ID=2
* If I set the url annotation of Figure:URI to '{}', the app deals with the default correctly e.g. when I click on protocol_title, it leads to the pr

[2016-05-31 01:33] hongsudt opened #405 "record: support url's "thumbnail" presentation"

[2016-05-31 01:38] hongsudt opened #406 "search app: allow different main entities to co-existing in the same schema"
On rbk-dev, there are 2 sets of tables---Protocol and Cell_Line.
I set Protocol as a default. However, when I try to explicitly go to the search app with Cell_Line (or its related tables) as an argument, the app keeps spinning. The search seems to support only one main entity per schema. This needs to be changed.

[2016-05-31 01:39] hongsudt opened #407 "search app: faceting based on a boolean column"
Cell_Line has a few boolean columns. When I click on those columns in order to specify the faceting criteria, nothing shows up under them.

[2016-05-31 18:09] robes commented on #309
With our revised plan for testing, I don't think this issue is valid anymore. That's my understanding.

[2016-05-31 18:09] #309 closed

[2016-05-31 18:18] #392 closed

[2016-05-31 18:24] shinyichen commented on #294
Angularize login/logout and put them in common folder.

[2016-05-31 18:32] robes commented on #371
I tested this with the recent fix you added to ermrest and this page now works:
https://github.com/informatics-isi-edu/ermrest/issues/80

Personally, I think this is a good enough solution for now.

[2016-05-31 18:39] shinyichen commented on #367
Has the schema changed? There is no Movie table in the schema.

[2016-05-31 18:44] robes commented on #294
Where should I got to see this in a working deployment? And where can I see the code? Also, is this task meant to cover Karl's comment asking for a reusable navbar component?

[2016-05-31 21:17] shinyichen commented on #294
It is on the record-recordset branch. https://github.com/informatics-isi-edu/chaise/tree/record-recordset
I see this branch has been merged to the master. And yes it includes the reusable navbar component.

**Redirect to login at page loading**
https://github.com/informatics-isi-edu/chaise/blob/record-recordset/recordset/recordset.js#L481

**navbar and login/logout**
https://github.com/informatics

[2016-05-31 22:08] robes commented on #380
Personally, I do not see what is wrong with the tool tips that we already have implemented.

[2016-05-31 22:17] robes opened #409 "Data entry form, round four"
This is an epic that I hope will conclude with a MVP.

[2016-05-31 22:20] #383 closed

[2016-05-31 22:21] robes commented on #333
I think, per Karl's comment above, that this issue is no longer valid.

[2016-05-31 22:21] #333 closed

[2016-05-31 22:37] robes commented on #386
Make sure to work on this one in a development branch.

[2016-05-31 22:40] svoinea commented on #407
This should have been fixed now through the commit 8b590dd454614f82add813b8b4f0e6a22adc8949

[2016-05-31 22:41] robes commented on #393
Duplicate of #313.

[2016-05-31 22:41] #393 closed

[2016-05-31 22:47] howdyjessie commented on #400
The first 2 points have been addressed, but I'll save the third one after we implement multi-record entry.

[2016-05-31 22:48] robes commented on #312
When you work on this also make the update to the api and use it here.

https://github.com/informatics-isi-edu/ermrestjs/issues/39

[2016-05-31 22:56] #342 closed

[2016-05-31 22:57] #388 closed

[2016-05-31 23:02] robes commented on #362
I just followed the above steps that Karl specified above and I cannot see that the issue has been fixed. I would assume that the fix would be if you went back in step 5 above that you would be redirected to login. But it still display the `Not Found...` message.

I used this link for testing.
https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/Issuer=Dsy&Sub-Sequence=A&Birth%20Dat

[2016-05-31 23:04] #294 closed

[2016-05-31 23:13] robes commented on #362
This worked for me on dev.isrd.

[2016-05-31 23:13] #362 closed

[2016-05-31 23:40] howdyjessie commented on #401
This feature is now in my [user dir](https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#1/public:form_test/id=1). Since this was a relatively minor fix, the code has been pushed to `master` via commit ed977d54534b2d1e1d73507dfb9c519c72984b34.

[2016-05-31 23:57] chiragsanghvi opened #410 "Record App: Second Related table header is distorted."
Visit any of the record page which has related tables. If you open the first related link with a row count of greater than 0, a table appears with data populated in it. Now if you open the second related link with the same row count criteria, the header of the table is distorted.

![rbk](https://cloud.githubusercontent.com/assets/1658152/15694209/99de1dba-2750-11e6-9004-4c109c822094.png)

Maybe th

[2016-06-01 00:05] howdyjessie commented on #401
@karlcz Is it possible to add sub-contexts to sub-contexts? For points 2 and 3, I wonder if the annotations could be sub-contextualized via the HTTP verbs to avoid ambiguity and/or provide UI devs with a familiar system of sub-annotations. For example, column has the `ignore` annotation, which has the `entry` context, which can be further contextualized with `GET`, `POST`,  `PUT`, and `DELETE`. A

[2016-06-01 00:33] robes commented on #401
This is my counter proposal here. I would suggest we create two new Column annotations:

- `tag:...system-generated`: indicates that a column is system generate. The interpretation of this field would be to not allow user input during new record entry.
- `tag:...immutable`: indicates that a column is immutable (cannot be altered once defined). The interpretation of this field would be to not allow

[2016-06-01 00:35] robes commented on #401
Okay, now I'm actually reviewing the issue. I think there is a problem. The "Id" column is shown and it has a disabled text entry box, however, the text entry box is blank. I would expect it to have `1` in it and also to be disabled.

[2016-06-01 00:52] jrchudy commented on #357
This issue is referenced in pull request #411. The code can be tested [here](https://synapse-dev.isrd.isi.edu/~jchudy/chaise/data-entry/#2/Zebrafish:Subject). The issuer dropdown is using the `full_name` column as the `term` defined in the annotations for this table. The `RNA Construct` column is using the `term` column as defined by one of the heuristics [here](https://github.com/informatics-isi-

[2016-06-01 02:31] robes commented on #357
I went to the referenced link for testing. The presentation looked right, its displaying the term instead of the id. However, it fails on submit.

`Error 409 Conflict The request conflicts with the state of the server. Input data violates model. ERROR: insert or update on table "Subject" violates foreign key constraint "Subject_Issuer_fkey" DETAIL: Key (Issuer)=(Andrey Andreev) is not present in t

[2016-06-01 05:50] robes commented on #377
I updated the _display_ annotation with a new `row_name` field.

https://github.com/informatics-isi-edu/ermrest/blob/annotation-update/user-doc/annotation.md#2015-display

[2016-06-01 05:51] robes commented on #358
I updated the _display_ annotation with a new `row_name` field.

https://github.com/informatics-isi-edu/ermrest/blob/annotation-update/user-doc/annotation.md#2015-display

[2016-06-01 18:44] mikedarcy opened #413 "Pass logoutURL from chaise-config.js when deleting sessions"
Specify the currently configured (or default) Chaise logoutURL to the DELETE session call per https://github.com/informatics-isi-edu/webauthn/blob/master/doc/rest_api.md#delete-session.

This will allow multiple chaise deployments in /var/www/html to use their own logout pages rather than the single global default specified in `ermrest_config.js`.

[2016-06-01 18:52] mikedarcy opened #414 "DISPLAY_ERROR is null on 500 error during login"
Using session-based basic auth, if a 500 is returned during the login sequence (e.g., due to a webauthn misconfiguration or db issue), somehow the JS execution scope gets altered in such a way that the DISPLAY_ERROR (and perhaps other) variable initialization done in initApplication of ermrest.js is invalidated.

This results in no error message being displayed and an null dereference error dumped

[2016-06-01 21:42] howdyjessie commented on #386
@robes @karlcz How about a `-` or `Delete record` button? Is that necessary for this milestone?

[2016-06-01 23:27] svoinea commented on #413
Currently, the default_logout_path from the ermrest_config.json file takes precedence over the logoutURL parameter from the chaise-config.js file.

Does the issue require reverting the precedence order?

[2016-06-01 23:36] mikedarcy commented on #413
In my opinion, yes.  Otherwise, supporting instance-specific logout paths for multiple Chaise installs on a single host cannot be supported.  There are other configuration aspects of Chaise that support this kind of multi-tenancy, I think this should be similar.  Maybe others disagree.

[2016-06-01 23:37] robes commented on #386
Yes, I think it would be good if the user could delete one of the rows while editing in multi-row mode. That’s what you meant right?

[2016-06-01 23:41] robes commented on #413
So we are saying that the logout URL in chaise-config.js should override the one in ermrest config? That makes sense to me. We just need to make sure everyone knows who is responsible for deployments that this override order will change.

[2016-06-01 23:43] howdyjessie commented on #386
@robes Yep!

[2016-06-02 00:44] howdyjessie commented on #386
Please see PR #415 for review.

[2016-06-02 00:55] howdyjessie commented on #401
@robes Hmmm I'm unable to reproduce that behavior. I went to this url: https://dev.isrd.isi.edu/~jessie/chaise/data-entry/#1/public:form_test/id=23, and saw `23` in the Id column. Where did you see the blank text entry box?

[2016-06-02 00:58] robes commented on #401
Now, that worked for me too. Seems okay then.

[2016-06-02 01:01] svoinea commented on #413
Updated the logout page based on the following precedence:

1. chaise-config['logoutURL']
2. ermrest_config['default_logout_path']
3. '/chaise/logout'. This is a default Chaise logout page that has a link to the data browser. The link can be specified by the chaise-config['dataBrowser'] parameter, or by default it is '/chaise/search'.

[2016-06-02 02:03] carlkesselman commented on #386
The remove column button doesn’t seem to work for me.

Is the behavior we have on column width what we want?  Might it be better if there was an initial max width that wasn’t the full width of the browser?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Insti

[2016-06-02 05:22] howdyjessie commented on #386
@carlkesselman I'm not sure why it wasn't working but I just re-uploaded my code to my user dir and it works now. Try again?

I also changed the logic a little so that the Remove button only appears if there are at least 2 columns currently being edited because I want to avoid users deleting the only column they have and then submitting 0 records.

[2016-06-02 05:45] carlkesselman commented on #386
Yep.  Works now.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina del Rey, CA  90292-6695

[2016-06-02 16:18] robes commented on #386
On 6/1/16, 7:03 PM, "Carl Kesselman" <notifications@github.com<mailto:notifications@github.com>> wrote:

Is the behavior we have on column width what we want? Might it be better if there was an initial max width that wasn’t the full width of the browser?

Personally, I’m fine with full width of the form as it is.

[2016-06-02 17:38] #401 closed

[2016-06-02 17:47] robes commented on #386
We should think if there is a better label for the button `+ Add Record`. To me that seems confusing with the idea of submitting data. I'm open to other ideas. `+ Copy` ?

And/or can we add a tool tip to the buttons, so if they hover over the Add Record button it says something like "Add another record to this form to enter multiple records. It will copy over the values from the last record in the

[2016-06-02 17:47] #386 closed

[2016-06-02 18:11] svoinea commented on #413
The problem was fixed in the commit fd11bb8935085d71d057129d5dfd12e005acfe0c and it is ready for review.

[2016-06-02 18:47] howdyjessie commented on #400
The third bullet point has been addressed in #415. A demo can be found [here](https://dev.isrd.isi.edu/chaise/data-entry/#1/public:form_test) to review this issue.

[2016-06-02 18:48] robes opened #416 "Shorter maximum widths of controls in data entry form"
When displaying, we want to limit the width of controls so they don't fill the screen. @carlkesselman points out that when you have such long controls the drop downs little arrows are all the way on the right hand side of the screen and so we lose some intuitiveness of what to do with it. But note that all the controls should have the same width as they do now, just with an upper limit on width.

[2016-06-02 18:50] robes opened #417 "Poor error handling and reporting"
The data entry app does not have very good error handling and has poor error message/reporting. I suggest also making a list of all the errors that need to be handled that you can brainstorm and make sure they are handled and they are reported clearly to the user.

[2016-06-02 18:52] #400 closed

[2016-06-02 19:29] ljpearlman commented on #413
There's no reason for any component other than webauthn to look at the default_logout_path config variable; that's what webauthn uses when it's not supplied anything. So the sequence should be:

1. Decide whether or not chaise has a preferred logout URL (which I guess is chaise-config['logoutURL']). If so, pass it as the `logout_url` parameter to `DELETE /session`. If not, don't pass anything to `

[2016-06-02 21:54] robes commented on #367
Updated examples:

https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Image%20Segmentation/URL=%2Fhatrac%2FPrcDsy20160101A%2F2015%2F12%2FZfDsy20151231A%2Fseg0-lPal-debug.tiff

https://synapse-dev.isrd.isi.edu/chaise/record/#1/Synapse:Protocol%20Step/ID=PrcDsy20160101A-seg0

[2016-06-02 22:31] svoinea commented on #413
Re-fixed in the commit 7af6c8797fd5b21f6aec615cdd1af8f79fbcd7dd.

The `chaise-config['logoutURL']` parameter is passed now in the `DELETE /session` request. The user will be redirected to the URL specified by the `redirect_url` field of the DELETE response, or to the `'/chaise/logout'` page if the DELETE response does not contain the `redirect_url` field.

[2016-06-02 22:48] jrchudy commented on #357
Pull request #411 has the updated code for this issue. The code now follows along with the pseudocode that @robes and I came up with yesterday afternoon. This also includes basic exception handling.

Assigning to @robes and @howdyjessie for review. Code can be tested [here](https://synapse-dev.isrd.isi.edu/~jchudy/chaise/data-entry/#2/Zebrafish:Subject).

[2016-06-03 01:12] robes commented on #357
It worked for me.

[2016-06-03 01:13] robes opened #418 "Use common login/logout and navbar in data entry app"

[2016-06-03 16:15] #367 closed

[2016-06-03 16:16] robes opened #420 "Support URL annotation in recordset"

[2016-06-03 16:19] robes commented on #357
@jrchudy I made a few comments in the PR. They are not huge but I think they should be addressed. Let me know when you update it. thanks

[2016-06-03 16:29] svoinea commented on #414
This should have been fixed now through the commit a9dfee54aff68b23486d3cf34216909547acd98d

[2016-06-03 18:18] crisaless opened #421 "User Interface Style Guide: refine outline - flesh out sections"
Comment from Rob on previous issue #226

There's more info on this wiki page - basically I'll narrow the scope and drill down to the actual elements we'll likely use: https://github.com/informatics-isi-edu/chaise/wiki/Towards-a-style-guide

[2016-06-03 20:46] robes commented on #421
Right. The gist of my comment is that rather than invent a style guide, let’s just set a practice of adopting a set of styles and UI controls. And for example, in bootstrap a lot of the colors are determined for you (like the color of an warning etc). Let’s just use those and not fiddle with any of them. That’s my opinion at least…

[2016-06-03 21:30] howdyjessie commented on #418
Please see PR #422 for review.

[2016-06-03 21:57] shinyichen commented on #312
A couple of tests for this schema
https://synapse-dev.isrd.isi.edu/ermrest/catalog/1/schema

https://synapse-dev.isrd.isi.edu/~jchen/chaise/recordset/#1/Zebrafish:Behavior
https://synapse-dev.isrd.isi.edu/~jchen/chaise/recordset/#1/Zebrafish:Image%20Segmentation

[2016-06-03 21:58] shinyichen commented on #313
A couple of tests for this schema
https://synapse-dev.isrd.isi.edu/ermrest/catalog/1/schema

https://synapse-dev.isrd.isi.edu/~jchen/chaise/recordset/#1/Zebrafish:Behavior
https://synapse-dev.isrd.isi.edu/~jchen/chaise/recordset/#1/Zebrafish:Image%20Segmentation

[2016-06-03 22:15] robes commented on #418
The login works on the `data-entry` app but not the `recordset` app. On the latter, it takes you to the `chaise/login` page instead of to globus.

On both `data-entry` and `recordset` there is a little broken icon link on the top, to the left of the "Chaise" text.

[2016-06-03 23:43] jrchudy commented on #417
Some work has been done on this. Check the latest commits to the `de-error-handling` branch.

[2016-06-04 00:13] robes commented on #417
This looks like a good start. I think the error handling will have some complexity to it, so we should discuss next week.

[2016-06-06 17:13] #313 closed

[2016-06-06 17:14] #312 closed

[2016-06-06 17:21] robes commented on #364
I believe I checked every link off of Karl's landing page. I also went at least one more level deep from there. I.e., from recordset pages I went to the next level deep of a record page, and from record pages I went to the next level deep by drilling down from a nested table. In many cases I tried more than one link from the initial page I landed on.

[2016-06-06 17:21] #364 closed

[2016-06-06 17:22] #357 closed

[2016-06-07 17:58] robes commented on #219
Can this get reviewed, I'm sure this was done a long time ago.

[2016-06-07 18:13] karlcz commented on #416
This suggests to me that the problem is the placement or alignment of the drop-down arrow and content.  Since we can have variable length values and they are padded on the right, with field labels on the left, perhaps the drop-down arrow should also be on the left.

We have some very long values (DNA construct names) and I would hate to see them wrapped due to an arbitrary width limit if the user'

[2016-06-07 18:18] carlkesselman commented on #416
Actually, this brings up an issue I’ve been thinking about which is should we have the ability to specify presentation for general values, or even sets of values.  For example, right now we are doing presentation level formatting for sequences (doing them in blocks of 5).  In GPCR, we are seeing an example, where it may be advantagous to take several columns and combine them into a single value us

[2016-06-07 18:20] robes commented on #416
We should stick to standard UI controls and look & feel. The arrow for drop downs is always (to my knowledge) on the right.

Personally, I am not sure that I agree with this issue in the first place. For instance, I use MS Outlook. The “To:” field stretches all the way to the right of the window and on the far right side is an icon for “Search for people”. To me this is the equivalent of our situa

[2016-06-07 18:23] #409 closed

[2016-06-07 18:26] robes opened #426 "File upload"
The data entry app needs to support file uploads. We will need to introduce an annotation to identify when a `url` column should be regarded as an `asset`. Assets should be uploaded to Hatrac and then the asset url column should be updated with the hatrac url of the file.

[2016-06-07 18:39] karlcz commented on #380
What's wrong is that I put it in front of users and they struggled to understand what to put where, even though they understand the model abstractly.

It is much more idiomatic to have field descriptions in data-entry forms for casual users, unless the forms and fields are extremely simple and common. The users need more concrete guidance and this should not be in the form of a treasure-hunt to ex

[2016-06-07 18:59] karlcz commented on #416
Right, is the problem that you can *only* click on that little arrow or that it is the only indication that it is a drop-down?  If the latter, should we replace a blank gray field with some lower contrast text like "Select a value..."?

Also, do we distinguish classic drop-downs where clicking anywhere opens the list, or will clicking in the main body put the cursor in a type-ahead search mode...?

[2016-06-07 19:22] karlcz commented on #371
Actually I had removed the ambiguous links from the schema to make it work.  I put it back and now the page loads but displays confusing/duplicate info for the two links.  The problem is that the related entity query for each link should set a different column constraint for each, and in this dataset only one of those queries should have the result shown twice now.  The other query should be empty

[2016-06-07 19:43] shinyichen commented on #363
Testing recordset app:
https://synapse-dev.isrd.isi.edu/~jchen/chaise/recordset/#2/Zebrafish:Brain_Anatomy@sort(ID)
clear history/cache, and try to go to page 2. It should redirect to login, this mean 401 error was caught.

[2016-06-07 19:50] #372 closed

[2016-06-07 20:02] howdyjessie commented on #418
I've made a second PR. Please see #427 for review.

[2016-06-07 20:27] mikedarcy commented on #413
This isn't working as expected for me.

If I have a default specified in `ermrest_config.js`, then that value is always getting returned from the delete request as the logoutURL and the overrides I specify in `chaise-config.js` have no effect. I do not see the `redirect_url` field in the response -- maybe because I am only using session auth?  I also do not see anywhere in the logout handling code

[2016-06-07 20:34] mikedarcy commented on #414
Confirmed fixed.

[2016-06-07 20:34] #414 closed

[2016-06-07 20:40] mikedarcy commented on #387
Confirmed fixed.

[2016-06-07 20:40] #387 closed

[2016-06-07 22:08] #418 closed

[2016-06-07 22:17] svoinea commented on #413
To clarify what happens in Chaise:

 - If `chaise-config.js` contains the `logoutURL` parameter, then its value is passed to the `DELETE /ermrest/authn/session` request through the `logout_url` parameter (see `function deleteSession(param)`
 - The `function successDeleteSession(data, textStatus, jqXHR, param)` parses the response and sends to the `submitLogout` function the `logout_url` field.

I

[2016-06-07 22:21] #363 closed

[2016-06-07 23:22] mikedarcy commented on #413
I understand how it works, I've been debugging it. What I thought I made clear was that it is not working as expected for my use case, which is different than what you tested...

In the debugger I can see the `logout_url` parameter being correctly passed to the `DELETE` call, but that value is not what is returned in the response body.  What *is* returned is either the `default_logout_path` as con

[2016-06-07 23:41] robes opened #429 "Common login service"
Develop a common login service for Chaise. The login service should be a proper angular service. From what I understand it should support login, logout, and session interfaces. While you are at it, also please remove the `login`, `logout`, `session` interfaces from **ermrestjs**. The chaise login service should use the angular `$http` service for network operations. It will also need to get the se

[2016-06-07 23:42] robes commented on #429
While this is primarily focused on the data-entry app, try to retrofit recordset too if possible.

[2016-06-07 23:45] robes opened #430 "Basic documentation for data entry app"
We need to document:
- the features of this app and nuances about it. for example it the FK support is limited to single column FKs; we need that documented
- what annotations does it currently support; and any nuances about that
- what if any chaise-config parameters does it support
- what data types are support. for example in the columns.
- whatever else I may have missed?

[2016-06-07 23:48] robes opened #431 "Basic documentation for recordset app"
We need to document:
- the features of this app and any nuances about those features.
- what annotations does it currently support; and any nuances about that
- what if any chaise-config parameters does it support
- what data types are support. for example in the columns. This might not be relevant.
- whatever else I may have missed?

[2016-06-08 00:19] robes opened #432 "Support immutable and generated annotations"
Let's use these with the more explicit semantics in the recordedit app.
1. @robes should update ermrestjs to expose these as attributes on the column definition
2. then @howdyjessie should update the recordedit app

[2016-06-08 00:21] howdyjessie opened #433 "Check validity when duplicating last record"
When working in multi-row entry, the user can click "Add Record" to duplicate the most recently added row. If that row has an invalid value, however, that value is not copied into the duplicated row.

[2016-06-08 00:57] hongsudt commented on #433
@karlcz @robes what do you think about complete duplication even when the cell values are invalid?  To me, this will make it easier for the users to understand the app behavior.

[2016-06-08 01:00] robes commented on #433
I do not understand the description.

[2016-06-08 01:02] hongsudt opened #434 "data entry: update end-to-end test cases on the spreadsheet"
We should update the expected behavior of the data entry app in the excel sheet.

https://docs.google.com/spreadsheets/d/1XdV4_MXEeycKKG8rhX_M5Bi4HSLKgtKzi3N7q7BUnTM/edit#gid=0

[2016-06-08 01:08] howdyjessie commented on #433
@robes I made [a short video](http://recordit.co/BLipUTbPgN) to demonstrate. The duplicated row doesn't have the value from `C_smallint` while it does have the value from `C_int`.

[2016-06-08 01:19] hongsudt commented on #160
move this to wishlist and close the issue for now.
https://github.com/informatics-isi-edu/chaise/wiki/Wishlist

[2016-06-08 01:19] #160 closed

[2016-06-08 01:21] hongsudt commented on #258
@svoinea @robes is this done with @svoinea 's revision of the authentication code?

[2016-06-08 01:29] hongsudt commented on #391
@mikedarcy @robes I think we decided now to make any changes to the search app and roll this in to recordset. So maybe we can close this issue?

[2016-06-08 01:34] hongsudt commented on #298
@karlcz is this ready to be changed?

[2016-06-08 01:57] #353 closed

[2016-06-08 03:09] ljpearlman commented on #413
This is what `DELETE /ermrest/authn/session` does (or, if it doesn't, that's a bug):

If the user is logged in:

- If `logout_url` is passed in the request arguments, then `logout_url` is set to that value in the response, which is sent with a 200 status.
- Otherwise, if `default_logout_url` is set in the webauthn configuration, then `logout_url` is set to that value in the response, which is sent

[2016-06-08 16:48] svoinea opened #435 "Allow setting the number of columns to be displayed in the search result table"
Currently, the maximum number of columns to be displayed in the search result table is restricted to 6.

There is a requirement to increase this number.

[2016-06-08 16:55] svoinea commented on #435
The issue is fixed now through the commit 9cef57c03566fcb67665f2a935441ba0440466ca

In the `chaise-config.js` file, you specify this number through the `maxColumns` parameter.

[2016-06-08 16:57] svoinea commented on #435
Assigning to @bugacov for review.

[2016-06-08 17:07] svoinea commented on #258
In the search app, this was already done (the `getGoauth` function does not exist - it was renamed to `login` which is doing the `/authn/preauth`).

The places where I see the `getGoauth` function are `dataEntry.app.js` and `viewer.app.js`.

The issue should be reassigned adequately.

[2016-06-08 17:20] svoinea opened #436 "Order the columns of the search result table based also on the facetOrder annotation"
Currently, the order of the columns displayed in the search result  table are based on the `top` annotation and the `score` computed from the number of the distinct values of the column.

The `facetOrder` annotation should have precedence relative to the two criteria mentioned above.

[2016-06-08 17:22] svoinea commented on #436
The issue was fixed through the commit 7aace232d18e7e53dae7643158cf0b885eb067c7

[2016-06-08 17:24] svoinea commented on #436
Assigning to @bugacov for review.

[2016-06-08 17:31] karlcz commented on #436
Where is this requirement coming from?  This sounds wrong to me.

Why wouldn't we just show the results table in the natural table structure from the backend, like we do in other apps? I think that this should be the default unless another behavior is requested explicitly by annotation.

Also, I think it is a mistake to link facet-order in the filter sidebar with column order in the results presen

[2016-06-08 17:35] svoinea commented on #436
The requirement came from @bugacov

[2016-06-08 17:55] mikedarcy commented on #413
Looks like a bug in the webauthn database provider: https://github.com/informatics-isi-edu/webauthn/issues/40

I still think the chaise code should handle a possible Null return value here and support replacing with the override from the config rather than a hardcoded default.

[2016-06-08 18:02] howdyjessie commented on #433
From today's standup: Only allow user to duplicate a form column if that form column has no invalid values. If that form column has 1+ invalid value, disable the "Add Record" button and/or display an alert.

[2016-06-08 18:17] mikedarcy commented on #391
Please do not close this yet. I would like to have one more (hopefully last) discussion about this before moving on.

[2016-06-08 18:26] svoinea commented on #413
In the case that `chaise-config.js` has no `logoutURL` parameter (meaning no `logout_url` parameter is passed to the `DELETE /ermrest/authn/session` request), and in the `ermrest_config.js` the `default_logout_path` is missing, what does the `DELETE /ermrest/authn/session` request return?

[2016-06-08 18:46] mikedarcy commented on #413
Im

[2016-06-08 18:48] karlcz commented on #413
Let me summarize what I think are the desired behaviors:

1. If chaise-config has a logoutURL setting, it will pass it in the logout_url parameter to the DELETE call. Otherwise it should omit this parameter in the request.
2. If webauthn receives a logout_url parameter, it will incorporate it into the response object. This MAY be a verbatim copy in the redirect URL or MAY embed the URL into anothe

[2016-06-08 19:06] robes commented on #429
Actually, the server base url may be in the chaise config object I suppose.

[2016-06-08 19:27] jrchudy commented on #417
Pull request #438 has the changes associated with this issue.

[2016-06-08 19:35] shinyichen commented on #429
Just realized that this module will need to handle errors from server, like NotFoundError for session not found. We don't have those defined in Chaise (anymore).

[2016-06-08 20:18] howdyjessie commented on #402
I made PR #439 for review and assigned @karlcz, @hongsudt, @robes for review.

[2016-06-08 20:39] robes commented on #429
I think its okay to redefine those here. Like `LoginService.NotFound`. I would not reuse the ERMrest module errors in this context. My $0.02…

From: Jennifer Chen <notifications@github.com>
Reply-To: informatics-isi-edu/chaise <reply@reply.github.com>
Date: Wednesday, June 8, 2016 at 12:35 PM
To: informatics-isi-edu/chaise <chaise@noreply.github.com>
Cc: Robert Schuler <schuler@isi.edu>, Author <a

[2016-06-08 20:56] karlcz commented on #350
As for the naming of the link, I've been looking at other sites and often saw "view all" for a link that takes you to another result page.  Conversely, I often saw "show all" or "show more" when it was more like an accordian/inline expansion of more results.

[2016-06-08 21:00] karlcz commented on #189
@hongsudt @robes I suspect this issue is a wontfix unless we are going to turn it into requirements input for revised apps?  Are we still going to support the transposed view at all in the future...?

[2016-06-08 21:05] carlkesselman commented on #189
I’m not convinced the transposed view is worth supporting…..

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way,

[2016-06-08 21:09] karlcz commented on #197
@robes Is this even wishlist anymore, or just wontfix since we are talking about record app navigating to recordset for related entity exploration?

[2016-06-08 21:19] karlcz commented on #252
Do we have consensus on this?  Should I draft the above annotation definition?  I have a use case where I'd want this table-specific sort applied to the related entity tables in the record app as well as to recordset.

[2016-06-08 21:24] karlcz opened #440 "Odd related entity column widths"
If you visit https://synapse-dev.isrd.isi.edu/chaise/record/#2/Synapse:Protocol/ID=PrcDsy20160101A (at least on Firefox) you'll see the related entity table for Protocol Step has a very wide column for `ID` and a very crowded and narrow column for `Description`.  I think this needs to do a better job of auto-sizing based on content and suspect that there is something wrong with the CSS...

[2016-06-08 22:58] robes commented on #417
If this is in a done state can you point me to a place where it is deployed and give suggestions for how to test it. Maybe an enumeration of test cases that should be handled by it.

[2016-06-08 23:03] ljpearlman opened #441 "Chaise can get confused when ermrest redirects it to a login form"
When I do this:

1. Set up my system to use the webauthn database provider.
2. Configure my main ermrest catalog to require authentication.
3. Go to /chaise/search when I'm **not** logged in.

Then I get this:

![chaise search - google chrome_002](https://cloud.githubusercontent.com/assets/8785501/15913621/fd7e63d0-2d8f-11e6-8e13-8e5f019fdb2a.png)

I think what's happening is that Chaise is doing

[2016-06-08 23:05] robes commented on #197
This seems to apply to recordset app not record app. We have started down the path of "search within" by the fact that you can enter the recordset app with a URL that defines some initial filters. Then we want to enable "search within" or perhaps I should say "filter within" by applying additional predicates to the query. Hope I followed this correctly.

[2016-06-08 23:14] jrchudy commented on #417
If you go to my [synapse dev machine](https://synapse-dev.isrd.isi.edu/~jchudy/chaise/data-entry/#2/Zebrafish:Subject) you can test some of the functionality by inputting a catalog/schema/table that don't exist. Those should return not found exceptions and alert the user.

Another note is the annotation not found error function. If you open developer tools, and then the console, you will see NotFo

[2016-06-08 23:20] robes commented on #441
I don't think ermrest redirects the client to a login form. The js app itself should be getting back a 401 error and then redirecting. Maybe @svoinea can comment?

[2016-06-08 23:22] robes commented on #417
We don't need to log the annotation related not found errors. Those are expected.

[2016-06-08 23:27] karlcz commented on #197
I think this issue's original text is describing something like having search capabilities on each embedded related entities table in the record app.  But, I think in other issues we've since discussed having a much simpler table representation and link back to recordset for that case...?

[2016-06-08 23:33] robes commented on #417
I tested with this URL using Firefox:

https://synapse-dev.isrd.isi.edu/~jchudy/chaise/data-entry/#2/Zebrafish:Fubar

It first did a modal dialog that was blank (see attached screenshot) then after I dismissed the blank dialog it proceeded to what I expected.
![badtable](https://cloud.githubusercontent.com/assets/4202842/15914557/bc435c34-2d96-11e6-8258-c553d36f125a.jpg)

[2016-06-08 23:41] ljpearlman commented on #441
Ummm, never mind. This was a product of my own weird setup.

[2016-06-08 23:41] #441 closed

[2016-06-08 23:52] hongsudt opened #442 "Support 2015 Default annotation if the schema and table are missing from the url"

[2016-06-08 23:56] hongsudt opened #443 "data entry: ACL support"
Check whether users are allowed to edit or create an entry.  If not, we should throw an error message and direct them to the default page. Also, the edit button should not be shown on the record page.

 @karlcz @robes  is there a way to check whether a user can create/edit an entry?

[2016-06-08 23:59] robes commented on #443
`catalog/N/meta/content_write_user` returns the list of roles allow to write to a catalog. There is a `_read_` ACL as well. These indicate the catalog-wide read/write ACLs.

Beyond that, you need to reason over the postgres row level access control which … you can’t do that.

From: Hongsuda <notifications@github.com>
Reply-To: informatics-isi-edu/chaise <reply@reply.github.com>
Date: Wednesday, Ju

[2016-06-09 00:19] carlkesselman commented on #197
Yes, I think that sounds right.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina del Rey,

[2016-06-09 00:31] carlkesselman commented on #436
This sounds right to me.

I think in the GPCR case in fact, we have some very specific ordering we want on the columns, and these probably should be independent of the ordering on the facets.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi S

[2016-06-09 00:37] jrchudy commented on #417
I caught that and have since fixed it and pushed it to the branch, but I think I forgot to remove it from my dev machine. i.e. update the code

[2016-06-09 00:54] jrchudy commented on #434
The spreadsheet has been updated with another sheet called `recordedit`. @robes, @howdyjessie, @hongsudt I added all three of you for review to see if I missed anything important.

[2016-06-09 18:11] howdyjessie commented on #434
I added some more cases to the spreadsheet. This looks complete to me.

[2016-06-09 18:17] jrchudy commented on #434
Thank you @howdyjessie, @hongsudt can you think of any other cases that need to be added? If not, I think we can close this issue.

[2016-06-09 19:09] hongsudt commented on #434
yeah.. Let's close the issues..

Also, as you guys fix bugs or add features, please try to update the test
cases..  The spreadsheet is currently our documentation that describes our
system behavior.

On Thu, Jun 9, 2016 at 11:17 AM, Josh Chudy <notifications@github.com>
wrote:

[2016-06-09 19:47] hongsudt commented on #433
I would prefer to get an error box telling me what to do than having the button disabled.

[2016-06-09 19:50] hongsudt commented on #258
assign to @howdyjessie

[2016-06-09 19:52] hongsudt commented on #213
I am closing this issue for search. We will deal with this in recordset app.

[2016-06-09 19:52] #213 closed

[2016-06-09 23:18] howdyjessie commented on #433
There are now 2 buttons for adding a record to the form.
1. "Add Record" just adds a blank row/column.
2. "Duplicate Last Record" copies the last row/column if the last row/column has no invalid values. Otherwise, the app will display an error instead.

These two buttons should disambiguate what a singular "Add Record" would do.

You can see the feature live [here](https://dev.isrd.isi.edu/~jessie

[2016-06-10 16:16] svoinea commented on #436
The changes were reverted and now there is the table annotation `top_columns` that contains an array with the columns to be present in the search result table. In this way, the order of the columns in the search result table is independent of the order of the columns in the filter sidebar.

[2016-06-10 17:22] hongsudt opened #446 "review annotation spec"
We will be working on a new version of record and search (i.e. recordset) apps. These apps will implement annotations as listed in the annotation doc:  https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md
Please review the document and identify missing features. A few of them have been identified including:
* table order
* column order and row order of the result set a

[2016-06-10 17:28] hongsudt commented on #306
@ljpearlman can you review @svoinea changes?

[2016-06-10 19:17] karlcz commented on #433
I don't understand why we would go from 1 to 2 buttons.  Where did this requirement come from?

[2016-06-10 19:19] howdyjessie commented on #433
@karlcz I added the 2nd button of my own accord. This is not a strict requirement and is certainly up for debate.

[2016-06-10 21:11] karlcz commented on #433
I don't like the extra buttons.  I think it makes it cluttered and confusing for a naive user.  Perhaps, if these could be reduced to idiomatic icons w/ a tooltip and better button placement, it might be OK.

Right now, the buttons compete for attention with the `Submit Data` button.  If they were instead down next to the form it might make sense:
- A `Copy` button (usually some kind of binary fig

[2016-06-13 17:17] #429 closed

[2016-06-13 20:22] jrchudy commented on #417
Additional issues were pointed out in PR #438. That pull request was merged, closing this issue.

[2016-06-13 20:22] #417 closed

[2016-06-13 22:20] howdyjessie commented on #402
Updated PR #439 again. Please have a look when you can.

[2016-06-13 23:07] #434 closed

[2016-06-13 23:51] hongsudt commented on #402
@karlcz can you please review this?

[2016-06-14 00:11] carlkesselman commented on #446
I would find this document a bit easier to read if we had a brief description of the purpose of each annotation in each section.

[2016-06-14 00:47] hongsudt commented on #142
@cris is this still an issue?

[2016-06-14 01:11] hongsudt commented on #238
We won't fix this in the search app. Will address this in recordset.

[2016-06-14 01:11] #238 closed

[2016-06-14 01:20] hongsudt commented on #163
@ljpearlman Is this still an issue?

[2016-06-14 01:31] hongsudt commented on #219
Right.. This is done in record app. I am closing the issue.

[2016-06-14 01:31] #219 closed

[2016-06-14 01:32] hongsudt commented on #407
@chiragsanghvi please help me review this fix on rbk-dev.

[2016-06-14 01:33] hongsudt commented on #379
@chiragsanghvi please review this fix. THanks.

[2016-06-14 01:34] hongsudt commented on #291
@chiragsanghvi please review.

[2016-06-14 15:44] svoinea commented on #365
Fixed through commit ceef0411e647bdb0201adab76626fa2272d9878b
The primary keys were double encoded in the record links.
Ready for review.

[2016-06-14 15:52] svoinea commented on #398
Fixed through commit e13ac14b99b047648186c69cb498379c7d0a927c
Ready for review.

[2016-06-14 16:42] #291 closed

[2016-06-14 16:46] #379 closed

[2016-06-14 16:49] chiragsanghvi opened #448 "Viewer App is Not Rendering data for RBK"
The viewer app has an Angular error in the console.
[code]

Visit this url [https://dev.rebuildingakidney.org/chaise/viewer/#1/rbk:image/id=55](https://dev.rebuildingakidney.org/chaise/viewer/#1/rbk:image/id=55).

Here's the screenshot of the page.

![rbk](https://cloud.githubusercontent.com/assets/1658152/16051526/0aab35d6-3215-11e6-8aa9-d9616caa8d31.png)

[2016-06-14 18:31] karlcz opened #449 "Ignore annotation not working in data-entry"
1. Go to https://synapse-dev.isrd.isi.edu/chaise/data-entry/#2/Zebrafish:Subject
   - Notice that it is prompting for the `ID` column as a required field
2. Go to https://synapse-dev.isrd.isi.edu/ermrest/catalog/2/schema/Zebrafish/table/Subject/column/ID
  - Notice that it has the ignore on data-entry annotation

If I'm not confused, we already confirmed this to work previously and merged a PR for

[2016-06-14 18:38] karlcz commented on #365
Going to the same URL as in the bug description, latest master crashes with a blank page on the search app.

[2016-06-14 18:45] svoinea commented on #365
I think the URL mentioned above is wrong (probably copied from the URL box).
It should be:
https://synapse-dev.isrd.isi.edu/chaise/search/#1/Zebrafish:Subject?facets=(Subject:Issuer::eq::Dsy)&layout=table&page=1

[2016-06-14 18:47] karlcz commented on #371
@robes @shinyichen Could we patch the record app to be more consistent on this issue of ambiguous links?  I think either approach would work for now and would prefer that we fix it if not too difficult:

1. Change current code to express more specific entity linkage, since it seems the code is iterating over each link in the model (as it displays one query result per link).
2. Change current code

[2016-06-14 18:54] karlcz commented on #365
OK, it's a little weird that the column with the link has now changed to just the Issuer, but the link does work unlike before.

[2016-06-14 18:54] #365 closed

[2016-06-14 18:55] karlcz opened #450 "Search app fails silently on bad facets query parameter"
Going to a search URL that has the facets query parameter with url-escaped parentheses fails with a blank page rather than displaying error information and/or recovering by discarding the bad parameter and loading default facet view.

[2016-06-14 22:57] howdyjessie commented on #433
@karlcz How does this look? Does this reflect your description? The only caveat I'm seeing with the Remove button centered over the record is when the user starts working with multiple records and then the Remove and Copy buttons start melting together (see bottom-most screenshot). The buttons begin overlapping so icons are much more suitable here.

I'd like to use icons for the Remove and Copy bu

[2016-06-14 23:54] karlcz commented on #433
Oh, I wasn't even expecting to see a copy choice on every column but only on the last!  But this seems kind of interesting...

To address the crowding, another option would be to have a single "tools" sort of icon on each record that expands to have delete and clone options only when you click?

[2016-06-15 00:12] howdyjessie commented on #433
@karlcz Oooohh well.. I'm sure eventually someone would've asked for a per-record Copy button. :) I like the "tools" icon idea a lot. A "settings" gear or a wrench icon should suffice?

[2016-06-15 00:16] karlcz commented on #402
@hongsudt I commented on the PR itself and think I am waiting for further revisions to review and test.

[2016-06-15 01:52] howdyjessie commented on #433
@karlcz @hongsudt It turns out the trash icon is blue in RBK viewer, sigh. I really believe it should be red. Anyway, how does this look?

<img width="1440" alt="screen shot 2016-06-14 at 6 41 01 pm" src="https://cloud.githubusercontent.com/assets/4585431/16065591/12356000-3261-11e6-9451-f63295c254d5.png">

[2016-06-15 02:04] hongsudt commented on #433
This looks good to me..  One minor adjustment, can we move the submit data
button to be right aligned? So it is underneath the login?

On Tue, Jun 14, 2016 at 6:52 PM, Jessie Wong <notifications@github.com>
wrote:

[2016-06-15 02:07] hongsudt commented on #304
let's close this issue for now and reopen if needed.

[2016-06-15 02:07] #304 closed

[2016-06-15 02:12] #214 closed

[2016-06-15 02:16] hongsudt commented on #239
Will roll this to recordset. Close this issue for now.

[2016-06-15 02:16] #239 closed

[2016-06-15 02:17] hongsudt commented on #261
closing this issue for now..

[2016-06-15 02:17] #261 closed

[2016-06-15 02:21] hongsudt opened #451 "Record App V2"

[2016-06-15 17:13] svoinea commented on #144
Fixed in commit 729d28e1fd83768a46327a13f99f5a59a0227c20
The `showUnfilteredResults` option was added to the Chaise configuration file.
If present and equal `true`, data will be displayed in the search result table even if no filter was selected.

[2016-06-15 17:15] svoinea commented on #144
Assigning @karlcz for review.

[2016-06-15 17:38] karlcz commented on #144
I verified that it works, but I made on a comment on the commit.  I think the new function should be renamed before this is considered complete.

[2016-06-15 17:57] ljpearlman commented on #163
I don't know. @karlcz ?

[2016-06-15 19:37] karlcz commented on #163
I haven't observed it recently myself.  I think multiple problems with login flow have been identified and addressed, including potentially many concurrent fetches for preauth resource due to aggressive 401 response handlers to ajax calls.  I suggest we close this as out of sync and submit new bugs if we find problems with our current integrations...

[2016-06-15 19:37] #163 closed

[2016-06-15 23:37] svoinea commented on #144
Renamed `showUnfilteredResults` by `showupResults`. The `showResults` name was already used in a different context.

[2016-06-15 23:37] #144 closed

[2016-06-16 00:15] jrchudy commented on #442
https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2015-default , attaching the associated wiki page detailing the use case for this annotation.

[2016-06-16 19:03] howdyjessie commented on #433
@hongsudt Sorry for the late reply; how's this?
<img width="1430" alt="screen shot 2016-06-16 at 12 02 36 pm" src="https://cloud.githubusercontent.com/assets/4585431/16129623/4c62f22e-33ba-11e6-876b-5cadb1411256.png">

[2016-06-16 19:09] howdyjessie commented on #433
I'm currently working on the related issue of making delete operations more modular by wrapping the confirmation modal tool in a directive, but I'd like to open a separate issue for it.

[2016-06-16 22:31] svoinea commented on #450
Fixed through commit 7ad26bc4b2363341d79e17a2e152ac099833c593
In case of such an error, an error page is rendered containing the reason of it.
Example of such a message for the URL `https://synapse-dev.isrd.isi.edu/chaise/search/#1/Zebrafish:Subject?facets=%28Subject:Issuer::eq::Dsy%29&layout=table&page=1`:
[code]
@karlcz : I think it's better to display an error message and let the user correct i

[2016-06-16 23:10] jrchudy commented on #430
@robes do you want this to be a readme.md document that is meant to be used as documentation for developers or a User Guide that is going to be used to understand the work flow of the application?

[2016-06-16 23:29] jrchudy commented on #442
@robes, for data-entry how do we want to handle this? @hongsudt, @howdyjessie, and I discussed it after the division meeting.

If a user types in a url that is incomplete (`...\data-entry\` or `...\data-entry\#1` or so on), do we want to infer the table they want to go to by looking at the `Default` annotation for catalog, schema, and table? Or should we be sending the user back to the landing pag

[2016-06-17 00:20] robes commented on #430
Probably in between those, like administrators. People who are going to set up the app and need to know what annotations can be used with it.

[2016-06-17 01:07] robes commented on #442
I would favor one of two approaches here:
1. if they don't specify the `<schema>:<table>` then use the one specified in the Default annotation, or
2. just give an error page.

I would not do more than that, like giving a schema and table selector or redirecting back to a landing page. To me it just seems like this is more of an error to ever get to this page without it being a proper link.

I woul

[2016-06-17 01:15] jrchudy commented on #442
I agree with the case of data-entry that we don't want to infer a table the user wants to input data for. I would assume a user is only trying to go to data-entry to input data for a specific catalog, schema, and table. For data-entry showing error messages should be enough to notify the user that they are trying to navigate to somewhere they didn't expect and it wouldn't be useful getting default

[2016-06-17 01:22] jrchudy commented on #430
So more of a dev ops setup sort of document. I understand.

Where should this document live? Do we want a readme.md in the base folder of `data-entry` or should this be a wiki page?

[2016-06-17 02:32] hongsudt commented on #442
For the error message, upon clicking ok, it should direct me to the landing
page.  This error handling approach should be in the common module.

On Thu, Jun 16, 2016 at 6:15 PM, Josh Chudy <notifications@github.com>
wrote:

[2016-06-17 02:37] hongsudt commented on #433
@howdyjessie this looks good to me.

[2016-06-17 04:22] robes commented on #430
Should be a .md file either readme.md in data-entry (which should be renamed `recordedit` soon) or `recordedit.md` in the doc folder. Either way would make sense to me as long as all of the Chaise apps do it the same way.

On 6/16/16, 6:22 PM, "Josh Chudy" <notifications@github.com<mailto:notifications@github.com>> wrote:

readme.md in the base folder of data-entry

[2016-06-17 14:50] carlkesselman opened #453 "Add News to Explorer Landing Page"
We should have a status/news entry somewhere so that we can update the users as to what has new features or status is for GPCR.

[2016-06-17 14:52] carlkesselman opened #454 "Dashboard on Landing Page"
It might be useful to have a small set of statistics shown somewhere that shows for example the total number of constructions, biomass, etc.  The goal would be to give users an overall sense of the evolution of the data set and the idea of how much things have changed.

[2016-06-17 17:02] hongsudt commented on #344
Will not fix in the current record app, but move this to the new record app.

[2016-06-17 17:05] hongsudt commented on #345
@karlcz I am moving this feature to the new record app. Let me know if you need this for synapse in the current record app.

[2016-06-17 17:07] hongsudt commented on #432
@robes @karlcz Do we need this for synapse?

[2016-06-17 17:13] hongsudt commented on #146
duplicate with #345.

[2016-06-17 17:13] #146 closed

[2016-06-17 17:13] hongsudt commented on #345
More example, see #146.

[2016-06-17 17:14] karlcz commented on #432
I don't need this in the short term as long as the ignore annotation w/ contexts works properly.

[2016-06-17 17:48] crisaless commented on #142
yes, still an issue

[2016-06-17 19:39] jrchudy commented on #449
This issue is addressed in the latest [commit](https://github.com/informatics-isi-edu/chaise/commit/7f95ca0dc7e1e10ef535ab3850c1b528dc0a66e3). I wrote a `.includes()` function for the annotations object in ermrestJS. When using it in chaise, I used `.includes()` (plural) in `dataEntry.app.js` and `.include()` (singular) in `form.controller.js`.

Very simple syntax error that I and my reviewer didn

[2016-06-17 19:42] jrchudy commented on #449
Assigning to @karlcz so that you can test it and verify that it's working properly again. This can be tested from my folder on the synapse sever [here]9https://synapse-dev.isrd.isi.edu/~jchudy/chaise/data-entry/#2/Zebrafish:Subject) or wait until the hourly update.

[2016-06-17 23:15] howdyjessie commented on #448
@chiragsanghvi The fix has been pushed to `master`. If you visit [the link you provided](https://dev.rebuildingakidney.org/chaise/viewer/#1/rbk:image/id=55), Viewer should be rendering data now.

[2016-06-18 00:04] jrchudy opened #455 "Video content auto downloads when navigating to record page"
When navigating to [this](https://dev.isrd.isi.edu/chaise/record/#1/legacy:dataset/id=4277) record, a video is automatically downloaded. This was found in Chrome.

[2016-06-18 00:04] karlcz commented on #449
Thanks it worked for me.

[2016-06-18 00:04] #449 closed

[2016-06-18 00:07] karlcz commented on #450
ok

[2016-06-18 00:07] #450 closed

[2016-06-18 00:13] hongsudt commented on #86
Won't fix in the current record. Move the functionality to record 2.

[2016-06-18 01:38] howdyjessie opened #456 "Record 2, Round 1"
**General**
- [ ] Set up unit test structure? (see Viewer app)
- [ ] As close to 100% unit test coverage
- [ ] All special characters in the column names and values shown in the URL are escaped properly (#373)

**Setting Up the App / Config & Run Blocks**
- [x] When parsing the URL to determine the requested entity, Common tasks like getting the catalog number, schema name, and table name, and get

[2016-06-18 02:26] karlcz commented on #456
Every single reference to an annotation other than 2015:... or 2016:... as defined in the ermrest/user-doc/annotation.md MUST be removed or replaced.  This new app should not be implementing *any* pof the legacy annotations from older apps.

[2016-06-20 17:21] hongsudt opened #457 "viewer: use different glyphs for the arrow annotation"
When an image is zoomed all the way out, Jill complains that the current arrow icons obscure part of the image.. She asks whether we can use a different glyph or make this smaller or transparent.

If this is difficult to achieve, maybe the best way to deal with this is to have an on/off switch to control what get displayed on demand?

[2016-06-20 17:29] meihuisu commented on #457
The thing to do is to enable visiblility control on annotation instead of changing glyph at this point.
then get the user feedback before deciding which to do next.

the visibility feature is there in viewer already. I have shown it to Jessie and Joshua before the break. They just
have to add the control logic on Chaise side.

mei

----- Original Message -----
From: "Hongsuda" <notifications@githu

[2016-06-20 17:32] hongsudt commented on #457
is there a way for you to control the icon transparency?

On Mon, Jun 20, 2016 at 10:29 AM, meihuisu <notifications@github.com> wrote:

[2016-06-20 19:33] meihuisu commented on #457
It can be controlled  in CSS

----- Original Message -----
From: "Hongsuda" <notifications@github.com>
To: "informatics-isi-edu/chaise" <chaise@noreply.github.com>
Cc: "meihuisu" <mei@isi.edu>, "Assign" <assign@noreply.github.com>
Sent: Monday, June 20, 2016 10:32:41 AM
Subject: Re: [informatics-isi-edu/chaise] viewer: use different glyphs for the arrow annotation (#457)

is there a way for you to

[2016-06-20 20:04] hongsudt opened #458 "record 2: display record title appropriately"
The title can be retrieved from an ermrestjs function https://github.com/informatics-isi-edu/ermrestjs/issues/49

The title should come from Tuple.displayName.

[2016-06-20 20:38] robes commented on #456
Regarding annotations. In general I'd like to consume more annotations (when applicable) at the ermestjs layer and reduce the amount of conditional logic in the application layer. This is possible when ermrestjs doesn't need to know the application context-specific annotations.

[2016-06-20 20:39] robes commented on #456
Also, we still do not have a specification for what the record app is and should support. This epic and the wiki page are written with underlying assumptions.

[2016-06-20 20:45] karlcz commented on #371
I guess we can convert this issue into requirements input to the replacement app?  @robes @hongsudt

[2016-06-20 22:07] robes commented on #456
Mike requests we make it easier to swap in or override style sheet stuff.

[2016-06-20 22:25] robes commented on #456
@howdyjessie @jrchudy This should be modular such that there is an 'app' that is a composition of 'components'. This round 1 essentially describes the component that does the core row display. The row display component should be usable not only in this record2 app but also if we were to plug it into the 2d image annotation viewer in the metadata tab. Hope this is clear. We can discuss this further

[2016-06-20 23:05] robes commented on #456
We also decided that this `record2` app can coexist with the `record` app. That way any of our CI servers can simply be configured to use record2 instead of record, if we want to test it out.

[2016-06-21 02:08] hongsudt opened #460 "record 2: display record table appropriately"
Use <table instance>.display_name which will always have a value.

[2016-06-21 17:57] karlcz opened #461 "RecordEdit should show inserted records after submit"
The ERMrest entity POST operation responds with the actual records that were created, including server-generated keys when the client is using the `defaults` query parameter.

After submit, the data-entry app should go to a recordset page filtered by the new row keys.  Currently, it seems to go to an unfiltered page which is confusing, particularly once the new rows won't show on the first page of

[2016-06-21 17:58] karlcz commented on #461
@hongsudt I think this improvement should be done soon as it affects usability for pilot projects.  I.e. I think it is a higher priority than the other new apps in the pipeline.

[2016-06-21 17:59] hongsudt opened #462 "review/update the structure of chaise config"

[2016-06-21 18:03] hongsudt opened #463 "record2: show a tooltip if a table or column of the main entry has comment resource"
This tooltip should appear when moused over. The tooltip behavior/styling should be in the common module. Tooltips in all apps should have the same styling and bahavior.

This is related to ermrestjs feature https://github.com/informatics-isi-edu/ermrestjs/issues/54

[2016-06-21 18:05] hongsudt commented on #461
@jrchudy @howdyjessie one of you should take a look at this.

[2016-06-21 18:09] karlcz opened #464 "Recordset handling of filters inconsistent in URL, permalink"
If I go to the URL https://synapse-dev.isrd.isi.edu/chaise/recordset/#2/Zebrafish:Subject/Issuer=Cza the filter predicate seems to be ignored.  The page shows unfiltered results and the Permalink lacks the predicate: https://synapse-dev.isrd.isi.edu/chaise/recordset/#2/Zebrafish:Subject

If I go to the URL https://synapse-dev.isrd.isi.edu/chaise/recordset/#2/Zebrafish:Subject/Issuer::eq::Cza the p

[2016-06-21 18:10] karlcz commented on #461
BTW this feature will depend on the recordset feature to accept filters in the URL.  It exists but is a little buggy as described in #464

[2016-06-21 18:18] howdyjessie commented on #461
@robes, @jrchudy, and I have discussed this bit before but we landed on simply redirecting to the table, unfiltered, because recordset doesn't support `::leq::` and `::geq::` yet. (Are `::leq::` and `::geq::` even the right operators to use in this situation?)

[2016-06-21 18:24] karlcz commented on #461
No, exact equality is the right operator.  It should be a disjunction of several keys, not a range.  (You cannot assume that server-generated keys are in contiguous and non-overlapping orders for multi-row insert...)

[2016-06-21 18:39] howdyjessie opened #465 "Support disjunctive filters"
Currently the recordset app supports conjunctions but not disjunctions. The recordedit/data-entry app needs the disjunctive filters in order to display a recently submitted set of records. #461 has more related info.

[2016-06-21 18:41] howdyjessie commented on #461
It turns out recordset doesn't support disjunctive filters yet, so this issue depends on #465.

[2016-06-21 18:44] howdyjessie commented on #465
@hongsudt This issue needs to be completed before #461, which in turns should be completed soon [according to](https://github.com/informatics-isi-edu/chaise/issues/461#issuecomment-227520749) @karlcz.

[2016-06-21 18:50] karlcz commented on #465
The ermrest disjunctive operator is `;` so I suggest we use the same syntax here to avoid confusion, i.e. `.../recordset/Schema:Table/Col=val1;Col=val2` with the same decoding logic as elsewhere:

1. Split the filter path on `/` to get a list of expressions which are to be conjoined
2. Split each expression on `;` to get a list of predicates which are to be disjoined
3. Split each predicate by loo

[2016-06-21 19:28] robes opened #466 "Common library function for parsing URL fragments"
One of the things that should be refactored in Chaise and we can start on this with the record2 app, is to factor out the URL (fragment) parsing into the common library.

I also have a proposal on the table to write a parser in ermrestjs, something I’ve considered doing for a long time, so that we have one parser for URL fragments. See this and comments are welcomed.

https://github.com/informatic

[2016-06-21 19:29] robes commented on #466
This should also help to address issue #465.

[2016-06-21 20:45] karlcz commented on #442
Shouldn't we remove the data-entry tag from this since we've decided that data-entry won't support default schema nor table?

[2016-06-21 20:51] karlcz commented on #350
Updating the name of this issue and its tags to reflect that it discusses UX requirements for record2, since we're not going to fix it on record.

[2016-06-21 20:52] karlcz commented on #297
Should this issue be retargeted to record2 app?

[2016-06-21 20:52] karlcz commented on #189
Closing as wontfix.

[2016-06-21 20:52] #189 closed

[2016-06-21 20:54] karlcz commented on #149
I think this is going to be another wontfix, right? @robes @hongsudt   if so, we should tag it and close it.

[2016-06-21 20:58] karlcz commented on #197
If we continue the search-within story here, it seems it will involve record2 and recordset:

1. Record2 needs to form appropriate recordset links to restrict a recordset by path context.
2. Recordset needs to allow its search options to compose with the existing path context.
3. Eventually we need to understand the UX around visually describing the search context and/or allowing revision or "go b

[2016-06-21 20:59] karlcz commented on #410
I think this is a duplicate of #149 right?

[2016-06-21 20:59] #410 closed

[2016-06-21 21:01] hongsudt commented on #149
Yes.. I have to log this in the record app wiki first, and then I will
close it.

On Tue, Jun 21, 2016 at 1:54 PM, Karl Czajkowski <notifications@github.com>
wrote:

[2016-06-21 21:02] karlcz commented on #391
I think this should be closed wont-fix as we are planning to support the `2015:display`.`name` annotation going forward on new apps and there is no intention to change the legacy behavior of the search app. It will be replaced by an app that follows the new style.

[2016-06-21 21:04] karlcz commented on #396
I think this should be converted into a record2 and recordset requirement.  Any time we present a tabular result, the tables should offer a way to navigate to each row's record app no matter how the presentation has been tweaked or elided by annotations.

[2016-06-21 21:06] karlcz commented on #440
@robes @hongsudt I'm not sure whether to close this as wontfix or turn it into a record2 requirement that table layout be more sensible and responsive to its content...?

[2016-06-21 21:18] jrchudy commented on #442
Looking into this issue for recordedit (data-entry) helped us to realize that recordedit won't support this default behavior. To handle the default behavior for recordedit, we decided to notify the user and redirect them to the landing page. This is done in PR #467. Removing the `data-entry` tag as this no longer pertains to it.

[2016-06-21 23:00] jrchudy opened #468 "Rename data-entry app"
We want to rename the data-entry app to recordedit. Creating this issue to track the work.

[2016-06-21 23:47] robes commented on #462
It will be some type of Angular provider, probably a config provider.

[2016-06-21 23:48] jrchudy commented on #468
This issue is resolved by PR #470. I changed everything in the Chaise code for using data entry, the only thing left to change is our links to specific data entry forms. I believe @karlcz has some links in the landing page for synapse that use the data-entry form.

[2016-06-22 00:50] #468 closed

[2016-06-22 01:03] hongsudt opened #471 "record 2: display record columns in the right order"
- [x] order : This is related to https://github.com/informatics-isi-edu/ermrestjs/issues/51
- [x] display name : https://github.com/informatics-isi-edu/ermrestjs/issues/60
- [ ] ~~whether to display a column with null value : https://github.com/informatics-isi-edu/ermrestjs/issues/53~~ See #474

[2016-06-22 01:06] hongsudt commented on #465
@howdyjessie can you take on this task or does it have to be @shinyichen ?

[2016-06-22 01:24] hongsudt opened #472 "record 2: display the column content correctly"
This is related to the issue https://github.com/informatics-isi-edu/ermrestjs/issues/52

[2016-06-22 01:43] hongsudt commented on #258
@howdyjessie mentioned that the getGoAuth in dataEntry and viewer app are separated from @svoinea getGoAuth.

Since you implement the same functionality of his login, can you review this and close the issue?

[2016-06-22 16:55] hongsudt opened #473 "recordset, round 1: basic annotation"
**Resultset**
- [x] Display row name (a.k.a, title):
  * Annotation: `tag:isrd.isi.edu,2016:table-display` `row_name`
  * Implementation: ermrestjs`Tuple.displayname`
- [x] Display record table name:
  * Annotation: `tag:misd.isi.edu,2015:display` `name`
  * Implementation: ermrestjs `Table.displayname`
- [x] Show the correct column name
  * Annotation: `tag:misd.isi.edu,2015:display` `name`
  * I

[2016-06-22 17:03] hongsudt commented on #404
@karlcz can this be moved to record2 or do we need to fix this in record for synapse?

[2016-06-22 17:07] hongsudt commented on #125
duplicated. Already have an issue for markdown support.

[2016-06-22 17:07] #125 closed

[2016-06-22 17:43] howdyjessie commented on #258
@hongsudt Sure thing!

[2016-06-22 18:47] howdyjessie commented on #465
@hongsudt No I can do it too. :)

[2016-06-22 20:09] jrchudy commented on #430
I added a `readme.md` doc to the `/recordedit` folder. Could @howdyjessie, @hongsudt, and @robes look at the file to see if I missed anything that is worth documenting? File can be seen [here](https://github.com/informatics-isi-edu/chaise/tree/master/recordedit) below the grid.

[2016-06-22 23:23] crisaless commented on #142
I just committed some minor CSS tweaks to fix this:

https://github.com/informatics-isi-edu/chaise/commit/ad049fd291d1d5716978deffbfe2ddee77a8e80e

[2016-06-23 00:46] hongsudt commented on #465
We decided at the meeting today that @howdyjessie will work on this.

[2016-06-23 00:53] hongsudt commented on #242
@crisaless are you stll planning on doing this or should we close this?

[2016-06-23 00:56] hongsudt commented on #440
Mark this as wishlist and put it in the record 2 wiki page.

[2016-06-23 00:56] #440 closed

[2016-06-23 01:00] hongsudt commented on #252
Tag this as wishlist, and move it to recordset feature list on the wiki.

[2016-06-23 01:00] #252 closed

[2016-06-23 01:01] hongsudt commented on #316
tag as wishlist and keep track of this on the recorset wiki page.

[2016-06-23 01:01] #316 closed

[2016-06-23 01:05] hongsudt commented on #149
tag as wishlist and keep track of it on record 2 wiki page.

[2016-06-23 01:05] #149 closed

[2016-06-23 01:05] hongsudt commented on #370
@karlcz do we need to fix this for synapse or it can be waited until record2?

[2016-06-23 01:10] hongsudt commented on #371
tag as wishlist, and keep track of this in record2 wiki page.

[2016-06-23 01:10] #371 closed

[2016-06-23 01:20] hongsudt commented on #396
tag with wishlist and track in the wiki pages.

[2016-06-23 01:20] #396 closed

[2016-06-23 01:23] hongsudt commented on #442
removed recordsset tag since it has its own issue already.

[2016-06-23 01:24] hongsudt commented on #172
@robes should we try to do this with the record2?

[2016-06-23 01:26] hongsudt commented on #254
tagged with wishlist and move this to recordset feature list.

[2016-06-23 01:26] #254 closed

[2016-06-23 01:42] hongsudt opened #474 "record 2: handle whether to display null value"
If the null annotation/configuration exist, do not display null value columns on the page.

[2016-06-23 01:52] karlcz commented on #474
This will actually be something like a "sparse" annotation to say we want to prune out nulls.

[2016-06-23 01:52] karlcz commented on #370
I think we can try to live with it until record2

[2016-06-23 01:57] hongsudt opened #475 "deploy iobox process flow to SIMM"
- [ ] @akumar03 creates a new iobox config file (pointing to Dev)
- [ ] Jeff set up iobox related folders
- [ ] Jeff goes over the process with SIMM
- [ ] Test the upload process and notification at SIMM  (on Dev)
- [ ] Deploy to staging and then production

[2016-06-23 17:03] crisaless commented on #242
yes - the padding issue really bugs me in particular so I'll try to knock that out today/tomorrow.

[2016-06-23 17:34] RFSH commented on #466
I noticed that we are using `window.location.origin` in the code that is used for URL parsing.

Since [it is not supported by IE11- and has some issues with IE11](https://developer.mozilla.org/en-US/docs/Web/API/Window/location#Browser_compatibility), we should make sure that it is defined:

[code]

[2016-06-23 17:53] robes opened #476 "a common service to support permanent link"
We should factor out the permalink as a common library service. Probably also as a directive that we use in our apps. As we move toward a more modular design of our applications, we may have multiple components that need to influence what goes into the permalink. For instance, let's say we have a record app with nested tables in it. Let's say the nested tables have the option to transpose (this is

[2016-06-23 18:17] karlcz commented on #476
I think we should try to separate the back-end concepts from front-end concepts here.  E.g. there is no concept of "transpose" in ERMrest nor ermrestjs.

1. Have a core fragment ID structure that maps to ermrestjs/ERMrest concepts
  - Catalog ID
  - Entity path which can have links and filters in general case
  - Optional sort modifier
  - Optional paging modifier and limit parameter for page size

[2016-06-23 18:42] howdyjessie commented on #430
I made a minor update to the document regarding ignore annotation contexts.

[2016-06-23 18:43] crisaless commented on #242
Just committed a fix.

[2016-06-24 00:43] karlcz opened #477 "Recordedit sends invalid floating point value"
Entering data for a table with a floating point column, I can get the UI to send an invalid empty string literal `""` instead of a `null` when the entry field is empty.

1. Fill in a valid value such as `12`
2. Click the duplicate last record button
3. Edit the field in the new (duplicated) record to delete all the characters
4. Press submit

Instead of sending a `null` in the JSON input, it sends

[2016-06-24 04:31] robes commented on #476
Thinking about my original proposal, I realized that this is not just about the permalink but also about the window location itself. We might identify multiple aspects as:

1. presentation of the permalink (a _permalink directive_ and or _service_)
2. interface to the `window.location` (a new and improved _location service_)
3. coordinating updates to the location (a _location coordinator service_

[2016-06-24 09:00] howdyjessie commented on #433
It seems like the review phase is done. Closing this issue now. Feel free to reopen this issue if anyone wants to add more comments.

[2016-06-24 09:00] #433 closed

[2016-06-24 09:00] #430 closed

[2016-06-24 16:59] hongsudt commented on #443
Since we need some time to design the ACL, I will defer this issue until we have a good solution. As a stop gap, we will use chaise config parameters to indicate to the apps whether to allow creation/edition/deletion.
[code]
I don't think we need different params for create and delete. If editing is present, it should allow the rest.
If the config param doesn't exist, treat it as false.