[2017-07-20 21:32] RFSH commented on #1209
The change in ermrestjs is merged (#459). Now ermrestjs will only return raw values for file assets in entry contexts.

[2017-07-20 23:02] robes opened #1214 "travis install and config needs cleaning up"
https://github.com/informatics-isi-edu/chaise/blob/master/.travis.yml#L15-L39

- [ ] References to pg 9.4 and 9.5 mixed in there. Should attempt to bump it up to 9.6 anyway.
- [ ] `installTravis` should be dropped in favor of `install`
- [ ] travis.yml should make sure /var/www is there, before calling make install

[2017-07-20 23:08] nitishksahu commented on #1130
The changes for this issue has been merged with master.

Assigning this to @robes to verify.

[2017-07-21 00:24] robes commented on #1130
Verified on dev.facebase.org. Worked for me. Thanks

[2017-07-21 00:24] #1130 closed

[2017-07-21 19:43] crisaless opened #1215 "generate 'canned' search on GUDMAP home page"
Users would like to be able to search by "gene" or "anatomy" from the new GUDMAP home page. I've added the form elements for this (see https://dev-gudmap3.gudmap.org/ ) and now it just needs some javascript help to hook it up to a long list of genes and anatomy, each mapped to a link into chaise.

You can find the elements in the gudmap-www repo in the file used to generate the homepage:

https://

[2017-07-21 20:21] carlkesselman commented on #1215
This should be made to work with the new vocabulary tables we have just created that include synonyms.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University

[2017-07-22 01:04] jrchudy commented on #1212
Exploring how to address this issue turned up some interesting issues with the current `chaise` implementation in `form.controller.js`.

There are 3 solutions that were explored:
 1. Use [angular input modified](https://github.com/betsol/angular-input-modified). This approach didn't seem to work as we wanted it to. It would fire off input changed events when the form loaded in edit mode. It also f

[2017-07-24 19:09] amitjha21 commented on #1195
@hongsudt
Please review the markdown help page.

[2017-07-24 20:57] #1173 closed

[2017-07-24 22:25] hongsudt opened #1217 "The composite key values are not assigned to the right slot"
https://dev.rebuildingakidney.org/chaise/recordedit/#2/RNASeq:scRNA_File

This table requires 1 composite fk which consists of 3 fields.. Choosing an entry leads and the app generates the corresponding error message. Note: I have another table that has 3 keys and it didn't have the same issues..

From the error below, the value for the Sample_Accession_ID and Single_Cell_Metrics_Accession_ID are s

[2017-07-24 22:41] jrchudy commented on #1217
Looks like the Sample Accession ID and Single Cell Metics Association ID got mixed up.

![image](https://user-images.githubusercontent.com/2932600/28548025-8da413e4-7086-11e7-8657-f2938c3fe71d.png)

[2017-07-25 20:34] #1193 closed

[2017-07-26 00:56] RFSH opened #1219 "Recordset Next And Previous Buttons"
When the page doesn't have any next or previous button we are completely hiding the paging controls. We should just disable them. Removing the last check in [this line](https://github.com/informatics-isi-edu/chaise/blob/master/common/templates/recordset.html#L57) should solve this bug.

[2017-07-26 00:57] jrchudy commented on #1217
The problem for this issue can be traced back to [ForeignKeyRef](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/core.js#L2734-L2774)'s constructor. In the constructor, `jsonFKR.foreign_key_columns` and `jsonFKR.referenced_columns` are both in the right order. But when those two column sets are copied to `foreignKeyCols` and `referencedCols`, the order is not properly preserved.

[2017-07-26 17:35] nitishksahu commented on #1119
I believe this issue is resolved with the code changes done for #1130

[2017-07-26 20:51] RFSH commented on #1217
@hongsudt This is fixed now. Can you please verify?

[2017-07-26 22:12] jrchudy commented on #1202
Action columns in the related tables should be tested for both inbound foreign related tables and association tables in the `related-table-actions` spec.
Inbound related tables:
 - View should show the related entity
 - Edit should allow the editing of the related entity
 - Delete should delete the related entity
Association related tables:
 - View should show the association entity
 - Edit should

[2017-07-27 00:09] #1219 closed

[2017-07-27 00:37] nitishksahu commented on #1202
Every action item for an association lets you manipulate the association table, except **View** (Eye Icon)
- Add: Will let you add a relationship between the base and related table.
- Edit: Will let you edit a relationship between the base and the related table.
- View: Will land you the record page of the related entity (Leaf table) of the association.

[2017-07-27 01:27] jrchudy commented on #878
Before total count comes back:
Displaying X records
After:
Displaying X from Y records

[2017-07-27 18:26] RFSH commented on #1152
I am closing this issue since all the test cases are done.

[2017-07-27 18:26] #1152 closed

[2017-07-27 19:06] hongsudt opened #1221 "disble login button after it is clicked"
When the button is clicked twice, a terminal error is generated. This happens to me quite often as my browser is a bit slow. We should prevent this problem.

[2017-07-27 20:48] hongsudt commented on #1135
@jrchudy @RFSH can you answer @karlcz 's question?

[2017-07-27 20:49] #1132 closed

[2017-07-27 20:49] hongsudt commented on #1128
The defaults are working properly on rbk-dev.

[2017-07-27 20:49] #1128 closed

[2017-07-27 20:49] #980 closed

[2017-07-27 20:49] #1136 closed

[2017-07-27 20:49] #1094 closed

[2017-07-27 20:50] #1174 closed

[2017-07-27 20:50] hongsudt commented on #1195
The help page looks really nice.

[2017-07-27 20:50] #1195 closed

[2017-07-27 20:51] jrchudy commented on #842
With the `chaise-config` option defined, the footer appears properly at the bottom of each of our applications.

[2017-07-27 20:51] #842 closed

[2017-07-27 20:51] jrchudy commented on #1101
I can confirm this is working now after adding the chaise config option to my own chaise config on dev.isrd. The test case we added also shows this is working.

[2017-07-27 20:51] #1101 closed

[2017-07-27 20:53] jrchudy commented on #1133
When selecting the navbar login button, it properly opens a new window that proceeds through the login flow. Upon successfully logging in, the window closes and the application page refreshes with a valid session.

[2017-07-27 20:53] #1133 closed

[2017-07-27 20:54] hongsudt commented on #1098
@nitishksahu  Please change the error text to
"There are more than 1 record found for the filters provided.
Click OK to show all the matched records."

[2017-07-27 20:54] jrchudy commented on #930
I can verify that this button shows up properly and that it downloads the full csv data for the current data set rather than just what is displayed in the recordset page.

[2017-07-27 20:54] #930 closed

[2017-07-27 20:57] hongsudt commented on #1182
@RFSH please review this and close it.

[2017-07-27 20:58] RFSH commented on #1135
The code first check if the URL is absolute or not (by matching `^(?:[a-z]+:)?//` regular expression). If it is, it won't make any changes to the URL, otherwise it will append the server uri.

[2017-07-27 20:58] jrchudy commented on #1204
When starting at 100% zoom level and zooming out to 33%, the footer moves a little bit on the `recordset` page. It starts to move up with the page content.

When looking at `record`, if you start zoomed out, the footer does flicker still while the content is loading.

[2017-07-27 21:12] amitjha21 commented on #1204
Most of the sites have footers stick when zoomed out. I think we should have that way too.
e.g.
github
![image](https://user-images.githubusercontent.com/9977014/28692483-9e37b8a4-72d5-11e7-9c2d-3cb59aab3b90.png)

[2017-07-27 21:15] jrchudy commented on #1204
@amitjha21 that seems to be the case when I was zooming out on the recordset page. That case seems reasonable. But the case where the footer was flickering while page content was loading on `record` worries me a little bit.

[2017-07-27 21:17] karlcz commented on #1135
This sounds like the wrong approach to me.

What we want is to store just the path component returned from Hatrac
so that there IS NOT a scheme or hostname component in the stored
column value in ermrest.

If we want to make this configurable, we need to adjust the asset
annotation to either have a boolean flag or to define some mustache
environment and template where the DBA can decide which comp

[2017-07-27 21:32] amitjha21 commented on #1204
It is not reproducible. I tried `record` on Linux and Win machine. it worked (both on `chrome` and `FF`.
Maybe I will try them in few Mac systems.

**And just to highlight, flickering only happens when footer has `li` tag.**

[2017-07-27 21:33] jrchudy commented on #1204
Maybe that's the case I'm seeing. I still have my footer defined as:
`* Please check [Privacy Policy](/privacy-policy/){target='_blank'}`

[2017-07-27 22:12] nitishksahu commented on #1119
@robes can we close this too?? this seems to be fixed now.

[2017-07-27 23:16] karlcz commented on #1209
OK, I confirmed three different test scenarios on my test system
1. Edit an existing record to change some other field and the existing asset url remains stored
2. Copy an existing record and the existing asset url is copied and stored
3. Clear the upload control and the existing asset url is discarded

[2017-07-27 23:16] #1209 closed

[2017-07-28 04:57] robes commented on #1119
yes, thanks

[2017-07-28 04:57] #1119 closed

[2017-07-31 18:36] RFSH opened #1222 "500 Error in Search Testcases"
Search is returning 500 error in test cases. You can see the sample data that test case has created [here](https://dev.isrd.isi.edu/~ashafaei/chaise/search/#30554/product-search).

[2017-07-31 18:43] hongsudt commented on #1222
@svoinea please take a look at this problem.. We are not sure whether this is relevant to the new ermrest version..

[2017-07-31 18:50] hongsudt opened #1223 "properly handle 403 on recordedit"
It seems like a terminal error was shown on recordedit when users were not authorized to edit the record. We should properly show a proper error message..

![image](https://user-images.githubusercontent.com/414732/28793007-7732ed46-75e6-11e7-91ac-b04410baf38d.png)

[2017-07-31 18:50] karlcz commented on #1222
If this is reproducible the first step would be to capture the server error log which ought to include more error information from the ermrest service, i.e. a Python stack trace and exception information.

[2017-07-31 18:56] karlcz commented on #1222
Actually, the travis build already has the httpd server logs at the end.  This looks like an ermrest bug.  Please submit a bug report, including a small sample schema and request that can reproduce it independently of this whole test suite, i.e. just the necessary table and foreign key definitions used in the failing request.

[2017-07-31 22:38] hongsudt commented on #1217
Yes. This is now working as expected.

[2017-07-31 22:38] #1217 closed

[2017-07-31 23:01] RFSH commented on #1222
@karlcz
Created [ermrest#160](https://github.com/informatics-isi-edu/ermrest/issues/160) with schema an request.

[2017-08-01 00:36] hongsudt opened #1226 "integrate table directive with outbound/inbound fks"
Make sure that an array of tuples get returned..

[2017-08-01 00:41] hongsudt commented on #792
- integrate the row count, column min/max into the flow..
  - min/max will be used for default facet values
  - row count is used to display # of matches

[2017-08-02 00:11] crisaless opened #1227 "making "View" function more obvious"
Users aren't 'getting' that they should click the "View" icon to see a details page. Two options:

- Make button more obvious: change one of the classes on the "a" tag from btn-default to btn-primary.

- In addition, could replace <span class="glyphicon glyphicon-eye-open"></span> with the text "View Details"

[2017-08-02 17:48] nitishksahu commented on #1098
The changes are done and merged to master, assigning this to @hongsudt to verify.

[2017-08-02 23:59] jrchudy commented on #878
the corresponding PR has been merged. Closing this issue.

[2017-08-02 23:59] #878 closed

[2017-08-04 01:01] hongsudt opened #1229 "support an annotation to hide the "add" link on top of related table"
There can be multiple forging key constraints between the main entity and a related table. I want to be able to control the flow for creating new entries (through the use of the "add" link) in the related table.  Having "add" on all constraints is confusing.

Take a look at the example from rbk: sample, replicate, and file tables.

@karlcz should we add this annotation to the foreign key?

[2017-08-04 23:46] hongsudt commented on #1222
@RFSH are the search test cases still failing? If not, maybe we can close this issue?

[2017-08-04 23:50] hongsudt commented on #1111
@nitishksahu please investigate whether this problem still exists by following Laura's example.

[2017-08-05 00:31] RFSH commented on #1222
@hongsudt The test cases are passing now, I am closing this issue.

[2017-08-05 00:31] #1222 closed

[2017-08-05 00:32] nitishksahu opened #1230 "Adding a relation to an association table does not refresh the display in markdown display mode"
When we add a relationship to an association table, the heading of the table (showing `n` results) gets updated but the related entities are not updated.

Steps to replicate: (in rbk)
- go to https://dev.rebuildingakidney.org/chaise/record/#2/Protocol:Protocol/ID=15
- Add a relationship in `Protocol Keyword`
- When we return back to the record page, we see the count heading updated but the new rel

[2017-08-07 18:45] nitishksahu commented on #1215
A sample HTML file with a javascript function to pickup the value of the select box and the text box and to generate the `recordset` or `search` page link to chaise has been uploaded to `rbk-project/samples/`.

The function is available [here](https://github.com/informatics-isi-edu/rbk-project/blob/master/samples/index.html#L59,L77)

[2017-08-07 19:16] hongsudt opened #1231 "support adding a batch of pure and binary association entries"
For pure and association entries, when a user click "add", it should open up a multi-select modal and allow users to select a set of entities to be added at once. This feature will be useful for adding members to a collection..

We will probably have to deal with users choosing a subset of entities that have been previously added to the table.

[2017-08-07 23:22] hongsudt commented on #1215
@crisaless please close this issue once you confirm that the canned search is working.

[2017-08-08 01:13] crisaless commented on #1215
I've integrated it on the dev site but the result isn't turning out as I expected:
https://dev-gudmap3.gudmap.org/

I choose "Gene Symbol" and type "sox"
A new tab opens with this in the address bar: https://dev-gudmap3.gudmap.org/chaise/recordset/#2/Common:Gene/*::search::sox

Which seems right.

But then I end up with 'vanilla' Gene search with no results for just "sox":
https://dev-gudmap3.gudm

[2017-08-08 17:27] #1204 closed

[2017-08-08 18:52] nitishksahu commented on #1215
Its seems like that url is automatically getting redirected to `Gene_Expression:Gene_Thumbnail_Display` irrespective of the search parameter.

I just tried accessing `Gene` table of `Common` Schema using this link
https://dev-gudmap3.gudmap.org/chaise/recordset/#2/Common:Gene

And this redirects me to `Gene_Thumbnail_Display` table of `Gene_Expression`
https://dev-gudmap3.gudmap.org/chaise/records

[2017-08-08 18:58] karlcz commented on #1215
And to be clear, you mean Chaise is rewriting the location, not that
you're actually getting a redirect response from the server. Right?

[2017-08-08 19:12] nitishksahu commented on #1215
I do not see any `3XX` status code while trying to access `Common:Gene`, so I am assuming its chaise that rewriting the location

[2017-08-08 19:49] RFSH opened #1233 "Directive for Faceting"
Each Facet controller should have a list of applied filters and a controller for selecting new filters. This controller should show some useful aggregated information about available data. One of these controllers is going to be the list of distinct values with their count. This controller should have
- Searching capability
- Pagination
- Sorting capability.
- Ability to select a row (tuple).

The

[2017-08-08 19:50] RFSH commented on #1233
I wrote this issue before the discussion in the meeting, so some of the points are invalid.

[2017-08-08 20:27] hongsudt commented on #1215
We don't have this redirect issue on staging or production. So it is possible that @laura might have written redirect rules. It seems like the Gene_Expression:Gene_Thumbnail_Display looks similar to the Gene table..

@crisaless can you use staging for testing for now?

[2017-08-08 20:32] karlcz commented on #1215
I think people are being sloppy with terminology here.  There isn't
any evidence that it is an HTTP redirect.

Most likely, it's something in latest Chaise and/or annotations that
causes Chaise to improperly rewrite the window.location

[2017-08-08 20:52] hongsudt commented on #1215
ok. I just checked. Laura has an alternative table defined for Common.Gene. It seems like the alternative table implementation ignore the search parameter.

@crisaless can you use this path for gene?  https://dev.rebuildingakidney.org/chaise/recordset/#2/Gene_Expression:Gene_Thumbnail_Display/*::search::sox

[2017-08-08 22:42] crisaless commented on #1215
i've adjusted the search parameters and it's working much better now.

https://dev-gudmap3.gudmap.org/

Any ideas on the anatomy search or it's just what we are able to do for now?

[2017-08-08 22:49] crisaless commented on #1215
one more thing - the search form should be disabled until the user makes a selection in the dropdown list. @nitishksahu could you add that to the sample code?

[2017-08-08 22:53] hongsudt commented on #1215
Instead of that, @crisaless can you just set "Gene" to be used as a default. That's what people usually use for starting their search.

As for the anatomy, we will need to ask @ljpearlman when she is back. We can start the search box with just gene.

[2017-08-08 23:25] hongsudt commented on #1233
@RFSH @jrchudy please update the text above and also create a task list related to this issue..

[2017-08-08 23:27] crisaless commented on #1215
it's not a typical <select> form element - it's a dropdown menu via bootstrap and jquery. i haven't figured out how to make the searchParam for gene active by default but i'll keep tinkering.

[2017-08-08 23:30] hongsudt commented on #1215
@nitishksahu can you help figure out how to specify gene as a default?

[2017-08-08 23:43] nitishksahu commented on #1215
@crisaless I have updated the sample index file, please take a look [here](https://github.com/informatics-isi-edu/rbk-project/blob/master/samples/index.html#L60)

Integrating this change will always search for `gene` if the user does not make any selection from the dropdown

[2017-08-09 00:33] nitishksahu commented on #1215
@crisaless I have updated the sample file to always select `gene` by default.

Please take a look [here](https://github.com/informatics-isi-edu/rbk-project/blob/master/samples/index.html#L532)

With this, the page will always load with `Gene Symbol` as selected.

[2017-08-09 01:07] crisaless commented on #1215
Got it. I've integrated it on dev. Looks good. I'll test on staging next and then to production.

[2017-08-09 01:07] #1215 closed

[2017-08-09 18:24] RFSH commented on #1233
I am closing this issue since it's not relevant anymore. We're going to create a new "Page" like prototype in the ermrestjs, then we can reuse the current directive

[2017-08-09 18:25] #1233 closed

[2017-08-09 22:51] amitjha21 commented on #1227
Added `btn-primary` class in the ellipses template with `View Details` as the tool-tip for demo.

### [Example](https://dev.rebuildingakidney.org/~amit/chaise/recordset/#2/RNASeq:Sample@sort(Last_Modified_Timestamp::desc::,Accession_ID))

![image](https://user-images.githubusercontent.com/9977014/29146997-321d4438-7d19-11e7-9c39-1f0b548cfbf3.png)

[2017-08-10 00:24] hongsudt commented on #1227
can you make all three buttons look the same.

On Wed, Aug 9, 2017 at 3:51 PM, Amit Jha <notifications@github.com> wrote:

[2017-08-10 00:43] amitjha21 commented on #1227
Added `btn-primary` for all buttons.
![image](https://user-images.githubusercontent.com/9977014/29149624-36f06362-7d2a-11e7-8aae-efe389100037.png)

[2017-08-10 02:37] hongsudt commented on #1135
I think this is the current behavior. I am closing the issue.

[2017-08-10 02:37] #1135 closed

[2017-08-10 02:40] #1098 closed

[2017-08-10 02:41] hongsudt commented on #1182
@nitishksahu @RFSH is this task done? If so, please close it.

[2017-08-10 05:52] RFSH commented on #1182
It is done as part of #1218, but the PR is still pending other changes. That's why we haven't closed this issue yet.

[2017-08-10 22:16] jrchudy opened #1234 "Handle base type in input display mode for recordedit"
The `columnToDisplayType` function in `recordedit/form.controller.js` needs to be aware that if we don't know how to handle the type of a column, we should check it's base type and see if we can display that. This is so we can support user defined domain types better.

[2017-08-10 23:44] amitjha21 commented on #643
This has been merged to master. Assigning @hongsudt to verify and close it.

[2017-08-12 00:04] jrchudy commented on #1234
Closing this issue because the corresponding PR has been merged into master.

[2017-08-12 00:04] #1234 closed

[2017-08-14 21:34] robes opened #1238 "Fix "Download CSV" tooltip"
Right now it misleads the user.

![image](https://user-images.githubusercontent.com/4202842/29292714-080a1e72-80fd-11e7-90aa-d1ec6c8129f9.png)

It says it will download only the "displayed" results but it actually downloads _all_ results based on the current filters of the recordset page (minus the limit). One would expect that the "displayed" results means the limit filter too.

My preferred fix

[2017-08-15 17:58] nitishksahu commented on #1202
The test cases have been merged with master. Closing this issue.

[2017-08-15 17:58] #1202 closed

[2017-08-15 18:10] nitishksahu commented on #1182
The [PR](https://github.com/informatics-isi-edu/chaise/pull/1218) with these test cases have been merged to master, @RFSH can we close this issue now?

[2017-08-15 18:18] #1182 closed

[2017-08-15 18:26] nitishksahu commented on #1111
The issue is still reproducible, we do not see `Add` button to add entries to the association table when the associated table is annotated as `generated`

[2017-08-15 19:37] amitjha21 commented on #1227
This has been merged into master. Assigning to @crisaless to verify and close it.

[2017-08-15 19:58] crisaless commented on #1227
looks good, thanks.

[2017-08-15 19:58] #1227 closed

[2017-08-15 21:19] nitishksahu commented on #1111
I updated my previous comments, the application is working as we expect it to be.
- [Demo](https://dev.isrd.isi.edu/chaise/record/#32051/product-unordered-related-tables-links:accommodation/id=2004) -- The `association_table` is showing the associations.
- [Schema Defination](https://dev.isrd.isi.edu/ermrest/catalog/32051/schema/product-unordered-related-tables-links) -- `related_table` is marked

[2017-08-16 01:04] jrchudy commented on #806
While writing this directive, I realized that float and integer can't be handled in the same directive. Float will require a separate directive for showing properly.

[2017-08-16 17:59] nitishksahu commented on #1238
The changes for this issue has been merged to master.
[Link](https://dev.isrd.isi.edu/~nitish/chaise/recordset/#1/isa:dataset@sort(release_date::desc::,id))

Assigning this to @robes to verify and close.

[2017-08-16 18:11] robes commented on #1238
Looks good. thanks

[2017-08-16 18:11] #1238 closed

[2017-08-16 18:40] amitjha21 commented on #1231
Steps:

1. When `Add` button is clicked of pure and association related table it should open a modal pop up.
2. Modal pop up will display table with all permitted domain value for the field.
3. Multi-select checkbox should appear in the left most column in pop-up table .
4. Modal would be modified to accommodate **Submit** button (Existing `modal` directive to be modified).
5. After clicking **Sub

[2017-08-17 17:07] karlcz commented on #1229
@hongsudt

So, you want to hide the "add" link from the parent page, but still allow the foreign key to be populated by the user when editing the child record?  If so, this suggests it is not as simple as extending or reusing the "immutable" or "generated" concepts...

Is the idea that you're trying to impose a normalized hierarchy, i.e. only one of the outbound foreign keys is to the "parent" and

[2017-08-17 19:58] amitjha21 opened #1242 "Main entities are loading after the related record."
In `record` page entity records are loading after related tables with accordion. The issue sporadically occurs during initial page load.

[2017-08-17 20:05] karlcz commented on #1229
Assigning more people to discuss the desired behavior/scope before we design anything...

[2017-08-17 20:40] robes commented on #1229
@hongsudt I think this makes sense in general. I would agree. However, before I can really give more comments here I would like to see an example. You mentioned some from RBK but I don't have enough context about that to jump in yet. I could imaging from my FaceBase experience and even CIRM that there are FK references that we use just to 'aggregate' information up to the so-called Dataset entity

[2017-08-17 21:02] robes commented on #716
FK specific use case:
* For example, let’s say you have a FK reference with a ‘ON DELETE RESTRICT’ rather than CASCADE and you try to delete the referred entity. We get a conflict error and the user gets punted to the home page of the project.

[2017-08-18 00:59] nitishksahu commented on #1230
The changes for this issue has been merged with master, assigning this to @amitjha21 to verify and close

[Link](https://dev.rebuildingakidney.org/chaise/record/#2/Protocol:Protocol/ID=15)

[2017-08-18 21:23] amitjha21 commented on #1231
Few suggestions:

1. Avoid the UI shifting when selecting your first pick. Maybe put a placeholder at the top so that the page doesn't shift.
2. after submitting the main record page's nested entity does not reflect the change.
3. If you pick something that has already been picked you get a 409 : This needs more discussion on how to fetch only permissible domain values.

Future Changes:
1. Having

[2017-08-18 21:27] amitjha21 commented on #1230
The said feature works for *association table in markdown refresh*. However Same does not work for table with inbound foreign key association.

[2017-08-19 00:09] amitjha21 opened #1244 "Refresh issue after adding records in tables with Inbound Foreign key."
Table with inboundFK does not refresh display after adding row through `recordedit` app.
Existing piece of code works for `relatedRefernce` that does not include inbound FK entries (which appears as part of main entities after new feature has been added recently.)

**PS: Not to be confused with refresh issue in on-going development of multi-select add record through `record` app. (#1231).**

[2017-08-19 00:12] amitjha21 commented on #1230
Closing this as #1244 has been opened to take care of inbound foreign key association.

[2017-08-19 00:12] #1230 closed

[2017-08-21 20:48] hongsudt commented on #1203
This seems to be a transient issue. I am closing it for now.

[2017-08-21 20:48] #1203 closed

[2017-08-21 20:58] hongsudt commented on #499
I am assuming that this is the old search. Since we plan to roll out the new search app, I am closing this issue.

[2017-08-21 20:58] #499 closed

[2017-08-21 20:59] hongsudt commented on #241
@crisaless this issue is so old. Are you still planning to do this or should we add "won't fix" and close it?

[2017-08-21 21:01] hongsudt commented on #453
This issue is very old. I am assuming that the dashboards have addressed this issue and will close it.

[2017-08-21 21:01] #453 closed

[2017-08-21 21:30] hongsudt commented on #1114
@svoinea can you investigate this issue?

[2017-08-22 18:05] svoinea commented on #1114
The `search` application is using the `jQuery.ajax` library, and in case of success, it returns the response as a `JSON` object.

The displayed message shows:
- `ermrest` has returned `304 Not Modified`
- that means the client has already the valid cached response that will be treated as `200` OK success.
- the `jQuery.ajax` library will then parse the response to a `JSON` object
- somehow, instea

[2017-08-22 21:38] robes commented on #1214
@hongsudt This is one of those makefile & related issues.

[2017-08-22 21:39] robes commented on #1189
@hongsudt This is another one of those makefile & related issues.

[2017-08-22 21:39] robes commented on #266
@hongsudt This is another one of those makefile & related issues.

[2017-08-22 22:02] robes commented on #1214
Let me just start a branch.

[2017-08-22 22:26] robes commented on #1210
@hongsudt This is one more makefile related issue

[2017-08-23 09:31] amitjha21 commented on #1231
Refresh issue for added record fixed. (_Bullet 2 in above comment_)

[2017-08-23 19:04] hongsudt opened #1248 "support right justified menu on the navbar"
Currently, all the navbar are all left justified. I would like to be able to add a menu (i.e. help) but have it right justified instead. So we can use this menu to direct users to the data submission guide materials, etc.

[2017-08-23 19:05] hongsudt commented on #1223
@robes @karlcz should this case be handled under the catchall function?

[2017-08-23 20:20] jrchudy commented on #1223
I'm interested in how this was produced. Is this a case where the user navigated to `recordedit` with a valid session and then later had their session timeout before they submitted the form?

That's the only way I can think that the user could have gotten into this state where we weren't already handling it in `chaise`.

[2017-08-23 20:28] robes commented on #1223
Timeout would be a different error code and we should be handling that with a refresh, I believe already.

I'm curious how this occurred too, but I can give a very plausible way: user has permission to edit a record, navigates to the page, fills in the form, **concurrently** the DBA changes the ACLs on the table which restrict the user that was in progress editing.

I agree with Hongsuda that we n

[2017-08-23 20:34] karlcz commented on #1223
Any row-level authorization would put you in the same situation for
editing existing rows.

With the latest ermrest you could even formulate a test case for this
if we provision the right kind of ACLs in the catalog. But, you'd have
to configure the catalog with one client identity as the "owner" and
then run the tests as a different client identity (or anonymous) so
they could have fewer access r

[2017-08-23 21:02] #1214 closed

[2017-08-23 21:04] chiragsanghvi commented on #1210
This was fixed in this PR https://github.com/informatics-isi-edu/chaise/pull/1247. Now version is installed on all machines.

[2017-08-23 21:05] chiragsanghvi commented on #976
@karlcz Is this still an issue ?

[2017-08-24 02:25] hongsudt commented on #792
some more UX feedback:
- we should have the black x to clear the existing entry box for all types
- for checkbox, every time I check a box it goes back to the first page. Can we remember the current search page, so it won't bounce back?
- Can we make the area that summarizes existing filters sizable?
- The max of the facet pane width should be half a page
- There is a bug listing the current text

[2017-08-24 17:35] jrchudy commented on #792
This won't be possible because selecting a new checkbox to facet on will produce a new set of data. That set of data may or may not include the data from the previous query that was being shown.

Do you mean on each facet or above the `recordset` table? Either way, this should be simple.

[2017-08-24 21:09] hongsudt commented on #792
Based on the feedback today:
- Put the page title in the sticky area
- Search result area:
  - consolidate all filters associated with a facet together.
  - user should be able to click on the facet name to get to the facet list (auto-focus)
  - clear a facet, clear all filters associated with that facet?
- for text column
  - Show the checklist without any search box in a list format
  - All filt

[2017-08-25 16:05] amitjha21 commented on #1242
This has been merged. Assigning @robes to verify and close it.
https://dev.isrd.isi.edu/chaise/record/#1/isa:dataset/id=269
https://dev.rebuildingakidney.org/chaise/record/#2/Protocol:Protocol/ID=22

[2017-08-25 17:45] hongsudt commented on #1223
This user is a member of rbk-internal group, but not a kidney-writer group. This problem went away after the user was added to the writer group.

Could this be a bug in the canCreate?

[2017-08-25 18:00] robes commented on #1242
That link isn't working for me right now. But I've see it working correctly already in other deployments.

[2017-08-25 18:00] #1242 closed

[2017-08-29 01:00] amitjha21 commented on #1244
This has been merged into `master`. After initial review, seems working as intended. Closing it for now.

[2017-08-29 01:03] #1244 closed

[2017-08-29 17:24] #1210 closed

[2017-08-29 19:17] #1189 closed

[2017-08-30 22:19] RFSH commented on #792
- [ ] Move create button to the top of the page. (It should be optional in the recordset directive since it should still be functional in the modal).
- [ ] Make sure that the title and subtitle of the page wrap (not truncate).
- [ ] Fix the scroll in the recordset app (Left and right pane must be scrollable, not just table).
- [ ] Make sure that table is overflow-x:auto (right now it's disabled).

[2017-09-03 04:23] amitjha21 opened #1252 "Referential integrity error in recordset app while deleting related table entry."
1. Error while deleting records in `recordset`

The request conflicts with the state of the server. update or delete on table "experiment_type" violates foreign key constraint "dataset_experiment_type_experiment_type_fkey" on table "dataset_experiment_type"
DETAIL:  Key (term)=(Confocal microscope images) is still referenced from table "dataset_experiment_type".

proper error handling in case of u

[2017-09-04 20:07] nitishksahu commented on #651
The idea is to implement:
- When the user is not logged in, only `Login` link is shown at the rightmost of the navbar.
- Once the user is logged in, the `display_name` is shown along with a caret sign just beside it, clicking on the caret sign would open a submenu, with a `log out` link and all the group names like (`isrd_testers`, `gpcr_academia_readers`) the user is part of.

[2017-09-05 22:14] hongsudt opened #1253 "Incorrect display of immutable asset column in the edit context"
In the edit mode, if the file url exist, it should be shown under the uri column. On GPCR, the current uri (though exists) is not shown.
https://staging.gpcrconsortium.org/chaise/recordedit/#1/assets:cpm/sha256=00220d82f5b98a3f043eeac13b027b33a23dc9ad5ad597621fda16b064852103@sort(last_modified_timestamp::desc::,id)

Also, the (*) is not shown even though the uri column is NOT NULL.

Note: I only s

[2017-09-05 22:35] jrchudy commented on #1253
After debugging the root cause of this issue, I noticed that the underlying column in GPCR has the `immutable` annotation.

This uncovered some other bugs in `recordedit` though.
 - The `*` for required is not showing up properly
 - The input field is not disabled properly (button as well)
 - The input field does not show the original value properly

[2017-09-05 23:23] karlcz opened #1254 "Truncated rendering of "automatically generated" label in recordedit"
In my test server, I am seeing some rendering/styling problems.  For example:

- https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Image%20Pair%20Study

The `automatically generated` text looks clipped both on the left and the bottom on Firefox.

[2017-09-05 23:24] karlcz commented on #1254
![clipped](https://user-images.githubusercontent.com/1075148/30087657-bab4e984-9256-11e7-8808-83dd7f1ef0c1.png)

[2017-09-06 01:37] hongsudt commented on #1248
I decided to close this issue since we can get away of doing this now.

[2017-09-06 01:37] #1248 closed

[2017-09-06 01:38] hongsudt commented on #1252
This issue is the same as #716.. Will close this issue.

[2017-09-06 01:38] #1252 closed

[2017-09-06 01:40] hongsudt commented on #716
FK constraints use case:

The request conflicts with the state of the server. update or delete on table "experiment_type" violates foreign key constraint "dataset_experiment_type_experiment_type_fkey" on table "dataset_experiment_type"
DETAIL:  Key (term)=(Confocal microscope images) is still referenced from table "dataset_experiment_type".

[2017-09-06 23:32] jrchudy commented on #792
@RFSH as I start working on a new task I will mark it in the above list. I am working from top to bottom.

[2017-09-07 01:39] hongsudt opened #1255 "The default display of inline inbound fk should be a list"
Currently, a tabular format is displayed instead of a list of row names. Please fix asap.
https://dev.rebuildingakidney.org/chaise/record/#2/RNASeq:Sample/Internal_ID=d18_batch4

Also when it is in a tabular format, the position of Add | View More should be on top of the table, not next to the table.

[2017-09-07 06:55] amitjha21 commented on #1255
There is no accordion for tables that are appearing as part of the main entity; if `Add | View More` comes on top of the table it will create extra white space on the top. To utilize this space we had decided to add all action items next to the table.

[2017-09-07 19:24] RFSH opened #1256 "More Options In Error Modal along with table displayname in the message"
Provide more options in the terminal error modal based on the app. For example in read only context we can have a retry/reload button. Currently we have just two options:

-  `ok` button which will change the page location to a url that is defined in chaise config or just the root.
- Dismiss button which will be available if `allowErrorDismissal` is available in the chaise config.

**Summary**

Th

[2017-09-07 20:46] jrchudy commented on #792
Functional changes:
 [ ] Create button needs to use on focus and invalidate logic
 [ ] Edit button needs to use a url that doesn't include facets *OR* `recordedt` understands how to parse the faceting hash structure in the uri

[2017-09-07 22:16] hongsudt opened #1257 "faceting: round 2"
An improvement of the MVP
- [x] Support of histograms
- [ ] Display word frequency

[2017-09-07 22:22] hongsudt opened #1258 "Make test suites work with extra 5 system columns"
- add 5 system columns to all tables
  - add 5 columns to all tables generated by test cases
- impact to key test cases:
  - some of the test cases (e.g. shortest key) might fail.. We should list those cases and consider whether the test cases should be dropped or modified.

[2017-09-07 22:27] chiragsanghvi commented on #172
This has already been addressed and completed.

[2017-09-07 22:27] #172 closed

[2017-09-07 22:28] hongsudt commented on #1080
I am closing this since going forward ERMrest will enforce the requirement of single unique not null key.

[2017-09-07 22:28] #1080 closed

[2017-09-08 17:37] amitjha21 commented on #1255
1. Change action items position: Keep the items on top of the table. It is ok to have extra white spaces.
2. If no annotation is defined, default display should be bullets of row names. Row names should be available through `ermrestjs`.

[2017-09-08 22:31] amitjha21 commented on #1255
If no annotation is defined then `ermrestjs` returns `table` type as default display type.

[2017-09-08 23:36] RFSH commented on #792
UX:
- [ ] The text in tooltip should be left justified
- [ ] For each chicklet, the x button tooltip should be "clear facet".
- [ ]  For the tooltip of all filters on top: instead of comma separated it should be bullet (requires change in ermrestjs)
- [ ]  Reduce the space between heading and content in range picker
- [ ]  Add animation for when you click on a facet
- [ ]  spinner is taking space.

[2017-09-11 18:53] karlcz commented on #792
It occurred to me that we might want a small UX toggle to expand/hide the faceting sidebar and a query parameter in the fragment ID to expose the toggle state.  There might be scenarios where the DBA is constructing URLs from landing pages etc. and may want to make it open or closed depending on whether the page is intended to be more of a listing or more of a search interface.  But having a small

[2017-09-11 20:36] hongsudt opened #1259 "inline inbound fk should display "No Result Found" if the table is empty"
Currently, nothing is displayed.

https://dev.rebuildingakidney.org/chaise/record/#2/Protocol:Protocol/ID=43

[2017-09-11 22:23] karlcz opened #1260 "Regression in recordedit creation of records with server-generated keys"
This just stopped working recently on my dev server... worked last week.

I have a table with a server-generated domain type `ermrest_rid` as its primary key. Recordedit in create mode creates the record but fails to redirect to the record page for the new record.

It seems like it is embedding `undefined` in the key filter for the new record instead of the actual server-generated value that is re

[2017-09-12 19:25] jrchudy commented on #792
- [ ] Chaise config option should enable/disable faceting completely
- [ ] query param option to show/hide faceting panel in RS
- [ ] make more options bold
- [ ] (BUG) keys for own table should not be entity picker
- [ ] allow facets to be open based on annotation definition and being set in the faceting uri (save state of open facets for bookmarks)
- [ ] facet panel width facts
    - [ ] default

[2017-09-12 21:00] karlcz commented on #1260
Actually, I think this is probably a bug in my experimental ermrest branch...

[2017-09-12 21:01] #1260 closed

[2017-09-12 23:11] robes commented on #792
Bug: infinite spinner...

1. go to https://dev.facebase.org/~jchudy/chaise/recordset/#1/isa:dataset
2. expand Organism
3. select 'Mouse'
4. expand Mouse Gene
5. search on 'msx'
6. select 'MSX1'
7. expand Phenotype
8. spinning

[2017-09-12 23:12] robes commented on #792
Bug: Accession should be scalar

As I mentioned in stand up, the Accession should be a set of scalar value 'FB00001232',... choices.

[2017-09-12 23:13] robes commented on #792
Bug: factor in the 'view more' filters

As I mentioned in slack room. When you get to a recordset page from a record page's nested table's 'view more' link, the facets do not account for the join filters.

[2017-09-12 23:18] robes commented on #792
Bug: "Error: TypeError"

I don't know if its just stale code but as I mentioned on slack, I always get the above terminal error just going to the test link.

https://dev.facebase.org/~jchudy/chaise/recordset/#1/isa:dataset@sort(release_date::desc::,id)

I can dismiss it, in order to use and evaluate the new feature.

[2017-09-12 23:22] robes commented on #792
Bug: show some label like "No value" in place of _empty_ to represent the `NULL`s

I mentioned this in stand up too.

[2017-09-12 23:30] robes commented on #792
Bug: use the display name for related references

I may be wrong... but I have a feeling you may not be using the display name of the related reference for the facets.

For example,

https://dev.facebase.org/~jchudy/chaise/recordset/#1/isa:person

Notice that there are two "Project" facets, because there are two assocations in the data model between `person` and `project`.

If you drill down you w

[2017-09-12 23:41] robes commented on #792
Bug: some shading effect which seems like it might be caused by different height divs/panels

See,
https://dev.facebase.org/~jchudy/chaise/recordset/#1/isa:enhancer

It looks this way in both FF and Chrome. If needed I can post a screen shot.

[2017-09-12 23:43] robes commented on #792
Bug: overlapping facets

See
https://dev.facebase.org/~jchudy/chaise/recordset/#1/isa:enhancer/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM4gBsBLJAFwH0UAzcyMUlAWyKzAPLIzS1MxyRAAaEFgAWKFvziIQANzZo8sEACMMkMUTYACMNlGDtVMFi0FtjfjghiAnpaEgoJAA4Ewt+QUX41G0Wa6+obGpjqWSNZ2DsIkABIAKgCyADJwxgSRAL4AurlZQA@sort(id)

To recreate:
1. go to https://dev.facebase.org/~jchudy/chaise/recordset/#1/isa:enhancer
2. expand L

[2017-09-12 23:49] robes commented on #792
Note: I cannot recreate but appears to be a bug lurking in there.

[2017-09-13 17:48] karlcz opened #1262 "Generalizing facets as pseudo columns/entites"
Once the new faceting MVP is done, I think we should broaden the scope of the new pseudo column. We should refactor the code as needed and make sure it can work in other _visible columns_  or _visible fk_ contexts to present denormalized content.  This would eliminate the need for custom SQL views in many simple denormalized presentation scenarios.

- In the recordset results table
- In the record

[2017-09-13 21:33] hongsudt commented on #1259
@robes @karlcz Do you remember the phrase that we want to replace "No Result Found"? "No data"?

[2017-09-13 21:38] hongsudt opened #1264 "Empty inline rows visibility policy"
The visibility of the inline in-bound table should be similar to what we have done in the related tables section below.. E.g.
- If the user cannot create,
  - by default, don't show the empty row at all.
  - when show all tables is set, the empty row should be shown
- If the user can create,
  - always show the table

[2017-09-13 22:10] jrchudy commented on #805
The basic range picker has been implemented for faceting round 1. Closing this issue.

[2017-09-13 22:10] #805 closed

[2017-09-13 22:11] jrchudy opened #1265 "Histogram support in Range picker"
The range picker needs to show a histogram for searching for each of integer, float, date, and timestamp.

[2017-09-13 22:18] jrchudy commented on #1186
Moving this issue to round 2 as we are only supporting choice and range facets in round 1.

[2017-09-13 22:20] jrchudy commented on #806
Moving this issue to round 2.

[2017-09-13 22:20] jrchudy commented on #833
Moving this issue to round 2.

[2017-09-13 22:21] jrchudy commented on #834
The choice picker facet has been implemented. I will create another issue for changing the facet to include frequency counts.

[2017-09-13 22:21] #834 closed

[2017-09-13 22:23] #1070 closed

[2017-09-13 22:26] #1226 closed

[2017-09-13 22:36] robes commented on #1259
Sorry, I don't remember.

Given the specific context for related records, I might suggest "No Related Records" would make sense and be consistent with the link "Show/Hide ... Related Records".

[2017-09-13 22:45] jrchudy opened #1266 "Calculate URI on each select"
Calculate the URI length on each select inside the facet and inside the popup select modal.

[2017-09-13 22:58] jrchudy opened #1267 "Total count should count over key column"
The total count for a recordset table should be calculated using `cnt(shortestkey)` instead of `cnt(*)` for both attribute group reference and entity reference.

[2017-09-13 23:01] jrchudy opened #1268 "Click "view more" should turn into a facet and filter"
When the user navigates from the record app to the recordset app using the "View More" link on related tables, the data is filtered by that foreign key constraint. This should show up as a chiclet that filters the displayed data. A corresponding facet should be shown in the facet panel with the value selected as well.

[2017-09-13 23:10] jrchudy opened #1269 "Key columns should be choice pickers"
When a key for the current table is used as a facet, it should appear as a choice picker.

[2017-09-13 23:15] jrchudy opened #1270 "Person repeated twice in facet list"
https://dev.facebase.org/~jchudy/chaise/recordset/#1/isa:project

Person shows up twice as a facet. These should have separate display names.

[2017-09-13 23:22] jrchudy opened #1271 "Page loads without total count"
When the 'recordset' app loads, it loads without the total count of rows, i.e. "Displaying X of X records". This issue can also be seen in the "More options" modal popup.

[2017-09-13 23:26] jrchudy opened #1272 "Popup select modal is shrunk"
When there aren't any results yet for the popup select modal, it shows up as just the title and then stretches once the content gets filled in. The modal should be shown as expanded with a spinner while the content is loading.

[2017-09-13 23:27] jrchudy opened #1273 "Translate Column/Foreign Keys into proper facets"
The logic seems to be buggy for translating columns and foreign keys into proper facets. This needs to include inbound foreign keys as well.

[2017-09-13 23:34] jrchudy opened #1274 "Dynamic view height"
The page should set a dynamic view height that takes into account the size of the navbar and bookmark bar.
   - [ ] the footer position needs to be relative to this height
   - [x] paging options should be visible above footer
   - [x] no limit on title content length means the bookmark bar could be variable height
   - Needs to be one in:
      - [x] recordset w/ faceting
      - [x] recordset

[2017-09-13 23:35] jrchudy opened #1275 "Select in modal is selecting duplicates"
When the modal popup is opened to find more values for selection, if you select "select all" it selects duplicate rows.

[2017-09-13 23:37] jrchudy opened #1276 "Fix null/empty in facet panel"
Null/empty values should show up as _No Value_.

[2017-09-13 23:44] jrchudy opened #1277 "Focusing on facets"
- [x] When a facet is focused (on page load, clicking a chiclet, returning from find more with selected values), it should have it's border highlighted.
- [ ] focusing on top opened facet on page load is buggy and shifts to the middle of the facet panel

[2017-09-13 23:55] jrchudy opened #1278 "Initialized state of recordset"
The initialized state of `recordset` should show the loader and not hide the content on the page. This way the user has some information about what is going on right now with the page instead of it appearing like it's stuck.

This may be related to #1272.

[2017-09-13 23:58] jrchudy opened #1279 "Chiclets should be bullet separated in tooltip"
The tooltip for each chiclet above the recordset table should be an unordered bulleted string. It should NOT appear as a list rather than a single string with values separated by bullets.

@RFSH mentioned that he fixed this already. So this issue is to verify that it is working properly.

[2017-09-14 00:01] jrchudy opened #1280 "Facet displaynames should be truncated"
The facet displaynames should be truncated and show a tooltip if so.

[2017-09-14 00:09] jrchudy opened #1281 "Date and time inputs"
The current date and time inputs for date columns and timestamp columns are just simple inputs.
- [x] remove the padding inside the input on the left and right
- [x] fix the minimum widths based and default widths based on screen resolution

[2017-09-14 00:11] jrchudy opened #1282 "Overlapping facets"
When the page loads and the first facet opens, sometimes the content isn't available yet when the height gets fixed. This causes the facet to open but have a very small panel body defined and it overlays the next facet.

[2017-09-14 00:18] jrchudy opened #1283 "Highlight checkbox row on hover"
When the user hovers over a checkbox row in the facet panel, that row should be highlighted similar to how we highlight rows in our table directive on hover.

[2017-09-14 00:19] jrchudy opened #1284 "Double tooltips on facet title"
When you hover over a facet title, you see the `uib-tooltip` show up right away and then another delayed tooltip shows up. This 2nd tooltip is being caused by the `title` attribute defined in the `panel-title` element.

[2017-09-14 00:20] jrchudy opened #1285 "Link for more options in facet"
The link in the facet to search and select from the whole set should be called:
"Show More ...".

[2017-09-14 00:24] jrchudy opened #1286 "Update recordset after Create"
The create link on recordset with faceting should:
- [x] ~open recordedit in a new tab~ NOTE: this won't be done because the link won't be consistent with the other links in the bookmark bar
- [ ] use the on-focus event that reloads the content after the record is created and the recordset page is navigated back to and focused.
- [ ] make sure to use invalidate param

[2017-09-14 00:28] jrchudy opened #1287 "Make Sure Chaise Apps Work With Facet And Filter"
To do this, we need the following set of changes for each app:

- Record:
  - We are using filters for error purposes in this app [[1](https://github.com/informatics-isi-edu/chaise/blob/master/record/record.app.js#L140),  [2](https://github.com/informatics-isi-edu/chaise/blob/master/record/record.app.js#L166)]. We can change the first one to look for facet as well as filter. And the other case can

[2017-09-14 00:34] jrchudy opened #1288 "ability to show/hide (collapse) facet panel"
There should be a UX control to show/hide (collapse) the facet panel.

[2017-09-14 00:39] jrchudy opened #1289 "Infinite Spinner with 503 error"
Go to https://dev.facebase.org/~jchudy/chaise/recordset/#1/isa:dataset or on master after faceting is merged and follow these steps:
 1. expand organism, select 'Mouse'
 2. expand Mouse Gene, search 'msx', and select 'MSX1'
 3. expand phenotype
 4. spinner never disappears, notice 503 errors in console

[2017-09-14 00:40] jrchudy opened #1290 "Facets should expand with more content"
When a facet is opened with say 2 options, it's height is fixed. When faceting criteria is removed and more options are available for that facet, it should expand to accommodate those new options. Facets should never shrink though when new filters are selected.

[2017-09-14 00:42] jrchudy opened #1291 "Investigate broken facet state"
If you filter based on multiple facets and start unselecting some of those values, sometimes the facet panels get into a broken state where the current content is not representative of the overall filtered state.

[2017-09-14 00:46] jrchudy opened #1292 "Facets open in 2 steps"
When the facet is opened, that's when the data is fetched to fill in the list container. Because of this, the facet opens a little bit, and then later it stretches when the content finishes loading.

Need to investigate how to avoid the DOM from loading in 2 phases.

[2017-09-14 00:50] jrchudy commented on #792
I have collected all of the bug reports and unfinished features that were discussed in this PR as well as in the slack channel, `isrd-chaise`, and created issues for them. Each of these issues were attached to either the round 1 epic (#678) or the round 2 epic (#1257).

[2017-09-14 00:50] #792 closed

[2017-09-14 01:24] jrchudy commented on #1291
This is related to #1289.

[2017-09-14 05:13] karlcz commented on #1259
I thought the question was for "inline" pseudo columns.  I don't think a
user should be expected to understand that this is a related record when you are intentionally denormalizing it as a column.  So, I'd suggest something simpler that pretends it is a scalar, e.g.  "none" or "(none)".

[2017-09-14 17:29] hongsudt commented on #1276
No. The null value should show up as no value
 Leave the empty string empty or use a different phase to distinguish them.

On Sep 14, 2017 1:19 AM, "Josh Chudy" <notifications@github.com> wrote:

[2017-09-14 19:19] hongsudt commented on #1271
It should be ok for the page to load with "Displaying X records" and then get updated to "Display X of Y records" later when Y is determined.

[2017-09-14 19:29] hongsudt commented on #1289
@RFSH @karlcz and I discussed about the solution yesterday.. This is due to incorrect request.

[2017-09-14 19:33] hongsudt commented on #1290
@karlcz how strongly do you feel about having this feature? When you expand, it will shift the panel..

[2017-09-14 19:38] jrchudy commented on #1271
The issue is that it is never getting the Y value.

[2017-09-14 20:50] robes commented on #1259
Oh, if this is for inline, then yes, I'd agree with either of those suggestions.

[2017-09-14 21:18] karlcz commented on #1290
On Sep 14, Hongsuda modulated:

I think it is *broken* if the facet widget can show fewer than the
expected K values and a "Show more..." link.  If you're going through
the effort to prevent pathological cases like 0, 1, or 2 plus "Show
more..." why not just fix it completely?

I think letting it grow on demand is the safest/easiest solution. It
is still much less trashing than if things shrink ag

[2017-09-14 22:34] RFSH commented on #1279
Yes, this is fixed and now in the `faceting` branch. It looks better now, but still needs some css tweaks which we can do for round two. Therefore, I am going to change the epic to round 2.

[2017-09-14 22:38] RFSH commented on #1266
@hongsudt This has been done for each facet and also when you click on submit on popup select modal. The remaining task is calculating it on each individual select in popup select modal. Should we do that as part of this round? or second round?

[2017-09-14 22:39] RFSH commented on #1267
This is done for entity reference. But right now we're not showing the total count for attribute group reference (scalar picker) because the api for getting the count should be different (we cannot use the same logic).

[2017-09-14 22:41] RFSH commented on #1271
This is done.

[2017-09-15 01:00] RFSH opened #1293 "serial Type in rangeInputs"
The directive that is been used for creating the inputs in rangePicker, is not considering `serial` type and throwing errors.

https://dev.facebase.org/~jchudy/chaise/recordset/#1/isa:imaging@sort(id)

[2017-09-15 17:58] robes opened #1294 "Recordset (w/ facets) loading shows controls"
Some controls are displayed while the recordset+faceting page loads.
![facet-loading](https://user-images.githubusercontent.com/4202842/30496588-b889ae3c-9a04-11e7-927c-0a71a29c2006.jpeg)

[2017-09-15 18:00] jrchudy commented on #1294
This issue is related to issue #1278.

[2017-09-15 18:31] amitjha21 commented on #1231
This has been merged. Assigning to @hongsudt to verify and close it.

[2017-09-15 23:43] jrchudy commented on #1274
Creating a separate issue for the footer position.

[2017-09-15 23:43] #1274 closed

[2017-09-15 23:44] jrchudy opened #1295 "Fix footer position in apps"
The footer position needs to be part of the main container or at least relative to it so that it's placed at the body of that container.

[2017-09-15 23:49] #1285 closed

[2017-09-15 23:51] #1284 closed

[2017-09-16 00:20] #1280 closed

[2017-09-16 00:24] #1283 closed

[2017-09-18 17:43] #1270 closed

[2017-09-18 17:46] RFSH opened #1296 "Recordset behaviour when the facet list is empty"
What should be the default behaviour?

If you go to the following link:
https://dev.facebase.org/~ashafaei/chaise/recordset/#1/isa:project@sort(id)

Since for faceting we're reusing the `filter` context name and in here the `filter` context is defined for the visible columns, the returned list of facets is empty. What should be the default behaviour of chaise in that case? just remove the faceting

[2017-09-18 17:48] #1269 closed

[2017-09-18 17:52] RFSH opened #1297 "Facet List Disappears After Clear All"
Go to the following link:

https://dev.facebase.org/~ashafaei/chaise/recordset/#1/isa:project/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JAEsIAjdafIpMEAGhAAcMUArHLAFwH1iA3HJB0IBzMBxQYuTVu26EoXAGYBrHAE8QAXQC+tUOg5k0FBFRr1pbTjwj9BIsRK5okODBDABbHEtUad9B7eWvRYABYohLhIlAAqbhiEAAQAEgB0SQBCOGL+2jpAA@sort(id)

Click on clear all, it will remove the facet column. (This is happening because of the current logi

[2017-09-18 17:53] #1271 closed

[2017-09-18 17:53] #1273 closed

[2017-09-18 17:53] #1268 closed

[2017-09-18 17:55] #1275 closed

[2017-09-18 18:18] RFSH opened #1298 "Multi Edit Link in Recordset"
We should disable the multi edit link if showFaceting is defined in chaise config.

[2017-09-18 19:07] #1276 closed

[2017-09-18 19:29] jrchudy commented on #1293
I fixed this by changing the `default` case to setting the type to `number` when there is no base type defined.

[2017-09-18 19:29] #1293 closed

[2017-09-18 19:51] #1281 closed

[2017-09-19 00:16] jrchudy commented on #1286
The create link opens in the same window so that it behaves the same way as `Edit`, `Permalink`, and `Download CSV`. Moving this to round 2 for the rest of the functionality.

[2017-09-19 00:27] #1298 closed

[2017-09-19 01:10] #1267 closed

[2017-09-19 19:28] jrchudy opened #1299 "Facet List is Empty"
When the facet list is empty, the facet panel should be open and showing "No Filter Options".

[2017-09-19 19:52] jrchudy opened #1300 "Search phrase in Facet not propagated to the modal search"
Follow these steps:
 1. open a facet
 2. filter that facet by typing in the search box
 3. then select "Show More ..."

The search term should be propagated to the search box in the search popup modal.

[2017-09-19 19:54] jrchudy opened #1301 "Hover/focus on facet"
When the user hovers over a particular facet the border should be highlighted. This should happen when the facet is focused as well until another facet is focused or hovered over.

[2017-09-19 19:54] jrchudy opened #1302 "Validator for date/time"
The date and time inputs for the range picker should have mask options and a validator.

[2017-09-19 19:55] jrchudy commented on #1296
Issue #1299 was opened to address this issue. Closing this one.

[2017-09-19 19:55] #1296 closed

[2017-09-19 19:56] jrchudy commented on #1297
This is the currently expected behavior. The facet list should show "No Filter Options" (as outlined by issue #1299) if it is emptied by the `clear all`.

[2017-09-19 19:59] jrchudy opened #1303 "Improper data being displayed"
1. Go to "https://dev.facebase.org/~jchudy/chaise/recordset/#1/isa:dataset"
 2. pick 1 of the datasets
 3. on record page, click "Find More" for the Assays table
 4. Select an Assay
 5. The files displayed in the related table are incorrect

[2017-09-19 20:13] #1300 closed

[2017-09-19 21:19] jrchudy opened #1304 "Some ID facets show as Range Picker"
Go to this link:
https://dev.facebase.org/~jchudy/chaise/recordset/#1/isa:project_publication/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEASyTBABoQAHDFAKxyyIH0m0SANlSxgiVFBF6sOXblSjcAZgGscATxABdAL6N5WxlgAWKYTiT4AzAAZLOnUA@sort(id)

Project should be a choice picker. If that's fixed then the filter will show properly as well as showing/selecting the row in the project facet.

[2017-09-19 22:44] #1299 closed

[2017-09-20 18:58] #1304 closed

[2017-09-20 21:25] #1289 closed

[2017-09-20 21:25] #1303 closed

[2017-09-20 21:26] #1291 closed

[2017-09-22 01:29] jrchudy commented on #1302
Only validators were added.

[2017-09-22 01:29] #1302 closed

[2017-09-22 22:42] RFSH opened #1307 "Record App Title"
The new style to push the title a.k.a., tuple display name up into the top gray section forces it to wrap a lot more than before.

1. it seems like we could give it more room before wrapping it.
2. the font is Huge. Probably bigger than necessary.
3. And bold. Also maybe not necessary.

[2017-09-25 19:49] RFSH opened #1308 "Show Facets When Coming From View More Link (When showFaceting Is False)"
When show faceting is false, we're not showing the facets at all. This includes the case when users come to the page from view more link in record app.

[2017-09-25 19:59] jrchudy commented on #1307
Some more information for fixing this:
 - use different column sizes for different screen sizes (`col-xs`, `col-md`, `col-lg`)
 - content wraps around links and then flows below it

[2017-09-25 20:01] jrchudy opened #1309 "Navbar in search app"
After the styling changes were made to adjust the navbar in `recordset`, `record`, and `recordedit`, the navbar on `search` looks odd.

[2017-09-25 20:10] jrchudy opened #1310 "View More functionality on recordset with faceting"
When `View More` is selected from a record page, we want consistent behavior for the filter and facet added in the recordset app with faceting.

We need to choose one of the two following when you select view more and navigate to recordset app:
 - The filter shows up above the recordset table and the facet appears in the left panel. When clear all is selected, the filter disappears and the facet p

[2017-09-25 20:13] jrchudy commented on #1310
Another thing to think about with this issue is what to do in the case of `showFaceting: false`? We discussed not showing the facet panel at all (which is the behavior of `showFaceting: false`) but still showing the filters as if the data is being filtered by a facet.

[2017-09-25 20:15] jrchudy opened #1311 "Space after Bookmark container"
On `recordset` and `record`, there needs to be more of a space between the navbar/bookmark container and the main container area.

(The search box in `recordset` with faceting is maybe 5 pixels below that bookmark container.)

[2017-09-25 22:19] bugacov opened #1312 ""Loading" spinner not going away and page not completing to display"
I see this happening for this page:

https://dev.facebase.org/data/record/#1/isa:enhancer/id=4

[2017-09-26 01:33] #1311 closed

[2017-09-26 01:43] jrchudy commented on #1312
The problem was that the `displayReady` property was never getting set to true when there were no related tables to load.

This issue has been fixed and the code merged into master. Reassigning to @bugacov for verification.

[2017-09-26 19:13] jrchudy commented on #1277
I can't reproduce this issue in Chrome, Mozilla FF, or Safari.

[2017-09-26 19:13] #1277 closed

[2017-09-26 19:25] jrchudy commented on #1282
I can't reproduce this issue in Chrome, FF, or Safari on Mac.

[2017-09-26 19:25] #1282 closed

[2017-09-26 19:35] #1278 closed

[2017-09-26 19:51] jrchudy commented on #1278
The loading spinner shows up properly for recordset with faceting that communicates the data is loading.

[2017-09-27 00:37] RFSH opened #1313 "Faceting E2E Testing"
The table that we are going to use for e2e testing must at least the following,
1. Columns of different supported types (longtext, markdown, text, shorttext, int, float, date, boolean, json, system columns and timestamp).
2. Inbound foreignkeys.
3. Outbound foreignkeys.
4. Association relationship.

We should be able to use the same schema and table definitions that we are going to use in ermrestj

[2017-09-27 18:28] nitishksahu commented on #651
The changes have been merged to master, assigning this to @hongsudt to verify and close.

[2017-09-27 19:13] karlcz opened #1314 "More asset and download features"
The current uploader/downloader is pretty restrictive and doesn't work well for my use cases.

- The `url_pattern` field is required even though it only matters for upload.  This means you can't get a consistent download chicklet for existing assets where you don't intend to support upload via the GUI.
- There is no pattern field for filenames to allow a preferred download filename to be defined f

[2017-09-27 20:47] RFSH opened #1316 "Spinner After Submit"
Go to the recordedit page, don't change anything and press the submit button. The spinner will show up and remains. This should be a simple fix.

[2017-09-27 20:52] svoinea commented on #1316
Same thing happens if the `submit` request returns an error: it displays the error and the spinner remains.

[2017-09-27 21:33] jrchudy commented on #1295
Removing this from the epic. The footer has been temporarily set to be `fixed` at the bottom of the page (like the navbar is fixed to the top). This issue still needs to be addressed but it's much more time consuming than expected.

[2017-09-28 00:39] RFSH commented on #1223
We should show a proper message for the 403 errors chaise-wide. We have a specific error message for 403 in recordedit, we should move it to the catchAll function.

[2017-09-28 01:05] jrchudy opened #1317 "Facet of type markdown"
Markdown columns should be presented as facets when part of the annotation. When this is the case, the facet should ignore the display annotation for the values that it shows.

[2017-09-28 01:07] jrchudy opened #1318 "Chiclet Tooltips"
The styling for the tooltip in the chiclets should use the whitespace better. Currently the tooltip shows up bottom-left aligned, but that is aligned with the left edge of the values not the left edge of the chiclet.
 - [ ] align the tooltip placement with the bottom left edge of the whole chiclet element
 - [x] increase the width of the tooltip to so that more text can fit on the same line.
   -

[2017-09-28 01:08] jrchudy opened #1319 "Range Inputs need better validators"
The integer and float inputs need to have separate validators defined for them.

[2017-09-28 01:18] jrchudy opened #1320 "Range Picker min > max validator"
When the min value in the range picker is greater than or equal to the max value, a validation error should be thrown.

[2017-09-29 00:56] karlcz opened #1321 "Recordset browser back button trap with faceting"
When visiting recordset w/ a bare schema:table name with faceting enabled, the location is rewritten as a new location with faceting in the URL.

This makes the page captive, as the browser back button tries to go back to the original URL and keep getting pushed back into the revised one.  The original change should have replaced the URL rather than push a new one, so back will go back to the refe

[2017-09-29 02:12] jrchudy opened #1322 "HTML/UX changes"
The following changes were discussed in the meeting today but haven't been changed yet:
 - [ ] cell content flows out of cell in table (check dev.synapse)
 - [x] facet shadow box should extend to the height of the page (in fetchFacetingElement() for setting the facet height, also fetch the shadow element and set the height as well)
 - [x] investigate making range inputs a bit smaller (less wide)

[2017-09-29 19:58] nitishksahu commented on #1221
Disabling the login button can lead to some scenarios like:

- If the user clicks on login link but then decided not to log in and closes the login window popup then the `login` link remains disabled and the user is left with no other option but to refresh the page to enable the `login` link.

- Secondly, if the user somehow losses the pop-up window, and the pop-up window is now somewhere behind s

[2017-09-29 20:57] robes opened #1323 "Record page does not scroll (much) on Firefox"
Go to a record page like this

https://dev.facebase.org/data/record/#1/isa:dataset/id=14132

The page only scrolls a tiny bit and then not any more.

[2017-09-29 22:14] #1308 closed

[2017-10-02 17:16] #1310 closed

[2017-10-02 17:38] karlcz opened #1324 "Error: TypeError newTable._altForeignKey is undefined"
I see this on this record page for example:

https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/ID=ZfCza20170322A

it does not happen on every table.

[2017-10-02 20:07] jrchudy commented on #1323
This issue has been fixed. Reassigning this to @robes to verify. This should be in the hourly update at 2 pm today.

[2017-10-03 18:09] #1324 closed

[2017-10-03 18:09] RFSH commented on #1324
Issue moved to [informatics-isi-edu/ermrestjs #508](https://github.com/informatics-isi-edu/ermrestjs/issues/508) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-03 19:30] RFSH commented on #1321
I changed the recordset behavior to instead of pushing to history, just replace it. The links works fine and if you navigate to other apps through links, back button will bring you to the latest version of recrodset app.

[2017-10-03 23:45] jrchudy commented on #1322
Closing this issue and opening another to investigate the issue with content flowing out of cells in synapse.

[2017-10-03 23:45] #1322 closed

[2017-10-03 23:52] jrchudy opened #1325 "Content flows out of cells"
At the following link, some of the content in a markdown display table cell flows out of the table cell and into the next one. This is because of the way the markdown was defined.

https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Image%20Summary@sort(RMT::desc::,ID)

[2017-10-03 23:53] #1272 closed

[2017-10-04 00:41] amitjha21 commented on #1259
This is merged now. Assigning to @hongsudt to verify it.

[2017-10-04 00:43] amitjha21 commented on #1255
This is merged now. Assigning to @hongsudt to verify it.

[2017-10-06 21:25] RFSH commented on #1313
I have created a schema that we can use for testing. You can find it under `faceting-test` branch in ermrestjs. I summarized the data structure in [this document](https://docs.google.com/spreadsheets/d/103lPksWLLGdAYEgzXvRKZ6Yn2--mk4c35E9tJUUoOcw/edit?usp=sharing).

[2017-10-06 21:59] amitjha21 commented on #1264
If a user can create and there is no data to show it will appear as **_None_**.

[2017-10-06 22:23] nitishksahu commented on #1221
This has been moved to `blocked` for now as we are expecting more inputs on this, we need to decide whether we want to disable the login link once clicked which could lead a situation where
if you click on the login button and didn't actually log in, you cannot login anymore until you reload the page.

[2017-10-07 00:02] jrchudy opened #1328 "Logs for record app show requests with 3 entities fetched"
In record app, when we fetch entities a request should be made with 2 entities. If multiple entities are returned, `record` should not show the content and warn the user. This is working properly but with a request being made for 3 entities. This is happening because both `chaise` and `ermrestJS` are adding +1 to the limit to handle this. So the request is meant to be only for 1 entity, `chaise` a

[2017-10-07 00:58] jrchudy commented on #1328
This has been fixed and merged into master. Assigning to @hongsudt to verify that it has been fixed.

[2017-10-09 18:37] RFSH opened #1330 "Make All Buttons to use btn-inverted"
Then we need to add all the defined bootstrap btn classes for `btn-inverted`.

[2017-10-09 19:00] #1319 closed

[2017-10-09 19:00] #1320 closed

[2017-10-09 23:49] RFSH opened #1331 "Run gitversion command Automatically on Make build"
Currently only `make install` is invoking the `make gitversion` by default, `make build` should behave the same.

[2017-10-10 18:13] RFSH opened #1332 "Recordset Should Handle Faceting Errors Differently"
Recordset should treat errors that parser throws regarding invalid facets differently. We should show soft alerts. And upon catching the error it should read the unfiltered reference (to remove the facets and avoid the error).

[2017-10-10 22:39] #1255 closed

[2017-10-10 22:41] #643 closed

[2017-10-10 22:43] #1231 closed

[2017-10-10 22:43] #651 closed

[2017-10-10 22:43] #1259 closed

[2017-10-10 22:43] #1312 closed

[2017-10-10 22:44] #1323 closed

[2017-10-10 22:44] #1223 closed

[2017-10-10 22:46] jrchudy commented on #1330
This has been done for all buttons in each chaise app. Added the following 2 css rules:
 - `.filter-label.label-primary.label-inverted` for our labels in the filter list
 - `.btn.btn-danger.btn-inverted` for our buttons that are red

[2017-10-10 22:46] #1330 closed

[2017-10-11 18:29] amitjha21 commented on #1007
Add _exclusion_ feature in `recordedit` so that users can exclude all the rows from the *form* which they do not want to change. Use stop/minus sign for the logo. This logo would be used for creation as well.

[2017-10-11 18:41] hongsudt commented on #1309
@jrchudy have we fixed this issue? We discussed about separating search to use its own css classes, etc.

[2017-10-11 21:19] jrchudy commented on #1309
This issue has been fixed.

[2017-10-11 21:19] #1309 closed

[2017-10-11 21:19] jrchudy commented on #1294
This issue has been fixed.

[2017-10-11 21:19] #1294 closed

[2017-10-11 21:49] jrchudy commented on #1325
@karlcz, what would you expect to be the behavior of this table cell when the markdown content spills out of it?

The simple solution I found was hiding the overflow content, so long values won't overflow. There isn't an easy way to wrap the text or truncate the text itself because it's a nested table that the markdown pattern you provided created. This is even harder to handle in a specific way b

[2017-10-11 21:59] jrchudy opened #1333 "Delete Record on recordedit redirect to Search"
The delete record action in the `recordedit` app, has a path redirect hardcoded to return the user to the search app. This should be changed to use the applink function instead.

[2017-10-11 22:29] jrchudy commented on #1316
This issue has been fixed.

[2017-10-11 22:29] #1316 closed

[2017-10-12 18:52] chiragsanghvi opened #1334 "ACL Policy Handling"
This issue mentions a list of cases where we need to determine what ACL to check and how Chaise app should response.

* Record app:
  * main entity columns
    * if not selectable but enumerable: Hide??
  * related table
    * if not selectable but enumerable: ???
* Navbar
  * Hiding/showing links in navbar according to policy.

Please add any more cases to this issue if you find

[2017-10-12 19:32] hongsudt opened #1335 "Make chaise attributes (e.g. user, date) available to Markdown"
Examples of these attributes are:
- today: which consists of date, year, month, day.. This is so that we can use some of these properties in the Hatrac url pattern or to update some columns in the models..
- user info?

We discussed about storing all these values under `chaise` object, so I could refer to this month with `{{{chaise.today.month}}}`

@karlcz @robes : please add missing detail..

[2017-10-12 19:44] hongsudt opened #1336 "enforce login in recordedit app"
* User login handling. If a user logs in pressing the login button, we need to re-fetch/introspect the catalog again and start the flow from beginning.
* If a user logs in because of a session timeout or not permitted error, we need to identify a way to handle rights for all the entities that were rendered before. For now we won't be handling this case.

I am not sure whether this should be in cha

[2017-10-12 20:12] chiragsanghvi commented on #1336
User login handling. If a user logs in pressing the login button, we need to re-fetch/introspect the catalog again and start the flow from beginning.

This is already handled as the code refreshes the page when login button is pressed.

[2017-10-12 20:40] hongsudt commented on #1336
What about the second bullet?

[2017-10-12 20:41] hongsudt commented on #1114
I am closing this issue for now as it is not reproducible. We can generate a new issue if people come across it again.

[2017-10-12 20:41] #1114 closed

[2017-10-12 21:38] jrchudy commented on #1333
This issue has been fixed. If `chaiseConfig.showFaceting` is true, it will redirect to `recordset` otherwise it will still redirect to `search` for now.

[2017-10-12 21:38] #1333 closed

[2017-10-12 22:52] jrchudy commented on #1325
A fix for this was merged into master. Table cells (`<td>`) no longer have a `max-width` style applied to them. Reassigning to @karlcz for review.

[2017-10-14 01:37] hongsudt opened #1337 "record app makes individual calls to each entry in related pure and binary assocation tables"
Here is the quick summary of @RFSH's investigation:

For checking 412, we used to pass the tuples object to the delete function, so the delete always needed the tuples object. For the association tables, since we're not actually deleteing from the same table, we needed to do another read to get the actual tuple that we want to delete.

we can easily just remove that logic of getting the tuples and

[2017-10-16 18:00] RFSH commented on #1337
I pushed [a fix](https://github.com/informatics-isi-edu/chaise/commit/cc2c64aa0ece5f8b5b254ef2235489a66ecdd2cb) for this to master.

[2017-10-16 18:01] #1337 closed

[2017-10-16 20:53] robes opened #1338 "Error handling during 403 handler"
Please correct that title if I got this wrong. I don't know a better way to state the issue:

1. not logged in
2. go to a recordedit page (like this https://dev.facebase.org/data/recordedit/#1/isa:sample/id=432?invalidate=2744534207050970)
3. make a change
4. click submit
5. you should see a login dialog
6. click cancel
7. you should see an infinite spinner

[2017-10-16 21:23] karlcz commented on #1338
This seems like a bug if the recordedit page even lets you manipulate
content without being logged in.  It should have immediately detected
that you do not have enough rights and requested login before it even
presented any data-entry forms.

[2017-10-18 19:19] chiragsanghvi opened #1339 "Force user login on recordedit page"
As discussed with @hongsudt We are removing the support for anonymous users to create/update entities.

Whenever an anonymous user visits recordedit page, the user will be prompted to login to continue.

[2017-10-18 19:32] chiragsanghvi commented on #1331
Pushed to master

[2017-10-18 19:32] #1331 closed

[2017-10-18 22:47] #1339 closed

[2017-10-19 01:18] hongsudt opened #1342 "Add spinning wheel for delete"
I attempted to delete an object.. Upon clicking on it, it doesn't seem like the app is doing anything.. No spinning/loading sign.. In this case, it turns out that because of 500 error, the app was busy doing a retry..

Since the retry does take a long time, we should give a visual clue.

[2017-10-19 19:25] hongsudt commented on #1338
There is a new pull request that will prompt anonymous user for login when recordedit is loaded..
 @robes please review and close the issue.

[2017-10-19 19:26] hongsudt commented on #1336
We decided to leave the second bullet alone for now..

[2017-10-19 20:06] hongsudt opened #1343 "update document on how to run tests using saucelab"
The current protractor used for testing doesn't support the latest chrome version.

While we are waiting for protractor to be fixed, we should fix the chrome version or run the tests using saucelab.

[2017-10-20 19:10] RFSH opened #1344 "Faceting Bugs"
- [ ] Delete button on rows is not sending update message to all the facets.
- [x] Edit button on rows, is not updating the last modified facet.
- [x] Empty vs. Null in tables (they're the same?)
- [x] text_col -> select all without e, go to show more. select six. come back.

[2017-10-21 01:07] RFSH commented on #1344
We should handle empty vs. null, in modal for scalar pickers. This won't be an issue in case of entity picker.

[2017-10-23 20:38] #1344 closed

[2017-10-23 21:28] svoinea opened #1345 "recordset not working on IE"
I was using the URL:

[code]

The page is not rendered. In the debug window, I can see multiple times errors like:

[code]

The test was performed on `Windows 10` with `IE 11`.

[2017-10-24 15:55] robes opened #1346 "visible columns incorrectly displayed"
I ran into this situation when going to a record page -> 'view more' of a related record -> 'clear all' filters.

![image](https://user-images.githubusercontent.com/4202842/31953495-22f56e26-b898-11e7-8f3a-b1edadd2c8ab.png)

In this screenshot the columns to the right of 'iri' should not be display, and they are not displayed until clicking the 'clear all' button. Only 'term' and 'iri' should be v

[2017-10-24 15:58] robes commented on #1346
This is probably an ermrestjs bug as I think about it more.

[2017-10-24 16:43] RFSH commented on #1346
I pushed [a fix](https://github.com/informatics-isi-edu/chaise/commit/c9cfa03bef4eabeda65f17f5184aac74fdd0189c) for this to master. The `unfiltered` function was not contextualizing reference and was returning an uncontextualized reference, which was causing this behaviour.

[2017-10-24 18:12] #1317 closed

[2017-10-24 18:59] amitjha21 commented on #1200
Slight modification of error message function which will be inside `Errors` factory:
[code]

I am hoping to keep this for both `chaise` and `ERMrestjs`.
Any thoughts?

[2017-10-25 18:11] #1336 closed

[2017-10-25 18:12] chiragsanghvi commented on #1335
Date was added in ermrestjs. We are not adding user for now

[2017-10-25 18:12] #1335 closed

[2017-10-25 18:31] chiragsanghvi commented on #1343
Added documentation here https://github.com/informatics-isi-edu/chaise/wiki/E2E-tests-guide#running-tests-using-sauce-labs-locally

[2017-10-25 18:31] #1343 closed

[2017-10-26 22:06] robes commented on #1346
thanks!

[2017-10-26 22:06] #1346 closed

[2017-10-26 22:07] robes commented on #1338
works well for me.

[2017-10-26 22:07] #1338 closed

[2017-10-26 22:15] robes opened #1347 "Zero byte file crashes asset upload?"
This may be a corner case we don't have to worry about but as part of a test I found it impossible to upload a zero byte file. I assume there is some divide by zero error in the asset upload handler either in chaise or ermrestjs.

[2017-10-27 23:40] karlcz opened #1348 "Broken numeric entry buttons in facet sidebar"
The current range widget has an upper and lower value entry widget.  This shows a number with little tiny up/down arrows.  If you click the arrow once, an `X` button overlays those arrows so you can clear the value and you cannot increment/decrement anymore.

I see this on firefox.

[2017-10-28 01:11] RFSH opened #1350 "Hide Search From Boolean Facet"
For columns with `boolean` type, we're showing choice picker which is correct, but we should hide the search box since it doesn't make sense in this case.

[2017-10-30 19:13] jrchudy commented on #1348
This has been fixed. FF changed the way this "attribute" was referenced when trying to hide the arrows using css. This is only a case when an input is `type=number`. Firefox does not have a simple way for hiding these controls for numeric inputs so we are now using css to change the input to `type=textfield` so these controls do not show up.

[2017-10-30 19:13] jrchudy commented on #1348
reassigning to @karlcz for verification.

[2017-10-31 21:29] hongsudt opened #1352 "record app should handle not-found case properly"
Currently, it throws a terminal error..

In this case, it should be "Record Not Found".. The detail message should tell user that the record indicated doesn't exist or no longer exist.  It should also give an option for the user to go to the recordset or the search page.

I think there is a config that allows you to figure out whether to go to the search or recordset page.

Is this correct, @jrchu

[2017-10-31 23:14] jrchudy commented on #1352
We have an annotation defined for this case:
https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2016-app-links

This is handled by the function, `appTagToUrl` in chaise, which is registered with `ermrestJS` at the beginning of each app. How this function is used is by contextualizing a reference into the context of the app you want to navigate to and then call `appLi

[2017-10-31 23:27] jrchudy commented on #1352
Another thing @hongsudt wanted me to check was what the "view more" link uses. It's actually using the appLink right now and should *NOT* be.

[2017-11-01 00:53] jrchudy opened #1353 "View More should not use appLink"
The view more button for the related tables on `record` app uses the appLink function. If the appLink annotation is defined for the `compact` context with `search` as the desired application, the view more link would bring the user to a broken `search` page.

View more should always navigate to `recordset`.

[2017-11-01 17:43] karlcz opened #1354 "New facet-mode for presence/not-null?"
We already have an entity mode versus scalar mode distinction for facets.

Some use-cases would benefit from a "presence" test where the projected facet column is tested `!column::null::`  (or `!column::null::;column!=null` for json/jsonb columns).

1. In my use cases, the column holds asset URLs and/or other stuff that is meaningless to the user. So I'd really want a presence-mode that just offer

[2017-11-01 17:50] karlcz opened #1355 "Filtering in facet definition?"
The `source` path syntax we are using in facet definitions was copied from the ERMrest dynamic ACL binding notation.  There are use cases for faceting which would benefit from including the filtering feature of that notation.

This would allow a DBA to introduce an extra constraint that limits the value choices presented to a user. It is analogous to the "domain filter" concept in the entity choos

[2017-11-01 17:51] hongsudt commented on #1345
@jrchudy did we fix this problem? If not, I will assign @chiragsanghvi to work on this.

[2017-11-01 18:00] #925 closed

[2017-11-01 18:00] #241 closed

[2017-11-01 18:08] jrchudy commented on #1345
@RFSH and I looked into it, but i don't think we fixed it..

[2017-11-01 18:13] karlcz commented on #976
The original test scenario is now invalid since that Subject table has a table-alternative and no longer presents inline images.

I tried to reproduce it on a different table like https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Image%20Pair%20Study and I don't see the same layout issue.

I guess we can assume this went away with the styling changes for the new facet UX.  I'll file a

[2017-11-01 18:13] #976 closed

[2017-11-01 18:37] karlcz opened #1356 "Negation in faceting"
This needs a conversation before we can really define deliverable tasks.

Some use cases would seem on the surface to have a use for a negated facet filter. However, there are subtle differences in semantics and not a single well-defined negative filter. Users aren't always clear about these distinctions nor about communicating which one they actually need or expect.  A UX which doesn't clearly co

[2017-11-01 21:13] karlcz opened #1357 "Recordset paging should push to browser stack"
If you are paging through results in recordset, and you hit the browser back button, you immediately leave the recordset app.  I think this is counter-intuitive for most users as the paging _feels_ like a page load and going back to the previous page should be possible.

If you use the browser forward button to re-enter the app, you end up on the page you were on before you left the app.  Some use

[2017-11-02 00:43] amitjha21 commented on #1352
Here is a snap of the message box with error details. __Show Error Details__ will open a `span` with technical error details.

![image](https://user-images.githubusercontent.com/9977014/32304336-bcce27c4-bf2b-11e7-9b2b-873fee8d0336.png)

With details:
![image](https://user-images.githubusercontent.com/9977014/32304390-13178198-bf2c-11e7-83f2-ed611243534d.png)

[2017-11-04 01:24] amitjha21 commented on #1352
Updated message box:
![image](https://user-images.githubusercontent.com/9977014/32400945-3c206bb0-c0c4-11e7-9b8d-a1c1b0933e7f.png)

[2017-11-06 22:12] #1348 closed

[2017-11-06 22:12] #1325 closed

[2017-11-06 22:13] #1264 closed

[2017-11-06 22:21] jrchudy commented on #1357
https://github.com/informatics-isi-edu/chaise/issues/1321

[2017-11-06 22:42] #1111 closed

[2017-11-06 22:58] #290 closed

[2017-11-06 23:03] jrchudy commented on #606
This is still a valid issue.

[2017-11-06 23:13] jrchudy commented on #652
Navbar is currently it's own directive and can be included in a static document pretty easily. Closing this issue.

[2017-11-06 23:13] #652 closed

[2017-11-07 20:24] amitjha21 commented on #1352
This is merged. Assigning to @hongsudt for verifying and closing this issue.

[2017-11-07 22:28] robes opened #1361 "Reduce the number of assets (js, css, etc)"
If possible, to reduce the amount of download traffic required to bootstrap our apps.

[2017-11-07 23:53] jrchudy opened #1362 "Alerts on recordedit disallow proper scrolling"
When there is an error alert on the recordedit app, it does not allow for the whole content area to scroll properly. The alerts should be moved into the scrollable content area so that it is used as part of the fixed height calculation.

[2017-11-08 18:59] #1125 closed

[2017-11-08 19:24] robes opened #1363 "Asset upload md5 mismatch error"
We have a user that has encountered this error now a few times. They are on a Mac running Chrome. The network speed they say is not terribly slow.

![image](https://user-images.githubusercontent.com/4202842/32569856-3cd16d46-c477-11e7-8744-b2dd3818474e.png)

I searched for the strings in this error message in chaise and ermrestjs repos but did not find a hit. I need someone to point me in the righ

[2017-11-08 20:24] chiragsanghvi commented on #1347
@robes The problem is ermrest returns a 409 when we check whether a file exists. For 409's we consider that the file had a problem while uploading, so we try to upload it again and apparently the code doesn't uploads anything as there is no content to read and it is stuck.

Will this work ? I am rendering a warning and clearing the file picker when user selects a zero byte file. https://dev.isrd.i

[2017-11-08 21:31] #1350 closed

[2017-11-08 22:33] svoinea opened #1365 "recordset not working on cirm-dev if you are not yet logged in"
On `cirm-dev`, I issued https://cirm-dev.isrd.isi.edu/chaise/recordset/#1/Microscopy:Scan .
I was directed to the login page.
After I  logged in, the URL has become:

https://cirm-dev.isrd.isi.edu/chaise/recordset/#1/Microscopy:Scan@sort(Acquisition%20Date::desc::,slide_id,filename,HTTP%20URL,bytes,Thumbnail,Microscope,Camera,Objective,Exposure%20Time,Channels,Channel%20Name,Contrast%20Method,Magn

[2017-11-08 23:47] hongsudt commented on #673
We are deprecating search..So I am closing this issue.. If there are UX improvement on recordset or other chaise apps, we can generate new issues.

[2017-11-08 23:47] #673 closed

[2017-11-09 01:28] RFSH opened #1366 "ACL Handling"
We should do this for all the apps, it's currently done for recordedit.

[2017-11-09 17:50] RFSH commented on #1365
This is happening because of the `select:false`, `enumerate:true` case which [is not fully supported by chaise/ermrestjs](https://github.com/informatics-isi-edu/ermrestjs/issues/515). Although a simple fix for this case is forcing page reload after user logged in.
 But this combination of ACLs can cause problem in different apps. We are going to [enforce page reload after anonymous user logs in](h

[2017-11-09 17:56] RFSH commented on #1365
To explain why the URL is changing in this case,
  - Because of ACLs, user cannot access the key of the table. When sorting, we're always appending the shortest key to the sort list. In this case, since key doesn't exist, we're using all the columns of the table.
  - Visible columns logic in ermrestjs is the only API that is currently taking care of `select:false`. Since all the columns are `selec

[2017-11-09 18:11] karlcz commented on #1363
Is it repeatable or sporadic? If repeatable for the user with the same file, I'd be concerned about possible browser-based corruption due to some unexpected character encoding translation or other non-binary file content handling.

If it's sporadic even for that user and the same test file, I'd be concerned about a race condition where the chunked upload job isn't getting all of its chunks sent be

[2017-11-09 19:13] svoinea commented on #1365
I have changed on the `cirm-dev` ACL catalog the `enumerate` to match the `select`, and that fixed it.

[2017-11-09 20:04] chiragsanghvi commented on #1366
After discussion with @hongsudt and @karl we need to address following use cases.

1. **When a user visits a page as an anonymous user and logs in:**
   We should identify this situation by checking whether a session was present previously when the
    user logged in. If not then reload the page.

2. **When a user visits a page and after some time, the user session has timed out and logs in as the

[2017-11-09 20:26] RFSH opened #1368 "Asset URL Validation Missing"
We used to validate urls before creating upload jobs to show a better error message to users. For that we have a `areFilesValid` function defined in upload.js which was used in recordedit. But in the [Batch add association PR](https://github.com/informatics-isi-edu/chaise/pull/1251) that piece of code has accidentally been removed.

We should take that piece of code back and take another look at t

[2017-11-09 20:31] RFSH commented on #1345
The problem was `Object.assign` not being defined in IE and we added a polyfill for it in ermrestjs. I used saucelabs manual testing to test the given URL in windows 10 IE11, and it's working now.

[2017-11-10 18:19] robes opened #1370 "Value picker throws error on page followed by sort"
Go to

1. go to https://dev.facebase.org/data/recordset/#1/isa:clinical_assay
2. expand Syndromes
3. click "Show More"
4. in the picker, click next page ">"
5. then sort by the Syndrome column

Error:

Offending request:
`https://dev.facebase.org/ermrest/catalog/1/attributegroup/M:=isa:clinical_assay/value:=syndrome;count:=cnt(*)@sort(value)@after(34,Moebius syndrome)?limit=26&cid=recordset`

[2017-11-10 18:55] svoinea opened #1371 "text search on the facets control is not working for the columns having special characters"
1. Go to https://cirm-dev.isrd.isi.edu/chaise/recordset/#1/Microscopy:Scan
2. Expand the  `Experiment ID` facet.
3. Enter a text in the search box (for example `JL`).
4. You get the error:
[code]

The space from the `Experiment ID` is double URL encoded:
[code]

[2017-11-10 19:03] RFSH commented on #1370
This was an ermrestjs bug. In case of AttributeGroupReference (scalar picker), I wasn't removing the page settings after sorting.
[The related commit in ermrestjs](https://github.com/informatics-isi-edu/ermrestjs/commit/f696c006c7bcc9d0fab145a1d25f24da21a11703).

[2017-11-10 19:26] robes commented on #1370
seems to work for me on dev facebase

[2017-11-10 19:26] #1370 closed

[2017-11-10 19:38] #1342 closed

[2017-11-10 19:38] #1362 closed

[2017-11-10 19:46] #1313 closed

[2017-11-10 20:18] RFSH commented on #1371
As you mentioned in the description we were applying the URL encoding twice. I fixed ermrestjs and pushed it to master. Please let me know if it's still an issue or not.

[2017-11-10 20:23] karlcz commented on #716
I don't think we should try to handle that custom gpcr error in the front end.  If we want, we can try to recognize the general postgres error message pattern and strip some of the uglier parts.
E.g.

    Error 409 Conflict The request conflicts with the state of the server. ERROR: the provided site_name is not consistent with your login profile. Please enter an appropriate site CONTEXT: PL/pgSQL

[2017-11-10 23:59] chiragsanghvi commented on #1347
This issue has been fixed in ermrestjs and merged in Master

[2017-11-10 23:59] #1347 closed

[2017-11-11 01:08] svoinea commented on #1371
The problem is fixed now.

[2017-11-11 01:08] #1371 closed

[2017-11-13 23:03] hongsudt commented on #1368
@RFSH should I assign this to @amitjha21 ?

[2017-11-13 23:04] #1365 closed

[2017-11-13 23:35] RFSH commented on #1368
I think @chiragsanghvi should review it first.

[2017-11-14 17:58] RFSH opened #1372 "Fix ACL Definitions"
[ermrest no longer allows `*` on mutation ACLs](https://github.com/informatics-isi-edu/ermrest/commit/07223a50cd1d695708997a168cf5ca6de428e72f).

Since in chaise we're not doing any actual ACL testing we can just remove the ACL definitions from `*.config.json` files.

[2017-11-15 02:30] hongsudt commented on #1307
@jrchudy @RFSH Have we fixed this? If so, we should close the issue.

[2017-11-15 18:51] #1345 closed

[2017-11-15 19:56] jrchudy commented on #1307
Yes this has been fixed. We addressed this by having the title text flow above the links. The links get pushed down to a new row when the title text is multiple rows.

[2017-11-15 19:56] #1307 closed

[2017-11-15 20:10] #1372 closed

[2017-11-15 21:59] #1253 closed

[2017-11-15 22:53] robes opened #1375 "Refactor the UX for adding related entities"
I think we should refactor the UX for adding related entities.
1. Keep the "Add" link in the related entity section header, but
2. Do not display all the empty nested tables. Its not necessary.
3. Instead, at the top of the record page, in the menu section, add a menu for "Add related record"
    - For each related record, have a menu item
    - The user clicks on the menu item and is taken to the

[2017-11-16 00:54] jrchudy opened #1376 "Bug in File upload when choosing no file"
When creating a record with a file upload field:
 1. Open the file selector and select a file.
 2. Open the file selector again and hit cancel without selecting a file.
 3. a Terminal error should show up with a with a value being `undefined`.

This is happening because the `change` event on the file input fires even if the input itself didn't change (no new file was selected).

[2017-11-16 01:36] RFSH commented on #1366
@chiragsanghvi @hongsudt Should we create separate issues for these three cases or change the title? #1369 has fixed the first scenario, so if we want to create separate issues for other cases we should just close this issue.

[2017-11-16 03:53] chiragsanghvi commented on #1366
@RFSH  I think we should keep it in the same issue, so that we don't forget the context in future.

[2017-11-16 19:05] #1368 closed

[2017-11-16 19:08] #1376 closed

[2017-11-16 20:27] jrchudy opened #1378 "Performance in chaise"
Currently the apps are taking quite some time to load even on simple models. Linking the appropriate [division issue](https://github.com/informatics-isi-edu/division/issues/134).

It was mentioned that there was a very simple model in synapse (very few tables for introspection and assets for bootstrapping) to test this performance against, but I don't see it in the relevant issue.

[2017-11-17 02:23] #1172 closed

[2017-11-17 02:26] #258 closed

[2017-11-17 18:25] robes opened #1379 "Showing `nothing` in a term picker (to indicate NULL values?)"
![image](https://user-images.githubusercontent.com/4202842/32962445-4cabcf20-cb81-11e7-9619-a77639d6f663.png)

I'm assuming this means that this attribute is NULL. We really need to have some placeholder text. It makes no sense to show users just empty whitespace and think they will interpret that as a null.

So call it "--none--" or "--no entry--" or whatever.

[2017-11-17 20:00] hongsudt commented on #1295
This change seems to break the browser print functionality. We need to fix this.

[2017-11-17 20:08] jrchudy commented on #1295
@hongsudt what do you mean by that? None of our apps are optimized for printing a web page using the browser.

What I see is that the footer shows up at the bottom of each page in the "print preview" but there are far worse problems that can be seen. When looking at a `record` page, none of the related tables render properly in the print preview unless you drastically reduce the scale of the page.

[2017-11-17 23:24] jrchudy commented on #1295
To fix the footer position we need to address it in each app:
 - `recordset` - Move the footer to the bottom of the recordset content area so that it isn't part of the facet container.
 - `record`/`recordedit` - move footer to the bottom of "main-content" area so it sticks to the bottom of the document instead of the viewport

[2017-11-17 23:44] jrchudy opened #1381 "Browser Print"
We haven't added anything to our code to specifically handle using the browser print functionality. Recent changes broke this function so that it only prints the first page of content when there are multiple pages. This is especially bad in the case of `record`.

For `record` app, we need to add css rules under the `@media print {...}` query. This way we can manage some of the html and css when pr

[2017-11-18 02:36] RFSH commented on #716
To summarize what is needed,

1. A better and more informative error messages for
  - Duplicate key violation: When you update/create a record with the same key value.
  - Foreign Key violation: When you delete a record and it has foreign key dependencies.
2. For other 409 error messages, just remove the "Error 409 Conflict The request conflicts with the state of the server." if exists. And only s

[2017-11-20 19:55] hongsudt commented on #1379
@jrchudy @RFSH didn't we take care of this already? ?

[2017-11-21 02:08] hongsudt commented on #1159
@RFSH the fk issue (allow access to the fk rows) that you are working on should address this issue as well, correct?

[2017-11-21 02:25] #841 closed

[2017-11-21 02:36] hongsudt commented on #1297
@RFSH It seems like this is no longer the case, correct? If so, please close the issue.

[2017-11-21 02:47] hongsudt opened #1382 "prototype related records section that shows a list of related tables"
* We should reuse the components that we have for recordset to create 2 independent panes on the record app---one for the table of content style that lists related tables, and one that shows the main content.
* When I click on each related record, it should direct me to the relevant related record table in the main pane. It should automatically expand that table.
* The TOC pane should be adjustabl

[2017-11-21 19:31] hongsudt commented on #1361
From #1378, it seems like the number of assets is not the source of the performance issue. We will revisit this after we look into #1378.

[2017-11-21 19:37] hongsudt opened #1383 "fix position of the `loading` in record app"
Currently, the word is on top of the main entity table.

[2017-11-21 19:42] hongsudt commented on #1256
I tried to think about cases where we wanted to provide an alternative. I can only come up with one (assuming that we know the context of when the error is thrown)...
* if the terminal error is thrown from a record or recordedit page, provide an option to go to recordset of the same table.

In other cases, we can provide an option for users to reload the page. But in some cases, that would lead ba

[2017-11-21 19:44] hongsudt commented on #544
I am closing this issue with `wishlist`. We can reopen this later if needed.

[2017-11-21 19:44] #544 closed

[2017-11-21 19:58] amitjha21 commented on #1200
Assigning to @RFSH  to review it.
Error handling is maintained both at `chaise` and `ermrestjs` repo. Error objects are created using [`Prototypes`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/prototype) and subtype of 409 errors was created using inheritance.
_e.g._
[code]

[2017-11-21 20:05] hongsudt commented on #1361
#627 is relevant to this issue.

[2017-11-21 20:06] hongsudt commented on #627
part of #1361. WIll close this issue.

[2017-11-21 20:06] #627 closed

[2017-11-21 20:07] hongsudt commented on #535
duplicate with #1361. Will close.

[2017-11-21 20:07] #535 closed

[2017-11-21 20:14] hongsudt commented on #216
I think this is no longer relevant. If it is still an issue, we can open one later.

[2017-11-21 20:14] #216 closed

[2017-11-21 20:19] hongsudt commented on #416
I am tagging this issue as a wishlist and close this one for now.

[2017-11-21 20:19] #416 closed

[2017-11-21 21:42] hongsudt commented on #839
marked this as a wishlist and close.

[2017-11-21 21:42] #839 closed

[2017-11-27 17:49] RFSH commented on #1159
@hongsudt No it won't. As Josh pointed out we need extra requests for each of the foreign keys.

[2017-11-27 17:59] #1297 closed

[2017-11-27 18:01] RFSH commented on #1379
No. We just changed it in the faceting. We cannot change the display of values in here without effecting other apps. We should discuss about this.

[2017-11-27 19:26] jrchudy commented on #1379
To add what @hongsudt and I discussed last week:
Maybe we want to do this only in the case of sub contexts to the `compact` context. It doesn't make sense to apply this logic in `compact` (main recordset table) and we may not want to apply it for all `compact/brief` tables. But it may make sense to apply this logic in the case of `compact/select` where the user is going to want to know exactly wha

[2017-11-28 19:53] #1381 closed

[2017-11-28 19:54] #1383 closed

[2017-11-28 22:36] RFSH commented on #1379
All the faceting modal, foreignkey modal, and association modal pickers are using `compact/select`. Since we want this only for faceting in scalar mode, we cannot use context. For now I just added a new variable in the directive to use the logic of showing appropriate values for null/empty.

[2017-11-29 01:24] #1352 closed

[2017-11-29 01:55] hongsudt opened #1389 "logging"
### Updated (Jan 23) Description

In here I tried to summarize what we discussed in person and also the comments. You don't need to follow the comments and this description should be sufficient.

#### Errors
Currently we're only logging terminal errors (we might want to change that to log 5xx errors too). To find the errors in log, you can search for `terminal_error` path. This is what a error log

[2017-11-29 02:04] #1287 closed

[2017-11-29 22:04] RFSH commented on #1379
This is fixed, We're showing the same "Empty" and "No Value" for faceting scalar pickers now.

[2017-11-29 22:04] #678 closed

[2017-11-30 02:17] hongsudt commented on #1389
This needs informatics-isi-edu/ermrestjs#558.

[2017-11-30 02:18] hongsudt commented on #1382
@robes @carlkesselman @ljpearlman I think this prototype should help with many of the UX issue in the case of multiple related tables.

[2017-11-30 02:22] hongsudt opened #1390 "Tightening white space in recordedit modal"
We should move the plus sign up and remove unnecessary white space on the pop-up modal..

[2017-11-30 19:44] robes opened #1391 "Sort icons not showing on IE11"
Reported by a user:

[2017-11-30 19:53] robes opened #1392 "Chaise pages don't render through IE11 accessed via a Terminal server"
This happened with this setup:
- Mac client
- connecting via a Windows Terminal Server
- IE 11

![image](https://user-images.githubusercontent.com/4202842/33451725-c282b3b0-d5c4-11e7-862a-b09d0de746b9.png)

Somewhat related to #1391

We might be able to reproduce this by running a Mac and using Remote Desktop to connect to a Windows client and using IE 11 on that remote Windows desktop.

[2017-11-30 20:00] hongsudt commented on #1392
THis is such an edge case... Why do they have to go through a round-about way to get to the chaise app?

[2017-11-30 20:16] karlcz commented on #1262
Another wrinkle here is that a DBA may want to ask for a path-based psuedo-column to be loaded into the templating environment, but not actually displayed as a new column of its own. Rather, they just want to access some of this denormalized content to improve the presentation of an existing column via templated markdown.

This may need a new kind of annotation since it doesn't seem to fit the vis

[2017-11-30 20:22] karlcz commented on #1392
@hongsudt  This is one of the funny deployment modes people use for "secure" infrastructure. They treat the terminal server like a category of DMZ in their network/firewall architecture.

[2017-11-30 21:11] jrchudy commented on #1391
From a relevant stackoverflow thread:

[2017-11-30 21:12] jrchudy commented on #1391
Another relevant page regarding font-awesome fonts not showing:
https://stackoverflow.com/questions/31291414/font-awesome-icon-is-not-appearing-in-ie-11-but-showing-in-other-browsers

[2017-11-30 21:18] jrchudy commented on #1391
When I start a manual testing session in SauceLabs, (which allows you to emulate any OS and browser) I see the sort icons in Win10 with IE11.

@robes is this issue related to #1392 in the way that the user is accessing chaise (on a mac connecting through Windows Terminal Server)?

[2017-11-30 21:48] hongsudt commented on #1379
@robes please review and close.

[2017-11-30 21:50] karlcz opened #1393 "Presentation of "asset" columns needs to handle null filename column"
@karlcz commented on [Mon Nov 06 2017](https://github.com/informatics-isi-edu/ermrest/issues/176)

If you have a URL column annotated with the "asset" annotation and providing a mapping for the `filename_column` field, the presentation does not handle a case where a row has a non-NULL URL but a NULL filename column value.  No download link is offered.

This could easily happen if data were uploade

[2017-11-30 21:51] karlcz commented on #1393
I am not sure if this was moved incorrectly or if I originally created it in the wrong repo... but I just found it in the ermrest repo and moved it to Chaise since it is a presentation issue.  I am not sure how this feature is split between Chaise and ermrestjs.

[2017-11-30 21:54] hongsudt commented on #1354
We discussed this issue today and decided to introduce a not-null flag in the current facet syntax for dealing with not null checking.

For UX simplicity, I am proposing to show a checkbox for `records with values` only in the compact/select (e.g. view more) mode. If the column or fk is not null, then this option should not be shown.

[2017-11-30 22:35] hongsudt commented on #1392
@robes can you ask your user whether they have this issue with chrome or firefox?  Just want to check whether they have alternative approach that works.

[2017-12-01 18:08] robes commented on #1392
The user does report that the remote desktop had FF installed and it worked. It did not have Chrome installed.

[2017-12-01 19:30] jrchudy opened #1395 "Footer overlaps content in Firefox"
The padding-bottom that was used to extend the main container is being ignored in FF for both `record` and `recordedit`.

[2017-12-01 20:00] hongsudt opened #1397 "wierd error flow"
On this page, https://dev.rebuildingakidney.org/chaise/record/#2/RNASeq:Sample/RID=13-FMFG
- click add file
- add an arbitrary file.. This will throw a terminal error since I have a bad trigger.  In the past, this is a soft error that allows me to go back and makes change to my recordedit..

Anyway, when I click ok, it directed me to another page which then throw another terimal error.. And when I

[2017-12-01 21:01] jrchudy commented on #1397
Error in Chrome:
[code]

Error in FF:
[code]

This is happening at [this line](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/utilities.js#L352-L369) in the code. Seems like the recursive function to replace `.` with `_` is recursing too much for the browser.

Note: I like FF is error message here, straight to the point.

[2017-12-01 21:17] RFSH commented on #1397
This is happening for the reason that @jrchudy mentioned. In the file upload we're attaching the whole hatrac object to the values that will be used for template (which is wrong), and in that object we have recursive references which is causing this error.

The assumption for the `renderTemplate` was that the given object will be a very simple JSON object, but in this case it's not and it's  javas

[2017-12-01 22:46] RFSH opened #1398 "Add Link for Related Entities"
We're not using the unfiltered reference for generating the add link for related entities. And that's why you will see the facets when you click on "Add". It's a very simple fix, but we should make sure that we're not breaking any test cases.

[2017-12-01 22:47] hongsudt commented on #1397
Issue moved to [informatics-isi-edu/ermrestjs #563](https://github.com/informatics-isi-edu/ermrestjs/issues/563) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-01 22:47] #1397 closed

[2017-12-01 22:57] amitjha21 commented on #1196
Created wiki here:
https://github.com/informatics-isi-edu/ermrestjs/wiki/General-Documentation-for-Error-Hierarchy

[2017-12-02 01:29] amitjha21 commented on #1196
ERMrestJS error wiki:
https://github.com/informatics-isi-edu/ermrestjs/wiki/ERMrestJS-Error-Hierarchy
Chaise error wiki:
https://github.com/informatics-isi-edu/chaise/wiki/Chaise-Error-Hierarchy

[2017-12-02 02:34] #1395 closed

[2017-12-04 19:06] svoinea opened #1399 "Text Search on Facets is not working properly for text values representing a number"
On `cirm-dev`, go to the `Search | Slide` link (https://cirm-dev.isrd.isi.edu/chaise/recordset/#1/Microscopy:Slide) page.

The `Slide ID` facet, has for example the `20130308-mKDAWTIRI_PAS-sk-0-01-000` value.

Enter in its search box the `2013` value. It returns `No Results Found`.

The request sent to the server is:
[code]

The entered `2013` valued is surrounded by some text that makes to return

[2017-12-04 19:57] karlcz commented on #1399
This is actually the currently expected behavior of the search box in
Chaise.

We heuristically determine that the user is searching for a numeric
string (typing only decimal digits) and generate a different search
regex which will only match the "whole" number rather than an
arbitrary substring.  Substring matching produces nonsensical results
whenever there are actual numeric columns in a table.

[2017-12-05 18:03] svoinea commented on #1399
That was an arbitrary test.

However, if I enter the same value `2013` in the search box of the results page, it works as expected,  displaying in the `Slide ID` facet only the values having the `2013` substring.

The requests sent in this case look similar in respect to the `ciregexp`:

[code]

[2017-12-05 21:13] #1390 closed

[2017-12-06 19:33] svoinea opened #1403 "recordedit is displaying the RID value for a foreign key"
On `cirm-dev`, go to the page https://cirm-dev.isrd.isi.edu/chaise/recordedit/#1/Microscopy:Specimen

Select a value for the `Submitted By` field. The `RID` value will be displayed.

The `Specimen` table has defined:
[code]
and the `User` table has defined:
[code]
The annotations for the `Specimen:Initials` column are:
[code]

[2017-12-06 19:39] RFSH commented on #1399
They (search in facet and search in result) both behave the same way. They both change the "2013" search to a proper regular expression as Karl explained. The reason that the result are different is the fact that "2013" search is matching values of other columns in the result set (and not the Slide ID column).

[2017-12-06 19:41] svoinea opened #1404 "recordedit is displaying the default value of the RID column"
On `cirm-dev`, go to the https://cirm-dev.isrd.isi.edu/chaise/recordedit/#1/Microscopy:Collection page.

For the `RID` column the `_ermrest.urlb32_encode(nextval('_ermrest.rid_seq'::regclass))` value is displayed.

I think it should be displayed `Automatically generated` like for the other `ermrest` system columns.

[2017-12-06 19:43] RFSH commented on #1403
This is working as expected. We changed the row-name heuristics to use "RID" instead of the shortest key. If you want to change the displayed value (row-name), you need to define your own row-name for the table.
To do so, you need to add the following annotation to your table:
[code]

[2017-12-06 19:45] RFSH commented on #1404
This is related to [ermrestjs#562](https://github.com/informatics-isi-edu/ermrestjs/issues/562) issue.

[2017-12-06 19:50] svoinea commented on #1404
Closing as it is a duplicate.

[2017-12-06 19:50] #1404 closed

[2017-12-07 18:44] robes commented on #1392
@hongsudt I just did a test. I have a Windows 7 Pro host with IE 11. I connected via Remote Desktop to it (from my Mac). Over the RDP, I used IE 11 to browse the www.facebase.org deployment of chaise. It all worked for me. Of course, this does not exactly duplicate the user environment which was a windows terminal server. My vote here would be to leave this issue open but unassigned just as a reco

[2017-12-07 18:51] robes commented on #1391
@jrchudy No. This issue is independent of #1392.

Are the sort icons coming from a different set of icons than the rest? How does one 'trust' or not icons on IE 11?

[2017-12-07 19:45] hongsudt commented on #1392
@robes I would like to mark this as 'won't fix' and close it.. If it recurs, we can reopen the issue..

[2017-12-07 19:48] RFSH commented on #1254
It seems like this is not an issue anymore. We should close this.

[2017-12-07 20:03] robes commented on #1391
The user is on Windows 8.1 with IE 11.

[2017-12-07 20:07] robes commented on #1391
Here's a (totally random link returned by Google) link on checking if fonts download is enabled.

https://support.xmatters.com/hc/en-us/articles/207108186-Missing-icons-when-using-Internet-Explorer-11

[2017-12-07 20:15] RFSH commented on #1391
The sort icon is using the same font that other bootstrap icons (glyphicon) that we have (for example the view or edit icon) are using. So if it was a font problem, all the other icons should have the same problem.

[2017-12-07 20:16] jrchudy commented on #1391
That seems to be the general case but I found another related comment from a thread on stackoverflow:
https://stackoverflow.com/a/36016136

They mention these 2 headers:
`Pragma: no-cache`
`Cache-Control no-store`

When looking at the requests for the glyphicons in the network panel, I see both of those headers defined.
[code]

[2017-12-08 01:34] RFSH commented on #1389
Instead of just having just `event-type`, we can have two different variables one for the `context` that the request has been generated from, and the other `action`. For instance if you load the page,
- The request for getting the data set: `context: "compact", action: "load page"`
- The request for getting data for one of the facets: `context: "compact/select", action: "load facet"`
- The request

[2017-12-08 01:54] hongsudt opened #1405 "Record Not Found clicking OK goes to the wrong place"
"Record Not Found" error, upon clicking OK, it is supposed to go to recordset, but instead it goes to the home page.

https://www.rebuildingakidney.org/chaise/recordedit/#2/RNASeq:Sample_Settings/RID=13-FMFM?invalidate=6387594911901047

Do we have a test case for this?

[2017-12-08 23:57] hongsudt commented on #1254
This bug is not predictable.. I am going to mark this won't fix and close.

[2017-12-08 23:57] #1254 closed

[2017-12-08 23:58] hongsudt commented on #1399
This is working as expected.. So I am closing this issue..

[2017-12-08 23:58] #1399 closed

[2017-12-08 23:59] #1392 closed

[2017-12-09 00:00] hongsudt commented on #266
I am moving this back to backlog..

[2017-12-09 00:31] hongsudt opened #1406 "log user in after session expires"
In RBK, after my session expires, the app treats me as an anonymous user instead of directing me to re-login.

This behavior might confuses users as they will see a small set of records, and it isn't obvious that it is due to session has expired and they are now seeing records as an anonymous user.

[2017-12-09 00:33] hongsudt commented on #864
I am marking this as won't fix and close this issue for now..

[2017-12-09 00:33] #864 closed

[2017-12-09 00:34] hongsudt commented on #606
I am marking this as a wishlist and close this for now.

[2017-12-09 00:34] #606 closed

[2017-12-09 00:36] hongsudt commented on #771
I am closing this since #1389 is more concrete and will address this issue.

[2017-12-09 00:36] #771 closed

[2017-12-09 00:37] hongsudt commented on #529
I am tagging this as a wishlist and close the issue.. We can go over wishlist later.

[2017-12-09 00:37] #529 closed

[2017-12-09 00:42] hongsudt commented on #798
I am marking this as a wishlist. We all are kind of aware of the consistency issues, and hopefully, we can eventually merge on consistent style.. I don't see us spending a lot of time refactoring all apsp on this.

[2017-12-09 00:42] #798 closed

[2017-12-12 02:35] hongsudt commented on #1265
For integer and date, we want the bin width to be a whole integer so when we label the bin, it is easy to understand...

Let's assume that
[code]

[2017-12-13 00:30] karlcz commented on #1321
I can confirm this is working as described.

[2017-12-13 00:30] #1321 closed

[2017-12-13 18:47] hongsudt opened #1407 "update GUDMAP links in JAX for db migration"
* @ljpearlman will figure out whether this has to be done by JAX or whether there are APIs for us to change.
* If there will be an outage period, maybe we can put a redirect rule to a temporary page instead of just simply returns 404.
* We still need to work out a solution..

[2017-12-13 18:48] #1407 closed

[2017-12-13 19:51] RFSH commented on #1159
As part of #1400, we are now making extra requests for getting the actual foreignkey data and therefore we are showing the correct rownames (If the default values are invalid, we are going to completely ignore the default value).

[2017-12-13 19:51] #1159 closed

[2017-12-13 19:51] hongsudt opened #1408 "Support array column type in recordedit"
The array column type's contents can only be values of scalar types.

In the `recordedit` form, need to support the following functionality:
 - adding more cells for the array
 - removing cells from the array
 - reordering the data in the array
 - edit any one of the cells

This issue is currently relying on [this PR](https://github.com/informatics-isi-edu/ermrestjs/pull/566) in `ermrestJS`. It ad

[2017-12-13 20:04] hongsudt commented on #1262
@karlcz @robes @ljpearlman lets start by designing the annotation syntax..

[2017-12-13 20:10] hongsudt commented on #1403
@svoinea we decided to remove RID from the row_name heuristics and let's it kicks in later in the shortest key..

[2017-12-13 20:49] RFSH commented on #1403
@hongsudt Just changing the row_name heuristics in this case won't solve the problem. The shortestkey is still is going to be RID (since we changed the shortest key heuristics to use RID when it's available). Unless we change the shortestkey logic back to the original too.

[2017-12-13 21:58] RFSH opened #1409 "Add Pure And Binary Testcases for Inline"
We have a test case for inline display of a related entity, but we don't have any test cases for inline pure and binary association related entities. We should add a test case for this.

Edited body:

### [Schema document](https://github.com/informatics-isi-edu/chaise/blob/master/test/e2e/data_setup/schema/product.json) changes:
 - [x] a new table needs to be added to the product schema document t

[2017-12-13 22:31] amitjha21 commented on #716
It's been merged. Assigning o @hongsudt to verify and close it.

[2017-12-14 05:26] amitjha21 commented on #1256
As per the discussion:
- For `record` app OK button should take users to the `recordset` page
- For `recordedit`, there should be two buttons. OK to take users to the `recordset` page and a Restart/Reload button to let user start over.

[2017-12-14 18:52] #1379 closed

[2017-12-14 23:39] karlcz commented on #1262
As a starting point, we should simply allow the same notation currently used in individual facet controls for the "filter" context within the list for other contexts.  i.e.  `{"source": [...], "markdown_name": "...", "entity": bool}` as an element in a visible column list.

When we add support for the filter elements within the source path for faceting, we should also add them here. The only thing

[2017-12-15 19:10] #1398 closed

[2017-12-18 19:49] hongsudt commented on #1403
@RFSH ping @svoinea to review this issue after your are done with RID.

[2017-12-18 19:51] hongsudt commented on #1355
@RFSH let's discuss this with @karlcz tomorrow, to see whether it is relevant to the informatics-isi-edu/ermrestjs/#558

[2017-12-18 20:05] hongsudt opened #1413 "create catagorical heatmap viz module"
Create a reusable catagorical heatmap visualization module that can be embeded in a static site or to be displayed in the context of recordset..

This plot assumes that the x and y are sortable, and the z value is a array of terms. For each cell, render the appropriate color(s) based on the z value. Take a look at the facebase page for an example. The app should be responsive.

Assumptions:
* The

[2017-12-18 22:32] hongsudt commented on #1413
relevant to #1108

[2017-12-19 01:32] RFSH commented on #1413
[This is the PR](https://github.com/informatics-isi-edu/chaise/pull/1104) that we removed matrix from the chaise repository. You should be able to use the same logic and change it based on new app patterns.  [This](https://www.facebase.org/mousematrix/) is the current static implementation of it in facebase. Although the matrix app that I have created is a bit different from this static site. I ch

[2017-12-19 18:05] amitjha21 commented on #1256
Error modal in `recordedit`.

![image](https://user-images.githubusercontent.com/9977014/34171694-2bda07f8-e4a4-11e7-8566-7a89fe0036f1.png)

[2017-12-19 19:41] RFSH commented on #1403
@hongsudt @svoinea The change has been merged with master.

[2017-12-19 19:47] hongsudt commented on #1256
There are two terminal error cases that I want to improve the error messages:
- Request timeout. We should append "The server is temporarily unavailable. Please try submitting your request later."
- In the case of record app without the filter/facet, it throws a generic terminal error. We should bring the "No filters have been specified" instead of embed that in the show error detail.

[2017-12-19 20:18] amitjha21 commented on #1256
There are some terminal cases where URL would not be valid. In such scenarios, it is better to let existing behavior be in place (**`OK`** should take users to `Home`.). Some of such scenarios are:
- MalformedURIError
- InvalidFilterOperatorError
- InvalidFacetOperatorError

[2017-12-19 22:15] hongsudt commented on #1332
@RFSH can you identify errors that are not terminal?  Here is a list that I can think of:

- [ ] invalid sorting criteria

[2017-12-19 23:34] hongsudt commented on #1262
Should we define `aggregates` for aggregate functions to be mapped to ermrest aggregate functions e.g.  min/max/count/array?

[2017-12-19 23:36] amitjha21 commented on #1256
As per discussion:
Three level of erros:
- Chaise Specific
- Ermrestjs Specific
- Unknown(Terminal error)

For 1 and 2 separate listing will be created. For 1, OK and Reload will behave according to the app and table name that would be extracted from the reference. `Record` and `Recordedit` will be taking users to `Recordset` page. There will be a `Reload` button for `Recordedit` app.

For 3 there

[2017-12-19 23:46] hongsudt commented on #1262
also, what's the implication of this pseudo-column on the regex search? Does ermrest support this?

[2017-12-19 23:48] #716 closed

[2017-12-20 00:30] RFSH commented on #1332
Any part of error that can easily be ignored. These are what I can think of:

1. Invalid sort criteria

2. Invalid page criteria

3. Invalid facet

4. Invalid sort

This task includes changing ermrestjs to return appropriate errors too. For example for invalid sort criteria we don't have specific type of error.

There are some errors that we are throwing while we're parsing the url which still can

[2017-12-20 01:54] svoinea commented on #1403
@RFSH I have defined for the `User` table, the annotation:
[code]

On selecting an user, the `Initials` are displayed now, ignoring thus the value `Full Name` specified in the `row_markdown_pattern`.

Does that happen because the `UNIQUE CONSTRAINT ("Full Name")` has not also the `NOT NULL` constraint?

[2017-12-20 20:38] RFSH commented on #1403
I don't have access to that table so I'm not sure what exactly is happening. But if you have defined your `row_markdown_pattern`, that will be used unless the value that you defined results in an empty string.

Based on the behavior that you explained your `row_markdown_pattern` is either defined on a wrong table or the defined value is not resulting in a valid string (The annotation that you post

[2017-12-20 20:54] amitjha21 commented on #1405
This has been merged. Assigning to @hongsudt  to verify and close it.

[2017-12-20 22:57] amitjha21 commented on #1256
To get the table display name, reading `reference.displayname.value` before throwing errors across all apps. The error object thrown will have an attribute `gotoTableDisplayname` which contains this table name value.
If this attribute is defined along with redirectlink (i.e. link to `recordset`) then it will be case 1 as described above otherwise case 2 (with  'Home Page' as goto Navigation displa

[2017-12-20 23:03] amitjha21 commented on #1353
This has been merged into `master`. Assigning to  @hongsudt  @jrchudy  to verify and close it.

[2017-12-21 17:03] #1353 closed

[2017-12-21 22:26] RFSH commented on #1354
`not_null` has been added as a new attribute to the facets. I will update the annotation and also the facet wiki page.

[2017-12-21 22:26] #1354 closed

[2017-12-22 01:30] RFSH commented on #1389
We decided that we don't need `context` and `action`. Just an action field would suffice. Since we can only log events when we're talking to ermrest, the following are the list of ermrest actions and the log action.

| #  | App        | ermrestjs Action          | Summary                                                                         | Logged Action             |
|----|------------|------

[2017-12-22 22:08] amitjha21 commented on #1256
corresponding `ermrestjs` PR ermrestjs/pull/579

[2018-01-03 16:49] robes opened #1417 "UX: consider moving the "View more" link to bottom of nested tables"
It might be more intuitive to put the "View more" link at the _bottom_ of the nested table. That way as a user, when you scroll down the record page while looking at a nested table, you reach the bottom, you have a clear indication that there is a possibility for more results. We could even make a false row with the "View more". Currently, when you scroll to the bottom (or past) any nested table y

[2018-01-05 19:48] karlcz commented on #1378
Sorry I didn't see this before.  The entire catalog/1 for synapse is a very simple model compared to many of the other deployments.

A table like https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Synapse:Person  doesn't have any embedded images or iframes to slow it down in compact context.

The dashboard https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Classifier%20Status doesn't

[2018-01-06 01:03] amitjha21 opened #1419 "Add job name to test suits to identify and investigate test failures on Sauce portal."
To easily identify and check which module has failed in Sauce we should add `name` in `capabilities`.
The default name is `Unnamed job` which is not quite helpful when trying to find out failures.

We can add something in this format to each `conf` file.:
**_TestSuiteString_timestamp_**

 Here is the difference :

![image](https://user-images.githubusercontent.com/9977014/34634577-258d140a-f23a-11

[2018-01-09 17:29] amitjha21 commented on #1256
This has been merged into master. Assigning to @hongsudt to verify and close it.

[2018-01-09 17:32] amitjha21 commented on #1409
This has been merged into master. Assigning to @hongsudt, @RFSH  to verify and close it.

[2018-01-10 00:07] RFSH commented on #1409
I found the following issue with the PR that is merged:

1. You're using browser.sleep which seems unnecesary.

2. I don't think the inbound table that you have added is actually pure and binary association. It's just a normal inbound related table.

3. You're not testing specific features of pure and binary association (clicking on add should open modal instead of going to recordedit, unlink butt

[2018-01-10 01:02] robes opened #1420 "Showing "No Value" for all rows of a table when table is a 'table alternate' view"
https://dev.facebase.org/data/record/#1/isa:dataset/RID=14290

See the "File" nested table at the end of the page, as shown here in the screen shot.

![image](https://user-images.githubusercontent.com/4202842/34750819-12fa129e-f55e-11e7-801f-13c2813d9191.png)

The ERMrest query for that nested table _does_ return tuples. You can see it in the developer tools network response. It can also be valida

[2018-01-10 01:15] RFSH commented on #1420
Related to [ermrestjs#583](https://github.com/informatics-isi-edu/ermrestjs/issues/583).

There was a bug in `tuple.uniqueId` logic which was causing it to return null in case of alternative tables. I recently changed the ellipses directive to show just `No Value` if the uniqueId is null. The combination of these two result in the behavior that you are seeing.

[2018-01-11 18:23] RFSH commented on #1420
Fix for this bug has been merged with ermrestjs/master.

[2018-01-11 20:32] hongsudt opened #1421 "markdown table doesn't display cell borders"
- We should check the style so it supports the expected behavior
- Provide a way to over-ride the markdown table styling
- Create a wiki page on how to over-ride the styling. Based on my experience, chaise looks for styling under /assets/styles/chaise.css. You can check with @RFSH on the detail.

Also, the markdown rendering of preview and the actual render in the app looks different.

[2018-01-11 20:38] hongsudt opened #1422 "Improve the ease of entry for binary assocation tables"
For pure and binary, we offer multi-select feature.

To support the binary association case, the flow will be
- First show a multi-select page. Instead of "Submit", we show "Next"
- Use this information to pre-fill the multi-record creation.

I think, we need an ermrestjs method to determine whether it is a binary association. A binary association requires the uniqueness of two forieng keys. Pleas

[2018-01-11 21:41] RFSH commented on #1421
If we want our markdown to look like github markdown by default, we can replicate the same css styles that github is applying. We don't need to figure out the css ourself, we can use [this](https://github.com/sindresorhus/github-markdown-css/blob/gh-pages/github-markdown.css) one. In this css files they are using `markdown-body` class which we should just change it to `markdown-container` and then

[2018-01-12 00:30] amitjha21 commented on #1421
Added `gihub` css in our repo.
Here is the demo link:
https://dev.isrd.isi.edu/~amit/md/record/#1/isa:dataset/id=269

[2018-01-12 01:03] RFSH commented on #1389
One of the issues that the specification in the previous comment has is the facet that we cannot figure out the source of `update` log. Ending up in the recordedit page to edit a page with a url, clicking on edit on recordset, and clicking on edit in record page will be logged the same.

[2018-01-12 02:09] robes opened #1423 "Secondary Action Errors should be dismissible"
For example, you are on a record page, you try to delete (unlink) an associated record (which could be as simple as a vocabulary 'tag' like resource). Upon failure, which can happen with dynamic ACLs that allowed the 'unlink' icon to be present, you can get a Forbidden error. The dialog will leave no option but to return to the home page and lose the rest of your state.

![image](https://user-imag

[2018-01-12 21:00] amitjha21 commented on #1421
I have tested above link with markdown entries and also with custom CSS in assets/css/chaise.css.
It works as expected and provides a way to override styling by changing classes in custom CSS.

However, adding styles through specific classes that applies only during rendering in `record` app and not during preview in `recordedit` app (or vice versa) will cause expected differences in appearance (a

[2018-01-12 21:33] RFSH commented on #1421
What are those specific styles that we are applying just for `record` app? Can't they be just based on `markdown-container` so it would work on any apps?

[2018-01-12 22:01] amitjha21 commented on #1421
We do not have anything app specific. It is all on `.markdown-container`.

[2018-01-12 22:44] RFSH commented on #1389
Since we're adding a lot of extra information in the header, we should be cautious of the HTTP header limit size and truncate the log information before reaching the limit.

[2018-01-12 22:57] RFSH commented on #1421
You said "adding styles through specific classes that applies only during rendering in record app and not during preview in recordedit app (or vice versa) will cause expected differences in appearance (as can be seen in current dev rbk portal)", I'm just asking what are these styles that we are applying only to record app in rbk?

[2018-01-12 23:10] amitjha21 commented on #1421
Here are some  examples I found in rbk portal custom CSS:
[code]
If these classes are removed from `/assets/styles/chaise.css` then both preview and actual rendering are   same.

[2018-01-13 00:37] amitjha21 commented on #1421
Wiki entry created for adding custom CSS:
https://github.com/informatics-isi-edu/chaise/wiki/Towards-a-style-guide#custom-markdown-styles

[2018-01-16 21:03] amitjha21 commented on #1382
I have added a demo link [here](https://dev.isrd.isi.edu/~amit/toc/record/#1/isa:dataset/id=269). Let me know about any changes.

[2018-01-16 22:14] robes commented on #1382
Looks promising. Couple thoughts:
- is the TOC heading using a standard font/size? It looks a little different but I can't tell exactly.
- the expand/collapse icon introduces a whitespace column/gap. It would be good to tighten that up.
- do we want the nested tables to be collapsed now by default? That said (or asked), I do like how when you follow a TOC link it not only scrolls to the position (

[2018-01-16 22:43] jrchudy commented on #1382
Maybe there should be a "Top of Record" link?  (Top of Page?) Seems useful now that some users may navigate around the page quickly using the sidebar instead of scrolling.

[2018-01-16 22:50] amitjha21 commented on #1382
The heading is using inherited font, however, size is different (with `h2` tag) to give it a header feel.
Default behavior for accordion panels are based on a `chaise.config` entry named `maxRelatedTablesOpen`. If a page has more related table entries than this value then all panels will be closed by default. For the demo, the `maxRelatedTablesOpen` is set at 15.

[2018-01-22 19:30] hongsudt commented on #1314
We will need to support the following case, so that the asset annotation can be used by other client tool.
- If `url_pattern` is not provided, don't provide an upload interface during the editing. Treat it as a regular column.
- Support `browser_upload = true/false`. This will allow the `url_pattern` to be used for other client upload.

[2018-01-22 19:59] RFSH commented on #1314
In the following I summarized the logic for creating an asset column (showing upload interface in entry contexts and download link in other contexts). It includes the new changes that we want:

- In entry contexts:
   - Show upload interface if `url_pattern` exists and it's well-formed (starts with `/hatrac/`), and the `browser_upload` is not `false`.
   - Otherwise treat is as a regular column.
-

[2018-01-23 20:41] jrchudy opened #1427 "Formatting Values in Integer and Float Inputs Fields"
### Integer Fields:
The input fields should format the input value so the user can easily understand what is being displayed. This meaning, commas (`,`) or once we work on internationalization (and allowing user defined thousands separators).

### Float Fields:
Similar issue as with integer fields, allow for specific characters to be inserted for thousands separators and the decimal separator.
Als

[2018-01-23 23:10] #1200 closed

[2018-01-24 00:04] amitjha21 commented on #1332
As per discussion, messages will appear in Modal with OK button:

**Type** | **Message** | **Link formation**
------- | ------- | -------
Invalid sort criteria | Generated at `Ermrestjs` | Strip `sort` and `after, before`
Invalid page criteria | Generated at `Ermrestjs` | Strip `after, before`
Invalid facet | Generated at `Ermrestjs` | Strip `facet` and other conditions can co-exist
Invalid filter

[2018-01-24 01:08] hongsudt commented on #1265
For auto-zoom, we will have to make that parametric too.. How about 60% zoom:
[code]

[2018-01-24 01:33] RFSH opened #1428 "Generated Asset Column"
Chaise throws an error if we set an asset column as generated. We have to add the support for disabled uploader.

[2018-01-25 00:39] RFSH commented on #1389
This is done. I updated the issue description to reflect what has been implemented. I also created [this wiki page](https://github.com/informatics-isi-edu/chaise/wiki/Logging) so we can easily find the documentation for logging. @hongsudt Should we close this issue?

[2018-01-25 20:03] amitjha21 commented on #1421
This has been merged into the `master`. Assigning to @hongsudt  to verify and close it.

[2018-01-26 19:55] #1428 closed

[2018-01-26 20:06] RFSH commented on #1314
These changes has been merged. I updated the annotation document too.
@karlcz Can you please review this feature?

[2018-01-27 00:52] robes opened #1430 "Make "Confirm Delete" dialog informative"
Currently it asks if you want to delete "this". If possible, let's replace "this" with the entity's row_name.

[2018-01-27 00:54] robes opened #1431 "Inline display should not bulletize a list of one"
When showing nested entities in the columns list (via the 'visible columns') annotation, when there is only ONE entity, the display should not use the html itemized list.

[2018-01-27 01:06] amitjha21 commented on #1332
Few examples of error modal:
![image](https://user-images.githubusercontent.com/9977014/35466569-cd0b7930-02b9-11e8-8680-6802b4fe85f4.png)

![image](https://user-images.githubusercontent.com/9977014/35466588-fac9ec12-02b9-11e8-9645-766f7fef4f02.png)

[2018-01-30 20:12] karlcz commented on #1314
I see that this now works for example on

https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Synaptic%20Pair%20Study/RID=EXA

However, I'd really like to see a heuristic to use a pattern-match to simplify the value displayed in the download chicklet.  For the common case of hatrac URLs, can we show just the basename without the version qualifying suffix nor the whole path to the file?  A

[2018-01-31 19:32] RFSH commented on #1314
I changed the filename logic to be what you explained. If `filename_column` is missing in the annotation, I am matching the value with the given regex. If it matched, it will return the filename; otherwise the whole url will be used.

[2018-02-01 01:32] RFSH opened #1432 "Entity Faceting Based on Secondary Key Modal Bug"
If you have two keys defined on your table, and the entity facet is based on the key that is not going to be used for shortestkey, modal view of facet will not show the selected filters.

This is happening because in table directive we're using the uniqueId (value of shortestkey) of tuple to figure out if tuples are selected or not; but in the faceting we are only capturing the value of column use

[2018-02-01 23:44] RFSH opened #1433 "Test Sorting then Paging In Recordset Directive"
We need e2e tests that verify clicking the column headers sort the data appropriately. Make sure to test sorting on pseudocolumns.

What needs to be done to setup the data:
 - [x] This should be added to the [recordset presentation spec](https://github.com/informatics-isi-edu/chaise/blob/master/test/e2e/specs/all-features-confirmation/recordset/presentation.spec.js).
 - [x] This spec's [schema def

[2018-02-05 20:46] robes opened #1435 "Multi-record edit confirm page does not scroll"
1. go to a recordedit form
2. enter 10+ records
3. submit
4. on success, you will be on a confirm page
5. if you have enough new records so that they fill up more than the first browser page, you cannot scroll to see all results

Test on FF

![records-confirm-cant-scrill](https://user-images.githubusercontent.com/4202842/35827879-7902a924-0a72-11e8-82e4-557b58a306f4.jpeg)

[2018-02-06 20:38] jrchudy commented on #1406
2 of the scenarios that we want to handle are as follows:
 - When the user is logged in and their session times out while they are away
 - When the user has the app open in a tab and the session expires. They later open a new tab and are an anonymous user

In both cases, we want to alert the user that a previous session had expired (either their session or any other users) and give them a dialog a

[2018-02-08 01:22] jrchudy commented on #1406
Besides cookies, there are two other storage options in the browser:
 - `sessionStorage` maintains a separate storage area for each given origin (separate between tabs) available for the duration of the session (until that tab or browser is closed). As long as the browser (or tab) remains open, `sessionStorage` persists through page reloads and restores

 - `localStorage` maintains a separate stor

[2018-02-08 23:24] RFSH opened #1440 "No Connection Error"
This is only reproducible on OSX/Safari combination (Tested on: 10.13.2 OSX /11.0.2 Safari).

1. Go to https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Behavior
2. Click on "View" button for any of the records.
3. You should see the error. Then if you visit any chaise page it will show the same "No Connection Error" unless you delete the cache.

This is what safari shows as the reque

[2018-02-14 23:13] #1265 closed

[2018-02-15 00:12] #1432 closed

[2018-02-16 21:02] amitjha21 commented on #1382
This has been merged into the `master`. Assigning to @hongsudt to verify and close it.

[2018-02-20 21:26] jrchudy opened #1443 "Buggy test cases"
[This test case](https://github.com/informatics-isi-edu/chaise/blob/master/test/e2e/utils/record-helpers.js#L265-L307) is failing randomly when the tests are run locally. What's happening is the modal disappear animation stays on the page longer than expected and sometimes when a click event is issued, it tries to click on the modal div while the animation is still happening.

The test case right

[2018-02-20 21:35] #1431 closed

[2018-02-22 23:02] jrchudy commented on #1406
@hongsudt, The modal popup dialog will have the following text displayed:
 - title: "A previous login was detected"
 - message:
[code]

The '_' s represent what will be a clickable link.

[2018-02-22 23:16] amitjha21 commented on #1408
As per today's discussion, 4 different cases pertaining to base type and domain type.

No. | isArray | isDomain | Typename | Base type
------- | ------- | ------- | -------| -------
1| False | False | Text|
2| False | True | Markdown| 1
3| True | False | Text [ ] |1
4| False | True | "Tex" |3

[2018-02-22 23:26] jrchudy commented on #1406
Specifications for this issue:
 - When the user first logs in on that machine and no local storage object is found, create a local storage object and set an expires timestamp on it.
 - Logout should clear this timestamp value and act like it was never set to begin with
 - Each time the user comes to the app, check the timestamp value and if it's been passed our default time (30 mins, 60mins, or 12

[2018-02-22 23:55] jrchudy opened #1444 "Interval check to make sure session is still alive"
If the user's current session times out on the server, the application isn't notified and updated. The user will then navigate to a new page without knowing this (and be an anon. user).

We should have an interval run that pings the server for the user's session and updated the app if it has been changed (logged out or a new user). This should change the logged in user information displayed in the

[2018-02-23 00:01] jrchudy commented on #1422
Two things need to be done for this issue:
 - the prefill url parameter needs to be extended to be used for a set of multiple records as well as multiple values we want to be prefilled per record.
   - This will look something like:
[code]
 - change prexisting prefill cases to this new format

[2018-02-27 02:42] jrchudy opened #1446 "Refactor promise chains to be more deterministic"
We noticed some inconsistencies in the way errors were being handled in `ermrstJS` and `chaise`. Some cases we are blindly throwing an error in the middle of a promise chain when instead we should be rejecting the current promise and letting our `.catch()` function handle it or pass it off to the exception handler.

[2018-02-27 23:21] jrchudy commented on #1446
NOTE: An important fact is that reject() DOES NOT terminate control flow like a return statement does. In contrast throw does terminate control flow.

[2018-02-28 23:45] #1446 closed

[2018-03-01 20:29] hongsudt commented on #1433
@RFSH is this still an issue?

[2018-03-01 20:31] hongsudt commented on #1420
@robes can you review and close the issue?

[2018-03-01 20:36] hongsudt commented on #1393
@RFSH we have taken care of this issue, right? If so, can you assign @karlcz to review this, so we can close the issue.

[2018-03-01 20:40] hongsudt commented on #1366
This issue mentions a list of cases where we need to determine what ACL to check and how Chaise app should response.

* Record app:
  * main entity columns
    * if not selectable but enumerable: Hide??
  * related table
    * if not selectable but enumerable: ???
* Navbar
  * Hiding/showing links in navbar according to policy.

Please add any more cases to this issue if you find

[2018-03-01 20:41] hongsudt commented on #1366
I am closing #1334. We might want to check that issue to make sure everything is complete.

[2018-03-01 20:41] hongsudt commented on #1334
duplicate of #1366

[2018-03-01 20:41] #1334 closed

[2018-03-01 20:44] hongsudt commented on #1110
I am closing this issue since this is not deterministic..

[2018-03-01 20:44] #1110 closed

[2018-03-01 20:52] hongsudt commented on #582
This issue is so old now.. I am going to close it..

[2018-03-01 20:52] #582 closed

[2018-03-01 20:54] hongsudt commented on #1363
@robes do we still have this problem?

[2018-03-01 20:55] RFSH commented on #1433
@hongsudt Yes, e2e test cases for these features are missing in chaise.

[2018-03-01 21:22] RFSH commented on #1393
I thought I had fixed this before, but that wasn't the case. I just made the change and pushed it to master.

[2018-03-01 21:45] robes commented on #1363
I missed Karl's comment from before. It is 'sporadic'.

I can ask this user but I would expect this is still a problem.

[2018-03-01 23:14] hongsudt opened #1448 "Better error handling when 404 and maintain history after navigation"
-  **Use case: someone shares me a [permalink]**(https://beta.gudmap.org/chaise/record/#2/Protocol:Protocol/RID=R-ZGCY) that is required to login. Users click that link (usually as an anonymous users), then get a File not found error with the option to go to recordset.
In this case, can we remind them that they might need to login and provide a login link to continue with the page?

-  **Add histo

[2018-03-01 23:17] robes commented on #1363
User got back to me and says "everything is working properly now."

[2018-03-01 23:24] hongsudt commented on #1448
This is the dynamic ACL case. Because the status column is not release, anonymous can't see it or even know it exists.

[2018-03-01 23:28] hongsudt commented on #1363
Can I close this issue?

On Thu, Mar 1, 2018 at 3:18 PM, robes <notifications@github.com> wrote:

[2018-03-02 01:12] amitjha21 opened #1449 "Table of Contents Changes"
Table of contents header should be renamed and Main link should appear on the top of the list.

[2018-03-02 01:21] jrchudy opened #1451 "Recordset Directive Changes"
Currently we have three different directive/templates for recordset.

1. RecordsetWithFaceting (RSwF): We should use this directive in most places.
2. Recordset (RS): This should be retired.
3. RecordsetSelectFaceting (RSSF): It's only being used for selecting facets. Since we needed a different template we're using a different directive too. The template should be modified to have faceting and it

[2018-03-02 01:40] jrchudy opened #1452 "Refactor multi-picker in recordset"
The multi-picker popup should be changed to use the `recordset-with-faceting` directive. This relies on changes being made to `ermrestJS` outlined [here](https://github.com/informatics-isi-edu/ermrestjs/issues/603) and issue #1451 in `chaise`.

[2018-03-02 01:57] RFSH commented on #1451
If we want to add faceting to all the modal-pickers that we have, [we need changes in ermrestjs](https://github.com/informatics-isi-edu/ermrestjs/issues/603). The reason behind it is that one of the controls used in `recordset-with-faceting` is actually the modal-picker. So users eventually would be able to go deep into multiple levels of faceting and ermrestjs parser and faceting APIs don't suppo

[2018-03-03 00:30] jrchudy commented on #1406
When the user logs in, remove this previous prompt expiration token. The idea is to limit when the prompt is shown to an anonymous user.

We want to update this value with a new expiration time whenever an anonymous user interacts with the server.

[2018-03-05 20:58] #1314 closed

[2018-03-05 20:58] #1256 closed

[2018-03-05 21:33] amitjha21 commented on #1449
Changes merged into `master`. Assigning to @hongsudt @jrchudy to verify and close it.

[2018-03-05 22:02] #1449 closed

[2018-03-05 23:14] #1405 closed

[2018-03-05 23:39] #1196 closed

[2018-03-05 23:39] #1389 closed

[2018-03-05 23:39] #1421 closed

[2018-03-05 23:40] #1403 closed

[2018-03-05 23:40] #1382 closed

[2018-03-06 18:19] amitjha21 commented on #1448
There could be three cases here:
- The record exists and user needs to login to see it: Should be given `Login` option in the error modal.
- The record does not exist in the backend
- The record exists but hidden for the user through ACL

[2018-03-06 18:28] jrchudy commented on #1406
The code to fix this issue has been merged into master, assigning to @hongsudt for verification.

[2018-03-06 19:47] RFSH commented on #1262
For adding outbound-chain sources to recordset we simply are adding them to the list of projection list while we're creating the request for main entity. But for other cases we cannot simply do that since the addition of join will result in additional rows in the returned data and it will have performance and correctness problem. Therefore we decided to do the following for supporting this:

After

[2018-03-06 22:20] amitjha21 commented on #1448
I have added `Login` option in the error modal for `Record Not Found` error.
https://dev.isrd.isi.edu/~amit/chaise/record/#1/isa:dataset/id=26934
Let me know if text changes are required.

*_Before login_*

![image](https://user-images.githubusercontent.com/9977014/37061613-da6fcd58-2148-11e8-8e99-07519ce7aeb2.png)

*_After login_*

![image](https://user-images.githubusercontent.com/9977014/370617

[2018-03-07 00:01] amitjha21 commented on #1448
In case of `Record Not Found` here are messages for  two scenarios:

| Annonymous | LoggedIn |
------------------- | --------------
You do not have authorization to view this record. Please login to continue. <br/><br/>Click **here** to login. | No authorization to view this record / No matching record found for the given filter or facet.

Let me know all text message changes.

[2018-03-07 02:38] jrchudy opened #1455 "2 modal popups"
With the new anonymous user prompt modal, when an error is thrown, this prompt and the error both show up in the UI.

The prompt should be presented to the user first
 - If after the user logs in and the page refreshes, if the error still persists, show it.
 - If the modal is closed and the error still exists, show it

[2018-03-07 02:39] jrchudy opened #1456 "Spinner in background when error"
When an error is thrown in `record` app, the spinner continues to spin in the background HTML container. The `displayReady` property should be set to true before an error is thrown to the general exception handler.

[2018-03-07 03:00] amitjha21 commented on #1448
History feature to maintain unloading page in the stack is added.
[code]

[2018-03-07 21:49] jrchudy opened #1457 "Anonymous prompt when new user"
The prompt should only start appearing if there is evidence of a previous login.

[2018-03-07 23:43] RFSH opened #1458 "default chaise-wide page size"
Currently using annotations we can define `page_size` on table level and if it's not defined, chaise is using 25 by default.  We can define a chaise-config so deployments can change this default value.
We need to discuss this because it might be even useful to have `page_size` defined in the annotation on schema level.

[2018-03-09 02:26] #1457 closed

[2018-03-09 02:27] jrchudy commented on #1435
This has been fixed. Assigning to @robes for verification.

[2018-03-13 18:12] RFSH opened #1461 "Unauthorized Assets"
In ermrestjs, if the asset column has a value, we will turn that into a download button, so when users click on it, the browser download feature gets triggered (instead of just returning a link).

This can cause problems in the case that the hatrac url is not valid or user does not have access to it. Different browsers are handling this differently.  For instance Firefox downloads the page but the

[2018-03-13 19:42] amitjha21 commented on #1448
New Message drafts:

| Annonymous | LoggedIn |
----------- | ------------
No matching record found for the given filter or facet/You may not be authorized to view this record. Please login to continue. | The record does not exist or may be hidden. Please contact the system administrator.

Let me know about all text message changes.

[2018-03-13 19:56] amitjha21 commented on #1448
**As anonymous:**

![image](https://user-images.githubusercontent.com/9977014/37366055-998a5654-26bc-11e8-9e2a-00b3af497174.png)

**After loggin in**
![image](https://user-images.githubusercontent.com/9977014/37366530-e89791c0-26bd-11e8-8051-1f32dac3e8f2.png)

[2018-03-13 20:20] jrchudy commented on #1448
@amitjha21 make sure these error modals only display in the case of a record/entity not being found.  These 404 error cases (anonymous/logged in) should only apply to `record` app. `recordedit` should prompt the user to login first because creating/editing is allowed with a logged in user. If the user has logged in and then get a 404, the logged in error popup text you have defined should show.

I

[2018-03-13 20:49] amitjha21 commented on #1448
In case of `recordedit`, the existing flow takes care of prompting login modal before error pop-up.
In case of  table or schema missing it appears saying that
`Table dataset1 not found in schema. `

[2018-03-13 21:07] jrchudy commented on #1448
So in the case where either the catalog, schema, or table is missing, we should present this 404 login popup as well.

[2018-03-14 19:48] #1456 closed

[2018-03-14 23:06] robes opened #1463 "Support for filename_ext_filter in asset annotations"
This would be very useful in FaceBase. We have already seen many example of users disregarding our documentation and uploading .zip files where they should have only uploaded image (.nii or similar) files.

https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2017-asset

[2018-03-15 19:05] robes opened #1464 "pre-filtering selections not supported in 'edit' mode"
I.e., edit this record and change the 'biosample'. you should see 38 but you will see 1300+.

https://dev.facebase.org/data/recordedit/#1/isa:replicate/RID=68027

But if you were to go back to the "Experiment" record and 'add' a replicate, you will get only the pre-filtered 38 biosamples from that same selection.

[2018-03-15 21:24] amitjha21 commented on #1332
This is merged into master. Assigning to @hongsudt and @RFSH  to verify and close it.

[2018-03-19 20:17] #1435 closed

[2018-03-19 20:17] #1420 closed

[2018-03-20 17:28] jrchudy opened #1466 "multi-picker with faceting in `record` and `recoredit`"
The multi-picker with faceting should then be used for the pure and binary association add links in `record` app and foreign key input popups for `recordadd` and `recordedit`.

[2018-03-20 23:00] amitjha21 commented on #1423
This is meant only for `403 Forbidden` case; no other scenario where we might get `409 Conflict` while deleting items?

[2018-03-22 18:46] ljpearlman opened #1469 "Design issues with the session expiration popup"
I find the current implementation of the session expiration popup a little annoying:

- It pops up too frequently (I believe it pops up after an hour of inactivity)
- It should be easier for the average person to dismiss (I'm assuming the average person thinks they need to click on something in the popup to dismiss it, so they'll either have to go through the login process or find the less-obvious

[2018-03-23 00:38] robes opened #1472 "Remove the "Delete Record" button/link from recordedit"
There's no reason for this button/link anymore.

It also is confusing and invites error. I personally find myself feeling really nervous to have the Delete button here, especially since its right next to the Submit button.

Also, I would suggest relabelling "Submit Data" as simply "Submit".

[2018-03-23 19:05] RFSH commented on #1423
I think it should always be dismissible, regardless of the error.

[2018-03-23 20:39] robes commented on #1423
Right.

From: Aref Shafaei <notifications@github.com>
Reply-To: informatics-isi-edu/chaise <reply@reply.github.com>
Date: Friday, March 23, 2018 at 12:05 PM
To: informatics-isi-edu/chaise <chaise@noreply.github.com>
Cc: Robert Schuler <schuler@ads.isi.edu>, Author <author@noreply.github.com>
Subject: Re: [informatics-isi-edu/chaise] Forbidden errors should be dismissible when in the context of del

[2018-03-23 22:38] amitjha21 commented on #1448
This has been merged. Assigning to @hongsudt to verify and close it.

[2018-03-26 21:01] karlcz opened #1474 "Missing scroll bar after creating a long list of new items - synapse data management server"
NOTE: this issue was filed on a project-specific technology repo but I believe it describes a Chaise recordedit UX issue for multi-record creation.  The user is reporting that scrolling doesn't seem to be enabled for the successful results page that renders the response of the ermrest POST request.

@BDemps commented on [Mon Mar 19 2018](https://github.com/informatics-isi-edu/synspy/issues/60)

Wh

[2018-03-26 22:48] jrchudy commented on #1474
This looks like a duplicate of issue #1435. That issue was fixed just over 2 weeks ago.

I saw on [synapse-dev.isrd.isi.edu](https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Image), that this wasn't working. When uploading the master to my [user directory](https://synapse-dev.isrd.isi.edu/~jchudy/chaise/recordedit/#1/Zebrafish:Image), this appears to be fixed.

[2018-03-26 22:50] BDemps commented on #1474
Oh, ok, cool. I'll let you know if I see it again. Thank you! That's
probably about the time that I sent in the request.

On Mon, Mar 26, 2018 at 3:48 PM, Josh Chudy <notifications@github.com>
wrote:

--
William Dempsey, Ph.D.
Postdoctoral Scholar
Molecular and Computational Biology
Dana and David Dornsife College of Letters, Arts and Sciences
University of Southern California
wdempsey@usc.edu
Lab

[2018-03-27 01:18] karlcz commented on #1474
The synapse-dev server had its updated disabled for some other testing but is now back running the latest front-end code.  You can see the revised behavior there by just creating a bunch of dummy records, since this is a test catalog and won't hurt any production data.

This fix won't be on the production server until we gather up a few related updates worthy of a new release...

[2018-03-27 18:31] amitjha21 commented on #1448
The final text message in case record was not found:
**_When Anonymous:_**

![image](https://user-images.githubusercontent.com/9977014/37987084-18303d0c-31b2-11e8-8923-f37904d50ee3.png)

_**After Logged in:**_

![image](https://user-images.githubusercontent.com/9977014/37987137-35313a28-31b2-11e8-8f0f-1d95441a886c.png)

[2018-03-27 22:29] karlcz commented on #1474
I confirmed that I see a scroll bar when creating many records and resizing my browser on the dev server.

[2018-03-27 22:29] #1474 closed

[2018-03-27 22:45] RFSH commented on #1423
- I don't think we're throwing modal error pop-ups for submitting the record. They're only alerts that we show at the top of the page.
- Edit and Download buttons are just opening links. For download, it's not even chaise environment so we cannot control that. And for Edit, it will go to recordedit and then that app will throw the error.

Based on this, I think only delete and unlink are the paths

[2018-03-28 19:08] jrchudy commented on #1423
As @RFSH stated, the only "secondary" actions that need to have this dismissible error popup are the `delete` and `unlink` actions.

These actions are present in `record` app as the `delete` button in the top bookmark bar. And as the `delete`/`unlink` buttons in the related tables.
The `delete` action is also present in the `recordset` app as the `delete` button in the table.

[2018-03-29 20:00] karlcz opened #1475 ""Terminal Error" crash occurs when you try to go to other pages - chrome on mac"
@BDemps commented on [Tue Mar 27 2018](https://github.com/informatics-isi-edu/synspy/issues/61)

When I click the arrow at the bottom of the page on say the "zebrafish subjects" page, or when I click "show details" on one of the searchable fields on the left hand side of the page, the system crashes, giving a terminal error, which I've also taken a screenshot of.
<img width="1008" alt="screen shot

[2018-03-29 21:40] #1475 closed, assigned to RFSH

[2018-03-30 00:39] jrchudy opened #1476 "Refactor recordset directive"
Currently we have 2 different `recordset` directives, `recordset` and `recordsetWithFaceting`. The former does not leverage our flow control functionality that was defined for faceting. Part of this refactoring should address the use of `$scope.$on` in `RSwF`.

[2018-04-03 01:47] jrchudy opened #1477 "recordset and faceting show more with RSwF"
When `recordset` doesn't have faceting, the old RS directive is used. when `recordset` has faceting, and `show more` is clicked inside of a facet, the old RS directive is used.

Both of these should be replaced by the RSwF directive.

[2018-04-03 21:13] bugacov opened #1478 "Page hangs when clicking "delete" on one of the newly added replicate records in recordedit"
E.g. in a FB dev dataset, click to add experiment, then click "+" to create a new replicate record then click the "trashcan" icon to delete the last entry and you get a never ending Loading spinner

[2018-04-03 22:30] jrchudy commented on #1478
This doesn't actually "freeze" up the page. It just never hides the spinner once the "remove form" function has finalized and returned to it's calling site. A fix for this will be pushed to master for this shortly.

[2018-04-04 19:03] amitjha21 commented on #1423
This has been merged into master. Assigning to @robes to verify and close it.

[2018-04-04 22:47] #1288 closed

[2018-04-04 22:48] #1466 closed

[2018-04-06 18:18] jrchudy opened #1479 "Remove selected rows list"
In the multi-picker we include a list of the selected rows (by rowname). This should be removed as it is redundant with the rows in the table.

[2018-04-06 18:20] jrchudy opened #1480 "Rework of collapse button"
The collapse button for the facet panel creates an extra row of space that can be mitigated by moving it into the margin between the RS component and facet panel.

[2018-04-06 18:41] jrchudy opened #1481 "Login link in Terminal Error"
When a terminal error is thrown (I found this because of a syntax error) and the user is not logged in, a login link is present in the terminal error popup. This link should only be present in the case of a "Not Found" error.

[2018-04-07 00:04] RFSH opened #1484 "Expose Comment Defined on Models as Tooltip"
In ermrest schema definition, we can have comment (tooltip) on almost every element (`schema`, `table`, `column`, `foreignkey`, `key`). We should expose these to the user. The following are different places that we should have tooltip.

- [x] Columns list
We're already exposing tooltip for the column. To overview the logic, this is how we're getting the tooltip:
  - Path pseudo-columns: The `comme

[2018-04-09 19:10] RFSH opened #1486 "Flow Control In Record App"
Currently after getting data for the main entity, we send requests for all the inbound and related entities. This might result on too many requests generated at once. Instead we should change the behavior to have some sort of flow control.

We should only generate N (4 for now, we can adjust that) requests at the time. The requests should be generated from top to bottom. That is all the inbounds a

[2018-04-09 20:07] karlcz commented on #1486
We should try to refactor/reuse the flow control from recordset so
that these things are consistent and share maintenance/enhancements...

[2018-04-10 18:34] RFSH commented on #1262
One of the remaining tasks is adding aggregates in recordset app. This requires changes to the flow-control. The following should be the order of requests in flow-control:

1. Main page
2. (_**New**_) if main page is available) Aggregate data
3. Faceting data
4. (if main page is available) Total count

[2018-04-10 18:44] #1452 closed

[2018-04-10 23:19] jrchudy opened #1487 "Panel collapse button uses too much space"
The facet panel collapse button should not create a whole new row of whitespace in the `recordset` directive.

[2018-04-11 18:23] karlcz opened #1488 "Sort by hidden columns"
A recurring issue I am seeing is that the user cannot sort by columns in a table if they have been omitted from the visible columns list.

This happens when we have many properties which are not important enough to display as their own tabular column in the compact presentation mode. Usually, this is because I have presented the values indirectly via markdown formatting of another more important c

[2018-04-11 18:53] karlcz opened #1489 "Card view for visible columns"
When presenting tables of results that have thumbnails or other complex content, it is often necessary to reformat some metadata into a "card" style presentation, making a taller and narrower layout for content adjacent to the 2D thumbnail.  Currently, we do this with custom markdown formatting such as building a markdown table as part of the column-display annotation for one column that we abuse

[2018-04-12 19:28] RFSH opened #1491 "Always Display Table Name In Recordedit"
To do so, we need to add the toolbar that we have in other apps to the recordedit app. This requires some extra structural change in recordedit app to make sure that it works properly.

[2018-04-13 01:42] #1469 closed

[2018-04-13 01:43] #1487 closed

[2018-04-13 21:58] RFSH opened #1494 "Cleanup App Dependencies in Makefile"
In `Makefile` we're listing all the dependencies that are required for each app, and also the common dependencies. But some of these seem redundant. We should be able to clean up these list and change the way we're creating the dependency list.

We recently found that one of the apps are not working because of a common dependency not being included. If we clean up the lists and make it more readab

[2018-04-16 17:44] #1478 closed

[2018-04-16 17:45] #1480 closed

[2018-04-16 17:47] jrchudy commented on #1472
The button has been removed because of buggy behavior when in `multi-edit` mode.

[2018-04-16 17:47] #1472 closed

[2018-04-16 17:48] #1448 closed

[2018-04-16 17:49] #1423 closed

[2018-04-16 17:49] #1406 closed

[2018-04-16 21:51] robes opened #1495 "Only show 'Actions' when there is an action other than view"
When the user can only do one thing (view) and there is a PK column displayed, the Actions (plural) is unnecessary.

[2018-04-17 19:02] hongsudt commented on #1375
@robes now that we have ToC, is this issue still relevant? IF not, can I close it?

[2018-04-17 19:05] hongsudt commented on #1417
I actually disagree on this suggestion since the table length is not fixed and therefore users might not easily see the link. I saw many GUDMAP users take advantage of this easy to spot link, but I am open to suggestions..  @ljpearlman @karlcz @mikedarcy @bugacov what's your opinion?

[2018-04-17 19:07] hongsudt commented on #1440
@RFSH @carlkesselman do we still see this problem?

[2018-04-17 19:08] hongsudt commented on #1458
@RFSH @jrchudy I think we already have this defined in our annotation and it should already be implemented.. Can you guys check?

[2018-04-17 20:01] RFSH commented on #1458
We have an annotation to define `page_size` for each table. This issue is about the case that this annotation is not defined. Currently if annotation is not defined, we're using 25 by default. We can make this number a chaise-config instead of a hardcoded value.

[2018-04-17 21:33] #1332 closed

[2018-04-17 21:39] karlcz commented on #1393
I confirmed that a downloadable asset can now be configured w/o an upload url template being available.

[2018-04-17 21:39] #1393 closed

[2018-04-17 22:31] hongsudt commented on #1458
Can you check whether we already have this defined? I recalled having a
discussion with Serban about this config for search.

On Tue, Apr 17, 2018 at 1:01 PM, Aref Shafaei <notifications@github.com>
wrote:

[2018-04-17 23:42] RFSH commented on #1458
There's a `searchPageSize` in chaise-config but only search-app is using it.

[2018-04-24 18:02] hongsudt opened #1498 "verify that we can deploy multiple versions of chaise"

[2018-04-24 18:58] hongsudt commented on #1363
@jrchudy let's document this issue on what we have done and then close it..

[2018-04-24 19:41] jrchudy commented on #1363
This issue is a duplicate of an issue in `ermrestJS`.

https://github.com/informatics-isi-edu/ermrestjs/issues/554

[2018-04-24 19:41] #1363 closed

[2018-04-24 20:38] jrchudy commented on #1498
Looks like the only "hardcoded" relative path for `ermrestJS` is in our Makefile for `chaise`.

[2018-04-24 22:01] jrchudy commented on #1498
The following variables, `ERMRESTJS_RT_DIR` and `ERMRESTJS_BLD_DIR`, need to be made conditional in the `Makefile`. i.e. `ERMRESTJS_RT_DIR?=../../ermrestjs`.

Better documentation for the 2 environment variables would make it more obvious how this can be done in `chaise`. These 2 environment variables can be defined for each deployment so the location of `ermrestJS` relative to `chaise` doesn't ma

[2018-04-24 22:51] hongsudt commented on #1375
I think the TOC should alleviate this problem. I am closing this issue for now.

[2018-04-24 22:51] #1375 closed

[2018-04-24 22:56] hongsudt commented on #1040
@robes what would be the style that you want to use for external link?

[2018-04-24 22:58] jrchudy commented on #1040
I don't think it's so much about "what the style should be" but rather, we should have a class that is attached to the element that represents a vocabulary link. Then each deployment can provide styling for those links using the `customCss` property of `chaiseConfig`.

[2018-04-24 23:03] hongsudt commented on #1040
We already have the .vocab and .download classes available as a default for
all deployments. If we want to distinguish internal vs external link, the
challenge is the default style which I can't think of a good one that is
understandable by general users without explaining.

On Tue, Apr 24, 2018 at 3:58 PM, Josh Chudy <notifications@github.com>
wrote:

[2018-04-24 23:07] hongsudt commented on #1495
As many of our users are accustomed to the eye, I am not sure that all will agree to this change.
@ljpearlman @karlcz @bugacov @mikedarcy what do you guys think?

We can change the column header to "View" which will reduce the white space a bit and make the table look a bit nicer.

[2018-04-25 18:25] RFSH commented on #1484
Based on the description on the issue, only "Faceting List" is the remaining models that we have the comment for but we're not showing them in chaise. We're showing table and column comments currently.

[2018-04-25 18:32] RFSH opened #1501 "Enable Faceting in Show Details of Facets"
We want faceting in the modal that we display after users click on "show details" in recordset.

This requires [changes in ermrestjs](https://github.com/informatics-isi-edu/ermrestjs/issues/603).

[2018-04-25 19:00] hongsudt opened #1502 "history support"
The goal is to make chaise/ermrestjs aware of versions, so that the navigation between pages (e.g. through RID or fks) are of the same version.

- [x] Make the apps aware of versions e.g. catalog@version. Currently, we just treat this as the catalog.
- [ ] Linkages
  - [x] FK: when the fk link is generated, it should include the version from the current entity
  - [x] annotations: there are many c

[2018-04-25 19:38] RFSH commented on #1502
To chaise/ermerstjs  catalog and catalog@version are the same. They only should know that there's a string for the catalog (which might or might not include version). This is the current assumption of chaise/ermestjs, but the only issue is that in some cases we're applying extra encoding/decoding which will cause inconsistencies. If we never apply encoding to the catalog and use it as is, chaise/e

[2018-04-26 20:30] hongsudt commented on #1051
@RFSH Please take a look at this issue as well when you work on the update.

[2018-04-26 20:43] hongsudt commented on #1494
I can't find the issue that @karlcz brought up related to tagging the deployment files with versions. So I am just going to add the scope of this one..  Feel free to update my comments..

The chaise/ermrestjs deployment code should rename the files to include the file checksum (e.g. ermrest_<checksum>.js) and get referenced properly in any scripts that depend on those files. To do this, we need to

[2018-04-26 20:49] hongsudt commented on #1495
A quick thing that we can do is to change the column header from `Actions` to `View` when the user cannot delete or edit the table content.. This change should make the column more compact.

I will leave taking out the action column completely to a bigger group discussion.

[2018-04-26 23:05] jrchudy commented on #1464
@robes can you update dev.facebase.org to include `isrd-staff` or `isrd-testers` as part of the group that can create/edit/delete data.

I can't test this issue, but it looks like an issue that was submitted a few days later in `ermrestJS` is related to this and has been fixed. So I think this issue may not be relevant anymore but I can't verify that.

[2018-04-27 00:16] RFSH commented on #1494
I edited the previous comments, I feel like we need more discussion or at least more information about how we can actually achieve this. I don't think it's feasible to add version number to all of the dependencies in chaise. That can easily go out of control. We should consider merging the dependencies during the build, and then adding version.

[2018-04-30 23:14] #1476 closed

[2018-04-30 23:14] #1477 closed

[2018-04-30 23:16] RFSH commented on #1451
The last three steps, are the only remaining tasks on this epic.
- Remove selected rows list from RSSF and RSwF multi-picker (or maybe redesign it?).
- (ermrestjs) Handle multiple layer of facets.
-   Enable faceting in RSSF.

[2018-05-01 20:45] robes opened #1504 "make pre-selected filter items more obviously distinct from rest"
![image](https://user-images.githubusercontent.com/4202842/39492637-197cc424-4d45-11e8-8d40-3726c0abdfba.png)

When going to a recordset app where facets have been pre-selected -- by that I mean that the user followed a URL (ie, permalink) to the page and therefore the page bootstrapped with those filter items pre-selected. In this situation, the app bumps those pre-selected items to the top of th

[2018-05-01 20:56] robes opened #1505 "navbar standalone app"
We have this issue in FaceBase to have login/logout links on all our pages, of which we have several "static" (non-chaise) pages. Could we simply make a standalone app out of the existing chaise navbar? It would have to be done in a way that the app could be included on an arbitrary html page generated by jekyl (in other words don't assume that you can produce an index.html because we can't direct

[2018-05-01 23:29] hongsudt commented on #1498
I am closing this issue..

[2018-05-01 23:29] #1498 closed

[2018-05-01 23:30] hongsudt commented on #1221
I am closing this issue..

[2018-05-01 23:30] #1221 closed

[2018-05-02 01:05] hongsudt opened #1506 "export feature"
Additional changes that still need to be addressed:
- [x] What happens if you navigate away from `recordset` while export is running?
  - tested this, nothing happens (the export never completes)
  - should we block the UI with a "downloader", notify the user before navigating, or nothing
- [x] minimum set of file types supported
  - for `BAG` type, `csv`, `json`, `fetch`, and `download`
  - for `

[2018-05-02 01:14] hongsudt commented on #1458
@robes @bugacov @ljpearlman This shouldn't be difficult.. But is it a high priority?

[2018-05-02 18:27] RFSH commented on #1408
I created an issue for the changes that we need to have basic array support in the read-only modes.

[2018-05-03 22:37] jrchudy opened #1507 "Defining scrollable height should be generic across all apps"
In `recordset`, `record`, and `recordedit`, the height is being set differently in each app.

In the case of `recordset` and `recordedit`, the height is defined on the `main-container`. Because of this, `recordset` has to make a separate request to fetch the faceting elements and define the height on those inner elements for the scroll to work properly.

In the case of `record`, the height is defi

[2018-05-03 22:38] #1481 closed

[2018-05-03 22:39] jrchudy opened #1508 "Add text to terminal error"
Add the phrase "Try clearing your cache" to the message on the terminal error modal.

[2018-05-03 23:14] #1295 closed

[2018-05-04 19:07] jrchudy commented on #1495
The "Actions" column header has been changed to show "View" when the user can only view the records in the table. This is based on whether the user can delete or update any entities for that table (reference).

If there is row level security that adds extra permissions that dis-allow edit or delete that create a state that appears to be read-only, this will still show "Actions".

[2018-05-04 20:51] hongsudt opened #1510 "tooltips on the column headers of recordset appear twice"
There is a delay between the two tooltips. One tooltip looks normal, the other one uses a bigger font and show up on the bottom of the column header.

https://www.gudmap.org/chaise/recordset/#2/Protocol:Protocol@sort(RID)

[2018-05-04 21:04] jrchudy commented on #1510
This has been fixed and merged into master. Looks like this "bug" has been in our project for quite some time now..

[2018-05-04 21:11] hongsudt opened #1511 "terminal error when a search string is too long"
This is the terminal error that I got:
vm.facetModels[i].updateFacet(...) is undefined

To replicate this,
- go to the gene page on rbk: https://www.gudmap.org/chaise/recordset/#2/Gene_Expression:Gene_Thumbnail_Display@sort(NCBI_GeneID)
- under gene NCBI symbol, search with the following string which is a 100 gene symbol.
ACOX1|ATP4A|ATP4B|ATP6V1A|ATP6V1B1|ATP6V1B2|ATP6V0C|ATP6V1C1|ATP6V1E1|ATP6V0

[2018-05-09 23:48] #1443 closed

[2018-05-10 18:21] RFSH opened #1516 "Mechanism to Find Referrer App (PID, etc.)"
Currently we navigate users between different apps. But these navigations restart the state of chaise and we don't have any way of knowing how users end up in a chaise app.
We should modify the URLs that we are generating in chaise to include the necessary attributes (most probably as query parameter) to track the referrer app. This can be achieved by just passing the PID, considering if PID is ac

[2018-05-10 18:22] RFSH opened #1517 "Improve Logging"
The current implementation of logging is documented in [this wiki page](https://github.com/informatics-isi-edu/chaise/wiki/Logging). We should review and improve that implementation. The following are the set of changes that we came up with:

- [x] Cleanup the attributes that we are logging with each requests.
- [x] Add a mechanism to figure out how users end up in a chaise page (the correct use o

[2018-05-10 18:23] RFSH opened #1518 "Cleanup Log Object"
We designed log object a while ago. We should take a step back and take a look at what we are logging, we might want to remove/add some attributes. Or change the way we are logging some of the requests.

[2018-05-10 18:26] RFSH opened #1519 "Improve Handling of url Limitation in Recordset"
Currently we're checking for the url limit after users click on the submit button of the modal picker for facets. We should check for the url limitation on each select.

[2018-05-10 18:29] RFSH opened #1520 "Limit Number of Displayed Selected Facets"
Currently we're showing all of the selected facets which can make the UI very cluttered. We should limit this list to 25 rows.

[2018-05-11 01:50] jrchudy opened #1521 "UX changes for histogram facet"
- [x] Form group width
   - max = 110px (float/int/date)
   - max = 150px (timestamptz)
     - reduce space for Date/Time text box
- [x] move validation messages outside of input group container
   - highlight input that validation applies to
- [x] text flows before it gets to clear 'X'
- [x] padding for table > tbody > tr > td = 5px (instead of 8px)
- [x] investigate zoom-in and zoom-out icon

[2018-05-11 20:41] #1491 closed

[2018-05-14 21:26] robes opened #1522 "Facets can badly overlap when they are resized"
![image](https://user-images.githubusercontent.com/4202842/40024295-ac71a3c0-5782-11e8-88d5-3c205519f59d.png)

steps:
- added filters
- added a free text search
- then did a 'clear all'

[2018-05-15 21:12] karlcz opened #1523 "Invalid Page Criteria in related-entity Add modal for association"
1. Start at [this synapse-dev record page](https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Cohort%20Analysis/RID=10DG)
2. Click the "Add" button on top of the "Cohort" related entity section.
3. See an error instead of expected modal picker

    Invalid Page Criteria
    sort and before should have the same number of columns
    Click OK to reload this page without Invalid Page Criteri

[2018-05-16 00:37] hongsudt opened #1524 "fix the footer to be loaded after the main content is loaded"
Currently, the grey background keeps shifting and changing on firefox while the page is loading which is distracting.

[2018-05-16 00:39] hongsudt opened #1525 "Create a proof of concept for Custom CSS table styling in recordset"
We can use catalog `../#2/Gene_Expression:Specimen` as an example. It has a column that displays thumbnails that we want to specify min width, etc.

Edited body (by Josh):

Some enhancements can be made to make this more specific (and easier to use).
 - [x] change the identifier for the table from `"rs-<table.displayname>"` to `"rs-<schema.displayname>:<table.displayname>"`
    - or the `rs-` can

[2018-05-16 18:39] RFSH commented on #1523
@karlcz The issue is related to the logic of adding shortestkey to the sort modifier. This is only happening when you have a `row-order` defined and no sort modifier is given to the reference. We were getting the sort modifiers from the `row-order`, and we were appending the shortestkey without checking if it exists in the `row-order` or not.

By the way you have to define your _sortkey_ in the `{

[2018-05-16 18:39] karlcz opened #1527 "Firefox tab crash in modal multi-picker"
On synapse-dev I can repeat this crazy failure:

1. Go to [this record page](https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Cohort%20Analysis/RID=10DG)
2. Open the "Add" modal on the second related entity section `Cohort`
3. Open the facet sidebar
4. Set the `Behavior (Learned?)` facet to `true` so it says "Displaying 4 of 21 Records"
5. Set 25 items per page
6. Use the "select all" b

[2018-05-16 19:21] jrchudy commented on #1527
I can't reproduce this issue because all of those 21 entities are now related to the main entity. I can however see issues with click events not triggering because of the plotly frames still trying to load.

[2018-05-16 19:55] karlcz commented on #1527
Feel free to create another record in the Cohort Analysis table so you can start
with a blank set of related entities...

[2018-05-16 22:25] #1521 closed

[2018-05-17 00:48] #1486 closed

[2018-05-17 00:50] RFSH commented on #1262
The last piece of this task which is adding aggregates to table views (recordset app and related/inline entities in record app) has been done.
DBAs should be able to use aggregate columns in any read-only contexts.

[2018-05-18 20:55] RFSH opened #1530 "Add Login Link in Session Alert"
Currently we're showing an alert when the user's session has expired. To see the behavior you need to either modify the expiration date of your cookie in database, or wait for it to expire. Clicking on the `x` will stop chaise from showing this alert.

The login in that message used to be a link, but it wasn't working because of the following reason:
We wanted to pass the alert to a `ng-bind-html`

[2018-05-18 23:27] jrchudy commented on #1527
No matter how quickly I select the facet value for "Behavior (Learned?)", switch my page size to 25, click "All", and then submit, I can't reproduce this error (browser tab crashing). I tested this in Firefox on my macbook as well as in the lab.

[2018-05-19 01:21] RFSH opened #1531 "Handle Null Value In Range Facets"
Go to following url and you can see that a terminal error is being displayed.

https://staging.rebuildingakidney.org/chaise/recordset/#2/Antibody:Antibodies/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM4gGFMwAXASxQgH0BlE0tJEAGhCwAsUzcmEQAlHABscYJHgC6AX2bJ02PLBAAFDGQhYyABzBCqASQgA3HEnIBzUigws2nbqbjwQAOTIBrdmSEACGuvN2EGlZEFRMXHx+AgAVWwxIc0cEUABbMAAPfAAmAAYARgAOAFoC0vyQKWlpIA@sort(RID)

We need to investig

[2018-05-21 20:03] RFSH opened #1532 "Update record After Add Related Entities"
The fix is just adding a flag to the updateRecordPage function.
I have assumed that the function that we have to test adding related entities is testing the values after. But that is not the case. I am going to add a test case for that.

[2018-05-21 20:08] robes commented on #1522
Seems to be working. Thank you

[2018-05-21 20:08] #1522 closed

[2018-05-21 20:09] robes commented on #1440
@RFSH this must be closable now?

[2018-05-21 20:54] RFSH commented on #1440
Yes. I am going to close this issue now.

---
This issue was not related to chaise/ermrestjs. Based on the discussion on slack:

[2018-05-21 20:54] #1440 closed

[2018-05-23 18:35] RFSH commented on #1262
`array` has been added to the list of available aggregate functions that data modelers can use. Currently we're relying on Javascript sort function, to sort the result that is returned from ERMrest. The array might also include duplicate values and it also returns all of the values that exist in the database. So it can be a huge dataset. It should be used with cautious.

[2018-05-23 19:27] #1510 closed

[2018-05-23 19:42] RFSH commented on #1051
This is a old issue related to the flashing of tables when we were updating inline/related tables. This is not the correct behavior now, I am going to close this issue.

[2018-05-23 19:42] #1051 closed

[2018-05-23 21:13] jrchudy commented on #1419
This is no longer relevant. Sauce now uses the filename as the job name if it is left undefined.
![image](https://user-images.githubusercontent.com/2932600/40451413-64c7b754-5e93-11e8-831a-736d84fdd9a3.png)

[2018-05-23 21:13] #1419 closed

[2018-05-24 21:42] hongsudt opened #1535 "batch unlink of members in pure and binary association"
For pure and binary association, there is no way to get to a full set of these entries. Users can only see what's shown under the related tables. We should mimic the multi-select add to provide multi-select delete.

In the delete case, it should direct users to those records that are currently associated with the main entities, allow users to select multiple entries, then click submit.  On top of

[2018-05-25 18:44] #1532 closed

[2018-05-25 19:05] #1524 closed

[2018-05-25 19:46] hongsudt opened #1536 "better error message"
Currently when an anonymous user visit a page that requires login, this is what we throw:
[code]

Please change this to..
[code]

[2018-05-25 22:03] jrchudy opened #1538 "Validation test cases"
The e2e test cases that test the validations of `Recordedit` need to be refactored. There are a number of validations that only verify an error object exists without verifying the content of the message (like making sure the right validation message is appearing). Some of the selectors for validation messages appear to need to be updated and cleaned up.

[2018-05-25 22:34] hongsudt commented on #1536
@jrchudy @RFSH can one of you do this when you have a chance.. I just need one more sentence added to make the error message easier to understand..

[2018-05-25 23:18] RFSH opened #1539 "RecordEdit 409 Handling"
There are some cases in recordedit that ermrest is throwing 409, but we should actually show 401 to the users.

The scenario is as following. The user is editing a table with a column that anonymous users don't have access to. During the edit the session expires and they submit the data. Since ermerstjs is creating the ermrest link based on the previous user credentials, the url has the column tha

[2018-05-25 23:45] RFSH commented on #1536
All the errors regarding "schema/table/column not found" are coming from ermrestjs as 404. So chaise cannot know if it's the table that is missing or schema. The error message that you suggested is assuming that it's the table that doesn't exist.

If you want it to be expressive, we have to change those error objects in ermrestjs first. If you want a temporary and fast solution we can use "You may

[2018-05-29 18:52] jrchudy commented on #1527
When I go to the above linked page, none of the thumbnails load for me (under the "Plot" column of the Cohort related table). In the console I see a 403 for each file associated with the thumbnails.

I may not be able to reproduce this browser "lock up" because the iframes finish loading much quicker for me and never lock up my browser.

[2018-05-29 20:47] jrchudy commented on #1525
@hongsudt  I updated the body of the issue with an outline that should go over the use case that we discussed the other day. Let me know if any of this is confusing or if you think of more common scenarios that should be added.

[2018-05-29 22:45] karlcz opened #1540 "Wrong column_display context used in record app main body"
1. Go to: https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Image/RID=2N0
2. Scroll down to the field labeled 'Image File' which corresponds to the 'URL' column of this table.
3. See a custom markdown presentation instead of an asset column presentation
4. Go to https://synapse-dev.isrd.isi.edu/ermrest/catalog/1/schema/Zebrafish/table/Image/column/URL/annotation

Note, the annotation def

[2018-05-29 23:58] jrchudy commented on #1525
Names should be raw values instead of display values to ensure uniqueness.

What about a space in the name (maybe have to replace with `_` or `-`)?

[2018-05-30 02:07] jrchudy opened #1541 "Ellipsis: Content not Truncating with assets/images loading"
**Updated Jan 22, 2020**:
Changes were made that stabilized this feature but hasn't completely fixed it for all cases. These changes included having the checking be based on a resize sensor (for when the height of the row changes) and an event emitted when new data loads. This made image truncation a bit more consistent but still doesn't fix the case when there are a lot of images to load into the

[2018-05-30 18:10] RFSH commented on #1540
Based on the annotation `"detailed": "compact"`, we are using whatever is defined for the `compact`  for `detailed` too. So it's working as expected.

[2018-05-30 18:14] RFSH opened #1542 "Select False ACL Support"
Currently we're assuming as long as we can see the model (`enumerate:true`), we can get the data for that model too (`select:true`). Therefore the case of `select:false, enumerate: true` is not considered in ermrestjs/chaise and [is listed as one of the limitations](https://github.com/informatics-isi-edu/ermrestjs/issues/515). Now we want this scenario to be supported. This is considered a valid u

[2018-05-30 18:15] #1511 closed

[2018-05-31 00:37] karlcz commented on #1540
Hah, thanks.  I don't know how many times I looked at that and didn't notice that extra line...

[2018-05-31 00:37] #1540 closed

[2018-05-31 20:05] jrchudy commented on #1463
Support for this feature has been added to `chaise`. reassigning to @robes for verification.

[2018-06-01 19:06] jrchudy opened #1545 "When creating multiple replicates at a time, 400 error thrown"
@bugacov found a bug when trying to create multiple replicates at the same time (in staging but it's reproducible in dev).

This was found when adding a replicate through the 'add' link on top of related tables which created a prefill param and an invalidate param. I suspect the query params are unrelated.

https://dev.facebase.org/data/recordedit/#1/isa:replicate

The table definition includes th