[2016-12-01 19:50] karlcz opened #821 "More/less ellipses needs configurable threshold"
The threshold for when to truncate row content should be configurable since there is no sensible default for arbitrary content models which may include images and other content.

- [x] A chaise-config to adjust the global default in the deployment
- [ ] Some kind of max-height annotation that can be applied like other display options on a table-by-table basis
- [ ] The config and annotation should

[2016-12-01 19:52] jrchudy commented on #819
I cannot reproduce this issue in Chrome.

What I think could be happening is that the renderer for firefox is rendering the angular template for the ellipsis directive before the images finish loading. So they load and show at their full size.

But when you go to this page with the images cached everything appears properly, which leads me to believe that the images load before the ellipsis directi

[2016-12-01 20:11] #620 closed

[2016-12-01 20:13] howdyjessie commented on #795
PR #814 has resolved the issue and has been merged, closing this now.

[2016-12-01 20:13] #795 closed

[2016-12-01 22:20] karlcz commented on #685
Just to clarify, this is for the main record?  If so, I guess a better limit would be `2` and then throw an error if we actually get 2 results, meaning that the filter predicates are not unique...?

Another approach is to analyze the filter and make sure it applies a single `=` constraint to a key. It is not a valid record page URL if it does not encode a unique key constraint, in my opinion.

[2016-12-02 01:58] hongsudt opened #822 "Refactoring authentication to use a different url"
This has to be done for
- search app
- the rest of the apps that use common module for authentication

@karlcz please provide the detail of which urls should be used.

[2016-12-02 02:01] hongsudt opened #823 "add a link to toggle between the markdown table display and tabular display"
The tabular display will include a column that allows use to take action on each entry. But this option is now available for markdown table display. So we need a way to toggle between the two presentation format to allow editing.

[2016-12-02 16:47] shinyichen opened #825 "Search Parser Fixes"
Search parser needs to handle the following.
1) spaces inside quotations should not be trimmed. For example. `" usc 123 "` should preserve the spaces.
2) Auto complete closing quote. For example `"usc 123` should be automatically converted to `"usc 123"`

[2016-12-03 01:49] howdyjessie commented on #590
This depends on informatics-isi-edu/ermrest#119.

[2016-12-03 02:14] howdyjessie commented on #789
PR #804 has been merged, so I'm closing this issue now.

[2016-12-03 02:14] #789 closed

[2016-12-03 03:03] howdyjessie commented on #590
The resolution of informatics-isi-edu/ermrest#119 also resolves this issue. No changes were made to Chaise.

[2016-12-03 03:03] #590 closed

[2016-12-05 22:00] hongsudt commented on #298
@karlcz  Is #822 a duplicate of this issue?

[2016-12-05 22:11] karlcz commented on #298
yes, I think #822 is a duplicate

[2016-12-05 22:12] karlcz commented on #822
closing as duplicate

[2016-12-05 22:12] #822 closed

[2016-12-05 22:14] karlcz commented on #298
Should #258 be handled at the same time?  Is this touching the same code?

[2016-12-05 23:57] howdyjessie commented on #504
@chiragsanghvi I'm not sure I'm reproducing the bug correctly. Is using the script necessary to reproducing this bug?

When following your instructions, I get stuck at step 3 (clicking the + button) because the form isn't rendered if the app encounters a non-existent catalog id.

If I visit a page for an existing catalog (i.e. 1), then I can reproduce the behavior, but only if I entered your jQuer

[2016-12-06 00:30] jrchudy commented on #504
@howdyjessie, remember that this issue was initially filed back in July. So the case to reproduce it may be different now.

[2016-12-06 00:55] chiragsanghvi commented on #504
@howdyjessie I think the issue is no more relevant. We have changed a lot since July. Closing the issue.

[2016-12-06 00:55] #504 closed

[2016-12-06 01:04] karlcz opened #827 "markdown adds more vertical space to columns"
I happened to encounter a recordset result where some rows had only plain text and others had a markdown-rendered anchor tag (i.e. from using a guarded markdown pattern).

The table cell has a structure like this according to element inspector:

    td
      div ng-switch="val.isHTML"
        div class="showContent"
          span class="markdown-container..."
            p
              a href="m

[2016-12-06 18:42] hongsudt opened #829 "Support an auto-increment field"
We will need an annotation to let chaise know which field is supposed to be auto-increment. This is needed to support setting up an experiment that contains multiple samples.

[2016-12-06 19:17] robes opened #830 "Items per page control not working"
The 'items per page' drop down does not seem to be working.

[2016-12-06 19:19] robes commented on #830
nm, can't reproduce it.

[2016-12-06 19:19] #830 closed

[2016-12-06 19:23] robes opened #831 "recordset (directive?) flashes on page refocus"
It seems like the recordset directive flashes a reload on ever refocus. I thought this would only do a reload _if_ it checked a cookie to see if it needed to do a refresh. Its very easy to recreate. Just open any recordset, switch to a different application window, then return to your browser.

[2016-12-06 19:24] robes commented on #831
@hongsudt can we prioritize this for @shinyichen next on her list? its kind of jarring on the UX. i would imagine its a little thing to fix too.

[2016-12-06 19:26] robes opened #832 "Consistent use of Tooltips throughout all Chaise applications"
This should probably become an epic for every page. We have inconsistent application of Tooltips throughout the UI. I would suggest that every control or link in the UI (proper) should probably have tooltips on them.

_Note_ this is distinct from the issue of what Bootstrap or native HTML5 style to use. This issue refers to the presence or absence of tooltips is inconsistent across the apps.

[2016-12-06 19:38] hongsudt commented on #670
Upon clicking the cancel button, the app should lead the user back to the previous page.

@shinyichen can tell you how to refer to the page the lead to the recordedit.

[2016-12-06 20:03] hongsudt opened #833 "create reusable directive for a date/timestamp input"

[2016-12-06 20:04] hongsudt opened #834 "faceting directives for a text column (terms)"
- search for terms
- show a list of terms including its frequency that matches the search
- by default, the terms should be sorted based on its frequency

[2016-12-06 22:26] howdyjessie commented on #811
@karlcz I tried multiple times to reproduce this and was unable to. @jrchudy was unable to either after checking with him. How often does this happen for you? Could you grab me the next time you encounter this hang so I can look at it?

[2016-12-06 22:32] karlcz commented on #811
I only saw it that one day when I reported it... it's not a common
sequence for me to perform either.

Let me try one more time to see if I can reproduce it, then I'll either
close the issue or try to demo it for you.

[2016-12-06 22:32] karlcz commented on #811
it's not reproducible for me using the same sequence either.

[2016-12-06 22:32] #811 closed

[2016-12-06 22:34] howdyjessie commented on #808
I changed the text from "View All" to "View More"; the change is live on any Record page on dev.isrd now.

[2016-12-06 23:20] shinyichen commented on #784
Update this to use cookie to monitor event.

[2016-12-06 23:33] #808 closed

[2016-12-07 02:20] jrchudy opened #836 "Opening new tab should show alert"
When the user clicks an action that expects to open a new tab and that action fails because of a popup blocker, we should *not* redirect the user from the current page.

Ideally the browser will notify the user that a popup was blocked. We can make sure the user is aware that this happened by also showing an alert message on top of the page.

There are currently 2 actions that have this behavior t

[2016-12-07 02:59] hongsudt commented on #831
@robes I am moving this to review. Please review after @shinyichen PR is merged.

[2016-12-07 03:02] hongsudt opened #837 "Remove Add button from recordedit"
After the pull request for adding a create button in the search directive is merged, please remove the add button from the recordset.

[2016-12-07 03:03] hongsudt commented on #836
@howdyjessie @shinyichen who should be working on this? I heard @howdyjessie name in the meeting..

[2016-12-07 03:05] hongsudt opened #838 "create a pseudo-column that contains a list of actions that users can do"
@hongsudt commented on [Thu Dec 01 2016](https://github.com/informatics-isi-edu/ermrestjs/issues/298)

- This column should be the first column (left most).
- The column name should be "Actions". The value should be linkable icons (with tooptips) for `view`, `unlink` or `delete`, and `edit`.
- In the compact/brief context, if the related table is derived based on pure and binary association table,

[2016-12-07 03:08] hongsudt opened #839 "update related table without removing then recreate the table"
@robes @karlcz  how do we deal with this for the markdown table? The content is generated by ermrestjs...

[2016-12-07 18:36] hongsudt commented on #784
@shinyichen There should be a tooltip associated with the add button. After the add button is done, we should delete the add button from the recordedit page.

[2016-12-07 18:54] hongsudt opened #840 "support auto-increment sequence number"
These sequences could be:
1. singular sequence: which can be:
  1.1 traditional integer serial number e.g. 1, 2, 3, etc.
  1.2. alphabetical sequence e.g. a, b, c, etc.
2. a composite sequence number consisting of a number of singular sequences e.g. A1, A2, etc. can be used to represent 2D table. There needs to be a rule that specifies how these number get incremented. For example in a 2D 10x10 gr

[2016-12-07 18:55] hongsudt commented on #829
duplicate of #840.

[2016-12-07 18:55] #829 closed

[2016-12-07 19:26] howdyjessie opened #841 "Review custom CSS rules in deployments"
Some deployments (e.g. GPCR, Facebase) use a custom stylesheet (specified in `chaise-config.js`) as workarounds for controlling Chaise's presentation. When new features are introduced into Chaise at a later time, some of the rules in these custom stylesheets become redundant or interfere with the new features. For deployments that use a custom stylesheet, it would be good to look over their rules

[2016-12-07 19:28] carlkesselman opened #842 "Standard footer Privacy Policy and Acknowlegements"
We should include links to an acknowledgments page,  a privacy policy and perhaps terms of use.  I think we should have project specific acknowledgments on the page, and the a link to all acknowledgments.     Privacy policy should state that we use cookies and that we record interactions with the data browser and that these are for internal and sponsor use only and not shared.

Should also look at

[2016-12-07 19:35] hongsudt commented on #842
should this footer be in every page of the app or should it really belong
to the static page content like the landing page?

On Wed, Dec 7, 2016 at 11:28 AM, Carl Kesselman <notifications@github.com>
wrote:

[2016-12-07 19:56] carlkesselman commented on #842
Good question.  We do have a footer on every chaise page, so I was thinking it should be on every page.  However, I’m open to alternatives.  The problem is that if we go via a bookmark, then users may not see the privacy policy page.

Carl

---------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow,

[2016-12-08 01:17] hongsudt opened #843 "a wrapper function for url parameter lookup"
We don't need to completely rewrite this yet, but should have a function that returns all url params or perform a lookup of a certain parameter name

[2016-12-08 20:10] chiragsanghvi commented on #827
@karlcz  This is fixed for recordset. Do you want me to handle the markdown content in record app too ?

[2016-12-08 20:15] chiragsanghvi commented on #819
@karlcz This issue has been fixed and is in Master.

[2016-12-08 20:30] chiragsanghvi opened #845 "Recordset keeps refreshing content whenever you focus on the window"
This issue is because of the [$window.onfocus](https://github.com/informatics-isi-edu/chaise/pull/824/files#diff-73795a03f41089eca884f8b6e0fb96b7R151) event handling for record add. We need to disable the event handling for recordset page.

To test it you can visit any recordset page and change your tab and come back to the recordset page again. The content gets refreshed. You can also try clickin

[2016-12-08 20:37] chiragsanghvi commented on #752
This has been done and merged in Master

[2016-12-08 20:37] #752 closed

[2016-12-08 22:45] hongsudt commented on #320
This is no longer relevant. Closing now.

[2016-12-08 22:45] #320 closed

[2016-12-08 22:46] hongsudt commented on #267
This is no longer relevant as the viewer app is now changing.

[2016-12-08 22:46] #267 closed

[2016-12-08 22:47] hongsudt commented on #839
putting this on hold since we don't have a solution for markdown table.

[2016-12-08 23:11] karlcz commented on #840
I think that you should separate out several concepts here into more basic primitives:
1. An annotation for client-generated value sequences to populate a column
    - Always on an ordered column type.
    - Can handle basic "starting value" or default scenarios: 0, 1, "now", null
    - Optionally set an upper limit or other range restriction?
    - Might extend with other "successor" function cho

[2016-12-09 18:19] shinyichen opened #846 "Precondition Failed (412) Error When Deleting Record"
Steps to reproduce this problem:
1) Open RecordEdit and submit a new record --> redirects to record page (keep this page open)
2) Open another RecordEdit and create another record.
3) Go back to the first (Record) page and delete this record gives 412 Precondition Failed error.

The reason:
A new etag is generated when second create request was submitted. Now the first record has an out of date et

[2016-12-09 18:22] shinyichen commented on #784
I think your second suggestion about removing the button is kind of strange. Even though it's not likely user will add another record, but it's strange to prevent user from adding another record.

[2016-12-09 18:35] hongsudt commented on #784
Sorry.. That's not what I meant. I meant to remove the add button that we currently have on the recordedit page itself, so they won't be adding a new item without going to the search directive.

[2016-12-09 19:39] hongsudt commented on #842
The policy and acknowledgements should come from chaise config.

[2016-12-09 19:48] karlcz commented on #840
OK, based on discussions I am thinking of something more like this:

1. add a new text domain type like "alphasequence" or something if you need funky `A`... `Z` `AA` sequences
2. tag:isrd.isi.edu,2016:client-generated to indicate that a column has some client-side protocol to follow
    - apply to column to say how to populate one column
    - options to specify how to populate the value, e.g. de

[2016-12-09 22:34] howdyjessie commented on #823
PR #844 has been merged into master, so I'm closing this now.

[2016-12-09 22:34] #823 closed

[2016-12-09 22:57] shinyichen opened #848 "RecordEdit "x" on the popup select input box does not work"
It's possible the clear button broke after the popup selected was changed from input field to div. Tooltip doesn't show and clicking on it doesn't clear the input, but opens the modal.

[2016-12-09 23:04] karlcz opened #849 "Obey app-links annotation after record delete"
The record app redirects to the search app unconditionally after delete confirmation, when it should obey the normal app-links configuration so it can be sent to recordset instead.

[2016-12-09 23:18] #753 closed

[2016-12-09 23:18] #785 closed

[2016-12-12 19:51] jrchudy opened #852 "e2e tests need a configurable time"
We need to have a configurable wait timer so that all the tests can be changed based on this option instead of having to change tests individually.

[2016-12-12 19:54] jrchudy opened #853 "e2e tests should use browser.wait instead of sleep"
In our e2e tests we are using `browser.sleep` in some cases and `browser.wait` in others. `Sleep` will stop execution for the amount of time specified whereas `wait` will stop execution until the condition is satisfied. `Wait` is more ideal because it can break out of the timer if the condition is satisfied.

[2016-12-12 21:54] howdyjessie commented on #670
Still need to discuss with @hongsudt about how to implement this after she returns from the main campus today, so I'm putting this in Blocked for now.

[2016-12-12 22:40] shinyichen commented on #838
1) Is the action column always shown? For example, it may not be useful when in the popup selection modal. What should the visibility be based on? App decides?
2) Hide or disable edit/delete icons when not logged in?

[2016-12-13 02:05] howdyjessie opened #854 "Summary of testing the same commit on Travis"
Making this summary for @hongsudt for prioritization. I'll talk about this issue at our next standup.

I built the [same Chaise commit](https://github.com/informatics-isi-edu/chaise/commit/9e8c495c7026322463426617bcf18d893ae1bf14) 6 times by itself without other Travis BUILDS running concurrently. This commit was green from before.

Of the 6 builds, 3 passed and 3 failed. Of the failures:
1. Sauce

[2016-12-13 19:20] chiragsanghvi opened #855 "Recordset App doesn't render iframes"
You can see it rendered here on [record add](https://bdds-dev.isrd.isi.edu/abide/record/#4/abide:image_files/id=156899) but discarded on the [recordset app](
https://bdds-dev.isrd.isi.edu/abide/recordset/#4/abide:subject_denorm/subject_id=50003/(subject_id)=(abide:image_files:subject_id)@sort(id)?limit=25).

This is because recordset app doesn't use the `bind-html-unsafe` angular tag to bind html

[2016-12-13 19:27] robes opened #857 "Performance problems with Record app"
On FF, the CPU goes into 100% spin on this record.

https://dev.facebase.org/data/record/#2/vocabulary:species/id=2

The main distinguishing characteristic is that it has a lot of 'related' tables. Whether that is the cause is to be determined.

[2016-12-13 19:33] hongsudt commented on #810
@robes we should allow isrd-testers to read/write to all catalogs on the isrd test server.

[2016-12-13 19:46] howdyjessie commented on #857
Preliminary investigation: The page spends a lot of time (~40%) on running Angular digests. It would be a good idea to comb through Record (and RecordSet) to reduce the number of active watches (e.g. switch to more one-time bindings, tweak ng-repeats to add filters and limits).

[2016-12-13 19:55] karlcz commented on #857
browser "performance" tracer shows it running a storm of setTimeout calls that look like they pulse once per
second in big bursts...

[2016-12-13 20:05] hongsudt commented on #854
@chiragsanghvi can you investigate these 3 cases?

[2016-12-13 20:11] howdyjessie opened #858 "Refactor tests to use a configurable timeout param"

[2016-12-13 21:01] hongsudt opened #859 "The site column on gpcr is blank on the search modal but not recordset"
Here is the recordset link: https://dev.gpcrconsortium.org/chaise/recordset/#1/gpcr_browser:construct_gui

And if the same table is open from https://dev.gpcrconsortium.org/chaise/recordset/#1/experiments:sample  , the column is blank.

[2016-12-13 23:01] howdyjessie commented on #858
This duplicates #852, closing this issue.

[2016-12-13 23:01] #858 closed

[2016-12-14 00:09] karlcz opened #861 "Image in column markdown overflows into adjacent column"
I have a column markdown pattern like:

   [![Behavior Plot]({{{Plot URL}}}){height=150}]({{{Plot URL}}})

and when the image retrieved from the Plot URL is wider than column, it overflows and looks like "background" material in the next column over to the right, i.e. text column content seems to overlay on top of the image.

This is on production using the tag synapse-20161205.1 on Firefox.

The

[2016-12-14 00:13] karlcz opened #862 "Horizontal scrollbar can be far off-screen"
On a smaller browser window, the tabular content is truncated ~~without any~~ with the horizontal scrollbar off-screen and requiring vertical scrolling to find it.

Also, the table content is actually truncated before the edge fo the window, i.e. the right margin is still visible which makes look less like a scrolling scenario.

This is on Firefox and I see it both on production and dev (hourly up

[2016-12-14 00:27] karlcz opened #863 "Error: merdiem is null when editing a page w/ a null timestamp"
Start with a record that has a null timestamptz column, e.g.

https://synapse-staging.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Behavior/ID=BhvZfDsy20160616A1@sort(ID::desc::)

If I try to edit the null `Room Date` column, the `AM` button does not work when trying to enter a new date, and submission fails too.

If I click the `Now` button first to reinitialize the field, I can then edit the valu

[2016-12-14 00:59] robes commented on #810
documented here: https://github.com/informatics-isi-edu/ermrest/blob/master/api-doc/rest-catalog.md

we need to know what is the URI for the isrd-testers group.

[2016-12-14 01:14] robes commented on #810
A script like this will do it locally:

[code]

It can be run like:

[code]

If the acl already exists, it will fail like this:

[code]

I put that script under the `ermrestddl` user on 'dev.isrd.isi.edu'.

I ran the test on all the original catalogs like `facebase-legacy`, `facebase-isa`, `rbk`, `gpcr` and they already had those permissions set. I ran on one of the newer `_ermrest...` catalogs an

[2016-12-14 01:45] robes opened #864 "Expanding large text entry field breaks the table outline"
The table outline around the cells on the recordedit app don't adjust correclty when you manually increase (drag) the size of the large text entry fields.

[2016-12-14 02:36] hongsudt commented on #810
@svoinea has helped us set this up.. I also put the howto to the chaise wiki page. https://github.com/informatics-isi-edu/chaise/wiki/Ermrest-Howto-(set-ACL,-cookies)

I am closing this issue since you guys can now set it up yourselves. Here is the isrd-testers GUID https://auth.globus.org/9d596ac6-22b9-11e6-b519-22000aef184d

[2016-12-14 02:36] #810 closed

[2016-12-14 21:24] #837 closed

[2016-12-14 21:26] #786 closed

[2016-12-14 23:03] #859 closed

[2016-12-14 23:43] hongsudt opened #867 "delete an association record doesn't do anything"
When I deleted a record from the Keyword table, it works fine.
When I tried to delete a record from an association table, the app didn't do anything. Check the link below: https://dev.rebuildingakidney.org/chaise/record/#2/Protocol:Protocol_Keyword/ID=54

After a long wait, I got the following error message...

Error 503 Service Unavailable The service is temporarily unavailable: record "new" is n

[2016-12-15 01:20] #790 closed

[2016-12-15 01:21] jrchudy commented on #782
@howdyjessie, @robes: Is this issue completed? It has been in review for ~3 weeks.

[2016-12-15 01:26] hongsudt commented on #827
@karlcz  please review and close the issue.

[2016-12-15 01:27] hongsudt commented on #820
Please review.

[2016-12-15 01:30] hongsudt commented on #867
This turns out to be a problem with the trigger.. I will generate an issue to add a spinner for record edit and delete in general.

[2016-12-15 01:30] #867 closed

[2016-12-15 01:33] hongsudt commented on #845
@shinyichen Will this problem be addressed by your latest pull request?

[2016-12-15 01:40] hongsudt opened #868 "search modal: alignment problem of the grey rectangle"
The grey rectangle that is used to disable interaction with the result table is not aligned with the base table.

[2016-12-15 01:42] hongsudt opened #869 "recordedit: add a spinner while the page is waiting to be redirected"
We should do this for create, edit and delete.

[2016-12-15 01:43] hongsudt opened #870 "multi-entry edit"
We should add an edit button to the recordset and search page that will trigger a set edit.

[2016-12-15 01:48] hongsudt opened #871 "multi-entry create: move the add-n button to all records"
This will allow any record to be duplicated instead of the last one.

[2016-12-15 01:51] hongsudt commented on #743
We will be adding an action column to recordset. View will be one of them. Once the view button is on, we can disable the row-click event.

[2016-12-15 01:51] hongsudt commented on #743
I am closing this issue as there are other issues to address this problem already.

[2016-12-15 01:51] #743 closed

[2016-12-15 19:14] hongsudt commented on #862
@karlcz please check this again.

[2016-12-15 19:15] hongsudt commented on #845
This is a duplicate of #831

[2016-12-15 19:15] #845 closed

[2016-12-15 19:44] hongsudt commented on #321
This is no longer relevant.. Will close.

[2016-12-15 19:44] #321 closed

[2016-12-15 19:46] hongsudt commented on #385
We have markdown rendering but we will delay the editor.

[2016-12-15 19:46] #385 closed

[2016-12-15 19:49] hongsudt commented on #832
This issue is too broad. We need to list the page and icons/links that need tooltips. Going forward, every single icons needs to have a tooltip.

[2016-12-15 22:23] karlcz commented on #820
Master still has most of the bad behaviors I described originally.

1. The "less" and "more" divs are identical height but there is an extra vertical padding before the "less" which makes an expanded cell even more spread out.
2. The threshold doesn't seem to take into account the added height of the control to realize that showing the entire content would use less vertical space than a slightly t

[2016-12-15 22:25] karlcz commented on #827
This looks more consistent in master now.

[2016-12-15 22:25] #827 closed

[2016-12-16 05:29] #761 closed

[2016-12-16 05:29] #782 closed

[2016-12-16 19:22] karlcz opened #874 "Search should prefer primary aka not-null keys for paging"
When search chooses a key for paging, it should prefer a key that has not-null constraints on its columns over any key that lacks such a constraint.

Only a not-null key can reliably distinguish all rows to act as page boundaries.

@hongsudt @svoinea

[2016-12-16 19:26] karlcz opened #875 "Search produces invalid paging filters with null keys"
When search chooses a key that can contain nulls, it produces invalid paging filters such as `Columnname::ge::null` when it encounters nulls.  A null can never be used in a comparison (it will always return non-truth).

I suspect the code was trying to get rows *including or after* a null value when it produced this `::ge::` constraint, considering the NULLs last sort order we always perform in ER

[2016-12-16 21:01] howdyjessie commented on #852
The PR was merged into master, closing now.

[2016-12-16 21:01] #852 closed

[2016-12-16 21:36] hongsudt commented on #853
The test owners should change their test to use wait instead of sleep.

[2016-12-16 22:36] karlcz opened #876 "Edit converts boolean false value to null"
In edit mode, it seems like an existing false value or a newly chosen false value gets mangled into a null when I submit the data, so the record afterwards has a null for that column.  This doesn't happen for true, so I think either the app or the ermrestjs layer is failing to distinguish false from null.

[2016-12-16 22:42] hongsudt commented on #876
After this issue is fixed, a test case should be added to cover this case.

[2016-12-16 22:44] hongsudt commented on #820
@chiragsanghvi this issue still exists. Please fix.

[2016-12-16 22:50] hongsudt opened #877 "add row number to the recordset directive"
@carlkesselman suggested that there should be a row number in the tabular presentation.

Here is a nice article suggested by @carlkesselman
http://uxmovement.com/content/9-design-techniques-for-user-friendly-tables/

[2016-12-16 22:54] hongsudt opened #878 "add total number of records found in the recordset"
On the resultset page, there should be a total number of records that match the specified criteria. This should be implemented asynchronously, so that the initial page load doesn't have to wait for it.

To support this, we probably need an ermrestjs api to make an aggregate call to ermrest.

[2016-12-16 23:02] robes commented on #878
We probably also need to consider making this optional either by config or by annotation

On large tables this is going to add a lot of overhead.

[2016-12-16 23:05] karlcz commented on #878
We already have the async API to do it via promises.  We just need the app to launch this extra query and add the count to the page when it is ready rather than delaying page rendering until the count returns.

[2016-12-16 23:19] karlcz commented on #878
yes, particularly a large table with row-level security can be 10-20x slower than one without...

[2016-12-16 23:21] robes commented on #877
should we just show the serial pk then? that seems like the most consistent numerical id. i can't think of a way to generate a row number otherwise.

[2016-12-16 23:25] karlcz commented on #877
I assume this is row number within the displayed page (always 1-N regardless of sort order applied)

[2016-12-16 23:27] karlcz commented on #877
ugg that article shows the row numbers being sortable and inverted w/ a reverse sort.  not going to happen...

[2016-12-16 23:29] karlcz commented on #877
if this is anything more than rows 1-N on the page, to help you figure out how far you scrolled (kind of like the zebra stripes), I think it's misguided.

[2016-12-16 23:32] hongsudt commented on #877
I think we just need the simple rows 1-N on the page, and we can leave the column header blank or print the number outside the table boundary.

[2016-12-16 23:33] hongsudt commented on #878
By default, this feature should be on though since most of the tables do not have performance issue..

[2016-12-17 00:24] crisaless opened #879 "gene summary page: make title of page the gene name"
Title of gene summary records should be gene name instead of ID.

[2016-12-17 00:26] crisaless opened #880 "gene summary page: link to related datasets"
add a column to the gene summary page that dynamcally generates a link to the chaise/search or chaise/recordset and filters on that gene

[2016-12-17 00:32] robes commented on #877
@karlcz right, hence why I can't see a way to do this by just sticking row numbers in the directive.

[2016-12-17 00:33] robes commented on #877
@hongsudt I don't think we should be doing that.

What happens when you sort? what happens when you page? etc. This doesn't work unless its the serial number.

[2016-12-17 00:52] karlcz commented on #877
On Dec 16, robes modulated:

I think you're arguing for a different "this" than Hongsuda.  Ignore
the article as we certainly won't implement "that".

We can provide row number in the page 1-N always ascending order as
part of the directive.  It will always have row 1 at top of page and
row N at bottom of page.  Sorting and paging will change the content
appearing in those numbered slots.

If some

[2016-12-17 01:11] robes commented on #877
@carlkesselman I think row numbers in the directive will be confusing because they are not record numbers. E.g., When you page to the next set of results you will see 1-N row numbers (no matter if you are on the first or the Nth page of results). I like the article you shared. But I think the way to interpret it in our case is for the data modeler (DBA) to have record identifiers that could serve

[2016-12-17 01:19] karlcz commented on #877
I agree.  And to be clear, record IDs may be sparse or discontinuous due to filtering, row-level authz, and sort by other properties.

Also, we do not have any notion of a numeric/ordinal stream position for the current page of results. We can never feasibly state that you are viewing "Record X ... X+k" for pagesize k.  At best, we could repeat some info from the first row being displayed to say w

[2016-12-18 21:59] #855 closed

[2016-12-18 22:07] chiragsanghvi commented on #820
@karlcz The threshold approach is not required. You can simply set the height to the threshold height you're looking for.

Currently the more button height is not considered when we consider the height. The calculation considers the actual element height.

You see the more button, because the height is actually greater than the allowed height.

I tested the behavior on the above link, and the imag

[2016-12-18 22:15] karlcz commented on #820
I think you're missing my point.

The version of the row with the "...more" button should *never* be taller than the original content.

So whatever the threshold, once activated this mode should truncate the content to be the threhold height *minus* the extra space needed for the "...more" control.

[2016-12-18 22:53] chiragsanghvi commented on #820
@karlcz Oh,  I got it wrong. I have made the changes to consider the more button too and added the support to disable more-less behavior as requested by @mikedarcy and @robes .

You just need to set the property `maxRecordsetRowHeight` property to the threshold height in the chaiseConfig. If this property is not set then more-less behavior will not be enabled.

Changes can be viewed here - https:/

[2016-12-18 23:08] hongsudt commented on #820
By default, the more or less should be enabled with reasonable default, not
disabled.  But the config can be used to turn off or change the height.
Please change accordingly.

There is another issue that will allow annotation to be applied at the
schema or table level, but that task is to be scheduled later.

On Dec 18, 2016 2:53 PM, "Chirag Sanghvi" <notifications@github.com> wrote:

[2016-12-19 18:48] hongsudt opened #885 "refactor test framework"
- submit multiple schemas in one call
- apply retry logic for 500 series error code

[2016-12-19 19:20] hongsudt opened #886 "breakup make test into separate commands (travis build)"

[2016-12-19 22:54] hongsudt commented on #838
For Glyphicons, what about: in the compact or compact/brief context,
* use glyphicon-list for view.
* use trashcan for delete. For a related table that is generated based on pure and binary association,  user a remove icon (an x) for unlink instead of trash. This will delete the entry in the association table. The table should be refreshed upon deletion.
* use pencil for editing. Similar to pre-fi

[2016-12-19 22:56] hongsudt commented on #880
Does this issue belong to the facebase repo?

[2016-12-19 22:56] hongsudt commented on #879
Does this issue belong to the facebase project repo?

[2016-12-20 00:10] robes commented on #880
@hongsudt yes, i've made a new issue.
https://github.com/informatics-isi-edu/facebase-project/issues/204

[2016-12-20 00:10] #880 closed

[2016-12-20 00:11] robes commented on #879
Entered new issue here
https://github.com/informatics-isi-edu/facebase-project/issues/205

[2016-12-20 00:11] #879 closed

[2016-12-20 18:53] #886 closed

[2016-12-20 19:19] jrchudy opened #889 "Sort icons don't show on recordset"
@RFSH pointed out that the sort action was still triggering when `enableSort` was false. Upon investigating this, I noticed that the sort icons disappeared from the recordset table on the `recordset` page as well as the foreign key popup modal on `recordedit`.

[2016-12-20 19:54] chiragsanghvi commented on #885
This issue was moved to informatics-isi-edu/ErmrestDataUtils#2

[2016-12-20 19:54] #885 closed

[2016-12-20 19:58] chiragsanghvi commented on #868
This has been merged in Master.

[2016-12-20 19:58] #868 closed

[2016-12-20 19:58] chiragsanghvi commented on #861
This has been merged in Master.

[2016-12-20 19:58] #861 closed

[2016-12-20 19:58] chiragsanghvi commented on #848
Merged in Master

[2016-12-20 19:58] #848 closed

[2016-12-20 19:59] chiragsanghvi commented on #820
Merged in Master

[2016-12-20 19:59] #820 closed

[2016-12-20 19:59] #819 closed

[2016-12-20 19:59] #809 closed

[2016-12-20 21:22] #889 closed

[2016-12-20 22:51] ljpearlman opened #893 "viewer doesn't hide the channel filter completely after being fully expanded in an iframe"
If the viewer is embedded in an iframe, the channel filter has a couple issues:

1. The "x" on the upper right hand corner doesn't dismiss it.
2. If the channel filter has been expanded all the way (to show contrast, brightness, etc. sliders), then trying to dismiss it by clicking the "channels" control results in it being partly hidden but still obscuring part of the image.

This all works if the

[2016-12-21 01:30] shinyichen opened #895 "eTag checking"
Apps should constantly check eTag and make necessary updates to the page. Details still to be defined.

[2016-12-21 08:16] meihuisu commented on #893
Laura, your setup is picking up wrong stylesheet.

----- Original Message -----
From: "ljpearlman" <notifications@github.com>
To: "informatics-isi-edu/chaise" <chaise@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Sent: Tuesday, December 20, 2016 2:51:20 PM
Subject: [informatics-isi-edu/chaise] viewer doesn't hide the channel filter completely after being fully expanded in an

[2016-12-21 09:01] ljpearlman commented on #893
I'm using the current master versions of all components. Where is the "right" stylesheet?

[2016-12-21 18:33] #784 closed

[2016-12-21 18:33] #817 closed

[2016-12-21 18:33] #843 closed

[2016-12-21 18:44] carlkesselman opened #898 "Tooltip on Record Select is obscured..."
![image](https://cloud.githubusercontent.com/assets/3597150/21401699/1ff48dee-c76a-11e6-97c4-0efda35b9566.png)

Also, I wonder if the order of things should be changed.  Its a bit weird to have this big "?" button in the middle of the action buttons.  Perhaps it would be better to move this someplace else, as you really only use this once. One suggestion would be to get rid of this and make it a t

[2016-12-21 20:31] howdyjessie commented on #898
The issue of the obscured tooltip should be addressed as soon as PR #897 is merged into master.

[2016-12-21 22:08] shinyichen opened #899 "More/Less (Ellipses) incorrect after table reload"
This happens when the record table's data has been updated, we get rows with more/less link when it's not necessary. It's because the table's ellipses is not being re-calculated.  This could happen when clicking on previous/next page, or after table refreshes with a new record.

The example in the screenshot. Before adding record 103, row 3 in table was record 263 where some of its content were wr

[2016-12-21 22:26] chiragsanghvi commented on #899
@shinyichen I am unable to reproduce it. It is on your branch or Master ?

[2016-12-22 00:59] howdyjessie commented on #836
It should be noted that if a user has set her browser to simply open links, that would normally open in a new window, in the current tab/window, then the alert will not appear because the browser will have left the current page and loaded the link.

[2016-12-22 01:14] howdyjessie commented on #836
In general, as @karlcz has mentioned in a standup last week, it is better UX to offer links that allow the user to open in a new tab/window or current tab and save us from trying to override a user's browser settings. It would mean upending the cookie refresh feature that @shinyichen just built, but since we're moving to `localStorage` soon, I hope we'll also remove links that automatically open i

[2016-12-22 01:45] #632 closed

[2016-12-22 02:59] hongsudt commented on #836
In the two cases that josh mentioned, we do want new tabs to open for ux
reason. For the search directive, you can't replace the existing tab with
the new recordedit until we can remember the page content and repopulate it
when the users get back to that page. For the add an entry to a related
table, since the main record page could take quite a bit to load (a page
with 20 related tables), if I ha

[2016-12-22 20:18] #899 closed

[2016-12-22 20:32] howdyjessie commented on #836
@hongsudt Those are certainly valid reasons to want a user to open a link in a new window, but my point is that **we should not assume these reasons are the best UX** and then make the decision for the user by removing other choices. We can hope they'll click it in a new tab but we shouldn't do it automatically for them.

the new recordedit until we can remember the page content and repopulate it

[2016-12-22 21:25] #791 closed

[2016-12-23 00:15] howdyjessie commented on #836
AFAIK there's not a way to tell Selenium to prevent a link from opening in a new tab in E2E tests.

I'm not sure what's the best way to test this manually. Is there a Chrome or FF extension that can prevent a link from opening in a new tab or window?

[2016-12-23 05:36] hongsudt commented on #838
Instead of using cookies or local storage, we should try Karl's suggestion on DOM manipulation through windows.opener with the suggested flow below. With this, we don't have to deal with garbage collection.

The general recordedit flow to avoid using cookies for signalling between parent and child:

1. parent defines entry points which consult local hashmaps etc.
   -- window.getPrefill(url) funct

[2016-12-23 15:56] hongsudt opened #902 "warn users if the existing content in recordedit will be gone"
Before navigating away from recordedit, it should alert users and ask whether they want to continue.

[2016-12-23 16:00] hongsudt commented on #898
@howdyjessie please review and close this issue after the code is merged.

[2016-12-23 16:03] hongsudt commented on #642
I am closing this issue since it doesn't seem like this is needed anymore.

[2016-12-23 16:03] #642 closed

[2016-12-23 17:51] hongsudt opened #903 "address travisCI task limit (50 mins) issue"
According to @howdyjessie , the approach that we took to break down the chaise tests into individual modules doesn't solve the 50 mins limit issue on travisci.
@howdyjessie please provide more detail in this issue..

[2016-12-23 18:49] chiragsanghvi commented on #903
The issue is the with Travis. It cannot let a job run for more than 50 minutes. Initially we inferred that we might need to break the tasks into smaller chunks, but that didn't solve the problem, as the whole job was still taking 50 minutes.

The other solution was to parallelize some tests, but we can't do that. The test cases modify chaise-config for testing different scenarios. This would confl

[2016-12-23 18:54] howdyjessie commented on #816
PR #897 has been merged, so closing this issue now.

[2016-12-23 18:54] #816 closed

[2016-12-23 18:56] hongsudt commented on #903
ok. Let's focus on converting all sleep into wait first.

[2016-12-23 19:13] howdyjessie commented on #898
<img width="1426" alt="screen shot 2016-12-23 at 10 55 56 am" src="https://cloud.githubusercontent.com/assets/4585431/21460572/bfe031ba-c8fe-11e6-8caa-346780c12fe2.png">

The tooltip issue has been fixed, so I'm closing this issue for now.

[2016-12-23 19:13] #898 closed

[2016-12-23 23:38] howdyjessie commented on #836
So since there doesn't seem to be a setting in Chrome or Firefox that would prevent links from opening in a new tabs/windows _and_ in the current tab/window (i.e. do nothing), it seems like this is wasn't really an issue to begin with. As such, I'm closing this issue for now; we can always come back to this if it becomes an issue later.

[2016-12-23 23:38] #836 closed

[2016-12-24 16:30] carlkesselman opened #907 "Info button on recordset page"
The "?" button on the recordset page seems unnecessary to me and inconsistent in behavior.  It looks like a button, but it doesn't do anything if you push it, and it has information about the search box.  I would put the contents of the tooltip for this button on the magnifying glass (which has no tool tip) and eliminate this button.

[2017-01-03 18:39] karlcz commented on #862
I apparently just missed the horizontal scrollbar as it is way off-screen at the bottom of the table, so you have to scroll vertically before finding the control to scroll across.  I'll update the issue description.

I think this is a UX problem we should revisit at some point... I think other sites tend to avoid having an off-screen scroll, as this isn't a scenario frequently experience.  I am no

[2017-01-04 18:48] svoinea commented on #874
Defined a function to get a preferred unique key.
The key has the NOT NULL constraint and is not a composite key.

[2017-01-04 21:30] svoinea commented on #875
The problem was fixed by setting the adequate `::null::` operator for `NULL` values.

[2017-01-05 19:37] svoinea commented on #874
@hongsudt The issue is ready for review. Please assign a reviewer.

[2017-01-05 19:38] svoinea commented on #875
@hongsudt  The issue is ready for review. Please assign a reviewer.

[2017-01-05 19:46] shinyichen opened #911 "Cookie not set in RecordEdit when adding multiple entities"
This is the scenario. Click '+' button in RecordSet to open RecordEdit. Create more than one entity and submit. Come back to RecordSet and nothing happens (RecordSet is suppose to have updated the table with the new record). However, this works when creating only 1 entity.

Here is the reason for the bug. This bug was introduced at resolving conflict for `recordedit/form.controller.js`. https://gi

[2017-01-05 22:07] howdyjessie commented on #863
@karlcz The change is live on synapse-dev now; could you review it when you have a chance? [This record](https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Behavior/ID=BhvZfCza20160815A1@sort(ID::desc::)) has a null timestamp column.

You can test it by attempting to enter a date and time, toggling the AM/PM button, and then submitting.

For a timestamp column that _isn't required_ (`

[2017-01-06 00:35] hongsudt commented on #853
From our standup meeting today, it seems like we are all done with this task.. So I am closing the issue.

[2017-01-06 00:35] #853 closed

[2017-01-06 00:37] hongsudt commented on #825
@jrchudy I am assigning this issue to you instead of @shinyichen

[2017-01-06 00:43] karlcz commented on #863
I would think that the form-validation logic would flag an incomplete
field as an error and give an error message, similar to how we would
flag any other errors such as missing required fields or invalid
numbers.

[2017-01-06 00:50] hongsudt commented on #854
@chiragsanghvi @howdyjessie should we close the issue?

If so, @chiragsanghvi can you summarize what you have done for some of the above cases before closing the issue?

[2017-01-06 00:59] karlcz commented on #863
In addition to the need for validation and error signalling, I see one problem with this version.

Clicking into the date or time field changes it from gray (disabled) text to black (enabled) text even though the control is still acting like it is unset.  I.e. I got it to a state showing:

    2017-12-31  12:00:00

but it silently treated that as incomplete/null because the `12:00:00` was not digi

[2017-01-06 19:17] #911 closed

[2017-01-09 18:21] howdyjessie commented on #854
@hongsudt Failure reasons 2 and 3 seem to be under control now after out sleeps-to-waits conversion, but reason 1 is still a question mark for me. I'm not sure if @chiragsanghvi looked into it yet? This issue could be closed in favor of creating a specific issue for reason 1.

[2017-01-09 18:36] hongsudt commented on #854
@chiragsanghvi <https://github.com/chiragsanghvi> what's the status on
reason 1?

On Mon, Jan 9, 2017 at 10:21 AM, Jessie Wong <notifications@github.com>
wrote:

[2017-01-09 19:44] chiragsanghvi commented on #854
The reason 1 is uncontrollable, as its an error from SauceLabs. The job couldn't open a tunnel as SauceLabs refused to. This happens due to concurrent execution most of the times or traffic.

The easiest solution is to restart the build.

[2017-01-09 23:43] #838 closed

[2017-01-10 21:51] jrchudy opened #918 "Recordset needs an edit button"
With the addition of multi-edit to the `recordedit` app, we need to have a way to trigger this functionality from the `recordset` app.

There should be a button that links to `recordedit` that will allow the user to edit the # of visible entities they see on recordset. If their pagesize is 25, they should only be editing 25 entities. This can be limited by the max number of forms allowed in `recor

[2017-01-10 21:52] jrchudy opened #919 "Search needs an edit button"
With the addition of multi-edit to the recordedit app, we need to have a way to trigger this functionality from the `search` app.

There should be a button that links to recordedit that will allow the user to edit the # of visible entities they see in `search`. The number of entities should be limited by what is shown on the search page.

[2017-01-12 19:42] karlcz opened #921 "Boolean drop-down occluded by next field in recordedit"
See:

https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Image/ID=ImgZfZdu20160908A6

The "Good?" column is boolean and has a drop-down.  When I try to choose a value, the null (empty) choice and the very top of the "true" text is visible but the remainder of the "true" text and the "false" text is truncated and hidden by the next field for the column "Notes".

Edit: updated demonstra

[2017-01-13 03:51] hongsudt opened #922 "Submit and display timestamp and timestamptz values as local time"
A *timestamptz* value is stored as a single point in time in Postgres. When the value is retrieved, the value is in whatever time zone the database is in.

A *timestamp* value is stored as a string with the date and time; time zone info will be dropped in Postgres.

When submitting values for timestamp and timestamptz columns, the app should just submit the values as browser's local time. (The app

[2017-01-13 04:34] howdyjessie commented on #922
Note to self: Test this in `09-recordedit.types.spec.js`

[2017-01-13 04:44] howdyjessie commented on #876
The fix for this has been merged into master via PR #920.

[2017-01-13 04:44] #876 closed

[2017-01-13 18:14] svoinea commented on #919
Added the `Edit` button next to the `Download` button.
On clicking it, it opens the `recordedit` page with an equivalent filter used by the `search` page.
In a test, I can see the records on the `recordedit` page.
However, there is a mismatch between the number of the displayed records and the number displayed in page title.
In my test there are 9 records (which is OK), but the title displays `Edi

[2017-01-13 18:15] svoinea commented on #919
Ready for review.

[2017-01-14 03:19] #870 closed

[2017-01-14 03:20] jrchudy commented on #919
I verified this functionality.

[2017-01-14 03:20] #919 closed

[2017-01-17 20:57] robes opened #924 "chaise/search table view broken when thumbnail not found"
I'm not sure whether this is a more general issue but it can be demonstrated here.

https://dev.facebase.org/data/search/#1/legacy:dataset?facets=(dataset_organism:organism::eq::Mouse)&layout=table&page=1

[2017-01-18 01:36] jrchudy commented on #766
We addressed this issue before christmas and completed the changes when the `recordedit` PR was merged early in January coming back from the break.

[2017-01-18 01:36] #766 closed

[2017-01-18 18:26] hongsudt commented on #854
ok.. Let's close this issue for now.. If there is a recurrence issue that happens frequently, we should open another issue..

[2017-01-18 18:26] #854 closed

[2017-01-18 19:18] crisaless opened #925 "adding angular date function to auto update year in footer"
it's silly to have to manually update the copyright year in the chaise footer. but regular js breaks chaise - so we need someone to add a function to do this in angular and add it to the ermfooter.html view. I've manually update the footer for 2017 so we have about a year to do this but shouldn't take long at all.

[2017-01-18 20:49] jrchudy opened #926 "Boolean default value not populated"
When a boolean column has a default value of false, it is not set properly druing creatino on `recordedit`.

[2017-01-18 23:19] #918 closed

[2017-01-18 23:29] jrchudy opened #928 "Record copy button creates more than 1 form"
The `record` copy button creates more than 1 form with data in it in `recordedit`.

[2017-01-19 02:05] #926 closed

[2017-01-19 02:27] hongsudt opened #930 "add export csv feature to recordset"
We should provide a download csv on the recordset page. Upon selecting download csv, the app should generate a link that will make a call to ermrest for a csv output.

There should be a function `CsvDownloadLink` provided in ermrestjs that will generate a proper url for chaise to use.

Take a look at what's in the search app for an example.

[2017-01-19 02:27] hongsudt commented on #907
@karlcz @robes @jrchudy @howdyjessie @RFSH @chiragsanghvi any objection?

[2017-01-19 02:49] jrchudy commented on #907
Seems reasonable to me and should be simple to change.

[2017-01-19 02:52] hongsudt opened #931 "modify ermrest config in travis yaml to enable features for test"
* enable timestamp type

[2017-01-19 02:54] jrchudy opened #932 "Record copy shows the wrong information for copying a record"
When you click the copy button it is showing the data for the first row from that table via the generated sort parameter. This is being caused by contextualizing the reference to `entry/create` which strips off the filter.

Solution: Make changes to ermrestJS to have better control over the generated uri.

[2017-01-19 02:58] chiragsanghvi opened #933 "Fix race condition in search directive for recordset table."
The search box for recordset refreshes content inside the table after every 200ms as you type. If you fire 2 requests A & B in sequential order. In case if request B returns first, the content of B is rendered in the table. After which content of A is rendered in the table as it returns.

The order should be preserved to avoid showing search results for old queries.

[2017-01-19 03:00] howdyjessie commented on #907
No objection here.

[2017-01-19 04:34] robes commented on #907
No objection.

[2017-01-19 19:56] howdyjessie opened #935 "Change toggles on Record if user can edit"
- If a user can edit, start the "Show All Related Records"/"Hide Empty Related Records" toggle in the latter position (so that empty tables are now shown instead of hidden).
- If a user can edit, the toggle on related tables for going between tabular and markdown display should be changed from "Table Display"/"Revert Display" to "Edit"/"Display"

[2017-01-20 01:26] robes opened #936 "Default to "dynamic" mode for plotting"

[2017-01-20 01:27] robes opened #937 "Bookmark URL for plotting"
Bookmark:
- plot type
- x axis
- y axis

[2017-01-20 03:00] #928 closed

[2017-01-20 19:38] karlcz commented on #931
This is done in 3e718fb29f37da6f777764f1d83f84f4f1cf84e1.

The new test/ermrest_config.json is a customized copy of the default one from ermrest, and it replaces the default copy during the test VM setup in .travis.yml.

[2017-01-20 19:41] svoinea commented on #924
I don't understand the issue.
I have attached the screenshot for the above mentioned link.

![screenshot-1](https://cloud.githubusercontent.com/assets/1609577/22162826/1df314d6-df05-11e6-9f8b-a5a287becf0c.png)

[2017-01-20 19:43] hongsudt opened #941 "search: edit button visbility configuration"
Only show the edit button on the search app if
* editRecord config is true, and
* table annotation is not generated or immutable (note: a table is generated/immutable if either itself is generated/immutable or its schema is generated/immutable), and
* if the user is in the groups that are allowed to write to the catalog

All these logic can be found in Reference.canEdit method..

[2017-01-20 19:48] hongsudt commented on #931
@howdyjessie can you verify?

[2017-01-20 20:02] howdyjessie commented on #931
I encountered the following error when running my tests on Travis:

[code]

[2017-01-20 21:33] howdyjessie commented on #931
I ran into an error on Travis:
`cp: cannot stat ‘test/ermrest_config.json’: No such file or directory`.

It seems like Travis can't find `ermrest_config.json` in the `ermrest` repo. See [build log](https://travis-ci.org/informatics-isi-edu/chaise/builds/193850695) for more info.

[2017-01-21 01:06] robes commented on #924
Ah the URL is wrong -- it should have included the 'sort' condition. Go to that same URL and sort by 'Accession' and descending order.

[2017-01-21 01:06] robes commented on #924
![chaise-search-table-broken](https://cloud.githubusercontent.com/assets/4202842/22170485/cba0b0b6-df32-11e6-9c4b-a63bb623459c.jpg)

[2017-01-21 01:07] robes commented on #924
See how the thumbnail column has disappeared from the header and the first row, but rows 2+ behave as if that row should have been there.

[2017-01-23 19:27] jrchudy opened #945 "Error Handling in apps for Synchronous calls"
Our Chaise apps need to have `try/catch` handling around the synchronous calls to `ermrestJS`. This is most noticeable in our functions that are used for on click handlers and for generating links.

[2017-01-23 21:00] #932 closed

[2017-01-23 21:26] howdyjessie commented on #863
Timestamp input validation and gray vs. black text issues have been resolved in PR #934, closing this issue now.

[2017-01-23 21:26] #863 closed

[2017-01-23 21:27] howdyjessie commented on #922
This has been addressed in PRs #934 (implementation) and #942 (tests).

[2017-01-23 21:27] #922 closed

[2017-01-23 21:28] howdyjessie commented on #935
This has been addressed in PR #940.

[2017-01-23 21:28] #935 closed

[2017-01-23 21:28] howdyjessie commented on #849
This has been addressed in PR #943 and merged into master.

[2017-01-23 21:28] #849 closed

[2017-01-23 21:40] svoinea commented on #941
Done through the commit d678fdcc24618f33bfecb4ffc57615b4ceac3790

[2017-01-23 21:41] svoinea commented on #941
Ready for review.

[2017-01-23 21:57] robes opened #946 "Don't show 'add' link on nested table when it is 'generated'"
If a table is annotated with the 'generated' annotation, then the 'add' link should not be shown when that table is nested in another record page.

For example, this is a record for a Slide that has a Scan.

https://cirm-dev.isrd.isi.edu/chaise/record/#1/Microscopy:Slide/ID=20160915-Gdf15het48hGA22-GA-0-01-000

The scan table has an "Add" link which can only lead to an error if you click it.

I wo

[2017-01-23 21:59] robes opened #947 "Don't show 'edit' icon in Actions if the user does not have edit permission"
Rather than _disable_ the edit icon in the Actions column, why not just not show it? In a largely read only usage scenario like FaceBase, GUDMAP, and (I presume) RBK, these icons aren't useful to most people visiting the site.

[2017-01-23 22:12] #936 closed

[2017-01-23 22:15] hongsudt commented on #941
@mikedarcy can you please review this issue..

[2017-01-23 22:16] #937 closed

[2017-01-23 22:59] robes commented on #941
@hongsudt it seems to work for me on facebase.

@svoinea on cirm-dev, from what I can tell, we do not have `editRecord` set in the chaise-config.js and therefore it correctly does not display the edit button. if that's the correct assumption than i can confirm it seems to work on cirm as well.

[2017-01-23 23:06] svoinea commented on #941
It should be visible if all of the below conditions are met:

- the `chaise-config.js` file has `"editRecord": true`
- the schema has **not** the `tag:isrd.isi.edu,2016:generated` or `tag:isrd.isi.edu,2016:immutable` annotation
- the table has **not** the `tag:isrd.isi.edu,2016:generated` or `tag:isrd.isi.edu,2016:immutable` annotation
- the logged in user has write permission

[2017-01-23 23:29] svoinea commented on #924
The database contains a number of `32` entries that have a `null` value for the thumbnail:
[code]
That explains the de-synchronization.
The code expects all the thumbnails to be `not null`.
I think we should update the database to set for the `null` thumbnails the default value `17416` that corresponds to the  `generic` thumbnail.

[2017-01-23 23:53] carlkesselman commented on #947
And potentially confusing.

Carl

From: robes <notifications@github.com>
Reply-To: informatics-isi-edu/chaise <reply@reply.github.com>
Date: Monday, January 23, 2017 at 1:59 PM
To: informatics-isi-edu/chaise <chaise@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [informatics-isi-edu/chaise] Don't show 'edit' icon in Actions if the user does not have edit permission (#9

[2017-01-24 00:01] mikedarcy commented on #941
Works for me.

[2017-01-24 00:01] #941 closed

[2017-01-24 00:43] robes commented on #946
Also... make sure the separator `|` is not shown when the `Add` is not shown. Was just looking at this record and saw the "Add" is gone (yay) but the `|` is still there (boo).

https://dev.facebase.org/data/record/#1/legacy:dataset/id=263

Makes me wonder if this is being worked on in another issue since this one isn't even assigned.

[2017-01-24 01:17] hongsudt commented on #946
Shouldn't canEdit or canCreate deal with the generated annotation already?

Maybe the app hasn't checked canCreate before adding the "Add" link..

On Mon, Jan 23, 2017 at 1:57 PM, robes <notifications@github.com> wrote:

[2017-01-25 19:43] howdyjessie commented on #931
This has been fixed; Travis builds are creating timestamp fields just fine now.

[2017-01-25 19:43] #931 closed

[2017-01-25 20:06] #825 closed

[2017-01-25 23:08] howdyjessie opened #948 "Tweak visibility of buttons and links on Action columns and Record app"
- Show/hide buttons on Action columns based on a user's permissions
 - Make Action buttons bigger so that its height is in line with the text height
 - Remove extra pipe character when the Add link on Record is hidden.

[2017-01-26 02:59] hongsudt opened #949 "search: encode () in the url pattern properly"
I ma using a url pattern to link experiment_type to its record page. The experiment_type has space and `()`, the space is encoded, but not `()`.

Here is the link to the search page that generate incorrect link
https://dev.gpcrconsortium.org/chaise/search/#1/experiments:experiment

Here is the annotation that I used to generate the url.
--('experiments', 'experiment', 'experiment_type', 'comment',

[2017-01-26 20:11] robes opened #951 ""Add" on a nested table of _associated_ entities should add the association not the target entity"
This was the regression bug we discussed.

[2017-01-26 20:15] robes commented on #951
You can recreate this bug on this site and page by clicking the "Add" link for the "Specimen Gene" nested entity set.

https://cirm-dev.isrd.isi.edu/chaise/record/#1/Microscopy:Specimen/ID=20160920-mKDCrlf1IRES21d-GA-0

[2017-01-26 20:16] robes commented on #951
@svoinea This bug must be resolved and then tested on CIRM in order to resolve 2 of the items on the pre-release checklist.

@jrchudy when you are done you can assign this to @svoinea for review.

[2017-01-26 22:30] howdyjessie opened #952 "Use displayname.value; add conditional HTML logic for displayname"
informatics-isi-edu/ermrestjs#328 changes Column.displayname to an object with `isHTML` and `value` properties.

Change all instances of `displayname` to use the `displayname.value` and if `displayname.isHTML` if true, use `ngBindHtml`.

This change applies to `Column`, `Table`, `Schema`, and `Reference` classes.

[2017-01-27 03:13] karlcz opened #953 "Chaise ignores column-display column_order false annotation"
According to spec, when column_order is set to a JSON false value, sort should not be offered on that column,
@hongsudt

[2017-01-27 19:29] svoinea commented on #949
The problem was fixed through the commit 34990a635d6abf86d1b1bc69c500bcfcde1c75f6 by allowing the usage of the additional pattern `{encode.value}` when the URI encoded value is required.

As the above mentioned annotations were not present in the database, I have added them:
[code]

[2017-01-27 19:31] svoinea commented on #949
@hongsudt Ready for review.

[2017-01-28 02:02] jrchudy opened #954 "Copying an entity with a null float"
When a record is copied that has a null float value, and no value is input for that float column, ermrest responds with a 400 error. The problem is that the float value is being converted to an empty string (`""`) which is not an acceptable value for floats.

[2017-01-28 03:18] #954 closed

[2017-01-30 20:29] robes opened #957 "app fails at/near startup on MS IE"
Environment:
- Windows 7
- IE 11.0

Steps:
1. go to dev.facebase.org
2. go to any search app link
3. drill down to any record app link

What you see is an Error dialog and in it is says the object does not have `startsWith`. That may be a bug in itself but it is probably not the initial bug. If you watch the app load in IE developer tools the first bug is this:

[code]

We are dereferencing a prop

[2017-01-30 20:29] jrchudy opened #958 "Change Add link on related tables"
This [PR](https://github.com/informatics-isi-edu/ermrestjs/pull/330) adds a function to reference to get the derived association reference for related references. This needs to be applied to the add link on `record` app.

[2017-01-30 22:57] jrchudy commented on #951
The corresponding PR has been merged. Assigning this to @svoinea for verification.

[2017-01-31 00:18] hongsudt commented on #947
I think @howdyjessie has a similar issue generated based on the standup meeting. I will let her close the duplicate issue..

[2017-01-31 00:26] hongsudt opened #959 "record-edit performance issue"
We should do a profile on record-edit and improve performance where applicable.

A gpcr user has notified that when she created 16 records, the app was very slow, especially when she had to choose a foreign key from a construct or biomass table which could take more than 1 minute to render. She ended up deleting 8 out of 16.

Will update the issue with browser type and version when I hear more fro

[2017-01-31 00:28] hongsudt commented on #368
Ermrestjs seems to handle this case already.. Let's open another issue if we find a bug related to this.

[2017-01-31 00:28] #368 closed

[2017-01-31 00:33] #545 closed

[2017-01-31 00:34] hongsudt commented on #951
@robes please confirm and close the issue..

[2017-01-31 01:22] howdyjessie commented on #952
PR #960 has been merged into master, closing now.

[2017-01-31 01:22] #952 closed

[2017-01-31 01:25] howdyjessie commented on #948
The 1st bullet pt duplicates #947, and the 3rd bullet pt duplicates part of #946. 2nd bullet will be added into #947. Closing this issue.

[2017-01-31 01:25] #948 closed

[2017-01-31 01:32] hongsudt opened #962 "recordedit sometimes doesn't show long column names properly"
For a column name that is longer than 2 rows, the recordedit sometimes did not automatically add more rows/space so that all the name was displayed correctly (no matter how many times I refreshed the app). But for some other times, the names seem to be displayed properly.

 See column `Protein Concentration(mg/mL)` in the example here:
https://dev.gpcrconsortium.org/chaise/recordedit/#1/experiment

[2017-01-31 01:35] #958 closed

[2017-01-31 02:26] jrchudy commented on #957
The first error is not a blocking error but instead telling you that calling `length` on the given property is undefined or null, in this case `Object.keys(completed)` where `completed = {}`. `Object.keys()` should return an empty object if it has no keys, but in either case it would fail that side of the `||` statement.

The `startsWith` bug is the real problem here. `String.startsWith()` and `St

[2017-01-31 02:44] robes commented on #951
appears to be working.

[2017-01-31 02:44] #951 closed

[2017-01-31 18:22] robes commented on #957
tested on cirm-dev and it works

[2017-01-31 18:49] robes opened #963 "Encoding error in row names"
https://cirm-dev.isrd.isi.edu/chaise/record/#1/Microscopy:Experiment/ID=20160915-H%26ENone-GA-0

the `&` gets displayed as `&amp;`

The annotation is:

[code]

The database contents can be seen here of course

[code]

which are

[code]

[2017-01-31 18:51] robes opened #964 "Record app not catching or displaying 'not found' error correctly"
This record does not exist

[code]

When you go there Chaise says

[code]

[2017-01-31 19:10] jrchudy opened #965 "Column display name shows html element"
On `recordedit` when there's a column with a displayname with html in it, it displays the html code rather than renderings it.

Looking at the html, we aren't checking if this value is html or not.

[2017-01-31 19:11] #957 closed

[2017-01-31 19:22] jrchudy commented on #963
The offending line.

https://github.com/informatics-isi-edu/chaise/blob/master/record/index.html.in#L40

[2017-02-02 03:03] howdyjessie commented on #946
Not sure if these issues were already fixed in another issue since the time this issue was created. I see the Add link does have a check that whether a related reference's `canCreate` property is true to determine whether to show this link. The pipe also doesn't appear for me on neither the facebase-dev nor the cirm-dev pages anymore. @robes Do you still see these issues on your end?

[2017-02-02 18:22] robes commented on #946
I believe this has been resolved.

[2017-02-02 18:22] #946 closed

[2017-02-02 21:59] jrchudy commented on #963
I will assign this issue to @robes once the code is merged.

[2017-02-03 01:55] jrchudy commented on #963
Assigning to @robes for review.

[2017-02-03 01:55] #965 closed

[2017-02-03 23:25] robes commented on #678
The faceting option for each data type should be loosely coupled per karl and my comments earlier. This can be worked out in the software design.

I'm curious what people will think about the 'chiclets' moved into each attribute's facet control. Currently, we have those 'chiclets' at the top. We wanted to move them within the context of each attribute facet control. There might be other options fo

[2017-02-03 23:48] bugacov opened #968 "400 Error when trying to sort a column with "/" in the column name"
Trying to sort on the "Num Constructs Total/Prev Month" column f=of

https://dev.gpcrconsortium.org/chaise/recordset/#1/common:targets_dashboard

produces a bad request

https://dev.gpcrconsortium.org/ermrest/catalog/1/attributegroup/M:=common:targets_dashboard/F2:=left(target_id)=(gpcr_browser:target_gui:title)/$M/F1:=left(site)=(iobox_data:site:name)/$M/target_id,Num%20Expressions%20Total/Prev%2

[2017-02-04 01:20] karlcz commented on #925
Shouldn't a copyright statement be present as literal text in the content we serve up?  I don't think it sounds right to dynamically generate this on the client side...

[2017-02-04 01:24] howdyjessie opened #969 "Use "Link" for related tables link if associative FK relationship"
For the "Add" link on related tables, if the relationship is formed via an association table, use "Link" as the text instead of "Add".

[2017-02-04 01:38] hongsudt commented on #968
@RFSH please fix..

[2017-02-06 23:15] robes commented on #933
I would take this a step further and suggest that we should not fire off a search until the prior search has returned. Just looking at one page here:

https://dev.gpcrconsortium.org/chaise/recordedit/#1/experiments:sample

And clicking on the search control for Biomass Expansion. As I type in a few characters, I can see 3 requests fired off to ermrest, each of which will take a few seconds (~3 sec

[2017-02-06 23:25] hongsudt commented on #933
And instead of firing at every changes, we should just do it based on the event that users stops typing.. @howdyjessie mentioned that there is a way to monitor for this event.

[2017-02-06 23:54] karlcz commented on #933
Are you saying it fires multiple concurrent searches, one for each
character? That would be a bug under the currently specified objective.

It was specified that it should fire at most one active "background"
search, i.e. for opportunistic type-ahead search. It should never send
another before the previous terminates. I agree 250ms seems a bit
too aggressive.

We said it was permissable to send on

[2017-02-07 01:06] howdyjessie opened #970 "Initialize action column btn links correctly"
Action column button links aren't set if `chaiseConfig.maxRecordsetRowHeight` is false. This config property and the button links should be independent of each other.

[2017-02-07 01:34] hongsudt opened #971 "auto-focus search box when search modal is open"
Currently, this feature works on chrome, but doesn't work on firefox. Please test this on safari as well..

[2017-02-07 02:01] howdyjessie commented on #971
Rather than relying on the `autofocus` attribute to do the focusing for us, we should focus on the input via JS instead because:

1. The reason it doesn't work in FF is because FF's implementation of `autofocus` doesn't focus the input box if the autofocus attribute is inserted after the page has loaded (e.g. via AJAX). Chrome and Safari do this fine.

2. Additionally, `autofocus` is only supporte

[2017-02-07 02:09] #970 closed

[2017-02-07 02:29] howdyjessie commented on #933
I might have miscommunicated this mechanism to @hongsudt so I'm sorry if I did 😞 , but to clarify:

As the user types each character, it cancels a previous request (if one existed) and then it schedules a request to be completed 200ms later. So there's never more than 1 background search at any time.

When speaking with @hongsudt I thought she was saying that a request shouldn't even be scheduled

[2017-02-07 02:34] karlcz commented on #933
What does "cancels a previous request" mean?

I don't think ERMrest supports request cancellation.  So, if we're
issuing requests rapidly and abandoning them, they are still running
to completion on the server. We should wait for the server to respond
(or the request to fail/timeout) before we issue another background
search.

[2017-02-07 02:54] howdyjessie commented on #933
Here's the relevant snippet:
[code]

@chiragsanghvi can correct me if I'm wrong, bI take the cancellation to mean that it resolves the `$timeout` promise by rejecting it, which "cancels the task associated with the promise" according to [Angular docs](https://docs.angularjs.org/api/ng/service/$timeout). If the task has already been initiated by cancellation time (i.e. the user types another charac

[2017-02-07 06:24] chiragsanghvi commented on #933
I agree with what @howdyjessie is saying. The HTTP request is not cancelled, but its result is never used and displayed.

@robes I can increase the timeout from 200ms to 1 or 2 second. The only reason why I kept it 200ms because it is a standard value. The delays usually range from 200 - 400 ms. Google's search box sends request for every character.  I can understand that Ermrest won't respond thi

[2017-02-07 06:47] carlkesselman commented on #933
Hi,

I think users really expect a typeahead behavior, so lets not go back to the press enter behavior we had before.
I agree that 1-2 seconds is too long.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Pre

[2017-02-07 16:51] robes commented on #933
@chiragsanghvi : Google does make a request for every character you type but for a very different purpose. If you watch carefully, Google only searches its (let's call it) "search string index" which is an index of "search strings" that people have used before, not the actual web index. When you type something like "red lamborghini huracan" google will search its search strings immediately for eve

[2017-02-08 22:22] jrchudy commented on #857
This issue is linked to PR #974.

[2017-02-08 22:22] jrchudy commented on #959
This issue is linked to PR #974.

[2017-02-08 22:50] karlcz opened #975 "View action button (eye-ball) is broken with paging"
I've experienced this bug several times today and questioned my own mouse click accuracy.  But I've finally repeated it and can confidently say the app is malfunctioning.

1. Go to a recordset page like https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Subject%20Summary@sort(Issue%20Date::desc::,ID)?limit=10
2. Page through a few times, e.g. I hit next 4 times to get a page w/ lots of

[2017-02-08 23:01] karlcz opened #976 "Broken table width determination w/ images and iframes"
I think this is a recent regression...

1. Go to https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Subject
2. Hit next page 4 times to get to a page w/ plot imagery in the right-most 2 columns
3. Scroll down to the bottom
4. Change window widths and notice that a horizontal scrollbar appears for many widths even though the table content can re-flow to adapt to the new width.

It seems

[2017-02-09 00:45] howdyjessie opened #977 "Consider Ref.canDelete when determining whether to show Delete Record button"
The Delete Record button on RecordEdit appears if in edit mode and chaiseConfig.deleteRecord is true. It should also take Reference.canDelete into account so that if canDelete is false, the button should not appear.

[2017-02-09 18:05] RFSH commented on #968
@bugacov It should be fixed now. Can you please verify?

[2017-02-09 20:06] howdyjessie opened #979 "Make sure all Chaise apps specify UTF-8 charset"
In a `<meta>` tag at the top of each's app `<head>`.

[2017-02-09 22:59] robes opened #980 "Numbers in nested table header without explanation are confusing"
Our nested tables have the headings

Without explaining what # is for is confusing.

Some suggestions for improving it:
- "showing # of total# results"
- "showing first # results"
- or just drop the number

[2017-02-10 20:43] ljpearlman opened #981 "Confusing search results caused by caching of trigger-generated values"
In RBK, we have a table called Protocol that has several columns that are generated via triggers that fire when a related table is updated (for example, whenever a row is added to or deleted from the Protocol_Subject table, the associated row in the Protocol table is updated with a list of associated subject terms). We do this so people can see the lists of subjects, etc., in `search` results.

@t

[2017-02-10 21:29] karlcz commented on #981
The way to fix this is to modify your trigger definition to report
the data change event:

  EXECUTE _ermrest.data_change_event('schema name', 'table name')

or similar.

[2017-02-10 22:44] #963 closed

[2017-02-11 01:22] hongsudt commented on #981
@ljpearlman should we move this task back to rbk_project since we have to add that to the trigger method?

[2017-02-11 01:25] hongsudt opened #982 "recordedit should handle 401 properly"
Currently, the app will just print out "Error 401 Unauthorized The requested catalog/1 is forbidden."  We need to handle this so that users won't loose the data they have entered.

@chiragsanghvi I think you are working on this for the file upload. Maybe we should prioritize this piece and add it to general recordedit first.

[2017-02-11 05:18] robes commented on #678
This is an iteration on Hongsuda's drawings, just to continue the conversation. Maybe we can meet and discuss early next week.

![faceting](https://cloud.githubusercontent.com/assets/4202842/22851333/5477dd6e-efd3-11e6-8a9a-f2c29e071a2d.jpg)

Labels:

A. The general search box at the top.

B. Count of records and the type (by table name) of the records. I realize we may not be able to give the tot

[2017-02-11 16:46] carlkesselman commented on #678
FYI, this is starting to look a bit like the interface in OpenRefine (formally Google Refine)

![image](https://cloud.githubusercontent.com/assets/3597150/22855529/7b133690-f036-11e6-98eb-bd8d56de5f99.png)

[2017-02-13 18:54] robes commented on #678
Yes. I would say that Open Refine looks like a conventional faceting interface. And in this round, we also are trying to stick to a more conventional faceting design.

[2017-02-14 19:57] RFSH commented on #953
@karlcz I merged the PR that is related to column_order. Chaise should now support this annotation. Can you please verify?

[2017-02-14 21:44] karlcz commented on #953
Yes, I now see it working on my dev server.

[2017-02-14 21:44] #953 closed

[2017-02-14 21:55] karlcz opened #985 "Empty results page is too empty"
I think the empty results page needs to say something like `No matching results.` rather than just being a completely blank div.  I think this is definitely true for recordset, and perhaps also possibly for any other
compact display context.

[recordset example](https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Subject%20Summary/*::ciregexp::Tol25@sort(Issue%20Date::desc::,ID)?limit=1

[2017-02-15 02:48] hongsudt commented on #976
@chiragsanghvi @karlcz has mentioned this bug in the standup meeting.. Please take a look..

[2017-02-15 02:53] hongsudt commented on #975
@karlcz please review after the PR is merged.

[2017-02-15 20:20] robes opened #986 "Not checksumming ermrestjs script"
The Makefile is looking in the wrong location for the ermrestjs script during its checksumming step. The deployment dir and build dir are at different locations. The generated script tag leaves the checksum part blank and so we are more likely for the browser to use a cached ermrestjs script when a new one was available on the server.

[2017-02-15 21:14] howdyjessie commented on #947
PR #978 addresses this issue and has been merged into master.

[2017-02-15 21:14] #947 closed

[2017-02-15 21:15] howdyjessie commented on #969
PR #978 addresses this issue and has been merged into master.

[2017-02-15 21:15] #969 closed

[2017-02-15 21:15] howdyjessie commented on #977
PR #978 addresses this issue and has been merged into master.

[2017-02-15 21:15] #977 closed

[2017-02-15 22:53] hongsudt opened #987 "unclear display when there is no matches"
Currently, when there is no match found, there is nothing displayed in the result set area which could cause confusion.

When an empty table is displayed, we should print out "No results" under the table header.

[2017-02-15 23:14] hongsudt commented on #924
@robes please respond.. This issue seems to be blocking/pending.

[2017-02-15 23:15] hongsudt commented on #933
@karlcz can we close this issue?

[2017-02-15 23:16] hongsudt commented on #893
@ljpearlman is this still an issue?

[2017-02-15 23:19] robes commented on #924
Okay, thanks I didn't see serban's reply. We can do that in the facebase database. I gather we will leave this bug unfixed in the search app since we are trying not to invest more effort in it. I'll close this and mark it wont fix.

[2017-02-15 23:19] #924 closed

[2017-02-15 23:23] karlcz commented on #933
Yes, I think it is redundant with other work that was done under separate issue and PR for controlling the background and foreground searches..

[2017-02-15 23:23] #933 closed

[2017-02-15 23:26] karlcz commented on #975
Yes, the view link seems to track the next page contents now.

[2017-02-15 23:26] #975 closed

[2017-02-17 04:07] howdyjessie commented on #971
PR #988 has been merged... closing now.

[2017-02-17 04:07] #971 closed

[2017-02-21 18:14] #857 closed

[2017-02-21 18:14] #959 closed

[2017-02-21 22:00] jrchudy opened #991 "Recordset remove search phrase"
Recordset should have an `X` in the search box to remove the search term rather than a `Reset` button. The `X` should have the same behavior as the `Reset` button which includes reseting the `resultset` to an empty search.

[2017-02-22 19:15] howdyjessie commented on #846
A sketch from @karlcz on how to deal with 412 errors:
![img_2144](https://cloud.githubusercontent.com/assets/4585431/23228069/19f54304-f8f0-11e6-9ce2-cf69a68afba8.JPG)

[2017-02-22 20:19] #991 closed

[2017-02-22 20:19] #907 closed

[2017-02-22 20:35] #982 closed

[2017-02-22 22:18] #862 closed

[2017-02-22 22:21] howdyjessie commented on #846
In Chaise:
On 412 in UPDATE case in recordedit,
- Show a modal that explains that some data has changed and user must review the data.
- Highlight the inputs where the current data in the DB isn't the same as what the user entered in the input. Show current data in blue text beneath input fields (like validation messages).

[2017-02-23 20:53] jrchudy opened #994 "Recordedit should NOT modify tuples before submission"
`Recordedit` should copy the tuples that are going to be submitted and modify those copied ones then submit to `ermrestJS`.

[2017-02-23 20:58] howdyjessie opened #995 "Active element ("focusser") error in e2e tests"
There's an error in the RecordEdit tests on [this line](https://github.com/informatics-isi-edu/chaise/blob/master/test/e2e/specs/recordedit/helpers.js#L370) or [this line](https://github.com/informatics-isi-edu/chaise/blob/master/test/e2e/specs/recordedit/helpers.js#L402), if you add a `browser.pause` (according to @RFSH).

Both lines are expecting the browser's current active element to be the se

[2017-02-24 19:49] #994 closed

[2017-02-24 19:59] robes opened #999 "Can't increase page size after paging back to the first page"
This is honestly a little tricky and probably not the highest priority bug if its hard. Although it might also reveal something wrong with how we are handling the interaction between pagination and page size.

Steps:
1. If you go to a recordset app and click 'next' arrow
2. then click 'previous' arrow
3. Now try to increase the page size

It won't increase because the page is bounded by the `@befo

[2017-02-24 20:14] karlcz commented on #999
We could probably use a simple heuristic in Chaise.

If the result of the "before" request is less than requested page size
N, we must have reached the beginning of the stream.  So we could drop
the "before" modifier and just try again to get the first N records,
just like when the app first starts up on the initial page.

Can confine this change to the prev-page handler, to just extend the
promis

[2017-02-24 21:32] jrchudy commented on #921
The corresponding PR has been merged. @karlcz could you verify this after the hourly update at 2 pm today?

[2017-02-24 23:14] robes opened #1000 "Error message when entity not found needs improving"
For example:

https://dev.facebase.org/data/record/#5/isa:dataset/id=14086

This entity does not exist. I got there because the entity _did_ exist, then I deleted it from another client, and refreshed the record page. This is likely to happen as we begin to have more data editing by users.

The error message says

Seems like that might even be a raw Javascript exception text, meaning we may not ha

[2017-02-25 00:29] jrchudy commented on #258
This is only relevant to the viewer app now.

[2017-02-25 00:57] howdyjessie commented on #995
@RFSH The fix for this has been reviewed and merged into master, but could you check on your tests to see if the failures have gone away?

[2017-02-27 17:56] karlcz commented on #921
It's still buggy on the page given in the issue description on firefox.  When opening the drop-down, the table display area does not get larger.  Instead, a vertical scroll pops up and the drop-down contents are still occluded.

[2017-02-27 21:06] jrchudy commented on #921
That was the fix that we discussed without completely replacing the dropdown. Now the user can access the rest of the values in the dropdown if they scroll the table section down.

We can leave this open and rename it to track when we want to do work to change the dropdown menu implementation and see if that fixes the problem.

[2017-02-28 19:05] RFSH commented on #995
@howdyjessie Yes, I can confirm that the test is not failing for me anymore.

[2017-02-28 19:05] #995 closed

[2017-02-28 19:18] robes opened #1003 "Sort control broken when FK references PK of same table"
On a table with a "self reference" (a FK that references its own PK), the sort control is broken on that column. The sort controls work for other columns still. See the "Derived From" column on the Imaging nested table on this record.

https://dev.facebase.org/data/record/#1/isa:sample/id=6

[2017-02-28 21:00] jrchudy commented on #684
This is a duplicate of issue #964. Closing this issue.

[2017-02-28 21:00] #684 closed

[2017-02-28 22:34] #298 closed

[2017-03-01 02:44] hongsudt commented on #921
@jrchudy @chiragsanghvi  can you document the alternative solutions to solve this problem? Since Karl will deal with this issue using a work-around, we can come back and work on this later. I just want to have the potential solutions documented.

[2017-03-01 02:45] hongsudt commented on #1000
@jrchudy after the pull request is merged, please ask @robes to review..

[2017-03-01 02:54] hongsudt opened #1005 "distinguish whether session has expired vs new login"
[ ] check whether the current Angular-based session structure is sufficient
[ ] check whether all the apps are using the same structure
[ ] If not, we discussed about storing the session info to the server object.

[2017-03-01 19:56] jrchudy commented on #921
We discussed a number of a ways to change the behavior of this dropdown:
- the viewport for the table get resized (height-wise) when the dropdown is clicked on
- the dropdown menu can look for the bottom of the viewport instead of the bottom of the browser to determine if it should be drawn upwards
- the dropdown implementation can be replaced with one that includes the dropdown content outside of

[2017-03-01 20:34] chiragsanghvi commented on #921
You can use `append-to-body` attribute on the `ui-select` element. This will basically append the dropdown to the body, instead of the table. This should fix the issue.

I've a proof of concept in my userdir. Just zoom out the screen to 50% and then try opening the dropdown.

https://dev.isrd.isi.edu/~chirag/chaise/recordedit/#18709/product:accommodation

[2017-03-01 20:50] hongsudt opened #1007 "Add "remove current record from formset" feature to recordedit - edit mode"
We decided to use a stop sign symbol for this feature..

Once this is done, we should modify the creation process to use the same symbol instead of a trash can.

[2017-03-01 22:10] hongsudt opened #1008 "config and set up google analytics for each app"
@crisaless probably has this done for the static pages. This issue is to put simple instruments on each app and check whether the current config applies.

@crisaless can you please give @howdyjessie access to the analytics accounts. We can start with the general isrd, if there is one, and facebase.

@howdyjessie This requires a google account. So please send one to @crisaless

---

- [x] Add GTM t

[2017-03-01 22:14] hongsudt commented on #921
The link works pretty well..
@jrchudy please take a look. If this is a quick fix, let's get it out of the way.

[2017-03-01 23:00] crisaless commented on #1008
I've added jessie to the facebase 2 account. There wasn't one created for isrd yet so I made one - it's specific to dev.isrd.isi.edu - and added jessie as well.

[2017-03-02 00:47] jrchudy commented on #1000
The message text has been changed @robes.

[2017-03-02 20:31] RFSH commented on #1003
@robes
It seems like the "Derived Form" column has been removed from the table.
I created [this sample table](https://dev.isrd.isi.edu/chaise/recordset/#18723/reference_schema_2:table_w_self_fk) with a fk to itself (`col_1` is a foreign key to `id` column). The sorting is working for all the columns of this table.

[2017-03-02 21:21] robes commented on #1000
worked great for me

[2017-03-02 21:21] #1000 closed

[2017-03-02 21:38] RFSH opened #1009 "Refactor recordedit Testcases to not imitate ermrestjs logic"
There are some test cases that try to imitate the ermrestjs logic. For instance [`getVisibleColumns`](https://github.com/informatics-isi-edu/chaise/blob/master/test/e2e/utils/page.utils.js#L277) function is trying to figure out the visible columns using the annotation.

I don't think we should have these sort of logics in chaise test cases. Instead, we should just test for a fixed and known result

[2017-03-02 22:06] jrchudy commented on #921
The changes that @chiragsanghvi suggested have been made. This can be reviewed after the next dev hourly update at 3 pm today.

[2017-03-02 22:15] #987 closed

[2017-03-02 22:17] jrchudy opened #1010 "Tables should not show "No results" before data is fetched"
Now that tables display `"No Results Found"` when there are no matching rows returned from `Reference.read`, it flashes that message before the table actually loads.

[2017-03-02 22:31] jrchudy commented on #964
The code for this issue has been merged. Reassigning to @robes to review that it is fixed.

[2017-03-02 23:47] howdyjessie commented on #846
PR #1006 has been merged, closing now.

[2017-03-02 23:47] #846 closed

[2017-03-03 07:00] #964 closed

[2017-03-03 23:12] hongsudt opened #1012 "Refactor error handling to comform to chaise dev guideline"
I have updated the [Chaise Dev Guide wiki](https://github.com/informatics-isi-edu/chaise/wiki/Chaise-Dev-Guide) to reflect our discussion on Thur. We should try to review the code and refactor it to conform to the convention..  What about?
- [x] record: @howdyjessie
- [x] recordedit: @jrchudy
- [x] recordset: @chiragsanghvi
- [x] ermrestjs: @RFSH
- [x] common: @howdyjessie

How does the above brea

[2017-03-03 23:14] hongsudt commented on #1009
@RFSH Can you identify specific test cases, so we can quickly discuss that with the test owners and have them removed?

[2017-03-03 23:17] hongsudt commented on #976
@chiragsanghvi Please look at this.

[2017-03-03 23:18] hongsudt commented on #893
@ljpearlman I am moving this to blocked at the moment.. At some point, we should close the issue or mark it as not-fixed.

[2017-03-03 23:39] hongsudt commented on #945
duplicate of #1012. I am closing this issue.

[2017-03-03 23:39] #945 closed

[2017-03-03 23:41] jrchudy commented on #1012
That sounds good to me.

One thing to note:
`ermrestJS` doesn't necessary need a robust error handler that follows the convention we outlined because `http.js` acts as an interceptor for all requests in `ermrestJS`. @RFSH do you want to think about this a bit for `ermrestJS`?

My thoughts:
That common error handling can be managed in `http.js` for generic cases if you don't need to act on the resp

[2017-03-04 02:11] robes commented on #1012
@jrchudy I'd like to hear about a specific example where such an error callback in http.js would be useful.

[2017-03-04 02:12] robes commented on #1012
@hongsudt We should look into implementing a 'decorator' for angular's `$exceptionHandler` service. Not sure if that's another bullet here to be assigned or a separate issue.

References here:
https://github.com/informatics-isi-edu/chaise/wiki/Chaise-Dev-Guide#guideline-for-angular-components

[2017-03-04 06:01] ljpearlman commented on #893
This has actually been fixed for some time.

[2017-03-04 06:01] #893 closed

[2017-03-05 05:36] RFSH commented on #1009
All the functions that are under [`EditInputs`](https://github.com/informatics-isi-edu/chaise/blob/master/test/e2e/utils/page.utils.js#L230), are trying to get the result based on some logic and that should not be the case for unit tests. These function are just used in recordedit test suit.

| link

[2017-03-06 18:38] jrchudy commented on #1009
I believe the `editInputs` and `sidebar` tests are testing functionality in the search app that don't rely on `ermrestJS`. This functionality is defined in a number of javascript files in `chaise` in the `scripts` folder under the `chaise` directory.

[2017-03-06 19:46] karlcz commented on #921
the drop-down looks good now, but the example page in the issue description now shows a horizontal scrollbar even with very wide windows.  is this related to the change in CSS, or a separate issue I should open?

[2017-03-07 00:53] jrchudy commented on #921
It does look like the change to the CSS in PR #993 caused this.

[2017-03-07 01:25] #1010 closed

[2017-03-07 02:01] RFSH commented on #1009
As I mentioned in my previous comment, `editInputs` has been used widely in recordedit app, which is using `ermrestjs`.  My open PR has changed some of the heuristics and that's how I found this issue.

[2017-03-07 02:38] hongsudt commented on #1009
Let's discuss this tomorrow..

On Mon, Mar 6, 2017 at 6:01 PM, Aref Shafaei <notifications@github.com>
wrote:

[2017-03-07 21:40] chiragsanghvi commented on #976
@karlcz Unable to regenerate the issue

[2017-03-07 21:42] chiragsanghvi commented on #962
@hongsudt Closing this issue as unable to regenerate the issue. This might be fixed because of the [display](https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2015-display) html annotation that we implemented.

[2017-03-07 21:42] #962 closed

[2017-03-08 21:47] hongsudt opened #1016 "timestamp column shows [object Object] when the input field is disabled"
https://dev.gpcrconsortium.org/chaise/recordedit/#1/assets:cpm/id=2@sort(last_modified_timestamp::desc::,id)

This feature used to work..

Please add a test case to detect that the values show up correctly regardless of whether it is enabled or disabled.

[2017-03-08 23:21] karlcz commented on #921
OK this looks good to me now.

[2017-03-08 23:21] #921 closed

[2017-03-09 00:26] #831 closed

[2017-03-09 02:53] hongsudt commented on #842
@crisaless Do we have a text for this yet?

[2017-03-09 02:54] #331 closed

[2017-03-09 02:56] hongsudt commented on #1009
@chiragsanghvi can you update this issue of the action plan that we discussed related to these generic test cases?

[2017-03-09 02:58] hongsudt commented on #985
This is now done. So I am closing this issue.

[2017-03-09 02:58] #985 closed

[2017-03-09 02:59] hongsudt commented on #895
@karlcz I think this issue is no longer relevant.. Correct?

[2017-03-09 03:01] hongsudt commented on #582
@jrchudy @howdyjessie @chiragsanghvi @robes Is this still an issue?

[2017-03-09 03:03] hongsudt commented on #693
@howdyjessie Can you check whether we have done this? I think @shinyichen has provided a function for this.

[2017-03-09 03:06] hongsudt commented on #976
@karlcz please check whether you still have this problem?

[2017-03-09 03:13] #949 closed

[2017-03-09 04:30] howdyjessie commented on #693
@hongsudt Yep I see there's a `queryParams` object inside `context`, which has all the query parameters (`?copy`, `?limit`). And then paging modifiers (`@after`, `@before`) go inside `context.paging`; sort modifiers (`@sort`) are in `context.sort`.

I'll close this issue now.

[2017-03-09 04:30] #693 closed

[2017-03-09 16:41] robes commented on #582
I am not knowledgable about this issue.

[2017-03-09 17:32] crisaless commented on #842
@hongsudt  I have a starting point based on what we did for facebase. But my issue is I don't know where to host the landing pages we need... I suppose I could do so on dev.isrd.isi.edu?

[2017-03-09 17:38] hongsudt commented on #842
Can we use a repo wiki to draft the text, so I can point people to put in
the chaise app?

On Thu, Mar 9, 2017 at 9:32 AM, Cris Williams <notifications@github.com>
wrote:

[2017-03-09 18:20] crisaless commented on #842
Sure. We also need acknowledgements - I'm not as clear what that should include. I would need a list of who/what needs to be acknowledged, at least for vanilla chaise at first.

[2017-03-09 19:10] crisaless commented on #842
Here's a first draft of privacy policy for chaise alone:

https://github.com/informatics-isi-edu/chaise/wiki/Privacy-Policy

[2017-03-09 20:00] karlcz commented on #976
I still see it but it is less pronounced than it was before.  It's certainly usable now, so these are just minor graphical layout quirks.

The scrollbar appears with a cell padding's worth of wiggle room and the right-most column is truncated at the padding.

If I make the window much wider, the scroll bar finally collapses and disappears as the cell padding reappears, even though some text in the

[2017-03-09 20:05] hongsudt opened #1018 "Permalink generates wrong url in case sorting criteria is specified by users"
To replicate:
- go to this url
https://dev.gpcrconsortium.org/chaise/recordset/#1/assets:cpm/experiment_accession_id=GPCRUSC20170306EXP1@sort(last_modified_timestamp::desc::,id)
- sort based on device type
- the permalink generated is https://dev.gpcrconsortium.org/chaise/recordset/#1/assets:cpm/experiment_accession_id=GPCRUSC20170306EXP1@sort(assets_cpm_cpm_device_type_fkey::desc::,id)?limit=25
w

[2017-03-09 20:08] jrchudy commented on #582
This is still an issue in cases where we want to set `ignoreSynchronization` to `false`, based on my previous comment.

But it appears that there is another way that we can imitate features that rely on waiting for a response. We can use a mock object framework for testing the server responses and force those to be delayed to test specific functionality. I believe `nock` allows for this and we alr

[2017-03-09 21:41] robes commented on #1003
@RFSH I can't follow the link to the sample. That catalog no longer exists.

[2017-03-09 22:26] RFSH commented on #1003
@robes Please use [this link](https://dev.isrd.isi.edu/chaise/recordset/#19085/reference_schema_2:table_w_self_link) (fk_col is foreign key to the table).

[2017-03-09 22:53] robes commented on #1003
sample link works

[2017-03-09 23:31] RFSH commented on #1018
@hongsudt It's working properly now. I think the table changes occurred after you opened recordset, and before you open the permalink. So you could see the "device type" in recordset, but when you clicked on the permalink again the column has been removed from the visible columns.

[2017-03-14 03:47] robes commented on #1003
@RFSH this issue is back, or so it seems to me...

See:
https://dev.facebase.org/data/record/#5/isa:sample/id=6

[2017-03-14 05:15] robes commented on #1003
and another example on the dev isrd server.
https://dev.isrd.isi.edu/chaise/record/#1/isa:dataset/id=14084

[2017-03-14 17:54] RFSH commented on #1003
Issue moved to [informatics-isi-edu/ermrestjs #364](https://github.com/informatics-isi-edu/ermrestjs/issues/364) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-14 17:54] #1003 closed

[2017-03-14 19:04] karlcz commented on #895
It's only relevant if we want to proactively check for changes made concurrently to show updates rather than leaving a page indefinitely with stale data in it... this might matter more once we have more users doing data curation.

[2017-03-14 19:51] hongsudt opened #1019 "submit an edit record doesn't direct user to the record page"
https://dev.gpcrconsortium.org/chaise/recordedit/#1/assets:cpm/uri=%2Fhatrac%2Fassets%2FUSC%2Fcpm%2F2017%2F01%2F78f585c2ff5e597f80c67e72e40275ea2644a0861d334b1087fec9261b6fbeef.csv@sort(last_modified_timestamp::desc::,id)

- Make modification to the record
- click submit, nothing happens but the record has already been modified
- click submit again, an error is thrown at the user
- If you check th

[2017-03-16 00:45] hongsudt opened #1023 "Don't show transient error message on the search app"
Please don't show the transient error messages to the user.

To replicate, go to https://data.gpcrconsortium.org/chaise/search/#1/assets:cpm
You will need to login first.

This issue is relevant to the webauthn issue here.. https://github.com/informatics-isi-edu/webauthn/issues/58

[2017-03-16 04:57] chiragsanghvi commented on #1009
The pageUtils for chaise.page.js should not be used. Explicit columns with relevant criteria should now be a part of the config (recordedit.dev.json). The code shouldn't automatically determine columns using its logic. All expected situations should be a part of the json configuration.

[2017-03-16 14:47] carlkesselman commented on #842
Ok, I assume this came from an initial best practices template we got from somewhere?  I will try to find out who at USC should vet this.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
K

[2017-03-16 16:18] crisaless commented on #842
This was based on the FaceBase one - which was based on a templating service you posted in a different issue (rbk-project - 282) -
http://www.iubenda.com/blog/privacy-policy-google-analytics/

[2017-03-16 17:40] svoinea commented on #1023
The query parameter `cid=search` was added for all the`/ermrest` requests, inclusive for the `/ermrest/authn` ones.

The issue was fixed through the `webauthn issue` [58](https://github.com/informatics-isi-edu/webauthn/issues/58)

I'm closing the issue.

[2017-03-16 17:40] #1023 closed

[2017-03-16 18:40] karlcz commented on #1023
Serban:

There shouldn't be any calls to /ermrest/authn anymore.  If you still have any in your app, please replace them with the equivalent /authn path.

[2017-03-16 22:07] jrchudy commented on #1012
I found out today that you can open a PR for a branch, but none of the files will show up for comments unless you make a change to each file you want to comment on.

For `recordedit`, I created a branch and went to each `.js` file and added a return character. After I pushed my branch to github and opened a PR so I could comment on the individual lines in the `.js` files.

[2017-03-16 22:56] howdyjessie commented on #1016
PR #1022 has been reviewed and merged, closing this issue now.

[2017-03-16 22:56] #1016 closed

[2017-03-18 00:22] jrchudy commented on #986
It looks like none of the deployments are broken and no one has complained that `Chaise` isn't working on a dev server, so I'm going to close this issue.

[2017-03-18 00:22] #986 closed

[2017-03-20 20:22] chiragsanghvi commented on #1012
@hongsudt Recordset already makes call to catchAll in all error scenarios. The only place where we need to make change is for the 401 login handling. This code is partially going to be a part of ermrestjs as we discussed. `http.js` in Ermrestjs will have a callback that will be called on `401` error. This callback will be provided by Chaise.

Do we want to make that change now ?

[2017-03-20 20:36] jrchudy commented on #1012
@chiragsanghvi, please follow the email @hongsudt sent out today and open a PR with comments in the code about where changes may or may not need to be made. We are not going to make any changes to the code until each app has been reviewed and we have discussed the those potential changes.

[2017-03-21 00:42] jrchudy commented on #1019
When I try to reproduce this bug I see the following error:
`ERROR: insert or update on table "cpm" violates foreign key constraint "cpm_last_update_user_guid_fkey" DETAIL: Key (last_update_user_guid)=(https://auth.globus.org/6ccebd18-ef90-11e5-8e41-cb8595f578a7) is not present in table "person".`

@hongsudt, is GPCR using some form of row level security that checks if a user is in the person's ta

[2017-03-22 19:38] jrchudy opened #1027 "No Records shown for table in recordset before results appear"
This happens in the case where the user navigates to a `recordset` page but aren't logged in yet. If they don't have a valid session, the table stays then until the user is redirected to the login form.

If they have a valid session, the table appears to flash with just an actions column and a `No Results` row before showing the content for the page.

[2017-03-22 21:48] ankit081190 opened #1028 "recordedit submit for cpm_file"
while using recordedit to submit data for cpm_file, it says success but shows a popup error saying no filter found and redirects to the main search page.

Despite saying success, the values are not being reflected in the database

URL: https://dev.gpcrconsortium.org/chaise/recordedit/#1/assets:cpm_file/id=111@sort(id)

[2017-03-22 21:51] ankit081190 opened #1029 "409 conflict error -- recordedit for sec table"
On trying to submit the data using the following url
https://dev.gpcrconsortium.org/chaise/recordedit/#1/assets:sec/id=150@sort(last_modified_timestamp::desc::,id)

The below error is generated
Error 409 Conflict The request conflicts with the state of the server. Input row key ((14472, 1815, u'/hatrac/assets/USC/sec/2016/01/1cbbf813505fa95bfa7ff8fc12de9d4830170c30fdebf217dd4a69cd46af9ae0.cdf', 0.

[2017-03-24 00:35] jrchudy opened #1032 "Session as a Service"
Currently each app gets the Session before everything else. If this Session information ever changes, the apps won't update with that new info (user logs out on another page or the session times out etc.).

The Session needs to keep track of the current user's Session and poll on a consistent basis to find out if the Session info has changed at all. Each app should then only access the Session as

[2017-03-28 20:15] jrchudy commented on #999
Assigning back to @robes to verify that the issue has been fixed.

[2017-03-29 00:58] hongsudt opened #1034 "copy should not copy generated columns"
These columns should be passed to the default list, so the default can be applied.

* go to an existing experiment:  https://dev.gpcrconsortium.org/chaise/record/#1/experiments:experiment/id=40
* click copy
* when the new record is submitted, it seems like the values of generated columns (e.g. number of samples and number of images) also get updated. This is misleading as the new experiment should

[2017-03-29 01:40] hongsudt opened #1035 "wierd 404 html error content displayed"
We see this on the sample table..  This error only happens in the editing case while it should have succeeded. Note that there is an invalidate url parameter in the url.

![image](https://cloud.githubusercontent.com/assets/414732/24434631/9f4f1ae2-13e5-11e7-80d8-490340007831.png)

Here is the url extracted from the server log. The length of the url is 4243 which might exceed the url length limit.

[2017-03-29 01:54] hongsudt opened #1036 "don't display html content type in the error message"
The app should check the content-type of the error response and displayed it appropriately.

ermrest doesn't return HTML error message. This is generated by Apache which implies something bad has happened and should be treated in the terminal error.

Maybe this can be handled in ermrestjs?

This issue is related to #1035

[2017-03-29 02:27] karlcz commented on #1035
This looks like an Apache error message and we see it in the Apache logs but not the other place where ermrest logs events.

My guess would be we're hitting a maximum URL length limitation for Apache or its pattern-matching library and it decided not to route the URL to ermrest at all.

If so, this error will go away when recordedit reverts to setting fewer columns in the update request.

But, we

[2017-03-29 15:31] robes commented on #999
it seems right

[2017-03-29 15:31] #999 closed

[2017-03-29 17:41] robes commented on #1034
Make sense to me

[2017-03-29 23:40] jrchudy commented on #1019
This issue can no longer be reproduced. There are some other issues that are still present, but those are addressed in other github issues. Closing this issue.

[2017-03-29 23:40] #1019 closed

[2017-03-30 00:10] jrchudy commented on #1028
This [issue](https://github.com/informatics-isi-edu/ermrest/issues/142) was submitted to ermrest detailing that the cause might be in ermrest. After some investigation, it was determined that this was happening because of row-level security and that data wasn't allowed to be changed on the corresponding table.

If multiple rows are submitted to be updated and 1 fails, it ignores the failed rows an

[2017-03-30 00:55] robes opened #1037 "Option to dismiss terminal error dialog"
Add the ability to dismiss the terminal error dialog. This is so that debugging can continue. We should steer users toward the OK button. Maybe have a "Dismiss (Advanced Users Only)" label on a button to the opposite side as OK, and do not allow the ESC key to easily dismiss. Or we could even put the dismiss button on the same div as the 'show details' details. In general we don't want users doing

[2017-03-30 01:09] jrchudy commented on #1029
This issue is addressed in PR [#373](https://github.com/informatics-isi-edu/ermrestjs/pull/373) in `ermrestJS`.

[2017-04-03 19:15] #1029 closed

[2017-04-03 19:16] #1035 closed

[2017-04-04 22:41] karlcz opened #1039 "Timestamp entry is not initialized properly.. AM/PM toggle doesn't work"
If you go to a recordedit page in record creation mode that has a timestamp entry, and start editing fields, you get validation errors until you type a valid date and time digit set.  But, the AM toggle is broken.

If you click 'Now' to intiailize the entry box and then edit the digits, the AM/PM toggle works correctly.

So, I think it must be failing to properly initialize the controller when you

[2017-04-04 22:42] robes opened #1040 "external link class"
Just like we have a `.vocab` class that we can use in markdown we should have some sort of external link class that we can use so that we can differentiate our URLs that take the user away from Chaise from those links automatically generated by ermrestjs.

[2017-04-05 01:19] jrchudy opened #1041 "JSON column support in chaise"
Chaise applications need to properly support JSON columns. If a JSON column is present in a table definition and part of the visible columns list, the column needs to be submitted back to ermrest as a JSON object rather than a string representation of that object. This is the case for `recordedit`.

[2017-04-05 01:26] karlcz commented on #1041
To be explicit, any single JSON value should be supported, e.g.:

- null
- true
- false
- 2.0
- "a string"
- ["an", "array"]
- {"an": "object"}

[2017-04-06 02:18] jrchudy opened #1044 "Global exception handler does not catch all exceptions"
Exceptions that are thrown in the run block of our apps are not being caught properly. If you follow [this link](https://dev.isrd.isi.edu/chaise/record/#1/isa:dataset), you can see that the page errors out in an unexpected way. This link should produce an error stating that there is no filter defined. What is happening is that an exception is being thrown by the function `DataUtils.verify()`. It a

[2017-04-06 18:44] hongsudt commented on #976
@chiragsanghvi can you look into this, so we can close the issue?

[2017-04-06 18:59] hongsudt opened #1045 "change "link" to "add" on top of each related table"
~For the tooltip associated with the unlink, currently the tooltip only displays "unlink". We can add more information such as "Remove/disconnect this record from the main entity. The record will not be deleted."~

~@carlkesselman @robes @karlcz @ljpearlman Does this help? ~

Change `Link` to `Add` for related tables.

[2017-04-06 19:25] RFSH opened #1047 "Contextualize Reference for Create"
We should call `.create` only on contextualized references. Currently [we are calling `.create`](https://github.com/informatics-isi-edu/chaise/blob/master/recordedit/form.controller.js#L235) on a uncontextualized reference.

Also we have introduced an `unfilteredReference` to reference, which this line of code can use.

[2017-04-07 19:37] jrchudy opened #1048 "Record page doesn't initialize, sometimes"
When you navigate to a record page in Chrome, it appears to work every time. Doing the same in Firefox, sometimes gives a `$rootScope.relatedReferences is undefined` error.

This is occurring because our on focus function in `record.controller.js` is firing before the page has a chance to load.

[2017-04-07 22:39] #1034 closed

[2017-04-07 22:40] jrchudy commented on #1048
Assigning this to @robes to verify that this is fixed. A fix was merged into master recently to address this issue. This should be available on the dev machines after the hourly update at 4 pm.

[2017-04-08 00:20] #1048 closed

[2017-04-10 21:13] hongsudt opened #1049 "recordedit throws terminal error after the record was editted successfully"
Here is how to replicate:
- go to navbar->search->experiment
- choose "GPCRUSC20170404EXP2"
- click add a sample
- create a new sample: using sample = 7935, construct IMPT-3109, biomass IMPT-3109
- After a record get created successfully, edit the record. Change biomass to IMPT-31084. A terminal server error was thrown but the record was editted successfully.

Here is what is listed on the detail

[2017-04-10 23:59] hongsudt opened #1050 "Angular catch all generates incomplete error message on Firefox"
Here is what gets generated on firefox
![screenshot from 2017-04-10 16-55-51](https://cloud.githubusercontent.com/assets/414732/24887207/f737bdda-1e0e-11e7-816b-760d5e25e791.png)

which looks different from what gets generated on chrome.  Check #1049 for error log @jrchudy posted on the issue.

[2017-04-11 01:28] #1018 closed

[2017-04-11 01:32] jrchudy commented on #1049
This issue has been fixed and merged directly into master.

[2017-04-11 01:32] #1049 closed

[2017-04-11 01:53] hongsudt opened #1051 "Update related tables on focus if the content has changed"
Related tables on the record page should call `Reference.read` (or more appropriately `Reference.reread`) every time the page is focused. This `reread` function should take in the etag that was returned with the original read call for each of the related tables to verify if the content has changed or not. If the content has not changed, don't try to update the tables in the view.

We may need to e

[2017-04-11 17:29] #1044 closed

[2017-04-11 22:16] jrchudy commented on #1028
This issue has been resolved. If the user submits 1 row or multiple rows but 0 rows are updated, the user is presented with a 403 forbidden error.

If they submit multiple rows and only a subset are updated, the user is presented with 2 tables including the rows updated and the rows not updated.

[2017-04-11 22:16] #1028 closed

[2017-04-12 00:48] hongsudt opened #1055 "hide/show empty related tables based on related tables acl themselves"

[2017-04-12 21:50] hongsudt opened #1056 "loading... is shown in a record that has no related table"

[2017-04-13 18:39] #1047 closed

[2017-04-13 23:28] jrchudy commented on #1039
This issue has been fixed. Reassigning to @karlcz for verification.

[2017-04-14 01:06] karlcz opened #1059 "More problems with float values"
[Example record](https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Behavior/RID=17DJ)
There is a small value `1e-12 ` stored in the table.

1. When I load the editor it shows the value `0.000000000001` correctly
2. If I edit another field like the `Trial Counts` and submit, I get a validation error "please enter a decimal value"
3. If I edit the field to remove and re-add the trailin

[2017-04-14 01:06] karlcz commented on #1059
Sadly I accidentally closed the tab and can't yet reproduce the error to capture the terminal error details...

[2017-04-14 01:14] jrchudy opened #1060 "Tooltip for unlink needs info"
For the tooltip associated with the unlink action in the action column, currently the tooltip only displays "unlink". We need to add more information.
 -  ~~` "Disconnect <leaf_table_name>: <leaf_rowname> from this <main_table_name>."`~~

Issue #1591 tracks the above comment. Moved other comments below to the same issue.

[2017-04-14 01:15] jrchudy commented on #1045
Issue #1060 was opened to track fixing the tooltip information.

[2017-04-14 01:30] #1050 closed

[2017-04-14 02:11] #1055 closed

[2017-04-15 00:07] hongsudt opened #1063 "create/copy should use table name instead of record name for title"
When a record is copied, the page title is
`Create GPCRUSC20170414SAM1 Record` instead of
`Create Sample Record` which is what is used for create.

This is confusing because `GPCRUSC20170414SAM1` already exists.

[2017-04-15 00:10] jrchudy opened #1064 "Hide the catch all handler for viewer"
The `viewer` app throws awkward errors sometimes that are surfacing because of the global exception handler. This should be turned off in the same way it was for `search`.

[2017-04-15 00:37] karlcz commented on #1039
ok I see that the terminal error is gone

[2017-04-15 00:37] #1039 closed

[2017-04-17 17:42] #1064 closed

[2017-04-17 17:43] #1045 closed

[2017-04-17 21:10] karlcz opened #1066 "terminal error on logout"
I logged into a recordset page such as:

https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Subject

when I use the "Log Out" button at top right, a terminal error alert flashes before the page redirects.

If you enable whitelisting for cross-domain redirects in your browser, you can see the app stuck there while the browser is waiting for you to approve the redirect to the globus logo

[2017-04-18 12:29] tvalerius commented on #842
Regarding acknowledgments, there is a lot of derail on the existing site that is appropriate.
http://www.gudmap.org/About/Usage.html
Such a citing gudmap page is very useful to users and should be more prominent than it is.

Copyright is retained by investigators, but we encourage use. Should we adopt a creative Commons or just leave it as is?

[2017-04-18 15:59] carlkesselman commented on #842
Yes.  This page should go into the static content that Cris is working on.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676

[2017-04-18 19:23] #1037 closed

[2017-04-18 21:14] svoinea opened #1067 "The view for related records shows the "Loading..." text."
The bug is present on `cirm-dev.isrd.isi.edu` for the `specimen_comments` table.
The URL is https://cirm-dev.isrd.isi.edu/chaise/record/#1/Microscopy:specimen_comments/ID=219
or equivalent, follow the steps:

1. From the `Search` menu, select `Specimen`.
2. Select the first specimen.
3. From the `Comments` related table, click the `View` icon.

The `Loading...` text is not present on `cirm-staging

[2017-04-18 21:21] jrchudy commented on #1067
This is a duplicate of issue #1056.

[2017-04-19 00:43] robes opened #1068 "Flashing "Terminal Error" dialog after recordedit submit"
After editing an existing record, I'm seeing a flashing "Terminal Error" dialog. It flashes for a couple seconds and goes away before I can even click the view details. No errors in the console log.

I consistently get this when editing a record in the facebase `viz.mesh` table.  Such as this one.

https://dev.facebase.org/data/record/#5/viz:mesh/id=1

Or any listed under this one (linked to by th

[2017-04-19 18:31] hongsudt opened #1070 "create a chicklet based on faceting list"

[2017-04-19 19:02] karlcz commented on #976
In case it helps, when I repeat this test as described the current behavior is that the iframes are extending past the shaded table border region by a cell padding width.  It looks like the column width is being calculated as the iframe width rather than the iframe plus two horizontal padding widths.

[2017-04-19 21:55] jrchudy commented on #1012
Error handling has been handled and updated in of the current chaise applications that use the Reference API. For viewer and search there are statements to exclude some of the global error handling for app specific reasons.

[2017-04-19 21:55] #1012 closed

[2017-04-19 23:15] karlcz commented on #840
@hongsudt @robes  is this still relevant?  it seems to me that we've moved on with different approaches and are unlikely to want to come back to this.

[2017-04-20 16:51] robes commented on #840
Right. Seems like the back end approaches are working out. I don't think this is a priority anymore.

[2017-04-20 17:27] #1067 closed

[2017-04-20 17:29] hongsudt opened #1072 "parallel tests"

[2017-04-20 20:28] #840 closed

[2017-04-20 20:49] hongsudt opened #1073 "Terminal server error on record with no login"
A terminal server error is thrown on record page when a user is not login. RBK allows public access and this error should not be thrown.

https://dev.rebuildingakidney.org/chaise/record/#2/Vocab:Species/Name=Mus%20musculus

@chiragsanghvi  Is this relevant to the new login flow?

[2017-04-20 20:53] chiragsanghvi commented on #1073
@hongsudt I fixed the unhandled issue in errors.js just now.

The actual error on the above page is "Invalid filter undefined".

[2017-04-21 17:33] karlcz opened #1075 "Copy button on table row actions"
In synapse we've got a common scenario where the user would want to review a set of related entities and clone one of them to make minor changes.  (This is a task-list sort of table and can have very similar tasks assigned to more than one person.)

To avoid many clicks and interstitial changes that disorient the user, it would be good to be able to launch the copy operation directly from the acti

[2017-04-21 17:49] karlcz opened #1076 "Copy group of records"
We have a use case where the user wants to create several sets of records that have most of the same variations in them:

1. Configure a set of records with per-record variations, all "assigned" to one user (via fkey)
2. Copy the set and just change the assignee column

This is relevant for both pure create use case (all steps are in a single recordedit create-mode invocation) and in a multi-step

[2017-04-21 21:52] robes opened #1078 "Recordedit submit gives no indication of progress"
I ran across this by chance. The server was in generally responding very slowing based on general page loads and record app loads etc.

Then I went to edit a record to add 3 entities (these were small 'pure' binary associations). Clicking on submit the app gives no indicate that anything is happening. Click, click, click... no sign of anything happening.

Then I closed the record edit and went bac

[2017-04-21 21:59] jrchudy commented on #1078
This is a duplicate of issue #869.

[2017-04-21 21:59] #1078 closed

[2017-04-21 22:58] hongsudt commented on #1056
@svoinea please review this issue and close if the problem has been fixed.

[2017-04-21 23:10] hongsudt opened #1079 "aynchronously display number of matched results"

[2017-04-21 23:20] hongsudt commented on #1079
duplicate of #878.

[2017-04-21 23:20] #1079 closed

[2017-04-21 23:33] hongsudt commented on #1032
This is related to informatics-isi-edi/ermrestjs#370

[2017-04-22 00:06] hongsudt opened #1080 "Don't show the view button if one of the keys is null"
When a record cannot be uniquely identified, the view option shouldn't be there..

[2017-04-22 20:53] robes opened #1082 "Entity attributes show up after nested entities"
The record app may show nested entities before showing the attributes.

[2017-04-22 21:25] robes opened #1083 "leading or trailing `_` breaks chaise/search"
The chaise search version of `ermrest.js:2639` does a split on `_` and assumes that there will not be an empty `''` string for any part produced by the split.

[2017-04-22 21:38] robes commented on #1083
@jrchudy I fixed this chaise/search bug. It should not have any effect on the newer parts of chaise but could you please verify that.

[2017-04-24 19:00] #1083 closed

[2017-04-24 20:19] #1036 closed

[2017-04-24 20:20] #756 closed

[2017-04-24 20:20] #1056 closed

[2017-04-24 20:20] #1063 closed

[2017-04-25 18:10] jrchudy commented on #1068
Re-assigning this issue to @robes to verify it is fixed.

[2017-04-25 19:41] robes commented on #1068
seems to be working well now. thanks

[2017-04-25 19:41] #1068 closed

[2017-04-25 22:22] jrchudy commented on #1073
This issue can be seen at this link as well:
https://synapse-dev.isrd.isi.edu/~jchudy/chaise/record/#1/Synapse:Person/ID=Cza

[2017-04-25 22:35] svoinea opened #1085 "Search box not working properly"
On `cirm-dev.isrd.isi.edu`, in the `Scan` search view, when I enter text in the search box, the following text is displayed in the sidebar:
[code]
In the browser console, the following error is displayed:
[code]

[2017-04-25 22:36] chiragsanghvi commented on #1073
I just opened the page and checked it works. Maybe your cache needs to be clear.

[2017-04-25 22:42] RFSH commented on #1073
@chiragsanghvi you can see the error in here:
https://synapse-dev.isrd.isi.edu/chaise/record/#1/Synapse:Person/ID=Cza
@jrchudy already fixed it, that's why in the link that he provided you can not see the error message.
The problem is related to alternative tables. Which I will include in my PR.

[2017-04-25 22:44] jrchudy commented on #1073
@chiragsanghvi, I had actually played around a bit and fixed the problem in my dev environment and meant to paste a different link (one not pointing to my user directory).

[2017-04-25 23:35] jrchudy commented on #1085
I pushed changes to master to make sure the global `handleException` function is not run in the `search` app. We previously made changes to limit when `window.onerror` would run but didn't make the same changes to angular's global exception handler.

The changes can be seen in commit `73476540a61b4e76ffbeb81af61265854ce96d05`.

[2017-04-26 00:20] #1085 closed

[2017-04-26 00:22] #1073 closed

[2017-04-26 00:23] #968 closed

[2017-04-26 00:54] jrchudy commented on #1066
I'm not able to reproduce the terminal error appearing before the page redirects to logout. After logging out though, if you follow the provided logout link: `.../chaise/logout`, you are met with an error dialog because of a missing provider.

This is related to the `chaise.navbar` module.

[2017-04-26 17:04] svoinea opened #1088 "Add a global configuration option for the page size of the displayed results in the search view"

[2017-04-26 17:38] svoinea commented on #1088
Added the `pageSize` option in the `chaise-config.js` file.
If present, its value is an integer representing the number of records to be displayed on a page in the search view.
The default is `25`.

[2017-04-26 20:37] jrchudy commented on #1027
With the new login flow, this issue is no longer repeatable. When there is not a session, the modal window (to open the login window) opens before the table begins to load the recordset view.

Assigning to @hongsudt and @karlcz to verify whether this is still repeatable.

[2017-04-26 21:46] jrchudy commented on #1059
This is a weird issue. If you look at this page in Chrome, you notice that the value is not automatically changed from `1e-12` to `0.000000000001`. This causes a validation error 100% of the time until the user changes the value to a float format.

If you open this in Firefox, you can see that the browser changes the value for the input field. We are not doing that in our code so what is being rep

[2017-04-27 00:49] svoinea opened #1090 "Enable search for NULL values"

[2017-04-27 17:26] jrchudy commented on #1066
Reassigning to @karlcz to verify whether this is still a problem or not.

[2017-05-01 17:31] #550 closed

[2017-05-01 17:31] #869 closed

[2017-05-01 17:32] #979 closed

[2017-05-01 17:34] karlcz commented on #1027
I see the login modal prompt now too.

[2017-05-01 17:34] #1027 closed

[2017-05-01 17:37] karlcz commented on #1066
I am not seeing this error now either.

[2017-05-01 17:37] #1066 closed

[2017-05-01 17:50] karlcz opened #1094 "Confusing logout flow"
When I use the "Logout" button on the current Chaise recordset app, using Globus Auth provider in webauthn, while logged in via a Globus ID account, I am presented with a page from auth.globus.org like this:

    Logged out of Globus Auth

    You have successfully logged out.

    If you are using a shared computer, please ensure you have also logged out of any identity providers used during your

[2017-05-02 00:27] jrchudy opened #1095 "Login/Logout app"
The old login/logout pages rely on `ermrestApp` which is the same app/module that `search` relies on. These pages should be changed to be a part of their own app, if they are even still necessary.

[2017-05-02 00:28] jrchudy commented on #1095
Issue #1094 is related to this.

[2017-05-02 00:36] jrchudy opened #1096 "RE View Model shouldn't be changed during submission"
Currently the submission function in `recordedit` modifies the values in the view model for submission in place before setting them in the submission object. We should not adjust the view model before submitting the data and instead use a new object.

[2017-05-02 19:56] hongsudt commented on #981
This problem has been fixed in the v05_05_protocol_trigger by explicitly calling the ermrest data change event. The fix has been applied to dev.

[2017-05-03 16:07] robes opened #1098 "chaise record page should enforce uniqueness of its entity reference"
This is a subtle issue. Notice these two links:

https://www.facebase.org/data/record/#1/vocabulary:anatomy/term=Head

https://www.facebase.org/data/record/#1/vocabulary:anatomy/iri=http%3A%2F%2Fpurl.org%2Fsig%2Font%2Ffma%2Ffma7154

They point to exactly the same base record, however, in the first one you will see a lot of related entities (which is actually a bug) while in the second you will not

[2017-05-03 17:05] karlcz commented on #1098
An alternative if you want to allow unique-in-practice query terms would be to just change
the record fetch to use limit=2 and throw an error (or redirect to recordset) if a second
result is available?

[2017-05-03 21:48] #1096 closed

[2017-05-03 23:56] jrchudy commented on #1094
The plan is to change the referrer url sent with the logout request to the link that is presented on the extra logout page. This way there's only one logout page that will then redirect back to the `databrowser` chaise config option. If this option is not set, it will default to root.

[2017-05-04 01:23] jrchudy commented on #1095
To resolve issue #1094, the logout page was removed. This issue is only relevant for the login page now.

[2017-05-05 00:07] jrchudy commented on #1094
The changes to the logout flow have been merged into master. Reassigning to @karlcz for review.

[2017-05-05 18:33] #1088 closed

[2017-05-05 18:35] #1090 closed

[2017-05-06 01:05] karlcz commented on #1094
This looks better. The only thing I can imagine to improve it would be to also have a config option to set a title for the post-logout link so it doesn't just show the user a plain URL as the anchor text.

[2017-05-09 17:47] carlkesselman opened #1101 "collapse related tables when the number exceeds a cutoff (chaise-config)"
Some of our record pages are getting quite long and complex.  We have gotten feedback from users that they can be hard to understand.  We should consider ways to improve this, especially for first time users.  One thing that might be very helpful is to have a table of contents or navigation bar on complex pages with many entries.  This would serve the dual purpose of giving users an overview of wh

[2017-05-10 00:11] jrchudy opened #1102 "Investigate alternatives to angular.copy"
Angular.copy is doing a deep copy of `tuple.values` in the `recordedit` app. Should this just be a shallow copy? Should we write our own copy function for this?

[2017-05-10 02:05] hongsudt commented on #1102
This deep copy cause significant performance degradation on a table with many fks. Once this is done, please check the whether we still have an alert popup to stop running the script on rbk (catalog 2, table: RNASeq:Sample_Settings).

[2017-05-10 02:10] hongsudt commented on #678
Here is the mock-up..   https://dev.isrd.isi.edu/~ashafaei/chaise2/recordset/#1/isa:dataset

[2017-05-10 02:32] carlkesselman commented on #678
Do you want comments on this?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina del Rey, CA

[2017-05-10 02:51] hongsudt commented on #678
Sure..

On Tue, May 9, 2017 at 7:32 PM, Carl Kesselman <notifications@github.com>
wrote:

[2017-05-10 14:14] carlkesselman commented on #678
The first thing that strikes me as that an indication/control of the open close state of a panel would be helpful.  As it stands, I have nothing that visually indicates that if I click on the bar something opens, and then the state changes so that if I click again it closes.  I think a simple V,> indicator would be helpful here.

Carl

----------------------------------------------------------
Dr.

[2017-05-11 18:16] hongsudt opened #1105 "logging: pass windowID along with CID to ermrest calls"
Ideally we should supply three complementary parameters:
- cid: the current client application name
- wid: a window ID stable across page loads to allow tracking of chaise app flows within one window
- pid: a page ID that changes once per chaise app restart, to track requests associated with one app instance

[2017-05-11 18:26] chiragsanghvi opened #1106 "Change .isPseudo handling to consider foreign key and asset columns"
Currently, the code assumes that if a column has `.isPseudo` flag on, it is a foreign key and things break in recordedit and record app for asset columns.

After @RFSH made changes to ermrestjs for the [asset annotation](https://github.com/informatics-isi-edu/ermrestjs/pull/400) refactoring `ReferenceColumn` implementation to have a base table that other `pusedo-column` classes (`KeyPseudoColumn`,

[2017-05-11 23:03] robes opened #1108 "Dynamic matrix visualization"
@robes commented on [Tue Jun 21 2016](https://github.com/informatics-isi-edu/facebase-project/issues/131)

Develop a dynamic matrix to replace the current one. The dynamic matrix should:
- let the user pick 2 - 3 dimensions and select which attributes of the data base should be used for each dimension
- we may want drive the selection from the entire database (by default)
- however, we should also

[2017-05-11 23:07] robes opened #1109 "Bring back the 'Back' button on records pages"
@crisaless commented on [Wed Jan 13 2016](https://github.com/informatics-isi-edu/facebase-project/issues/67)

Flow can get disrupted after you login to FaceBase from a records page.

After logging in, oauth will take you back to the records page, as it should. But if you want to get back to the search results from there, the browser's Back button will try to take you back to login, which is frustr

[2017-05-11 23:42] svoinea opened #1110 "Line separator missing in the recordedit page in the first column between the first and second record"
That happens pretty often to me.
I'm attaching a screenshot for `rbk-dev`.
The used `URL` is: https://dev.rebuildingakidney.org/chaise/recordedit/#2/RNASeq:Sample_Settings/Sample_Accession_ID=RBKUSC20160727SAM1
![screenshot](https://cloud.githubusercontent.com/assets/1609577/25976270/b2acc292-3668-11e7-8dc7-e4dbe40adc93.png)

[2017-05-12 00:19] karlcz commented on #1109
Please test on dev.  The latest chaise uses a pop-up for globus
login and should never introduce the globus login interstitial
that disrupts the browser history...

[2017-05-12 00:35] ljpearlman opened #1111 ""Add" button isn't shown for association tables that refer to generated tables."
In RBK, I have an association table called `Schematic_Stage_Association` that references tables `Schematic` and `Developmental_Stages`. `Developmental_Stages` is marked as `generated`; the other tables aren't. If I view a record in the `Schematic` table, I would expect to see an button to add records to `Schematic_Stage_Association`, but instead all I see is `View More`. I can add records to `Sche

[2017-05-12 23:44] karlcz commented on #670
This should be more trivial now that login uses a pop-up and does not contaminate the window location history.  Should just be able to go back one hop...

btw, this issue needs to be reassigned... @hongsudt

[2017-05-13 00:01] karlcz commented on #1108
How does this relate to the heatmap and other plotting methods?  Should these be methods/alternative modes of recordset as they provide a different presentation of a set?  Or should they be separate apps?

[2017-05-13 00:05] carlkesselman commented on #1108
I would really like to figure this out!!

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina

[2017-05-15 20:31] ljpearlman opened #1114 "Transient error, maybe related to catalog caching"
I can't reproduce this, but I got:

[code]
when trying to visit https://staging-gudmap3.gudmap.org/ermrest/catalog/2/schema (note: this system is running a version of the software stack from April 27, tagged `rbk-20170427`).

My guess is that it's trying to interpret the "304 Not Modified" response as the text of the catalog.
I fetched the schema (https://staging-gudmap3.gudmap.org/ermrest/catalog

[2017-05-16 22:33] hongsudt opened #1115 "timestamp creation throws an error despite proper values"
https://dev.gpcrconsortium.org/chaise/recordedit/#1/experiments:experiment

I got the following error when I entered "2016-02-01 10:00:00" :
Error 400 Bad Request The request is malformed. Bad JSON array input. ERROR: invalid input syntax for type timestamp with time zone: "{"date":null,"time":null,"meridiem":"AM"}"

This problem did not happen in this commit: 3b6dd7f89b349e53f45a2424f1bc16df41390

[2017-05-16 22:35] hongsudt opened #1116 "generated timestamp shows "[Object Object]" instead of "Automatically generated""
This is in the creation mode. This problem did not happen in this commit: 3b6dd7f (which is on staging)

[2017-05-16 23:48] hongsudt commented on #1101
One thing that we can do is to have a simple heuristics that if the number of related tables is more than a certain amount, close them by default.  I imagine that when all the related are closed, the page should be similar to a table of content.

[2017-05-16 23:54] carlkesselman commented on #1101
This would be better then what we have but I still thinks a navigation working big records would probably be desirable.  This is something we should user test.

Carl

Sent from my iPhone

On May 16, 2017, at 7:49 PM, Hongsuda <notifications@github.com<mailto:notifications@github.com>> wrote:

One thing that we can do is to have a simple heuristics that if the number of related tables is more than

[2017-05-16 23:59] hongsudt opened #1117 "Don't show regex in the search box on recordset"
when you do a search in recordset, and then if you drill down to a page and then go back to the recordset, the search you entered get “regex”-ified looking rather technical.

Suggested solution (from the chat room): so you would need to change the fragment syntax to represent some higher-level search primitive that stores the original search term, and only expand to the full regex when sending to

[2017-05-17 00:42] jrchudy commented on #1102
Re-assigning this issue to you @hongsudt to verify the performance is better for `recordedit`.

[2017-05-17 18:25] robes commented on #493
@crisaless This issue is really old. Have we worked around this or resolved it?

[2017-05-17 18:28] robes commented on #652
This seems like it might have some relevance to #493 .

[2017-05-17 18:30] crisaless commented on #493
this issue was made obsolete when we made the navbar menu and decoupled dependence on the static site.

[2017-05-17 18:30] #493 closed

[2017-05-17 18:52] robes commented on #462
Here's my recommendation. We should move the chaise config to the catalog (i.e., to the database) and serve it up from ermrest. We create a database structure that roughly mirrors the current chaise config although we could improve that structure. I would agree with Jessie's general observations above: to separate global from app-specific settings. Pushing this into the catalog would also give us:

[2017-05-17 18:55] robes commented on #462
If we want to do this, we can probably spec out another task but this is what I'd suggest as a review of this issue.

[2017-05-17 20:37] karlcz commented on #462
Once the ermrest/acls-everywhere branch is merged, we'll have catalog-level annotations which could be used to store a chaise config JSON document.

[2017-05-17 21:19] robes commented on #462
That's another option yes. But its not easy to edit those annotations online. If its part of the db schema you could actaully edit it online easily. Alternately, we'd either have to punt on that or implement some general annotation editing feature.

[2017-05-18 18:38] robes opened #1118 "InvalidFilterOperatorError"
This seems like a bug. Given this URL the above error is produced.
[code]

Text of the error reads:

[2017-05-18 18:42] robes opened #1119 "Relative path redirect in OAuth flow leads to 'not found' page"
Go through the login flow on a catalog like this:

[code]

Eventually leads to a final page in the oauth popup window that reads 'not found'.

The URL on that is clearly wrong.

[code]

Josh indicates that Chaise has a bad relative URL in the code:

[code]

[2017-05-18 20:37] robes commented on #1117
+1 for the simple solution.

[2017-05-18 21:00] robes opened #1120 "Display more descriptive information on apps"
This is a debatable UX improvement which we can all discuss... but the underlying issue is real from users that seem to agree that our apps are a little difficult to understand at first.

Our apps are pretty terse. The apps display model elements and data but have little in the way of explanation or descriptive text on them. At best we use the column comments as thumbnail text. Even that is a deba

[2017-05-18 22:50] #1106 closed

[2017-05-18 23:20] jrchudy commented on #1116
Assigning this issue to @hongsudt to verify that it has been fixed.

[2017-05-18 23:20] jrchudy commented on #1115
Assigning to @hongsudt to verify that it has been fixed.

[2017-05-19 00:28] #874 closed

[2017-05-19 00:28] #875 closed

[2017-05-19 00:29] hongsudt commented on #1116
This is fixed on gpcr-dev.

[2017-05-19 00:29] #1116 closed

[2017-05-19 00:31] hongsudt commented on #1115
This is now fixed.

[2017-05-19 00:31] #1115 closed

[2017-05-19 00:32] hongsudt commented on #1102
@svoinea can you please test this and see whether you still have problem on your browser on dev?

[2017-05-19 16:12] carlkesselman commented on #1120
Yes, we here this repeatedly.  Perhaps this also shows up in in the other issue with table of contents.

I can see from watching people use the UI, that the length of some of these pages is an issue.  People hit the record and then scroll, scroll, scroll.

Starting with things closed is a start. Remembering what people opened up previously would help, as would in idea of what the layout is (perhap

[2017-05-19 17:31] svoinea commented on #1102
I have tested it on `rbk-dev` and the delay is not present any more.

[2017-05-19 17:59] #1102 closed

[2017-05-22 22:13] karlcz opened #1123 "A markdown editor appears where file upload is desired"
I see what seems like a markdown editor on a plain `text` column where the asset annotation has been added to try to test the new upload feature.

- See [example recordedit page](https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Image/ID=ImgZfZdu20170516A1)
- See [table's definition](https://synapse-dev.isrd.isi.edu/ermrest/catalog/1/schema/Zebrafish/table/Image)
- See [column's anno

[2017-05-22 22:37] karlcz commented on #1120
I believe we already expose column comments as tooltips on field names in the recordedit app. At minimum, we should make this more consistent across apps?

I also vaguely remember a debate where I requested a way to make these visible w/o hovering...

[2017-05-22 22:41] karlcz commented on #462
Also, if you put config in the catalog you can't have different chaise installations use different configs over the same catalog content anymore e.g. for testing

[2017-05-22 22:51] karlcz commented on #1041
This overlaps with the ancient informatics-isi-edu/ermrestjs#146

[2017-05-22 22:54] karlcz commented on #1114
@ljpearlman  you didn't describe what chaise app or page state you were in when this happened.

[2017-05-23 17:25] hongsudt commented on #1109
@robes can we close this issue?

[2017-05-23 17:30] robes commented on #1109
Is it obviated because of the model login window?

[2017-05-23 18:06] karlcz commented on #1123
This no longer happens after the recent PRs were merged.

[2017-05-23 18:06] #1123 closed

[2017-05-23 18:18] karlcz opened #1125 "File upload fails opaquely if asset url pattern doesn't point to hatrac"
I accidentally left off the `/hatrac/` prefix in my asset `url_pattern` template. The uploader runs through the checksum phase and then encounters a 404 Not Found when it attempts to do:

- `GET` _result_ `;upload?cid=recordedit`

where _result_ is the output of the `url_pattern` template.  The app then stops, displaying a validation error box that an unexpected error has occurred.

If the upload

[2017-05-23 18:34] karlcz opened #1126 "File upload hangs on large file"
I tried to upload a file on an existing record:

- https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Image/ID=ImgZfZdu20170516A1

1. chose a 2.4 GB file
2. clicked "Submit Data"
3. saw checksum progress bars run to completion
4. saw upload progress move about 10-20% at a good speed (90 MB/s)
5. saw UI freeze for nearly a minute
6. saw app stop with an "unexpected error" warning

Watc

[2017-05-23 23:26] hongsudt commented on #1126
@karlcz is this still an issue?

[2017-05-23 23:28] hongsudt commented on #1109
yeah.. since the back button should work as expected, and it should be a good workaround for now..

[2017-05-23 23:29] hongsudt commented on #514
Since this is high in the priority and Mei has changed the viewer app.. So I am closing this issue for now.

[2017-05-23 23:29] #514 closed

[2017-05-23 23:31] karlcz commented on #1126
I think the new queue for file chunks fixes this.

[2017-05-23 23:31] #1126 closed

[2017-05-23 23:41] hongsudt commented on #1008
I am closing this issue.. and will generate deployment specific issue to mimic what's done on facebase.

[2017-05-23 23:41] #1008 closed

[2017-05-23 23:44] hongsudt commented on #877
I am closing this issue and tag it with `won't fix`..

[2017-05-23 23:44] #877 closed

[2017-05-23 23:49] hongsudt commented on #421
It seems @crisaless has already generated one. @jrchudy Did you have a chance to move this to a wiki page?  Can you please put a link to this issue then close the issue?

[2017-05-23 23:55] hongsudt commented on #980
I prefer "showing first # results"..

[2017-05-24 03:36] hongsudt opened #1128 "default values are not displayed in recordedit"
check the difference between what's on [rbk production](https://www.rebuildingakidney.org/chaise/recordedit/#2/RNASeq:Sample_Settings) and [rbk dev](https://www.rebuildingakidney.org/chaise/recordedit/#2/RNASeq:Sample_Settings). It seems like recordedit no longer displays the default value.

This bug is probably introduced during the recent changes to fix the timestamp issue?

@jrchudy I forgot th

[2017-05-24 19:59] robes commented on #426
@chiragsanghvi could you look at hongsuda's last comment above and update her checklist? it looks like you may have completed these but I'd like to confirm. thanks

[2017-05-24 20:20] chiragsanghvi commented on #426
@robes I have updated the issue.

[2017-05-24 21:07] robes commented on #426
great. thanks. so are we skipping the sha256 for now?

[2017-05-24 21:09] chiragsanghvi commented on #426
Yes, we are skipping sha256 for now.

[2017-05-24 21:33] robes commented on #426
okay, so as I understand it then, the last things to do are work on tests for the automated (travis) and manually-invoked modes.

[2017-05-25 18:24] robes opened #1130 "Login confirmation page 'not found'"
When using the new modal login window for the oauth login flow, at the end you should see a login confirmation page, but instead the URL is wrong and therefore the page is 'not found'.

For example, this is the final URL when following the login on facebase (on the catalog/2 for derivalogs).

[code]

@jrchudy took a quick look in the chaise code and could confirm that we are using a relative page

[2017-05-25 18:53] #1009 closed

[2017-05-25 18:54] chiragsanghvi commented on #1032
We need to move session handling from Chaise to ermrestjs. The `chaise.authen` module will not make any http calls to get the session. This functionality should be added to `authen.js` in ermrestjs repo.

[2017-05-25 18:55] chiragsanghvi commented on #1005
This is already done now.

[2017-05-25 18:55] #1005 closed

[2017-05-25 18:56] chiragsanghvi commented on #426
The code is merged in Master and has some happy flow testcases for Chaise that run locally but not on Travis.

There are testcases in ermrestjs that test the upload part.

[2017-05-25 18:56] #426 closed

[2017-05-26 22:25] robes opened #1131 "chaise should function without chaise-config.js"
Right now it basically falls over if chaise-config.js is not found. The chaiseConfig object (or service) should be able to drop back to some defaults and chaise should be functional.

[2017-05-30 14:12] ljpearlman opened #1132 "file upload isn't setting filename, bytes, or md5"
Am I just missing an annotation somewhere? I created a minimal file upload example, and it uploaded the file and set the url column but didn't set the filename, byte count, or md5 values. After looking at it in a debugger (actually, looking at a different table in a debugger earlier), I think it's calculating the values but then deciding not to pass them to ermrest.

To reproduce this:

1. Log in

[2017-05-30 19:05] ljpearlman commented on #1132
It looks like this only happens in edit mode, not create mode.

[2017-05-30 21:17] jrchudy opened #1133 "Login onClick function in navbar uses wrong login flow"
The `onClick` function bound to the login button in navbar points to the login function that uses the old login flow (where the login form appears in the same window). This should be adjusted to use the login function that @chiragsanghvi introduced to open a new window for login.

[2017-05-31 22:25] ljpearlman opened #1135 "Please change fileupload to not add the current hostname to the URLs it generates"
When I use fileupload with a relative url_pattern (i.e., starting with "/", like '/hatrac/resources/...'), the URL that's stored in the database is an absolute URL (like "https://_hostname_/hatrac/resources/..."). Because we port databases from production systems to dev and staging systems for testing, this can potentially cause problems for us in the future.

[2017-05-31 23:28] hongsudt opened #1136 "got a terminal error when attempt to edit the file by uploading a different file"
This issue can be reproduced by following these steps:
1. Navigate to this [link](https://dev.rebuildingakidney.org/chaise/record/#2/Protocol:Protocol/Accession_ID=RBKUSC20160801PRO4) (but honestly this can be reproduced on *every single* record page that has entities in related tables.)
2. Scroll down to a related table with entities in it, and select the `edit icon` on one of the entities. (Do n

[2017-06-01 00:43] hongsudt opened #1137 "editing file_uri doesn't update the associated metadata"
When a different file is uploaded, only the url get updated, not the md5, filename and filesize.

I am not sure whether this is ermrestjs or chaise though.

[2017-06-01 01:45] jrchudy commented on #1072
PR #1134 has been merged. Our build on travis now runs 4 instances in parallel and finishes in ~30 minutes instead of ~50 minutes.

[2017-06-01 01:45] #1072 closed

[2017-06-01 19:23] jrchudy commented on #1136
I can't reproduce the above error case, but going to that link and editing the file provides me with a different `409 Conflict Error`.

This same error can be observed here:
https://dev.rebuildingakidney.org/chaise/recordset/#2/Protocol:Figure_last_updated

[2017-06-01 22:54] jrchudy commented on #1136
Furthermore, I can see this same error with a direct request to `ermrest`.

[2017-06-01 23:33] ljpearlman opened #1138 "" [$rootScope:inprog] $apply already in progress" errors"
One of our users got this while using fileupload to upload a file. He says it wasn't a big file (it was a jpeg), but I'm not sure how not-big it was or how fast or slow his connection is. He gets the error consistently when he tries to upload today (he did manage to upload three files to the same table yesterday, though).

[code]

[2017-06-02 01:58] ljpearlman commented on #1136
This is related to the way I've been doing row-level security. I have a fix.

[2017-06-02 02:44] chiragsanghvi commented on #1132
@hongsudt @jrchudy The issues seems to be with the update function [here](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/reference.js#L1237) in ermrest.js.

`this.columns` returns only the visible columns for update. Thus, it doesn't gets the other column and is unable to update them.

[2017-06-02 03:29] chiragsanghvi commented on #1138
@jrchudy  To avoid these errors just wrap the `$apply` calls in try catch.
I added the timeouts because sometimes they won't pick the new data.

[2017-06-02 17:27] hongsudt commented on #1135
@ljpearlman I have thought more about this.. I think it might be a desirable feature.  The file is written to a specific server.. If the hostname is not there, then unless you plan to sync hatrac db and FS, the files will not be available.  There is no ability from chaise to delete the files on hatrac. So this is probably safe.

@karlcz @robes what do you think?

[2017-06-02 17:30] robes commented on #1135
I'm inclined to agree with Laura on this. If the DBA wants an absolute path they can specify it, and if they want a relative path Chaise should honor it. My thoughts...

[2017-06-02 17:34] karlcz commented on #1135
I also test by dumping ermrest catalogs and hatrac state from production
to dev/test servers.

We haven't in general addressed single sign-on so cross-host
references to hatrac objects won't work anyway unless they are visible
to anonymous clients.

I also like keeping the URLs "relative" to the current ermrest host
when we are managing a coherent ermrest+hatrac pair.  Using a URL w/ a
different h

[2017-06-02 17:47] hongsudt commented on #1136
@jrchudy we can probably close this issue..

[2017-06-02 17:48] hongsudt commented on #976
@jrchudy do you know whether @chiragsanghvi has submitted PR for this issue?

[2017-06-02 18:01] jrchudy commented on #1136
I can no longer reproduce this issue after the changes @ljpearlman made yesterday to the Protocol schema.

[2017-06-02 20:50] jrchudy commented on #976
No he did not.

[2017-06-02 23:22] hongsudt opened #1139 "terminal server error when updating a protocol"
I still see this problem on rbk-dev when trying to update a protocol.

editRecordRequests[id] is undefined
   RecordController/window.updated@https://www.rebuildingakidney.org/chaise/record/record.controller.js?v=6f6a762cfacb1c50839341a512379948:216:13
   success@https://www.rebuildingakidney.org/chaise/recordedit/form.controller.js?v=a015d91688bcb0faeef1f1d05ceb6e27:262:29
   processQueue@https:/

[2017-06-02 23:25] hongsudt commented on #1136
I am reopening this issue since I still see the terminal server error pretty frequently.

[2017-06-02 23:25] hongsudt commented on #1139
duplicate with #1136.

[2017-06-02 23:25] #1139 closed

[2017-06-02 23:26] hongsudt commented on #1136
It seems like the submission was done since when I refreshed the page, I did see the updated value..

[2017-06-03 02:40] jrchudy commented on #1136
PR #1140 addresses this issue. I added a case inside the `window.update` function in `record.controller.js` so that the function doesn't try to run before the browser loads the `record` UI.

The purpose of the `window.update` function is to synchronize when a related table has an entity created or edited. `window.update` fires after the `window.onFocus()` function to keep track of what related tab

[2017-06-03 02:42] jrchudy commented on #1138
PR #1140 addresses this issue. I added a `try/catch` block around each `$scope.$apply` in `upload.js`. The catch currently logs a warning to the users browser console. I will update this on Monday with logging to a folder on the server for each deployment so we can track how often this occurs and more appropriately handle this in the future if it continues to be a recurring problem.

[2017-06-03 02:43] jrchudy commented on #1132
The above PR was merged. I can verify this works with a test that had written for `ermrestJS`.

Reassigning to @ljpearlman to verify the changes fixed the issue.

[2017-06-03 02:44] jrchudy commented on #1137
Closing this issue as a duplicate of issue #1132.

[2017-06-03 02:44] #1137 closed

[2017-06-05 18:35] jrchudy commented on #1135
The corresponding changes have been merged into master.

Reassigning this issue to @ljpearlman so she can verify that the recent changes have fixed the issue.

[2017-06-05 23:43] RFSH opened #1142 "Multi Edit Throws Error"
You can test it [here](https://dev.isrd.isi.edu/chaise/recordedit/#22666/assets:target_file@sort(id)?limit=25). The problem is [this](https://github.com/informatics-isi-edu/chaise/blob/master/common/utils.js#L602) function in utils. It is checking for pseudo columns and only supports key and foreignkey.

This function is being used just for presentation purposes, and the update goes through.

[2017-06-06 17:40] robes opened #1145 "Confirm edits with preview before commit"
This is kind of a wishlist feature. This came up as a user suggestion in the FB annual meeting.

When doing record edit, users would like to see a preview of what they are about to commit before they commit it.

[2017-06-06 17:51] karlcz commented on #1145
Any idea what the expected UX here would be?  Showing the whole final
form content again, or doing some kind of flagged "diff" to highlight
what changes the user is actually requesting?

[2017-06-06 18:41] jrchudy commented on #1128
The corresponding PR has been merged into master.

Reassigning this issue to @hongsudt to verify that it has been fixed.

[2017-06-06 22:35] jrchudy commented on #1136
See the original issue description for an update on how to reproduce.

[2017-06-07 17:26] jrchudy commented on #1136
The PR addressing this issue has been merged into master.

Reassigning to @hongsudt to verify it has been fixed. Please see the updated description at the top for how to reproduce this issue.

[2017-06-07 19:00] bugacov opened #1147 "Timestamp format error while trying to create a new Experiment or Sample on GPCR"
https://dev.gpcrconsortium.org/chaise/recordedit/#1/experiments:experiment

Error 400 Bad Request The request is malformed. Bad JSON array input. ERROR: invalid input syntax for type timestamp with time zone: "{"date":null,"time":null,"meridiem":"AM"}"

In the "Last Modified Timestamp" field it actually displays [object Object] instead of "Automatically Generated"

[2017-06-08 00:51] jrchudy commented on #1147
The changes to fix this issue have been merged into master.

Reassigning this to @bugacov to verify it has been fixed.

[2017-06-08 01:38] bugacov commented on #1147
I tested creating an experiment and sample on dev and this issue seems to be fixed. closing the issue.

[2017-06-08 01:38] #1147 closed

[2017-06-08 16:23] #1142 closed

[2017-06-08 18:47] jrchudy opened #1150 "Catalogs are not being deleted after tests end"
When running the e2e tests on our local machines, the catalog is not being removed at the end of the specs running.

[2017-06-08 19:33] #1150 closed

[2017-06-08 19:36] jrchudy commented on #421
The style guide has been copied over to this [link](https://github.com/informatics-isi-edu/chaise/wiki/Towards-a-style-guide).

[2017-06-08 19:36] #421 closed

[2017-06-08 20:40] nitishksahu commented on #980
The PR has been merged with the master branch. Assigned to @robes to test the changes

[2017-06-08 21:19] RFSH opened #1152 "File Upload Test Cases"
A create/edit scenario for file upload is as follows,
1. ERMrestjs parses the annotaion and visible columns correctly.
2. Chaise shows the correct UI for uploading file.
3. ERMrestjs generates a correct checksum.
4. ERMrestjs and Chaise show the upload progress.
5. ERMrestjs returns the final url on upload completion.
6. Chaise saves the meta data and shows the result page (it can be record page o

[2017-06-08 21:59] robes commented on #980
I think the UX is still not quite right.

1. if there are 0 results
    - "Heading (No results)"
1. if less than LIMIT records
    - "Heading (Showing all results)"
2. if there exists more than LIMIT records
    - "Heading (Showing first LIMIT records)"
    - do not use a "+" in the message like "Showing first 25+ records".

@karlcz @hongsudt @ljpearlman @mikedarcy any opinions...? You can see an

[2017-06-08 22:24] hongsudt commented on #980
For the second case, instead of "Heading (Showing all results)", what about
""Heading (Showing all LIMIT records)"

Then we should change the first case from "(No results)" to "(No records)"
for consistency.

On Thu, Jun 8, 2017 at 2:59 PM, robes <notifications@github.com> wrote:

[2017-06-08 22:33] karlcz commented on #980
I agree "results" or "records" should be used consistently but the more appropriate word might depend on whether there are search or other filtering criteria?

If we want to have an indicator in the heading for the first case I'd use `(No results available)` and we should make sure this is consistent with what we put into the empty table's body as well.

[2017-06-08 22:36] robes commented on #980
@karlcz Woops. Sorry I meant to use "results" consistently. I'm okay with "records" or "results" but using them consistently was the intention.

@hongsudt the problem with your suggestion for the second case is that there are **less than LIMIT** records/results being displayed. Did you mean to say "Showing all NUMBER records" where NUMBER is the actual number (NUMBER < LIMIT) returned? In that cas

[2017-06-08 22:41] robes commented on #1145
Just to document this response which was discussed this morning.

The user request was a subtle UX issue about reading a form being harder than reading it "the way it would look on the [record] page".

The idea I most liked from this morning was the idea of introducing a "Preview" mode *before* submitting the form that the user can toggle to see the page in more of a display mode (i.e., replacing

[2017-06-08 22:42] robes commented on #1145
I should add, I do personally like the "diff" to highlight the changes. The users I spoke to didn't request that, but I would believe it would be useful if we had that.

[2017-06-08 23:10] hongsudt commented on #980
Yes. I meant the actual number..

[2017-06-08 23:52] robes commented on #980
OK. That message would make sense to me too.

[2017-06-09 18:50] RFSH opened #1153 "File Upload Multi Create Test"
We currently are testing multi create for file upload to see that it is not throwing an error. We should also test the result page and make sure data is submitted and stored.

[2017-06-09 18:52] RFSH opened #1154 "File Upload Multi Edit Test"
We should test file upload in multi edit scenario. The test must contain these different combinations for `url_pattern`,
1. A combination of one of visible columns and md5.
2. A combination of one of generated visible columns and md5.
3. A combination of one of generated invisible columns and md5.

[2017-06-09 22:09] ljpearlman commented on #1114
Just got this again when selecting  https://www.rebuildingakidney.org/chaise/search/#2/Antibody:Antibody_Tests from the menu bar.

[2017-06-10 00:03] #981 closed

[2017-06-10 00:41] nitishksahu commented on #980
As per my conversation with @hongsudt, here is the implementation plan:

**1st Case:** (When all the results are displayed)
- "**Showing** first 15 results" to "**showing** first 15 results" (sentence case was somehow looking more prominent so we decided to have all verbose in small case)

**2nd Case:** (When no results are displayed)
- "**no results**" to "**no results found**" so that this is co

[2017-06-10 00:44] robes commented on #980
good plan

[2017-06-10 18:12] amitjha21 commented on #794
Public function `ERMrest.renderMarkdown().`  is now in use to render markdown in Live Preview. It takes care of superscript/subscript.

[2017-06-12 17:10] RFSH opened #1155 "Clean Up Uploaded Files"
We should clean up the uploaded files, after the test ends. This should be added as part of test framework in both ermrestjs and chaise.

[2017-06-12 18:33] jrchudy opened #1156 "Default Values in Recordedit"
The Default values need to be more robustly tested in the e2e tests at the initialization of the `recordedit` app. Include tests for each column type:
- **not** generated
  - [X] boolean
  - [X] date
  - [X] timestamp
  - [X] text
  - [X] markdown
  - [X] integer
  - [X] float
  - [X] f. key
- generated (disabled)
  - [X] boolean
  - [X] date
  - [X] timestamp
  - [X] text
  - [X] markdown
  - [X]

[2017-06-13 17:18] #1105 closed

[2017-06-13 18:37] jrchudy opened #1159 "Foreign Key with Default Value"
The current implementation is a little crude as it is showing just the key value for the associated row in the foreign related table. There should be a request made to fetch that row and get a proper rowname to display in the field during record creation.

[2017-06-13 18:45] hongsudt commented on #1138
This issue is still not solved! The user just reported the same error on RBK.

[2017-06-13 18:46] hongsudt commented on #1082
@robes is this still an issue?

[2017-06-13 18:59] hongsudt opened #1160 "Unlink appears to succeed without actually unlinking the related entity"
Please investigate this with @ljpearlman  We saw this issue on production on Monday when a user tries to delete a protocol ("Protocol"."Protocol"). The browser didn't complain, but the page content didn't change even after refreshed.

[2017-06-13 19:04] robes commented on #1082
yes, it is.

[2017-06-13 19:33] jrchudy opened #1161 "Hide related tables"
The "Hide Empty Related Records" button should appear when all of the related tables are empty. Currently it shows as "Show All Related Records" when the related tables are all empty.

[2017-06-13 19:35] jrchudy commented on #1082
For clarification, do you mean that the related tables start loading into the DOM before the record itself displays in the DOM?

[2017-06-13 19:46] jrchudy commented on #1160
This issue is related to [this issue](https://github.com/informatics-isi-edu/ermrestjs/issues/398) in ermrestJS. I am seeing the same exact issue when trying to unlink an entity through the related table action.

NOTE: The following URL points to *production* data.
This can be seen at this URL:
https://www.rebuildingakidney.org/chaise/record/#2/Protocol:Protocol/ID=30
Open the Browser tools and co

[2017-06-13 23:23] karlcz opened #1163 "Editing a json column does not work"
Going to an existing record like

https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Synapse:FScope/ID=20170315_FScope2

with JSON content in a column does not work.  The editor shows `[object Object]` instead of the actual JSON content you would see in record app: `{"FISHSPY_GAMMA":2,"FISHSPY_CONTRAST":1.2}`

https://synapse-dev.isrd.isi.edu/chaise/record/#1/Synapse:FScope/ID=20170315_FScope2

[2017-06-13 23:40] karlcz commented on #1135
Before we close this... does the code honor whatever URL is produced by the mustache template (whether or not a hostname part is present) or does it hard-code one behavior that overrides the template?  I think it should honor the template so that the DBA can decide if they want to make hostnames explicit...

[2017-06-13 23:44] karlcz commented on #1041
Oops I guess I got confused and thought this task was further along than it is.  So maybe the new #1163 is a duplicate and should be closed?

[2017-06-13 23:45] karlcz commented on #1156
foreign key is not a column type but an orthogonal choice to all of those column types...  also, please make any test for this general enough so that we can easily add more column types later, i.e. `json` and `jsonb` should be added as soon as we have that feature in chaise.

[2017-06-13 23:59] karlcz commented on #1109
I don't see a comment here but I think there are remaining issues with interstitial login through the navbar or static sites.  The new modal login mechanism needs to be integrated into all of those before we can really get it out of the browser history.

Also, I've noticed that our apps don't make history updates even when I think they should, i.e. if you go into recordset and use the next-page bu

[2017-06-14 00:04] jrchudy commented on #1041
Yes @karlcz. We have yet to merge json column support into chaise.

[2017-06-14 01:12] RFSH commented on #1160
Issue moved to [informatics-isi-edu/ermrestjs #425](https://github.com/informatics-isi-edu/ermrestjs/issues/425) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-14 01:12] #1160 closed

[2017-06-14 01:42] jrchudy commented on #1138
It appears that the user was using Internet Explorer 11. Odd that it didn't work in this version. Maybe there's another compatibility issue with IE that I'm not aware of with AngularJS.

Closing this issue based on the response we got in the email thread and after talking to @hongsudt.

[2017-06-14 01:42] #1138 closed

[2017-06-14 23:28] nitishksahu commented on #1041
I have made certain changes and have added the JSON column support in chaise, these changes are available at:
https://dev.isrd.isi.edu/~nitish/chaise/recordset/#1/public:orders

@karlcz @hongsudt @robes any suggestions?

[2017-06-15 00:32] robes commented on #1041
worked for me

[2017-06-15 16:20] amitjha21 opened #1166 "Markdown Editor for text area"
Users should have a markdown editor for text area fields in record edit page. This is an extension of [Issue#794](https://github.com/informatics-isi-edu/chaise/issues/794). The UI should have a widget panel on top of the text area for user interaction with full screen button on top right.

[2017-06-15 19:49] jrchudy opened #1167 "test for default float values displayed properly"
The test is already written, it is waiting on introspection to properly recognize the float default value as part of the returned json schema.

[2017-06-15 19:53] #794 closed

[2017-06-15 19:54] jrchudy commented on #1161
The code that fixes this issue has been merged into master. Closing this issue.

[2017-06-15 19:54] #1161 closed

[2017-06-15 22:59] nitishksahu commented on #1041
As @hongsudt suggested,

- the conversion of JSON object to string value must be done in the ermrestjs rather than to handle it in chaise, so going forward I will be updating ermrestjs code to accommodate this change for column type "JSON", where ermrestjs will stringify JSON object and provide a string value to chaise to display.
Ermrest right now does not provide the formatted values in the case

[2017-06-15 23:14] robes commented on #1041
Is there some special case here?

From what I recall, every data type works this way. That is,
- ermrestjs returns data in both formatted and raw forms (hence, for JSON they should be returned in string, and js object)
- chaise submits data to ermrestjs in its raw form (again, for JSON that means a js object)

Perhaps this is being a little pedantic but I don't think there is a "JSON Object" anywh

[2017-06-15 23:39] jrchudy commented on #1041
There is not a special case here. The issue is that we did not support `json` and `jsonb` before, so changes need to be made to the existing process to accommodate this. The changes that need to be made are the following:
 - `ermrestJS` needs to properly format the value for `record` and `recordedit`.
 - `chaise` needs to properly format the value when submitting data for create or update

I don't

[2017-06-16 00:07] robes commented on #1041
What I meant was is our new handling of JSON following a different pattern than other types like Integer or Date. Don't we always do this for other types and now JSON:

- ermrestjs returns both formatted and raw values
- chaise inputs (to ermrestjs) raw data values

Thought that was the normal flow.

[2017-06-16 00:28] jrchudy commented on #1119
This issue is related to issue #1130.

[2017-06-16 00:52] jrchudy commented on #1041
It is not following a different pattern. It is going to follow the normal flow just like Integer or Date.

[2017-06-16 01:04] RFSH commented on #1041
The only difference in case if JSON is that the raw value instead of actual JSON object will be the JSON text, which chaise displays it.

[2017-06-16 01:49] karlcz commented on #1041
Just to avoid any ambiguity I want to emphasize that a 'json' or
'jsonb' column in ermrest can store any literal value that has a valid
JSON representation including:

- null
- numbers (integer and floating point)
- boolean
- string
- object with string keys and values of any type in this list
- arrays with members of any type in this list

hopefully everyone already realizes that, but I wanted to

[2017-06-16 05:03] nitishksahu commented on #1041
To explain what I see in the ermrestjs code:

In ermrestjs, both the raw and formatted values are being computed but when the context is (**entry/edit**) in that case ermrestjs returns the **raw data** instead of formatted data, but when the case is **other** than (entry/edit) like (**detailed**) then the **formatted** value is returned to chaise. This is the reason that we observed the difference

[2017-06-16 21:33] amitjha21 commented on #1166
Full screen button to be added on top right of widget panel. Also while in preview mode the background will change to distinguish it from edit mode (preferably grey).

[2017-06-16 21:33] jrchudy commented on #1156
The changes for this issue are merged into master. Support for json columns is still in progress so those tests will be included with the chanegs to support `json` and `jsonb`. This is being tracked by issue #1041.

[2017-06-16 21:33] #1156 closed

[2017-06-17 00:41] RFSH commented on #1118
This is the url that ermrestjs cannot parse:
[code]
The problem is the `Filter=` part. Database value of this column is `""` (empty string) and ermrestjs cannot parse that. It seems like `column=` is a valid filter in ermrest, which parser is not supporting.

How does this url get created? This table doesn't have any visible columns annotation, so as part of heuristics, emrestjs will add key-pseud

[2017-06-17 00:41] #1118 closed

[2017-06-17 00:41] RFSH commented on #1118
Issue moved to [informatics-isi-edu/ermrestjs #428](https://github.com/informatics-isi-edu/ermrestjs/issues/428) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-19 18:08] jrchudy commented on #1167
This has been fixed and merged to master with PR #1168.

[2017-06-19 18:08] #1167 closed

[2017-06-19 19:53] #1154 closed

[2017-06-21 18:18] amitjha21 commented on #1166
Few Salient features:
1. Preview button outputs inline preview in the `div` container.
2. Preview mode has a background color to distinguished it from editing mode.
3. Height and Width of editor text area will be used to display the preview.
4.  Font family is maintained for preview.

[2017-06-22 17:30] hongsudt commented on #842
@crisaless @carlkesselman do we now have a standard template to work on this issue?

[2017-06-22 17:41] crisaless commented on #842
We use a standard page adjusted per project. Here is the example of the one on RBK.

https://www.rebuildingakidney.org/privacy-policy/

Should we have a wiki page on chaise or division wiki that basically just says that?

[2017-06-22 18:18] hongsudt commented on #842
Yeah.. we should put the template somewhere.... We are thinking about using
a chaise config to specify the text and link that should go to the footer
of each app.  This text can be markdown so the links can be embedded
easily.

So should the footer just look something like:

`Data Privacy Policy, Data Usage Policy`

[2017-06-22 18:33] crisaless commented on #842
Could do that - the policy is the static page should always be at:

/privacy-policy/

As for usage policy, I don't think we have that yet?

________________________________
From: Hongsuda <notifications@github.com>
Sent: Thursday, June 22, 2017 11:18 AM
To: informatics-isi-edu/chaise
Cc: Cristina Williams; Assign
Subject: Re: [informatics-isi-edu/chaise] Standard footer Privacy Policy and Acknowle

[2017-06-23 17:40] amitjha21 opened #1172 "Re sizable row in Multi record create page"
Text area fields in multi record page can be misaligned since each text area has its own resize option. The whole row with all columns should realign if the row is dragged.

[2017-06-23 19:02] hongsudt commented on #1111
@ljpearlman can you check whether this is still an issue?

[2017-06-23 23:03] hongsudt commented on #1172
I am de-prioritize this issue for now..

[2017-06-26 18:00] hongsudt commented on #606
@jrchudy is this still an issue?

[2017-06-26 18:18] hongsudt commented on #895
We decided not to do this for delete/edit. So I am closing this issue for now..

[2017-06-26 18:18] #895 closed

[2017-06-26 19:41] hongsudt commented on #902
I am putting this in the wishlist and close this issue for now.

[2017-06-26 19:41] #902 closed

[2017-06-26 20:41] hongsudt commented on #716
Start a list of specific use case:
- duplicate keys

[2017-06-26 20:46] hongsudt opened #1173 "recordedit keeps track of fields that have been modified by user"
There might be a problem to do with this with the multi-entry edit feature.. @jrchudy will list these issues for discussion.

[2017-06-27 18:49] #1153 closed

[2017-06-27 21:11] jrchudy commented on #1173
In the case of create:
`Chaise` submits the the full set of visible columns with their data values to `ermrestJS`. So if a column was part of the visible columns, but the field was empty, we still send a key value pair of `column-name: null`. `ErmrestJS` uses these null key/value pairs to determine what the defaults projection set should be.

In the case of edit:
`Chaise` submits the full set of d

[2017-06-27 22:02] hongsudt opened #1174 "generated timestamp column with now() as default show "Invalid Date""
@karlcz How do we distinguish between a function vs literal values set for default?

For numeric, boolean, date, timestamp, we can probably validate the default value..  But what do we do with text columns?

[2017-06-28 19:22] jrchudy commented on #1082
The code to fix this has been merged into master. Reassigning to @robes to verify it has been fixed.

[2017-06-28 20:32] robes commented on #1082
This is fixed yes.

I'm going to have to open another issue though because this fix now makes apparent that long wait time for the main entity attributes to appear. We should probably have a spinner displayed as a general practice while waiting for first display of something.

That said, I still consider this an improvement. thanks

[2017-06-28 20:32] #1082 closed

[2017-06-28 20:34] robes opened #1176 "Need "spinner" during load of record page"
As I commented on #1082

[2017-06-29 01:56] jrchudy commented on #1174
The changes to fix this issue have been merged in `ermrestJS`. Reassigning this to @hongsudt for verification.

Below is the link that you originally saw the issue:
https://dev.gpcrconsortium.org/chaise/recordedit/#1/assets:fcs_source

[2017-06-30 23:07] #1166 closed

[2017-07-06 00:57] nitishksahu commented on #1163
JSON column support changes have been merged to master with [PR#1177](https://github.com/informatics-isi-edu/chaise/pull/1177)

[2017-07-06 00:58] nitishksahu commented on #1041
JSON column support changes have been merged to master with PR#1177

[2017-07-06 16:54] nitishksahu commented on #1163
Assigning this to @karlcz  to verify.

[2017-07-06 16:55] nitishksahu commented on #1041
All the changes are done with PR#1177, closing the issue.

[2017-07-06 16:55] #1041 closed

[2017-07-06 20:13] karlcz commented on #1163
I can confirm that this is working on my dev server tracking master branches

[2017-07-06 20:13] #1163 closed

[2017-07-06 21:58] nitishksahu commented on #1176
@robes , Can you please verify if it is still an issue?

Thanks!

[2017-07-06 22:35] robes commented on #1176
Works for me.

[2017-07-06 22:35] #1176 closed

[2017-07-07 19:41] robes commented on #685
I think we can close this issue. I believe #1098 is the right way to do this, in conjunction with the associated ermrestjs issue.

[2017-07-07 19:54] nitishksahu commented on #1133
As discussed with @RFSH , showing a modal window when the user clicks on the `Login` link in the navbar and then asking for click on the login button on the modal window is incurring extra user clicks, which seems unnecessary. So going forward the flow needs to be adjusted like this,

- Click on `Login` link on the navbar, opens a new pop window directly to log in.

- When a user is in middle of s

[2017-07-07 22:28] hongsudt commented on #1111
@jrchudy This problem should already be fixed, right?

[2017-07-08 00:34] hongsudt commented on #878
This is pending on informatic-isi-edu/ermrestjs#304.

[2017-07-08 00:35] hongsudt commented on #930
This is pending on informatics-isi-edu/chaise#304.

[2017-07-08 02:41] jrchudy commented on #1111
I don't think so. I don't see any reference to it from a PR that we already merged..

But if @ljpearlman could verify whether it is still an issue or not we will know 😄

[2017-07-10 17:18] hongsudt commented on #685
duplicated with #1098.

[2017-07-10 17:18] #685 closed

[2017-07-10 17:20] hongsudt commented on #1098
I like a more flexible approach that @karlcz suggested.. This will allow user to continue as usual if there is no ambiguity.. And if there are duplicate, provide them a link to recordset..

[2017-07-10 18:22] RFSH opened #1182 "Add json and jsonb test cases to multi-col-types spec"
[multi-col-types.spec.js](https://github.com/informatics-isi-edu/chaise/blob/master/test/e2e/specs/default-config/recordedit/multi-col-types.spec.js) has test cases for different column types that chaise supports. We should add json and jsonb test cases to this test spec too.

[2017-07-11 17:13] amitjha21 commented on #842
This has been merged into master. Footer appears in `record`, `recordset` and `recordedit` pages. The footer markdown value is maintained in `chaise-config.js`.
_Sample:_
 `footerMarkdown:"**Please check** [Privacy Policy](/privacy-policy/){target='_blank'}"`

[2017-07-11 19:27] nitishksahu commented on #1098
An implementation of how multiple records are going to be handled in record page is in place:

[A record page with more than 1 record](https://dev.isrd.isi.edu/~nitish/chaise/record/#1/vocabulary:anatomy/term=Head)

@robes @hongsudt @karlcz Any suggestions??

[2017-07-11 22:37] hongsudt commented on #792
@RFSH  should you merge the UX code that you have to chaise?

[2017-07-11 22:44] hongsudt opened #1185 "facet APIs with default visible-facet list"
If annotation is not specified, the default facet list should consists of
- all visible columns in the compact context
- all the in-bound fks visible in the detailed context

[2017-07-11 22:47] RFSH commented on #792
@hongsudt It is just a mock-up. I cannot see the value of merging it now. It is not functional and just shows how the UI works. It also needs improvement to its UI and UX. I will keep it in my own directory ([https://dev.isrd.isi.edu/~ashafaei/chaise2/recordset/#1/isa:dataset](https://dev.isrd.isi.edu/~ashafaei/chaise2/recordset/#1/isa:dataset)).

[2017-07-11 23:08] hongsudt opened #1186 "faceting directives for a free-text column"
- provide a search box
- display results
- A menu option to switch between text display mode

[2017-07-11 23:23] #1185 closed

[2017-07-11 23:23] hongsudt commented on #1185
Issue moved to [informatics-isi-edu/ermrestjs #450](https://github.com/informatics-isi-edu/ermrestjs/issues/450) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-11 23:58] nitishksahu commented on #1133
The changes have been merged to master, assigning it to @jrchudy to verify.

[2017-07-12 00:23] amitjha21 commented on #842
@robes  please have a look and let me know if the footer comes as expected. The footer markdown value is maintained in `chaise-config.js` file.

[2017-07-12 17:36] robes opened #1189 "Fix the Makefile rules for e2e testing"
The main e2e test rule in Makefile is:

[code]

And then there are rules for individual units of tests such as this:

[code]

There are multiple problems here that make this potentially unreliable and inefficient:
- The master rule `test` should be a rollup of the individual test rules. As is, this is duplicative (copy and paste) with all of the problems that come with that.
- The rules do not spe

[2017-07-12 17:41] robes commented on #842
@amitjha21 "have a look" at what? where?

[2017-07-12 18:21] amitjha21 commented on #842
Footer for each page should appear at the bottom of the page for `record`, `recordset` and `recordedit`. The markdown value should be maintained in `chaise-config.js` in `footerMarkdown` key. There is one bug that has been fixed and being pushed now.

[2017-07-12 18:46] jrchudy commented on #1133
@nitishksahu: part of why were were using the intermediate modal popup was so that when the user clicked the login button, it would open a window *without telling the user a popup was blocked*.

It looks like the modal dialog controller has this line:
`params.login_url = $sce.trustAsResourceUrl(params.login_url);`

I think that's how we allow that window to open without it being caught as a popup

[2017-07-12 18:57] jrchudy commented on #1189
If we were to change `make test` to have each make target (i.e. `make testrecord && make test navbar && ...`), if one of those specs fails, it stops running the rest after that for the rest of the target.

Let me try to explain it a little more. Say `make testnavbar` has 2 specs, if I run `make test`, and `make testnavbar` starts running, but the first spec fails, the second spec will never run. T

[2017-07-12 20:00] nitishksahu commented on #1133
It seems like `params.login_url = $sce.trustAsResourceUrl(params.login_url); ` will not help in this case. The popup is blocked because of the window.open() command was being issued in the `authen.js` and was not a part of tick/stack as the user-initiated event, which is click event in this case.

Going forward creating a window instance with blank URL on user click and passing its reference to au

[2017-07-12 21:47] nitishksahu commented on #1133
I have made the changes and have raised a [PR#1192](https://github.com/informatics-isi-edu/chaise/pull/1192) for this.

[2017-07-12 23:02] RFSH opened #1193 "Add Related Bug"
When we have a pure binary association related entity the reference that we should use for adding is different than a simple inbound related entity. We take care of this distinction in `adddRelatedRecord` function, but not in the `canCreateRelated`.

This needs a simple fix and just changing [this function](https://github.com/informatics-isi-edu/chaise/blob/master/record/record.controller.js#L102,

[2017-07-13 16:19] amitjha21 opened #1195 "Static page for markdown help"
We should have help pages hosted along with the application. These pages will be customized for internal applications and kept locally to avoid any future disruptions.

[2017-07-13 18:54] jrchudy opened #1196 "Generate Documentation for Chaise Errors"
We need to have a `doc.md` for the error service/factory that we have defined in chaise (`/common/errors.js`). This could be something similar to jdocs (where the documentation is inline in the code) that we then produce a document from at build time.

[2017-07-13 19:30] nitishksahu commented on #930
The implementation is to show the Download button only when there are results in the recordset page for the search query provided, the download button will not be displayed when the search query returns no records.

[2017-07-13 20:22] amitjha21 opened #1197 "Footer: Document height change causing footer misplacement"
Footer directive watches for document height change to determine footer `position` (`absolute` or `relative`). Since `body` height is 100% and position is not `fixed`, it causes document height to fluctuate.

PS: This was not happening during feature development. I am suspecting some style sheet change might have caused this to appear now.

[2017-07-13 22:12] RFSH opened #1200 "Refactor Chaise and ERMrestjs Errors"
We currently have a [factory for errors](https://github.com/informatics-isi-edu/chaise/blob/master/common/errors.js#L13) which is not being used. Instead the errors that are defined in [here](https://github.com/informatics-isi-edu/chaise/blob/master/common/errors.js#L96,L129) are the errors that we are using. We should clean this up. These are the list of tasks that I think we should do:

- [x] Ad

[2017-07-13 22:52] nitishksahu commented on #1098
The changes to address this issue have been merged with the master branch.

Instances of the issue in different deployment:

- [DEV Isrd](https://dev.isrd.isi.edu/chaise/record/#1/vocabulary:anatomy/term=Head)
- [RBK](https://dev.rebuildingakidney.org/chaise/record/#2/Protocol:Protocol_Author/Rank=1)
- [GPCR](https://dev.gpcrconsortium.org/chaise/record/#1/gpcr_browser:target_gui/shared=true@sort(

[2017-07-13 23:45] RFSH commented on #1193
This is fixed now, the only task remaining is adding test cases.

[2017-07-13 23:46] #1197 closed

[2017-07-14 01:21] hongsudt opened #1202 "generate test cases for Association Entities"
We need some test cases for pure binary association in chaise. Any feature that is testing "related" entities, should test both "pure and binary association" and also "inbound related" tables.

[2017-07-14 01:26] hongsudt commented on #1133
@karlcz can you please review this issue?

[2017-07-14 21:00] RFSH commented on #1117
Issue moved to [informatics-isi-edu/ermrestjs #455](https://github.com/informatics-isi-edu/ermrestjs/issues/455) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-14 21:00] #1117 closed

[2017-07-14 21:13] hongsudt opened #1203 "auto-generated float column doesn't get displayed properly"
The word "auto generated" is half shown. check the following url.

https://dev.gpcrconsortium.org/chaise/recordedit/#1/assets:sec

[2017-07-17 16:39] RFSH commented on #1155
This is done as part of #1180.

[2017-07-17 16:39] #1155 closed

[2017-07-17 18:42] amitjha21 opened #1204 "Footer flikers due to List element in html"
List (`ordered` or `unordered`) adds line height in the footer therefore increasing the page length. This causes footer directive to keep changing the location of the footer.

[2017-07-17 21:36] robes commented on #1130
Why isn't this fixed already???? This is a simple bug to fix right?

We literally have our FaceBase program officer tripping over this bug. If its simple can't we fix this right away? Why keep pushing this down the stack?

[2017-07-17 21:42] hongsudt commented on #1130
Is this only seen in facebase or is this a common problem across deployments?

The priority got dropped because @carlkesselman wants to move forward with faceting.

[2017-07-17 21:48] hongsudt commented on #1130
I logged in to the production site just fine, and got this error when tried to login on dev. I don't see the same problem on rbk or gpcr.

[2017-07-17 21:52] robes commented on #1130
As mentioned in my description, the problem is reproducible on facebase catalog/2, which is a catalog that requires authentication in order to read. Here is an example link.

https://www.facebase.org/data/recordset/#2/reports:download_data@sort(Timestamp::desc::,Event%20ID)

[2017-07-17 22:42] robes commented on #1130
The comment above about the `loginURL` actually `login_url` was a red herring. The real problem has to do with this line of code.

[code]

And the fragility of generating this referrer by depending on the `chaise` base directory in this substring.

[2017-07-17 23:05] hongsudt commented on #1130
To solve this problem, we will probably need to detect the deployment path from the url and assume that the appname is the last component of the path and that’s all we are trying to remove (and the last component is of course between the last two /s not counting the fragment which is not part of the path)

[2017-07-17 23:36] karlcz commented on #1130
If I understand what you're reporting here, the problem is the redirect URI **should not** start with ".." because that level of relative addressing won't make any sense once you leave the Chaise page context and instead go to the `/authn/` API.  The redirect URI should be an absolute path `/.../login` to your actual login page.

[2017-07-17 23:38] karlcz commented on #1130
I think @hongsudt  is right that the correct solution is to find the current page path in Chaise and "pop" one element to get to the parent app hierarchy, then add the different login page suffix.

[2017-07-18 00:10] robes commented on #1130
Hongsuda wanted me to add that we should assume that our app names end with a trailing `/` because we strictly follow that practice. So an example path is `.../recordset/`. It never ends without the last `/`.

Also, our pathnames are usually _but not always_ followed by a fragment id, e.g., `#1/isa:dataset`.

So in order to pop off the app name one must:
- start with window.location.href
- trace b

[2017-07-18 21:20] nitishksahu commented on #930
@hongsudt can you please review this feature?
- [Dev ISRD](https://dev.isrd.isi.edu/~nitish/chaise/recordset/#1/isa:dataset/*::ciregexp::%5E%28.%2A%5B%5E0-9.%5D%29%3F0%2A218%28%5B%5E0-9%5D.%2A%7C%24%29@sort(release_date::desc::,id))
- [GPCR Recorset](https://dev.gdpcrconsortium.org/chaise/recordset/#1/gpcr_browser:target_gui/title=IMPT-AA2AR)
- [RBK Recordset](https://dev.rebuildingakidney.org/cha

[2017-07-19 20:50] karlcz opened #1209 "Bad presentation of existing asset in file upload for recordedit"
I think the file upload widget needs a little more review and bug fixing related to presenting state of existing records.

First, we need to reach a consensus on expected behavior.  I think there are two choices:

1. The file upload widget should behave like other input fields and *ignore* any markdown_pattern presentation in the annotations, instead always showing a more raw value presentation.

[2017-07-19 21:03] RFSH commented on #1209
This bug is happening because of [ermrestjs](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/reference.js#L3917) logic. If there's a `markdown_pattern`, regardless of context, we're using it. We can change it to always return the raw value in entry contexts (If we decid to stick with the first choice).

[2017-07-19 21:36] robes opened #1210 "version file is not installed"
We have a script in chaise for generating its version including the versions of dependent software. The make file rule for this is not factored out well and more importantly the version is not installed anywhere except Travis where we don't even need it.

Also, the output `version.txt` should be cleaned up.

[2017-07-19 22:49] hongsudt opened #1211 "enable multi-select in the table directive"
Currently, the table directive (i.e. the one that is used for users to select fks) assumes that only one record will be selected. We should extend the API to allow multi-select option.

[2017-07-20 01:27] jrchudy opened #1212 "Disable submit button on recordedit"
The submit button should be disabled on `recordedit` when no changes have been made to the form.

[2017-07-20 01:29] jrchudy opened #1213 "File upload widget in recordedit should display info about file"
The file upload widget should display some information about the file. This should be managed by interpreted markdown.

For instance, if the file is an image, display an image in the UI. Or for other file types, other metadata information is sufficient (like hash, filesize, or sha_256).