[2016-06-25 00:39] crisaless commented on #242
I fixed the padding for the blue buttons a while back.

[2016-06-25 00:47] hongsudt commented on #242
Please close the issue if it is done.

[2016-06-25 01:22] jrchudy commented on #477
I tested this on both Chrome and Firefox and could not reproduce the issue. When submitting the data after removing the value in the duplicated row, it's submitting that value as `null`. @karlcz are you able to still reproduce this or am I missing a step?

[2016-06-25 02:00] karlcz commented on #477
I just repeated the error on synapse-dev using firefox.

Follow my steps **exactly**:

1. Goto https://synapse-dev.isrd.isi.edu/chaise/recordset/Zebfrafish:Synapse and login
2. Goto https://synapse-dev.isrd.isi.edu/chaise/recordedit/#2/Zebrafish:Subject
3. Fill in all required columns and put `12` in the RNA_Conc and DNA_Conc columns
4. Click DNA_Conc field to put cursor/focus at end of line and b

[2016-06-27 16:09] #242 closed

[2016-06-27 18:55] chiragsanghvi commented on #448
This is working now. Thanks.

[2016-06-27 18:55] #448 closed

[2016-06-27 23:46] jrchudy commented on #477
This issue is addressed in my most recent commit. This can be tested [here](https://synapse-dev.isrd.isi.edu/~jchudy/chaise/recordedit/#2/Zebrafish:Subject) in my synapse dev environment.

This issue was caused by columns with data type `float4` and `float8`. It wasn't explicitly spec'ed out [here](https://github.com/informatics-isi-edu/division/issues/35) when we came up with the set of data type

[2016-06-28 00:03] hongsudt commented on #475
Issue moved to [informatics-isi-edu/gpcr-project #181](https://github.com/informatics-isi-edu/gpcr-project/issues/181) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-28 00:03] #475 closed

[2016-06-28 00:05] hongsudt commented on #446
2016: visible columns and 2016: foreign keys have been added to the annotation document. Please review those two annotation spec. We will go with this unless anyone objects by wed.

[2016-06-28 00:14] howdyjessie commented on #402
@karlcz @robes @hongsudt PR #439 is ready for review again.

[2016-06-28 00:40] bugacov opened #478 "repeated table/column name in request leading to self-link error"

[2016-06-28 01:40] svoinea commented on #478
Fixed in commit 6264728132ba6fbda69ebb39f785f435020f304c
The query predicate excludes now the main table to join with itself.
Ready for review.

[2016-06-28 17:39] karlcz commented on #477
I confirmed that I can follow the procedure from the issue description and it doesn't encounter the error anymore.

[2016-06-28 17:39] #477 closed

[2016-06-28 19:36] howdyjessie commented on #443
@hongsudt The (temporary) fix for this issue has been included in PR #439.

[2016-06-29 16:53] hongsudt opened #480 "viewer: update annotations in open-seadragon to be consistent with search result"
The open-seadragon can be in any zoom level, @meihuisu Is there a way to automatically zoom out so that all the search results will be displayed in the open-seadragon?

[2016-06-29 16:56] hongsudt opened #481 "viewer: an on/off switch to show/hide visible annotations"

[2016-06-29 16:58] hongsudt opened #482 "viewer: change the tag glyph to a different symbol"
If the tag is scaled down as an image is zoomed out, maybe we don't need to do anything with this.  Otherwise, Jill just needs a different glyph that maybe less opaque.

[2016-06-29 17:00] hongsudt opened #483 "viewer: reduce some white space in the chaise annotation"
The description is not often used during the annotation. Is there a way to shrink the white space, so more annotations get displayed on the screen.

[2016-06-29 17:04] hongsudt commented on #391
I am closing this issue and put this on the chaise wiki.

[2016-06-29 17:04] #391 closed

[2016-06-29 17:23] crisaless commented on #142
fix is up and working on latest FF, Chrome and Safari. still have to test on IE.

[2016-06-29 20:32] bugacov opened #484 "record app requires authentication even when ermrest is configured for anonymous access"
In the facebase case, access is anonymous but when trying to access a record from the records set, it asks for authentication, when it shouldn't require authentication since ermrest is configured for anonymous access.

For example, try to access the first item from this results set
https://dev.isrd.isi.edu/chaise/search/#1/legacy:dataset?facets=(dataset_organism:organism::eq::Mouse)&layout=list&pa

[2016-06-30 22:04] shinyichen commented on #484
Fix is in pull request #486

[2016-06-30 23:19] #306 closed

[2016-06-30 23:21] ljpearlman commented on #413
(closed this by accident earlier)

[2016-06-30 23:32] ljpearlman commented on #413
I'm not sure what the status of this bug is. I think the webauthn bits are done, but the last two paragraphs of @karlcz's most recent comment raise some questions about what chaise should be doing in a couple extreme failure cases.

(Assigning this to @hongsudt to figure out how to proceed).

[2016-07-01 17:42] hongsudt commented on #376
@shinyichen if this is done, please put this under review.. Or if it is already covered by other issue, please close the issue.

[2016-07-01 20:34] howdyjessie commented on #482
Mei has put in a fix that makes the tag smaller and more transparent so we're putting this issue in backlog for now.

[2016-07-01 21:26] akumar03 commented on #478
I still see the issue in GPCR when I go to the following url: https://dev.gpcrconsortium.org/chaise/search/#1/gpcr_browser:construct_gui?facets=(construct_gui:site::eq::USC)&layout=table&page=1

Here is the error log:
ERROR: 409
ResponseText: 409 Conflict
The request conflicts with the state of the server. Table name construct_deletion is ambiguous.
TextStatus: error
ErrorThrown: Conflict
URL: htt

[2016-07-01 21:41] karlcz commented on #478
@akumar03  This does not look like the same kind of error.  It is not reporting a self-link and the URL does not look like a self-link either.

This looks more like a garden variety modeling ambiguity between construct_gui and construct_deletion. However, it makes me wonder if you're running the latest ERMrest or not.  In the past few weeks, we made a patch to ERMrest that would accept this kind o

[2016-07-01 22:11] carlkesselman commented on #478
Anoop.  Can you follow up and confirm.  If we are not running the latest version I am concerned about our release procedure.

Carl

Sent from my iPhone

On Jul 1, 2016, at 4:43 PM, Karl Czajkowski <notifications@github.com<mailto:notifications@github.com>> wrote:

@akumar03<https://github.com/akumar03> This does not look like the same kind of error. It is not reporting a self-link and the URL does

[2016-07-02 00:14] hongsudt opened #487 "viewer: add # of matches on top of search result"
This should help with usability e.g. if n is large, users need to scroll down.

[2016-07-02 03:24] #407 closed

[2016-07-02 17:04] akumar03 commented on #478
It is at the following commit, which is the last commit on ermrest:
gpcr-dev::root[/home/isrddev/ermrest] git log
commit ff7f277a6b66746ef32fd2850a1dc45241a2d9d2
Author: Karl Czajkowski <...>
Date:   Tue Jun 28 17:58:47 2016 -0700

We have the dev-update script running regularly, but Alejandro and I suspect if it is working properly.

I re-provisioned dev on Friday by configuring the dev-update.sh

[2016-07-05 18:20] #484 closed

[2016-07-05 20:41] hongsudt commented on #402
@howdyjessie PR #439 reported a conflict...

[2016-07-05 21:59] robes opened #488 "fix ermrestjs dependency"
Chaise should depend on just the package or module file from ermrestjs and it should be expected by default here:

`../../ermrestjs/ermrest.js`

We could probably make this configurable or have a non-`DEBUG` mode that depends instead on the minified form of it `ermrest.min.js`.

[2016-07-05 22:13] #466 closed

[2016-07-06 00:15] karlcz commented on #402
@howdyjessie I commented on the PR again.

[2016-07-06 00:52] hongsudt commented on #46
closing this issue since we will be doing faceting differently in the recordset.

[2016-07-06 00:52] #46 closed

[2016-07-06 00:53] hongsudt commented on #45
track this on the recordset app feature.

[2016-07-06 00:53] #45 closed

[2016-07-06 00:56] hongsudt commented on #106
This app is going away. Will mark this as won't fix.

[2016-07-06 00:56] #106 closed

[2016-07-06 00:57] hongsudt commented on #256
Since this hasn't been worked on for a few months. I will close this issue and mark it as won't fix.

[2016-07-06 00:57] #256 closed

[2016-07-06 01:05] hongsudt commented on #478
@akumar03 can you check whether construct_deletion is ambiguous?

[2016-07-06 01:09] crisaless commented on #256
turns out it was a duplicate of #242 - which was fixed.

[2016-07-06 01:10] hongsudt commented on #457
Mark this as won't fix for now.. Repoen if Jill insists on changing the glyphs.

[2016-07-06 01:10] #457 closed

[2016-07-06 01:12] hongsudt commented on #68
@crisaless is this video done? Can we close the issue?

[2016-07-06 01:13] hongsudt commented on #406
@svoinea what's the status on this? What do I need to do to make them co-exist?

[2016-07-06 01:17] hongsudt commented on #446
I am closing this issue and put the content on the wiki instead.

[2016-07-06 01:17] #446 closed

[2016-07-06 01:20] hongsudt commented on #482
duplicate with #457.

Will close this issue for now and reopen if Jill insists after seeing the new release.

[2016-07-06 01:20] #482 closed

[2016-07-06 01:24] hongsudt commented on #404
Mark this as won't fix.. We are going to revise the url annotation for record2.

[2016-07-06 01:24] #404 closed

[2016-07-06 01:27] hongsudt commented on #275
Mark this as won't fix.

[2016-07-06 01:27] #275 closed

[2016-07-06 16:40] crisaless commented on #68
the facebase one is done.

[2016-07-06 16:40] #68 closed

[2016-07-06 19:07] akumar03 commented on #478
All the tables were created in public shemas in addition to individual schemas. I dropped the public schema and recreated it.  We need to review the etl scripts for source of the problem.

[2016-07-06 20:12] crisaless commented on #142
this is leading me down a rabbit hole of finding the best way to test for IE. right now it actually looks like the latest records page doesn't even load for IE9 or IE11 (the two VMs I've set up so far). Investigating more - but this may turn into a whole effort to make fixes for IE

[2016-07-07 16:28] crisaless opened #490 "Record page doesn't load in IE11"
Spun up a VM testing IE11 on Windows 7 - which is so far the most used flavor of IE visiting our sites and the version of chaise on dev.isrd.isi.edu has a serious bug that doesn't load the record page at all - it just displays the spinner. The error in the console reads:

TypeError: Object doesn't support property or method 'endsWith'
   at Anonymous function (https://data.gpcrconsortium.org/chais

[2016-07-07 16:48] crisaless commented on #142
Yup, big bug in chaise on IE11 where records page doesn't appear at all. https://github.com/informatics-isi-edu/chaise/issues/490

We recently decided to start supporting IE - so I'm keeping this open until the bug is fixed and I can see if the floating is working correctly.

[2016-07-07 18:01] karlcz opened #491 "Usability problem in recordedit column ignore behavior?"
When a column is marked to `ignore` only in edit context, it is completely hidden on the record-edit page. For my use case, the non-editable fields are often identifying information that cannot be changed for the record. Having this information hidden makes the whole edit UX confusing/risky as there is no obvious display showing what record is being edited!

I would have assumed that this app woul

[2016-07-07 18:13] hongsudt opened #492 "navbar: use chaise config for brand image and brand text"
This is currently being done in search app, but not the new navbar.

The new navbar doesn't look into the chaise config and if we need to change the branding on all apps, each app needs to define them separately.

[2016-07-07 18:15] hongsudt opened #493 "create a navbar.html prototype that override default navbar for facebase"
@RFSH please describe your plan here to make it customizable for different projects.

[2016-07-07 18:20] karlcz opened #494 "Editing record shows alert "Column 0 not found in table""
I tried to go to the record editing page for an existing record:

https://dev.isrd.isi.edu/chaise/recordedit/#1/legacy:dataset/id=263

And see a fatal error with alert: "Column 0 not found in table".

[2016-07-07 19:08] jrchudy commented on #494
It was an issue associated with the parse function and not changes a piece of code in the viewer app to use that structure. This can be tested [here](https://dev.isrd.isi.edu/~jchudy/chaise/recordedit/#1/legacy:dataset/id=263). Changes are in [this commit](https://github.com/informatics-isi-edu/chaise/commit/48299b8252561073452c394bfe1e41617860ac72).

Assigning back to @karlcz to make sure it is f

[2016-07-07 22:31] karlcz commented on #402
I confirmed this is working in master and am closing this issue.

[2016-07-07 22:31] #402 closed

[2016-07-07 22:50] karlcz commented on #494
Heh, I see that this now works and stops on the next alert about record editing being disabled. What a bunch of party-poopers.

[2016-07-07 22:50] #494 closed

[2016-07-07 23:50] howdyjessie commented on #480
This issue has been addressed in PR #496, which is now under review.

[2016-07-07 23:51] howdyjessie commented on #481
This issue has been addressed in PR #496, which is now under review.

[2016-07-07 23:51] howdyjessie commented on #483
This issue has been addressed in PR #496, which is now under review.

[2016-07-07 23:51] howdyjessie commented on #487
This issue has been addressed in PR #496, which is now under review.

[2016-07-08 00:49] jrchudy commented on #460
The table name is displayed properly using the `.displayname` function. This code is in PR #497. Assigning to @howdyjessie for review of code and functionality in the PR.

[2016-07-08 00:53] jrchudy commented on #463
The tooltip properly shows if there is a comment on the column. This code is in PR #497. Assigning to @howdyjessie for review of code and functionality in the PR.

[2016-07-08 17:51] RFSH commented on #493
Fixing #492 would give us the ability to customize the branding of navbar. However in some cases (Facebase in this case) we need to be able to customize the whole template of navbar.

One simple solution would be overriding [navbar.html](https://github.com/informatics-isi-edu/chaise/blob/master/common/templates/navbar.html) instead of overriding the whole index.html.in in each app. Following is th

[2016-07-08 18:24] #488 closed

[2016-07-08 18:25] karlcz commented on #443
@hongsudt maybe this should move to back-log or be closed and a different issue opened for future work?

[2016-07-08 18:32] #492 closed

[2016-07-08 18:51] robes commented on #493
We do need to resolve #266, but I don't think it changes this issue of branding, it just eliminates the redundancy of multiple index.html.in... which if you are up for it might be a good thing to take on as well.

Side note: Can you clarify what you mean by 'override' the navbar. Does that entail 'overwriting' the navbar? I think we currently have to overwrite the index.html.

At any rate, yes ove

[2016-07-08 19:05] RFSH commented on #493
@robes
Yes, I meant overwriting or having a more specific navbar (or any other template) for each projects that will be used instead of the common template.

Having one common index.html.in for different applications can ease the process of customizing or overwriting.

Since in Facebase we are adding several html elements to the navbar, I can not think of a better solution other than overwriting f

[2016-07-08 20:31] hongsudt commented on #493
Regarding #266, we were going to wait until Alejandro and cris fix the
deployment path in the db to be consistent with the other deployments first
before working on it..

On Fri, Jul 8, 2016 at 12:05 PM, Aref Shafaei <notifications@github.com>
wrote:

[2016-07-09 00:16] karlcz opened #498 "Recordedit shows existing null date as epoch zero (1969-12-31) instead of blank"
When using recordedit to edit records that have optional date columns, an existing null date field is displayed as  "0 seconds from unix epoch" date value, e.g. `1969-12-31` instead of showing a blank value.

If the user doesn't notice this and submits a revision, the null will get replaced with that bogus value instead of remaining null as before.

- Description updated 2016-08-02 after re-testin

[2016-07-11 17:42] crisaless opened #499 "Internet Explorer broken image bug + other tweaks"
IE shows a broken image for the empty image tag in the header. A couple of other issues showed up in the debugger which doesn't seem to break anything but are easy fixes.
- [ ] Image tag in header is empty unless the config adds a logo file - most browsers ignore it but IE shows an empty image which looks ugly
- [ ] IE shows border around empty image tag
- [ ] Fix non-closing <span> tag for the "C

[2016-07-12 05:33] chiragsanghvi opened #500 "Required validation for foreign key columns fails when left blank."
@howdyjessie @jrchudy

When you try creating an entity which has a foreign key and leave it blank while submitting, you get an Ermrest API error

[code]

![data entry app](https://cloud.githubusercontent.com/assets/1658152/16756077/6c239544-47b7-11e6-8a2a-e12c48203af9.png)

The UI validation doesn't kick in when you submit even though it is mandatory.

[2016-07-12 17:56] crisaless commented on #493
I'm working this out now in facebase-www - I think the only other common template we would need would be the footer - not only for branding but also to include some javascript for the navigation dropdowns.

as for possibly making all of this work through configuration alone - the only things missing for FaceBase are the navigation, the "Sign Up" link, and the footer branding. The only tricky one o

[2016-07-12 18:27] karlcz commented on #493
I would expect the modularity to be at the HTML/JS level, after the Jekyll build step consumes the YAML and generates the actual static content.  I think we'd just want that static content to be inserted into Chaise via a configured include statement, iframe, or similar...

[2016-07-12 18:32] crisaless commented on #493
What needs to change in the facebase-userlinks.js to work with the current chaise auth? also do we even need this on the chaise side?

https://github.com/informatics-isi-edu/facebase-www/blob/master/www/js/facebase-userlinks.js

[2016-07-12 18:48] RFSH commented on #493
I don't think we need [facebase-userlinks.js](https://github.com/informatics-isi-edu/facebase-www/blob/master/www/js/facebase-userlinks.js) and the whole authentication part is done by chaise.

[2016-07-12 18:49] crisaless commented on #493
easy to generate static content for navigation - jekyll would pull in the include to an html file at /data/common/templates/navigation.html and then use a config parameter for the path

Footer would be a little more complicated for FaceBase. It could use the same branding color. It uses three columns with logo and extra Contact, Privacy links.

Would be simpler to just pull it in as a template to

[2016-07-12 18:49] hongsudt opened #501 "Reference Skeleton to get Page and Tuple"
This task focuses on getting the Record2 data without any annotation (e.g. contextualization). Here is a list of methods that should be implemented:
[code]

[2016-07-12 18:49] hongsudt commented on #501
Issue moved to [informatics-isi-edu/ermrestjs #79](https://github.com/informatics-isi-edu/ermrestjs/issues/79) via [**ZenHub**](https://www.zenhub.com/)

[2016-07-12 18:49] #501 closed

[2016-07-12 18:56] crisaless commented on #493
@RFSH - cool - but on the static side of the website, we still need to support login/logout - in that case, what files do we need to pull in from chaise to enable authentication? that's what facebase-userlinks.js was for, but using a separate file got out of sync quickly.

[2016-07-12 20:36] RFSH commented on #493
@crisaless oh, you're right. I completely forgot the static side. Authentication functions are defined in [here](https://github.com/informatics-isi-edu/chaise/blob/master/common/authen.js) but these are in angularjs scope. Should we make some equivalent version of them outside angular to be used by Facebase?

[2016-07-12 20:41] crisaless commented on #493
if we made equivalent version for static side it would be great if it could be done in a way that reuses authn.js so that we don't have to constantly keep the static version sync'd manually.

Is it possible to use some agnostic url to redirect the user to chaise login?

[2016-07-12 20:50] howdyjessie commented on #463
PR #497 has been merged, closing this issue now.

[2016-07-12 20:50] #463 closed

[2016-07-12 20:50] howdyjessie commented on #460
PR #497 has been merged, closing this issue now.

[2016-07-12 20:50] #460 closed

[2016-07-12 23:09] crisaless commented on #493
i've re-written and re-orged some of the jekyll code. now there's a navbar.html template in /data/common/templates/

i still have the custom index.html.in files under /data/  (for login/, record/ and search) - but if chaise is set up now to use the navbar template, I should just take all of those out, right? the footer will still be default but that's fine for now.

[2016-07-12 23:15] RFSH commented on #493
The current search and record apps are not using navbar template. So I think we should keep the index.html.in until we change those apps to use the navbar template. The new developed applications (recordset, recordedit, etc.) are using this template.

[2016-07-13 00:12] crisaless commented on #493
the login/logout code is now in there (on dev) but it doesn't look like it's being processed by angular.

[2016-07-13 02:10] karlcz commented on #298
@hongsudt   The `/authn/` API on dev-isrd is working now, so someone can start working on making Chaise talk to it instead of `/ermrest/authn/`...

[2016-07-13 18:52] crisaless commented on #493
I've got login working on dev.facebase.org/data/search/

log out works, except when you click the second option to log out (Continue to data/logout) it throws a 404.
https://auth.globus.org/data/logout

[2016-07-13 18:59] svoinea commented on #493
I have just created an issue (#41) on webauthn for it.

[2016-07-13 21:12] chiragsanghvi opened #502 "When adding a row/column to the form for boolean fields, the most recently added row/column should be duplicated and appended to the form."
@howdyjessie @jrchudy

This doesn't works for boolean field if you select an empty value in the first column and then duplicate it.

For example, if you select an **empty** value for the boolean field `is luxurious` for a record and then duplicate it, you will find **false** set for the `is luxurious` field for the second row.

![data entry app](https://cloud.githubusercontent.com/assets/1658152/1

[2016-07-14 18:37] chiragsanghvi opened #503 "Recordedit sets Boolean fields as "" instead of null."
@jrchudy @robes @howdyjessie

**Scenario**:

1. Open  this [RecordAdd](https://dev.isrd.isi.edu/chaise/recordedit/#1337/product:accommodation) page.
2. Open browser console and run following script to enable edit
[code]
2. Open the boolean dropdown which is not mandatory
3. Select the empty("") option
4. Fill all other required fields
5. Press Submit Data.

When you select the empty value for a bo

[2016-07-14 18:54] chiragsanghvi opened #504 "Page is not scrollable once you press delete button to render Bootstrap modal"
@howdyjessie @jrchudy @robes

**Scenario**:
1. Open  this [RecordAdd](https://dev.isrd.isi.edu/chaise/recordedit/#1337/product:accommodation) page.
2. Open browser console and run following script to enable edit

[code]
1. Click on _add (+)_ button.
2. Now click on _delete_ button. This will show you a confirmation modal.
3. Click on either _cancel_ or _delete_ button.
4. Now try scrolling down.

[2016-07-14 23:47] svoinea commented on #406
On `rbk-dev`, I have:

  - "moved" the content of the `Resource2` schema under the `Resource` schema
  - dropped the `Resource2` schema
  - updated `schema_name='Resource' where schema_name='Resource2'` in the `_ermrest.model_table_annotation` and `_ermrest.model_column_annotation` tables

Seems to work w/o doing any code modifications.

[2016-07-18 17:27] #443 closed

[2016-07-18 19:02] bugacov commented on #398
this seems to be ok on prod. closing the issue

[2016-07-18 19:02] #398 closed

[2016-07-18 19:03] #436 closed

[2016-07-18 19:03] #435 closed

[2016-07-19 23:46] #431 closed

[2016-07-21 02:25] hongsudt commented on #461
@shinyichen is this ready to be reviewed?

[2016-07-21 02:29] hongsudt commented on #344
This is no longer relevant due to annotation on column name transformation.

[2016-07-21 02:29] #344 closed

[2016-07-21 02:30] hongsudt commented on #464
@shinyichen Do we still have this problem?

[2016-07-21 23:55] #376 closed

[2016-07-21 23:58] shinyichen opened #510 "Update recordset to use the common ErrorService"
Currently recordset has its own error alert UI, which is inconsistent with the rest of the apps.

[2016-07-22 01:03] #465 closed

[2016-07-22 17:33] karlcz commented on #298
Can we schedule this small task soon?

[2016-07-22 17:41] karlcz commented on #258
This relates to #298 as well.

[2016-07-22 21:06] hongsudt opened #511 "dev.isrd static home page that contains links to chaise apps"
@jrchudy can you fill in the url for the rest of the app
- [ ] search: https://dev.isrd.isi.edu/chaise/search
- [ ] record: https://dev.isrd.isi.edu/chaise/record/#1/legacy:dataset/id=269
- [ ] record2: https://dev.isrd.isi.edu/chaise/record-two/#1/legacy:dataset/id=269
- [ ] recordedit: https://synapse-dev.isrd.isi.edu/chaise/recordedit/#2/Zebrafish:Subject
- [ ] recordset: https://dev.isrd.isi.e

[2016-07-22 21:34] jrchudy commented on #511
Some caveats:
**Viewer**
If you navigate to https://dev.rebuildingakidney.org/chaise/search, you can pick any of the records that appear in search and they should redirect to `viewer`. If you are feeling curious, https://dev.rebuildingakidney.org/chaise/viewer/#1/rbk:image/id=1, has a large amount of annotations from testing and will probably have the best set of data for the latest search feature

[2016-07-22 22:18] jrchudy opened #512 "Recordedit gives an error on dev machines for editting"
When the chaise property, `editRecord` is not defined, there is a notification that appears for `recordedit` stating that editing records is currently not available. By default, if the property is undefined, we don't want to restrict what can be tested in dev environments. In staging or production, this chaise config property **must** be defined or it will behave as if the property were true.

[2016-07-22 22:21] jrchudy commented on #512
Changes were made in the latest commit: 3662cfa

[2016-07-22 22:21] #512 closed

[2016-07-22 22:48] crisaless commented on #511
Initial landing page is up: https://dev.isrd.isi.edu/

FYI, this design is based on the design for the public ISRD site that will someday go live - the sidebar is for navigation - it could be empty for this page, but I added a few common ISRD dev links (GitHub, Slack, etc). Open to suggestions for what could go there or just leave it empty.

[2016-07-23 00:01] jrchudy commented on #511
Sorry @crisaless, one of the links was to my private dev folder. The one for recordset. Use this one instead:
https://dev.isrd.isi.edu/chaise/recordset/#1/legacy:dataset/id::gt::100&id::lt::13000@sort(summary)

It's just omitting the `/~jchudy` part.

I think a note for the viewer should be mentioned on that page. When you go to viewer, nothing shows up because your session isn't automatically gra

[2016-07-25 16:28] crisaless commented on #142
I noticed the issue for fixing IE records page has been relegated to Backlog. @hongsudt - do you want to keep this in review until it can be confirmed to work for IE? As it is, it works on other browsers.

[2016-07-25 16:35] hongsudt commented on #142
what's the traffic ratio coming from IE9 and 11 browsers? Can we tell
people to facebase users to use other browsers?

On Mon, Jul 25, 2016 at 9:28 AM, Cris Williams <notifications@github.com>
wrote:

[2016-07-25 17:20] hongsudt commented on #478
@akumar03 Is this still a problem or can we can close this issue now?

[2016-07-25 17:22] hongsudt commented on #461
@karlcz I think this has been fixed, so I assigned you to review.

[2016-07-25 20:26] crisaless commented on #511
The latest version is up - I added various notes from this issue. I also added indicators when the link takes you to another project's site but it may not be clear enough, just let me know.

[2016-07-25 20:51] hongsudt commented on #142
@crisaless @chiragsanghvi just fixed this issue (missing endWith function on IE). Can you review?

[2016-07-25 22:20] #480 closed

[2016-07-25 22:20] #481 closed

[2016-07-25 22:20] #483 closed

[2016-07-25 22:20] #487 closed

[2016-07-25 22:24] hongsudt opened #514 "viewer: performance issue"
I found the app not very responsive especially with the toggle of the hide/show annotations on an image with 20+ annotations. The ones with 100+ are extremely slow..

[2016-07-25 22:31] hongsudt commented on #511
The static page looks good. I am closing the issue.

[2016-07-25 22:31] #511 closed

[2016-07-26 17:54] karlcz opened #515 "Recordset shows no results"
Recordset on our CI servers is showing a blank page when it should be showing results.

E.g.  https://dev.isrd.isi.edu/chaise/recordset/#1/legacy:dataset

[2016-07-26 17:54] karlcz commented on #461
I did a test on synapse-dev and doing a multi-insert still sends me to recordset without any filters so this is *not* done.

[2016-07-26 18:06] jrchudy commented on #515
When I navigate to the following address: https://dev.isrd.isi.edu/chaise/recordset/#1/legacy:dataset/id::gt::100&id::lt::13000@sort(summary)
data does appear for me properly. This must be linked to there be no filters defined.

[2016-07-26 19:18] crisaless commented on #142
Confirmed that on dev.isrd.isi.edu/, the records page and image gallery float display correctly for IE11/Windows7, IE11/Win8.1, IE10/Win7, IE9/Win7

Just an FYI - it's broken on IE8/Win7 but so is the rest of chaise. We're supporting IE9 and higher, though so I don't think we need to worry about it.

[2016-07-26 19:18] #142 closed

[2016-07-27 21:18] karlcz opened #516 "Inconsistent navbar style record app"
The record app shows blue anchor text for the "navbarBrand" in top-left while the recordset and recordedit show white anchor text.

The record app also shows blue user identity while the other two show yellow user identity.

They all show blue "Log Out".

I see all this on multiple dev systems using Firefox.

[2016-07-29 00:09] chiragsanghvi commented on #515
@hongsudt @karlcz  You can test the fix [here](https://dev.isrd.isi.edu/~chirag/chaise/recordset/#1/legacy:dataset)

[2016-07-29 20:39] hongsudt opened #517 "by default, display related entity in a tabular format"
- [x] use styling similar to record table at top of page
- [x] row count next to related table displayname
- [x] accordion click for tables

[2016-07-29 20:43] hongsudt opened #518 "add annotation on whether to display/not display null values"

[2016-07-29 20:57] hongsudt opened #519 "null value should be displayed appropriately"
By default, I think it should be an empty string.

[2016-07-29 20:58] hongsudt opened #520 "put consistent styling to record 2"

[2016-07-29 21:26] karlcz commented on #518
See draft in commit ecd10e796e5c27815635423a8da1f94bc41441e3

[2016-07-29 22:02] howdyjessie commented on #461
Reassigned to @shinyichen.

[2016-07-29 22:03] jrchudy commented on #515
Closing this issue.

[2016-07-29 22:03] #515 closed

[2016-08-01 17:14] hongsudt commented on #490
@crisaless please review.

[2016-08-01 17:17] hongsudt commented on #370
A duplicate of #474.

[2016-08-01 17:17] #370 closed

[2016-08-01 17:22] hongsudt commented on #471
Record2 should display the columns in the order stored in the Reference._columns.

[2016-08-01 17:24] hongsudt commented on #516
@crisaless Should this task be assigned to you or @shinyichen ?

[2016-08-01 17:28] hongsudt commented on #420
duplicate of #369

[2016-08-01 17:28] #420 closed

[2016-08-01 21:24] crisaless commented on #490
fixed and looking good!

[2016-08-01 21:24] #490 closed

[2016-08-01 22:23] hongsudt opened #522 "search: support markdown column type"
I have added a customed column type "markdown" to dev.isrd and rbk-dev. Upon going to the search page "Protocol" which uses a markdown column type, the search throws an error for "type not found".

[2016-08-01 22:36] svoinea commented on #522
Fixed through commit e6461880ce43289aaa819339de66bcc7fcbfd5ec

[2016-08-01 23:13] howdyjessie commented on #461
@karlcz I just tested and merged @shinyichen's PR #521, which should redirect properly now. Can you test on synapse-dev?

[2016-08-01 23:34] karlcz commented on #461
works for me...

[2016-08-01 23:34] #461 closed

[2016-08-01 23:45] karlcz commented on #503
See also #498 as I think there is a more general problem with nulls getting turned into some other empty/zero value

[2016-08-01 23:53] karlcz commented on #474
This is drafted in the ermrest/master  user-doc/annotation.md as the `show_nulls` field in 2015:display

[2016-08-01 23:55] karlcz commented on #519
See also 2015:display `show_nulls` instructions.

[2016-08-01 23:59] karlcz commented on #517
Why does this say "by default"?  I thought tabular display is the *only* way we're going to do it?

[2016-08-02 17:22] hongsudt commented on #522
@svoinea any unknown type should be treated as text instead of throw an error.. Is this the case now?

[2016-08-02 17:25] hongsudt commented on #345
I am closing this since it will be done by the ermrestjs Reference.related functionality.

[2016-08-02 17:25] #345 closed

[2016-08-02 17:29] hongsudt commented on #519
@howdyjessie this should be handled as part of the pretty print functionality.

[2016-08-02 17:30] hongsudt opened #523 "recordset: refactor the app to use Reference API"

[2016-08-02 17:51] bugacov opened #524 "Slider facets not working on GPCR dev"
Try going to:

https://dev.gpcrconsortium.org/chaise/search/#1/gpcr_browser:target_gui?facets=(target_gui:site::eq::USC)&layout=table&page=1

If you select any of the slider facets like Constructs Count or Total Expressing Percent, the filtering by is not working.

Chaise is on hourly updates and currently on commit 7403b9e9530adfab6001012bb71b7487ab201a51 in GPCR DEV machine.

[2016-08-02 18:00] hongsudt commented on #524
@svoinea is this a styling issue or also a search issue?

[2016-08-02 18:48] karlcz opened #525 "Recordedit doesn't validate foreign key fields for not-null prior to submission"
On columns with nullok=false, an actual ERMrest 409 Conflict error is shown when submitting a form that has a foreign-key based dropdown field left unset.  Other columns like date fields seem to be caught earlier by pre-validation and do not include an ERMrest error message.

Since the ERMrest error is pretty ugly, I think we should consistently pre-validate and give a simpler error for all nullok

[2016-08-02 19:05] karlcz commented on #498
I'm not sure if I made a mistake observing this, or if a fix was done already.  I now see that I can delete the date field and hit submit and end up with a NULL value in ERMrest as desired.

However, on reopening the record with recordedit, it again *displays* the "0 seconds from unix epoch" date value `1969-12-31` instead of showing a blank/null value.  This will then submit bad data the next tim

[2016-08-02 19:11] howdyjessie commented on #498
@karlcz I'm not aware intentional efforts to fix this bug, but seeing as there's no commit activity associated with this issue, a revision of the description should suffice.

[2016-08-02 19:13] karlcz commented on #464
I think this is fixed in master. It now supports `=` consistently in URL parsing and permalink, and no longer accepts `::eq::` at all.

[2016-08-02 19:13] #464 closed

[2016-08-02 19:15] svoinea commented on #524
@bugacov @hongsudt : Most likely, the hourly updates are not working.

Go on that machine to my public_html directory and you'll see it's working (
https://dev.gpcrconsortium.org/~serban/chaise/search/#1/gpcr_browser:target_gui?facets=(target_gui:site::eq::USC)&layout=table&page=1).

[2016-08-02 19:25] karlcz commented on #380
I think this should be made configurable (and eventually user-toggled if we ever do user display preferences).  But if it's just going to be ignored here, we should probably close it as wontfix.

[2016-08-02 19:30] karlcz commented on #340
The app now displays a yellow banner with an error instead of just freezing. However, in the case where no schema qualifier is supplied, it prints a funny message which I assume means that it decided the schema name was an empty string:

`Schema not found in catalog.`

compare to what I see with a bad schema name:

`Schema Foo not found in catalog.`

[2016-08-02 19:53] crisaless commented on #524
I do notice a similar bug in dev.rbk (try Number of Annotations or Number of Contents) - but not on dev.facebase.org (try Start Position)

[2016-08-02 19:58] carlkesselman commented on #524
Why would the hourly updates not be working ?

Carl

Sent from my iPhone

On Aug 2, 2016, at 12:16 PM, svoinea <notifications@github.com<mailto:notifications@github.com>> wrote:

@bugacov<https://github.com/bugacov> @hongsudt<https://github.com/hongsudt> : Most likely, the hourly updates are not working.

Go on that machine to my public_html directory and you'll see it's working (
https://dev.gpcr

[2016-08-03 01:12] crisaless commented on #516
i'll assign it to myself - let me know if you need this quickly though

[2016-08-03 17:32] hongsudt commented on #522
This is now working on rbk-dev. Will close.

[2016-08-03 17:32] #522 closed

[2016-08-03 17:38] hongsudt opened #528 "search: list non-association tables across catalog"
Currently, it is restricted the list to only those within the same schema

[2016-08-03 18:52] hongsudt opened #529 "refactor login/logut/get_session to be non-angulra"
So that the same code can be used for angular and non-angular app.

[2016-08-03 23:01] svoinea commented on #528
Done in the commit 12a696131fd390e4f8a53eba2504753c51b4014f

[2016-08-04 17:49] bugacov commented on #524
Yeah. Just looked at this with Serban and his copy works so the installation part of the hourly update script must be failing

[2016-08-04 18:00] carlkesselman commented on #524
Ok, so obviously, we need to fix this.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina de

[2016-08-04 18:00] karlcz commented on #524
according to the log file you are missing some dependencies that cause webauthn_install to fail, so it never proceeds to later install steps including ermrest, ermrestjs, hatrac, gpcr_www, and plotly.

try running `yum install httpd-devel json-c json-c-devel` to manually fill in the missing webauthn dependencies.

[2016-08-04 18:14] carlkesselman commented on #524
Alejendro/Anoop….

If there is a failure occurring during an install, shouldn’t the recipe detect this and let us know?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medi

[2016-08-04 22:49] karlcz opened #530 "Blank recordedit app when client is forbidden to access ermrest"
A user who wasn't enrolled in the required group went to a recordedit URL and says the app is just stuck showing the blank record entry page with no model-driven form content and no error message that access is forbidden.

It is the initial fetch of the catalog/1/schema resource that returns 403 forbidden.

This is on a staging system running master commit 4f120d267e71b91b1826c93d4a736da913af4ac6

[2016-08-04 23:09] hongsudt commented on #530
can you try to replicate it on dev?

On Thu, Aug 4, 2016 at 3:49 PM, Karl Czajkowski <notifications@github.com>
wrote:

[2016-08-04 23:12] hongsudt commented on #498
@chiragsanghvi can you take a look at this?

[2016-08-04 23:15] hongsudt commented on #503
@chiragsanghvi can you look into this as well?

[2016-08-04 23:18] chiragsanghvi commented on #503
Yes sure

[2016-08-05 01:04] hongsudt commented on #528
This feature is working on rbk-dev and staging.

[2016-08-05 01:04] #528 closed

[2016-08-05 01:07] hongsudt commented on #524
It seems like this problem is caused by the failed hourly update. Will close this now.

[2016-08-05 01:07] #524 closed

[2016-08-05 01:10] carlkesselman commented on #524
Can we add an issue wrt the update failing?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Mari

[2016-08-05 01:23] hongsudt commented on #524
Done. A new issue under gpcr-project has been created.

On Thu, Aug 4, 2016 at 6:10 PM, Carl Kesselman <notifications@github.com>
wrote:

[2016-08-08 17:36] hongsudt opened #533 "record 2 end-to-end test skeleton"

[2016-08-08 20:24] hongsudt commented on #472
The app should render html vs. non-html content appropriately.

[2016-08-09 22:05] jrchudy commented on #318
@hongsudt: Should this issue be closed since PR #489 was merged into master?

[2016-08-09 22:08] jrchudy commented on #517
It was discussed that these displays are going to be tabular displays but can be changed to other sorts of charts or graphs.

[2016-08-10 18:29] karlcz commented on #503
I confirmed that the boolean case works as expected now, sending a null to ermrest when the blank boolean value is chosen.

[2016-08-10 18:29] #503 closed

[2016-08-10 18:31] karlcz commented on #502
I confirmed that the new row copies the previous record's boolean state properly now.

[2016-08-10 18:31] #502 closed

[2016-08-10 18:33] karlcz commented on #498
I confirmed that the null date is now preserved in the entry field when opening an existing record to edit it.

[2016-08-10 18:33] #498 closed

[2016-08-11 19:11] hongsudt opened #535 "Combining js resources into packages"
to reduce # of http requests.

[2016-08-11 21:39] hongsudt commented on #406
I am closing this issue as it is no longer relevant.

[2016-08-11 21:39] #406 closed

[2016-08-11 21:40] hongsudt commented on #518
The annotation has been specified. Close this issue now.

[2016-08-11 21:40] #518 closed

[2016-08-12 17:24] hongsudt commented on #474
This issue is dependent on informatics-isi-edu/ermrestjs#152.

[2016-08-12 17:34] hongsudt commented on #86
I am closing this as the topic is covered by other issues.

[2016-08-12 17:34] #86 closed

[2016-08-12 17:36] hongsudt opened #536 "end-to-end test skeleton for record 2"
Some old multi-fcs files referred to construct id or biomass id that do not exist in our database. For these, we should just mark them as won't fix instead of keep trying.

[2016-08-12 17:47] hongsudt commented on #478
Since nobody replied, I am going to assume this has been fixed and close the issue.

[2016-08-12 17:47] #478 closed

[2016-08-12 18:34] chiragsanghvi commented on #536
@hongsudt isn't this a duplicate of #533  ?

[2016-08-12 20:54] hongsudt commented on #536
That's wierd. I didn't see that task under in-progrss that's why I generated it.. Ok. Will close this now.

[2016-08-12 20:54] #536 closed

[2016-08-12 20:56] hongsudt commented on #533
Here is a list of feedback that we got during the tutorial:
* common functionality tests across multiple pages e.g. login, branding, navbar
* support of multiple schemas
* doc for
  - running individual cases (for developer to run their tests)
  - running it as a suite on travisci
* In the makefile, force all the dependencies to be there, otherwise, fail.
* expand the test suites to run on multipl

[2016-08-12 20:59] howdyjessie commented on #458
This issue is under review at PR #534.

[2016-08-12 21:00] howdyjessie commented on #471
This issue is under review at PR #534.

[2016-08-12 21:00] howdyjessie commented on #472
This issue is under review at PR #534.

[2016-08-12 21:00] howdyjessie commented on #520
This issue is under review at PR #534.

[2016-08-12 21:13] hongsudt commented on #519
This issue is dependent on informatics-isi-edu/ermrestjs#152.

The app then should check the Tuple.values. If the column value is null, then that column should not be printed, otherwise, print whatever is in that value. The ermrestjs will deal with setting the right null display for the context.

[2016-08-12 21:14] hongsudt commented on #474
This will be handled in #519. So I am closing this issue now.

[2016-08-12 21:14] #474 closed

[2016-08-13 01:02] hongsudt opened #537 "common module for dealing with default catalog and table"
We should have a Chaise common module, defined as an Angular service, that converts the _Chaise URL_ into the appropriate _ERMrest URL_.

It should determine whether to use a default catalog/table or throw an error. Here are possible urls:
* `chaise/app-name` (e.g. no catalog is specified) : throws an error if
  * default catalog is not specified in the chaise config
  * default table is not speci

[2016-08-13 01:29] hongsudt commented on #311
This issue depends on #537

[2016-08-13 01:29] hongsudt commented on #442
This issue depends on #537.

[2016-08-15 22:11] howdyjessie commented on #520
Since the PR has been merged, I'm closing this issue.

[2016-08-15 22:11] #520 closed

[2016-08-15 22:11] howdyjessie commented on #472
Since the PR has been merged, I'm closing this issue.

[2016-08-15 22:11] #472 closed

[2016-08-15 22:11] howdyjessie commented on #471
Since the PR has been merged, I'm closing this issue.

[2016-08-15 22:11] #471 closed

[2016-08-15 22:11] howdyjessie commented on #458
Since the PR has been merged, I'm closing this issue.

[2016-08-15 22:11] #458 closed

[2016-08-17 00:18] hongsudt commented on #533
@chiragsanghvi can you check those in the above list that have been done. Maybe we can generate different issues for the rest.

[2016-08-17 00:23] hongsudt commented on #377
Issue moved to [informatics-isi-edu/ermrestjs #159](https://github.com/informatics-isi-edu/ermrestjs/issues/159) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-17 00:23] #377 closed

[2016-08-17 00:46] hongsudt opened #538 "Figure out the catalog leakage on dev.isrd"

[2016-08-17 00:58] hongsudt opened #539 "add the edit button on record2"

[2016-08-18 18:25] howdyjessie commented on #519
This issue is currently blocked/paused due to discrepancies in how we specify contexts for annotations (i.e. `"record"` and `"detailed"` both refer to entity-level apps).

Currently the `show_nulls` property in the `2015:display` annotation uses the `detailed` context to determine a column's `formatvalue` when that column has a `null` value. In Record 2, however, the app uses `Reference.contextual

[2016-08-18 18:53] RFSH commented on #519
I created the [pull request](https://github.com/informatics-isi-edu/ermrest/pull/95)

[2016-08-19 00:57] jrchudy commented on #517
PR #527 addresses this issue.

[2016-08-19 00:57] #517 closed

[2016-08-22 17:32] jrchudy commented on #318
Closing because #489 was merged and we have included test development as part of our dev cycle.

[2016-08-22 17:32] #318 closed

[2016-08-22 21:25] shinyichen opened #540 "Use common table directive for recordset tables"

[2016-08-22 22:13] hongsudt opened #541 "pass in default values to recordedit urls"

[2016-08-22 22:55] robes opened #542 "Configurable sign up link in navbar"
We have a configurable Login link in the Chaise navbar but we do not have a Sign up link.

[2016-08-22 23:32] hongsudt opened #543 "add simple support for dropdown menus on navbar"
This should be done for the following apps:
- [x] search
- [x] common navbar
- [x] record

We could start with 2 drop-down list:
* search
* create

Within each drop-down list will be deployment specific configuration that links to specific tables.

[2016-08-22 23:33] hongsudt commented on #405
I am closing this issue since it is already covered in the markdown template.

[2016-08-22 23:33] #405 closed

[2016-08-22 23:33] jrchudy opened #544 "Rename local variable `catalogID` to `catalogId`"
We use camel case throughout the application and I keep seeing this gem show up in different places in chaise. This affects viewer, recordedit, recordset, and the common folder.

[2016-08-23 01:02] hongsudt commented on #413
@mikedarcy is this still an issue? If not, please close the issue.

[2016-08-23 01:56] #413 closed

[2016-08-23 04:24] hongsudt opened #545 "search: 409 conflict when faceting a timestamp or timestamptz column"
ERROR: 409
I got the following error message when I tried to facet based on a timestamp or timestamptz column. Please fix.

[code]

[2016-08-23 18:00] svoinea commented on #545
@hongsudt In order to debug, please provide details where does it happen and the scenario used.

[2016-08-23 23:58] jrchudy commented on #442
This is handled in PR #548.

[2016-08-23 23:59] howdyjessie commented on #519
This has been addressed in PR #547.

[2016-08-23 23:59] #519 closed

[2016-08-24 01:56] hongsudt opened #549 "add a new or create button"

[2016-08-24 18:53] howdyjessie opened #550 "Refactor spinner gif"
We use the same code to display the spinner gif in our apps. It should be moved to the `common/` folder in the form of a new spinner directive.

[code]

[2016-08-24 19:12] jrchudy commented on #442
PR #548 has been merged, closing this issue.

[2016-08-24 19:12] #442 closed

[2016-08-24 19:13] jrchudy commented on #537
PR #548 merged. Closing this issue.

[2016-08-24 19:13] #537 closed

[2016-08-24 19:15] jrchudy commented on #311
We decided to have schema and table be defined by the `defaultTables` chaise config parameter. This was written as a common module for every app that is going to use the new `Reference` object from ermrestJS. This was handled in PR #548. Closing this issue.

[2016-08-24 19:15] #311 closed

[2016-08-24 20:35] #510 closed

[2016-08-24 20:35] #523 closed

[2016-08-24 20:40] karlcz opened #551 "Recordedit submit button should disable while submission is in progress"
A user reported that there was a delay during creation of a new record and he hit submit twice, resulting in duplicate entries in the table.  When the first submission click is registered it should:
1. Disable the button so duplicate clicks are not possible
2. Visually indicate that something is happening, e.g. visually disable button and/or show spinner or other "submitting..." type of modal.

[2016-08-24 20:43] karlcz opened #552 "Need entity delete button"
Users need to be able to delete rows.

This could be some combination of:
1. Record app delete button alongside edit button
2. Recordedit app delete record button alongside submit
[code]

[2016-08-24 21:36] hongsudt opened #553 "Permanent link for record2"
See comments in #476

[2016-08-24 21:38] hongsudt commented on #538
@karlcz it seems like there is no more catalog leakage. Should we close this issue?

[2016-08-24 21:42] #279 closed

[2016-08-24 21:44] hongsudt commented on #545
This is on dev@gpcr. Experiment table has a creation_timestamp which is defined as a timestamptz. I hid it from faceting but you could undo this to debug.

[2016-08-24 21:46] hongsudt commented on #456
I am closing this epic since the round 1 is done.

[2016-08-24 21:46] #456 closed

[2016-08-24 21:59] karlcz commented on #538
Issue moved to [informatics-isi-edu/division #99](https://github.com/informatics-isi-edu/division/issues/99) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-24 21:59] #538 closed

[2016-08-24 22:08] hongsudt opened #554 "remove related enties that have 0 rows"

[2016-08-24 22:09] hongsudt opened #555 "add +/- to related entries"

[2016-08-24 22:10] hongsudt opened #556 "check styling inconsistency across browsers"
There is non-scrollable horizontal scroll bar on firefox, but not on chrome.

[2016-08-24 22:41] hongsudt opened #557 "Support 2016 App Links annotation"
This annotation is needed to go from search/recordset to different apps e.g. viewers vs. record2.

@robes my thought is to have this set as an attribute in the reference and let the app uses it as appropriate. Make sense?

[2016-08-24 23:04] robes commented on #557
I'm not convinced about this annotation. At some level its probably good to have but the details of it really need review.

[2016-08-24 23:19] howdyjessie opened #558 "Display columns with HTML values as HTML"
Each value in a tuple returned from ermrestjs should have a `isHTML` boolean flag. If `isHTML` is true, display that value as HTML content.

This is dependent on informatics-isi-edu/ermrestjs#163.

[2016-08-25 00:18] hongsudt commented on #557
I agree on simplifying the syntax. Here is what I am suggesting.

* renaming record link to "2016 Link"  with tag `tag:isrd.isi.edu,2016:link`
* Json payload : `{ context : app_name, ... }` where app_name is one of the following
  - `tag:isrd.isi.edu,2016:chaise:record`,
  - `tag:isrd.isi.edu,2016:chaise:record-two`,
  - `tag:isrd.isi.edu,2016:chaise:viewer`,
  - `tag:isrd.isi.edu,2016:chaise:sear

[2016-08-25 18:52] svoinea commented on #545
@hongsudt I have unhidden the column. The error as described above can not be recreated.

Looking at the table, it has 4 rows. There is a row having the NULL value for the `Creation_Timestamp` column; all the others have the same value `2016-08-22 21:25:38.479892-07`.

I have detected based on this example, that for timestamps, as they are cast to dates, the maximum value needs to be incremented w

[2016-08-25 19:41] #533 closed

[2016-08-26 17:18] hongsudt opened #561 "recordset: use the right context for displaying resultset."

[2016-08-26 17:22] hongsudt commented on #553
Please take a look at what @shinyichen did for recordset.

[2016-08-26 21:05] howdyjessie commented on #558
PR #560 has been merged.

[2016-08-26 21:05] #558 closed

[2016-08-26 21:40] shinyichen opened #562 "HTML Formatting in recordTable directive"
Use HTML formatting if row value is html.

[2016-08-26 23:52] #540 closed

[2016-08-29 20:41] hongsudt commented on #543
From the lunch discussion, we decided to use a json object to config the navbar menu options:
[code]

[2016-08-29 21:10] hongsudt opened #563 "search: support the recordedit url syntax for showing multi-row insertion result"
Right now, recordedit directs users to recordset if multiple rows of records were submitted. I want this link to be configuration. We have defined a new annotation for this  (2016 Link), but for now this can just be a simple chaise config.

Note: For a deployment that uses Search, it doesn't make sense to direct users to recordset.

[2016-08-29 21:20] karlcz commented on #563
Sending it to the search app will be a bit of pain since it has a very different URL structure for the query constraints needed to show just specific newly created entities...

[2016-08-29 22:43] robes commented on #543
Shouldn't the navbar be configured per catalog rather than "deployment specific"?

[2016-08-29 23:20] hongsudt commented on #543
From a user' s perspective, I don't think I would care where the data is from, as long as it is navigable. Also I expect navbar/menu to be fixed. I think changing the menu options based on the catalog will cause confusion as the catalog concept is hidden to the users.

[2016-08-29 23:39] hongsudt commented on #545
@akumar03 can you please review this fix.

[2016-08-29 23:42] hongsudt commented on #476
The information to create app-specific permalinks can be retrieved by the location object in Reference. So I am closing this issue.

[2016-08-29 23:42] #476 closed

[2016-08-31 00:00] jrchudy opened #566 "Be able to test chaise with different chaise configs"
Currently, `chaise-config-sample.js` is being used for the protractor e2e tests in chaise. We need to consider a way to support defining a chaise config that can be used per spec so that different sets of configurations can be tested.

[2016-08-31 16:55] svoinea commented on #543
Added support for the dropdown menus on the navbar in the search page through the commit 1a85945d7212b2557e8d76d76deb168c6e75e16c.
The menus are specified in the `navbar_menu.json` file.
It follows the above structure.
The `navbar_menu.json` file should be placed in the same directory as the `chaise-config.js` file.
The applications that want those menus should include the `navbar_menu.json` file

[2016-08-31 17:18] hongsudt commented on #543
@svoinea This should not be in a separate file. It should be in the chaise_config.json file.

[2016-08-31 18:21] hongsudt opened #567 "set up end-to-end testing with authorization"

[2016-08-31 20:43] hongsudt commented on #543
We decided to add navbar_menu as another json object in chaise_config.js file for ease of deployment. In terms of the styling, @howdyjessie and I decided to start with what @crisaless has designed for facebase, brighter blue on black background, etc.

[2016-08-31 21:30] jrchudy commented on #539
This issue is resolved with PR #565.

[2016-08-31 21:30] jrchudy commented on #549
This issue is resolved when PR #565 is closed.

[2016-08-31 21:42] howdyjessie commented on #553
This issues is currently under review with PR #568.

[2016-08-31 22:09] svoinea commented on #543
Removed the `navbar_menu.json` file.
Its content will be appended in the chaise-config.js file under the definition of the JavaScript variable `navbar_menu`.
These changes were performed under the commit 658ea7124863ad9be614d52927c134e7866a940d

[2016-08-31 22:25] howdyjessie commented on #462
Maybe a value provider or a constant provider, depending on whether we need Chaise config during config phase.

It'd be nice to introduce some hierarchy to the Chaise config object so it's easier to differentiate between which settings are global (e.g. `customCSS`) and which ones are app- (e.g. `defaultAnnotationColor`) or context-specific (e.g. `editRecord`). Or at least have a matrix in our [con

[2016-08-31 22:58] jrchudy commented on #553
Merged PR #568, closing this issue.

[2016-08-31 22:58] #553 closed

[2016-09-01 16:55] hongsudt commented on #543
navbar_menu = [
{ "name": "Search",
  "children": [
     { "name": "Experiment", "url": "chaise/search/#1/experiments:Experiment" },
     { "name": "Sample", "url": "chaise/search/#1/experiments:Sample" },
     { "name": "Target", "url": "chaise/search/#1//chaise/search/#1/gpcr_browser:target_gui"}
  ]
},
{ "name": "Create",
  "children": [
     { "name": "Experiment", "url": "..." },
     { "name

[2016-09-01 21:30] #539 closed

[2016-09-01 21:30] #549 closed

[2016-09-02 05:38] hongsudt opened #570 "Record2: the related entities section should be contextualized appropriately"
It should also check the Reference.display.type to deal with different way of presenting the related entity. The context to use is `compact/brief`.

[2016-09-06 18:58] shinyichen opened #571 "Support Compact Context"

[2016-09-06 21:18] #571 closed

[2016-09-07 03:34] #555 closed

[2016-09-07 17:31] shinyichen opened #572 "Setup Test framework for recordset"

[2016-09-07 20:39] hongsudt commented on #552
Let's only add the button on recordedit for now.

[2016-09-07 20:43] hongsudt commented on #563
instead of doing this on recordedit, due to resource limitation, I am going to move the functionality to the search app. Recordedit will call the search app with its syntax and let's the search app deals with the parsing.

[2016-09-07 20:45] jrchudy opened #574 "Explore loading and rendering in tests"
When our e2e tests run, there seems to be a race condition where sometimes the chaise-config is not available before some elements are rendered. We should explore a solution that keeps our tests from running if the assets haven't fully loaded yet.

@chiragsanghvi mentioned the use of `$document.ready()`. This was often used in conjunction with jQuery to prevent trying to modify or manipulate the D

[2016-09-07 21:39] chiragsanghvi commented on #574
Yes either we do it using Jquery's `$(document).ready` or we can use the `viewContentLoaded` event of Angular.

[2016-09-07 21:54] jrchudy commented on #554
PR #573 was merged and closed, closing this issue.

[2016-09-07 21:54] #554 closed

[2016-09-08 00:07] jrchudy commented on #570
This is blocked until [this issue](https://github.com/informatics-isi-edu/ermrestjs/issues/184) is resolved.

[2016-09-08 00:52] hongsudt opened #575 "search: remove the grey box surrounded by "User the sidebar to the right to select search attributes.""
@svoinea what do we do to get rid of that grey box?  It should only be shown if there is no search result on the page to provide new users with instructions..

[2016-09-08 01:27] svoinea commented on #575
@hongsudt As long as no filter was selected, it appears to guide the user what to do.
The search results might appear also if no filter was selected and chaise-config has the option `showUnfilteredResults: true`. I think that is the case you are referring.

[2016-09-08 19:28] jrchudy commented on #556
I modified the `outer-table` class in `/common/styles/app.css` to use `overflow-x: auto;` instead of `overflow-x: scroll;` so that the scroll bar only appears when needed.

[2016-09-08 19:28] #556 closed

[2016-09-09 00:29] hongsudt opened #576 "Angularize chaise_config"
Let's start with record2.

[2016-09-09 17:26] hongsudt opened #578 "Use Reference.display.page_size if it is defined"
The 2016 table display annotation allows a default page_size to be set per context. This value is exposed through the display object. If this is defined, it should be used by the recordset. If it is not defined, recordset can use its own default.

Please also change the default page size from 10 to 25.

[2016-09-09 18:37] jrchudy opened #580 "Support iframe in record2"
Record2 needs to support showing iframes as content in the related section. This should include a link after the content of that related reference to search or recordset as defined by the 2016 app_links annotation. If nothing is defined, navigate to recordset by default.

[2016-09-09 18:58] hongsudt commented on #563
Assuming that the input url will be `#N/S:T/column=a;column=b;column=c` which can be converted to `#N/S:T?facets=column::eq::a,b,c`

This assumption will not support composite unique keys.

[2016-09-09 19:03] jrchudy commented on #580
@hongsudt: When I get back data that is supposed to be rendered in an iframe, should I expect each value in Tuple.values to be an object with properties `isHtml` and `value` or is the `isHtml` property on the `Tuple` object?

Is rendering these iframes supposed to be a repeatable action across apps? Is there a case where recordset will render a set of iframes instead of a table?

[2016-09-09 19:23] shinyichen opened #581 "Nothing happens when updating URL in address bar"
In some of the apps, observed in Recordset and Record-Two, if user updates the address bar by changing anything after app's base url (after `.../recordset/` or after `.../record-two/`) and hit enter, nothing happens. Then if manually refresh the page, the new page is loaded.

In recordset I had `$window.onhashchange` to detect manual address bar changes and force the page to reload. However, this

[2016-09-09 19:33] shinyichen opened #582 "E2E Testing Problem with Angular Router"
In testing the Recordset app, after the page was loaded, the page was rerouted with the addition of slash `/` after the hash `#`. So the original url `https://dev.isrd.isi.edu/~jchen/chaise/recordset/#1/legacy:dataset` becomes `https://dev.isrd.isi.edu/~jchen/chaise/recordset/#/1/legacy:dataset`. The app complains because now the URL is invalid. I remove the code (see #581) which reloads the page

[2016-09-09 20:10] chiragsanghvi commented on #580
@jrchudy You need to refer to the `reference.display.type` property. If it says **markdown** then simply access the `page.content` property and put in in the related section placeholder adding the link at the end to recordset/search additionally. Make sure that you render the content as HTML using `ng-bind-html`.

You can refer the syntax here. https://github.com/informatics-isi-edu/ermrestjs/pull

[2016-09-09 21:04] hongsudt commented on #561
@jrchudy can you review this issue.

[2016-09-09 21:09] howdyjessie commented on #516
So with the new navbar recently rolled out, the navbar's styles should look the same across all apps now. Any discrepancies going forward would be usually due to a later stylesheet overriding the navbar's styles (e.g. since the `customCSS` file is loaded after the navbar's styles, any conflicting classes will follow the custom CSS.)

[2016-09-09 21:52] hongsudt opened #583 "recordedit: Markdown type support"
Right now a markdown column is treated as (short) text. Can we great markdown column the same way we treat long text?

[2016-09-09 21:52] svoinea commented on #563
Fixed through the commit e595020810f949bbe23fcdc95b09ed796a9d57f3

[2016-09-09 23:26] howdyjessie opened #584 "Use headTitle and customCSS properties in newer apps"
`chaise-config.js` has a `customCSS` property that's currently honored in the Search and Record 1 apps, but not the rest. The custom CSS file should be used in the other apps as well.

There's also a `headTitle` property that's used in Search, Record 1, Viewer, and RecordEdit, but not the others, so `headTitle` should be added in RecordSet and Record 2.

This issue should fix #516 and is somewhat

[2016-09-10 00:36] hongsudt commented on #543
This is now being used on rbk and gpcr. I am closing the issue.

[2016-09-10 00:36] #543 closed

[2016-09-10 00:42] hongsudt opened #585 "recordedit: support calling to search app after multi-row entry completion"
For longer terms, there is 2016 app_links annotation to identify which app should be used. But in the meantime, we should have a chaise config parameter that identify the app to be used for showing multi-row entry.  What about `recordEditSetAppLink` and the potential values are `tag:isrd.isi.edu,2016:chaise:search`,`tag:isrd.isi.edu,2016:chaise:recordset`?

[2016-09-10 00:44] hongsudt commented on #575
ok. I am closing the issue.

[2016-09-10 00:44] #575 closed

[2016-09-10 17:41] carlkesselman opened #586 "Incorporate Andy's antibody data into the overall data collection."

[2016-09-10 17:42] carlkesselman opened #587 "Add tables for reporter cell lines."
These should be populated with initial data we got from Melissa.

[2016-09-10 17:44] carlkesselman opened #588 "Augment Cell Line Tables to include sequence information"
We should include Sanjy's whole genome sequence data as assets for this.

[2016-09-10 17:46] #586 closed

[2016-09-10 17:46] carlkesselman commented on #586
Issue moved to [informatics-isi-edu/rbk-project #205](https://github.com/informatics-isi-edu/rbk-project/issues/205) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-10 17:47] carlkesselman commented on #588
Issue moved to [informatics-isi-edu/rbk-project #206](https://github.com/informatics-isi-edu/rbk-project/issues/206) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-10 17:47] #588 closed

[2016-09-10 17:47] carlkesselman commented on #587
Issue moved to [informatics-isi-edu/rbk-project #207](https://github.com/informatics-isi-edu/rbk-project/issues/207) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-10 17:47] #587 closed

[2016-09-12 17:11] hongsudt commented on #566
@chiragsanghvi it seems like there is a problem with the approach you mentioned to @howdyjessie. Can you report on the status?

[2016-09-12 17:17] chiragsanghvi commented on #566
The approach works but not on @howdyjessie machine. Just to make it simple the **CHAISE_BASE_URL** is **dev.isrd.isi.edu/~jessie/chaise**. So the HTML and Javascript that is being used is sourced from the CHAISE_BASE_URL,  and not localhost while running the test-cases.

When she runs the test-cases on her local machine pointing to **dev.isrd**, even if she sets the `chaiseConfigFilePath` its goin

[2016-09-12 17:19] chiragsanghvi commented on #566
For it to work locally on our machine's, we will need to enable Cross Origin Resource Sharing for ermrest or run ermrest locally on your machine.

[2016-09-12 17:23] hongsudt commented on #566
No. CORS is not an option. Is there any other way to achieve this?
If she changes the base_url to point to localhost, will that work?

[2016-09-12 17:28] chiragsanghvi commented on #566
Yes, but then ermrest will not work for localhost. She will need to run ermrest locally.

[2016-09-12 21:46] karlcz commented on #567
Can someone remind me why I am assigned on this issue?  Am I supposed to be designing or documenting something?

[2016-09-12 21:52] karlcz commented on #563
This doesn't seem to work on dev.isrd.  The following URLs should show the same two records but the search page just leaves a spinner running and shows no data:

- https://dev.isrd.isi.edu/chaise/recordset/#1/legacy:dataset/id=263;id=269
- https://dev.isrd.isi.edu/chaise/search/#1/legacy:dataset/id=263;id=269

[2016-09-12 22:32] #562 closed

[2016-09-12 22:33] #572 closed

[2016-09-12 22:33] #561 closed

[2016-09-13 00:42] hongsudt opened #590 "recordedit: support % as part of the column name"
Recordedit added an extra % in front of % in the column name and hence cause column not found error.

[2016-09-13 17:49] svoinea commented on #563
The `id` column has the annotation `hidden`.
In other words, a bookmark can not be created with it.
That explains the error that leaves the spinner running.
Some work needs to be done in order to make the search page to work with bookmarks containing `hidden` columns.

[2016-09-13 18:02] hongsudt commented on #563
How much effort does it take to get the search app to deal with hidden columns?

[2016-09-13 21:28] chiragsanghvi commented on #576
Not needed anymore for now.

[2016-09-13 21:28] #576 closed

[2016-09-13 22:41] jrchudy commented on #578
Merged PR #589, closing this issue.

[2016-09-13 22:41] #578 closed

[2016-09-13 22:53] svoinea commented on #563
Even if we unhidden the `id` column, it will not work.
The column `id` has the `integer` type, for which the current search provides a `slider` representation.
In other words, the `OR` operator is not supported for `integer` values.

[2016-09-13 22:55] jrchudy commented on #570
Changes for the issue with not contextualizing properly were fixed.

PR #579 merged, closing this issue.

[2016-09-13 22:55] #570 closed

[2016-09-13 22:55] jrchudy commented on #580
PR #579 was merged, closing this issue.

[2016-09-13 22:55] #580 closed

[2016-09-14 00:00] chiragsanghvi commented on #574
Yes.

[2016-09-14 01:22] hongsudt commented on #544
Is this the time for you to do this for record2?

[2016-09-14 01:25] hongsudt commented on #574
@jrchudy @chiragsanghvi Since the code has been merged, should I close this?

[2016-09-14 01:27] hongsudt commented on #317
I am closing this since we now have automated test integrated in the dev process.

[2016-09-14 01:27] #317 closed

[2016-09-14 01:36] hongsudt commented on #455
I am closing this issue since we should migrate away from record soon.

[2016-09-14 01:36] #455 closed

[2016-09-14 01:37] hongsudt commented on #557
Please also look at #381 for heuristics.

[2016-09-14 04:16] chiragsanghvi commented on #574
Yes we can close this issue.

[2016-09-14 17:40] howdyjessie commented on #566
@chiragsanghvi With your work on PR #593, would I still need to have ermrest installed locally?

[2016-09-14 18:28] jrchudy commented on #544
This relies on changing the parser in the common module which each app uses. To fix this, we would need it to be done for all apps at once instead of on a per app basis.

[2016-09-14 18:33] jrchudy commented on #581
I noticed the same thing. Another `work-around` is the following:

If the user updates the address bar and hits enter, nothing happens. If the user then clicks in the address bar again and hits enter, it will navigate to the new url. Essentially it's the same as a page refresh.

[2016-09-14 19:04] jrchudy opened #594 "Documentation for e2e tests"
We have recently added more features to the e2e test suite including:
- defining user ACLs
- defining a chaise config for tests
- new environment variable for ssh-agent

These need to be documented in the e2e test wiki.

[2016-09-14 19:13] jrchudy commented on #567
We have introduced ACLs into the test environment pending documentation to be written (#594). These schema ACLs can be used in conjunction with a mocked session instead of integrating globus into our tests.

[2016-09-14 19:19] hongsudt commented on #567
ok. I am closing this issue then.

[2016-09-14 19:19] #567 closed

[2016-09-14 19:27] hongsudt commented on #529
@chiragsanghvi if you are blocked, you can work on this issue. @RFSH can you tell you more info.
If I am not mistaken, the static site (e.g. facebase.org) login is pointing to a different login/logout code from what's in the chaise navbar. The goal is for them to use the same code.

[2016-09-14 19:39] chiragsanghvi commented on #566
@howdyjessie No you don't need ermrest to be deployed locally for this.

[2016-09-14 19:41] chiragsanghvi commented on #594
I will document it once **PR** #593 is merged.

[2016-09-14 19:41] #574 closed

[2016-09-14 20:54] hongsudt opened #595 "record2: markdown bullets do not show up on the page"
Take a look at the url here...
https://dev.rebuildingakidney.org/chaise/record-two/#2/Protocol:Protocol/Title=Generation%20of%20kidney%20organoids%20from%20human%20pluripotent%20stem%20cells&Version=1.0

@RFSH what did you do to fix this issue in record?

[2016-09-14 23:32] howdyjessie commented on #542
@hongsudt This might not be as simple as previously thought. We can't just make a static Sign Up link that goes to globus.org because what if a deployment doesn't use Globus, like BDDS? How do non-Globus deployments make accounts?

[2016-09-14 23:48] karlcz commented on #542
I thought the described approach was a chaise-config entry to provide a sign-up link to use in the navbar. If no link is configured, there should be no sign-up button at all.

[2016-09-14 23:54] howdyjessie commented on #542
@karlcz I must've missed/forgot that discussion. Okay well if the navbar is just using whatever's set in chaise-config.js, then this is a simple issue again. :)

[2016-09-15 01:35] hongsudt opened #596 "recordedit: refactoring app.js to use Reference"

[2016-09-15 02:01] jrchudy opened #597 "Use Reference.display.page_size"
Record2 should be using the page_size when fetching data for the related entities.

[2016-09-15 17:07] hongsudt commented on #340
@shinyichen can you look at this problem?

[2016-09-15 17:49] RFSH commented on #595
In record I used the column type to attach the `markdown-container` class to the container. In here, I think we can also use `isHTML` flag.

[2016-09-15 18:24] hongsudt opened #598 "Move navbar_menu to chaise_config"
The current method of declaring navbar_menu as a global variable causes the navbar to crash if the deployment config doesn't have narbar_menu declared in their chaise_config file.  The easiest way to solve this problem is to move the navbar_menu into the chaise_config variable.

The following project-specific config will need to be modified:
* rbk: dev, staging
* gpcr: dev, staging

[2016-09-15 18:34] RFSH commented on #529
The new apps, are using this [navbar](https://github.com/informatics-isi-edu/chaise/blob/master/common/templates/navbar.html), which uses [navbar directive](https://github.com/informatics-isi-edu/chaise/blob/64abd525764ee52dc42b35a2102fe01bf075accc/common/navbar.js). The goal is extracting the functions that are used in the template; so the login/logout would work in the static pages that are outs

[2016-09-15 20:31] robes commented on #542
@karlcz @howdyjessie The caveat here is that the link should change depending on the user's log in state:

- not logged in =\> "Sign up"
- logged in =\> "\<username\>"

Those might link to the same href, in Facebase I think we will always link to the accounts.facebase.org site. Other applications might have different requirements.

@crisaless or @svoinea Might be able to point you to the code that

[2016-09-15 22:47] howdyjessie commented on #584
Currently blocked as described in PR #599. :(

[2016-09-15 22:48] howdyjessie commented on #516
This depends on #584, which is blocked by PR #599. :(

[2016-09-16 01:09] hongsudt opened #601 "record,record2: refactor the app name to detail, and record"
This includes making changes to makefile.

[2016-09-16 01:09] jrchudy opened #602 "rename record-two"
Record2 needs to be renamed to `record` and record needs to be renamed to `detailed`.

[2016-09-16 01:11] hongsudt commented on #602
duplicate with #601. Will close.

[2016-09-16 01:11] #602 closed

[2016-09-16 01:44] jrchudy commented on #595
This issue is fixed. This required adding the `markdown-pattern` class to record.html.

[2016-09-16 01:44] #595 closed

[2016-09-16 18:43] crisaless commented on #542
The old code is live on the production server but is not in master anymore - but here's a 'reconstruction':

The html for the user links were being generated by files on facebase-www - and i think we're trying to get away from that. But on the search page, it was coming in from `facebase-www/www/_includes/body_nav_data.html` (which is pulled into the `www/data/index.html.in` template)

[code]
then

[2016-09-16 21:24] jrchudy opened #606 "Have a common page info object"
We should have a common page info object for our chaise defaults. This object shouldn't be repeated in apps so we can have consistency. We should take the page info object that is currently in `recordset` and use it for our defaults and remove the one in `record-two`.

This object should be a part of the table directive seeing as it is used only for the tables that are displayed.

[2016-09-16 21:25] #583 closed

[2016-09-16 21:25] jrchudy commented on #583
Merged PR #604. Closing this issue.

[2016-09-16 23:27] jrchudy commented on #597
PR #600 was merged. Closing this issue.

[2016-09-16 23:27] #597 closed

[2016-09-16 23:53] hongsudt opened #607 "support thumbnail and original image"
@chiragsanghvi mentioned that we could the following markdown to associate the thumbnail with original image `[caption](thumbnail_url){original_image_url}` but chaise will need to do something to make sure that the thumbnail is clickable.

@chiragsanghvi please provide more information on this.

[2016-09-17 00:01] hongsudt opened #608 "Automated Testing FAQ wiki"
Please document the scenarios that cause test to fail (i.e. the one that you guys struggle to get it to pass) and their corresponding solutions. This should be our knowledge base for testing e.g. when a test fail, check this page.

@chiragsanghvi please start the page that people have been asking you.
@shinyichen @howdyjessie @jrchudy @RFSH  Please also add your cases to the page as well.

[2016-09-17 00:03] karlcz commented on #607
I thought markdown supports this directly by putting the thumbnail
image inside the link text:

    [![alt text](thumbnail-URL)](destination-URL)

i.e. it is just this inline image:

    ![alt text](thumbnail-URL)

nested inside this normal link syntax:

    [...](destination-URL)

[2016-09-17 00:04] hongsudt commented on #563
This doesn't seem to be a simple task, will delete it and push for recordedit.

[2016-09-17 00:04] #563 closed

[2016-09-17 00:15] hongsudt commented on #557
Issue moved to [informatics-isi-edu/ermrestjs #202](https://github.com/informatics-isi-edu/ermrestjs/issues/202) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-17 00:15] #557 closed

[2016-09-17 00:17] chiragsanghvi commented on #607
Oh yes markdown supports that too. Just in case if we need to change the width and height or the final target window, that can also be achieved

[code]

[2016-09-17 01:13] bugacov opened #610 "remove extra space character from gene_sequence annotation"
Example

https://dev.gpcrconsortium.org/chaise/record-two/#1/gpcr_browser:construct_gui/title=IMPT-4779

Also, is the red color configurable?

[2016-09-19 17:14] hongsudt commented on #297
Issue moved to [informatics-isi-edu/ermrestjs #203](https://github.com/informatics-isi-edu/ermrestjs/issues/203) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-19 17:14] #297 closed

[2016-09-19 22:20] karlcz opened #611 "Click on related entity should navigate to its record page"
The rows of each related entity table should behave like in recordset, including sending you to the corresponding record page.

[2016-09-19 23:18] hongsudt commented on #611
- [ ] create a common module for determining a click action. I want this code to be used by both recordset and recordapp.

[2016-09-19 23:48] hongsudt commented on #585
It seems like we can't make the search app supports this use case, so multi-row entries will connect to recordset. I am closing this issue.

[2016-09-19 23:48] #585 closed

[2016-09-19 23:49] karlcz opened #612 "Recordset error module._mustache is undefined"
Viewing recordset app when I have a markdown_pattern causes the error `Error module._mustache is undefined` to be displayed.

Example:
https://synapse-dev.isrd.isi.edu/chaise/recordset#1/Zebrafish:Cropped%20Image@sort(Extract%20Date::desc::)

[2016-09-19 23:51] hongsudt commented on #612
@chiragsanghvi can you look into this quickly?

[2016-09-20 00:08] karlcz opened #613 "Record2 not showing Edit link to recordedit app"
Example:

https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/ID=ZfCza20160815A

The chaise-config.js file has `editRecord: true` which worked for previous record app...  see example:

https://synapse.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/ID=ZfCza20160815A

[2016-09-20 00:12] akumar03 commented on #545
Still see the error on dev:
https://dev.gpcrconsortium.org/chaise/search/#1/experiments:SOP?facets=(SOP:Last_Modified::geq::Invalid Date/SOP:Last_Modified::leq::Invalid Date)&layout=table&page=1

ResponseText: 409 Conflict
The request conflicts with the state of the server. invalid input syntax for type timestamp with time zone: "Invalid Date"
LINE 8: WHERE ((t0."Last_Modified" >= 'Invalid Date'::

[2016-09-20 00:16] howdyjessie commented on #584
#599 has been merged!

[2016-09-20 00:16] #584 closed

[2016-09-20 00:17] howdyjessie commented on #516
Closing because #599 has been merged.

[2016-09-20 00:17] #516 closed

[2016-09-20 01:39] howdyjessie commented on #598
This issue has been addressed in PR #614.

[2016-09-20 01:39] #598 closed

[2016-09-20 01:40] howdyjessie commented on #542
This issue has been addressed in PR #614.

[2016-09-20 01:40] #542 closed

[2016-09-20 02:09] hongsudt opened #615 "Most often the new record page has to be reloaded twice to get the page to show"

[2016-09-20 02:10] hongsudt opened #616 "record-two co-exist with record and detailed. Is this expected?"
The path using /record-two/ and /record/ point to the same content. I would assume that /record-two/ url should no longer exist.

[2016-09-20 02:54] hongsudt opened #617 "performance issue"
On my browser at work, it took about 7 seconds to load a record page. I noticed that the first set of js files were loaded within 1-2 seconds, and then the second set were loaded about 5 seconds later. Is there a technique to reduce the load time?

@chiragsanghvi can you look into some performance monitoring tool that will identify the bottleneck.

[2016-09-20 17:24] jrchudy commented on #616
I noticed this was the case with my local directory running on dev.isrd. After cleaning up the directory and removing the `/record-two` folder, that path no longer exists.

Each deployment will have to remove that folder from the server (or maybe we need to look at why the recipes don't clean up old files).

[2016-09-20 17:35] karlcz commented on #432
How are these meant to interact with the newer Visible Columns annotation?  Do they override it?

[2016-09-20 17:37] karlcz commented on #616
The recipe runs make install on top of whatever was there.  The install doesn't delete old stuff.

[2016-09-20 17:38] jrchudy commented on #613
That's odd. When I go to the first link (the new record page) I see an `Edit Record` button. As I look through the `meta` information from the server, I can verify that the `isrd-staff` globus group is in the `content-write-user` list and that I have that permission (`isrd-staff`) as part of my session attributes.

[2016-09-20 17:44] jrchudy commented on #601
PR #602 merged. Closing this issue.

[2016-09-20 17:44] #601 closed

[2016-09-20 17:45] jrchudy commented on #615
This is a duplicate of issue #581.

[2016-09-20 17:45] chiragsanghvi commented on #612
@hongsudt I don't have access to `synapse-dev`. Can you give me access ?

[2016-09-20 17:45] #615 closed

[2016-09-20 17:46] jrchudy commented on #566
PR #593 merged. Closing this issue.

[2016-09-20 17:46] #566 closed

[2016-09-20 17:48] jrchudy commented on #350
This has been implemented as part of the Epic #451. Closing this issue.

[2016-09-20 17:48] #350 closed

[2016-09-20 17:49] jrchudy commented on #290
This is related to issue #581.

[2016-09-20 17:58] #451 closed

[2016-09-20 18:49] chiragsanghvi commented on #594
This is documented in the wiki, over [here](https://github.com/informatics-isi-edu/chaise/wiki/E2E-tests-guide).

[2016-09-20 18:49] #594 closed

[2016-09-20 21:02] chiragsanghvi commented on #608
I have made a wiki page [here](https://github.com/informatics-isi-edu/chaise/wiki/Automated-Testing-FAQ's). You can add more things to it as you remember.

[2016-09-20 21:02] #608 closed

[2016-09-20 21:24] karlcz opened #619 "Need timestamp data-entry widget for timestamp column types"
I have timestamp column types in synapse-dev model and the recordedit page shows a date picker but no control for time of day.  We really need to be able to insert full times including a convenient button for "now" to get wall clock time.

What happens now, I think, is that Chaise only collects a date and sends it to ermrest where postgres then promotes it to a timestamp at midnight on that date,

[2016-09-20 22:04] howdyjessie commented on #610
@bugacov The red color isn't configurable but @hongsudt said we should just make it black text.

[2016-09-20 22:55] chiragsanghvi commented on #607
I have added this to the documentation [here](https://github.com/informatics-isi-edu/ermrestjs/wiki/Template-and-Markdown-Guide)

[2016-09-20 22:55] #607 closed

[2016-09-20 23:25] howdyjessie commented on #610
Ok I've pushed the fix to master so dev.gpcr should have the fix in the next hourly update. The gene sequences should be black font and aligned now.

![screen shot 2016-09-20 at 4 23 50 pm](https://cloud.githubusercontent.com/assets/4585431/18692414/c0d306fa-7f4e-11e6-9687-36ac8b24d59e.png)

@hongsudt has approved this so I'm closing the issue.

[2016-09-20 23:25] #610 closed

[2016-09-20 23:29] howdyjessie commented on #616
I can confirm that record-two no longer exists once I reinstalled Chaise in my user dir.

So is this still an issue or should we change this issue to reflect that deployments need to remove the `record-two` folder?

(Do they even need to remove the folder? As long as nothing links to the folder, it should be fine.)

[2016-09-21 00:13] karlcz opened #620 "Recordedit Error: ignoreCol.content.indexOf is not a function"
recordedit keeps spamming these errors into the web console on firefox:

[code]

[2016-09-21 00:19] karlcz commented on #612
I can confirm that this happens sporadically if I visit the link over and over.  So that supports the idea of a race-condition...

[2016-09-21 00:20] howdyjessie opened #621 "Remove unused CSS"
Remove unused CSS rules from
- `app.css` and `appheader.css` in `common/`
- `app.css` and `ermrest.css` in Search app.

[2016-09-21 00:37] hongsudt commented on #612
@karlcz here is the group name and url
isrd-tester https://www.globus.org/app/groups/9d596ac6-22b9-11e6-b519-22000aef184d

[2016-09-21 00:49] hongsudt commented on #620
@karlcz this issue can be addressed after refactoring. Can you wait a bit longer for the fix?

[2016-09-21 00:52] jrchudy opened #622 "Chaise config copy for tests"
The function that copies the chaise config from a specified directory for a set of tests, overwrites `chaise-config.js` in the root directory on my local machine before it is copied to the dev server.

[2016-09-21 00:53] hongsudt commented on #613
@karlcz if this is no longer the issue, please close it.

[2016-09-21 00:57] karlcz commented on #620
It's not urgent for me right now. I don't even know what it breaks, if anything... just reporting the error message I saw while doing some other basic testing.

[2016-09-21 00:57] karlcz commented on #613
Strangely this resolved itself.  Not sure if recent commits fixed something or what... :-(

[2016-09-21 00:57] #613 closed

[2016-09-21 01:44] bugacov opened #623 "plotly figure of FCS data doesn't display correctly inside new record2 iframe annotation"
See for example FCS PLOTS section of

https://dev.gpcrconsortium.org/chaise/record/#1/gpcr_browser:biomassprodbatch_gui/title=IMPT-10017

Initially the figure doesn't display properly, then if you press the red "Reset" button it shows the
figure correctly.

[2016-09-21 01:55] mikedarcy commented on #575
I changed this to not show the box  (the "jumbotron") by default if `showUnfilteredResults: true`.

[2016-09-21 02:24] bugacov opened #624 ""name" 2015display annotation doesn't seem to be working on columns w/ tooltips (COMMENT)"
See the columns "Surface Elc" and "Surface Eac" in

https://dev.gpcrconsortium.org/chaise/record/#1/gpcr_browser:biomassprodbatch_gui/title=IMPT-10017

Those cols have 2015 display annotations to show "Surface ELC" but somehow it shows "Surface Elc". Same thing happens in the "Surface Eac" column which also has a COMMENT to show as tooltip so that maybe the problem?

[2016-09-21 16:51] jrchudy commented on #611
PR #618 merged. Closing this issue.

[2016-09-21 16:51] #611 closed

[2016-09-21 17:15] hongsudt commented on #624
@RFSH please take a look at this asap. It should be a simple fix.

[2016-09-21 17:16] hongsudt commented on #619
I assume this can be done in parallel to the refactoring that @jrchudy is working, correct?

[2016-09-21 17:18] hongsudt commented on #623
@chiragsanghvi please take a look at this. The position of the iframe content seems to be off upon the first display.

[2016-09-21 21:06] bugacov opened #625 "redirect to URL pointing to a record doesn't display in record2 markdown annotation"
See the "VIEW TARGET IMPT-CCR1" link in

https://dev.gpcrconsortium.org/chaise/record/#1/gpcr_browser:construct_gui/title=IMPT-1003

The url is correct but need to do an extra page reload in order to display the page.

Redirects to results set, like the one above for "VIEW BIOMASSES..." work ok

[2016-09-21 21:11] bugacov opened #626 "need extra space at bottom of the page to see all entries in dropdown box"
See under TARGET FASTA at the Download FASTA files dropdown at the bottom of the page in

https://dev.gpcrconsortium.org/chaise/record/#1/gpcr_browser:target_gui/title=IMPT-CCR1

The dropdown has 2 entries and only one is visible in the beginning. Need to do and extra scroll down of main page in order to see second item

[2016-09-21 21:41] hongsudt commented on #626
@chiragsanghvi Do you have any suggestion on this user experience issue?

[2016-09-21 21:44] hongsudt commented on #625
This might be relevant to issue #581. @chiragsanghvi @robes do you have any suggestions?

[2016-09-21 21:57] robes commented on #625
@hongsudt yep, i believe its exactly like that issue.

[2016-09-21 22:15] #621 closed

[2016-09-21 22:19] howdyjessie opened #627 "Improve apps' performances on CSS side"
- Concatenate CSS files into fewer files
  - Only source files? Include vendor files too?
- Minify source CSS
- Use minified versions of vendor CSS
  - Remove unused, un-minified stylesheets from repo
- Load external CSS (i.e. `chaiseConfig.customCSS`) before external JS*
  - \* Might be more effort than it's worth for this one file. I imagine we'd need to read `chaiseConfig.customCSS` and then ad

[2016-09-22 17:50] RFSH commented on #624
@hongsudt @bugacov

Based on [annotation document](https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2015-display), `title_case` display annotation converts element names to "title case" meaning the first character of each word is capitalized and **the rest are lower cased regardless of model element name casing**. Word separators include white-space, hyphen, and un

[2016-09-22 18:01] bugacov commented on #624
Right. I have the title_case to true but I thought that the display
annotation would overwrite that and display the annotated value
regardless of other annotations.

Shouldn't that be the correct behavior?

On Thu, Sep 22, 2016 at 10:50 AM, Aref Shafaei <notifications@github.com>
wrote:

[2016-09-22 18:35] bugacov commented on #624
This was a problem on my end due to annotation not getting entered correctly. The problem is solved now. I'm closing the issue.

[2016-09-22 18:35] #624 closed

[2016-09-22 21:18] bugacov opened #628 "gray box around iframe objects seems to have a fix size and not adjusting to define size of the iframe"
See for example

https://dev.gpcrconsortium.org/chaise/record/#1/gpcr_browser:target_gui/title=IMPT-5HT2A

[2016-09-22 21:25] chiragsanghvi commented on #626
@hongsudt There is a way to do this. Just add following code to a function in utilities and call it in the run function of the app.

[code]

[2016-09-23 21:47] hongsudt commented on #628
@chiragsanghvi maybe this is a minor adjustment?

[2016-09-23 22:49] hongsudt opened #630 "search: support gene_sequence type"
The search app broke if the data model has `gene_sequence` type in it..  The `gene_sequence` and `markdown` are now widely used in multiple deployments.

If not too difficult, we should generalize the app to treat unknown type as `text`.

[2016-09-23 23:35] svoinea commented on #630
Added `gene_sequence` in the list of the `searchBoxPresentation`.

[2016-09-23 23:37] hongsudt commented on #545
@svoinea I am moving this to this week.

[2016-09-26 17:30] hongsudt opened #631 "search app: wrong table get displayed in the case of duplicate table name in different schemas"
I have the following 2 tables: `Cell_Line:Cell_Line` and `Cell_Line2:Cell_Line`. When I specified `chaise/search/#2/Cell_Line:Cell_Line`, it displays the content of `Cell_Line2:Cell_Line`.

[2016-09-26 19:01] svoinea commented on #631
Should have been fixed through the commit 0b2a5bcb003af9095ae3bc005bb5b7d7f06a3b2e

[2016-09-26 20:06] jrchudy opened #632 "Fields should be pre-filled with Default values"
Input fields should have their default values displayed when a page loads if those values are based on a value instead of a function.

[2016-09-27 00:44] crisaless opened #633 "css bugs for chaise"
While tweaking CSS for facebase, I identified a couple of CSS bugs for native chaise and the styles should go there.
collapsed menu: make text and border white when the menu collapses into button so that it's readable

stylesheet: appheader.css

[code]

raise permalink level so it doesn't cross with record title when page narrows
stylesheet: record.css

[code]

[2016-09-27 06:54] chiragsanghvi commented on #612
This has been fixed.

[2016-09-27 06:54] #612 closed

[2016-09-27 07:02] chiragsanghvi commented on #622
@jrchudy As mentioned in the [documentation](https://github.com/informatics-isi-edu/chaise/wiki/E2E-tests-guide#chaiseconfigfilepath), it is mandatory to provide a remote_chaise_dir whenever you execute the test-cases. If you don't provide one the local one gets overridden, because the suite has no knowledge of whether the existing chaise-config was the valid one or the copied one.

[2016-09-27 07:04] chiragsanghvi commented on #625
Fixed in **PR** https://github.com/informatics-isi-edu/chaise/pull/629

[2016-09-27 07:04] #625 closed

[2016-09-27 18:37] svoinea opened #634 "AlertsService is not defined"
If the "Save metadata" operation fails, then in the console log I can see the message:
[code]

[2016-09-27 20:03] chiragsanghvi commented on #628
This issue is fixed in this commit https://github.com/informatics-isi-edu/chaise/commit/9e8a7e5ef44a527d886740e501483ae05c5d40de.

[2016-09-27 20:03] #628 closed

[2016-09-27 21:26] chiragsanghvi commented on #623
Fixed.

[2016-09-27 21:26] #623 closed

[2016-09-27 21:27] #622 closed

[2016-09-27 21:34] shinyichen commented on #473
Besides the tooltip, is the rest already covered by contextualization?

[2016-09-27 21:36] #626 closed

[2016-09-27 23:19] hongsudt commented on #369
This is no longer relevant.

[2016-09-27 23:19] #369 closed

[2016-09-27 23:20] hongsudt commented on #634
@svoinea please provide more information. Which app is this? Who should be working on this?

[2016-09-27 23:33] svoinea commented on #634
Already talked to Jessie. It's a minor correction to be done.

[2016-09-28 16:19] carlkesselman opened #637 "Make cell type in antibody display a domain table"
Also, clean up values, as there are clearly errors and duplicates

[2016-09-28 16:21] carlkesselman commented on #637
Issue moved to [informatics-isi-edu/rbk-project #213](https://github.com/informatics-isi-edu/rbk-project/issues/213) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-28 16:21] #637 closed

[2016-09-28 17:21] #630 closed

[2016-09-28 17:21] #631 closed

[2016-09-28 17:28] hongsudt commented on #634
@howdyjessie please fix this or tell @svoinea what need to be done.

[2016-09-28 17:31] hongsudt opened #638 "search: change search layout"
RBK wants to move the facet panel to the left of the screen, instead of the right. Can this be configured?

[2016-09-28 17:44] hongsudt commented on #617
We should do some performance testing on the search and record app using gpcr data model:
Here are the test scenarios:
* performance improvement of http with compression and script consolidation
* http vs. http2 for compression and script consolidation over LAN
* http vs http2 for compression and script consolidation over slow network

Caveat: @chiragsanghvi mentioned that the apache support of ht

[2016-09-28 18:58] karlcz opened #639 "Recordset Module 'recordset' is not available"
The recordset app on master is completely broken.

It shows raw angular template content, a stuck spinner, and a web console error like `[$injector:nomod] Module 'recordset' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument`

[2016-09-28 18:58] karlcz commented on #639
@hongsudt can we prioritize this?

[2016-09-28 19:01] jrchudy commented on #639
I found the issue with this, there was a `,` missing in the definition of the `run` block causing it to fail. This was committed directly to master.

[2016-09-28 21:01] chiragsanghvi commented on #639
My mistake. I missed adding the `,` while adding `uiUtils`.

[2016-09-28 22:23] jrchudy commented on #639
@karlcz: This issue should be resolved. Can you confirm and close this?

[2016-09-28 22:27] karlcz commented on #639
yeah I tested and it worked for me

[2016-09-28 22:27] #639 closed

[2016-09-29 00:15] karlcz opened #641 "Record2 create and edit buttons disappear on forward/back navigation"
1. Start on a record page showing `Create Record` and `Edit Record` buttons
2. Click one of the buttons to navigate
3. Click browser Back button
4. Back on record page but `Create Record` and `Edit Record` buttons are gone!
5. Hitting browser Reload button will restore those buttons again

This also happens for other cross-page navigations, like going back to a recordset page, then forward to the

[2016-09-30 01:07] hongsudt opened #642 "a cronjob that runs test on chaise and send notification on dev.isrd"
Instead of triggering this to be run on travisci every day, @robes suggested running the test locally on dev.isrd and sends out notification if fails.

This is to help us monitor whether chaise has been broken due to recent commits by ermrestjs.

[2016-09-30 01:09] hongsudt opened #643 "prototype related entities layout to look like it is part of the main table"
- [ ] if the inbound fk is in the visible column, display this pseudo-column like any other regular column. The table display name should be used as the column name (this should be provided by ermrestjs already). The column value should be a table or what's specified in the table annotation.
- [ ] Add edit and view all capability. We will need to experiment with the UI.
- [ ] change the default di

[2016-09-30 01:12] hongsudt opened #644 "Support 2016 App Links annotation"
@hongsudt commented on [Fri Sep 16 2016](https://github.com/informatics-isi-edu/ermrestjs/issues/202)

@hongsudt commented on [Wed Aug 24 2016](https://github.com/informatics-isi-edu/chaise/issues/557)

This annotation is needed to go from search/recordset to different apps e.g. viewers vs. record2.

@robes my thought is to have this set as an attribute in the reference and let the app uses it as

[2016-09-30 01:23] hongsudt commented on #432
From our discussion today, there should be a `.inputDisabled` attribute associated with a column in the Reference. This could be set to:
* `true` : do not allow user input
* `false` : allow user input
* `{message:"the message to show in place of the column value"}` : do not allow user input and the `message` should be shown in-place of the column value.

Ermrestjs should handle those 2 annotations

[2016-09-30 01:28] hongsudt commented on #616
This is because the stale directory under /var/www/html/chaise/. Remove the directory manually on live servers.

[2016-09-30 01:28] #616 closed

[2016-09-30 17:24] #340 closed

[2016-09-30 17:35] #581 closed

[2016-10-03 18:31] robes opened #645 "login not working from firefox"
This can be seen on dev.facebase.org.

If you click log in from a record page the link takes you to a username/password login page.

If you click log in from a search page the link takes you to the oauth login page.

Not sure exactly who should take this issue. Its a navbar issue showing up on the record page.

[2016-10-03 22:20] robes commented on #645
Just to be clear, this bug is reproducible on dev.isrd.isi.edu. Seems to be a general issue.

[2016-10-03 22:21] robes commented on #645
Also, it affects both _record_ and _recordset_ but not _search_.

[2016-10-03 22:53] karlcz commented on #645
I see completely different (and buggy) behaviors on record and recordset on dev.isrd via firefox

- record errors out about not specifying a catalog since the "Log In" button seems to redirect to https://dev.isrd.isi.edu/chaise/record/#
- "Log In" via recordset just hangs with unrendered angular junk due to "ReferenceError: error is not defined"

[2016-10-04 02:19] hongsudt opened #646 "recordset needs to distinguish between a navigational link and a link to the record page"
When I clicked on a download link on dev.facebase.org under the nested table, both events e.g. the download link and the redirect to the related entity seem to be registered with the click event. This is not the behavior we want.

@bugacov please provide an actual record page for the facebase example.

@chiragsanghvi any suggestion on this?

[2016-10-04 23:21] #473 closed

[2016-10-04 23:22] #646 closed

[2016-10-05 19:16] howdyjessie opened #649 "Make sidebar position configurable & other styling issues"
- [x] Make sidebar's position (left or right) configurable from `chaiseConfig`
- [x] Remove ellipsis overflow in search results table
  - Wrap the text but give each cell an appropriate `max-height`.
- [x] When sidebar is on left, fix the bug where the navbar's dropdowns render _behind_ the sidebar.
- [x] Leave a hard buffer between the sidebar and the search results as the browser's width decreas

[2016-10-05 23:35] shinyichen commented on #644
should recordedit be one of the apps too? @hongsudt

[2016-10-06 19:04] howdyjessie commented on #649
These fixes and features have been pushed to master. Closing the issue.

[2016-10-06 19:04] #649 closed

[2016-10-07 00:54] howdyjessie opened #651 "Add "profile card" to navbar"
Add a dropdown to the profile name that's displayed on the navbar.

Upon clicking the profile name, a "card" or dropdown appears with all the other information found in webauthn's `client` object.

Also change the profile name to only show whatever's in the `display_name` field.

[2016-10-07 01:34] #296 closed

[2016-10-07 01:37] hongsudt opened #652 "create a standalone navbar app"
So this can be easily integrated with the static content..

[2016-10-07 21:19] hongsudt opened #653 "create a delete button on record2 page"

[2016-10-07 21:26] robes commented on #645
This is absolutely critical -- **show stopper** for the facebase release -- and we need a facebase release on oct 17.

[2016-10-07 23:42] robes opened #654 "Add 'reference' property to PseudoColumn"
Build a new 'reference' object representing the link to the entity for the outbound FKR and add it as a property of the PseudoColumn.

[2016-10-07 23:43] robes opened #655 "Button to link to and launch modal popup for selecting values"
The record edit page will display `PseudoColumn`s in a similar manner as regular `Column`s however for the `PseudoColumn` the app will need to:
- [x] display the value as normal text rather than in an editable control (unless you feel it looks better in a non-editable text entry control)
- [x] display a button that indicates to the user that they click there to select a new value for that field
-

[2016-10-07 23:44] robes opened #656 "Directive for recordset to include additional controls (paging, sorting, etc.)"
The current 'recordset' directive is just for the table without any controls which is what we want to preserve for use in the nested tables display of the record app.

For the recordedit modal, we want another level of directive (around that one?) to add the basic navigation controls to it:
- page next
- preview
- sort
- limit

Issue #657 will add the 'search' control to this directive.

Issue #65

[2016-10-07 23:44] robes opened #657 "Add 'search' control to recordset directive"
Extends #656 with a 'search' control on the recordset directive. The search control should use the `*` column which indicates a pseudo column that is concatenated from all text columns of its table. We should use the `ciregexp` operator in the filter.

We decided that for the first round we _will not_ invoke the search automatically after a pause in typing. Instead, we want to start with an explic

[2016-10-07 23:45] robes opened #658 "recordedit: Add link to 'create new' entry for out-bound foreign key"
Extends #656 with a 'create new' entry button or link to the recordset directive. When using this link for the recordedit modal this link should open a new window or tab. However, from the recordset app, we might want this to replace the current window.

[2016-10-07 23:45] robes opened #659 "OnClick handler for recordset directive to return value to recordedit app"
The recordedit will need to define the onclick handler of the recordset directive described in #656. The handler function will need to:
- [x] dismiss the modal
- [x] return an array (of 1 element for now) of the selected tuple for the row that was clicked in the recordset directive
- [x] update the recordedit's tuple's value based on the tuple returned by the directive
- [x] update the recordedit'

[2016-10-07 23:46] robes opened #660 "'Outbound' Foreign Key support in Recordedit"
This epic encompasses the tasks to support the assignment of outbound foreign key references from the recordedit application.

[2016-10-07 23:59] howdyjessie commented on #638
Closing now because this was resolved in #649.

[2016-10-07 23:59] #638 closed

[2016-10-08 00:16] robes commented on #655
I discussed with @RFSH how he should generate the underlying `PseudoColumn.reference`. And I discussed with @shinyichen that when a `reference` is contextualized for the entry/create context it should strip off the filters because you really want a reference to the whole set in that case so that you can pick a new value.

Therefore the app, when the above button is clicked will do something like t

[2016-10-08 00:25] robes opened #662 "Setting the values for pseudocolumn should update the underlying foreign key columns"
Unlike a normal `Column` value a `PseudoColumn` value actually represents a `tuple` of the foreign key columns. The recordset directive and its onclick handler #659 will "return" (using that term loosely) a tuple representing the clicked element from the recordset directive.

Ideally, I would suggest that the `Tuple` class from ermrestjs should be extended with a way to assign values like this:

[

[2016-10-08 00:49] hongsudt opened #663 "recordset: encoding is incorrect if the column names have spaces in them"
https://dev.rebuildingakidney.org/chaise/recordset/#2/Common:RBK_Resources
Here is the table content.

[code]

This is the link that gets generated.
https://dev.rebuildingakidney.org/ermrest/catalog/2/entity/Common:RBK_Resources@sort(Number%20Of%20Entries,Table,Data%2520Type,Last%2520Updated)

[2016-10-08 00:50] hongsudt commented on #663
Please also remove the words `Records for ` from the recordset title and only leave the table name there.

[2016-10-08 01:05] howdyjessie commented on #634
This has been fixed via d9ed3169054ea8d56b19d7e0a890ba880da5e590.

[2016-10-08 01:05] #634 closed

[2016-10-08 01:05] howdyjessie commented on #619
PR #661 has been merged; closing now.

[2016-10-08 01:05] #619 closed

[2016-10-10 20:36] hongsudt commented on #617
@chiragsanghvi I created a google drive that we can use to share the performance test results. Can you this folder for it?
https://drive.google.com/drive/u/0/folders/0B078ZBI38peDdVgzYVotZXdXbTA

[2016-10-10 20:40] hongsudt opened #664 "Markdown column type: Provide a link to markdown syntax or other online markdown editor"
@hongsudt commented on [Sat Oct 08 2016](https://github.com/informatics-isi-edu/ermrestjs/issues/233)

We decided that instead of extending the comments to contain markdown, a tooltip to the markdown syntax or online editor can be shown by record-edit.

[2016-10-10 20:59] chiragsanghvi commented on #617
@hongsudt I have added the Resource compression results to it.

[2016-10-11 00:57] jrchudy opened #665 "Move Ermrest Data Utils Repo"
I discussed this with @hongsudt today, and we both think the [Ermrest Data Utils Repository](https://github.com/chiragsanghvi/ErmrestDataUtils) should be moved into a repo under `github.com/informatics-isi-edu`.

@chiragsanghvi we can discuss this when you are in the office. This issue is created as a reminder to discuss this in scrum Thursday.

[2016-10-11 19:15] robes commented on #645
seems to be fixed

[2016-10-11 19:15] #645 closed

[2016-10-11 20:41] shinyichen commented on #663
I am not seeing the problem with sorting now. The ermrest links look correct now as well. It's possible recent updates with URI encoding/decoding in ermrestjs fixed the problem. Can you confirm it is working now @hongsudt

[2016-10-11 21:45] #381 closed

[2016-10-11 21:45] #644 closed

[2016-10-12 00:33] hongsudt opened #667 "record2: add an add link that leads users to recordedit"
The app needs to check whether canCreate is true, and add the link there. The add link should be associated with each related table on the record2 page.

[2016-10-12 00:34] hongsudt opened #668 "record2: add a show all related button/link"
The button will show all related tables (whether it is null or not).

[2016-10-12 00:36] hongsudt opened #669 "recordedit: support pre-filled value"
We decided to support this through cookie. These cookies should have a UUID associated with each tab.
- cookie _name_ will be the UUID
- the url for the recordedit app should have a parameter that references the uuid like:
  `http://.../#1/...?prefill=UUID`
- ermrestjs will need to parse these extra options if it does not already
- recordedit then needs to check the the query options and see that

[2016-10-12 17:31] shinyichen commented on #663
"Records for" has been removed from another PR.

[2016-10-13 17:21] robes opened #670 "Recordedit needs a 'Cancel' button"
All I see is 'Submit Data' and no cancel button. I suppose the browser's back button is effectively the same as cancel and go back but I think a cancel button would make it more explicit. As we've learned a lot of users have been 'trained' by other web sites that the browser back button is not to be trusted.

[2016-10-13 17:48] robes opened #671 "Add related records"
From the record page, the user should be able to:
- show all related tables, even those that have no entities (which are hidden by default)
- click 'add' which will open a new tab to a prefilled record edit page
- edit the prefilled record in the recordedit app and submit

[2016-10-14 00:12] hongsudt opened #672 "support multiple conjuntive search strings"
Right now the recordset only assume one search string is provided. Is there a way to allow a conjunctive of search strings? Should we use `" "` to indicate the boundary of search terms?

@karlcz @robes any ideas?

[2016-10-14 00:20] karlcz commented on #672
I suppose splitting on whitespace and treating each word as a separate
constraints is an OK approach to start with.  I assume we'd eventually
have to add "quotes for phrases" to allow whitespace in a particular
constraint?

[2016-10-14 00:21] robes commented on #672
I think this is one of the topics that I discussed with @shinyichen the other day. We have a few options:
- treat the entire string as a search string
- tokenize on white spaces and
  - do a conjunction
  - or a disjunction

Technically all the above are feasible. This is really a UX question. My guess is that the most intuitive would be that it should be a _conjunction_ by default.

We could add

[2016-10-14 00:22] karlcz commented on #672
And this is stuff the client app would need to do.  The protocol layer already
supports conjunctive filters and this would just turn into something like:

   table/*::regexp::word1/*::regexp::word2

Where the client also needs to do some escaping of the words (or limit
their character ranges in some way) to avoid passing through
regular-expression meta-syntax.  The protocol accepts regular
express

[2016-10-14 00:22] robes commented on #672
+1 for karl's suggestion to "quote phrases". Though I'd agree that could come in the next round of requirements.

Not to mention that my suggestion for the all/any selection could also come in the next round.

[2016-10-14 00:24] robes commented on #672
Let's keep the escaping to a minimum... in my opinion.

[2016-10-14 01:14] crisaless opened #673 "results tally items not collapsing gracefully"
On my laptop, with a browser width of 1280px or less, the "Download" set (text plus dropdown plus button) ends up on the line below. It's not collapsing gracefully because elements aren't separated into columns, they're all within one col-xs-12 class.

I _think_ it would be better instead of using one column of "12", to break down into col-md-7, col-md-3 and col-md-2 respectively. Also could move

[2016-10-17 22:29] howdyjessie opened #674 "Fix placement of tour popover when sidebar is on the left"
When the sidebar is on the left in the Search app, the Bootstrap tour's popover obscures the menu items:
![screen shot 2016-10-17 at 3 28 13 pm](https://cloud.githubusercontent.com/assets/4585431/19458035/65a66df4-947e-11e6-807d-2ad6cd3f25af.png)
The popover should be oriented to right of the sidebar when the sidebar is on the left.

[2016-10-18 18:57] howdyjessie opened #676 "Add checksums to common files"
The Makefile doesn't append checksums to `common/` files  so when we request those common files from the server, the server think they're the same as older versions. Since we're currently adding and modifying the files in `common/` quite often, we should version these files as well so we don't have to hard reload all the time.

[2016-10-18 21:21] jrchudy opened #677 "Record app needs better error handling when entity does not exist"
When a entity does not exist and you navigate to it's record page, this error appears:
`Cannot read property 'displayname' of undefined`

We should have a better error handling mechanism for 404 cases.

[2016-10-18 22:49] hongsudt opened #678 "Faceting: round 1"
Take a look at [this wiki page](https://github.com/informatics-isi-edu/chaise/wiki/Faceting) for more implementation-oriented description of this feature.

This round will focus on:
- skeleton
  - listing the main entity column names
  - as the column name is clicked, display a list of faceting options. This is going to be criteria per data type. For the skeleton, we can use the number type and as

[2016-10-19 06:41] howdyjessie commented on #674
Looks good to me!

[2016-10-19 06:41] #674 closed

[2016-10-19 20:56] howdyjessie commented on #432
PR #679 has been merged

[2016-10-19 20:56] #432 closed

[2016-10-19 21:52] shinyichen commented on #360
Sort with multiple column is already supported in recordset URL.

[2016-10-20 01:10] howdyjessie commented on #664
PR #681 has been merged, closing now.

[2016-10-20 01:10] #664 closed

[2016-10-20 20:17] howdyjessie opened #683 "Check chaiseConfig first to set user role"
Viewer app currently checks a hardcoded set of Globus group ids (RBK groups) to establish a user's permission level. To accommodate CIRM without changing too much of Viewer app, CIRM would like to set its group ids in `chaiseConfig`.

[2016-10-20 22:14] #683 closed

[2016-10-20 23:31] jrchudy opened #684 "Record needs to error out properly when entity is not found"
Currently record errors out with `Cannot read property 'displayname' of undefined` when an entity filter is defined but doesn't match an entity. `Reference.read` is supposed to return an empty array if no entity is found so record app in Chaise needs to handle this error case.

[2016-10-20 23:34] jrchudy opened #685 "Record needs to call read with a proper limit"
Currently Record calls `Reference.read` with a value of 1 that is hardcoded, this needs to be handled differently.

[2016-10-22 00:01] hongsudt opened #687 "record2: create and edit links sometimes disappear"
Especially when the browser back button is clicked to get back to the record page.

[2016-10-24 17:21] #672 closed

[2016-10-24 19:09] jrchudy commented on #653
This was implemented in PR #682. This will be merged into master when foreign keys support for recordedit is ready to merge in as well.

[2016-10-25 18:11] howdyjessie opened #689 "Viewer: Vocab table values aren't loading in dropdowns when editing metadata"
@svoinea found that when editing the metadata for an image on the Viewer app, the dropdowns aren't loading the domain values from the vocab tables.

This might be because the first dropdown is unable to find table `image_grade_code`, which no longer exists in the `rbk` schema (why?). The app throws an error, causing the rest of the code that populates the other dropdowns in to not run in `viewer.a

[2016-10-26 00:25] jrchudy commented on #658
[Here's](https://github.com/informatics-isi-edu/chaise/blob/foreignkey-modal/recordedit/index.html.in#L106-L111) the lines I added to recordedit's html page.

[2016-10-26 00:27] jrchudy commented on #658
I would suggest taking the `recordedit2-master` branch and creating a new branch based off of that one. When you finish the implementation, we can merge it back into the `recordedit2-master` branch.

[2016-10-26 01:13] hongsudt commented on #687
This issue has been reported in #641. Will close this one.

[2016-10-26 01:13] #687 closed

[2016-10-26 01:36] hongsudt commented on #658
To limit the scope, we will first add a link next to the peudo-column to allow users to create a new entry to be added in the domain table. This will just open recordedit in a new tab.

[2016-10-26 01:40] hongsudt opened #692 "recordedit: write test cases for foreign key functionality"

[2016-10-26 03:38] howdyjessie commented on #668
PR #690 has been merged so I'm closing this issue now.

[2016-10-26 03:38] #668 closed

[2016-10-26 19:39] howdyjessie opened #693 "Parse out modifiers systematically"
The `UriUtils` factory should parse out the modifiers in a url more systematically by storing any params encountered in the URL inside a dictionary/object. In `parseURLFragment()`, we currently look for specific modifiers that we know are supported in ermrestjs (e.g. `@sort`, `?limit`).

Instead of scanning the same string repeatedly to find specific modifiers, it would be more flexible to scan th

[2016-10-28 22:16] jrchudy opened #694 "Clear button next to foreign key field in Recordedit"
After a user selects a foreign key value, there is not a way for the user to clear out that _input_ field (it's currently a span with bound text from the controller). The solution should be adding a clear/reset button next to the input that removed the value set in the controller.

[2016-10-28 23:01] #656 closed

[2016-10-28 23:02] #657 closed

[2016-10-31 21:23] robes opened #696 "409 Conflict error when searching on a path with a join"
Not sure if that title makes sense or not.

_This bug only seems to be reproducible on the facebase `legacy:dataset` table after getting to that table by joining from another entity set._

To recreate:

- view a person record in the _record_ app
- then click on the "View All Record" link for the nested table of Datasets
- that will take you to the _recordset_ app for the Datasets linked to that pe

[2016-10-31 23:01] jrchudy opened #697 "Foreign Key input buttons need Tooltips"
The foreign key input on recordedit has 3 buttons to the right of the input box. Those 3 buttons need tooltips attached to them. There is an example of attaching tooltips to buttons in index.html.in for the record2 page `/record/index.html.in`.

This should also have tests to verify the tooltips show up in the UI.

[2016-10-31 23:03] jrchudy opened #698 "Column tooltips in recordedit are hidden"
The tooltips that appear when the user hovers over the column name on the left are hidden by the input fields when the form is shrunk down, as seen below.

![image](https://cloud.githubusercontent.com/assets/2932600/19874565/7b9b0e8e-9f83-11e6-9df3-73ca4ab7f9e8.png)

[2016-11-01 00:15] #658 closed

[2016-11-01 00:43] howdyjessie opened #700 "Defocus foreign key input"
Fix issue when user can focus on a popup-select's input field after clicking out of the popup or tabbing into it.

[2016-11-01 02:11] hongsudt opened #702 "recordedit: remove the x button on the search popup."
This seems to be redundant with the cancel button at the bottom of the page which works. The x button doesn't work. We should move the cancel button to top right corner instead.

[2016-11-01 02:21] karlcz opened #703 "bogus 401 unauthorized pop-up during init of recordedit2"
On synapse-dev I get a bogus pop-up about not being authorized to update entities, but if I dismiss it I can still use the app.

If this is consulting ermrest ACLs, I suspect it isn't understanding that ownership implies write access?

[2016-11-01 02:22] karlcz opened #704 "FK modal doesn't cancel when clicking X button in top-right"

[2016-11-01 02:23] karlcz opened #705 "FK modal isn't limited to window height"
When showing a longer domain, the modal makes the page longer and introduces a whole-page scrollbar which pushes the bottom modal buttons off-screen.  I think the modal should be limited and introduce a scrollbar only for its results pane.

[2016-11-01 02:25] hongsudt commented on #704
duplicate with #702.

[2016-11-01 02:25] #704 closed

[2016-11-01 03:34] hongsudt opened #706 "A visible column (not psuedo) when part of FK shows broken input controls"
In this case, it uses the pseudo column displayed, but the entry is editable. The buttons do nothing.
@karlcz please provide a link for an example.

[2016-11-01 03:37] hongsudt opened #707 "search modal: need more space for the search entry"
The space to enter the search keywords is too small. The instruction text didn't even fit in it. We should expand the width.

[2016-11-01 03:45] hongsudt commented on #705
I agree with Karl.. This is make it quite difficult to navigate.
Is it possible to make the modal expandable e.g. widen the screen width? If not, can we make it wider?

[2016-11-01 04:11] hongsudt opened #708 "Change the link symbol to a dropdown arrow"
And change the text to "Select a value"

[2016-11-01 04:22] hongsudt opened #709 "Add tooltips to all the buttons so users know what to do"
@karlcz suggested that the reset should be next to the field.

[2016-11-01 16:21] karlcz commented on #706
The synapse-dev system can show an example (until I update its annotations) in the Subject table. Along with the text-entry boxes, there are broken buttons that don't do anything.

Later, if we get appropriate hueristics, I think this non-composite and non-overlapping FK scenario should just automatically substitute the corresponding pseudo-column. That would be a change in ermrestjs.

I think the

[2016-11-01 17:19] jrchudy commented on #706
There is an example of this occurring [here](https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Subject).

The case here is that the foreign key is being interpreted as one but it isn't being replaced by it's pseudo-column. This causes chaise to break when trying to call `column.reference`.

As @karlcz mentioned, Chaise needs to handle this properly. If the pseudo-column doesn't have

[2016-11-01 17:25] jrchudy commented on #702
The X and cancel button are the same implementation and the same function. If one isn't working, it might be because the control has been fully loaded yet. The cancel button appears to work every time because you are forced to wait for the modal to finish loading so you can scroll to the bottom before you can click it.

[2016-11-01 18:21] #694 closed

[2016-11-01 18:23] jrchudy commented on #659
This is implemented in the `recordedit2-master` branch.

[2016-11-01 18:23] #659 closed

[2016-11-01 18:23] #708 closed

[2016-11-01 18:23] jrchudy commented on #708
This was changed in the above commit.

[2016-11-01 18:24] jrchudy commented on #655
This is implemented in the `recordedit2-master` branch.

[2016-11-01 18:24] #655 closed

[2016-11-01 18:33] jrchudy opened #710 "Modal load delayed by a few seconds in some instances"
When the user clicks on a foreign key input field, there is a delay between when the user clicked on the field to when the modal appears.

This happens because the data for the modal is fetched before the modal is opened.

Solution:
Change the order of loading so the modal is opened before `reference.read` is fired off.

[2016-11-01 18:49] hongsudt commented on #709
duplicate with #697.

[2016-11-01 18:49] #709 closed

[2016-11-01 18:55] hongsudt opened #711 "rearrange the psuedo-column buttons"
The clear button should be nested with the text entry. If the entry is null, the clear should be disabled. The link symbol should be changed to a drop-down arrow. The add button should be at the far-right position.

[2016-11-01 18:59] carlkesselman commented on #711
Also, the clear button should be made consistent with the clear button on dates, or visa versa.  Either say clear or use the X but not both.

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck

[2016-11-01 19:00] hongsudt commented on #500
@RFSH I think you will need to pass the NOT NULL flag to the psuedo column for this to work correctly as well..

[2016-11-01 21:45] jrchudy commented on #710
This issue was merged in PR #714.

[2016-11-01 21:45] #710 closed

[2016-11-01 21:55] jrchudy commented on #702
This issue is fixed in the recent commit. The x button was missing some styling to make it appear and react more like a button. The cancel button has been removed.

[2016-11-01 21:55] #702 closed

[2016-11-01 21:55] hongsudt commented on #358
This issue should be taken care of by the current implementation. Will close.

[2016-11-01 21:55] #358 closed

[2016-11-01 22:02] hongsudt opened #715 "record2: successful deletion should direct to the search page"
The current successful deletion is very abrupt. When an experiment is deleted, it directs me to the landing page instead of a search page.

[2016-11-01 22:04] hongsudt opened #716 "Need better error message"
We need a better error messages to let the users know what's wrong and what's can be done.

@karlcz does this require some modification from errmest?

[2016-11-01 22:09] jrchudy commented on #703
This issue is resolved by the commit that @robes made. This was merged into the `recordedit2-master` branch when PR #713 was merged.

[2016-11-01 22:09] #703 closed

[2016-11-01 22:16] jrchudy commented on #715
This should be redirecting you to `chaiseConfig.dataBrowser` if that is set. If it isn't it goes to the landing page.

[2016-11-01 22:42] #711 closed

[2016-11-01 22:42] karlcz commented on #716
You need to provide a much more concrete set of goals.  Messages for what kind of errors?  What do you think the client would need to know?

There is an open issue in ermrest to provide more machine-readable error information.  This was mostly intended to expose sub-types of error that are currently all represented as 409 Conflict due to the way HTTP error codes work.  However, this was deprioriti

[2016-11-01 22:43] jrchudy commented on #530
It looks like this issue was opened for the old recordedit app. This issue is addressed in the refactored app on `recordedit2-master` branch.

When a user navigates to the recordedit page with improper permissions, they are presented with a modal dialog window that notifies them that there was an error and a button to navigate to `chaiseConfig.dataBrowser` (if it is set) or the landing page.

[2016-11-01 22:43] #530 closed

[2016-11-01 23:05] #654 closed

[2016-11-01 23:14] hongsudt opened #719 "Style the editable foreign key columns to be consistent with other columns"
It should be white background if the field is editable instead of grey..

[2016-11-01 23:20] robes opened #720 "Show All Related Entities should toggle state"
From what I can tell "Show All Related Entities" is a one-way path to show all hidden (because they are empty) related entities. It might be a better UX if this link were to toggle from "Show..." to "Hide..."

Also, will our users understand what are "Related Entities"?

[2016-11-01 23:26] chiragsanghvi commented on #719
@hongsudt I have taken care of this in PR #712

[2016-11-01 23:29] #663 closed

[2016-11-02 00:16] hongsudt opened #722 "error handling"
When a user visits a recordedit page without authentication, a 404 is currently being returned. The 404 is returned  by the server (webauthn service) because there is no session resource for the current user, when they are not logged in.

The new logic that @jrchudy and @robes recently added to fix the race condition #703 added a conditional to handle getting the current session. But the promise c

[2016-11-02 01:29] karlcz opened #723 "recordedit not observing visible-columns annotation?"
Not sure if this is a chaise or ermrestjs bug... this is on recordedit2-master branch:

https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Behavior/ID=BhvZfDsy20160803A1

this includes `Plot` and `Download` fields in both edit and create modes.  Those display names correspond to `Plot URL` and `Raw URL` columns which are excluded from the visible-columns annotation in:

https://synaps

[2016-11-02 01:46] karlcz commented on #723
I needed to use the `"entry"` context not `"edit"` which was me regressing to older recordedit terminology...

[2016-11-02 01:46] #723 closed

[2016-11-02 02:01] howdyjessie commented on #669
PR #699 has been merged, closing now.

[2016-11-02 02:01] #669 closed

[2016-11-02 02:02] hongsudt opened #724 "Displaying "loading..." at the bottom of the page if the loading is not done"
This will help user be aware of more data to be displayed instead of wondering whether the information is there or not there.

[2016-11-02 02:03] jrchudy commented on #715
This has been fixed.

[2016-11-02 02:03] #715 closed

[2016-11-02 02:03] howdyjessie commented on #667
PR #669 has been merged into `recordedit2-master`, closing now.

[2016-11-02 02:03] #667 closed

[2016-11-02 02:05] jrchudy commented on #707
This issue has been resolved and merged.

[2016-11-02 02:05] #707 closed

[2016-11-02 02:16] jrchudy commented on #719
This issue is resolved. The corresponding changes are in the `recordedit2-master` branch. Closing this issue.

[2016-11-02 02:16] #719 closed

[2016-11-02 02:32] howdyjessie commented on #698
PR #721 has been merged into `recordedit2-master`, closing now.

[2016-11-02 02:32] #698 closed

[2016-11-02 02:36] jrchudy commented on #700
This issue has been resolved. The corresponding changes are in the `recordedit2-master` branch. Closing this issue.

[2016-11-02 02:36] #700 closed

[2016-11-02 04:11] hongsudt opened #726 "403 should redirect users to the previous page instead of landing page"

[2016-11-02 04:16] hongsudt opened #727 "trying to edit an association table associated with an experiment throws an error on timestamp"
Error 400 Bad Request The request is malformed. Bad JSON array input. ERROR: invalid input syntax for type timestamp with time zone: "{"date":"2016-11-01","time":"12:21:07","meridiem":"PM"}"

Here is the url.
https://dev.gpcrconsortium.org/chaise/recordedit/#1/experiments:experiment_link_sds_page/id=161@sort(last_modified_timestamp::desc::,id)

I can create but not update.. Note: this problem was

[2016-11-02 04:31] hongsudt opened #728 "deleting an entry from recordedit kicks me back to the landing page instead of search page"
This is the delete button on the recordedit page..

[2016-11-02 04:37] hongsudt opened #729 "Search modal has area that is not clickable"
Choose one of the sop drop-down. When a search is poped up, I can click any column to choose the row except the procedure column (which is a markdown).  We should be able to click anywhere to choose, correct?

https://dev.gpcrconsortium.org/~chirag/chaise/recordedit/#1/experiments:sample

[2016-11-02 04:43] hongsudt opened #730 "delete record should be left to the submit button in the editing mode"

[2016-11-02 04:49] hongsudt commented on #720
I agreed. I discussed this with @howdyjessie today... She probably didn't get to it yet.

[2016-11-02 04:50] hongsudt commented on #525
This problem still exists.

[2016-11-02 17:17] jrchudy commented on #730
This issue is resolved in a recent commit to `recordedit2-master` branch.

[2016-11-02 17:17] #730 closed

[2016-11-02 17:17] jrchudy commented on #728
This issue is resolved in a recent commit to `recordedit2-master` branch.

[2016-11-02 17:17] #728 closed

[2016-11-02 17:22] karlcz opened #731 "table-display row_order unreliable in related entities?"
I added the row_order annotation on several tables to sort by ID in descending order, e.g. https://synapse-dev.isrd.isi.edu/ermrest/catalog/1/schema/Zebrafish/table/Subject/annotation

When I go to a page with many related entity sections, some do not seem to follow the sort.  Once again, I tried to double-check my annotations but it is possible I am missing some typo...

https://synapse-dev.isrd.

[2016-11-02 17:47] jrchudy commented on #726
This issue is resolved in a commit to `recordedit2-master`. Closing this issue.

[2016-11-02 17:47] #726 closed

[2016-11-02 18:27] hongsudt opened #732 "contextualize the search modal with compact/select"

[2016-11-02 18:28] jrchudy commented on #729
This is caused by a div that is rendered as markdown. When that div is markdown, it has the event propagation applied to that div whether it has a link or not. We should move the `$event.stopPropagation()` click event to the <a> tag that is rendered in the markdown. This way it only stops propagation on <a> tags instead of all markdown tags.

We need to open an issue in ermrestJS for this.

[2016-11-02 18:29] jrchudy commented on #705
This issue has been resolved in PR #712. This was merged last night. Closing this issue.

[2016-11-02 18:29] #705 closed

[2016-11-02 18:37] jrchudy commented on #671
All 3 issues for this epic have been resolved. Closing this epic.

[2016-11-02 18:37] #671 closed

[2016-11-02 18:38] jrchudy opened #733 "Error Messages shouldn't have error code"
Chaise generated error messages should **not** include error codes.

[2016-11-02 19:46] hongsudt commented on #729
Issue moved to [informatics-isi-edu/ermrestjs #271](https://github.com/informatics-isi-edu/ermrestjs/issues/271) via [**ZenHub**](https://www.zenhub.com/)

[2016-11-02 19:46] #729 closed

[2016-11-02 20:07] #732 closed

[2016-11-02 21:08] jrchudy commented on #727
This issue is resolved in a recent commit to the `recordedit2-master` branch. Closing this issue.

[2016-11-02 21:08] #727 closed

[2016-11-02 21:11] shinyichen commented on #731
I see that Zebrafish:Subject annotation is sort by ID descending. And it is showing by ID descending. Is is another table that doesn't follow the sort?

[2016-11-02 21:32] #731 closed

[2016-11-02 21:33] jrchudy opened #736 "Validation on foreign key fields"
@jrchudy commented on [Wed Nov 02 2016](https://github.com/informatics-isi-edu/ermrestjs/issues/272)

Foreign key fields that are marked as not-null need to be validated in the UI before the data is submitted to ermrest.

[2016-11-02 22:17] jrchudy commented on #724
This issue has been resolved in the `recordedit2-master` branch. Closing this issue.

[2016-11-02 22:17] #724 closed

[2016-11-02 22:25] karlcz commented on #696
The actual request causing the 409 is:

    https://dev.isrd.isi.edu/ermrest/catalog/1/attributegroup/M:=legacy:person/username=David%20E.%20Clouthier/(username)=(legacy:dataset:owner)/*::ciregexp::mouse/F3:=left(owner)=(legacy:person:username)/$M/F2:=left(project)=(legacy:project:id)/$M/F1:=left(thumbnail)=(legacy:file:id)/$M/id;M:=array(M:*),F3:=array(F3:*),F2:=array(F2:*),F1:=array(F1:*)@sort(i

[2016-11-02 22:41] karlcz commented on #541
@hongsudt is this redundant with the work recently done to pass a cookie name and allow pre-filled values to be provided to recordedit?

[2016-11-02 22:42] karlcz commented on #525
Is this a duplicate of #500 or is that different?

[2016-11-02 22:43] karlcz commented on #736
Is this a duplicate of #525 and/or #500?

[2016-11-02 22:45] jrchudy commented on #500
This issue is from before recordedit refactor was done. This pertains to the old instance of recordedit **without** the reference API. Closing this issue as it is a duplicate of #525.

[2016-11-02 22:45] #500 closed

[2016-11-02 22:46] jrchudy commented on #736
Correct, this is a duplicate of #500 and #525. Issue #500 was closed. I'm closing this issue so we can track all the development in #525.

[2016-11-02 22:46] #736 closed

[2016-11-02 22:47] jrchudy commented on #541
This looks like the issue we opened before we thought about how to implement it. I believe the cookie implementation is a duplicate of this issue. And therefor this can be closed.

[2016-11-03 02:19] jrchudy commented on #525
This issue has been fixed. The changes were pushed to the `recordedit2-master` branch. Closing this issue.

[2016-11-03 02:19] #525 closed

[2016-11-03 03:11] chiragsanghvi commented on #641
This issue can be fixed the same way we fixed it for issue #703 for recordedit in this PR https://github.com/informatics-isi-edu/chaise/pull/713.

[2016-11-03 05:32] hongsudt opened #740 "loading... is incorrect"
On this page, there should only be one related entity. However, I see the loading... text that won't go away. There might be something wrong with the loading logic.

https://demo2.gpcrconsortium.org/chaise/record/#1/experiments:sample/id=58

[2016-11-03 19:26] ljpearlman opened #742 "Search / record linking broken"
I have a table that has both a primary key and a multi-column unique constraint. The search results link the primary key column to a record URL that uses the other unique constraint instead of the primary key to create the ermrest URL. If any of the columns referenced in the unique constraint is null, the result will be this error:

You can see this at https://staging.rebuildingakidney.org/chaise/

[2016-11-03 19:59] ljpearlman commented on #742
Actually, I've removed the unique constraint on production to force it to use the primary  key (which is working). But you can still see the behavior on staging.

[2016-11-03 20:25] jrchudy commented on #742
Thank you @ljpearlman.

A note for who works on this going forward, this might be an issue with the app-link function. This could be a problem in the chaise code or in the ermrestJS code.

[2016-11-03 21:21] hongsudt opened #743 "Links on Sample Record Set are confusing."
@carlkesselman commented on [Tue Nov 01 2016](https://github.com/informatics-isi-edu/gpcr-project/issues/294)

If you clink on one of the linked fields, it does what is expected.  However, if you click on an unlinked column, it doesn't go to the record.  That seems inconsistent to me.  Also, we have elements on the recordset that could be linked but aren't (biomass, creator).

In general, I think

[2016-11-03 21:29] robes commented on #743
One suggestion here:

1. no longer make the whole row a clickable target to go to the record page
2. introduce an explicit target for each row to drill down to record page
3. continue to allow column-specific targets based on markdown columns

[2016-11-03 21:32] carlkesselman commented on #743
Yes, and if there is nothing obvious like a record id or assecssion number to click on, then we should have an icon that indicates that this will expand the record.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Profe

[2016-11-03 21:32] carlkesselman commented on #743
In fact, for consistency, we might always consider having such a column.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Ad

[2016-11-03 21:44] robes commented on #743
Ah, that's what I meant but may not have stated well. Always have an "explicit target" which would be a synthetic column, could be a button, could be a 'click to expand' text link, etc.

I also am suggesting we may want to reconsider even making the ID column (even if there is _one_ only) a link to the record page. I'm not sure our users will guess that they can click there to go to the record pag

[2016-11-04 00:34] jrchudy commented on #740
This issue was fixed in a commit to the `recordedit2-master` branch earlier today. Closing this issue.

[2016-11-04 00:34] #740 closed

[2016-11-04 17:13] hongsudt commented on #742
If this is the search app, it has nothing to do with ermrestjs.

@ljpearlman If you set the comment annotation of the primary key column to title, the search app will use that explicitly for linking.

[2016-11-04 17:21] ljpearlman commented on #742
@hongsudt the broken table already has this annotation:

[code]

The link appears on that column, but what the link points to is a query build up from the other unique key. So it looks like the title annotation controls where the link goes, but not what the link points to.

[2016-11-04 17:35] svoinea commented on #742
The link points to an unique key, selected randomly (more exactly the first one returned by the introspection). If you desire a specific unique key to be used for the `record` page, then I need to define an annotation in that respect and to do an update to the code.

[2016-11-04 18:17] hongsudt commented on #742
Why can't you use what's defined under title?

On Fri, Nov 4, 2016 at 10:35 AM, svoinea <notifications@github.com> wrote:

[2016-11-04 18:35] hongsudt opened #744 "Attribute list on samples/all attributes seems messed up."
@carlkesselman commented on [Thu Oct 06 2016](https://github.com/informatics-isi-edu/gpcr-project/issues/261)

See https://dev.gpcrconsortium.org/chaise/search/#1/experiments:sample select all attributes:

![image](https://cloud.githubusercontent.com/assets/3597150/19143471/803889dc-8ba4-11e6-8b94-72ddc4733922.png)

---

@hongsudt commented on [Fri Nov 04 2016](https://github.com/informatics-isi-e

[2016-11-04 18:37] jrchudy commented on #596
This issue is still pending on merging `recordedit2-master` into Chaise. We need to finish updating the e2e tests first before we do that.

[2016-11-04 18:39] jrchudy commented on #692
This issue is addressing the tests that were commented out for the foreign keys specifically. I am working on updating those tests and making sure those are passing.

Those tests are marked with `pend("Postpone test until foreign key UI is updated for the new reference apis")`.

[2016-11-04 18:54] jrchudy commented on #662
@robes, the implementation for this deviated from what you suggested. Should we leave this issue open for you to review the changes?

[2016-11-04 18:59] hongsudt commented on #617
please update the doc to whatever we have observed.. and then we can close this.

It seems like http2 is stable enough to be used for production.

[2016-11-04 19:02] hongsudt commented on #733
duplicated with #722.

[2016-11-04 19:02] #733 closed

[2016-11-04 19:03] hongsudt commented on #689
If this is a quick fix, let's get this out of the way.

[2016-11-04 19:09] hongsudt commented on #491
This is no longer applicable.

[2016-11-04 19:09] #491 closed

[2016-11-04 19:12] hongsudt commented on #545
This is still a problem.. None of the timestamp seems to work. Please fix this asap.

https://demo2.gpcrconsortium.org/chaise/search/#1/experiments:experiment?facets=(experiment:last_modified_timestamp::geq::Invalid%20Date/experiment:last_modified_timestamp::leq::Invalid%20Date)&layout=table&page=1

[2016-11-04 19:15] ljpearlman commented on #742
Can the search app distinguish between a primary key and another unique key? If so, I think using the primary key would make the most sense.

Also, it appears that the record link is failing because we're searching for null values. Is that an expected limitation, or a bug somewhere in record / ermestjs / ermrest?

[2016-11-04 20:43] karlcz commented on #742
A "primary key" is just exposed as unique and also having not-null
constraints on the column(s).

In the newer apps, we use the following criteria to sort keys into
tiers, prefering the best match:

1. Prefer keys with not-null on all columns
2. Prefer keys with fewer columns
3. Prefer integer over text keys

We only use later criteria to sort among candidates which are tied in
the previous criter

[2016-11-04 20:43] hongsudt opened #745 "style long column value to only show a portion of text"
With the `more` link/button to expand the rest of the next and `less` to contract the text.

I saw this implemented in amazon comments and we might be able to borrow the concept here.

@chiragsanghvi please suggestions of existing material that we might be able to use.

[2016-11-04 20:45] hongsudt opened #746 "recordedit support composit keys"
We can work on this after we have the current recordedit merge to master.

Note: the current version only works on single column foreign keys.

[2016-11-04 20:48] ljpearlman commented on #742
@karlcz are queries for null values supported? I'm just wondering whether this is one problem (not using the best possible key) or two (not using the best possible key and the query failing).

[2016-11-04 20:59] karlcz commented on #742
You can query for null in ermrest with a different operator
(col::null:: which means "col IS NULL" in SQL).

But, null cannot be a key... in SQL, uniqueness constraints are not
enforced for nulls (or any partially null composite) so you could have
many rows which would match the same query, leading to very confusing
results or app misbehavior if you mistakenly tried to reference
exactly one row wi

[2016-11-04 21:19] robes commented on #662
@jrchudy No, you don't need to keep it open.

But I would like to learn what approach was taken. Maybe someone can review with me.

[2016-11-04 21:20] #662 closed

[2016-11-04 21:40] jrchudy commented on #697
This issue has been resolved. The changes are in the `recordedit2-master` branch. Closing this issue.

[2016-11-04 21:40] #697 closed

[2016-11-04 22:01] shinyichen commented on #745
I have played with this yesterday and today. I tried a combination of different things and came up with two ways of doing it, neither can accomplish exactly what we want. (Note: `text-overflow: ellipses` only works for single line.)

First is applying CSS `max-height` on the content and hide the `overflow`. The hard part is figuring out whether this cell's content has overflow in order to display

[2016-11-04 22:15] carlkesselman commented on #617
I would say so.

Lets update all recipes over the next few weeks to migrate to this so we are all on a consistent platform.

carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of

[2016-11-04 23:05] jrchudy opened #747 "Tests that rely on delete button"
The e2e tests that rely on the delete button being visible and clicking that button to make sure the user can delete the current record/entity, were marked as pending.

These tests are in `02-recordedit.delete.spec.js` and `record/helpers.js` (test names: "should show the action buttons properly" and "should redirect to data browser" under the `testDeleteButton` function).

[2016-11-04 23:09] jrchudy opened #748 "Tests for pre-fill data"
The tests for pre-filling data in the `recordedit` form were marked pending. We changed the form input from an `input` to a `div` so this might be what caused this test to start failing.

The test in `record/helpers.js` under the `relatedTableLinks` function is "should have a Add link for a related table that redirects to that related table in recordedit with a prefill query parameter". The other

[2016-11-04 23:11] jrchudy opened #749 "Tests for row click function"
One of the row click function tests started failing after a change we made to the row click function to only stop event propagation when the markdown content includes an <a> tag.

The test, "click on row should redirect to record app", was failing on the `recordset` app. It is in `recordset/helpers.js`.

[2016-11-04 23:20] jrchudy commented on #660
All of the issues related to this epic are completed.

[2016-11-04 23:20] #660 closed

[2016-11-04 23:31] svoinea commented on #742
The PK with the `title` annotation should have been fixed through the a650bac93d9053cc21dfcfe8969a7f0097f32af3 commit in the `chaise` repository.
Currently, you can test it using the https://dev.rebuildingakidney.org/~serban/chaise/search/#2/Antibody:Antibody_Tests link.

[2016-11-05 00:18] shinyichen commented on #745
I just remember that I am out of town next week (11/7-11/11). I push the changes I have, using the second method described, to re2-readmore branch.
https://github.com/informatics-isi-edu/chaise/tree/re2-readmore
In case someone needs to pick it up where I left off.

[2016-11-05 01:24] ljpearlman opened #750 "Viewer using wrong value for accession id"
The viewer is using the `description` field instead of the `accession_number` field for the accession id displayed in the metadata view. I think it's probably just a typo:

[code]

[2016-11-05 01:59] ljpearlman commented on #742
That fixed the original problem, but now when I try to search the Person table (https://dev.rebuildingakidney.org/chaise/search/#2/Common:Person), I get

[code]

I suspect this is because I this table has unique indexes with columns that overlap:

[code]

(the name/email constraint is there to support a foreign key; postgres requires an explicit unique index for multi-column foreign keys even if e

[2016-11-05 03:33] svoinea commented on #545
Should be fixed now through the commit ee92efe07c744d0aab507a37db3f9959673986e6 in the `chaise` repository.
Currently testing can be performed using the https://dev.gpcrconsortium.org/~serban/chaise/search/#1/experiments:experiment link.

[2016-11-05 03:46] hongsudt commented on #742
The search app cannot handle composite keys.

On Nov 4, 2016 7:00 PM, "ljpearlman" <notifications@github.com> wrote:

[2016-11-05 03:52] ljpearlman commented on #742
@hongsudt - This was working until today. One of the affected tables was the rbk Antibodies table (although it turns out the constraints that triggered the bug in that table were no longer necessary, so I removed them).

[2016-11-07 17:20] svoinea commented on #742
This should work now based on the commit ff3d686da5c71e4ad197d893e0e730545717390d which avoids collecting "duplicate" PK.
I have tested it on https://dev.rebuildingakidney.org/~serban/chaise/search/#2/Common:Person

[2016-11-07 17:46] hongsudt commented on #545
When the issue is ready to be reviewed, please move it to the review column and assign the reviewer.

[2016-11-07 17:50] hongsudt commented on #545
It is not working on gpcr-dev. It no longer throws an error, but all the dates are greyed out except Nov 3 and 4. And when I selected a date, no filtering was applied.

[2016-11-07 17:58] hongsudt commented on #545
@svoinea Your commit doesn't fix the problem.. See my previous comment.

[2016-11-07 18:04] hongsudt commented on #676
@chiragsanghvi is this something you can help with?

[2016-11-07 18:11] svoinea commented on #545
I don't understand which are the expectations.
All the entries have a single date: `November 3`.
What filter do you want to apply? If in the `From:` widget` you select 'November 4, you get zero results (because none of the timestamps is equal to `November 4`).
Same thing happens when you select in the `To:` widget `November 3`.

[2016-11-07 18:34] chiragsanghvi commented on #676
@hongsudt Yes I can.

[2016-11-07 19:33] hongsudt commented on #545
I should be able to select an arbitrary begin date and end date and apply
that as a filter..

For example, I should be able to ask for everything from 10/15 to 11/31 and
that shouldn't fail.

On Mon, Nov 7, 2016 at 10:11 AM, svoinea <notifications@github.com> wrote:

[2016-11-07 19:37] #541 closed

[2016-11-07 19:43] ljpearlman commented on #742
Works for me, too. Thanks!

[2016-11-07 19:43] #742 closed

[2016-11-07 19:47] hongsudt commented on #426
What about introduce a new column type "hatrac_uri"?
For this column type:
* the app asks users to select a file to be uploaded
* calculate the hatrac md5 checksum, so it won't try to upload the same content over again.
* set the appropriate content-type
* if possible, calculate filesize
* if possible, calculate sha256 checksum
All of these should be implemented in a module so it can be reused.

[2016-11-07 19:55] karlcz commented on #426
I think the UI would need more logic and more guidance than just recognizing a column type... there is substantial overlap with iobox concepts here:

- Some annotation with a mustache pattern to produce the desired object name from row metadata and/or checksum information?
- Some annotation to collect local filename (if feasible w/ HTML5?) as additional row metadata
- Some annotation to guide init

[2016-11-07 19:59] hongsudt commented on #665
@chiragsanghvi can we work on moving this repo to informatics-isi-edu? If you give me an admin access on that repo, and let me know what I need to do, I can then move it.

[2016-11-07 20:03] hongsudt commented on #745
@chiragsanghvi Do you think you can take over this issue?

[2016-11-07 20:14] chiragsanghvi commented on #665
I have added you as a collaborator and now you can transfer the repo **ErmrestDataUtils** to **informatics-isi-edu**. Just to be sure we will also need an NPM account for our organisation.

As the code is pulled from npm whenever we build systems and run test-cases.

[2016-11-08 07:15] howdyjessie commented on #748
The tests have been fixed via ed222bb and merged into `recordedit2-master`.

[2016-11-08 07:15] #748 closed

[2016-11-08 18:25] robes opened #752 "Cosmetic tweaks to record page for nested entities display"
We've had outside feedback that mirrors our internal review of the record app w.r.t. display of nested entities.

- [ ] use the same font for the (nested) table name as we use for the attribute names (i.e., light gray and smaller)
- [ ] use different icons for the expand/collapse indicators because the - / + are very weak affordances.
- [ ] move the separator line to the bottom of each nested enti

[2016-11-08 18:55] robes commented on #426
From our conversation yesterday, a flow could be:

1. collect form data and file-related information (size, checksum, etc)
2. mint identifier (i.e., accession number)
3. post object (hatrac)
4. post entity (ermrest)

Step 2, requires a new accession service or feature, probably on ERMrest and probably configured by the same custom trigger logic we use for generating accession numbers.

[2016-11-08 18:59] robes commented on #426
Also, if we intend to capture details about multi-assets per entity (row of a table) then we will need to modify the annotation because it really assumes that there will be a single asset annotation on a table.

https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2016-asset

Could be a matter of changing the definition to allow a list `[ ... ]` of the same payload obj

[2016-11-08 19:43] chiragsanghvi commented on #617
@hongsudt I have published my short report on google drive https://drive.google.com/open?id=0B078ZBI38peDdVgzYVotZXdXbTA. Once we have the recipe in place, we can close this issue.

[2016-11-08 21:48] carlkesselman commented on #426
Should we make EZID one option for that assassin generation service.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admira

[2016-11-08 22:41] hongsudt opened #753 "allow users to specify # of rows to be duplicated"
Instead of duplicate one row at a time, we allow users to specify # of rows to be duplicated.

We used to have that but took this feature out.

[2016-11-08 22:52] RFSH commented on #696
@shinyichen fixed this issue and the url is now working.

[2016-11-08 23:03] hongsudt commented on #696
OK. I am moving this to review. @robes please review and close.

[2016-11-08 23:33] howdyjessie commented on #676
PR #751 has been merged so I'm closing this issue.

[2016-11-08 23:33] #676 closed

[2016-11-08 23:44] RFSH commented on #706
I think [this](https://github.com/informatics-isi-edu/chaise/blob/recordedit2-master/recordedit/form.controller.js#L391,L393) function is causing the bug. We should just check for `isPseudo` and not the actual foreign keys of the column. This flag ensures us that the column is replaced with pseudo-column.

[2016-11-09 01:57] #749 closed

[2016-11-09 01:57] #692 closed

[2016-11-09 02:01] howdyjessie opened #756 "Recordset should use default table or catalog if available"
If you try to go to `dev.isrd.isi.edu/chaise/recordset` (no trailing slash), the app automatically appends a trailing slash at the end and then the spinner gif keeps going on forever. Recordset should navigate to the default table and catalog (if available in chaise config) or display an error message.

cc'ing @jrchudy in case he has anything to add.

[2016-11-09 18:45] howdyjessie commented on #747
These tests have been written and merged into `recordedit2-master` via ee4f330. The tests are failing on Travis (but passing locally) due to PR #757 not being in `recordedit2-master` yet, but it will be later (today?).

[2016-11-09 18:45] #747 closed

[2016-11-09 20:02] jrchudy commented on #641
PR #757 was merged. Closing this issue.

[2016-11-09 20:02] #641 closed

[2016-11-09 23:03] mikedarcy commented on #426
There are quite a few libraries out there for handling file upload in modern browsers.  We should investigate if there are benefits to leveraging one of these rather than rolling our own.  Here's one in particular that I was looking into. It is an Angular library that is pretty mature and popular:

https://github.com/danialfarid/ng-file-upload

Of course, there are plenty of others out there too.

[2016-11-09 23:26] robes opened #760 "Pseudocolumns wrap badly"
Contents of pseudocolumns runover the fake form field div.

For example,
![recordedit-bad-wrap](https://cloud.githubusercontent.com/assets/4202842/20158695/de073b6a-a690-11e6-8cae-d2b6537b2294.jpg)

[2016-11-09 23:56] hongsudt commented on #752
@robes Do we have a specific deadline for this change?

[2016-11-10 00:02] robes commented on #752
end of november release for facebase, if possible

[2016-11-10 00:20] robes opened #761 "Sort icons not showing up on recordset directive"
Just looked at this with @jrchudy and we could see that the chaise css was not loading (error 404). This error actually comes from loading the recordedit page itself so it could have more consequences than just the recordset directive.

[2016-11-10 00:21] robes commented on #761
@hongsudt @jrchudy  I have a demo tomorrow so it would be great if this could be done quickly, if its a trivial thing to fix.

[2016-11-10 02:04] jrchudy opened #763 "Recordset needs to fetch the Session"
We have recently made changes to `record` and `recordedit` to make sure the session is available before `Ermrest.resolve()` is called. This needs to be done in `recordset` as well so we have consistent logic in each app.

[2016-11-10 02:46] hongsudt commented on #752
I disagree with the first bullet regarding the font size since the behavior of the nested table is different from columns in the main table. It has to be clear that the items are clickable.

[2016-11-10 02:47] hongsudt commented on #665
We decided in the meeting to change the process so there is no dependency on the NPM account.

[2016-11-10 02:51] hongsudt commented on #760
@chiragsanghvi can you fix the div..

[2016-11-10 02:54] hongsudt commented on #617
@karlcz we already have a recipe to turn on http2 and compression correct?

[2016-11-10 03:28] karlcz commented on #617
yes we used a recipe for the two recent demo machines and can adapt
that for more systems.

[2016-11-10 15:21] carlkesselman opened #764 "Set up pilot genome browser to see if that is sufficent for BAM and VCF files"
jbrowse.org

[2016-11-10 16:36] hongsudt commented on #764
This task shouldn't go under the chaise repo.. I assume you want this to go
under rbk?

On Thu, Nov 10, 2016 at 7:21 AM, Carl Kesselman <notifications@github.com>
wrote:

[2016-11-10 16:39] carlkesselman commented on #764
Yes, sorry.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina del Rey, CA  90292-6695
Phone

[2016-11-10 17:20] #764 closed

[2016-11-10 17:20] carlkesselman commented on #764
Issue moved to [informatics-isi-edu/rbk-project #259](https://github.com/informatics-isi-edu/rbk-project/issues/259) via [**ZenHub**](https://www.zenhub.com/)

[2016-11-10 18:34] jrchudy opened #765 "Chaise config not copied for Travis tests"
Chaise config is copied properly per test when you run the tests locally against the dev.isrd server.

When you run the tests in travis the chaise config isn't copied per test. I noticed it was only using the sample chaise config.

[2016-11-10 19:04] jrchudy opened #766 "Some e2e tests are non-deterministic"
Some e2e tests rely on a value being set, but if that value isn't set it runs a different set of expectations. These e2e tests need to be split into multiple tests in separate specs. Having them in separate specs will allow us to test functionality one way in one spec and a different way in the other spec.

[2016-11-10 19:50] #696 closed

[2016-11-10 19:55] ljpearlman commented on #722
Is this the bug to watch for record returning 401 if the user isn't logged in, even if the system is set up not to require authentication?

[2016-11-10 21:19] karlcz commented on #298
I think we should get this going in master soon and coordinate with transitioning of VMs to Fedora-based recipes so that the new VMs are using the new `/authn/` API, in anticipation of eventually using the other mod_webauthn features and disabling the legacy copy of webauthn nested as `/ermrest/authn/`

[2016-11-11 00:01] chiragsanghvi commented on #765
This was failing because the chaise-config was getting copied to some other place.

[code]

The path should have been
[code]

[2016-11-11 00:01] #765 closed

[2016-11-11 00:04] chiragsanghvi commented on #745
This is how it looks [before wrapping](https://dev.isrd.isi.edu/chaise/recordset/#9862/product-record:accommodation/id=2002) and [after wrapping](https://dev.isrd.isi.edu/~chirag/chaise/recordset/#9862/product-record:accommodation/id=2002)

[2016-11-11 00:04] #745 closed

[2016-11-11 00:06] #665 closed

[2016-11-11 00:39] robes opened #768 ""Add Record" links to wrong table on association table linkages"
When you have a model that has associated entities, the "Add Record" will take you to the recordedit page to add another of the target entities rather than to add a new association.

Based on this figure:
`[Table 1] <-- [Association Table] --> [Table 2]`

If you were on the record page for an entity from `Table 1` and you see the nested tables section for `Table 2` entities, when you click on the

[2016-11-11 00:39] robes commented on #768
@hongsudt if we could get this fixed we could have a workaround to let us move forward on the CIRM update.

[2016-11-11 01:02] jrchudy commented on #722
You are correct @ljpearlman. That bug was related to this bug as well. I created that bug the other morning and have since fixed it for the record app. I'm almost done fixing this issue as well so recordedit should get proper error responses again.. (soon).

[2016-11-11 01:43] jrchudy commented on #596
The `recordedit2-master` branch has been merged into master. Closing this issue... finally.

[2016-11-11 01:43] #596 closed

[2016-11-11 01:44] jrchudy commented on #653
This has been merged into master as of today. This button only shows up if the chaise config option, `showDeleteButton` is set to true. It is hidden by default.

[2016-11-11 01:44] #653 closed

[2016-11-11 01:48] robes opened #769 "Bad encoding of row name (used as title of the entity) on record page"
We have an attribute value, our identifier column `ID`, that has a value with an `'&'` character in it. We also use that column as the row name of the entity. However, on the _title_ of the record app the `&` gets (double?) encoded as `"&amp;"`. @svoinea has tried a few approaches which are discussed here:

https://github.com/informatics-isi-edu/cirm-project/issues/55

Example of this can be seen

[2016-11-11 02:00] chiragsanghvi commented on #769
@robes The problem is the `&` is getting escaped. If you don't want the value of the attribute to be escaped simply use syntax as mentioned [here](https://github.com/informatics-isi-edu/ermrestjs/wiki/Template-and-Markdown-Guide#disable-escaping) i.e.
[code]

[2016-11-12 06:36] carlkesselman opened #771 "Add analytics to approriate Chaise applications"
FaseBase has a requirement that we track downloads of assets.  I would propose that we use accomplish this be instrumenting Chaise applications to publish asset download stats to Google Analytics.

We should also think about instrumenting Chaise code so we know what users are doing with respect to interactions with the UI.  Just tracking ERMRest queries is not going to provide the information we n

[2016-11-14 18:27] hongsudt commented on #768
@RFSH Can you look into this?

[2016-11-14 19:41] hongsudt commented on #760
@chiragsanghvi please update the issues to the right status as you work on them.

[2016-11-14 19:44] hongsudt commented on #766
@howdyjessie @shinyichen @jrchudy @chiragsanghvi @RFSH can you guys review your test cases and generate issues if they need to be fixed...

[2016-11-14 19:45] hongsudt commented on #768
@robes Do you have the latest code?  Chaise/ermrestjs seems to handle the association table correctly in the gpcr use case.

[2016-11-14 20:17] hongsudt opened #772 "Freeze the column names and the plus button so they are not scrollable"
The column names should be fixed (the same way that the columns are frozen in excel). And the add button should be moved out of the horizontally scroll-able area, so it is visible at all time.

[2016-11-14 22:27] robes commented on #768
We are using the chaise master branch and it should be up to date.

I showed this to @jrchudy and he confirmed it was a bug. I can show to others.

For example, go to this record:

https://cirm-dev.isrd.isi.edu/chaise/record/#1/Microscopy:Specimen/ID=20160920-mKDCrlf1IRES21d-GA-0

Under the "Specimen Gene" section click "Add a Record". It takes you to record edit for the `gene` entity. It should g

[2016-11-14 22:28] svoinea commented on #769
@chiragsanghvi The current annotation is:

```"row_name" :{"row_markdown_pattern":"{{{ID}}}"}```

The value of the ```ID``` is ```20160915-H&ENone-GA-0```.
In the title it gets rendered as ```20160915-H&amp;ENone-GA-0```.
Otherwise, it is rendered properly in the ```detailed``` or ```compact``` contexts.

I tried also:

```"row_name" :{"row_markdown_pattern":"{{&ID}}"}```

or:

```"row_name" :{"ro

[2016-11-14 23:06] hongsudt commented on #769
Yeah.. This is probably a bug since we don't have the logic that render column header in html.

@robes should we have another property `row_name_is_html` to indicate whether the row name should be rendered as html? We will need the same thing for column.displayName since the column displayname can be annotated with a markdown pattern. Should we refactor the code to return a row_name as an object w

[2016-11-14 23:30] #763 closed

[2016-11-14 23:50] hongsudt opened #774 "recordset search box: need a tooltip on multiple distunctive and conjuntive clauses"
We should provide a tooltip on how multiple and clauses can be specified.. e.g.
`Use space to separate between conjunctive (i.e. and) criteria and | for disjunctive (i.e. or) criteria. `

[2016-11-14 23:57] hongsudt commented on #454
We can achieve this through view now.. Will close the issue.

[2016-11-14 23:57] #454 closed

[2016-11-14 23:58] hongsudt commented on #582
This problem has been solved..

[2016-11-15 01:08] howdyjessie commented on #720
@robes @hongsudt
I'm not entirely convinced that "Related Entities" is the best phrase here, but, without a suggestion of my own that I like, I've stuck with @hongsudt's proposed "Related Entities" for now. It would be nice to hear how users respond to this link.

Related Info/Information? More Info/Information? Nothing sounds good to me.

As long as there's this visual "sectioning-off" between th

[2016-11-15 01:10] robes commented on #769
@hongsudt Maybe we can discuss at our next stand up. I'm not sure I fully understand the issue.

[2016-11-15 01:29] RFSH commented on #768
The problem is that in ermrestjs, the context that is returning the association table is edit ([`ref.contextualize.entryEdit`](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/reference.js#L1213)) while in chaise we're using create context ([`ref.contextualize.entryCreate`](https://github.com/informatics-isi-edu/chaise/blob/master/record/record.controller.js#L98)).

I expanded the l

[2016-11-15 01:33] hongsudt commented on #768
@howdyjessie please review this issue and make sure that the contexts are in sync.  I think what we have is now correct.. Ermrestjs should handle all editing contexts and that link in chaise should be create.

[2016-11-15 01:35] jrchudy commented on #677
Duplicate of #684.

[2016-11-15 01:35] #677 closed

[2016-11-15 01:38] jrchudy commented on #720
One thing that we have been discussing is having the record page look consistent between the record info and the related tables. So I don't think adding a heading there will fit in with our _to be determined_ UX.

Issue #643 addresses this.

[2016-11-15 01:49] howdyjessie commented on #720
@jrchudy I hadn't realized the issue had been moved back into This Week today, so I thought we'd put #643 on the back burner for now. But yeah, if the tables can be appended seamlessly to the main record, then that would void the need for a heading.

[2016-11-15 01:52] howdyjessie commented on #720
With a completed #643 in mind, maybe a good link could be "Hide Empty Rows"/"Show All Rows"?

[2016-11-15 03:23] howdyjessie commented on #768
It does look like Aref's fixed it in informatics-isi-edu/ermrestjs#283. I tested on schema `legacy` on dev.isrd for the association table link among `[dataset] <-- [dataset_organism] --> [organism]`, and the Add link showed me a RecordEdit page for `dataset_organism`.

[2016-11-15 03:23] #768 closed

[2016-11-15 18:31] shinyichen commented on #769
Can we discuss this together? I am not sure if @robes and @hongsudt are talking about the same thing. And the example link is giving me 403 error.

[2016-11-15 19:14] robes commented on #769
@shinyichen right, hongsuda and I were talking about different things. she was talking about the column headers and I was talking about the row name/title that appears at top of the record page.

[2016-11-15 19:26] robes opened #776 "count of entities for nested tables is misleading"
The count of entities maxes out at the limit for display in the nested entity table. For instance, you might have 100s of related entities but you configure the limit to 25. On the record page it will show you "Nested Table Name Here (25)".

This leaves the user not knowing:
- does this mean I am seeing all 25 related entities, or
- am I seeing 25 out of `some unknown number` of entities?

We know

[2016-11-15 19:41] bugacov commented on #776
And also when going into the "View all records" table doesn't seem to be an
idea of count in that view

On Tue, Nov 15, 2016 at 11:26 AM, robes <notifications@github.com> wrote:

[2016-11-15 19:51] chiragsanghvi commented on #760
This is how it looks now.

<img width="600" alt="screen_shot_2016-11-09_at_4 03 12_pm" src="https://cloud.githubusercontent.com/assets/1658152/20321272/c288fa7a-ab29-11e6-8a66-17c9c2390f89.png">

[2016-11-15 19:57] chiragsanghvi commented on #769
@robes I just tried the same column value with unescaped syntax. And it works [here](https://runkit.com/chiragsanghvi/57b4b5f94c7bbd13004b43f6).

I am unable to access the above url's due to permissions.

[2016-11-15 19:59] robes commented on #769
@chiragsanghvi The problem might be if the record page is not recognizing that the value should be treated as html?

[2016-11-15 20:02] chiragsanghvi commented on #769
@shinyichen @robes Yes, it is not rendering it as HTML. https://github.com/informatics-isi-edu/chaise/blob/master/record/index.html.in#L36. We need to add `ng-bind-html` here for recordDisplayname

[2016-11-15 20:08] robes commented on #769
@chiragsanghvi @shinyichen The only question is whether we need a flag to indicate whether it should be treated as html. In this case, (afaik) the `tuple.displayname` can only be defined via the `row_markdown` annotation (correct me if I'm mistaken), then it should be safe always to assume that the row name can include html.

But note that this is _not_ a valid assumption for model element display

[2016-11-16 00:15] shinyichen commented on #769
I see that tuple.displayname comes from a utility function which return a string of raw text or HTML. Other places that use this utility function assumes the result is HTML. Easiest fix is to always display it as html. Or I can add a flag.

[2016-11-16 02:34] howdyjessie commented on #720
With PR #775 merged into master, I'll close this issue for now.

[2016-11-16 02:34] #720 closed

[2016-11-16 03:09] hongsudt commented on #769
We have decided that to always treat the row name as an html at the chaise level.. However, at the ermrestjs level, if the row-name is not derived through a markdown annotation, it should be html-escaped.

[2016-11-16 19:29] robes opened #779 "icon missing when toggling the show/hide related entities"
Go here:

https://cirm-dev.isrd.isi.edu/chaise/record/#1/Microscopy:Scan/id=35

1. Click 'Show all related records'
2. Click 'Hide empty related records'

Now the icon for the 'Show all related entities' is missing.

[2016-11-16 23:53] howdyjessie commented on #689
@hongsudt So the issue is indeed because the table `image_grade_code` no longer exists. I suspect `image_grade_code` has been dropped in favor of this other table called `image_status`. Is this correct?

This bug only affects `dev.rebuildingakidney.org`. Staging and production servers still use the `image_grade_code` table. All 3 servers should have _either_ `image_grade_code` or `image_status` fo

[2016-11-17 00:41] howdyjessie commented on #689
From a face-to-face conversation I had with @hongsudt, we've decided to use `image_grade_code` across all servers.

[2016-11-17 01:19] robes opened #782 "Generic "Record" text in labels"
I think that having the generic text "Record" in labels does not add much to the interface. It shows up in places like "Create Record", "Edit Record", "Add Record", "View All Records".

I would propose one of two options here:
- either simply drop "Record" from each label because the rest of the text is meaningful on its own.
- or replace "Record" with the `reference.displayName` so those labels w

[2016-11-17 01:40] howdyjessie commented on #689
In addition to renaming `image_status` in catalog 1 of dev rbk to `image_grade_code`, the table's `term` column was changed to `code`.

This bug has been fixed and I've confirmed it with Serban. No changes to Chaise code were made.

[2016-11-17 01:40] #689 closed

[2016-11-17 01:44] howdyjessie commented on #750
I pushed the typo fix straight to master branch. This bug should be resolved now.

[2016-11-17 01:44] #750 closed

[2016-11-17 01:56] hongsudt commented on #744
@svoinea what's the status on this? Please work with @howdyjessie to fix the styling problem.

[2016-11-17 01:58] hongsudt commented on #776
What about using 25+? To indicate that there are more and we don't have to try to go through all the rows to get an aggregate..

[2016-11-17 02:01] hongsudt commented on #782
I would prefer the first option e.g. drop the word record.

For the toggle, maybe "Show|Hide empty related records"? I think the word `empty` needs to be there for it to be clear.

[2016-11-17 02:02] #722 closed

[2016-11-17 02:34] hongsudt opened #784 "create "add" button into the search directive"
When the add button is clicked, a new tab is opened with recordedit. After the addition is complete, the newly added value need to be populated in the search directive.

@robes @chiragsanghvi We discussed that a search directive can monitor some event in the submission. Please provide some detail in this issue.

[2016-11-17 02:35] hongsudt commented on #368
@jrchudy check whether we have already handled this case?

[2016-11-17 15:27] carlkesselman opened #785 ""+" button in the wrong place on edit pane when adding columns causes a scroll"
If you add a large number of columns to the create widget the columns will properly scroll of the side, however, the + button ends up in a column in the middle, and not over the far right column.

Also, the columns become too narrow, causing the text to overflow the box.

[2016-11-17 15:45] carlkesselman opened #786 "Search box behavior on edit popup"
I would suggest two changes to the current behavior:

1. When the popup first appears, we should have the search box selected.  Right now if I have a bit list the first thing I'm going to do is narrow it down, but this requires me to select the search box which means I have to move the mouse and click.  This is awkward.  If I was going to scroll, I will have to move the mouse anyway, so assuming t

[2016-11-17 17:29] robes opened #787 "Blank tables appear before data is loaded"
For example:

https://cirm-dev.isrd.isi.edu/chaise/record/#1/Microscopy:User/Initials=JJG

The nested table for experiments will be displayed with all empty cells, and then after a second or two the data will be populated in the table in one flash.

[2016-11-17 17:31] robes commented on #787
Actually this appears to be a problem in the recordset directive because this behavior is also on the recordset app too.

For example:

https://cirm-dev.isrd.isi.edu/chaise/recordset/#1/Microscopy:tissue/id=3/(term)=(Microscopy:Specimen:Tissue)@sort(ID)

[2016-11-17 17:59] hongsudt commented on #785
We are aware of the problem and this issue is currently being worked on.

On Nov 17, 2016 7:28 AM, "Carl Kesselman" <notifications@github.com> wrote:

[2016-11-17 18:14] svoinea commented on #744
![experiments_sample](https://cloud.githubusercontent.com/assets/1609577/20401595/4ea7c402-acae-11e6-9c8f-d0447a51b099.png)
This is an old issue that seems to have been fixed.
I have attached the screenshot on how it looks today on my Firefox browser.

[2016-11-17 22:22] robes opened #788 "Sort annotation"
Seems like we need an annotation to set the default sort order for a recordset. Here's an example use case. In CIRM we have a record page for each User. It has all the nested tables for that user's data including Experiments, Specimens, Slides, Scans. Ideally, when they view their page, they will want to see their Scans sorted from most recent to least recent.

This might even be an annotation on

[2016-11-17 22:29] #746 closed

[2016-11-17 22:41] karlcz commented on #788
we already have 2016 Table Display row_order field for this purpose
and it is in use in multiple projects.

[2016-11-18 00:16] howdyjessie opened #789 "Convert Font Awesome icons to Bootstrap icons"
We are currently using 3 icons from Font Awesome's icon set. All 3 icons are used in 1 file, `common/templates/table.html`, which is used to sort table columns in the RecordSet (for the main results table) and RecordEdit (for the related tables) apps.

Here are the icons and their possible Bootstrap counterparts we'd use as replacements:

| Font Awesome | Bootstrap |
| --- | --- |
| ![](https://cl

[2016-11-18 00:19] #769 closed

[2016-11-18 00:40] #744 closed

[2016-11-18 00:44] howdyjessie commented on #789
Had an in-person conversation with @hongsudt, who agreed we should just switch the FA icons to BS.

[2016-11-18 19:31] hongsudt opened #790 "Add copy functionality"
There should be a "Copy" button on the record page.. Upon clicking the copy button, a new recordedit page should be populate with those values in the columns.

Note that: all the invisible columns need be reset to null, so that the proper defaults can be set in the database.

[2016-11-18 19:44] hongsudt opened #791 "Automatically update the search directive if the typing in the search box is paused by 2 s."
The app should make sure that it won't keep submitting the same request. As the user continue to type, new requests should be submitted and old results should be ignored.

[2016-11-18 19:56] #788 closed

[2016-11-18 20:04] hongsudt opened #792 "faceting skeleton"
- Create a UI element for faceting operation. This pane should be on the left hand-side. It should allow the user to adjust the pane width. The pane should allow scrolling horizontally and vertically. The result set should be on the right hand
- The faceting pane should list the main entity column names with the down arrow indicating an expanded area of operation.
- This faceting pane should be co

[2016-11-18 20:05] howdyjessie commented on #789
The FA icons have been successfully converted to BS icons, but I keep seeing these warnings in the console and I'm unsure of how to remove them. Since this is taking longer than I thought and this issue isn't as high a priority as other issues currently, I'm pausing on this and pushing my work into a branch (`update-icons`) for now.

<img width="1436" alt="screen shot 2016-11-17 at 6 18 52 pm" src

[2016-11-18 20:05] karlcz commented on #791
It's not a really big deal to repeat an identical query, since our
cache management should detect that as a repeat and quickly let the
browser reuse its cached result, as long as we don't repeat until the
previous response has been received.

I would suggest logic like the following, distinguishing a
"background" search we perform based on idle time and a "foreground"
search we perform due to user

[2016-11-21 17:11] hongsudt commented on #779
@howdyjessie Please move this to review if this feature is done.

[2016-11-21 19:23] RFSH commented on #368
Isn't the attributegroup api handling it? Whenever one of the columns of composite key is null, it is returning null as the value of foreign key.

[2016-11-21 20:19] robes commented on #761
@hongsudt @chiragsanghvi should the sort icons show up on both the _recordset_ app and when the directive is used as a nested table on the _record_? Because I am only seeing when using the recordset app.

For example,

Not here: https://cirm-dev.isrd.isi.edu/chaise/record/#1/Microscopy:Experiment/ID=20160916-IFCD31RFPAQP2-GA-0

But here: https://cirm-dev.isrd.isi.edu/chaise/recordset/#1/Microscopy

[2016-11-21 22:20] robes opened #794 "Edit / Preview for markdown data entry"
I think we can safely predict that our users will need to be able to 'preview' their markdown text (if possible) during data entry. Otherwise they have to hit Submit, then look at the record display, and then hit edit, to fix every typo in formatting.

The github interface itself might be a good UI to copy. It has tables for "Write" and "Preview". Or... maybe there's a markdown editor widget we ca

[2016-11-21 22:32] shinyichen commented on #361
It looks that `!` and `::null::` are supported now.

[2016-11-21 22:33] #360 closed

[2016-11-21 23:13] howdyjessie opened #795 "RecordEdit doesn't redirect properly when editing a record with no changes"
While editing a record in RecordEdit, the user makes her changes, clicks Submit Data, and then she's supposed to be redirected to the Record page with the record she just edited.

However, if she doesn't make any changes to the record while in RecordEdit and then clicks Submit Data, the RecordEdit app redirects to the Record app with no filter (e.g. `/id=5`), which then causes the Record app to co

[2016-11-21 23:34] karlcz commented on #368
A null value cannot participate in a valid key nor foreign key whether
a simple scalar value or as any part of a composite value.  This is a
part of SQL and PostgreSQL semantics, not specific to ERMrest or
Chaise.

The null value represents "unknown" or "incomplete" data and bypasses
the uniqueness constraints of the DB. More than one row could be
present with the same null state, meaning null can

[2016-11-22 01:02] shinyichen commented on #787
I got table "User" and table "tissue" not found errors.

[2016-11-22 01:36] shinyichen commented on #787
We made each table cell a directive to handle ellipses. I think it's blank while running the ellipses code. Adding @chiragsanghvi into the discussion.

[2016-11-22 02:49] howdyjessie commented on #779
@robes I've pushed for the fix for this to `master` (it was a small typo).

[2016-11-22 18:44] #551 closed

[2016-11-22 18:57] shinyichen commented on #787
I played around with it and it seems to be simply the HTML is loaded while data is still being fetch. I will check how to fix it.

[2016-11-22 19:35] howdyjessie commented on #782
I've dropped "record" from the labels where appropriate and pushed to master. Here's how it looks on the Record app:
<img width="592" alt="screen shot 2016-11-22 at 11 29 07 am" src="https://cloud.githubusercontent.com/assets/4585431/20538696/228c70a0-b0a7-11e6-9cab-a46da08548cf.png">
<img width="1344" alt="screen shot 2016-11-22 at 11 29 30 am" src="https://cloud.githubusercontent.com/assets/4585

[2016-11-22 21:41] #779 closed

[2016-11-22 22:24] #706 closed

[2016-11-22 22:55] robes commented on #782
I would keep the labels uniform. So if its simply "Delete" on the record app, I would be of the opinion that it should be "Delete" on recordedit app too.

One other thing. I believe that karl and hongsuda felt that everything except "Permalink" should use a style that looks more like a button than simply a link. They felt that simply looking like a link didn't give the user the right indication of

[2016-11-23 01:30] howdyjessie opened #798 "Buttons vs links in Chaise apps"
This continues from [issue #782](https://github.com/informatics-isi-edu/chaise/issues/782#issuecomment-262390637), where @robes said:

In the front-end standup today, we discussed whether we should be using buttons or links in our Chaise apps. In Record, we use links (e.g. Add, Edit, Delete, Show All...) while in RecordEdit we use buttons (e.g. Submit Data, Delete) to indicate the similar actions

[2016-11-23 01:36] howdyjessie commented on #782
I created a separate issue (#798) to track the buttons vs links discussion. Giving it back to @robes for review.

[2016-11-28 23:15] #760 closed

[2016-11-29 01:00] jrchudy opened #800 "Font Awesome scripts"
We decided to move away from font awesome and use bootstraps glyphicons. I noticed that font awesome is still loading css rules that are overriding bootstrap css rules.

![image](https://cloud.githubusercontent.com/assets/2932600/20692346/19f5bf34-b58c-11e6-8b26-06662e42b2bd.png)

[2016-11-29 02:03] shinyichen opened #801 "Table Directive More/Less Bug"
The more/less link should expand/hide the whole row instead of individual cell.

[2016-11-29 08:47] howdyjessie commented on #776
PR #797 has been merged into master, closing this issue now.

[2016-11-29 08:47] #776 closed

[2016-11-29 17:43] crisaless commented on #633
Fixed

[2016-11-29 17:43] #633 closed

[2016-11-29 19:08] #361 closed

[2016-11-29 20:10] chiragsanghvi commented on #800
I think this is  fixed by @howdyjessie but hasn't been merged due to the font-file issue.

I have fixed the issue and pushed it to her branch. Changes can be seen here
https://dev.isrd.isi.edu/~chirag/chaise/recordset/#1/legacy:dataset@sort(accession,id)?limit=15

[2016-11-29 20:26] #772 closed

[2016-11-29 21:34] howdyjessie commented on #800
Yep @chiragsanghvi is correct. The branch in question is `update-icons`, and this issue is tracked by #789. Now that @chiragsanghvi fixed the font file warnings I had a problem with earlier, I've opened PR #804 for review, and I'll close this issue for now to avoid duplicating #789.

[2016-11-29 21:34] #800 closed

[2016-11-29 22:15] karlcz commented on #321
is this issue redundant with work that was already done?  or does it reflect different work that still needs to be scheduled? @svoinea @hongsudt

[2016-11-29 22:16] howdyjessie commented on #789
@chiragsanghvi was able to re-upload the font files with no problems on his user dir (thanks!) so PR #804 has been opened for this issue.

[2016-11-29 22:17] karlcz commented on #552
@hongsudt this work was done right..?

[2016-11-29 22:22] hongsudt opened #805 "a facet directive for an integer column"
- as a column name of an integer type is clicked, display two data entry form to take a range of values.
- a histogram is shown for user to select a range of data
- when a value or a range is specified, summarize the faceting criteria on the top (like the search app).

Can this be reused for float, date, datetime?

[2016-11-29 22:24] howdyjessie commented on #321
This is work that still needs to be done. I just looked at dev rbk and the Age Stage list is still displayed based on the order in the database.

[2016-11-29 22:43] hongsudt commented on #552
Only for bullet one and two and right now it is configured based on a
chaise config whether to show the delete button or not.

On Tue, Nov 29, 2016 at 2:17 PM, Karl Czajkowski <notifications@github.com>
wrote:

[2016-11-29 22:48] jrchudy commented on #552
Correct. This feature was completed when recordedit refactor was merged into master. And what @hongsudt said is correct. There is a delete button on `record` and `recordedit` now that shows based on a chaise config property.

[2016-11-29 22:50] jrchudy commented on #794
[Here's](https://github.com/toopay/bootstrap-markdown) a repo that has a markdown editor that has the look and feel of bootstrap.

[2016-11-29 23:11] karlcz commented on #552
Can someone help me debug synapse-dev which doesn't seem to show delete buttons even though I have `showDeleteButton: true` and `confirmDelete: true` in my chaise-config.js?

[2016-11-29 23:48] hongsudt commented on #552
@shinyichen can you help @karlcz with this?

[2016-11-29 23:50] hongsudt commented on #753
There should be a hard maximum limit for the # of rows to be added.. Maybe 200? @jrchudy can you try and see how responsive is if you add 100 rows at once..

[2016-11-30 00:08] karlcz commented on #552
@jrchudy already helped... we finally figured out I was missing a `t` in `showDeleteButton` in my test config... can now confirm it works for me too.

[2016-11-30 00:09] #552 closed

[2016-11-30 00:09] hongsudt opened #806 "create reusable directive for a number input"
This directive can be used in the recordedit and faceting.
- integer
- float

[2016-11-30 00:46] hongsudt opened #808 "change "View All" to "View More""

[2016-11-30 02:18] #787 closed

[2016-11-30 03:00] hongsudt opened #809 "recordedit: UI clean-up"
- [x] psuedo-column:
  - div: round-box instead of square box
  - if disabled, use the same style as regular columns
- [x] vertical line to separate between columns.
- [x] add table header
  - add "Record Number" as a column name
  - add a record number to each column - left justified
  - move trash to be right-justified
- [x] column names (first column) and column headers (first row) should use t

[2016-11-30 03:03] hongsudt opened #810 "add isrd-tester group to the catalog on the dev.isrd"
@robes can you add the group to the catalog? If not, would @svoinea know how to do this?

[2016-11-30 19:08] karlcz opened #811 "Hang during forced login on recordedit app startup"
I encountered this when testing...

1. Already have my browser logged in with globus, i.e. by using server foo-staging
2. Go to a recordedit page on foo-dev where I have no current webauthn session and login is required
3. Page rendered blank and seemed to just stall

The recordedit app should have bounced me through login and returned in step 3. I waited about 30 seconds and saw no activity.  I a

[2016-11-30 19:20] robes commented on #810
@hongsudt add isrd-tester for? read or write or both?

[2016-11-30 19:29] hongsudt commented on #617
I am closing the issue now.

[2016-11-30 19:29] #617 closed

[2016-11-30 19:42] robes commented on #810
@hongsudt and... add the group to _which_ catalog?

[2016-11-30 19:42] #801 closed

[2016-11-30 19:52] svoinea commented on #321
The bug should have been fixed now through the commit cf08b82f16061be8dfa342d08053d52b19ebddbf.
The `v_image.age_stage_weeks` column is displayed as `Age Stage`, i.e. same as `v_image.age_stage`. That is pretty confusing.
The summary table contains the `v_image.age_stage` column, while the `Age Stage` facets contains the values of the `v_image.age_stage_weeks` column. That is also confusing.
Final

[2016-11-30 23:06] jrchudy commented on #809
- Example of the tooltip behind a column name div:
![image](https://cloud.githubusercontent.com/assets/2932600/20775100/29bef010-b70e-11e6-978e-6d6be9454d40.png)

- Example of a tooltip being cut off by edge of content area:
![image](https://cloud.githubusercontent.com/assets/2932600/20775121/3bf16e20-b70e-11e6-80ec-01288b007a56.png)
This is happening because the tooltip is adding to the scrollabl

[2016-12-01 01:51] jrchudy opened #816 "Convert current tooltips to Bootstrap tooltips"
Each tooltip needs to be replaced with the Bootstrap implementation for tooltips. This is a more robust implementation and handles the oddities we are seeing with our current ones.

This requires adding `tooltip-placement`, `tooltip-append-to-body`, and `uib-tooltip` to the elements that should have tooltips and removing the existing tooltip elements.

[2016-12-01 02:01] hongsudt opened #817 "update the appropriate related table entries after the new entries are added"
After an add operation originating from the record page is done, it should save the created status in the cookie.

When the record app tab is focused, it should check the cookie and update the appropriate related tables with new entries.

[2016-12-01 03:28] jrchudy opened #818 "Buttons need to be more noticeably disabled"
Currently our buttons, when disabled, look only slightly lighter than when they are not disabled. We need a more dramatic difference between enabled and disabled buttons. @hongsudt and I discussed this today and think it would be better to have color on our buttons when enabled and change them to grey when disabled.

[2016-12-01 08:09] howdyjessie commented on #620
@karlcz This bug should've been addressed when recordedit was refactored. (The code that produces this error no longer exists.) Do you still see this error in your console on synapse-dev?

I remember seeing this error because this line was part of a function that checked whether a column that has a 2016:ignore annotation, and, if it did, then look for whether the annotation's content had any appli

[2016-12-01 16:49] hongsudt commented on #620
Let's close this issue then.

On Dec 1, 2016 12:10 AM, "Jessie Wong" <notifications@github.com> wrote:

[2016-12-01 18:24] #774 closed

[2016-12-01 19:33] karlcz opened #819 "More/less ellipses non-deterministic on page load"
See https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Behavior@sort(Image%20Date::desc::)

1. On a fresh page load w/ empty browser cache, I see no more/less ellipses on the rows with thumbnail images.
2. On a reload, I see thumbnails truncated with a "...more" control below them.

One time, I even saw a mixed rendering where some rows had a truncation control and some rows were showi

[2016-12-01 19:48] karlcz opened #820 "More/less ellipses needs fine-tuning"
On https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Behavior@sort(Image%20Date::desc::)

The "...less" control for an expanded thumbnail adds significantly more vertical height to the row. It has even more padding than the "...more" control. At minimum, it should be tightened up like the "...more" control.  Ideally, both controls should be even more compact so they don't add to the v