[2018-06-01 19:11] karlcz commented on #1545
Chaise should be treating the RID as generated and including it in the
?defaults parameter. Then, the server wouldn't even be looking at
any RID input data.

[2018-06-01 19:28] RFSH commented on #1516
We can simply change the `applink` function that is defined in chaise to include the `ref_pid` as a query parameter. So when user navigates to other parts of the app via links and buttons that we provide, the url will include this query parameter and the second page has knowledge of `ref_pid`.

Now the question is that in the second page, to which request should we attach this `ref_pid`? Should it

[2018-06-01 19:29] RFSH commented on #1536
The extra message of "You may need to login to see the model or data" has been added to not-found  errors. Assigning to @hongsudt to verify.

[2018-06-01 22:37] #1545 closed

[2018-06-01 23:59] jrchudy commented on #1408
- [ ] Types that have yet to be implemented and tested fully:
 - float
 - date
 - timestamp
- [ ] Test cases are very minimal and need to be extended to each of these types.
- [ ] presentation bug when a new cell is added, it duplicates column header.
- [ ] HTML changes (needs more information)

[2018-06-02 00:26] #1539 closed

[2018-06-05 02:14] jrchudy opened #1549 "Random failures in errors.spec.js"
In the recent few weeks, we have been seeing random failures in `.../errors.spec.js`. The assumption is that there is a race condition in this test spec that we are not aware of. The potential issues could range from a test case not waiting for the right element to be present to syntax errors or promises not chained properly.

This requires some investigation into each `describe` and `it` in that

[2018-06-05 20:20] #1279 closed

[2018-06-05 22:09] #1409 closed

[2018-06-05 22:35] #1508 closed

[2018-06-05 22:36] #1495 closed

[2018-06-06 20:17] RFSH opened #1552 "Custom Span Markdown Inline Block"
Originally I created the #653 because we wanted to be able to define a block to be used in row-name. We wanted to apply some styles to the row-name text. And when we're using this row-name for foreignkey value, we can attach the link to this styled value. I assumed that we can have a block in row-name. But then I realized that we're using inline markdown in row-name. Therefore all the custom block

[2018-06-07 00:09] RFSH commented on #1536
To test this you can go to a page with any arbitrary [schema name](https://dev.rebuildingakidney.org/chaise/recordset/#2/Antibodyaaa:Antibodies) or [table name](https://dev.rebuildingakidney.org/chaise/recordset/#2/Antibody:Antibodies12312321).

[2018-06-07 18:00] #1525 closed

[2018-06-07 22:15] #1433 closed

[2018-06-08 18:06] #1552 closed

[2018-06-08 18:06] RFSH commented on #1552
Issue moved to [informatics-isi-edu/ermrestjs #659](https://github.com/informatics-isi-edu/ermrestjs/issues/659) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-08 18:09] RFSH opened #1555 "Navbar on top of error modal"
@jrchudy commented on [Thu Apr 19 2018](https://github.com/informatics-isi-edu/ermrestjs/issues/628)

If the application throws a terminal error that is unrelated to fetching the session or displaying the navbar, the navbar should remain on top of the modal overlay. This will allow users to navigate away from broken links or sign in.

[2018-06-08 18:11] RFSH commented on #1555
This should be done for any error modals and not just terminal errors. Users should be able to use the navbar when we are showing the error modal. We must make sure that the dropdown menus work fine in this case too. Apart from navbar custom links, when the users is logged-in we are showing a dropdown menu that has "log out" and "My Profile" options. We should make sure that these features are wor

[2018-06-08 18:16] RFSH commented on #1131
This might not be valid anymore, but we must make sure all our apps work properly when `chaise-config.js` file is not available.

There are some [configurations](https://github.com/informatics-isi-edu/chaise/blob/master/doc/configuration.md) that have default values defined in the document. If `chaise-config.js` is not defined, the chaiseConfig default values should be as suggested in the document

[2018-06-08 19:01] RFSH commented on #1430
In chaise we're using angular-ui modals. We wrote the `showModal` function to facilitate the usage of modals. To use this function you have to pass an object that has all the attributes of the modal, a success callback, and an optional reject callback. This is an [example](https://github.com/informatics-isi-edu/chaise/blob/master/common/faceting.js#L1003) of it in the code. As you can see you can

[2018-06-08 20:51] #1530 closed

[2018-06-08 22:30] jrchudy opened #1557 "RE horizontal scroll broken in safari"
When trying to create/edit multiple records using MacOS with safari, the horizontal scroll for the form container is not getting "enabled".

[2018-06-08 23:11] jrchudy commented on #1535
Use "Remove" in the modal title instead of "unlink". The same goes for the "submission" button.

[2018-06-11 20:44] jrchudy opened #1558 "Discussion regarding "Show Details ...""
@carlkesselman originally noted:
[code]

With the following discussion:
[code]

[2018-06-12 18:08] hongsudt opened #1560 "IE11 bug - checkmarks and icons do not appear"
@crisaless commented on [Fri Jan 26 2018](https://github.com/informatics-isi-edu/rbk-project/issues/424)

When you try to use chaise on IE11/Win - checkmarks do not appear when you click on checkboxes and the Action icons are blank

[2018-06-12 20:16] RFSH commented on #1519
We should check the url limitation on each change of the filters. Upon reaching the limit, we should show an alert and disable the submit button. We should hide the alert and enable submit button as soon as a change in the filters made the url to be shorter than the limit.

[2018-06-13 20:10] dhanashritidke commented on #1560
@crisaless

I tried to reproduce this issue with the following configurations :
1. Internet Explorer 11 and Windows 7.
2. Internet Explorer 11 and Windows 8.1.
3. Internet Explorer 11 and Windows 10.

On all of the above configs, both the check marks and Action icons were visible.
I verified the following cases -
1. Check marks on the Search page for attributes.
2. Check marks for Facets in the Pa

[2018-06-14 23:01] #1557 closed

[2018-06-14 23:15] #1555 closed

[2018-06-15 21:43] jrchudy commented on #1549
![image](https://user-images.githubusercontent.com/2932600/41490783-76f62af4-70aa-11e8-898f-b0f64386bfe1.png)

[2018-06-15 21:43] jrchudy commented on #1549
![image](https://user-images.githubusercontent.com/2932600/41490795-82340e2c-70aa-11e8-9b86-d13c3b638ba3.png)

[2018-06-15 21:44] jrchudy commented on #1549
![image](https://user-images.githubusercontent.com/2932600/41490802-8b49d7bc-70aa-11e8-9fcc-8bfe0456aea1.png)

[2018-06-18 16:01] #1266 closed

[2018-06-18 16:01] #1519 closed

[2018-06-18 19:51] hongsudt opened #1565 "batch copy"
We want to be able to copy a value of one column and apply it to multiple records. For example, I want to be able to change the curation_status of many records. Is there an efficient way to do this?

[2018-06-18 21:42] jrchudy opened #1566 "Refactor recordset/recordset.controller.js and recordset/index.html.in"
In the recordset app (not directive) html template, we have the controller attached to it but we are not using `controller as` syntax.

We should refactor the recordset controller to attach the necessary things to "this" (the controller) so that we can use the `controller as` syntax to call functions and variables from the DOM rather than relying on scope.

The main concern with this is that `cont

[2018-06-18 22:22] #832 closed

[2018-06-19 02:10] jrchudy opened #1567 "Can't upload file after error and 2nd record is removed"
Situation:
File 1 doesn't exist yet. (F1)
File 2 exists but the current user doesn't have permission to read it. (F2)

Process:
Create 2 records in `RE` with the first record including F1 and the second record with F2. Because the user can't read or update F2 (the job doesn't have the update ACL), the whole upload and submission should error out. This error cleans up the job (in hatrac) that wasn'

[2018-06-20 01:35] hongsudt opened #1569 "Tooltip on the facet header"
We should enable the tooltip on the facet header..

Currently, the tooltip is used to display the facet display name in case the facet panel is not wide enough to display the full text. I would rather change this for comments, so it is consistent with other places.

[2018-06-20 01:40] hongsudt opened #1570 "Recordset performance issue?"
Here are the links to the data commons demo:
* https://nih-commons.derivacloud.org/chaise/recordset/#1/public:KC7%20Search%20Demo
* https://dev.isrd.isi.edu/chaise/recordset/#44989/public:GTEx_lung_cancer_demo_data_v2-clean@sort(key)

Notice that the table is very wide but not very big. It has no fks, etc.. However, the browser will hang if we choose 100 or 200 items per page.

The workaround is t

[2018-06-20 22:51] hongsudt opened #1572 "histogram zoom-in feature doesn't work on safari"
@carlkesselman please provide more information..

[2018-06-20 23:59] hongsudt opened #1573 "recordset horizontal scroll bar"
People seem to struggle with finding the horizontal scroll bar on the recordset since the horizontal scroll-bar is not always visible..

What are our options to address this problem?

[2018-06-21 00:17] hongsudt opened #1574 "flickering tool tip on the last column header"
https://nih-commons.derivacloud.org/chaise/recordset/#1/public:KC7%20Search%20Demo@sort(SMMNCPB,RID)

[2018-06-21 00:39] hongsudt commented on #1572
I am closing the issue since it is not re-producible.

[2018-06-21 00:39] #1572 closed

[2018-06-21 01:30] jrchudy commented on #1573
If you have users that see this on linux or windows, we can explore more potential issues but I can't find a simple solution for those cases right now.

[2018-06-21 01:34] karlcz commented on #1573
To be clear, the issue is not scrollbar showing or not.  It's that the
horizontal scrollbar is offscreen at the bottom of a scrollable
vertical region that is taller than the viewport.  It's very confusing
that the two scrollbars do not stay bound to the viewport and remain
on screen at all times.

[2018-06-21 01:47] jrchudy commented on #1573
We can do something similar to what was done for `recordedit` which has a scrollbar on the top of the container as well as on the bottom of the container.

[2018-06-21 18:59] #1536 closed

[2018-06-21 20:46] hongsudt commented on #1570
This issue is related to #1378

[2018-06-22 19:01] karlcz opened #1577 "Add tooltips to all Chaise buttons"
- [ ] Editing controls for inline related entities
- [ ] Editing controls for related entities

[2018-06-22 19:05] karlcz opened #1578 "Add a row_description to complement row_name annotations?"
Should we add support for the DBA to configure a templated markdown for row descriptions? Chaise could use this to provide a tooltip on row-names that it displays.

[2018-06-26 19:35] jrchudy opened #1580 "Print on record page broke"
Got to [this link](https://www.gudmap.org/chaise/record/#2/Protocol:Protocol/RID=N-H98E) and try to print the page (File -> Print or `cmd + P`/`ctrl + P`). You will notice that the keys column for the main table is very wide compared to the content that is actually in it.

[These CSS rules](https://github.com/informatics-isi-edu/chaise/blob/master/record/record.css#L97-L130) are what controls the

[2018-06-27 21:30] #1463 closed

[2018-06-27 21:32] jrchudy commented on #1318
The case above:
`align the tooltip placement with the bottom left edge of the whole chiclet element`

was not easy to solve. The solution to allow the tooltip to have much more width resolves the need to left align it.

[2018-06-27 21:32] #1318 closed

[2018-06-27 21:33] #1531 closed

[2018-06-27 22:08] jrchudy commented on #1567
In trying to reproduce this error case, I can't get chaise into a state where it doesn't allow me to upload a file after a previous request with 2 files failed because one lacked proper permissions.

What I did to test was similar to above.
I started with my privileged user and created a file in a new namespace.
As my dummy user, I had 2 forms:
  - form1 included a file that doesn't exist yet (wit

[2018-06-28 17:24] jrchudy opened #1583 "Accordion content is hidden by default"
The accordion directive used for the related tables in `Record` app and the facet panels in `Recordset`, on page load the content contained within them is "hidden" rather than not "drawn". This causes all of the containing content to be loaded during page load.

Ideally we would not want to draw any of that content unless the accordion was open by default or until the user opens the accordion. In

[2018-06-28 18:10] #1567 closed

[2018-07-03 01:32] ljpearlman opened #1587 "Missing items on facet pages from record app "view more" links"
In some cases, clicking "View More" on a record page will pop up a faceted search that has no indication of what filters have been applied. For example, going to https://dev.rebuildingakidney.org/chaise/record/#2/Common:Gene/RID=Q-4854 and clicking "view more" by the "Antibody Gene Association" section will take you to https://dev.rebuildingakidney.org/chaise/recordset/#2/Antibody:Antibody_Gene_As

[2018-07-03 17:04] RFSH commented on #1587
There might be several reasons that you’re not seeing the applied facets. Current implementation does not handle having choice and range (or any combination) of facet types together. It will only show filters of one type.

This case is related to the logic that we added for handling alternative tables (which we might want to remove or get back to and change). The table Common:Gene has an alternati

[2018-07-05 17:30] RFSH commented on #1587
To expand on my explanation, this is what's happening:

- You click on view more in the record app for Common:Gene/RID=Q-4854.
- Chaise will redirect you to the Gene_Expression:Specimen recordset app with the following facet:
[code]
  (fk1 and fk2 are the foreignkeys that are used for the association table).
- While trying to process the list of facets, ERMrestJS will encounter that facet definiti

[2018-07-05 17:30] jrchudy commented on #1535
The changes for this issue have been merged into master. Reassigning to @hongsuda to verify and close.

[2018-07-05 18:55] ljpearlman commented on #1587
Just to be clear, every incoming foreign key for the Gene table uses the NCBI_GeneID column. Are you saying that I just need to change the foreign key relationship of the alternative table, or do I need to refactor all the tables?

[2018-07-05 19:03] #1574 closed

[2018-07-05 19:16] RFSH commented on #1587
Just the foreignkey for the alternative table. changing the foreignkey relationship to be based on RID (the same key used for facet definition), should resolve this issue.

[2018-07-06 00:31] karlcz commented on #1527
I wasn't able to reproduce this anymore.  Now, the GUI just gets laggy and then completes operations rather than crashing.  Maybe a firefox updated fixed their own fragility?

[2018-07-06 00:31] #1527 closed

[2018-07-06 00:39] karlcz commented on #1535
I tried to test this on synapse-dev.  I went to https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Cohort%20Analysis/RID=17AR and tried to remove items from the "Cohort" related entity section.

The modal lets me pick items and shows them in chicklets at the top.  But, the remove button closes the modal and nothing else happens.  I don't see any DELETE request on the server either.

[2018-07-06 00:44] karlcz opened #1589 "Custom synapse-viewer generates warnings in browser console"
I see messages like this in the browser console, seemingly associated with viewer-plotly.js  and I think
correlated to each instance of synapse-viewer in an iframe.

see for example https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Cohort%20Analysis/RID=17AR

    addThreeD!!!!
    Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end us

[2018-07-06 00:49] hongsudt commented on #1535
I also find the plus button on the modal confusing.  We should remove that button from the remove modal.

[2018-07-07 01:37] jrchudy opened #1591 "UX issues for unlink PB associations modal"
The unlink PB modal has been [revisited](https://github.com/informatics-isi-edu/chaise/issues/1060) since this was created .
 - ~~rename "remove" in places to "unlink"~~
   - [x] extend "unlink" tooltip to be `"Disconnect <leaf_table_name>: <leaf_rowname> from this <main_table_name>"`
 - [x] when row is selected, place an "x" in the check box instead of a check mark
 - [x] no "add" button in "unli

[2018-07-11 01:14] Divyata-Singh opened #1592 "Update angular-ui-bootstrap version"
- Update angular-ui-bootstrap version in chaise from 1.3.2 to the latest(2.5)
- Update the test cases accordingly
- Check for the correctness of the UI:
   1. The styling of Accordions both in facets and association tables, correct placement of horizontal lines
   2. The tables should be highlighted by clicking on the content link on the side-pan
   3. The facet should be highlighted by clicking o

[2018-07-11 21:22] RFSH commented on #1570
In the following I try to summarize how the process of investigating this issue went down. I will reference [this](https://docs.google.com/spreadsheets/d/16R5u26OwsFulrY_vxFla_zSAFURBwGsNocK7uWFm6cc/edit#gid=0) document in my explanations. In there you can find more information about different experiments that I ran. The load times that are written there were based on the output that chrome develo

[2018-07-11 23:50] RFSH commented on #1570
I tried different methods for reducing the load time in the extreme cases, but none of the trivial methods worked. This requires more research on the methods that we can improve the performance for `ng-repeat`.

[2018-07-13 22:10] RFSH opened #1594 "Show Warning When Leaving Recordedit"
As the title suggests, we want to alert users when they are leaving recordedit to avoid losing state by mistake. We tried to avoid this by opening tabs instead of windows in most of the urls. But the issue still exists and we should fix this. We want this alert to be shown on any links on the page, even the links that are generated via markdown (we cannot simply change the current links that we ha

[2018-07-17 20:12] #1580 closed

[2018-07-17 22:26] hongsudt opened #1599 "add tooltip to the View header"
The tooltip should be
"Click on the eye button to view the detailed page associated with individual record"

Action:
"Click on the action buttons to view, edit, or delete each individual record"

[2018-07-18 22:54] hongsudt commented on #1591
@jrchudy Can you split this into 2 issues: ones for the unlink page and one for the overall UX improvement (e.g. the one that affect all modals).

The first one we can just go ahead and push after it is done. The second one, we might want to ask for some more feedback.

[2018-07-19 01:27] jrchudy opened #1603 "Overall UX improvements for recordset modals and P&B add popups"
all modals:
 - [x] change "x" button to a "cancel" button
 - [x] cancel button should be grey still (not blue)

both add/unlink popups:
 - [x] ~tighten whitespace~
 - [x] ~rename "clear all" to "unselect all" for the selected rows filters~
 - [x] move submit/unlink button into modal header to the left of "cancel"
 - [x] add tooltips to these buttons
 - [ ] static tooltip for selected rows on the r

[2018-07-24 19:30] #1592 closed

[2018-07-25 20:06] RFSH opened #1607 "Add Not Null Option to Facets"
Currently we're showing "Records with Value" option only in the modal that is displayed by clicking on "show details". We want this option to always be available in facet panels too. We also want a new type of facet column that only has not-null, and null options. To summarize:

- [x] Add "Records with Value" option to both range and choice pickers in facet. This option should always be the first

[2018-07-26 17:59] robes opened #1608 "Too much whitespace around boolean facets"
Notice the big whitespace gap between the facet title "Released" and first value "true".

![image](https://user-images.githubusercontent.com/4202842/43279465-dcf73860-90c2-11e8-96b2-3203df3cf4d3.png)

[2018-07-26 20:49] robes opened #1609 "Inconsistent and incorrect presentation of non-editable/insertable attributes"
In this screenshot, the user has permission to insert a row into the "Dataset" table but not insert values in the "Released" and "Release Date" columns. These columns have no further annotations set; i.e., they do not have "generated" or "immutable" annotations set on them.

Background:
- `released` is a `boolean`
- `release_date` is a `timestamptz`

*Inconsistency*: The cursor changes when hoveri

[2018-07-26 22:15] robes opened #1610 "Non-insertable column is not being included in the defaults param on row insert"
I have a table `isa:dataset` with a column `released` that is not `insert`-able by the test user. The table _is_ `insert`-able. What _should_ happen is that the user should be able to insert a row but _not_ set a value on the non-`insert`-able column (`released`).

The problem seems to be that chaise/ermrestjs is not putting `released` into the `defaults` param of the POST request. You will see th

[2018-07-27 17:49] RFSH commented on #1609
There are two issues here:

- Since user doesn't have `insert` access to the `release_date`, we're handling it the same way as having generated annotation. We're not treating that as a specific case. We might want to change that but that's why this is happening as expected. This is part of ermrestjs.

- About the cursor, it seems like we're only changing cursor for [the inputs that have the specif

[2018-07-27 18:20] robes commented on #1609
Understood, its just a potentially incorrect statement (“automatically generated”)

From: Aref Shafaei <notifications@github.com>
Reply-To: informatics-isi-edu/chaise <reply@reply.github.com>
Date: Friday, July 27, 2018 at 10:49 AM
To: informatics-isi-edu/chaise <chaise@noreply.github.com>
Cc: Robert Schuler <schuler@ads.isi.edu>, Author <author@noreply.github.com>
Subject: Re: [informatics-isi-ed

[2018-07-27 21:08] robes commented on #1609
I've added `isrd-testers` to the write acls.

[2018-07-27 21:37] hongsudt commented on #1610
@robes what would you like to have appeared in this case.. The entry is disabled and the default is shown if exist. If there is no default, I think it is said automatically generated..

I do have a use case to show the default even though it is not insertable.. But what would you like to show in the second case?

[2018-07-27 22:36] #1594 closed

[2018-07-28 01:04] #1549 closed

[2018-07-28 01:05] #1258 closed

[2018-07-28 01:05] #1569 closed

[2018-07-28 01:05] #1484 closed

[2018-07-28 01:21] #1599 closed, assigned to Divyata-Singh

[2018-07-30 18:47] hongsudt commented on #1583
@RFSH Have you completed this issue?

[2018-07-30 18:49] hongsudt commented on #1608
@RFSH can you work on this issue as well?

[2018-07-30 18:50] hongsudt commented on #1560
@crisaless can you please verify whether this is still an issue, if not, please close the issue.

[2018-07-31 21:06] crisaless commented on #1560
I just checked the facebase chaise, IE11/Win 7 and IE11/8.1, - checkboxes worked on the recordset filters - but if you go to "Show Details", I couldn't check the boxes on the modal window.

I didn't have access to IE11 on Windows 10 through vmware

[2018-07-31 21:19] RFSH opened #1612 "Error Modal "Ok" Button Behavior For Dismissible Errors"
Currently all the error modals have an "ok" button that by default will redirect users to another page (chaiseConfig.dataBrowser or homepage). This makes sense in most cases because we don't know the last stable page that users was in, and it's safer to redirect them to the top level page.

But in case of dismissible errors, the "ok" button can behave the same way as the "x" button. We should chan

[2018-08-01 17:55] hongsudt commented on #1609
@robes If you don't want the word "Automatically generated", what would you rather display for the Release Date?  Nothing? (but this is kind of wierd).. "Not allowed"?

[2018-08-01 20:59] robes commented on #1609
Good question. Maybe ‘No value’ or ‘None’ if there is:
- no insert permission, and
- no default expression, and
- no ‘generated’ annotation

If on the other hand, the DBA knows that there is a backend process (i.e., a python script or bash script that will generate a value later) then he/she should use the ‘generated’ annotation in that case, right?

[2018-08-02 00:32] RFSH opened #1615 "Clean up Chaise And ERMrestJS Docs"

[2018-08-02 01:12] #1355 closed

[2018-08-02 01:12] RFSH commented on #1355
Issue moved to [informatics-isi-edu/ermrestjs #685](https://github.com/informatics-isi-edu/ermrestjs/issues/685) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-03 23:32] RFSH commented on #1608
The fix has been merged with master.

[2018-08-03 23:32] #1608 closed

[2018-08-03 23:33] #1607 closed

[2018-08-06 18:56] #1615 closed

[2018-08-06 20:56] RFSH commented on #1610
This has been merged with master. We're adding columns that have generated annotation or user have no insert right to the list of defaults (ignoring what chaise sends).

[2018-08-06 20:57] RFSH commented on #1609
Instead of showing "Automatically generated" for the columns that user doesn't have access to, we're showing "Not Allowed" from now on.

[2018-08-06 20:58] RFSH commented on #1587
I am going to close this issue since it is a case that we said we're not handling. Besides at some point we should look back at the alternative table feature and fix these sort of issues with it.

[2018-08-06 20:58] #1587 closed

[2018-08-09 23:44] RFSH commented on #1506
The first iteration of export support has been merged with master. These are the things that I think are missing:

- Better Error handling. This requires changes in `ioboxd` since it's always returning 500 now.
- E2E test cases

[2018-08-17 22:35] jrchudy opened #1621 "Add contextualization to export annotation"
We want to be able to export a single row of data and possibly it's corresponding related data rows.
* [x] We will support the current tag and apply that same export rule to all context.
* [x] To support context-specific export rule, we will create a new annotation tag to accommodate for this change. At the top level of the export annotation, we should include contexts so it looks something like t

[2018-08-18 01:27] jrchudy opened #1622 "Flow Control faulty logic"
While debugging an issue found when working on the recordset table performance changes to recursively push more rows into the DOM, we noticed that some requests were not being "canceled" correctly.

Sometimes you can get the app into a state where 2 of the same request are sent to the server and both are acted on to completion. This isn't an issue in the normal functioning of the app but when the

[2018-08-22 21:54] jrchudy opened #1623 "Export errors should be modal popups"
Currently when export throws an error, it displays the error as an alert that we attach to the top of the DOM. This should be changed to show an error modal dialog instead so the user is alerted of the issue as soon as it happens.

A user may be looking at the bottom of the page searching through data and not notice the alert message that was appended to the top.

[2018-08-22 22:42] jrchudy opened #1625 "Viewer app history support"
Viewer app needs to be able to handle a versioned catalog id (aka `/chaise/viewer/1@1234/...`).

[2018-08-24 00:26] hongsudt commented on #1413
Issue moved to [informatics-isi-edu/deriva-webapps #3](https://github.com/informatics-isi-edu/deriva-webapps/issues/3) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-24 00:26] #1413 closed

[2018-08-24 19:25] hongsudt commented on #1625
@svoinea when you have a chance, can you verify whether the viewer app can support catalog version? e.g. if the catalog is passed through to subsequent ermrest calls, then we are good. Otherwise, we have to make that part of ermrest calls.

[2018-08-24 20:36] robes commented on #1464
It appears to be resolved. thanks

[2018-08-24 20:36] #1464 closed

[2018-08-25 00:04] #1623 closed

[2018-08-25 00:41] svoinea commented on #1625
If I'm looking at the right place, the viewer sets the `catalogID` in a `context` object by using the `parseURLFragment(location, context)` function.

To set the `catalogID` to the value of `1@1234`, it will expect the URL to be `/chaise/viewer/#1@1234/...`.

[2018-08-25 00:53] hongsudt commented on #1625
cool.. It sounds like the viewer app uses ermrestjs function..  Then that should be fine.

What about the pyramid generation? If the czi file get changed, will the pyramid file location be different?

________________________________
From: svoinea <notifications@github.com>
Sent: Friday, August 24, 2018 5:41 PM
To: informatics-isi-edu/chaise
Cc: Hongsuda Tangmunarunkit; Comment
Subject: Re: [infor

[2018-08-25 01:10] svoinea commented on #1625
The pyramid files are generated in the `/var/www/html/data/[year/]<checksum>` directory.

The location is independent of the catalog. It depends only on the `*.czi` checksum and optional on the `year`.

[2018-08-27 17:25] jrchudy opened #1627 "get citation in record"
A link should be added to the bookmark bar in `record` app for the citation feature. The link should be called `Share`. The `Permalink` button should be removed.

Upon clicking on `Share`, a modal dialog will popup with the permalink listed as the first list elements and a properly formatted citation as the second list element.

[2018-09-04 18:51] hongsudt commented on #1625
OK. It seems like the viewer app can deal with versions. I am closing this issue.

[2018-09-04 18:51] #1625 closed

[2018-09-04 19:42] #1627 closed

[2018-09-04 19:45] jrchudy commented on #1131
@robes, support for this has been addressed. If no `chaise-config` is present for the application, a default chaise config is created (within the chaise app) that allows it to behave based on defaults defined in the [configuration document](https://github.com/informatics-isi-edu/chaise/blob/master/docs/user-docs/chaise-config.md).

Assigning the issue to you for verification.

[2018-09-04 23:24] Divyata-Singh opened #1631 "Refactoring app.css"
app.css should be refactored so that the generic class names do not cause conflicts when this file is used in applications outside of chaise. This could be solved in 2 ways:
1. By adding some chaise specific prefix to generic class names (like footer, sidebar, navbar etc.)
 2. By breaking down app.css so that each directive has its own CSS file so that we don't include app.css when we are using a

[2018-09-05 18:53] #1583 closed

[2018-09-05 21:03] jrchudy opened #1634 "Navbar Menu defaults to new tab always"
There was a regression introduced that ignores the `newTab` property at the root level of the  `navbarMenu` chaise-config property. The documentation for the `navbarMenu` property could be improved as well.

[2018-09-05 22:38] #1634 closed

[2018-09-06 22:05] RFSH opened #1637 "jQuery Version Issue"
After updating the jQuery version we're seeing odd behavior from our apps. When you go to any of the new apps, for a second or two, you can see all the unrendered templates that we have used. This is more visible in recordedit.

![image](https://dev.isrd.isi.edu/~ashafaei/wiki-images/chaise_issue_jquery_version.png)

[2018-09-07 23:19] RFSH opened #1640 "Faceting Performance Issue"
We're seeing very bad performance in one of the tables in `rbk-dev`. You can see the behavior by doing the following (Please don't try this multiple time. It will slow the whole server down):
- Go to the following link: https://dev.rebuildingakidney.org/chaise/recordset/#2/Vocabulary:Anatomy_terms
- select "All records with value" for "Specimen Expression"
- Open "Anatomical Source of Specimen" an

[2018-09-11 01:01] RFSH commented on #1640
These are the set of improvements that we should apply:

- Use `array_d` instead of `array` for foreign-key and main entity projection list.
- Don't ask for foreign-key data when we're only getting a list of row-names (Use `entity` api instead of `attributegroup`).
- Switch the foreign-key paths to inner join instead of left outer join.

The first two improvements won't have any visible effects in

[2018-09-12 00:18] jrchudy opened #1641 "Download bibtex support"
Allow users to download a citation in bibtex format in the share popup if a citation is present.

Output file should include the following with the `.bibtex` suffix:
[code]

The downloaded file name will be `{{table.name}}_{{tuple.uniqueId}}.bibtex` so that there is some uniqueness.

More info can be found in the [ermrestJS issue](https://github.com/informatics-isi-edu/ermrestjs/issues/678) for ci

[2018-09-12 21:13] jrchudy commented on #1621
Assigning to @hongsudt  to reprioritize this issue because of outstanding work to contextualize the export annotation.

[2018-09-12 21:15] jrchudy commented on #1506
Assigning this issue to @hongsudt to reprioritize for the rest of the work:
 - verify errors returned by export are what we expect
 - handle iobox no installed (and other services not installed)

[2018-09-13 18:30] hongsudt opened #1644 "handle 400: request exceeds limit"
There are some queries that are expensive (e.g. it takes mroe than 60 seconds to execute). @karlcz has added a new error case for this case in ermrest https://github.com/informatics-isi-edu/ermrest/issues/209.

Chaise/ermrestjs should handle this case properly. @jrchudy @RFSH please update the error handling strategies..

* Recordset
  - [x] main result: shows a pop-up error (with some suggestions

[2018-09-13 21:01] jrchudy commented on #1506
Talking to @mikedarcy today about export, he pointed out to me that when export fails/errors, we are not preserving all of the information returned to `ermrestJS`. The `_responseToError()` function is swallowing up the `response.data` value when it creates the `Error` object.

[2018-09-14 18:30] jrchudy commented on #1641
The corresponding PR has been merged. Download bibtex support should be available whenever there is a citation annotation for that entity's table. The other text and CSS changes that were discussed have also been merged.

Reassigning to @hongsudt to make sure everything is as we expect.

[2018-09-17 20:40] karlcz commented on #1059
I confirmed that this bug is still present.  I created a new test record illustrating it:

https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Behavior/RID=17DJ

The original example record no longer exists..

[2018-09-18 19:39] jrchudy commented on #1059
I can create records for this table but I cannot update any. Could you update the permissions for `isrd-testers`?

[2018-09-19 17:47] RFSH opened #1648 "Update Record Page on Delete/Unlink Related Entities"
Currently we're updating the record page after users edit/create the related entities. We're doing this by adding a request id to the cookie and then looking for that cookie on page focus. Delete/Unlink are handled differently and are part of table directive, therefore they will not communicate with the record app that the table has been updated and we're only updating the table.

We should fix th

[2018-09-19 20:32] hongsudt opened #1649 "make table name on the record page title linkable to the recordset"
While I investigate the records, there are many times that I want to go to the recordset of that table.. The only way is to do that through navbar.

Adding this link will be it easy to get back to recordset.

[2018-09-19 23:19] RFSH opened #1650 "Custom Facet"
[In some deployments](https://github.com/informatics-isi-edu/rbk-project/issues/463) we want to have more complicated facet filters that are not understandable by simple custom filters, and also the UI doesn't know how to handle.

For this use-case, we decided to introduce a new `custom-facet` blob which will have the same syntax as facet but won't be merged with facet in the client. Then recordse

[2018-09-20 01:01] RFSH opened #1651 "Fix Custom Filter Display"
The custom filter is usually a long string without any whitespace. This was causing the tooltip to overflow. To temporary fix this, I have added whitespace after each `;` or `&` so the text can break. We need to fix this using custom styling for the tooltip.

[This](https://dev.rebuildingakidney.org/chaise/recordset/#2/Gene_Expression:Specimen/RID=N-H950;Stage_Ordinal=21;Stage_Ordinal=20;RID=N-GHR

[2018-09-21 20:14] ljpearlman opened #1653 "Inconsistent facet/breadcrumb display with back button"
If I do the following:

1. Go to https://staging.gudmap.org/chaise/recordset/#2/Gene_Expression:Gene_Thumbnail_Display/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEEAGhAHEcIcB9AFQAs0BbEiMASwA2zACL8kAB0FgAnswByAYQBCASWYMmqkcwBmAaxwyQAXQC+1UPwhk0FBPUYsAogA8JGHEiT8UEGiAAyhI4WPxcjBpOzACC3ihhYES+EAoq6po42nqGxuaWhGik5DAOmcxuHl4+fgHBoeGR5XGoicl+zPVhEakAStkGRqYWVjYllOWVnt4pdSHdkVPVKZ3zjamDeRYg-SKmtB

[2018-09-21 23:46] ljpearlman commented on #1653
Hongsuda pointed out that it's the `not_null: true` in the Gene Expression facet that made it default to non-null. I suspect that default is being applied at times when it shouldn't be (the same thing happens if you go to the same starting page, uncheck "All Records With Values", check "No Value", then click on  a result record and hit the browser back button.

[2018-09-22 00:21] hongsudt opened #1654 "selectively offer null option in the facets"
Null constraints give the wrong results (e.g. not the results that normal users would expect).

The only cases where null is ok to be in the facet are:
1. scalar column of the main entity
2. `M -> S1 -> S2 -> S3...` facet that consist of all outbound path
3. `M <- S1`  facet that has one-hop in-bound
4. `M <- S1 -> S2` : Depending on how we implement this, it might be safe to allow null option

An

[2018-09-22 00:24] hongsudt opened #1655 "suppress Null checking in all facets"
Please remove all the null option from recordset (including the one on the show more pop-up).

We found that in many cases, null constraints lead to the wrong/confusing results, and should not be offerred.

This need to be patched asap..

[2018-09-26 21:52] jrchudy commented on #1649
Changes for this have been merged. Reassigning to @hongsudt to verify it's working as expected.

[2018-09-26 21:53] jrchudy commented on #1653
This issue has been fixed as part of PR #1656 . Reassigning to @ljpearlman to verify it is fixed.

[2018-09-26 23:47] jrchudy commented on #1655
The changes for this have been merged. assigning back to @hongsudt  for verification.

[2018-10-04 01:54] RFSH commented on #1650
It seems like for now we just want "and" of "and"s which can be supported with the current syntax of facet. So all we should do is adding the support for `*::cfacets::blob` to ermrestjs. The blob will be encoded the same way as facet and the object will have the following format:

[code]

Other improvements that can be done later:

- One problem that using the current syntax has is performance. Fo

[2018-10-09 23:47] #1655 closed

[2018-10-16 19:22] RFSH opened #1666 ""Select All" Button In Multi-Select Modals"
Currently we're showing the multi-select modal in two different scenarios:

 - P&B add modal: Clicking on "Add" in related entities section for pure and binary association tables. This will allow users to create multiple rows for the pure and binary association table.

- Facet modal: Clicking on "Show details" (show more) in the choice picker facets. Users are expected to select filters that they

[2018-10-16 21:06] ljpearlman opened #1667 "Partial counts in TOC column."
In the TOC that shows up on a record page, the number of each kind of related records appears to be the count of the first page of results, not the count of all results. I think there's probably a performance reason not to calculate that full number, but it would be good to show, for example, "25+" instead of "25". If it's not clear what I'm talking about, an example is https://gudmap.org/chaise/r

[2018-10-18 01:03] RFSH opened #1669 "Increase URL length limitation In Recordset"
With the addition of custom facets, the urls could be lengthier than the limit that we have set. currently the limit that we have is 2048. We used that value because it seems like IE doesn't accept urls longer than that. To allow Boolean search and custom facets to work, we might need to increase the limit.

As I mentioned earlier the current limit is just because of IE. We should first investigat

[2018-10-18 16:57] RFSH commented on #1654
After reviewing this, we realized what's described in this issue is not completely true. I am going to close this issue and create another one in ermrestjs that will explain what needs to be done.

[2018-10-18 16:57] #1654 closed

[2018-10-18 22:07] RFSH commented on #1669
I did a little more of testing and researching of what is the best limit. These are what I found:

- [This link](https://stackoverflow.com/a/417184) is a very good summary of what is the best limit for urls. Based on this article and my testing in saucelabs, IE and Microsoft Edge (even the latest version) only allow `2083` characters in the url. If it's longer than that it will just use the first

[2018-10-19 18:44] #1650 closed

[2018-11-02 18:48] RFSH opened #1670 "Better Handling of Server Errros"
Currently all the 5x errors and "No Connection Error" ("No Connection Error" means that ermrestjs couldn't send the request to server for any reasons) are terminal. We should improve this. These are the few changes that comes to my mind:

- We might want to add "No Connection Error" to the list of retry errors in ermrestjs. This might cause some problems though. We should make sure that we're comp

[2018-11-03 01:17] hongsudt opened #1671 "add loading to TOC in record app"
The problem in the current loading... location is that if the page exceeds one screen, users won't see it and will assume that everything is loaded. We should try adding loading... or spinning wheel to the TOC area to make it visible..

[2018-11-03 01:29] hongsudt commented on #1506
@RFSH the original issue still has something unchecked.. Are those still need to be done?
Also, I want to move on to the next improvement of export, should I generate a new issue?

[2018-11-05 17:58] RFSH commented on #1506
@hongsudt the last part is not done. We're not checking whether iobox is installed or not. We're going to send the request regardless. The returned error most probably is going to be meaningful (it would be a 404 error I think), but it's not a specific error in ermrestjs/chaise as the last bullet point is suggesting.

[2018-11-06 23:13] jrchudy commented on #1667
A change has been made to show `25+` in the Table of Contents panel when there are more than 25 entities for a related table. The `+` will show up when there are more rows for the table than the page size.

Reassigning to @ljpearlman for verification.

[2018-11-07 18:52] hongsudt opened #1673 "history: add "current snapshot" link to get from historical snapshot to the current snapshot"
When recordset and record displaying historical records, we should:
- make it clear that it is a historical record --- maybe adding version number somewhere in the title area
- provide a link to get to the latest snapshot

[2018-11-07 19:27] hongsudt opened #1674 "add tooltip to the strings representing NULL and NOT-NULL in recordset"
- NOT NULL: search for any record that has a value
- NULL: search for any record with no value assigned

[2018-11-07 19:31] hongsudt commented on #1408
A simple array support that shouldn't take a lot of time is to provide a adjustable text box and validate to make sure that it follows the json array syntax.

[2018-11-08 18:27] hongsudt opened #1675 "make navbar phone-friendly"
We should allow users to click to expand the sub-menu.

[2018-11-12 22:31] hongsudt opened #1677 "loading... on record page doesn't go away"
On this page, the loading... doesn't disappear until the page is resized.

https://dev.gudmap.org/chaise/record/#2/Common:Gene/NCBI_GeneID=194268

[2018-11-13 20:12] RFSH opened #1679 "Facet Terminal Error"
If you go to a slow recordset page, interacting with the facet panel before the main page loads will throw a terminal error. This is happening because a container with an `ng-if` is wrapping the `record-table` and therefore its functions are not available before initialization. Changing the condition to `ng-show` would fix the issue.
We should make sure test case are stable after this change.

[2018-11-14 19:21] jrchudy commented on #1565
The changes for this issue have been merged into master, reassigning this to @hongsudt .

[2018-11-14 19:36] jrchudy opened #1680 "Clear control in all input types"
We want to have a control that allows the users to easily clear the value for all input types. Currently in `recordedit`, there is a clear control for date inputs, timestamp inputs, Asset selector inputs, and Foreign Key selector inputs. In the range inputs, we already have integer/float inputs and date/timestamp inputs with an `x` control to remove the values.

[2018-11-15 23:58] hongsudt opened #1682 "Enforce a maximum limits on number of records on recordset to be exported"
Apply max limit for recordset export or throw a warning when total records to be exported is large (e.g. 1M row?)

[2018-11-16 18:48] RFSH commented on #1682
In ermrestjs currently we are adding a `limit=none` to the end of url to signal that we want every row. We can change that to a predefined number.
I don't think throwing a warning would be possible. We have no idea how many rows the queries in the template might return. Also we cannot simply turn all of them to a count request because the path can be arbitrary.

[2018-11-19 19:01] hongsudt commented on #1612
@RFSH @jrchudy Have we done this? Is this still an open issue?

[2018-11-19 19:03] hongsudt commented on #1682
There is a total count on the page that can be used, correct?

[2018-11-19 19:05] jrchudy commented on #1612
We have not done this yet.

[2018-11-19 19:31] hongsudt commented on #1677
This is now working.

[2018-11-19 19:31] #1677 closed

[2018-11-19 19:54] hongsudt opened #1684 "integer filter is not presented correctly in facet panel"
If a filter of an integer type and with equality operation (e.g. GeneID=1234) is passed through the URL, even though the result set does incorporates that constraint, there is no indicator on the page that the filter is applied.

This bug happens when the columns are not in the facet list, or if the facet mode is not range.

We need a visual clue to present to the users all filters that have been

[2018-11-19 21:08] RFSH commented on #1684
This is happening because ermrestjs doesn't look for the preselected filters when it's deciding what should be the appropriate UX mode. I'm going to change it to honor the filters in the url. ermrestjs will ignore the `ux_mode` that is defined on the annotation and honor the url.

[2018-11-26 22:48] jrchudy commented on #1670
To address the bullet points above:
 - we added the `No Connection Error` to the list of retry-able errors in [this commit](https://github.com/informatics-isi-edu/ermrestjs/commit/db68cadd76b4ab2e3696ad5f71cc91c62bae55bc) in `ermrestJS`.
 - There now is a reload button when a No Connection Error occurs while the app is still loading
 - We aren't allowing the error to be dismissible because the cas

[2018-11-27 21:57] mikedarcy opened #1687 "Allow the base service url for export to be specified in chaise-config.js"
Currently, export service requests (via ioboxd) are using a hardcoded base URL of `/iobox/export/`. We are planning on phasing out the `ioboxd` service in favor of a more generic `deriva-web` service component hosting multiple "microservices", where export functions are located at `/deriva/export/`.

In this branch: https://github.com/informatics-isi-edu/ermrestjs/commit/8fb50384d66f2422341987c13a

[2018-11-27 22:36] RFSH commented on #1682
@hongsudt Yes, that is the total number of rows that we want the ermerst query to return. If it's set to `none` (which is the current implementation), it will return everything.

[2018-11-27 22:44] RFSH commented on #1679
This has been fixed.

[2018-11-27 22:44] #1679 closed

[2018-11-27 22:45] RFSH commented on #1262
I am going to close this issue. We have already received several feedback on the `array` aggregate feature and have gone through some cycle of changes.

[2018-11-27 22:45] #1262 closed

[2018-11-27 22:46] #1640 closed

[2018-11-27 22:46] #1609 closed

[2018-11-27 22:46] #1610 closed

[2018-11-28 23:51] RFSH commented on #1669
IE & Edge are setting a limit on the url LENGTH, while our deployments are setting that limit on the url PATH. To solve this, we are rounding up the limits that we should use. We are going to use `2000` characters for IE & Edge and `4000` for other browsers. This limit will be on the PATH.

[2018-11-29 18:30] RFSH commented on #1501
The changes in ermrestjs are done. The only missing issue here is the UX. We should discuss what should be the appropriate UX for having facet in the facet modal.

[2018-12-01 02:05] RFSH opened #1690 "Fix Not Null And Null Tooltip Placement"
It's currently showing up below the checkbox. It should be attached to the text. Also it should have the border-bottom that we're using for all the texts that have tooltip to indicate that it will have the tooltip.

[2018-12-03 18:06] RFSH commented on #1690
This [has been done](https://github.com/informatics-isi-edu/chaise/commit/f280511992703db08f82ec3184214b1d5bd03db6).

[2018-12-03 18:06] #1690 closed

[2018-12-05 00:09] RFSH commented on #1669
This is done. Assigning it to @hongsudt for verification.

[2018-12-05 22:39] hongsudt commented on #1682
We discussed about this during the meeting and found that there is nothing that the frontend can do. The limit should be enforce by the export service. Once the export service supports asynchronous export, the size might be come less problematic.

@karlcz do I summarize this correct? Anything to add?

[2018-12-07 22:47] hongsudt opened #1691 "change the heading of the "Share" pop-up"
From
  - "Citation" to "Data Citation"
  - "Download Citation" to "Download Data Citation"

[2018-12-08 02:48] hongsudt opened #1692 "Better error message when the server is not available"
I got this error during the server upgrade on rbk. We should use a different error message e.g. server is not available, please try again later. I think it used to work that way.

Internal Server Error
An unexpected error has occurred. Please report this problem to your system administrators.Click OK to go to the Home Page.

[2018-12-10 17:51] robes opened #1693 "export broken if you dismiss the login prompt"
from what I can tell. if you attempt to export (not logged in) and get the message that you must login, and then dismiss the login, then if you attempt to export (still not logged in) you get a “exporting…” dialog but there is no real attempt to export going on.

was attempted on a recordset app here:

https://dev.facebase.org/chaise/recordset/#1/isa:track_data/*::facets::N4IghgdgJiBcDaoDOB7ArgJwM

[2018-12-10 20:05] jrchudy commented on #1692
The difference was that you probably had a `500` error returned to you when you are expecting a `503` based on your debugging of why the error was thrown.

[2018-12-11 01:35] jrchudy commented on #1693
@robes this has been fixed. Changes have been made to both `chaise` and `ermrestJS` to resolve this issue.

[2018-12-11 18:23] RFSH commented on #1693
@robes You're seeing a Terminal Error because ermrestjs is not updated on facebase-dev. It's working properly on other deployments that have both ermrestjs and chaise changes that Josh did to fix this issue.

[2018-12-11 19:50] robes commented on #1693
OK. I tested it out. Working great. thanks

[2018-12-11 19:50] #1693 closed

[2018-12-12 19:39] #1670 closed

[2018-12-12 19:40] RFSH commented on #1131
Closing this issue due to inactivity.

[2018-12-12 19:40] #1131 closed

[2018-12-12 19:40] RFSH commented on #1653
Closing this issue due to inactivity.

[2018-12-12 19:40] #1653 closed

[2018-12-12 19:41] RFSH commented on #1671
Closing this issue due to inactivity.

[2018-12-12 19:41] #1671 closed

[2018-12-12 19:42] #1007 closed

[2018-12-12 19:43] #1674 closed

[2018-12-12 19:44] RFSH commented on #1667
Closing this issue due to inactivity.

[2018-12-12 19:44] #1667 closed

[2018-12-12 19:44] RFSH commented on #1649
Closing this issue due to inactivity.

[2018-12-12 19:44] #1649 closed

[2018-12-12 19:44] #1644 closed

[2018-12-12 19:44] #1641 closed

[2018-12-14 02:10] RFSH opened #1695 "Check Page.content In related entities"
If it results empty (template is wrong), it should be treated as if the table-display is missing (fall back to tabular display).

We might want to do the same for inline tables. Should we?

[2018-12-14 16:45] jrchudy commented on #1691
This change has been made, reassigning to @hongsudt .

[2018-12-14 21:48] hongsudt commented on #1695
It is not just because the template is wrong, but also because the template is not applicable e.g. I can only apply treeview to mouse data only instead of all data.

[2018-12-19 20:18] RFSH opened #1696 "Recordset Generates Duplicate Requests"
Open the network tab and go to the following url:
https://dev.rebuildingakidney.org/chaise/recordset/#2/Gene_Expression:Specimen/*::cfacets::N4IgJglgzgDgNgQwJ4DsEFsCmIBcICuwEKABADogIDGVmUUA9gE5IkAaAkiSpkwG6YKJACoBlAAwBGAHTSxAJgAcJGABcAvAHMmCMJjAk4VdVQT4wCOAF8QAGhC90TOqoD6MBKoAWuEAHoAClFVBE1MVw4AEQBKdQCANQZTACN8RBYcSMwBOAYYLBQQuFdg0MwcKOi-AHkmSDQ4HBwwgEcmyQAyWvrLJrhMNpwlPwASAFlAgCVKuNEYTCoIAtcAUQAP

[2018-12-20 01:19] RFSH opened #1697 "Create Navbar App"
It should be the same as the login app that has been created before. We just want to be able to inject the whole navbar in static websites.

[2018-12-20 01:48] RFSH opened #1698 "Batch-copy: change the confirmation modal"
In mutli-edit recordedit page (go to recordset and click on the edit button on top of the page), for each of the records we are providing a remove button. Using this button they can remove any of the forms from the view. Currently the modal that we are showing for confirmation of this action is confusing to the users. We're not actually deleting anything. The following are the new text that should

[2018-12-20 18:50] RFSH commented on #1535
One of the confusing parts of the implementation of batch-unlink that we reverted was the fact that users could remove the existing facet. I [recently added](https://github.com/informatics-isi-edu/ermrestjs/pull/752) the `hidden` support to facets in the url. Now you can have facets in your url that won't be merged in the faceting UX and users won't be able to remove them.

The reference that we a

[2018-12-21 00:18] RFSH commented on #1408
#### Required features and How it should behave
- Chaise should detect array columns. You can do this check by looking at the `Column.type.isArray` attribute.
- When there's no existing data (in create or edit mode), we should show one input alongside two buttons. One for adding new input and one for removing the existing input (each input should have the remove button beside it). The latter shoul

[2019-01-03 17:20] RFSH commented on #806
An [input-switch](https://github.com/informatics-isi-edu/chaise/blob/master/common/inputs.js#L360) has been recently implemented that will create an input for any type of columns. This includes numbers too.

[2019-01-03 17:20] #806 closed

[2019-01-10 17:20] RFSH commented on #1695
This has been merged with master. The new behavior regarding the nested tables are as follows:

inline table:

- If page.content is null (no matching rows), show None and a button to switch to tabular mode.
- If page.content is empty string (empty string, due to invalid or empty row_markdown_pattern result), show the tabular mode. Don't provide the switch button.
Otherwise show the page.content in

[2019-01-11 01:53] jrchudy opened #1701 "Uploader widget progress bar gains and loses progress"
When uploading a file in chaise using hatrac, if the system storage is full (hatrac is out of space), the uploader UI appears to shift back and forth pretty often.

I believe this is an issue with the uploader widget in chaise that is incorrectly reporting data as uploaded when it's actually in a retry loop.

@karlcz  can you update this issue with a way to try to replicate this issue without actu

[2019-01-11 02:00] karlcz commented on #1701
Without hacking on the hatrac service to generate spurious exceptions,
the next easiest would be to temporarily change ownership of the
hatrac storage directory so the web service cannot write to it, e.g.

   sudo chown -R root:root /var/www/hatrac

After testing is complete, you can restore it to the original
ownership again:

   sudo chown -R hatrac:apache /var/www/hatrac

[2019-01-23 02:04] robes opened #1703 "docs for templating have examples of double-{ instead of triple-{"
I believe the instructions are to always use triple-{ when specifying where to insert an attribute value in a template. The doc here still shows a double-{ which I assume is wrong. Look for `{{name}}` in a couple places in the example.

http://docs.derivacloud.org/users-guide/annotations/mustache-templating.html?highlight=encode#replacement-with-url-encoding-encode-name-encode

In fact, the exampl

[2019-01-25 23:42] jrchudy opened #1704 "catalog configuration annotation"
We discussed a few different config patterns to use for the catalog annotation.

## Support templating in navbarMenu (#1709)
- Should we change the name of the property e.g.  `navbarMenu` v.s. `navbarMenuTemplate`?
- If both exist, navbarMenuTemplate overwrite?
- The URL can be static or version specific. Users have the option of using `$catalog.snapshot` in the template to direct users to specifi

[2019-01-25 23:49] carlkesselman commented on #1704
I would argue in favor that the config block should allow anything that could be in chaise config.  The only exception I would make is that if there was an option that really only applied to the server and not a catalog.
In general, I would like to see a situation where I don’t have to ssh into the server at all but could do everything via ERMrest.

Carl

------------------------------------------

[2019-01-26 00:59] jrchudy opened #1705 "Show inline related tables in the ToC"
The Table of Contents panel on the right side of `record` app only shows the related tables that show up below the main entity section, it should include the related tables that are part of the main entity section as well.

[2019-01-28 20:15] hongsudt commented on #1692
I think we decided that the error messages were appropriate.. So I am closing this issue.

[2019-01-28 20:15] #1692 closed

[2019-01-28 20:30] hongsudt commented on #1682
I am closing this issue.. It can be reopened when we have a clear use case.

[2019-01-28 20:30] #1682 closed

[2019-01-30 00:38] jrchudy commented on #1704
The above issue text has been updated based on more discussion that we had during our morning meeting today. To address some of @carlkesselman 's questions:

`the config block should allow anything that could be in chaise config`
 - we have decided that all chaise config properties will be configurable in the annotation

`if there was an option that really only applied to the server and not a cata

[2019-02-02 01:38] jrchudy commented on #1675
@hongsudt should the hover functionality be removed? or should we support both click and hover?

[2019-02-04 19:37] hongsudt commented on #1505
duplicate with #1697. Will close.

[2019-02-04 19:37] #1505 closed

[2019-02-04 19:41] hongsudt opened #1709 "history: support templating in navbarMenu"
Support templating in navbarMenu (e.g. we will not change the param name) especially `$catalog` object.

If the URL is chaise URL, use the catalog from the URL. If not, use default catalog.

If there is no default catalog specified, then treat it as if the navbar menu is not available.

[2019-02-04 21:35] jrchudy commented on #1675
It was decided to only support click.

[2019-02-04 22:13] hongsudt opened #1710 "Record: support rendering of a record without column header and table outline"
The goal is to present a record as a  normal HTML page.

To do this, we need to:
- turn off column headers amd table outline
- collapse TOC by default

Attributes to be added to the table-display annotations:
- `hide_column_headers` - controls whether column names and the lines between columns (technically between the <tr> rows in the DOM) are visible or not
- `collapse_toc_panel` - controls the o

[2019-02-05 02:26] Divyata-Singh opened #1711 "Error message on file upload in RecordEdit"
When the network is disconnected while uploading a file in the recordedit app, the alert gives the angular stack trace instead of a proper error message.
![UploadError.PNG](https://images.zenhubusercontent.com/5b0458274b5806bc2bd42f17/f4f793d0-6fb0-46c3-a76c-ee1e8137449b)

[2019-02-06 21:27] jrchudy commented on #1705
The changes for this issue have been merged into master, assigning to @hongsudt for verification.

[2019-02-06 21:34] jrchudy commented on #1675
Assigning to @hongsudt  to verify this is working as expected.

[2019-02-06 21:40] #1697 closed

[2019-02-06 21:40] #1095 closed

[2019-02-07 01:37] jrchudy opened #1713 "scroll to top of page on submission"
After submitting data in `recordedit`, the page should automatically be scrolled back up to the top so the user can see if an error alert is displayed.

[2019-02-07 01:43] carlkesselman commented on #1713
YES!!!

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina del Rey, CA  90292-6695
Phone:  +1 (310)

[2019-02-08 21:39] jrchudy opened #1714 "Highlight box misaligned for inline tables"
When you click the ToC option for an inline related table, the highlight box overlays the text for the related table links.

[2019-02-12 01:50] jrchudy commented on #1713
The changes for this have been merged into master.

[2019-02-12 01:50] #1713 closed

[2019-02-12 19:29] RFSH commented on #1408
A minimal and temporary solution for having arrays in recordedit is treating them the same way as `json` columns. Achieving this with the current implementation is simple, we just have to make sure we're mapping array columns to `json` inputs ([Here](https://github.com/informatics-isi-edu/chaise/blob/master/common/utils.js#L1079) and [here](https://github.com/informatics-isi-edu/chaise/blob/master

[2019-02-12 21:24] jrchudy opened #1718 "Change default for resolverImplicitCatalog"
The `chaise-config` property, `resolverImplicitCatalog`, has 3 options currently. Their behavior is as follows:
 - catalog id
   - matches current catalog and resolver is setup for shorter links, resolver link is provided without catalog id (`/id/X` where `X` is the filter)
   - doesn't match, resolver link is provided with catalog id (`/id/N/X` where `N` is the catalog id and `X` is the filter)

[2019-02-13 00:44] karlcz commented on #1718
On Feb 12, Josh Chudy modulated:

...

I don't think this change makes sense with the original property
name.  We should either replace the property entirely with a different
definition or just carefully distinguish null and undefined:

- C: resolver on, /id/RID for /id/C/RID, /id/N/RID for others
- false: resolver on, always use explicit /id/N/RID
- null: disable use of resolver URLs
- undefined/

[2019-02-13 19:53] hongsudt commented on #1718
I like @karlcz's solution as it doesn't break any backward compatibility.

[2019-02-13 19:57] hongsudt commented on #1408
We should this get this minimal change in place, so that Facebase can start using it (with training on a small group of user).

However, this error message is very hard to understand.. And if there are multiple array columns, there is no way for me to even know where to address the issue. So I think we should do simple client-side validation if simple or just wait and put the GUI in place.

[2019-02-14 00:24] jrchudy opened #1721 "Add support for chaise-config.configRules"
As mentioned in #1704 , the chaise-config syntax is being extended to include another property called `configRules`. This property will be defined as follows:
[code]

Chaise should be updated to add support for the config rules functionality.

[2019-02-15 02:38] RFSH opened #1723 "Serialize POST/PUT/DELETE Requests"
We should completely serialize all POST/PUT/DELETE requests to a catalog. There should NOT be any concurrent mutation requests as all but one of them will almost certainly fail with a 503 response.

We have to make sure we are preventing users from generating such requests. One example of this would be disabling the submit button in recordedit after submitting. This task is just to look at the beh

[2019-02-20 00:05] jrchudy commented on #1710
The changes for this issue have been merged, reassigning to @hongsudt .

[2019-02-20 01:32] karlcz opened #1724 "Terminal error row[k] is null in recordedit"
To reproduce, go to:

https://synapse-dev.isrd.isi.edu/chaise/recordedit/#1/Zebrafish:Synaptic%20Pair%20Study/RID=19WJ

Attempt to set the only value available in the "Synaptic Region 1" modal picker and submit. I get a terminal error with the details saying only:

    row[k] is null

[2019-02-20 01:40] jrchudy commented on #1724
In the supplied use case it is iterating to the `Region 1 URL` (which has a value of `null` supplied) and it’s choking out our conditional check that “assumes” `row[k]` (the value of `Region 1 URL`) is defined.

offending line of code:
https://github.com/informatics-isi-edu/chaise/blob/master/common/upload.js#L635

[2019-02-20 19:56] jrchudy commented on #1724
The configuration that caused this involved a combination of `nullok: true` on a disabled input field that was part of the visible columns list. There are no problems with that configuration, just a small change to the check to make sure it doesn't short circuit again.

[2019-02-20 19:58] jrchudy commented on #1724
@karlcz this has been fixed with [this commit](https://github.com/informatics-isi-edu/chaise/commit/49b9ca7563dab7b2c3655bf716545bc447fcc8a5) to master. Reassigning to you to verify it's fixed and to close this issue.

[2019-02-20 21:28] RFSH opened #1725 "Improve Pre-fill When Creating New Related Entities"
When users click on "add" button for related entities, we navigate them to a recordedit page with pre-filled value for the foreign key relationship with the main table. We are currently only doing this pre-fill based on the foreign key value. We could improve this by pre-filling other foreignkeys as well.

To better understand this, take a look at the following example:

- User navigates to the re

[2019-02-20 21:31] karlcz commented on #1724
Fix confirmed.

[2019-02-20 21:31] #1724 closed

[2019-02-20 21:38] karlcz commented on #1723
Just to be clear, if making changes to the GUI you should disable the button during the click, before sending the request, and reenable after the promise is resolved.

However, I think the real issue is in the test suite slamming the service with concurrent changes, or if we ever add an app that programmatically initiates multiple mutation requests due to a single input event.

In practice, it is

[2019-02-20 21:57] karlcz commented on #1725
As you said, the second foreign key column set must be a superset of the first foreign key columns in order for us to infer anything about its possible contents. Thus, the pre-fill for the first foreign key partially fills out the second foreign key.

Our conjecture is that the second foreign key must point to the same record and we can therefore copy over additional values to fill in the rest. We

[2019-02-21 20:40] jrchudy opened #1727 "Edit/Create should be disabled for versioned catalogs"
When a user is viewing a versioned catalog, the edit and create options should not be available. If the user does navigate to the `recordedit` app somehow still, we should have a proper error message.

Current scenario allows for users to navigate to the `recordedit` page for both `create` and `edit`, but they are presented the following error on form submission.
`403 Forbidden The requested modif

[2019-02-21 21:20] karlcz commented on #1727
Why isn't the app showing the error immediately due to the `rights` in the model not including insert/update permissions?  I don't see why it should ever offer the data-entry forms nor submit button.

Please confirm that the app is actually starting with the correct catalog model for the URL, i.e. if you are at `1@2R4-P12J-9V08` then you should also be using the schema from `/ermrest/catalog/1@2R4

[2019-02-21 22:21] jrchudy commented on #1727
When I go to rbk, I see `2R4-PHS4-ZTV2` as the catalog number when I look at this [rest API](https://dev.rebuildingakidney.org/ermrest/catalog/2). When I change to that catalog, I don't see anything different with the permissions on the catalog, schema, or tables.

I tested this on the [Protocol:Subject](https://dev.rebuildingakidney.org/chaise/recordset/#2@2R4-PHS4-ZTV2/Protocol:Subject@sort(Term

[2019-02-21 22:31] jrchudy commented on #1709
The changes for this issue have been merged into master, reassigning to @hongsudt .

[2019-02-22 19:24] karlcz commented on #1727
OK, I reproduced this as well.  I've opened informatics-isi-edu/ermrest#217

[2019-02-22 21:57] karlcz commented on #1727
The ermrest bug was fixed in master and py3 branches.  The fix has already rolled out to synapse-dev and other test VMs with hourly updates...

[2019-02-23 00:47] RFSH commented on #1408
The changes for a simple array support has been merged into master. Chaise is going to provide a textarea for array columns which is similar to what we provide for json columns. You have to write the literal string value of the array ( `["value1", "value2"]` with brackets and double quotes) in the textarea. We’ve added a customized placeholder for these inputs to help the users. It also has its ow

[2019-02-27 18:47] hongsudt commented on #1710
I am closing this issue as Carl is using it now..

[2019-02-27 18:47] #1710 closed

[2019-02-27 18:48] hongsudt commented on #1673
@carlkesselman this is now ready on dev..

[2019-02-27 18:48] hongsudt commented on #1673
@karlcz can you review this issue?

[2019-02-27 18:51] hongsudt commented on #1675
Yes.. This is working as expected.

[2019-02-27 18:51] #1675 closed

[2019-02-27 18:54] hongsudt commented on #1718
@svoinea can you please help review the issue by testing this `resolverImplicitCatalog` chaise-config parameter? Chaise should react appropriately depending on the set value.

[2019-02-27 18:58] #1705 closed

[2019-02-27 19:00] hongsudt commented on #1695
This is now working as intended.

[2019-02-27 19:00] #1695 closed

[2019-02-27 19:05] karlcz commented on #1673
Can someone provide some sample chaise page links to see this feature?

[2019-02-27 19:26] karlcz commented on #1673
I manually constructed a link to a record page w/ a snapshot in the chaise URL on my dev system.  I see some problems with the UX:

1. The `Live Data` link has no tooltip
2. The `Live Data` link is in the navbar when I think it should be in the toolbar.
3. The tooltop for the `Tablename (Version xxx-xxxx-xxxx)` does not include any explanation of the snapshot

In its current position next to the u

[2019-02-27 19:30] karlcz commented on #1727
I verified that the Edit/Delete buttons go away now with a properly updated ermrest.

However, the Copy button also disappears.  This might frustrate someone who is trying to use historical data as the starting point for a new record?

[2019-02-27 19:58] #1565 closed

[2019-02-27 19:59] #1691 closed

[2019-02-27 20:02] hongsudt commented on #1687
@svoinea please review this chaise config parameter.

[2019-02-27 20:07] hongsudt commented on #1669
I can now adding 130 NCBI symbols to the gene search on firefox. I am closing this issue.

[2019-02-27 20:07] #1669 closed

[2019-02-27 21:16] RFSH commented on #1687
It's worth noting that after this change, we decided to change the default value to `/deriva/export`.

[2019-02-27 23:17] hongsudt commented on #1673
@karlcz @jrchudy can you paste a url here so I can see this feature? I don't know a valid version for me to see this..

I agree that there should be a time component to tell the rough time of the version.

[2019-02-28 00:50] jrchudy commented on #1673
What I did to look at versioned data was query the [catalog API](https://dev.rebuildingakidney.org/ermrest/catalog/2)(https://dev.rebuildingakidney.org/ermrest/catalog/2) and use the snaptime property as the version.

https://dev.rebuildingakidney.org/chaise/recordset/#2@2R5-T8JX-8NQ2/Common:Gene/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM4gEEIBPAfQBEwAXMEAGhCwAsUBLXJOeKjNHAXQC+QoA@sort(RID)

[2019-03-01 00:13] RFSH commented on #1725
The changes for this PR are now merged with master. Assigning to @hongsudt to review the PR.

[2019-03-01 21:18] hongsudt commented on #1651
please review her work and close the issue.

[2019-03-01 21:52] RFSH commented on #1651
The css changes has fixed the overflow issue.

[2019-03-01 21:52] #1651 closed

[2019-03-04 18:53] hongsudt opened #1733 "History: Generate a proper timestamp based on the history version"
Instead of showing a string version (that is not time-based), we should convert this string to a time and present this value.

@karlcz  Can you write out an algorithm for this conversion here?

With this, we should present the time smartly e.g.
- if the difference is less than 24 hours, report the difference in hours e.g. 5 hours ago
- if the difference is less than 1 week, report the difference i

[2019-03-04 19:10] jrchudy commented on #1733
I agree that a version that is less than a week old should be shown as relative to the current date and time. I think we should be precise down to minutes though if it's less than 1 hour (e.g. 34 minutes ago).

[2019-03-05 02:42] jrchudy opened #1735 "Copy versioned data"
The copy button should be available for a user to copy versioned data to the `recordedit` form. Once on the `recordedit` page, the user should be looking at the "live" catalog.

[2019-03-05 02:47] jrchudy commented on #1673
Changes discussed for this issue:
- [ ] change text from `Live Data` to `View Live Data`
- [ ] tooltip for this button
- [ ] displaying version text doesn't mean much to the user. Show a timestamp instead (#1733 )
  - should display `x minutes ago` when < 1 hour
  - should display `x hours ago` when < 1 day
  - should display `x days ago` when < 1 week
  - otherwise show the actual date (no time n

[2019-03-05 18:53] RFSH commented on #1648
A fix for this has been merged with master. Assigning to @hongsudt for verification. I wasn't sure which table was relying on this feature. But looking at the network tab after deleting a record on any of the related tables, reports sending requests for the whole page.

[2019-03-05 19:06] jrchudy commented on #1733
Javascript allows for the following [bitwise operations](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Bitwise_Operators):
![image](https://user-images.githubusercontent.com/2932600/53830200-c22ca380-3f36-11e9-8a90-e2ccdffb68ac.png)

[2019-03-05 20:29] karlcz commented on #1733
# Example Values

First off, you can generate example values and results easily via SQL on an ermrest catalog db:

    SELECT _ermrest.tstzencode(now());
    tstzencode
    -------------
    2R6-QAMZ-AB8W

    SELECT _ermrest.tstzdecode('2R6-QAMZ-AB8W');
    tstzdecode
    ----------------------------
    2019-03-05 10:49:24.45915-08

My example values are in PST timezone because of where I ran th

[2019-03-05 22:08] jrchudy commented on #1721
- Generally follow the existing chaise-config syntax and extend the config with rules that can overwrite some values for different server name.
- Use the same syntax in `"tag:isrd.isi.edu,2019:chaise-config":{ // chaise-config syntax }`
- Follow the order of rule-overwriting according to the section above.
- The advantages are: 1) it is consistent with existing chaise-config; 2) it allows an expli

[2019-03-05 23:00] RFSH opened #1736 "chaise should function without chaise-config.js"
The recent changes have broken this. We should make sure all the apps function without chaise-config.js (or `chaiseConfig` variable).

[2019-03-05 23:09] karlcz commented on #1733
Here is an implementation of decoding in Python using just basic string manipulation and floating-point arithmetic.  I think it should be pretty trivial to transcribe into Javascript...

[code]

[2019-03-06 19:18] karlcz commented on #1727
I see you created a separate issue #1735 for the copy button.

[2019-03-06 19:18] #1727 closed

[2019-03-06 19:44] jrchudy commented on #1733
This is working for me. Thank you @karlcz .

[2019-03-08 00:52] #1673 closed

[2019-03-08 03:34] jrchudy opened #1738 "Snapshot Link for live data in share dialog"
When the user s looking at a record page that is un-versioned, we should still provide a versioned link in the share dialog for the user so they can share the data at this point in time.

Currently the catalog API (`/ermrest/catalog/<id>`) will return the `snaptime` for the catalog. The idea is that the snaptime will be fetched right before the record data is fetched, so we get as close to the sam

[2019-03-08 21:32] crisaless opened #1739 "navbar app pulls in chaise assets that cannot be found from the static site"
the navbar assumes that all content is at the same level (since chaise is a one-page app). But on the static sites there are many instances of pages in different directories.

When chaise pulls in other assets, the file paths start with a period which makes the links relative to the current location.

This breaks the navbar on a page such as https://dev.gudmap.org/about/.

When the navbar app trie

[2019-03-08 22:40] jrchudy commented on #1739
This is the expected behavior. Please see the [readme](https://github.com/informatics-isi-edu/chaise/blob/master/lib/navbar/navbar-app.md#dependencies). The linked section explains how to resolve this issue.

[2019-03-08 22:43] crisaless commented on #1739
I'm able to pull in those files correctly. But there are other assets that are pulled in after navbar is called and I can't change those paths.

[2019-03-08 23:28] RFSH commented on #1739
@crisaless Thanks for reporting the bug.  It should be fixed now. [This](https://github.com/informatics-isi-edu/chaise/commit/c94a9acf1f98c79f6e110b2cfa0edcaa40d9a5b2) is the commit that fixes it. Please let us know if that resolved the issue.

[2019-03-12 00:36] hongsudt opened #1740 "logging issues"
I am going to summarize the issues I found here, so that people might be able to refer to it when they look at their logs:  (as of 2019/03/13)
**Chaise**
- There are cid = 'record', but action is 'recordset/main'. This is caused by ...
- There are cid = 'recordset', action='recordset/main/load' without table. These requests have incorrect action. They belong to the following events:
  - pseudo-col

[2019-03-13 00:33] #1739 closed

[2019-03-13 22:53] RFSH commented on #1516
new name: `ppid`, `pcid`

example.com/asdasdasdas?pcid=whatever&

example.com/asdasdasdas?pcid=whatever&

attach to the main request of each app
- recordedit: submit
- recordset and record page: main read

[2019-03-14 00:17] RFSH commented on #1518
These are some of the changes that we have to make:

- [ ] Add action to the `/catalog/N/schema` request that we're doing during the introspection.
- [ ] Add `catalog` alongside the `schema_table`. This will the catalog and its version ("N@snapshot").
- [ ] Add `column` to request for getting scalar facets data.

[2019-03-14 00:32] RFSH opened #1741 "Change $http to ERMrest http module"
We should avoid using $http module directly and instead we should rely on the http module attached to the `Server` object in ermrestjs. This will gives us the ability to pass the `cid`, `pid`, and `wid` consistently throughout chaise.

[2019-03-14 01:30] #1733 closed

[2019-03-14 01:30] jrchudy commented on #1721
Support for this has been merged into master. Assigning to @hongsudt for verification.

[2019-03-14 21:03] hongsudt opened #1744 "improved test cases"
Our test process currently fails to run successfully on travisCI, mostly due to the longer network delay.  We don't have the same problem when the test suites are run locally.

 @jrchudy has done some travis CI log analysis to identify test suites that often fails.. We should figure out why some of test keep failing..

[2019-03-16 01:50] jrchudy opened #1745 "history: share dialog should include live and versioned link"
@jrchudy commented on [Tue Feb 05 2019](https://github.com/informatics-isi-edu/ermrestjs/issues/758)

When the user is looking at a versioned `record` page, the share dialog should include a share link for the current versioned catalog and one for the live catalog.

[2019-03-16 01:50] #1736 closed

[2019-03-19 17:18] hongsudt commented on #1709
@jrchudy Can you figure out a version number on rbk for me to use for testing?

[2019-03-19 18:27] jrchudy commented on #1709
Looks like this data is snapshotted on February 20th:
https://dev.rebuildingakidney.org/chaise/record/#2@2R4-PHS4-ZTV2/Protocol:Protocol/RID=N-H9E2

[2019-03-20 18:56] RFSH opened #1747 "Add Extra Info In URL Errors"
Browser might truncate the urls. In this case, the url most probably is going to be invalid and chaise will complain about some parts of the url. We should add more information to our error messages that the error might be happening because of the url truncation.

[2019-03-21 20:20] RFSH commented on #1621
The following is how the new  and old annotation are going to be processed:

The old annotation
[code]

Is going to be treated the same as

[code]
And if the new annotation with "*" context is already defined on table/schema, the old annotation will be ignored.

[2019-03-25 22:40] RFSH commented on #1621
The new `"tag:isrd.isi.edu,2019:export"` tag has been added. Please refer to [annotation document](https://github.com/informatics-isi-edu/ermrestjs/blob/master/docs/user-docs/annotation.md#tag-2019-export) for more information about this. Assigning to @hongsudt  for verification.

[2019-03-26 00:44] hongsudt commented on #1621
@ytfqj Can you help me test this with the GEO export which should not be offerred in the recordset context.

[2019-03-26 00:45] hongsudt commented on #1698
@RFSH can you review this and close it?

[2019-03-26 00:48] hongsudt commented on #1745
@carlkesselman @robes @karlcz @ljpearlman Please review and close the issue if it is good.

[2019-03-26 00:49] hongsudt commented on #1560
@Divyata-Singh is this still an issue?

[2019-03-26 00:56] robes commented on #1745
Its okay with me.

[2019-03-26 01:13] RFSH commented on #1698
The wordings are a bit changed (e.g, "form" v. "edit form") but it conveys the same message. I'm closing the issue.

[2019-03-26 01:13] #1698 closed

[2019-03-26 17:27] jrchudy commented on #1738
The changes for this issue have been merged into master. Reassigning to @hongsudt.

[2019-03-28 19:42] ljpearlman opened #1749 "Errors uploading files with multi-add"
An RBK user got this error when trying to add multiple records with file uploads (she hit "submit" a second time after the first failure). She was able to add a single record with no problems. You can test by selecting any specimen from https://dev.rebuildingakidney.org/chaise/recordset/#2/Gene_Expression:Specimen or https://staging.rebuildingakidney.org/chaise/recordset/#2/Gene_Expression:Specime

[2019-03-28 23:57] jrchudy commented on #1749
Before each of the following tests I downloaded new czi files from random records on dev-rbk ranging from 50 mb up to 350 mb. I created 5 records each time with a different file uploaded for each record for each test. (I uploaded 15 distinct files across the 3 tests)

I tested with no network limit (~500 MBps upload, maybe 10 ms latency) and saw no issues. I waited maybe 1 minute for this to creat

[2019-03-29 00:55] hongsudt commented on #1749
More info from cris:
Emily let me know in a different thread that she is using Windows 7 Enterprise and uses Firefox (52.0.1.0) and Chrome (73.0.3683.86).

[2019-03-29 01:34] RFSH commented on #1637
Following the discussion about the version of dependencies that we're using I spent a little time looking at our dependencies. The following are our js dependencies:

### Angular-ui Bootstrap
At first I though angular-ui is using bootstrapjs and therefore jQuery. But it seems like it doesn't require bootstrapjs/jQuery at all. Also angular-ui is feature-complete and the version that we have include

[2019-03-29 21:50] jrchudy commented on #1749
- could there be some race condition with the multi-add (i.e. somehow looking at the checksum result for the wrong record)?
   - **UPDATE**: this case is very unlikely. We make sure to create an individual upload job for each
- we need to be careful not to share something like a "file pointer/file descriptor" which has internal state such as current seek position, since different chunks cannot saf

[2019-03-29 23:57] ytfqj commented on #1621
I have checked the GEO export,
I change annotation on dev and makes the GEO export only showing up in the record page.
it works as expected.

[2019-04-01 17:57] svoinea commented on #1718
I have tested it on `pbcconsortium.isrd.isi.edu`, and only the first case was working as expected by me:
[code]
and `https://pbcconsortium.isrd.isi.edu/id/1-882P`, `https://pbcconsortium.isrd.isi.edu/id/1/1-882P` and `https://pbcconsortium.isrd.isi.edu/id/3/1-19RC` were OK.

I tried the other three cases:
[code]
[code]
and `resolverImplicitCatalog` missing, and all of them were honouring the  `htt

[2019-04-01 18:04] karlcz commented on #1718
@svoinea I don't understand your comment.  What do you mean that URLs were "OK" and what do you mean by, "all of them were honouring the <implicit catalog URL>"?

It sounds to me like you are talking about the behavior of the resolver. This setting `resolverImplicitCatalog` is for Chaise and of course will not not change the behavior of the resolver on the server in any way. It will only change th

[2019-04-01 18:32] svoinea commented on #1718
By `OK`, I mean the URLs were converted to `https://pbcconsortium.isrd.isi.edu/chaise/record/#1/Beta_Cell:Dataset/RID=1-882P` or `https://pbcconsortium.isrd.isi.edu/chaise/record/#3/vocab:specimen_terms/RID=1-19RC`.

I have retested and confirm that the links that appears under the `Share` button are matching the description for all the four cases.

The issue can be closed from my point of view.

[2019-04-01 18:46] hongsudt commented on #1749
RBK user in florida continues to have problems after the hatrac patch.
![image](https://user-images.githubusercontent.com/414732/55351594-9dfbae00-5473-11e9-89a5-1b3923e09285.png)

[2019-04-01 19:20] robes opened #1750 "improve citation annotation support with fkey traversal"
As I understand it, currently the citation annotation

http://docs.derivacloud.org/users-guide/annotations/annotation.html?highlight=citation#tag-2018-citation

only supports a "pattern" expansion for its values and to my knowledge the pattern expansion cannot be used to traverse inbound/outbound fkeys to get to the desired column.

For example, a collection to be cited is likely to have >1 author

[2019-04-02 17:07] RFSH commented on #1749
I went over the code to figure out if there are any flaws in the current implementation of upload/hatrac.

We can summarize the whole logic of uploader as following:

1. Calculate checksum for all the files
2. Check whether files already exist on hatrac (and avoid uploading them)
3. Create upload job for all the files
4. Upload each file, chunk by chunk
5. Complete upload job for all the files

Ap

[2019-04-02 18:15] #1718 closed

[2019-04-02 23:24] svoinea commented on #1687
I have tested it on `pbcconsortium.isrd.isi.edu`.
The `exportServicePath` parameter from `chaise-config.js` is honoured.
The single way I could verify it was through the Apache `ssl_access_log` file.

I selected from a record page, the `Export|BAG` command.
When the `exportServicePath` parameter was missing or set to the `/deriva/export/` value, it worked as expected.

In the Apache `ssl_access_lo

[2019-04-03 00:33] RFSH commented on #1749
I was able to produce the md5 missmatch error. Although this might not be the exact scenario that users faced the issue, but it's showing the same symptoms. This error is being thrown when user tries to upload several files that some of them already exist on the server. The mixture of new and existing files is causing this issue.

I was able to fix this bug by changing the logic of ending the 4th

[2019-04-03 01:02] jrchudy commented on #1749
Some background can be gathered from the following 2 queries. The first query surrounds the initial error occurrence, the second query surrounds the latest error occurrence. On March 28th (Thurs):
[code]

This query (when run against `log2.isrd.isi.edu` on the `rsyslog` database) encompasses all log information surrounding the initial case that this error was reported for.

On April 1st (Mon):
[co

[2019-04-03 21:24] jrchudy commented on #1749
On March 28th (Thurs):

[code]

On March 29th (Fri):

[code]
This failure is almost identical to the one above in this comment. It includes the same 2 files that are trying to be uploaded (non-thumbnails).

On April 1st (Mon):

[code]

[2019-04-04 00:46] jrchudy commented on #1749
From reproducing the bug today:
[code]

I was trying to upload 3 files, 2 that already existed on the server and 1 new one. The new file had its job properly created, but it tried to finalize the file before any of its chunks were uploaded. This is because of the order that the code in chaise executes. This error only occurs when the file that doesn't exist yet is one of the last files to upload.

[2019-04-04 19:07] RFSH opened #1753 "File Uploader Improvements"
After discovering a new bug in hatrac/uploader we decided to take a closer look at the current implementation. The following are the list of improvements that we should do:

- [ ] Add flow-control to file exists check.
- [ ] Add flow-control to job creation.
- [ ] Improve the progress logic to avoid looping over the files over and over again.
- [ ] We might want to flatten the array of `uploadFile

[2019-04-04 19:44] RFSH commented on #1749
The changes to fix this issue are merged with master in both [ermrestjs](https://github.com/informatics-isi-edu/ermrestjs/commit/bbd5f51b5de9b1ad4c5de9ea4659ce98c912d002) and [chaise](https://github.com/informatics-isi-edu/chaise/commit/603428aad64ca1f21d3ced3919f10f7918d37f9a).

The new #1753 issue has been created for more improvement regarding the uploader.

[2019-04-04 20:40] RFSH commented on #1749
@ljpearlman @hongsudt I tested the same scenarios in rbk-dev with the new changes and everything seems to be working fine. We should be able to update the deployments and ask our user to try again.

[2019-04-04 23:51] jrchudy commented on #1711
To reproduce this error:

The error occurs because the browser can't fetch the `uploadProgress.html` template. This error will occur anywhere in any of the apps if the internet is disconnected while the app is trying to fetch templates. The error is only exposed in `recordedit` though. In record and recordset, this error is swallowed up (never shown to the user).

This can be reproduced in `record

[2019-04-05 18:36] robes opened #1754 "share link should have a 'copy to clipboard' button"
This is pretty standard. Its a little confusing what to do with the resolver link. Its a clickable url but goes to the exact same page you are already on. What we really want is for user to copy it. We should have a copy-to-clipboard icon next to it. This seems like its pretty standard.

https://www.w3schools.com/howto/howto_js_copy_clipboard.asp

[2019-04-08 18:07] hongsudt opened #1755 "multi-edit doesn't show the file URI properly"
If you go to this page, you will see that there is no way for user to see the existing file URI. We should provide a way to visualize the value.. maybe when they hover over, the full URL should show up?

https://www.gudmap.org/chaise/recordedit/#2/RNASeq:File/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEAJQDkBBAZRwEcQAaEAMQEsAbHAPpUcAB17csYIoKoBJACICAZgGscATxABdAL5tQxMmgoJq9Jqw7CxEqYICiADxE4

[2019-04-09 00:11] jrchudy opened #1756 "auto-expand the facet panel in popup select"
When the user clicks on a foreign key field in the `recordedit` app, the facet panel in the recordset popup select directive should be open by default.

[2019-04-09 00:13] jrchudy opened #1757 "Make table name clickable"
The table name that shows in the subtitle element clickable so that it navigates to the recordset page for that table.

[2019-04-09 23:10] RFSH commented on #1755
The following is how Chrome and Safari show a simple file input given this html:

[code]

![](https://dev.isrd.isi.edu/~ashafaei/wiki-images/chaise-issue-1755-01.png)

As you can see by default the truncated filename is displayed and on hover, it will show the full filename. We might be able to replicate the same behavior.

(I didn't mention Firefox because its UI is a bit different. The button sa

[2019-04-10 00:55] jrchudy commented on #1541
We see this issue with text columns as well:
https://www.gudmap.org/chaise/recordset/#2/RNASeq:Experiment@sort(RMT::desc::,RCT::desc::,RID)

Another link for the above link but faceted to be more clear:
https://dev.rebuildingakidney.org/chaise/recordset/#2/Gene_Expression:Specimen/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEAcRwhwH0BRADwAcMckkBLFCEADQgAyqxxZuAW1r0AIjgBuOADYpW0iETDL6wrQHMGAM

[2019-04-11 18:17] jrchudy commented on #1756
This [commit](https://github.com/informatics-isi-edu/chaise/commit/7d4cb6dde48f177526a454a19a6f08150f99b973) resolves this issue.

[2019-04-11 18:17] #1756 closed

[2019-04-11 20:29] jrchudy commented on #1757
This [commit](https://github.com/informatics-isi-edu/chaise/commit/5613fc14e569b8cf7dc51058aff227672b3f8ef2) resolves this issue.

[2019-04-11 20:29] #1757 closed

[2019-04-12 20:10] jrchudy opened #1760 "Log links with ?"
When a user uses a link that includes the `?` instead of the `#`, we want to log that information. We want to be able to see how many users come to our web app from indexed (and searchable) links.

[2019-04-12 20:18] jrchudy commented on #1755
Some changes that have been merged into master with PR #1759 include:
 - tooltip on hover (currently only includes filename)
    - should it be extended to include filesize, md5, and sha256?
 - filename will be shown in edit mode, if the filename was stored in the database with the record
    - defaults to hatrac url if no filename is present

[2019-04-12 20:37] jrchudy opened #1761 "Entity Facet doesn't show selection (when logged in)"
This issue occurs infrequently, but I was able to see it one time today. Login first and then close this browser tab to prevent any caching.
https://dev.gudmap.org/chaise/recordset/#2/RNASeq:Replicate

Make sure you are logged in before navigating to this page with facets:
https://dev.gudmap.org/chaise/recordset/#2/RNASeq:Replicate/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEAJQDkBBAZRwEcQA

[2019-04-12 20:41] jrchudy commented on #1761
Image of me replicating on dev:
![image](https://user-images.githubusercontent.com/2932600/56064954-58b76600-5d28-11e9-9bc7-8d3b08cb88b3.png)

Once the view is this way, you can search `RBK` and the option in the facet will be moved to the top of the list where it will remain even after the search box is cleared again.

[2019-04-12 23:23] jrchudy opened #1762 "Odd error handling behavior"
When the user is not logged in and navigates to a recordset page where they can't "see" a column that includes a valid facet filter, an error is thrown that _should_ suggest the user try logging in first before removing all filters from the url.

https://dev.gudmap.org/chaise/recordset/#2/Protocol:Protocol/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEABQxSJSxQBsQAaa2+xpgfQGFMYIgEsUEHgGUiQtEh

[2019-04-15 17:28] RFSH commented on #1762
We might want to add the same message that we are doing for table/column/schema/data not found to any of these url related errors too ("You may need to login to see the model or data. Please login to continue."). This requires change in ermrestjs too, since currently the error thrown when the facet string is completely invalid (and therefore cannot be decoded) is the same as this given case (when

[2019-04-15 23:35] jrchudy commented on #1711
In both `record` and `recordset`, this error case recovers without incident if the network connection returns. The retry logic continues to run trying to fetch templates. When or if they resolve, those errors are swallowed up and no template is displayed to the user. If the user retries the action after the connection is restored, everything behaves as expected.

[2019-04-16 21:11] jrchudy commented on #1755
Some more changes discussed this morning to implement:
 - [ ] tooltip should include filesize as well
 - [ ] copy mode should try to copy all of the asset's data if present on other columns in the model

[2019-04-18 19:37] RFSH commented on #1637
We had a discussion about this a while ago. We decided that we can do any of these three different possible options to resolve this. Since we didn't document it at a time and I wanted to make sure that is documented here, I'm going to add them here.

**Option 1:** Minimal required task to get the login/navbar apps going (so they can be integrated with deriva web apps):

- [ ] Remove jQuery depende

[2019-04-18 23:29] #1714 closed

[2019-04-26 00:59] jrchudy opened #1765 "Remove confirmation when removing a form"
Remove the confirmation dialog when removing a form in both create and edit more.

[2019-04-30 18:01] hongsudt commented on #1760
We already agreed on the syntax.. Please document and close the issue.

[2019-04-30 21:00] jrchudy commented on #1744
Changes made in the catalog chaise configuration annotation PR, issue #1758 , fix the issues we have been seeing in the travis-ci build. We noticed some of our changes in PR #1700 fixed a good number of the issues with the tests but changes were made to change the loading of chaise apps in the catalog-annotation branch so those changes may not be necessary anymore.

Other changes to the tests (som

[2019-04-30 21:13] jrchudy opened #1767 "Create multiple forms performance"
Investigate the performance of `recordedit` app when in create mode and the user is using the "add X forms" dialog to add multiple forms at once. It was noted by a user that adding 50 forms was slow and that we should look into what could be causing this.

At the very least, we can reduce the "upper limit" for # of forms added at once to limit the amount o "hang time" while waiting for all forms t

[2019-04-30 21:23] jrchudy opened #1768 "Unique constrain violation link"
When we throw an error message related to the unique constraint, offer a link in the alert message that directs the user to the existing record that violates that uniqueness constraint.

[2019-05-01 17:27] RFSH commented on #1760
We're using `"cqp": 1` to indicate the link was using `?` instead of `#`. This is documented in [here](https://github.com/informatics-isi-edu/chaise/blob/master/docs/user-docs/logging.md#attributes)

[2019-05-01 17:27] #1760 closed

[2019-05-01 18:35] RFSH commented on #1684
This has been fixed in the referenced PR (#740).

[2019-05-01 18:35] #1684 closed

[2019-05-01 18:36] RFSH commented on #1740
Chaise bugs have been fixed. Please refer to the [change log](https://github.com/informatics-isi-edu/chaise/blob/master/docs/user-docs/logging.md#041819) for more information about the changes.

[2019-05-01 18:36] #1621 closed

[2019-05-01 18:40] RFSH commented on #1518
The changes have been done. Please refer to the [change log](https://github.com/informatics-isi-edu/chaise/blob/master/docs/user-docs/logging.md#041819) for more information.

[2019-05-01 18:40] #1518 closed

[2019-05-01 18:40] RFSH commented on #1516
The changes have been done. Please refer to the [change log](https://github.com/informatics-isi-edu/chaise/blob/master/docs/user-docs/logging.md#041819) for more information.

[2019-05-01 18:40] #1516 closed

[2019-05-01 18:43] RFSH commented on #1517
I am going to close this issue since the first set of changes that are described are done. We might want to turn the #1740 into an epic. That one includes more requested changes.

[2019-05-01 18:43] #1517 closed

[2019-05-01 19:59] #1704 closed

[2019-05-02 01:45] jrchudy opened #1770 "Further Generalize App Configuration"
Currently each app (`record`, `recordset`, `recordedit`, `navbar`, `login`, `boolean-search`, and `mdHelp`) has a configuration app that calls the config module, that then notifies the configuration app to attach the actual app to the DOM.

We should further explore generalizing this process so that if changes need to be made, they don't need to be made in a dozen different places. Other deriva-we

[2019-05-02 02:13] jrchudy commented on #1765
This issue was resolved with PR #1769 .

[2019-05-02 02:13] #1765 closed

[2019-05-02 16:10] RFSH commented on #1761
This has been resolved. Assigning to @jrchudy for verification.

[2019-05-02 16:14] RFSH commented on #1696
The recent #1764 PR has fixed the issue. As I have mentioned in the description the `update` function was being called twice. I realized that I was calling this function just to update the open facets. I fixed this by adding a new parameter to the `update` function. So it can be called to kick-start the flow-control without changing the flow-control counter (cycle).

[2019-05-02 16:14] #1696 closed

[2019-05-02 16:16] RFSH commented on #1622
#1764 has fixed an issue related to generating duplicated requests. This issue might have been caused with the same flaw that I fixed. I'm not sure what's the best way to test this since the problem described in this issue is not very deterministic. But in my testing in `gudmap-dev`, I couldn't see any evidence of this.
Assigning to @jrchudy for more testing and verification.

[2019-05-02 16:25] RFSH commented on #1725
I am going to close this issue due to inactivity. If we found any problems we should create new issues.

[2019-05-02 16:25] #1725 closed

[2019-05-03 00:16] RFSH commented on #1461
We had a quick discussion about this. We could modify all the `download` links in chaise to do a`HEAD` request first to see whether user has access to the file or not. So the UX would be

1. User clicks on the download button.
2. Chaise shows a spinner inside the button.
3. Chaise sends a HEAD request to the download url.
  3.1. If the request was successful, Chaise will redirect the page to the u

[2019-05-03 20:45] ljpearlman opened #1771 "Google dataset (hidden json-ld) support"
I'd like to use one of Google's enhanced SEO features on some of our record pages. This would require including a section that looks like this:

<script type="application/ld+json">
_some metadata_
</script>

somewhere in the body of the record page. So I'd like to have chaise support an annotation that would take a string, do markdown/handlebars rendering, and wrap it in the above `script` tags. T

[2019-05-03 20:50] carlkesselman commented on #1771
Given that the fields in this JSON-LD are well defined, I would hope that we could build out conventions to automatically generate much of the information, rather then have to spell it out explicitly in the annotation.  For example, title, author, description, date fields would I think all be straight forward.  Other information should be provided by somehow defining a mapping between columns (or

[2019-05-03 21:00] ljpearlman commented on #1771
I agree that this should be our end goal, but I'd like the flexibility of playing around with it a little (without having to have a bunch of chaise changes) before settling on the final heuristics for the json-ld contents.

[2019-05-03 21:03] carlkesselman commented on #1771
Ok, but we should all be aware that the overall path is to have semantic annotations to the columns so we can generate JSON descriptions of our tables. I guess in general we should be having columns with OIDs, then we can have local column name or external term as column name to describe what the contents of the column is.  Basically attach some json-ld that describe the column.

Carl

On May 3, 2

[2019-05-03 22:09] RFSH commented on #1589
The warning is coming from one of  "openseadragon" source files ([this line](https://github.com/informatics-isi-edu/openseadragon-viewer/blob/master/js/osd.viewer_multi.js#L817)). I am going to close this issue since it's not part of chaise.

[2019-05-03 22:09] #1589 closed

[2019-05-03 23:12] RFSH commented on #1506
The remaining part of this issue is what's documented as round 3 in [ermrestjs#730](https://github.com/informatics-isi-edu/ermrestjs/issues/730). Therefore I am going to close this.

[2019-05-03 23:12] #1506 closed

[2019-05-03 23:46] RFSH commented on #1703
I updated the docs to fix the issues that you have mentioned. There's just one instance of double-{ in docs now just to explain that `{{value}}` will do HTML escaping.

[2019-05-03 23:46] #1703 closed

[2019-05-06 17:23] hongsudt commented on #1771
@ljpearlman  Can you do an experiment with a few collections (E.g. Saving chaise page as html) or the publication page and make modification there?  The publication page is a list of all publications.

________________________________
From: Carl Kesselman <notifications@github.com>
Sent: Friday, May 3, 2019 2:03:11 PM
To: informatics-isi-edu/chaise
Cc: Subscribed
Subject: Re: [informatics-isi-edu/

[2019-05-06 19:48] jrchudy commented on #1761
I can't reproduce this issue anymore after loading from cache and turning off the cache. Closing this issue.

[2019-05-06 19:48] #1761 closed

[2019-05-06 20:12] jrchudy commented on #1622
I don't see any duplicate requests like I was before.

With this being fixed we should go back and look at the [logic for paging](https://github.com/informatics-isi-edu/chaise/blob/master/common/table.js#L291-L320) the recordset content into the DOM when there is "more than X cells" to put data into.

[2019-05-07 00:27] #1741 closed

[2019-05-07 23:02] jrchudy commented on #1744
PR #1773  was merged today which fixed that last remaining test cases that were ALWAYS failing on travis. Closing this issue.

[2019-05-07 23:02] #1744 closed

[2019-05-07 23:13] jrchudy opened #1774 "Minimize duplication of code for the reuse of configuration module"
A configuration app is being attached to each angular app that we have that needs the navbar (the configuration fetches the server object and waits for `ermrestJS` to finish initializing which allows for templating in the navbar). Currently, the following is duplicated across almost every angular app in our project:
[code]

Updated with simpler configuration with content from the doc linked below.

[2019-05-08 21:03] RFSH opened #1776 "Improve Multi-Picker Modal UX"
When users are selecting new rows for the "add pure and binary" feature, we're showing a multi-picker modal. The current UI is cluttered and confusing. The following are list of issues that I could think of:

- When the facet panel is open, since the focus of the page is not on selecting the main rows anymore, it might be confusing what is the main action of the page.
- The list of "selected rows"

[2019-05-08 21:04] RFSH commented on #1479
We don't necessarily want to remove that list. I created a more general issue (#1776) for improving the UX in that page.

[2019-05-08 21:04] #1479 closed

[2019-05-08 21:08] RFSH commented on #1451
I am going to close this issue since there's only one task is remaining in this epic and having this seems redundant.

[2019-05-08 21:08] #1451 closed

[2019-05-08 21:29] jrchudy commented on #1776
The following 2 cases should be considered together:

This has distracted me from the purpose I was opening a modal for. There have been times I have selected a filter instead of an option because the set is only size 4 and a similar filter was open by default. It was user error, but I can imagine some users would not realize how they goofed up thinking one selection was the other one.

[2019-05-09 00:06] hongsudt opened #1777 "Under Share on record page, change Historical to Versioned"
It seems like people do not understand what "Historical Link" mean.. @crisaless  and @carlkesselman suggested changing the wording from "Historical Link" to "Versioned Link".

[2019-05-09 00:21] hongsudt commented on #1750
This is pending on the pseudo-column feature that @RFSH is working. I am moving this to blocked.

[2019-05-09 00:22] hongsudt commented on #1391
@Divyata-Singh Any clue?

[2019-05-09 18:08] #1622 closed

[2019-05-09 18:08] #1745 closed

[2019-05-09 18:09] #1721 closed

[2019-05-09 18:10] #1709 closed

[2019-05-09 23:16] hongsudt opened #1779 "viewer: incorporate the svg objects ontop of open-seadragon in the viewerapp"
Background:
* The viewer app replies on the open-seadragon repo. https://github.com/informatics-isi-edu/openseadragon-viewer. You can ask @lperman or @svoinea on how this component is deployed. @jrchudy might be able to help you as well since he briefly worked on the viewer app before.
* The annotation (an area and an anatomical name) is done in the viewer app. There should be some code that allow

[2019-05-09 23:58] carlkesselman commented on #1779
There seem to ba a number of ways to do this.  Should consider best approach.  Here is one:

https://bl.ocks.org/fabiovalse/71bbbd5c87a148f1c7fabc97b0bbc980

and
https://github.com/openseadragon/openseadragon/issues/1425

D3 is probably the most general way of doing this.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of In

[2019-05-10 06:41] Divyata-Singh commented on #1391
The sort icons work properly on both IE11 and edge on Windows 10.

[2019-05-10 20:38] hongsudt commented on #1461
https://www.rebuildingakidney.org/chaise/recordset/#2/RNASeq:File/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEAJQDkBBAZRwEcQAaEAMQEsAbHAPo9+AgCoBPAA6CAZgGsc4kAF0AvhyoBJACIqOWABYpuuJJQCKAWgCaAVmsAGdiCt2AGgFkV65Omx4EUGIyNAoEanomVg5hQQBRAA9pDG4AWxwIIgEtbQF5RW8NHT0QQ2NTSgBGADZLbQ8AdVFnGrrGhpba+obrTra3Jw5W+rcAJj6RgBYJjzdqmbcADgW6BYBhBbiFgHFC30xcOBAAGRwAczAscSE+QRznCBQsiDReXjgiDDQcVTUgA@sort(Repl

[2019-05-10 20:40] hongsudt commented on #1560
@crisaless Can you review the issue? If the nature of the problem has changed, please generate a new issue..

[2019-05-10 20:53] jrchudy opened #1780 "RID markdown template"
Add a new markdown template that will take an RID value and convert it into a proper resolvable link.

For example:
[code]
will produce:
[code]

Ideally it would be nice if we can find a better syntax to support this.

[2019-05-10 20:56] RFSH commented on #1461
@hongsudt All of these `URI`s are under hatrac (`/hatrac/resources2/`). Their folder might be different from what you're using for "non-legacy" data, but still they are hosted on hatrac.

[2019-05-10 22:19] jrchudy commented on #1767
Compare how multiple forms are rendered in `edit` mode vs `create` mode, a difference between the two might have some clues into why one loads faster.

[2019-05-13 17:05] RFSH commented on #1774
I created [this doc](https://github.com/informatics-isi-edu/chaise/blob/master/docs/dev-docs/config-app.md) to summarize what exactly needs to be changed in different webapps that rely on chaise-config. I'm not sure whether we can make this shorter without changing the current implementation.

[2019-05-13 20:23] jrchudy commented on #1777
[This commit](https://github.com/informatics-isi-edu/chaise/commit/d898554285faa7368340c8098e5dbc6895db421c) to master includes the changes for this. Reassigning for review.

[2019-05-13 20:38] jrchudy commented on #1711
@hongsudt and I discussed this issue on Friday and the plan is to show a dismissible error popup when the user encounters this error in any of the chaise apps. This error being when we have a network outage that doesn't allow the user to communicate with the server and fetch templates after the page has loaded (usually when a secondary action is taken that shows a modal dialog).

One reasoning beh

[2019-05-14 23:48] crisaless commented on #1560
yes checkboxes now work on the modal windows too on E11/Win8

[2019-05-14 23:48] #1560 closed

[2019-05-15 19:12] jrchudy commented on #1762
Changes for this issue have been merged into master. Reassigning to @hongsudt . The link in the original description should be valid for testing this issue has been resolved.

[2019-05-15 20:17] jrchudy commented on #1755
More changes have been made to handle the comments made in PR #1781 before it was merged into master.

[2019-05-21 23:18] jrchudy commented on #1780
Issue moved to [informatics-isi-edu/ermrestjs #791](https://github.com/informatics-isi-edu/ermrestjs/issues/791) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-21 23:18] #1780 closed

[2019-05-28 22:00] hongsudt commented on #1774
@jrchudy Didn't we discuss about this prior to my trip to not use the chaise namespace?

[2019-05-31 01:14] RFSH opened #1786 "Multi-line tooltips"
Currently the tooltips are displayed in a single line as they ignore the `\n`s that might exist in the tooltip. So it's not possible for data-modelers to show the tooltips in multiple lines.

Adding the following css rule will fix this:
[code]

But I'm not sure how it will affect the current tooltips and test cases.

[2019-05-31 19:46] jrchudy commented on #1768
The changes for this have been merged into master, assigning to @hongsudt to verify.

You can test this by going to [this record page](https://dev.rebuildingakidney.org/chaise/record/#2/Antibody:Antibodies/RID=S-29YP) and clicking `copy`. Then fill in the required fields and submit.

Upon submission (because you copied data for 2 columns that are part of a unique key constraint), the conflict aler

[2019-05-31 20:27] jrchudy commented on #1461
Changes for this issue have been merged into master for both `chaise` and `ermrestJS`, assigning to @hongsudt  for verification. Links to test the different places these buttons appear can be found in the [closed PR](https://github.com/informatics-isi-edu/chaise/pull/1785).

[2019-06-01 00:08] jrchudy commented on #1461
When a 401 error is returned, we should avoid showing the login dialog because it doesn't have enough information to point out what the state of the app is. An anonymous user may not understand why they are getting that error. The dialog should provide more information about why the user can't download the asset.

A new chaiseConfig property is going to be added that will point to further informat

[2019-06-05 19:34] RFSH commented on #1637
### What We Have Done

The following are the few experiments that we have done to tackle this issue:

1. Upgrading jQuery and using the `ng-jq` in boolean-search:

@Divyata-Singh please complete this section.

2. Removing jQuery injection from login and navbar, trying the boolean-search:

@Divyata-Singh

### Future Plan

Based on these experiments and what we learned from them, the following are t

[2019-06-07 18:07] jrchudy opened #1788 "Add rid template button for md editor"
This [issue](https://github.com/informatics-isi-edu/ermrestjs/issues/791) in `ermrestJS` adds support for an rid template in markdown. A button should be added to our markdown editors that inputs `[[<rid>]]` into the form.

[2019-06-07 23:41] hongsudt commented on #1786
@RFSH How do we evaluate its impact? Just try it?

[2019-06-07 23:58] hongsudt opened #1790 "url parameter to hide the navbar"
Sometimes we want to embed the chaise page in another page.. In this case, it doesn't make sense to display the navbar..

hideNavbar=true|false

@robes do you still need this feature?

[2019-06-08 00:45] RFSH opened #1791 "Collapse Facet Panel When Facet List Is Empty"
As title suggests, we should collapse the facet panel if the computed facet list is empty.

If the facet list is empty, chaise will currently show the "No Filter Options" message. So even if we collapse the facet, opening the facet won't provide any extra functionality for the users. So we might want to completely hide the facet in this case.

Related to this, we might want to add a new option to

[2019-06-08 01:09] robes commented on #1790
not sure. we might. we should probably discuss the whole anatomy/atlas navigation. b/c that was the motivation for this.

[2019-06-10 17:54] RFSH commented on #1786
yes. we should first make the change and run the test cases and go from there.

[2019-06-11 19:42] jrchudy commented on #1461
The corresponding changes that were discussed, (use a modified error dialog instead of a login dialog), were merged into master. Assigning this issue back to @hongsudt .

[2019-06-11 23:03] #1738 closed

[2019-06-11 23:05] jrchudy commented on #1788
The corresponding changes for this issue have been merged into master. A button was added to the editor input. Information was also added to the mdHelp page explaining how this new template can be used. Reassigning to @hongsudt.

[2019-06-12 16:33] svoinea opened #1795 "The error message for duplicate key should contain a hint to create an entry"
The user would like the error message to include a hint for using the `+` link to create a new entry in the referred table, and then to select that entry as a FK value.

See issue https://github.com/informatics-isi-edu/protein-database/issues/9

[2019-06-14 19:15] jrchudy commented on #1754
We decided to take a slightly different approach to resolve this issue than what the w3 link suggests we do.
![image](https://user-images.githubusercontent.com/2932600/59532508-d8cf8880-8e9d-11e9-93d5-11657356f2a2.png)

What we have implemented is an icon (looks like a copy to clipboard icon), that when clicked, will copy the link to the clipboard. We didn't want to clutter the UX more with an inp

[2019-06-14 19:17] jrchudy commented on #1666
The above suggested change has been made. The buttons now say `All on page` and `None on page`. I decided to use `on` instead of `in` based on what verb is used by google mail for their multi-select interface.

Assigning to @hongsudt  for review.

[2019-06-14 19:49] jrchudy commented on #1770
This configuration process has been simplified since this issue was opened and is documented [here](https://github.com/informatics-isi-edu/chaise/blob/master/docs/dev-docs/config-app.md). We reduced the number of dependencies that each app needs to define for the `configure-<App_Name>` by moving all of them to `config.js`.

I'm not sure what more we can do without exploring an alternate way to man

[2019-06-14 21:08] robes commented on #1754
nice, i like how you did this. thank you

[2019-06-14 21:08] #1754 closed

[2019-06-14 22:51] jrchudy commented on #1767
Recordedit load times:

<table>
  <tr>
    <th colspan=5>Gene_Expression:Specimen</th>
  </tr>
  <tr>
    <th></th>
    <th colspan=2>Create Mode</th>
    <th colspan=2>Edit Mode</th>
  </tr>
  <tr>
    <th># forms</th>
    <th>Cache Disabled</th>
    <th>Cache Enabled</th>
    <th>Cache Disabled</th>
    <th>Cache Enabled</th>
  </tr>
  <tr>
    <td>25</td>
    <td>5 seconds</td>
    <td>3 second

[2019-06-15 00:53] hongsudt opened #1798 "add canonical tag for google search"
- should have chaise config to control this tag.

[2019-06-18 01:10] jrchudy commented on #1786
The suggested change has been made and merged into master. I tested this out manually for a few different `schema:table` combinations on `dev.isrd` and `dev.rbk`. After running the e2e tests locally as well, I wasn't able to find any noticeable difference to the existing tooltips that are being displayed.

[2019-06-18 22:18] jrchudy commented on #1767
While evaluating the code, there's one glaring difference between the process of going to create mode and adding 199 more forms to add content to and going to edit mode with 200 forms preselected (some filter combination and `?limit=200`.

The major difference is that in the case of edit, we fetch those 200 rows of data and don't need to do anything extra to transform that data and show it in the

[2019-06-19 04:05] ljpearlman opened #1801 "Add structured data to record pages"
What we want to do is provide an annotation that can be used in record pages (this is a row-level thing) to add metadata that will be recognized by Google Dataset Search. Google wants metadata in the form of a [schema.org Dataset](https://schema.org/Dataset) object in json-ld wrapped in a script tag. More information about the subset of Dataset that Google wants (and an example) can be found [here

[2019-06-19 17:35] RFSH commented on #1786
I couldn't find any examples in rbk-dev or facebase-dev with `\n` in the comments. So this shouldn't have any effect on them. My only concern was our test cases since it might've change the HTML content, which as you confirmed didn't have any effects. I am going to close this issue.

[2019-06-19 17:35] #1786 closed

[2019-06-21 00:09] jrchudy commented on #1798
The corresponding PR has been merged into master. The canonical tag will be injected into the `head` tag of each app if `includeCanonicalTag` is defined in the chaise config for the current catalog or at the global level.

[2019-06-21 00:52] jrchudy commented on #1790
Outside of an iframe, we will continue to show the navbar by default. This parameter will be honored for the page that the user is currently looking at. If they navigate away, it will not carry along the query parameter.

Inside of an iframe, we will hide the navbar by default. This property will be honored if present and propagated to any links that are contained within the iframe (if the links a

[2019-06-21 03:26] ljpearlman opened #1804 "Missing eyes after multi-add"
If I use multi-add to add two related records, the result page shows the created records without the View/Edit/Delete controls. For example, if you:

1. Go to https://dev.gudmap.org/id/W-RCE4
2. Scroll down to "Cluster Group" and click "add"
3. Click the "+" in the resulting Create window.
4. Type two unique names in the "Cluster Group Name" fields
5. Hit "Submit"

then you'll get something like:

[2019-06-21 15:28] karlcz commented on #1804
I think this is as-designed. We do not redirect but instead directly
render the POST /entity/ API's response.  This is rendered in the
recordedit app and uses a more primitive presentation template since
the response data is not as rich as expected by our normal recordset
presentation.

For single create, we can redirect to the regular record page for the
new record and give a fully enriched prese

[2019-06-21 19:42] ljpearlman commented on #1804
When I described this to @hongsudt, she told me it shouldn't happen! Anyway, I think it would make sense to do something like what you suggested.

[2019-06-21 20:02] ljpearlman opened #1805 "Images disappear in recordset in one specific case"
Try this:

1. Go to https://www.gudmap.org/chaise/recordset/#2/RNASeq:Visualization

2. Look at the first four rows -- they're for gene "A1BG", and each has an image in the "Reference Image" column.

3. In the facet panel, under Gene, click on "A1BG". This should show the same content as those first four rows, but for me in Firefox, Chrome, and Safari, the "Reference Image" images are missing.

4.

[2019-06-21 22:57] RFSH commented on #1805
This bug has been introduced with the changes in [this PR](https://github.com/informatics-isi-edu/ermrestjs/pull/765). The bug is only limited to the output of `markdown_pattern`s that are defined directly in the source syntax. It didn’t have any effect on the other parts of the code and was only limited to the new feature that I’ve added.

If you had multiple columns that had `display` settings i

[2019-06-21 23:20] ljpearlman commented on #1805
That fixes it, thanks!

[2019-06-21 23:20] #1805 closed

[2019-06-22 00:34] jrchudy commented on #1804
What @karlcz mentioned above is the initial design and intention for that page. This page was designed that way exactly because of the data that is returned in the response object. It would get really messy trying to define a recordset url with a proper filter set for "X" number of created records.

You will notice that the url still includes `recordedit`. This is an intermediary page to provide a

[2019-06-22 01:00] jrchudy opened #1806 "Change "Export" drop down"
For the "Export" dropdown menu in `record` and `recordset`, we want to change the name to "Download" instead. --> some people disagreed on the name change.
  - we decided not to change this for now since there was some disagreement

Also change the default `CSV` option to `search result (csv)` ~~or `all records (csv)`~~

[2019-06-24 17:38] vipul-21 commented on #1637
### Update
The jQuery usage from navbar/login apps has been removed [PR].(https://github.com/informatics-isi-edu/chaise/pull/1803).
This [function](https://github.com/informatics-isi-edu/chaise/blob/e4cbb31d83bc8836b5543b903e8474769b663373/common/utils.js#L1151) has been removed from navbar and login as the navbar is assumed to be primarily at the top of the webpage. In general to test the usage o

[2019-06-25 20:10] jrchudy commented on #1767
![image](https://user-images.githubusercontent.com/2932600/60129747-8ff3bb80-974a-11e9-820e-442da846de5c.png)

[2019-06-26 21:37] jrchudy commented on #1790
@hongsudt  this feature has been merged into master. More info about the query parameter can be found [here](https://github.com/informatics-isi-edu/chaise/blob/master/docs/user-docs/query-parameters.md).

[2019-06-28 00:12] vipul-21 commented on #1637
### Old Code with the issue
The [old code](https://github.com/informatics-isi-edu/chaise/commit/b06d661c28ae51dbcb6ef5e1b7cc338687d7a9f5) which uses jquery3 has the  issue. To replicate it,
1) Checkout [this commit](https://github.com/informatics-isi-edu/chaise/commit/b06d661c28ae51dbcb6ef5e1b7cc338687d7a9f5) to get the chaise app.
2) Checkout [this commit](https://github.com/informatics-isi-edu/e

[2019-06-28 22:11] hongsudt opened #1809 "Add bulk edit to individual related table"
I often have to tell people to click view more to get to the recordset, then click edit.  We should be able to do bulk edit from the detail page.

[2019-07-02 02:26] jrchudy commented on #1767
![image](https://user-images.githubusercontent.com/2932600/60477799-351fff80-9c35-11e9-9b9e-3b30611b644f.png)
![image](https://user-images.githubusercontent.com/2932600/60477837-5b459f80-9c35-11e9-9b00-2ba5471503bf.png)

The above 2 charts compare adding X forms performance in create mode for a complicated schema with a lot of foreign key inputs (Gene_Expression:Specimen) vs a simple schema with a

[2019-07-02 17:57] ljpearlman opened #1811 "Add "requires javascript" message when javascript isn't enabled?"
This is kind of a niche issue, but since not everyone has javascript enabled globally, it might be good to display a message about chaise requiring javascript instead in that case. This seems to be pretty standard for other javascript-dependent applications. Currently chaise just looks like a blank screen in non-javascript-enabled browsers.

[2019-07-03 19:34] jrchudy opened #1812 "substring vs full word search"
We want to allow users the ability to use full word search in the search box inputs (in facet panel and above the recordset table).

To support this in chaise, we could have an advanced search option next to the search box that would expose a radio button to toggle between substring and full word search.

The implementation should be straightforward. We need to append the regex with the beginning/

[2019-07-03 20:14] jrchudy opened #1813 "Cache needs to be cleared"
Sometimes when our users navigate to a page after changes have been made to chaise or ermrestJS installation, they are shown stale web pages (from cache) that don't match the most recent versions of those pages.

@RFSH  mentioned this could be because the version info is appended to the end of the file path after a `?` denoting a query parameter. The browser might be ignoring this version info and

[2019-07-03 21:07] iamyle0710 opened #1814 "svg objects (on top of openseadragon) doesn't render properly on Safari"
**Issue:**

Safari does not render properly of the converted SVG using `openseadragon coordinate systems`. The SVG objects are all shown in Safari's DOM structure, but for some reason, only some of them are visible.

**Background:**

`openseadragon` uses ratio (x axis : `0.0 - 1.0`, y axis : `0.0 - 1.0`) in its coordinate systems.  The current approach of rendering SVG file is by converting each p

[2019-07-03 21:41] jrchudy opened #1815 "Recordset select scrollbars"
The recordset directive has 2 content areas, main and facet. These 2 areas have separate scroll bars and can independently scroll. This is not the same in the recordset select directive.

In the select directive, there is a scroll bar in the table itself (instead of for the main content pane. We may want to keep this, so don't address this part) and there is a scrollbar on the right side of the mo

[2019-07-03 21:53] jrchudy opened #1816 "Error on related table Add"
When a user encounters an error when trying to associate 2 entities via the pure and binary association modal dialog, the modal disappears, and the user is left looking at the page wondering what is wrong.

This is because the error is shown at the top of the page in an alert dialog. We should show a dismissible error modal dialog instead so the user will see the issue as soon as the multi-select

[2019-07-03 22:11] jrchudy opened #1817 "Multi-select row disabled inconsistency"
Starting from this [record page](https://staging.rebuildingakidney.org/chaise/record/#2/Common:Collection/RID=Q-3K5C):
 1. click the `Add` link for the `Specimen Collection` table.
 2. In the modal dialog, open the facet panel, go to the `Specimen Collection` facet, and select the  `Histology of Human and Mouse embryonic and fetal kidney` option.
 3. Next, open the `Species` facet and select `Mus

[2019-07-08 22:42] jrchudy opened #1818 "Log navbar actions"
When the user clicks on a navbar option, we want to store that information in the logs. We should attach a `ppid` & `pcid` to the navbar links so that those links can give details to the server about how the user navigated to a page.

[2019-07-09 01:19] RFSH commented on #1817
After clicking on `Add` link for the `Specimen Collection` table, we're generating two requests

R1: A page of `Specimen` that we are going to show to the users.

R2: All the `Specimen` that have a `Collection` with the given `RID=Q-3K5C`, and have the same sorting and paging as the R1 request.

We show the result of R1, and use R2 to disable the existing values. This only works if R2 is a subset

[2019-07-10 20:42] jrchudy commented on #1541
Another link with images in a related table not truncating:
https://dev.gudmap.org/chaise/record/#2/Common:Gene/RID=Q-48Q8

[2019-07-11 16:13] RFSH commented on #1817
@ljpearlman @hongsudt I've pushed a fix for this to ermrestjs. Link to the commit:
https://github.com/informatics-isi-edu/ermrestjs/commit/cc2f8bc340a5b4e1b1394580dd0137f7395c474a

Can you please verify that this has solved the issue?

[2019-07-13 01:09] jrchudy commented on #1813
Some other information I was reading about was making sure the caching headers are set properly for different file types.

I think we want to do something like the following:
js/css/images
 - Cache-Control: public
 - max-age: # of seconds to hold in cache
 - etag: not sure if we want to use this for version
 - last-modified

html
 - Cache-Control: no-cache
 - etag

Currently we have the following

[2019-07-15 17:45] vipul-21 opened #1822 "Calling the ErrorService directly makes the dialog box overlap Navbar"
After the update of jquery to 3.4.1, the exception thrown to the global exception handling was being handled by jquery making the error being handled by `window.onerror` instead of the angular exception handler(desired behavior).
To get the desired behavior, `ErrorService.handleException` was called directly instead of `throw exception`. The resulting error modal was overlapping with the navbar, (

[2019-07-15 17:46] vipul-21 commented on #1637
As mentioned in the comment https://github.com/informatics-isi-edu/chaise/issues/1637#issuecomment-506554324 about updating the jquery to 3.4.1
There are couple of bugs found while doing the local testing which are mentioned in the [PR](https://github.com/informatics-isi-edu/chaise/pull/1808#issuecomment-509360664).

[2019-07-16 17:27] jrchudy commented on #1822
I thought you determined that this issue occurred for you regardless of what version of jQuery we are using?

[2019-07-16 17:32] vipul-21 commented on #1822
Yes, it is not dependent on jQuery. Just wanted to give the picture, how we landed up to the issue. Updated the issue.

[2019-07-16 21:42] iamyle0710 commented on #1779
The coordinates used in the XML file doesn't seem to match with one used in `openseadragon`. I was able to draw the contours, but unable to locate/resize them without knowing the coordinate system used in the file. It appears that the contours are meant for the third section from just visually matching them with the original image.

* The drawn contours from the XML file
![image](https://user-imag

[2019-07-17 20:24] jrchudy commented on #1813
I'm not sure why this is occurring:
![image](https://user-images.githubusercontent.com/2932600/61408640-5cadd380-a895-11e9-8edd-38098ec34078.png)

I get a 200 response but the resource was loaded form the cache. Upon inspecting the request headers, I see this:
![image](https://user-images.githubusercontent.com/2932600/61408688-75b68480-a895-11e9-982b-2bf8420d8c33.png)

From researching, it looks l

[2019-07-17 21:06] jrchudy commented on #1813
After making a change at 21:02 GMT, I see this in firefox for the request/response headers:
![image](https://user-images.githubusercontent.com/2932600/61411775-ec568080-a89b-11e9-876f-145ea289a4cb.png)

A similar problem occurs where the request is not sending the proper headers to the server (`if-none-match` or `if-modified-since`).

[2019-07-19 00:30] jrchudy commented on #1813
Chrome (and FF) will append the `cache-control: max-age=0` header to the `index.html` request to always make sure the latest content is fetched for the base resource.

[2019-07-20 00:31] jrchudy opened #1823 "pre-download Asset authorization"
### ermrestJS:
- [x] Rename the property to `asset-permission` instead of `deriva-url-validate`.

- [x] When assets are not from the same origin, the default heuristic for asset presentation shouldn't attach the `deriva-url-validate` class. This also applies to the `uinit` and `cid` query parameters.

- [x] For this head request, if the type of error thrown returns a no connection error, we should

[2019-07-23 19:19] hongsudt commented on #1822
is this still an i ssue with the updates?

[2019-07-23 19:28] hongsudt commented on #1816
lets fix this ux issue

[2019-07-23 19:37] hongsudt opened #1824 "advance search feature"
allow whole word vs regex vs exact match.

[2019-07-23 20:09] jrchudy commented on #1818
Assigning to @hongsudt for verification.

[2019-07-23 20:24] jrchudy commented on #1822
This bug is not related to jQuery. Seems to only be reproducible for @vipul-21 .

[2019-07-24 01:23] jrchudy commented on #1823
From further discussion:
### ermrestJS
 - [ ] attach the `external-link` class instead to trigger the "redirect" dialog

 - [ ] attach "source" info only for different origin (not just when it isn't a hatrac path)

### chaise
 - [ ] change dialog for 401 case to have title "Log in Required"

 - [ ] change dialog for 403 case to have "Permission Denied"

 - [ ] change dialog body to include user's

[2019-07-24 01:50] jrchudy commented on #1040
We had a discussion about this today. This is related to changes included in issue #1823 .

We are going to make changes in chaise so that when the `external-link` class is set, chaise will prompt the user with a dialog notifying them that they will be navigated away from the application.

For now, this class will only be set if there is no display annotation for an asset. The default display heur

[2019-07-24 05:08] robes commented on #1040
I think this could be useful still. IMO

I would slightly prefer the wikipedia icon or the bootstrap "new window" icon. No strong preference.

[2019-07-24 23:04] jrchudy commented on #1040
Above I mentioned:

The corresponding display:
![image](https://user-images.githubusercontent.com/2932600/61834379-9b5f0300-ae2c-11e9-89a0-bbb94f1e4195.png)

The issue with this dialog is that we don't know how the browser will interpret a download link. Some browser's will download the file right away, some will prompt the user to "save as", and some other cases the browser will try to open the c

[2019-07-25 17:09] RFSH commented on #1824
This is duplicate of #1812.

[2019-07-25 17:10] RFSH commented on #1817
I am going to close this issue due to inactivity. We should create a new issue if the bug still exists.

[2019-07-25 17:10] #1817 closed

[2019-07-25 17:11] RFSH commented on #1648
I am going to close this issue due to inactivity. We should create a new issue if the bug still exists.

[2019-07-25 17:11] #1648 closed

[2019-07-25 17:11] RFSH commented on #1749
I am going to close this issue due to inactivity. We should create a new issue if the bug still exists.

[2019-07-25 17:11] #1749 closed

[2019-07-25 17:15] #1687 closed

[2019-07-25 20:53] jrchudy commented on #1823
@hongsudt the following is what we have for the 401 dialog. I only changed the title of the modal since we merged the feature to show this when a 401 is returned.
![image](https://user-images.githubusercontent.com/2932600/61907724-ea676f80-aee2-11e9-98d3-edf487240b8a.png)

This is what I added for the 403 case:
![image](https://user-images.githubusercontent.com/2932600/61908041-9b6e0a00-aee3-11e9-

[2019-07-26 00:48] jrchudy commented on #1813
A further update:
The templates are the only assets fetched from the server that are not being cached properly. We have a few different options to explore to fix this issue.

Angular, by default, will lazily fetch the templates as they are needed by different directives and automatically cache them and register those cached templates with the angular service, `$templateCache`. Once it has the temp

[2019-08-01 19:32] RFSH opened #1827 "Auto scroll to specific section in record page"
We want to add a new mechanism to be able to open a record page and automatically scroll to a section of the page. This will be used in recordset to refer to a specific section of the record page.

Usually `#` is used for scrolling/jumping to a section of the page. But since we're using this url fragment for defining the table and filters, we cannot use the same mechanism. We could use query param

[2019-08-02 00:53] RFSH commented on #1827
We had a discussion about this, these are what we agreed on:

- We should use query parameter and we're going to call it `scroll_to`.
- The value should be whatever user is seeing in that page (of course it should be url encoded since it's passed as part of the url) as the title of column, inline table, or related table. Chaise is responsible for turning that into the internal id that we're using.

[2019-08-02 00:56] RFSH opened #1829 "Fix facet chiclets"
We should fix the style of facet chiclets. Currently we're using a max-width for the whole chiclet which is very small. We should instead have separate max-widths for the label and value. And both should be using the ellipses logic to truncate the title and value separately.

[2019-08-05 20:12] jrchudy commented on #1823
This is what the external link dialog will look like:
![image](https://user-images.githubusercontent.com/2932600/62492164-a72ebb80-b782-11e9-9ab7-214887eb6439.png)

[2019-08-05 20:14] jrchudy commented on #1823
Assigning this to hongsuda to check the text and functionality.

Links for testing:
 - [asset hosted on www](https://dev.gudmap.org/chaise/record/#2/Common:Publication/RID=17-EZ6C)
 - [asset that returns 401 if not logged in](https://dev.rebuildingakidney.org/chaise/record/#2/RNASeq:File/RID=16-1YDJ)

[2019-08-05 23:58] #1829 closed

[2019-08-06 01:07] RFSH opened #1832 "Fix Modal picker submit button"
Durning the testing we realized in some cases a 3rd scrollbar is showing up in the modal picker that would cause the submit button to go outside the viewport. We should fix this.

[2019-08-06 22:02] jrchudy commented on #1816
When associating 2 entities via the add button in record app for a pure and binary association, this dismissible error dialog will be shown to the user instead of the alert dialog at the top of the page:
![image](https://user-images.githubusercontent.com/2932600/62580519-27c0eb00-b85b-11e9-845d-d895296634b5.png)

[2019-08-08 17:38] RFSH commented on #1811
This is done [in this commit](https://github.com/informatics-isi-edu/chaise/commit/29a1dfdb4d27934fa6b2bee5f35ff0ca79524ad1). We're going to show a error modal when Javascript is not available.

[2019-08-08 17:38] #1811 closed

[2019-08-09 20:49] jrchudy opened #1835 "Chaise navbar flashes black"
When a custom CSS document is defined that includes a rule to change the color of the navbar, the navbar flashes its default color first before changing to the custom color.

[2019-08-13 22:41] jrchudy opened #1836 "Histogram size changes"
The histogram facet opens properly the first time it is opened. After collapsing the facet and reopening it, it opens to be much larger than it was the first time.

![image](https://user-images.githubusercontent.com/2932600/62982204-53564f00-bde0-11e9-8135-0b0f4cef13f0.png)
![image](https://user-images.githubusercontent.com/2932600/62982216-60733e00-bde0-11e9-8ca3-61538cca7886.png)

[2019-08-13 23:03] jrchudy opened #1837 "File upload job reset on 401"
The following conversation occurred in slack on Tuesday, August 13, 2019:

@rob this file size (almost 8GB) is still a lot for hatrac to chew on in the browser. Been uploading for a while and looks like it's stuck at 82% - if I cancel and try again, it would pick up where it left off, right?

@cris no I think you'll lose your progress if you abort
it looks to me like the facebase web server may be

[2019-08-13 23:14] jrchudy opened #1838 "Do not reload on timeout"
If the user's session is timed out on recordedit and they log back in (same user), do not reload the page. Check to see if the previous user (reference.session info) is the same as the new user that just logged in to accomplish this. Related to issue #1837 .

[2019-08-22 19:57] jrchudy opened #1839 "Investigate Custom styles (min width)"
Custom styles that use min-width and max-width are sometimes not honored when applied to table headers and table cells. It appears that the contained content (markdown vs HTML) may be causing this inconsistency in how the styles are being applied (or ignored).

[2019-08-22 20:04] jrchudy commented on #1832
This issue contains a subset of the issues defined in issue #1603 .

[2019-08-29 02:11] robes commented on #462
should probably close this as obsolete by now.

[2019-08-29 19:40] hongsudt opened #1840 "Reference coordinate alignment problems in svg"
We are having problem aligning the svg on the background image (generated from czi).

### Data involved:
* Specimen: [Q-296R](https://www.gudmap.org/id/Q-296R)
* czi file: https://www.gudmap.org/hatrac/resources/histological_images/2017/c8334e8d29b9261493d922fafc81350c?uinit=1&cid=record
* Deepzoom pyramid generated from in-house software: /var/www/html/data/2017/c8334e8d29b9261493d922fafc81350c o

[2019-09-04 18:05] hongsudt commented on #1637
@RFSH @vipul-21 Are we done with this issue? If not, what are the remaining tasks to finish?

[2019-09-04 18:09] hongsudt commented on #1417
This issue will be addressed as part of the new UI layout. So I am closing this issue now.

[2019-09-04 18:09] #1417 closed

[2019-09-04 18:12] hongsudt commented on #1816
@RFSH @jrchudy is this fixed?

[2019-09-04 18:21] #1824 closed

[2019-09-04 18:25] hongsudt opened #1841 "create style guide"
Create a chaise style guide that can be referenced as developers are working on chaise.

[2019-09-04 18:29] hongsudt commented on #1680
@jrchudy @RFSH  Should this be part of the style guide?

[2019-09-04 18:44] #462 closed

[2019-09-04 19:20] hongsudt opened #1842 "Provide option to display descriptive information"
In some cases, explicitly displaying more descriptive information about the tables/fks will make it easier for users to follow. This is particularly useful for tables or related tables. The info can be table/fk comments or annotation that overwrite the table/fk comments.

This issue is related to #1120.

[2019-09-04 23:43] jrchudy opened #1843 "Client event logging"
- [x] Review the logging information in [docs/user-docs/logging.md](https://github.com/informatics-isi-edu/chaise/blob/master/docs/user-docs/logging.md#button-action-list).
- [x] Change chaise/ermrestJS to make HEAD requests to the server to store that log info.

[2019-09-05 00:50] RFSH commented on #1637
The only remaining task was upgrading jQuery version of deriva-webbapps which seems to be done. I am going to close this issue.

[2019-09-05 00:50] #1637 closed

[2019-09-06 23:32] jrchudy commented on #1839
Some more info found while working on the style guide:

When a table column has `max-width: 100px;`, the max width is not honored sometimes. This is believed to happen when the content of the column (in the header or any of the cells below) is greater than 100px. This was found out when trying to set a max-width for the `Actions` column so that it won't get stretched by the responsiveness of the C

[2019-09-06 23:48] #1774 closed

[2019-09-06 23:49] #1770 closed

[2019-09-06 23:52] #1666 closed

[2019-09-10 01:58] RFSH opened #1844 "Hide empty pseudo-column values in record"
Currently record page is hiding the columns that have "null" value. We also by default are hiding empty inline related tables and we're going to only show them when users click on the "show empty related records" buttons.

This is completely different from the way pseudo-columns work. For pseudo-columns, we're showing the row with a spinner, and when the value gets back, we show the value (regardl

[2019-09-12 20:52] RFSH opened #1845 "clean up profileURL chaise-config property"
Currently if you define `profileURL`, it will not show the login dropdown anymore. Instead it will just show the link to the defined `profileURL`. The problem in this case is that the users won't be able to logout anymore.

We should either completely remove the `profileURL` property, or rewrite how it's used. We might want to move the `profileURL` to the dropdown menu. And then switch between ope

[2019-09-13 00:37] RFSH opened #1846 "Stabilize e2e test cases"
Record
- [x] E2EDrecord
- [x] E2ErecordNoDeleteBtn
- [x] E2EDrecordRelatedTable
- [x] E2EDrecordCopy
- [x] E2EDrecordLinks

Recordset
- [x] E2EDrecordset
- [x] E2EDrecordsetEdit
- [x] E2ErecordsetAdd
- [x] E2EDrecordsetIndFacet
- [x] E2EDrecordsetHistFacet

Recordedit
- [x] E2EDIrecordAdd
- [x] E2EDIrecordEditMultiColTypes
- [x] E2EDIrecordImmutable
- [x] E2EDIrecordEdit
- [x] E2EDIrecordMultiAdd

[2019-09-13 17:35] #1032 closed

[2019-09-13 18:54] RFSH commented on #1776
It's the same as  #1603  and #1815 issues, therefore we closed this.

[2019-09-13 18:54] #1776 closed

[2019-09-13 18:54] #1631 closed

[2019-09-13 18:59] #1832 closed

[2019-09-18 00:58] jrchudy opened #1848 "Version info for all Assets"
The version information that is generated for the templates is now being generated based on the timestamp when `make all` or `make install` is called. We generate the version info for JS and CSS based on the checksum data. These should be done the same way.

NOTE: The version information for EVERY template needs to be the same value because the version is pulled from a meta tag and appended to the

[2019-09-18 01:00] jrchudy opened #1849 "jqlite dependency for setupHead"
In `chaise`, `headInjector.setupHead()` calls 2 functions (`overrideExternalLinkBehavior` and `overrideDownloadClickBehavior`) that still rely on jquery. Because of this, `login.app.js` and `navbar.app.js` are not loading properly.

[2019-09-18 18:11] jrchudy opened #1850 "Deprecating search app"
The `Recordset` app has been a part of chaise for some time now, we should consider removing the `search` app completely from chaise.

We need to know if any of the deployments are still using `search` app. And if so, what features are being relied on from search?

[2019-09-20 01:31] RFSH opened #1851 "External Link"
Currently we're using `.external-link` class to show a modal upon clicking links. This is just to warn users that they are exiting the website. Also it is the DBA's responsibility to add this class to the links that they want. We should improve this. These are the proposed set of changes:

- ermrestjs should add this class automatically while it's rendering the markdown values by comparing the giv

[2019-09-20 01:34] RFSH commented on #1851
We should also add an extra class (`external-link-icon`), that will show an icon after the links. This should be added automatically all the time (doesn't have to honor the chaise-config that turns off the `external-link` addition). It should honor the chaise-config that defined aliases for origins.

While discussing this we realized that for external download links we might want to change the ico

[2019-09-20 17:36] jrchudy commented on #1822
Closing this issue as not reproducible.

[2019-09-20 17:36] #1822 closed

[2019-09-20 18:37] jrchudy commented on #1836
This issue was related to the height of the graph being set to `150px` while the graph also had the property, `autosize: true`. Plotly takes both of these arguments as layout object values:
[code]

Removing the set height, and attaching a CSS property to the parent container of the graph resolved this problem. Autosize will try to resize the graph to fill its parent container. This issue will be r

[2019-09-20 18:38] jrchudy commented on #1851
This issue is related to #1040 .

[2019-09-20 18:42] jrchudy commented on #1816
This issue has been fixed. PR #1833 resolved this. Reassigning to @hongsudt .

[2019-09-20 18:42] #1846 closed

[2019-09-20 18:43] jrchudy commented on #1507
This has been done for `record` and `recordset` in PR #1847 .

`Recoredit` still pending...

[2019-09-20 19:47] ljpearlman opened #1852 "Null value handling in recordset "show details" popup"
This may be superseded by the ongoing mitigation process, but I sometimes use the "show details" popup to see counts of records that match facet values. It would be nice to see the count for the number of records where that facet value is null as well (I know there are other ways to get that count, but it would be nice to see it along with the individual value counts).

[2019-09-20 19:50] jrchudy commented on #1850
The search app folders and the make targets have been removed from the project. This will be merged with PR #1847 .

[2019-09-20 23:56] RFSH commented on #1791
With the current implementation this can happen only if you purposefully define a empty facet list, so you have to

[code]

1. Should we relax the syntax in this case? So you could just say “filter”: false or any other falsy value and it should be tread as empty array?

2. The title says “collapse”, which means that we still should offer the “show filter panel”. But if users open the filter panel

[2019-09-21 00:22] robes opened #1853 "Punctuation enhancement for formatted display of data citations"
I think we are following this https://www.nature.com/documents/nr-data-availability-statements-data-citations.pdf

And it looks to me like you've got it right.

<img width="609" alt="Screen Shot 2019-09-20 at 5 16 54 PM" src="https://user-images.githubusercontent.com/4202842/65364981-80113980-dbca-11e9-8aa9-2a1f7353dd83.png">

Minor minor nit here. I think that (conditionally) adding a period afte

[2019-09-21 01:12] RFSH commented on #1791
- We are going to change the "filter" annotation to allow `"filter": null`(or false) which will result in an empty facet list.

- We are not going to add new attribute to table-display annotation. If we want to hide the facet panel, we should use visible-columns to define an empty facet list.

- For now we decided to hide the facet panel completely in this case. We can later change this to collaps

[2019-09-24 23:22] RFSH commented on #1791
We decided to not add the special case for suppressing the facet list and instead you have to be explicit with the `"filter": {"and": []}` syntax.

[2019-09-28 00:48] hongsudt commented on #1853
@robes We are not adding that to all the fields though right? Just the author and title?
I looked into the punctuation in the past and didn't find it being used especially when there is no title. The example in the URL seems to apply the punctuation at the title field.

 Hao, Z., AghaKouchak, A., Nakhjiri, N. & Farahmand, A. Global Integrated Drought Monitoring and Prediction System (GIDMaPS) Data

[2019-10-01 00:03] ljpearlman opened #1854 "Safari-specific recordedit issues"
1. Try this in Safari:

1. Go to https://www.gudmap.org/chaise/record/#2/Gene_Expression:Specimen/RID=16-CT58
2. Log in.
3. Scroll down to "Specimen Expression" and click "Add"
4. Try to select an "Expression scored" value. At this point, you should see (and would see if you did this in Chrome) a popup with the first 24 of 6000+ options. Instead, in Safari, you'll get the error "400 Bad Request Th

[2019-10-01 00:36] RFSH commented on #1854
It seems like the `domain_filter_pattern` that is defined for one of the [`Gene_Expression:Specimen_Expression`](https://www.gudmap.org/ermrest/catalog/2/schema/Gene_Expression/table/Specimen_Expression/foreignkey) foreign keys is not properly url-encoded.

I updated the annotation document regarding `domain_filter_pattern`.  the pattern that you define will be appended directly to the link withou

[2019-10-01 18:07] RFSH opened #1855 "Dismissible Errors for popups"
By default we should allow errors that we are throwing for popup requests to be dismissible.

[2019-10-02 21:02] robes opened #1856 "chaise may not work in an iframe"
It gets a terminal error on `localStorage is null`.

<img width="1717" alt="Screen Shot 2019-10-02 at 1 58 31 PM" src="https://user-images.githubusercontent.com/4202842/66081653-40791480-e51d-11e9-899b-e9f4efb5cb4a.png">

[2019-10-03 16:47] RFSH commented on #1856
@robes
I created this very simple page to test accessing iframe from other domains:

https://dev.isrd.isi.edu/~ashafaei/iframe.html

As you can see it shows the iframe from dev.facebase, facebase, dev.rbk, and rbk without throwing any errors.

Based on the error it seems like the `window.localStorage` API is not available in your case. I can think of the following as cause of this error:

- The st

[2019-10-03 18:08] robes commented on #1856
Did you test with FF? I opened your page in FF and all iframes show the same `localStorage is null` error and if I open in Safar they all display correctly. I can’t think of any restrictive settings in my FF, but it does wipe its history clear on each restart of FF. That’s all.

[2019-10-03 18:20] robes commented on #1856
OK. Here we go. I did have these (see attached screen shot, hopefully) Custom Content Blocking rules et. Maybe it was the blocking of “Cookies from unvisited websites”? I guess you could just close this. Not sure what we can or should do about it.

Thanks for setting up the test page!!

[cid:image001.png@01D579DC.8096A520]

[2019-10-03 18:23] karlcz commented on #1856
I can reproduce on Firefox by setting a custom block policy to block "all third-party cookies" (a setting advertised right in Firefox as likely to break sites).

With the default "standard" blocking level, I do not see errors.

[2019-10-04 01:23] RFSH commented on #1856
The only feature that currently relies on `localStorage` is the warning message that we show to inform users that their session has been expired. So chaise can function without `localStorage`. Therefore I added a check to storage service to make sure `localStorage` API is available before using it. Chaise will not throw terminal error anymore and instead will print the following in the console

[c

[2019-10-04 01:23] robes commented on #1853
Right, just author and title. We have used this annotation in facebase and put punctuation into the author and title fields. That might be good enough for the time being. One thought is whether this is an issue unique to the citation formatting of whether this is something that could be more general and possibly solved at the handlebars level. Its really a conditional formatting based on the conte

[2019-10-04 20:46] robes commented on #1856
Yes, it worked for me. I tested with Firefox in Strict mode. Thanks

[2019-10-05 00:04] #1856 closed

[2019-10-08 15:55] robes opened #1857 "ToC mismatch"
The ToC (ie "Contents" right panel) displays a listing of related tables. What it should do is display a listing based on the visible foreign keys. The problem with the current display choice is that many of the related tables (on a deployment like facebase) are displayed "inline" in visible columns as pseudo-column and therefore should just be considered part of the "Main" category in the ToC.

[2019-10-08 16:41] RFSH opened #1858 "Descriptive information for related tables"
Currently the only way to provide more information to users about the related entities is by adding a `comment` which will be displayed as tooltip. But tooltips might not be very informative and are also not very visible to users.

We should add a new attribute that will be displayed above the related table tables in each related table section.

For annotation, we can reuse the `table-display` ann

[2019-10-08 18:26] RFSH opened #1859 "Multiple Records Found error unexpected "ok" behavior"
It says "Click OK to show all the matched records", but it goes to an unfiltered recordset page instead.

[2019-10-18 23:13] RFSH commented on #1849
This has been fixed as part of #1847 PR.

[2019-10-18 23:39] RFSH commented on #1851
This has been done as part of #1847. The following is how we ended up implementing it:

- We're using the a chaise-config property called `internalHosts` to figure out if a link is external or not. We're always going to include the current host in that array (even if you don't include it).
- ermrestjs will automatically add `external-link-icon` to all the external link.
- The `disableExternalLinkM

[2019-10-18 23:42] RFSH commented on #1507
This has been done in #1847 for all three apps. We changed the watcher to watch for the changes in the height of the fixed area in the page. In case of record, recordset, and recordedit the fixed area includes the `navbar` and `.top-panel`. In case of all the recordset popups the fixed area is the modal header and `.top-panel` of the recordset that is displayed in the modal.

Although this method

[2019-10-18 23:44] RFSH commented on #1040
I am going to close this issue. For further discussion please refer to the #1851 issue.

[2019-10-18 23:44] #1040 closed

[2019-10-18 23:45] RFSH commented on #1680
This has been done as part of #1847.

[2019-10-19 00:26] RFSH commented on #1858
This is a duplicate of #1842

[2019-10-19 00:26] #1858 closed

[2019-10-19 00:30] RFSH commented on #1841
A draft version of this has been created as part of #1847 but we need to update it based on the recent changes.

[2019-10-21 17:10] #1680 closed

[2019-10-21 17:13] jrchudy commented on #1815
This functionality was changed in the UX mitigation PR, #1847 , closing this issue as fixed.

[2019-10-21 17:13] #1815 closed

[2019-10-21 17:15] #1836 closed

[2019-10-21 17:16] #1850 closed

[2019-10-21 17:16] #1835 closed

[2019-10-21 17:16] jrchudy commented on #1835
This has been fixed as part of PR #1847 .

[2019-10-21 17:17] #1777 closed

[2019-10-21 18:00] #1788 closed

[2019-10-21 18:00] #1798 closed

[2019-10-21 19:02] #1849 closed

[2019-10-21 19:03] #1813 closed

[2019-10-21 19:03] #1711 closed

[2019-10-21 19:04] #1740 closed

[2019-10-21 19:17] #1762 closed

[2019-10-21 19:18] #1790 closed

[2019-10-21 19:19] #1818 closed

[2019-10-21 19:20] #1816 closed

[2019-10-21 19:20] #1461 closed

[2019-10-21 19:21] #1823 closed

[2019-10-21 19:24] #1755 closed

[2019-10-21 19:26] RFSH commented on #1851
We've merged the PR that does these changes to master. Assigning to @hongsudt for verification.

[2019-10-24 01:59] ljpearlman opened #1862 "Edit buttons are active in generated pure/binary association tables in the record related-tables section"
In RBK/GUDMAP, we have a pure and binary association table called Gene_Expression:Specimen_Gene_Association that's annotated with

[code]

The recordset page for this table (https://dev.gudmap.org/chaise/recordset/#2/Gene_Expression:Specimen_Gene_Association) correctly omits the edit button, but if you go to a Gene page (e.g., https://dev.gudmap.org/id/Q-4HFY) and scroll to the Specimens section,

[2019-10-24 02:43] ljpearlman opened #1863 "Suggestion: On the record page, rethink the edit button for pure/binary association tables in the related-records section"
Related to #1862: Currently, if you have Table_A and Table_B linked by a pure/binary association table, then Table_A's record page will have a section that is:

- labelled Table_B
- with rows from Table_B
- and `view` buttons that take you to Table_B rows
- and `edit` buttons that take you to the association table
- and `unlink` buttons that remove the association

I think the fact that the `edit`

[2019-10-28 19:03] RFSH opened #1865 "show_nulls true is not honored in record page"
By default record page is hiding all the columns with `null` value. Setting the `show_nulls` to `true` for any of the columns is supposed to override this heuristics and instead show the null value.

ermrestjs will send `null` if we're not supposed to show the null value (otherwise it will return empty string). And in chaise we used to check for `null` and if the value wasn't `null` we would show

[2019-10-29 20:49] hongsudt opened #1867 "viewer/osd: Include annotation in the screenshot feature"
Currently, the svg content is excluded from the canvas.

[2019-10-30 22:30] hongsudt commented on #1840
There is now a workaround from Aidan to generate svg with proper scene coordinates. We still cannot assume that the coordinates across multiple scenes are the same. However, we can assume that their scene reference coordinate is in the upper left and the dimension (x and  y) are the same with what generated by bioformat (which is the tiff we use). This allow us to ignore the export coordinate and

[2019-11-01 02:57] jrchudy opened #1869 "Recordset action column, icon size and padding/spacing"
- [x] change the color of the action icons to the link blue color
- [x] increase the `font-size` of the action buttons
- [x] remove the defined `height` for their parent container (this is forcing the extra padding)

Row padding for text in each column is affected by the action button container's height
  - [x] The padding for the TDs after the action column is greater on the bottom
  - [x] align

[2019-11-07 23:54] karlcz opened #1872 "Recordedit using incorrect validation for float4 column type"
I have float4 columns and recordedit is complaining about values like `123.5`, showing a red box around the input field and tooltip like `Please select a valid value. The two nearest valid values are 123 and 124.`

[2019-11-08 02:34] jrchudy commented on #1872
I can only reproduce this "validation" state when typing a float into an integer input field. I looked through each HTML document to verify that the integer validator is only on integer (`int2`, `int4`, and `int8`) inputs. Anything marked as `float4`, `float8`, and `numeric` are treated as decimal inputs with a float validator.

Could you point to the recordedit page that you were having this issu

[2019-11-08 03:05] karlcz commented on #1872
On synapse-dev, go to anything in Zebrafish:Image%20Region table where
the status column says "processed" so there are fractional values in a
bunch of columns near the bottom with "Min" or "Max" in their column
names.

When I open up recordedit on any of these, I see many red-outlined
fields.

[2019-11-08 19:19] vipul-21 opened #1873 "Viewer app adjustments"
Based on the work done in the openseadragon-viewer, there are new things implemented on the viewer app in chaise.
- [x] Navbar should be configurable by the url parameter, `hideNavbar` like we have in treeview
- [x] Merging of the branch `annotation-list` with the master to follow the new styling guides of the chaise app.
- [x] Remove hardcoded hostname for svg and openseadragon-viewer app. It sho

[2019-11-11 20:54] jrchudy commented on #1872
I can reproduce this bug on FF on MacOS. It looks like FF is showing an HTML validation error by highlighting the field and popping up the "different style tooltip" with the validation error message from above (`Please select a valid value. The two nearest valid values are 123 and 124.`)

I can actually see this same validation error on chrome, but there is no "highlight" around the box that notif

[2019-11-14 01:24] jrchudy commented on #1872
The HTML validation part of this issue has been fixed. Float inputs have `step="any"` attached to them. Fixed in [this commit](https://github.com/informatics-isi-edu/chaise/commit/d5b5ec3613aeef9ec90c4addbf389761d3e7b49b).

[2019-11-18 20:42] jrchudy commented on #1872
Further changes have been merged into master to improve the validation functionality of float inputs and integer inputs. We were relying on a combination of HTML validators and angularJS validators. This caused some bugs when the HTML validators invalidated the values which were then not passed to the angular validators to trigger the error message conditionals.

Changes were made to both float an

[2019-11-22 22:02] jrchudy opened #1876 "Log hover events for dynamic tooltips"
Data modelers can define comments on tables and columns within those tables to be displayed as tooltips in chaise. Given this, we want to be able to track how often we have users that hover over:
 - columns with comments (recordset, record, and recordedit)
 - Facets with comments
 - table name with comments (record and recordedit)

The cases detailed above are the dynamic tooltips that can be set

[2019-11-27 11:02] ljpearlman opened #1877 "Versioned "share" links are broken"
Whenever I go to a record page on one of our dev servers and click on the "Versioned Link" from the "Share and Cite" button, I get this error:

[code]

I'm pretty sure this will happen on any record page, but an example of one I've tried is https://dev.facebase.org/id/1-4ZW6. I'm also pretty sure this was working two weeks ago.

Note: for this issue, it's probably better to test somewhere other th

[2019-11-27 19:04] RFSH commented on #1877
This is because of a recent change that I made in ermrestjs. This should be fixed with [the recent commit in ermrestjs](https://github.com/informatics-isi-edu/ermrestjs/commit/89faac5be403e1b673509de95f5f9b55dca50c8a). The following versioned link is working now:

https://dev.facebase.org/id/1-4ZW6@2SG-NYW0-BNPW

@ljpearlman Can you please verify it?

[2019-11-27 20:17] RFSH opened #1878 "Explore responsive iframe"
Currently, we have to define a constant width and height for `iframe`s. This is not ideal and in some cases, we might want the iframe to be responsive based on the user's browser width.

We should be able to do this, but it might require some extra changes in the way we're generating the `iframe` html. We should also make sure we're able to define min/max-width  and fully responsiveness might not

[2019-11-27 22:12] RFSH opened #1879 "Cleanup server logs"
We recently added client logs to log actions that are not generating any server-side requests. While doing so, we made some changes to the way we're naming the actions and we decided to add new attributes.

We should do the same exercise on the server-side as well and review what's been done, based on the new changes.

Some of the changes that came up and we should think about:

- [x] We might wan

[2019-11-27 23:18] ljpearlman commented on #1877
Looks good, thanks!

[2019-11-27 23:18] #1877 closed

[2019-12-03 20:29] jrchudy opened #1880 "Boolean dropdowns clipped"
When a boolean dropdown menu is the last input field in a recordedit form, the dropdown gets clipped by the table containing the form.

https://dev.rebuildingakidney.org/chaise/recordedit/#2/Common:Principal_Investigator/RID=W-Q5P6

[2019-12-03 20:33] jrchudy opened #1881 "Bulk edit for related tables"
Another button to edit the whole set of related (capped at 25) should be added to the table header for related tables in record app. Let's call it `bulk edit`.

[2019-12-04 21:20] jrchudy commented on #1880
Corresponding PR has been fixed. Assigning this issue to @ljpearlman to verify it is now fixed.

[2019-12-04 21:46] ljpearlman commented on #1880
Looks good.

[2019-12-04 21:46] #1880 closed

[2019-12-04 23:42] jrchudy commented on #1842
@RFSH  stated the following in a related issue:

I don't think this should be a new annotation but a modification to a previous one. We would want the attribute name to be more specific to what it's labeling, rather than just being "comment". Maybe something like `subheader-comment`?

[2019-12-04 23:53] #1768 closed

[2019-12-05 00:00] #1507 closed

[2019-12-05 00:05] #1391 closed

[2019-12-05 00:06] jrchudy commented on #1391
I can verify this seems to be working as expected for IE 11 on windows 10. We changed the way icons show for sorting when we merged the mitigation PR in mid October. Closing this issue.

[2019-12-05 00:09] jrchudy commented on #1841
The version created during mitigation ca be found here:
https://dev.rebuildingakidney.org/chaise/docs/style-guide/style-guide.html

This might need to be updated and modified further. Closing this issue for now.

[2019-12-05 00:09] #1841 closed

[2019-12-05 00:59] jrchudy commented on #1839
I updated `docs/user-docs/custom-css.md` with information that was noted above about `max-width` as well as extra information for `min-width`.

[2019-12-05 02:46] RFSH commented on #1879
We have a long discussion about the changes that we should make to capture richer information about the steps user take without the need to look at multiple requests. This is the proposed solution:

For each server requests, alongside `pid`, `cid`, `wid`, `action`, and `catalog`, we should have

- `schema_table`: To capture the projected (leaf) table in the request.
- `stack`: An array of objects

[2019-12-10 01:01] jrchudy commented on #1842
I think we want this to be a markdown pattern (`comment_markdown_pattern`) because it could be defined to use content for the table rather than just a static string (maybe there isn't a use case for that though).

1. As an attribute for `table-display` annotation:
[code]
    - could enforce that `comment_markdown_pattern` only shows in this context and subcontexts

2. As an attribute for source sy

[2019-12-10 21:16] RFSH commented on #1879
## Action list
As part of this issue, we also reviewed the `action`s that we've defined for server and client requests. The following is how all the defined `action` should look like:

[code]

  Where
  - `app-mode` is used when for apps that have different modes. Currently, this will only be used in record-edit.
  - `stack-path` summarizes the user path (stack).
  - `client-path` is optional and

[2019-12-12 17:32] RFSH commented on #1842
@jrchudy I recently added `comment` to [display annotation](https://github.com/informatics-isi-edu/ermrestjs/blob/master/docs/user-docs/annotation.md#tag-2015-display). I think this annotation would be a better place for this new attribute than `table-display`. `table-display` is mainly used for data-level annotations.

When we were discussing this, I remember we said we want the same kind of capa

[2019-12-12 17:48] RFSH commented on #1842
By the way, I noticed that we're not showing any tooltip for related tables. Shouldn't we add tooltip to related tables? or are we going to add only this new "descriptive information"?

[2019-12-12 21:00] jrchudy commented on #1541
PR #1883 was merged with changes that stabilized this feature but hasn't completely fixed it for all cases. Previously, we were relying on waiting for the content to change in the row to recalculate if the height changed. This calculation could occur after the content changes but before the DOM renders that changed content. This would cause the text to not truncate sometimes.

Now this checking is

[2019-12-17 02:27] karlcz opened #1885 "Browser location sort-key changes without select rights"
During some testing interactions with alternate login accounts, we noticed an unfortunate UX behavior.

If a user is prompted to login and does so with an unprivileged account, they might see a situation where the ermrest model is enumerated but they have no "select" rights. During introspection, uniqueness constraints over non-selectable columns are ignored,  and so it looks like the the table ha

[2019-12-17 22:50] jrchudy opened #1887 "Support ACLs in `navbarMenu` chaise config"
We want to be able to control which links show up in the navbar dropdown lists based on ACLs so logged in users, less privileged users, and logged out users can potentially see different dropdown menu lists of links to navigate to.

A proposed solution for this is to extend the `navbarMenu` chaise config option to include another attribute as a sibling to `name` and `url`:
[code]

The 2 lists in `

[2019-12-19 21:54] karlcz commented on #1887
I will edit the issue to fix one syntax problem.  The "acls" value is the object containing the "show" and "enable" lists.  There is no extra list around this object.

Otherwise, I think we're on the same page, but I'll add that these ACLs should be located hierarchically, so if not found on the current navbar tree node, look up towards root to find an ACL by that name.  so a top-level ACL can set

[2020-01-13 19:28] jrchudy commented on #1887
@karlcz the changes for this issue have been merged into master. Reassigning to you for review.

[2020-01-16 21:53] hongsudt commented on #1881
I think this is the same as #1809 . @jrchudy if so, please close.

[2020-01-17 00:00] RFSH commented on #1879
The list of actions and discussions that we had about `stack` missed some sets of requests that chaise generates. In this comment, I will try to summarize them.

1. Viewer app:
I'm not really familiar with the app and when I defined actions for the viewer app requests, I just used what I could gather from the request itself and not what the purpose of the request was. These are the requests:

- Ma

[2020-01-17 21:05] jrchudy commented on #1881
Yeaup, this is a duplicate. Closing this issue.

[2020-01-17 21:05] #1881 closed

[2020-01-18 01:39] jrchudy commented on #1541
A continuing issue we are seeing with truncation is with the image content loading after the rest of the content and not having the truncation logic trigger properly after that content loads. The current implementation has the resize sensor attached to the `<tr>` element. During testing, I tried attaching a resize sensor to each `<td>` element instead, but having this on every cell started to get

[2020-01-21 18:25] RFSH commented on #1541
I just want to mention that if we're going to add this attribute to source syntax, it should only be added as part of `visible-columns` and not in the `source-definitions`.  Unless stated by `waitfor`, during the generation of the column's value, ermrestjs doesn't know which `source-definitions` are used. So we should be more specific and define this attribute in place.

For example, assume that t

[2020-01-21 19:08] #1872 closed

[2020-01-21 19:09] karlcz commented on #1887
I can confirm it is working on my dev site. Thanks.

[2020-01-21 19:09] #1887 closed

[2020-01-21 20:52] jrchudy commented on #1535
Related to issues #1060  and #1591 .

[2020-01-21 23:53] jrchudy commented on #1865
When showing inline related tables that have no related entities, we are currently showing the text _`None`_ . This text should be consistent with what we decide to show for columns that are marked with `"show_nulls": true`.

[2020-01-22 21:54] RFSH commented on #1862
In the case of pure and binary related tables, the "edit" button opens a recordedit page of the association table, which is different from the normal related tables that redirect users to the related table itself. And now this bug is caused because we're checking the permissions on the related table and not the association table. I'm going to fix this as part of the #1889.

[2020-01-22 23:51] jrchudy commented on #1854
[This section](https://github.com/informatics-isi-edu/ermrestjs/blob/master/docs/user-docs/annotation.md#tag-2016-foreign-key) of `annotation.md` has been updated with further information describing what the expected value of the attribute should be.

[2020-01-22 23:53] jrchudy commented on #1854
Looks like changes have been made to the annotation to properly URL encode the value. Assigning to @hongsudt  to verify the deocumentation makes sense and to close this issue.

[2020-01-23 00:15] jrchudy commented on #1839
Reopening and assigning this issue to @hongsudt to verify if these "notes" help to explain the min/max width issues she has been seeing.

[2020-01-23 01:32] ljpearlman commented on #1862
This fix will also resolve #1863

[2020-01-24 00:25] RFSH opened #1892 "Issues regarding node upgrade"
Recently some deployments have started using node v12, which caused some issues with the `node-sass` module that we're using. This raises the concern that we don't have an automatic way to rebuild the node modules. It shouldn't be part of our `all` or `install` target since it can be expensive, and in most cases, it's redundant.

Instead, we should either create a new `build` (or any other target)

[2020-01-27 21:56] jrchudy commented on #1865
In [annotation.md](https://github.com/informatics-isi-edu/ermrestjs/blob/master/docs/user-docs/annotation.md#tag-2015-display), we have defined the value for `show_null` as the following:

Issue #519 was created to track this feature when we designed it in 2016. This was originally designed to support simple column definitions and we later expanded the support to aggregates when we introduced pseu

[2020-01-28 01:52] vipul-21 commented on #1867
This feature is provided in this [PR](https://github.com/informatics-isi-edu/openseadragon-viewer/pull/9).

**Current Version:**
 In this the openseadragon viewer is used to the get the scenes as canvas. Water mark and scale is added to that canvas.
Problem with this is that we want the svg overlay to be in the screenshot. For that we need to update the canvas given by openseadragon and map the sv

[2020-01-28 22:23] jrchudy opened #1893 "show_null behavior in record"
This issue is an extension of the discussion we had in standup and the subsequent comments I added to issue #1865.

There are 4 states for the show_null attribute of the display annotation. No annotation attribute and the following:

The following is pertaining to the case when the `show_null` attribute is not present. What should be displayed by default when the field is part of the visible colum

[2020-01-29 00:33] RFSH opened #1894 "Fix behavior of submit button in facet picker"
Currently, the submit button is disabled when there aren't any rows selected. This makes sense when the user opens a facet picker that doesn't have any rows preselected. But if there are some rows already selected, users might want to clear all of them and then should be able to submit.

So maybe we should do the disable check by seeing if the state changed or not? But that might be confusing sinc

[2020-01-29 23:57] jrchudy commented on #266
Closing and moving this to wishlist.

[2020-01-29 23:57] #266 closed

[2020-01-30 00:17] jrchudy commented on #380
Closing and moving this issue to wishlist.

[2020-01-30 00:17] #380 closed

[2020-01-30 00:20] jrchudy commented on #670
Leaving this issue open but moving this to backlog as it's a feature that has been brought up off and on since this issue was created. I don't think it's "blocked" anymore, this requires discussion on the details and what "canceling" means since users can reach recordedit app from both record and recordset a variety of different ways.

[2020-01-30 01:00] jrchudy commented on #833
Closing this issue. Some work was done to create a directive that takes an input type and generates the appropriate input for that type making this issue obsolete.

[2020-01-30 01:00] #833 closed

[2020-01-30 01:02] jrchudy commented on #1059
Moving this from blocked to backlog. @hongsudt maybe this is something we can look into adding better support for?

[2020-01-30 01:19] jrchudy commented on #1109
A similar issue (#670) is open for `recordedit`. Both of these issues can be returned to now that the login dialog opens as a popup window so it doesn't flood the browser history. As stated in the other issue, There needs to be some discussion around what the expectation for where the back button should go.

Record can be opened from all 3 apps, "view" action column button in both recordset and re

[2020-01-30 01:23] jrchudy commented on #1120
Issue #380  is related to this issue. That issue is specific to `recordedit` app but covers the same idea of showing more descriptive information.

More related work is being discussed in issue #1842 to add an annotation that provides more descriptive information just for record app related tables.

[2020-01-30 01:39] jrchudy commented on #1145
Added this to the wishlist wiki page, closing this issue.

[2020-01-30 01:39] #1145 closed

[2020-01-30 01:41] jrchudy commented on #1186
Moving this issue to wishlist and closing for now until we have a need to add support for this.

[2020-01-30 01:41] #1186 closed

[2020-01-30 01:55] jrchudy commented on #1213
File/asset inputs in `recordedit` have been improved to include a more informative tooltip that includes extra information about the asset.

Closing this issue.

[2020-01-30 01:55] #1213 closed

[2020-01-30 02:02] jrchudy commented on #1286
Create on `recordset` now opens in a new tab instead. The rest of the functionality still needs to be implemented similar to what has been done for record app with updating the displayed data.

[2020-01-30 02:06] jrchudy commented on #1292
Based on the way our flow control for recordset works, this can't be prevented. When a facet is opened, a request is added to the queue of requests to send out. If this request takes time to return or is behind other requests in the queue, this will continue to happen.

We added an enhancement since this issue was created to add a spinner to the header of the facet that communicates work is happen

[2020-01-30 02:06] #1292 closed

[2020-01-30 02:09] jrchudy commented on #1356
Since we haven't had any discussion around this issue in here, in our stand up meetings or in slack, I'm going to close this issue and add it to the wishlist.

[2020-01-30 02:09] #1356 closed

[2020-01-30 02:19] jrchudy commented on #1378
It's been some time since this issue was opened. We have made some significant changes to record and recordset to introduce flow control so the app will bootstrap and load the main content faster.

Closing this issue.

[2020-01-30 02:19] #1378 closed

[2020-01-30 02:20] jrchudy commented on #1570
Closing this issue as well after closing #1378.

It's been quite some time since this was opened and multiple changes have been made to recordset since then to improve performance and load content in a more logical order so users can interact with the page sooner.

[2020-01-30 02:20] #1570 closed

[2020-01-30 02:23] jrchudy commented on #1444
Closing this issue and moving it to the wishlist.

[2020-01-30 02:23] #1444 closed

[2020-02-04 00:54] jrchudy commented on #1842
From further discussions we have had, the change is going to be made to the `tag:misd.isi.edu,2015:display` annotation. The changes to the annotation will only be supported for columns and foreign key relationships. The intention is to add extra information that describes a column's purpose further with an inline comment that users will see.

This could be used for any column, but first we want to

[2020-02-04 22:41] RFSH opened #1895 "Use the correct http service in chaise"
We should not use `ConfigUtils.getContextJSON().server` directly and instead we should use the appropriate `ConfigUtils.getHTTPService()` function for getting the http service.

In the case of static pages, if default config is undefined, we're not going to attach `server` to the context object and `getHTTPService` is handling this case.

This was causing terminal errors when navbar was used on a

[2020-02-06 22:41] RFSH opened #1897 "Fix login process"
While I was adding more log information to our `authen.js` calls, I found some issues in how we're handing login.

Based on my understanding we used to have two methods of logging in. One was through a modal (`loginInAModal`) and the other one was using window popup (`loginInAPopUp`). Both of these functions are making `preauthn` requests at first to get the login information. The only difference

[2020-02-11 22:48] jrchudy opened #1899 "Text truncated in FK input"
In recordedit, when a FK value is selected and the value is longer than the input box, the content flows down to the next line outside of the input box.

See image below:
![image](https://user-images.githubusercontent.com/2932600/74286852-84ef9a80-4cdd-11ea-8d73-4d594c26534b.png)

[2020-02-11 22:50] jrchudy opened #1900 "set all button truncated"
In recordedit, when a column name is very long, the "Set All" button is truncated by the next row (table column to fill values for).

See image below:
![image](https://user-images.githubusercontent.com/2932600/74286965-c2542800-4cdd-11ea-82ed-3ac2f08d4086.png)

[2020-02-11 23:44] RFSH commented on #1603
I am going to close this. We modified the UX of p&b add popup during the mitigation and I don't think the remaining tasks that are described here are relevant anymore.

[2020-02-11 23:44] #1603 closed

[2020-02-12 22:15] RFSH commented on #1895
This has been done as part of log changes PR.

[2020-02-12 22:15] #1895 closed

[2020-02-12 22:18] RFSH commented on #1862
I am going to close this issue and we should continue the discussion on #1863.

[2020-02-12 22:18] #1862 closed

[2020-02-12 22:21] RFSH commented on #1879
The described changes in this issue have been merged with master.

@hongsudt Can you please review the documentation that I added for the new way of logging in chaise.

https://github.com/informatics-isi-edu/chaise/blob/master/docs/user-docs/logging.md

[2020-02-12 23:18] RFSH commented on #1863
@ljpearlman We changed the behavior of the edit button. It should now send users to the same row that the view button does. Can you please verify the change?

[2020-02-12 23:31] jrchudy opened #1901 "Improvements to tooltips and UX for Record"
- [x] Rework language on Explore button
  - So one question is that the button says "Explore" and the tooltip says "View"
  - ~~Would the tooltip "Explore more related Subject in Datasets" make more sense.  I made this plural.....~~
  - ~~or put it in quotes so its clear:  Explore related "Subject in Dataset" items~~
  - ~~Explore more related _Subject_ in _Dataset_~~
  - Explore more Subject reco

[2020-02-18 19:08] RFSH commented on #1857
This has been addressed by the mitigation changes. Now inline related entities are listed under the "Summary" section.

[2020-02-18 19:08] #1857 closed

[2020-02-18 19:19] RFSH commented on #197
I am going to close this issue. It's very old and I don't think it's applicable to the current chaise. Besides, the "new" record and recordset apps are designed based on the previous comment on this issue.

[2020-02-18 19:19] #197 closed

[2020-02-18 19:35] RFSH commented on #1566
With the recent changes to recordset app, its controller doesn't have that much logic. We could easily make this change anytime. I am going to close this issue and instead add a TODO to the code.

[2020-02-18 19:35] #1566 closed

[2020-02-18 23:27] hongsudt commented on #1767
@jrchudy we should move this to pending or close the issue..

[2020-02-18 23:32] RFSH commented on #1885
`"enumerate": true, "select": false` is [one of the known limitations of ACL support in ermrestjs/chaise](https://github.com/informatics-isi-edu/ermrestjs/issues/515). If this is a case that you cannot avoid, we should start supporting this case as well.

[2020-02-19 01:25] jrchudy commented on #1859
This should go to recordset with the same set of filtered results.

[2020-02-19 01:34] jrchudy commented on #1845
@ljpearlman  @robes @karlcz @carlkesselman  do we need to continue to support this chaise config property?

This is what we have as the description of the `profileURL` property:

[2020-02-19 02:43] jrchudy opened #1902 "Globus group links go to a dead page"
The links in the profile modal for "groups" go to a page that is no longer supported. We need to change the url from `globus.org/app/groups/...` to `app.globus.org/groups/`.
offending line of code:
https://github.com/informatics-isi-edu/chaise/blob/master/common/templates/profile.modal.html#L27

Ultimately chaise should not be generating this url, this should be coming from an API from globus. Pos

[2020-02-19 02:45] jrchudy opened #1903 "Custom page limit display"
When a page limit is defined that is not default (5, 10, 25, 75, 100, 200), it currently shows at the top of the list with the text `custom`. For example `27 Custom`.

The custom text should be removed because it may be more confusing than useful. The numerical value should also be placed in the list to preserve numerical ordering.

[2020-02-19 16:58] robes commented on #1845
I’m not using it anywhere to my knowledge. -- rob

From: Josh Chudy <notifications@github.com>
Reply-To: informatics-isi-edu/chaise <reply@reply.github.com>
Date: Tuesday, February 18, 2020 at 5:34 PM
To: informatics-isi-edu/chaise <chaise@noreply.github.com>
Cc: Robert Schuler <schuler@isi.edu>, Mention <mention@noreply.github.com>
Subject: Re: [informatics-isi-edu/chaise] clean up profileURL cha

[2020-02-19 17:00] robes opened #1904 "Profile modal does not scroll"
So when you have a long list of groups that you belong to it does this.

<img width="1693" alt="Screen Shot 2020-02-19 at 8 58 03 AM" src="https://user-images.githubusercontent.com/4202842/74855887-20909480-52f6-11ea-86df-3e8a71840c33.png">

[2020-02-19 18:31] #1767 closed

[2020-02-20 23:09] #1541 closed

[2020-02-21 19:46] jrchudy commented on #1806
After changing this option, I learned that the element selectors we use in the tests start to fail because certain characters are not allowed in selectors. `makeSafeIdAttr` needs to be modified as well to make id attributes (and class names) html safe AND selector safe.

[2020-02-21 19:52] jrchudy commented on #1806
From [w3 schools for class names](https://www.w3schools.com/TAGs/att_global_class.asp):
[code]

From [w3 schools for id attributes](https://www.w3schools.com/TAGs/att_global_class.asp):
[code]

For the id attribute, while this is true, this isn't safe for selectors. Both class and ID will need to follow the naming rules for class names.

[2020-02-22 01:02] #1901 closed

[2020-02-25 19:37] hongsudt commented on #1854
The document looks good to me. I am closing the issue.

[2020-02-25 19:37] #1854 closed

[2020-02-25 19:39] hongsudt commented on #1843
@RFSH since we went over your document structure, do we still need to keep this issue open?

[2020-02-25 19:40] RFSH commented on #1843
No, we don't. I am going to close the issues related to log changes.

[2020-02-25 19:40] #1843 closed

[2020-02-25 19:42] hongsudt commented on #1839
@jrchudy If the min-width set is too small for the content, it is pretty much get ignored, correct? Whatever width that will fit the content will be used instead?

[2020-02-25 19:43] RFSH commented on #1879
@hongsudt and I reviewed the logging document that I had and she asked me to add more information to "Truncation" and "Stack structure" sections. So [I added more details](https://github.com/informatics-isi-edu/chaise/commit/d7831c9f4915ac008d6d9f11cbb3682043ca0e5a).

I am going to close this issue. We should create new issues if we found bugs/issues with the new logging implementation.

[2020-02-25 19:43] #1879 closed

[2020-02-25 19:45] hongsudt commented on #1851
Confirmed the feature on this page: https://www.gudmap.org/chaise/record/#2/Common:Gene/RID=Q-3KXE

[2020-02-25 19:45] #1851 closed

[2020-02-25 19:58] jrchudy commented on #1839
Yes that's correct. Min-width will be ignored if the content is longer than the min-width.

[2020-02-25 20:00] #1212 closed

[2020-02-25 20:01] hongsudt commented on #1458
@RFSH does this annotation get inherit from the schema level?

[2020-02-25 20:07] #1229 closed

[2020-02-25 20:13] #1290 closed

[2020-02-25 20:15] jrchudy commented on #1257
Closing this epic since we have completed the work for this. One remaining issue that doesn't need to be part of this epic.

[2020-02-25 20:15] #1257 closed

[2020-02-25 20:19] #1361 closed

[2020-02-25 20:22] jrchudy commented on #1361
Since changing to SASS for the chaise styles, only 1 CSS file is being downloaded for all chaise apps.

[2020-02-25 20:23] RFSH commented on #1458
@hongsudt The current `page_size` is part of table-display annotation (which is table level). So no.

[2020-02-25 20:38] jrchudy commented on #1494
Regarding tagging deployment files with versions, this has been done for most of the chaise assets excluding the vendor files.

[2020-02-25 20:44] #1504 closed

[2020-02-25 20:46] jrchudy commented on #1520
Since the redesign of the UI last fall, this issue doesn't seem relevant anymore.

Can you look at this @hongsudt  and see if you have the same problem still?

[2020-02-25 20:52] #1558 closed

[2020-02-25 21:45] jrchudy commented on #1859
Changes for this have been merged into master.

[2020-02-25 21:45] #1859 closed

[2020-02-25 22:55] hongsudt commented on #1795
@svoinea The new UI now makes the + button explicit.. This should help address this problem. I am going to close this issue.. If this is still an issue in pdb, please reopen.

[2020-02-25 22:55] #1795 closed

[2020-02-25 23:28] jrchudy commented on #1848
This has been done for CSS, JS, and html templates.

This may still need to be done for vendor assets.

[2020-02-25 23:29] hongsudt opened #1907 "megamenu support"
Megamenu support for chaise navbar is intended to extend the current navbar dropdown implementation to be more similar to recent web page styles. One example can be found at https://viterbischool.usc.edu/. When you hover over the "About" or "Academics" navbar option, a megamenu shows under the navbar with all the options and suboptions shown to the user.

In our case, we want this to be able to su

[2020-02-26 02:01] jrchudy commented on #1902
For the globus IDs that pertain to your own identity, I think we want to ignore the `ID` and use the following link instead:
https://app.globus.org/account/identities

[2020-02-26 21:02] RFSH commented on #1892
After creating this Issue @robes  pointed out that we should use `make distclean`  instead of `make clean` if we want to completely start from a clean chaise build.

@karlcz @ljpearlman @robes @svoinea @bugacov
So in the recipes used for rebuilding the vm, you should use `make distclean` before doing `make install` in chaise. This will ensure that you'll get the latest node dependencies appropriat

[2020-02-27 20:37] jrchudy opened #1909 "navbar: add page-name to navbar directive"
To allow for further customization of logging for navbar links on static pages, we should extend the navbar directive to take in a "page name" that will be used as part of the `pcid` string.

Currently the `pcid` is being set in `navbar.js` and appended to the links that are in the navbar.

[2020-02-27 22:15] jrchudy commented on #1899
This issue has been fixed by allowing the FK input box to grow if the selected value spans multiple lines.

[2020-02-27 22:15] #1899 closed

[2020-02-27 22:50] RFSH opened #1910 "Logging in viewer app"
We're currently working on adding new features to viewer app. In the first phase, we're adding modal pickers to viewer app so that users can edit the existing annotations or create new ones. We're using the same modal picker that we have in other parts of chaise in viewer app. We should make sure we're logging these new reqeuest correctly and consistently.

I created this issue as a reminder for m

[2020-02-28 00:06] #1827 closed

[2020-02-28 00:06] #1904 closed

[2020-02-28 02:05] RFSH commented on #1842
Based on the discussion that @hongsudt  and I had, we decided that we should show tooltips for related entities. This requires both ermrestjs and chaise changes since we might want to change where this `comment` comes from. Currently, it's going to return the `comment` defined on the leaf table. But it should at least use the `comment` defined in the source-definition (and maybe the foreign key co

[2020-03-03 03:36] karlcz opened #1914 "Multi-edit with implicit schema fails during submit"
If you go to a recordedit URL without an explicit schema name, the app mostly functions except for multi-record edit submission.

1. Go to a table without schema name, e.g. https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/AuthorList_Author
2. Select bulk edit button
3. Make some edits
4. Hit submit

An error banner is displayed  `Schema null does not exist`.  Doing the same flow for a single-r

[2020-03-03 19:04] RFSH commented on #1914
The `Reference.update` API in ermrestjs was using the wrong `Reference.location.schemaName` value which might be null. I [changed it to use the correct `Reference.table.schema.name` instead](https://github.com/informatics-isi-edu/ermrestjs/commit/86215f3d77565f7705dc918285aa548f153cef35). The edit should now work properly. The other parts of ermrestjs are using the correct API, so there wasn't any

[2020-03-09 18:50] #1914 closed

[2020-03-09 21:47] jrchudy opened #1915 "Timeout with pure and binary add"
In record app, when a user goes to link more content via pure and binary add popup, if a user gets timed out the selections are lost.

The workflow:
The user will open the modal popup for add, make a few selections, then walk away from the machine and coming back to a timed out session. This can also occur from the user doing the same above, but then logging out in another tab. Upon clicking the "